
/*큰코 축소술*/
.color-reduction1{color:#fff;}
.color-reduction2{color:#5b4ae2;}

.reduction-box1{
	.content-section{text-align: left;}
	.content-section__txt1 + .content-section__txt1 {margin-top: 50px;}
	.content-section__txt-box{float: left;width: 51%;}
	.content-section__thumb{float: right;width: 49%; padding-left: 17px; margin-top: -85px; box-sizing:border-box;}
	.content-section__thumb img{width: 100%;}
	.reduction-effects{text-align: left;padding: 4% 7%}
	.reduction-effects__tit{font-weight: 500;}
	@media only screen and (max-width:$tablet-size){margin-top: 0px;
		.content-section__txt-box{float: none; width: 100%;}
		.content-section__thumb{float: none; width: 100%; padding: 0 30px; margin-top: 40px;}
	}
	@media only screen and (max-width:$mobile-size){padding: 0 5px;
		.content-section__thumb{padding: 0 17px; margin-top: 20px;}
		.content-section__txt1 + .content-section__txt1{margin-top: 20px;}
		.content-section__txt1 .type-bigger{ font-size: 1.6rem;}
		.reduction-effects{padding: 6% 7%}
	}
}
.reduction-box2{
	.reduction-effects{width: 100%; padding: 28px 9%; margin-top: 0; background-color: rgba(255,255,255,0.6); border-width:2px; text-align: left;}
	.reduction-effects__list{margin-top:-20px;}
	.reduction-effects__list:after{content: ''; width: 100%; display: inline-block;}
	.reduction-effects__numbering{background-color: #911d3d;}
	.reduction-effects__txt1{font-weight: 400;}
	.reduction-effects__item {margin-top: 20px;
	}
	@media only screen and (max-width:$minpc-size3){
		.reduction-effects{padding: 40px 13%;}
		.reduction-effects__list:after{display: none;}
		.reduction-effects__list{margin-top: -30px;}
		.reduction-effects__item {margin-top: 30px;}
	}
	@media only screen and (max-width:$mobile-size){ padding: 0 5px;
		.reduction-effects{padding: 8.5% 10%;}
		.reduction-effects__list{margin-top: -11px;}
		.reduction-effects__item {margin-top: 11px;}
	}
}

.reduction-effects{width: 100%;
	$this:&;
	position: relative;margin-top: 47px; padding: 30px 48px; border: 4px solid #b2b2b2; border-radius: 10px;
	&__list{margin:0; padding:0; list-style: none;text-align: justify;}
	&__item{display: inline-block; position: relative; margin-top: 23px; padding-left: 43px;}
	&__numbering{position: absolute; left: 0; top: -4px; padding-top: 2px; width: 32px; height: 32px; font-size: 16px; font-weight: 400; border-radius: 50%; color: #fff; background-color: #c75d7a; text-align: center;}
	&__numbering:after{display: inline-block; content: ''; vertical-align: middle; height: 100%; }
	&__tit{color: #b02b4f;}
	&__txt1{margin:0; color: #666; font-size: 19px; font-weight: 400;}
	@media only screen and (max-width:$minpc-size3){
	}
	@media only screen and (max-width:$mobile-size){padding: 17px 45px; margin-top: 26px; border-width: 2px;
		&:before{left: -3px;top: -10px;width: 24px; height: 17px; background: url('../images/nose/quotation-black-ptm.png') 0 0 no-repeat; background-size: 24px auto;}
		&:after{right: -3px;bottom: -10px;width: 24px; height: 16px; background: url('../images/nose/quotation-gray-ptm.png') 0 0 no-repeat; background-size: 24px auto;}
		&__tit{font-size: 1.6rem;}
		&__item{margin-top: 9px;}
		&__list:after{display: none;}
		&__item{padding-left: 23px; display: block;}
		&__numbering{ top: 1px; width: 18px; height: 18px; font-size: 1.0rem; }
		&__txt1{font-size: 1.4rem; text-align:left;}

	}
}

.reduction-box3{
	.content-section{text-align: center;}
	.content-section__tit.type-left{text-align: center;}
	.content-section__txt1{ padding: 0 20%; }
	.content-section__txt3{padding-top: 40px; font-style: italic ;font-weight: 500; color: #333; line-height: 180%;}
	.content-section__wrapper.face{font-size: 0; position: relative; height: 0; z-index: 0;     margin-top: 60px;  padding-bottom: 81.75%;;font-size: 0; }
	.content-section__wrapper.face:before{content: ''; position: absolute;left: 0;width: 100%; top: 0;height: 100%; background:  url('../images/nose/complex-surgery-girl-p.png') center bottom / cover no-repeat; z-index: -1;}
	.content-section__wrapper.type-bg{padding-top: 55px; background: #fff url('../images/nose/complex-surgery.jpg') 0 0 / cover no-repeat;}
	.content-section__wrapper.type-bg2{padding: 150px 0px 25px; background: #efefef url('../images/nose/logo.jpg') center top no-repeat;}
	@media only screen and (max-width:$tablet-size){
		.content-section__txt1{ padding: 0 4%; }
		.content-section__txt3{padding: 0 7%; padding-top: 40px; }
		.content-section__wrapper.face{padding-bottom: 138.02%; margin-top: 0;}
		.content-section__wrapper.face:before{ background:  url('../images/nose/complex-surgery-girl-t2.png') center bottom / cover no-repeat;}
		.content-section__wrapper.type-bg{ margin: 0 -65px; padding-top: 55px; background: #fff url('../images/nose/complex-surgery-t.jpg') 0 0 / cover no-repeat;}
		.content-section__wrapper.type-bg2{margin:0 -65px; padding: 135px 0px 30px; background: #efefef url('../images/nose/docs-bg-t.jpg') 0 0 no-repeat;}
	}
	@media only screen and (max-width:$mobile-size){
		.content-section__txt1{ margin-top: 30px; padding: 0 12px;}
		.content-section__txt3{padding: 0 12px; padding-top: 23px;}
		.content-section__wrapper.face{margin: 0 -20px; padding-bottom: 160.09%; margin-top: 35px;}
		.content-section__wrapper.face:before{  background: url('../images/nose/complex-surgery-girl-m2.png') center bottom / cover no-repeat;}
		.content-section__wrapper.type-bg{ margin: 0 -20px; padding: 0 20px; padding-top: 55px; background: #fff url('../images/nose/complex-surgery-m.jpg') 0 0 / cover no-repeat;}
		.content-section__wrapper.type-bg2{margin:0 -20px; padding: 100px 0px 0px; background: #efefef url('../images/nose/docs-bg-m.jpg') center / cover no-repeat;}
	}
}
.content-section{
	$this:&;
	@media only screen and (max-width:$mobile-size){
		&.nose-reduction-nth2{text-align: center;
		}
	}
	@media only screen and (max-width:$iphone-size){
		&.nose-reduction-nth2{
			#{$this}__number{left: -10px;}
		}
	}
}

.ideal-reduction{margin-top: 240px;
	&__tit{position: relative; margin:0; font-size: 52px; font-weight: 200; padding-left: 26px;}
	&__tit:before{content: ''; display: inline-block; position: absolute; left: 0; top: 22px; width: 6px; height: 50px; background-color: #333333;}
	&__tit strong{font-weight: 400;}
	&__wrapper{
		&.type-bg{font-size: 0;padding: 0 13.67% 50px; padding-top: 65%; margin-top: 37px; background:  url('../images/nose/ideal-reduction.jpg') 0 0 / cover no-repeat;}
		&.type-bg-t{font-size: 0;display: none;}
	}
	@media only screen and (max-width:$tablet-size){ margin: 0 -25px; margin-top: 100px;
		&__wrapper{
			&.type-bg{padding: 0 3% 50px; padding-top: 128.64%; margin-top: 0px; background:  url('../images/nose/ideal-reduction2-t.jpg') 0 0 / cover no-repeat;}
			&.type-bg-t{font-size: 0; display: block; margin-top: 42px; padding-bottom: 127.90%; background:  url('../images/nose/ideal-reduction1-t.jpg') 0 0 / cover no-repeat;}
		}
	}
	@media only screen and (max-width:$mobile-size){ margin: 0; margin-top: 50px;
		&__tit{font-size: 2.8rem;padding-left: 13px;}
		&__tit:before{ left: 0; top: 11px; width: 3px; height: 25px;}
		&__wrapper{
			&.type-bg{padding: 0 4% 25px; padding-top: 141.69%; margin-top: 0px; background:  url('../images/nose/ideal-reduction2-m.jpg') 0 0 / cover no-repeat;}
			&.type-bg-t{margin-top: 14px; padding-bottom: 142.76%; background:  url('../images/nose/ideal-reduction1-m.jpg') 0 0 / cover no-repeat;}
		}
	}
}

.nose-team{
	&__tit{font-size: 50px; font-weight: 200;}
	&__tit strong{font-weight: 400; }
	&__txt1{font-size: 19px;  font-weight: 300; margin-top: 25px; word-break: break-all;}
	&__txt1 strong{font-weight: 500;}
	&__thumb{margin-top: 35px;}
	&__thumb img{width:100%;}
	@media only screen and (max-width:$tablet-size){
		&__tit{font-size: 48px;}
		&__txt1{font-size: 18px;margin-top: 20px; padding:0 30px;}
		&__thumb{margin-top: 45px;}
	}
	@media only screen and (max-width:$mobile-size){
		&__tit{font-size: 2.6rem;}
		&__txt1{font-size: 1.4rem;margin-top: 8px; padding: 0px 10px;}
		&__thumb{margin-top: 23px;}
	}
}
