<%
	type = "content"
	page = "eye"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
	<!-- visual -->
	<div class="content-visual type-eye-double">
		<div class="content-visual__box">
			<div class="content-visual__border">
				<p class="content-visual__txt1">一个很小的细节往往能左右结果</p>
				<h3 class="content-visual__tit">#<span class="double-color1">非切开</span>自然粘连双眼皮</h3>
				<p class="content-visual__txt2">就像<strong>自己原有</strong>的一样</p>
			</div>
		</div>
	</div>
	<!-- //visual -->

	<!-- Content -->
	<div class="content type-eye-double">
		<div class="content-wrap">
			<div class="content-section type-first">
				<div class="double-box1">
					<div class="double-box1__box">
						<h4 class="double-box1__tit">
							几乎不会被解开的<span class="double-color1">半永久性的固定</span><br>
							将浮肿和淤青最小化，<span class="double-color1">快速恢复</span>
						</h4>
						<p class="double-box1__txt">佰诺佰琪双眼皮手术的核心</p>
					</div>
				</div>
			</div>

			<div class="content-section">
				<div class="double-box2">
					<div class="double-box2__box pop-info">
						<h4 class="content-section__tit type-left">
							<span class="content-section__number ">
								<span class="content-section__number-wrap">
									01
								</span>
							</span>
							用<strong>精致的打结</strong>方式，使其能够维持
							<strong class="double-color2">更加结实的</strong>
							<a href="" class="info-btn js-info">
								<span class="info-btn__icon">info</span>
								粘连
								<span class="info-desc type-eye-double">
									<span class="info-desc__item">
										<span class="info-desc__box">
											<span class="info-desc__tit"><span class="info-desc__icon"></span><strong>所谓粘连</strong>?<br class="hidden-tm"></span>
											<span class="info-desc__content">
												<span class="info-desc__txt1">
													是指皮肤组织互相粘住贴合的现象。可以简单的理解为伤口服帖的愈合。
												 </span>
											</span>
										</span>
										<button class="info-desc__btn js-close">
											<span class="info-desc__stick type-left"></span>
											<span class="info-desc__stick type-another"></span>
											关闭
										</button>
									</span>
								</span>
							</a>
						</h4>

						<p class="content-section__txt1">
							过去的埋线法虽然很自然但是存在容易被解开的问题。现在将原有的优点原封不动保持的同时改善以前的缺点，<strong>这就是佰诺佰琪致力研究双眼皮手术的核心。</strong>佰诺佰琪非切开自然粘连双眼皮手术没有切口和缝合，通过精致的打结方式调节皮肤和肌肉，使其能够自然粘连，形成自然的双眼皮线条。
						</p>
						<p class="content-section__txt2">
							<strong class="content-highlight type-eye-double">
								双重打结，更加结实固定的双眼皮，好像不是什么特别的方法，但也<span class="double-color3">不是随便都能做到的技术。</span>
							</strong>
						</p>
					</div>
				</div>
			</div>

			<div class="content-section">
				<div class="double-box3">
					<div class="double-box3__wrap">
						<p class="double-box3__subtit">就像自己原有的一样，谁都不知道！</p>
						<h4 class="content-section__tit">
							发明<strong>双重埋线法</strong>的佰诺佰琪<span class="content-highlight type-eye-double2">非切开手术</span>做的更加出色。
						</h4>
						<div class="double-box3__box">
							<p class="content-section__txt1">
								佰诺佰琪整形外科眼部整形专家团队领导，朴善在院长以<span class="double-color4">“要想百分百理解手术原理，就要有崭新的一面”</span>的哲学作为基础，2003年研究出了双重埋线的概念。遵循最基本的手术方法，更加精湛的技术，不断完善缺点之后变的更加结实的非切开自然粘连双眼皮手术法。
							</p>
						</div>
					</div>
					<div class="double-box3__area">
						<div class="eye-table--outer">
				          	<div class="eye-table">
					            <ul class="eye-table__list">
									<li class="eye-table__item">
										<div class="eye-table__box type-left"><div class="eye-table__wrap">普通埋线法</div></div>
										<div class="eye-table__center"><div class="eye-table__wrap">VS</div></div>
										<div class="eye-table__box type-right"><div class="eye-table__wrap">非切开自然粘连</div></div>
									</li>
									<li class="eye-table__item">
										<div class="eye-table__box type-left"><div class="eye-table__wrap">没有粘连的打结</div></div>
										<div class="eye-table__center"><div class="eye-table__wrap"><span class="eye-table__arrow">发展</span></div></div>
										<div class="eye-table__box type-right"><div class="eye-table__wrap">打结+自然粘连</div></div>
									</li>
									<li class="eye-table__item">
										<div class="eye-table__box type-left"><div class="eye-table__wrap type-longer">容易松开（5~50%）</div></div>
										<div class="eye-table__center"><div class="eye-table__wrap"><span class="eye-table__arrow">改进</span></div></div>
										<div class="eye-table__box type-right"><div class="eye-table__wrap type-longer">松开最小化（1% 不到）</div></div>
									</li>
									<li class="eye-table__item">
										<div class="eye-table__box type-left"><div class="eye-table__wrap">自然</div></div>
										<div class="eye-table__center"><div class="eye-table__wrap"><span class="eye-table__arrow">维持</span></div></div>
										<div class="eye-table__box type-right"><div class="eye-table__wrap">自然</div></div>
									</li>
					            </ul>
				          	</div>
				        </div>
					</div>
				</div>
			</div>

			<div class="content-section">
				<div class="double-box4">
					<div class="double-box4__wrap">
						<div class="double-box4__img">
							<img src="../../images/eye/double/double_img_02.jpg" alt="">
						</div>
						<div class="double-box4__box">
							<h4 class="content-section__tit type-left">
								<span class="content-section__number ">
									<span class="content-section__number-wrap">
										02
									</span>
								</span>
								让尽可能<strong class="double-color2">多的人</strong>想要采用这个方法。
							</h4>
							<div class="axiety quotation type-eye-double">
			                    <ul class="axiety__list">
			                        <li class="axiety__item">
			                            <p class="axiety__txt1">要是真的像我原有的双眼皮一样<strong class="double-color2">自然</strong>就好了。</p>
			                        </li>
			                        <li class="axiety__item">
			                            <p class="axiety__txt1">周末做了手术想<strong class="double-color2">马上工作。</strong></p>
			                        </li>
			                        <li class="axiety__item">
			                            <p class="axiety__txt1">就算是闭眼的时候也<strong class="double-color2">看不出来疤痕。</strong></p>
			                        </li>
			                        <li class="axiety__item">
			                            <p class="axiety__txt1">之前虽然有做过埋线法但是<strong class="double-color2">马上就解开了。</strong></p>
			                        </li>
			                    </ul>
			                    <p class="axiety__txt2">
									<span class="eclipsis type-eye-double">
										<span class="eclipsis__wrap">
											<span class="eclipsis__circle"></span>
											<span class="eclipsis__circle"></span>
											<span class="eclipsis__circle"></span>
											<span class="eclipsis__circle"></span>
										</span>
									</span>
			                    </p>
			                </div>
						</div>
					</div>
				</div>

				<div class="double-box5">
					<p class="content-section__txt1">
						对于眼部整形感到苦恼的大部分患者都想不用切开的方式打造出双眼皮。<br>
						浮肿和淤青都少一些，不想被看出做过手术的痕迹。<br>
						<strong>生怕做了手术之后会彻底改变原有的面貌。</strong><br>
						所以做了埋线法手术，有被松开的经历所以变得犹豫不决。<br>
						<strong class="content-highlight type-eye-double">佰诺佰琪的非切开自然粘连双眼皮就是为了解决这一苦恼的手术方法。</strong><br>
						当然不是所有的情况都适用于这一方法。
					</p>

					<p class="content-section__txt2">
						但是！<br>
						<strong>只要有可能，就会让更多的人<span class="double-color3">没有手术痕迹，打造出更加自然，更加美丽的双眼皮。</span></strong>
					</p>
				</div>
			</div>

			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-eye">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">手术详情</h4>
							<!-- <p class="operation-v2__subtit">非切开双眼皮手术恢复更加快速</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">手术时间</h5>
										<p class="operation-v2__txt txt-new1">约30分</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">麻醉方法</h5>
										<p class="operation-v2__txt txt-new1">局部麻醉</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">拆线</h5>
										<p class="operation-v2__txt txt-new1">约3天后拆线</p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">住院时间</h5>
										<p class="operation-v2__txt txt-new1">当天回家</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">来院治疗</h5>
										<p class="operation-v2__txt txt-new1">约1次</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">恢复</h5>
										<p class="operation-v2__txt txt-new1">约3天后恢复日常生活</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-eye">
								<h5 class="pain-v2__tit txt-new2">术后体感疼痛</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 1){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">square</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">square</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									非切开双眼皮手术是手术中能感受到疼痛度较小的手术之一。<br>
									稍微能感受到有点刺痛的同时有一些不舒服的痛感。<br>
									为了感到不舒适的众多患者劝导她们服用止痛药。在药店卖的止痛药能够抑制痛感。<br>
									如果稍微感觉有发热的情况出现，可以进行冷敷，有助于缓和。
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* 通过对术后患者进行问卷调查得出的平均值</p>
									<p class="pain-v2__noti txt-new4">* 从数据不存在绝对性，会存在个人差异，仅供大家作为参考。</p>
								</div>
								<!-- <a href="<?php echo SITE_UPLOAD_URL?>/knowledge/eye.pdf" target="_blank" class="operation-v2__link"><span>术后注意事项</span></a> -->
							</div><!-- //pain -->
						</div>
					</div>
				</div>
            </div>
		</div>
	</div><!-- //Content -->

	<% include ../_include/_bfaf %>
</div><!-- //container-->
<% include ../_include/_footer %>
