<%
	type = "content"
	page = "eye"
%>
<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
	<!-- visual -->
	<div class="content-visual type-middle-age">
		<div class="content-visual__box">
			<div class="content-visual__border type-middle-age">
				<p class="content-visual__txt1 type-middle-age">变明朗的印象，<span class="inline-block">同时改善眼部机能的</span></p>
				<h3 class="content-visual__tit type-middle-age"># <span class="color-middle-age1">中年 </span>眼部 整形</h3>
				<p class="content-visual__txt2 type-middle-age">自然地变年轻的眼眸</p>
			</div>
		</div>
	</div> <!-- //visual -->

	<div class="content cell_transplant">
		<div class="content-wrap">
	        <div class="middle-box1">
	            <div class="content-section type-first">
	                <div class="quotes">
	                    <div class="quotes__wrapper quotation">
	                        <h4 class="quotes__txt1">
	                            关于佰诺佰琪中年层的眼部整形的烦恼的理解，<br>
	                            <span class="type-border">一起探求下如何准确的改善那些顾虑和同时减少负担感的 <span class="color-middle-age2">中年眼部整形</span>的方法</span>
	                        </h4>
	                    </div>
	                    <p class="quotes__txt2">
	                        中年阶层的眼部整形与一般情况下只是为了美容而做眼部整形的年轻阶层的眼部整形需要区别开来
	                    </p>
	                </div>
	                <div class="site-box6__wrapper">
	                    <div class="site-box6">
	                        <div class="site-box6__box">
	                            <ul class="site-box6__list clearfix">
	                                <li class="site-box6__item">
	                                    <div class="site-box6__inner">
											<span class="link__icon-wrap">
												<span class="link__icon"><span class="link__line"></span></span>
											</span>
	                                        <p class="site-box6__txt1">
	                                            相对于眼睛的模样或大小华丽性的转变，通过改善眼角的皱纹和皮肤下垂，<br>
	                                            <strong class="color-middle-age10">自然找回</strong>自然找回年轻的眼眸是很重要的。
	                                        </p>
	                                    </div>
	                                </li>
	                                <li class="site-box6__item">
	                                    <div class="site-box6__inner">
	                                        <p class="site-box6__txt1">同时<br class="hidden-pt"> <span class="color-middle-age4">有关于手术的负担</span>也必须减少</p>
	                                    </div>
	                                </li>
	                                <li class="site-box6__item">
	                                    <div class="site-box6__inner">
										<span class="link__icon-wrap type-rotate">
											<span class="link__icon"><span class="link__line"></span></span>
										</span>
	                                        <p class="site-box6__txt1">在此过程中，如果连下降的<strong class="color-middle-age10">眼部机能也可以一起矫正</strong>的话会更好。</p>
	                                    </div>
	                                </li>
	                            </ul>
	                        </div>

	                        <div class="site-box6__slogan">
	                            <p class="site-box6__txt2">
	                                佰诺佰琪通过可以实现这些价值的的 <strong class="border-bottom">细节化的手术方案，</strong>为了打造
	                                <span class="inline-block"><span class="color-middle-age3 border-bottom">满意度更高的中年阶层眼部整形</span>而不懈努力
	                            </p>
	                        </div>
	                    </div>

	                </div>
	            </div><!-- //content-section -->
	        </div>

			<!-- tab -->
	        <div class="content-tab">
	            <div class="content-tab__inner">
	                <ul class="content-tab__list">
	                    <li class="content-tab__item is-active"><a href="" class="content-tab__link" data-tab="page-nonincision">双重埋线</a></li>
	                    <li class="content-tab__item"><a href="" class="content-tab__link" data-tab="page-incise">切开法眼肌调整</a></li>
	                </ul>
	            </div>
	        </div>

	        <!-- tab contents -->
	        <div class="content-tab__page page-nonincision is-active">
	            <div class="content-tab__box">
	                <div class="content-tab__wrapper">
	                    <div class="middle-box2">
	                        <div class="content-section">
	                            <div class="content-section__wrapper type-width">
	                                <div class="content-section__wrapper type-unique">
	                                    <h4 class="content-section__tit type-top">
	                                        <span class="content-section__number"><span class="content-section__number-wrap">01</span></span>
	                                        因为老化而导致的眼皮下垂，<br>
	                                        即使为了<strong class="color-middle-age5">眼部健康</strong>也必须改善
	                                    </h4>
	                                </div>
	                                <div class="content-section__wrapper">
	                                    <p class="content-section__txt1">
	                                        与其他皮肤一样，眼皮随着时间流逝也会失去弹力，向下垂。<br class="hidden-m">
	                                       下垂的眼皮会让面部看起来衰老，遮住视野。<br class="hidden-m">
	                                        <span class="content-highlight type-eye-middle-age">因为视野变窄而皱脸或提眉，会成为导致全脸皱纹形成的原因。</span>
	                                    </p>
	                                    <p class="content-section__txt1">
	                                       	相对而言，眼睑下垂的最大问题，就是对眼睛健康也不好。<br class="hidden-tm">
	                                        会导致 <strong>眼睛浮肿，容易流泪，眼尾溃疡接触性皮炎</strong><br>
	                                        所以眼睑下垂通过上眼睑手术改善会比较好
	                                    </p>
	                                </div>
	                            </div>
	                            <div class="content-section__wrapper">
	                                <div class="eye-case">
	                                    <div class="eye-case__box">
	                                        <h5 class="eye-case__tit">需要眼部整形的中年人们</h5>
	                                    </div>
	                                    <div class="eye-case__box type-special">
	                                        <ul class="eye-case__list clearfix">
	                                            <li class="eye-case__item">
	                                                <div class="eye-case__inner clearfix">
	                                                    <div class="eye-case__thumb type-img01">
	                                                        <div class="eye-case__desc">
	                                                            <p class="eye-case__txt1">
	                                                                余肿
	                                                            </p>
	                                                        </div>
	                                                    </div>
	                                                </div>
	                                            </li>
	                                            <li class="eye-case__item">
	                                                <div class="eye-case__inner clearfix">
	                                                    <div class="eye-case__thumb type-img02">
	                                                        <div class="eye-case__desc">
	                                                            <p class="eye-case__txt1">
	                                                                眼部下垂
	                                                            </p>
	                                                        </div>
	                                                    </div>
	                                                </div>
	                                            </li>
	                                            <li class="eye-case__item">
	                                                <div class="eye-case__inner clearfix">
	                                                    <div class="eye-case__thumb type-img03">
	                                                        <div class="eye-case__desc">
	                                                            <p class="eye-case__txt1">
	                                                                眼泪
	                                                            </p>
	                                                        </div>
	                                                    </div>
	                                                </div>
	                                            </li>
	                                            <li class="eye-case__item">
	                                                <div class="eye-case__inner clearfix">
	                                                    <div class="eye-case__thumb type-img04">
	                                                        <div class="eye-case__desc">
	                                                            <p class="eye-case__txt1">
	                                                                眼尾溃疡
	                                                            </p>
	                                                        </div>
	                                                    </div>
	                                                </div>
	                                            </li>
	                                        </ul>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                        <!--contenct-section-->
	                    </div>
	                    <div class="middle-box3">
	                        <div class="content-section">
	                            <div class="content-section__wrapper clearfix">
	                                <div class="content-section__inner type-thumb">
	                                    <img src="../../images/eye/middleage-2-01.jpg" alt="img">
	                                </div>
	                                <div class="content-section__inner">
	                                    <h4 class="content-section__tit type-left">
	                                        <span class="content-section__number type-0"><span class="content-section__number-wrap">02</span></span>
	                                        即便<strong class="color-middle-age6">不舒服</strong><br>
	                                        也犹豫不定的原因<br class="hidden-t">
	                                        <strong>佰诺佰琪</strong><br class="hidden-t">
	                                        明白了解
	                                    </h4>
	                                    <div class="content-section__outer">
	                                        <div class="content-section__thumb">img</div>
	                                    </div>
	                                    <div class="axiety quotation type-eye-middle-age">
	                                        <ul class="axiety__list">
	                                            <li class="axiety__item">
	                                                <p class="axiety__txt1"><span class="axiety__number">01 . </span>对于’手术’的 <strong class="color-middle-age7">恐惧</strong></p>
	                                            </li>
	                                            <li class="axiety__item">
	                                                <p class="axiety__txt1"><span class="axiety__number">02 . </span>对于’印象突然大改变’的 <strong class="color-middle-age7">担心</strong></p>
	                                            </li>

	                                            <li class="axiety__item">
	                                                <p class="axiety__txt1"><span class="axiety__number">03 . </span>对于’疼痛感’的 <strong class="color-middle-age7">负担</strong></p>
	                                            </li>

	                                            <li class="axiety__item">
	                                                <p class="axiety__txt1"><span class="axiety__number">04 . </span>对于’是否有妨碍到日常生活’的 <strong class="color-middle-age7">顾虑</strong></p>
	                                            </li>
	                                        </ul>
	                                        <p class="axiety__txt2">
												<span class="eclipsis type-eye-middle-age">
													  <span class="eclipsis__wrap">
														<span class="eclipsis__circle"></span>
														<span class="eclipsis__circle"></span>
														<span class="eclipsis__circle"></span>
														<span class="eclipsis__circle"></span>
													</span></span>
	                                            就这么忍耐一下生活吧..
	                                        </p>

	                                    </div>
	                                </div>
	                            </div>
	                            <p class="content-section__txt1">
	                                但是许多患者就算眼睑下垂而导致各种不便感，也无法轻易决定上眼睑手术。<br class="hidden-tm">
	                                <span class="content-highlight type-eye-middle-age">是因为对于手术茫然的害怕，担心印象改变太大变成陌生的面孔，对于疼痛和恢复有负担等原因吧。</span>
	                                佰诺佰琪理解这一部分，为了给患者们提供更好的方案而不懈努力着。
	                            </p>
	                        </div>
	                        <!--contenct-section-->

	                    </div>
	                    <div class="middle-box4">
	                        <div class="content-section">
	                            <div class="content-section__wrapper">
	                                <div class="content-section__wrapper bg img01">
	                                    <h4 class="content-section__tit type-center">
											<span class="content-section__number">
												<span class="content-section__number-wrap sec2-number-wrap">
													03
												</span>
											</span>
	                                        因为了解这个烦恼所以研究出了<br class="hidden-tm"><strong class="color-middle-age8">双重埋线上眼睑</strong>手术
	                                    </h4>
	                                    <div class="content-section__wrapper content-box">
	                                        <p class="content-section__txt1">
	                                            类似之前说过的对上眼睑手术犹豫不决的理由中大部分因为手术时使用切开的方式导致。但是如果无切开的话，只用线来矫正下垂的眼睑，松弛的眼睑很难有效支撑住，会有再次松开的危险。<br>
	                                        </p>
	                                        <p class="content-section__txt1">
												<span class="content-highlight type-eye-middle-age2">
													因此佰诺佰琪在基础的埋线法的方式上，利用组织的粘合性，研发出更有力度的双重埋线上眼睑手术。
												</span>
	                                        </p>
	                                        <div class="uppereye">
	                                            <div class="uppereye__wrapper bg">
	                                                <div class="uppereye__item clearfix">
	                                                    <div class="uppereye__wrapper thumb">
	                                                        <div class="uppereye__img eye"></div>
	                                                        <div class="uppereye__wrapper guide-box">
	                                                            <div class="uppereye__guide"><span class="uppereye__dot black">icon</span>线的力量</div>
	                                                            <div class="uppereye__guide plus"><span class="uppereye__dot red">icon</span>组织黏连</div>
	                                                        </div>
	                                                        <div class="uppereye__desc">
	                                                            <h5 class="rectangle">
	                                                                <span class="rectangle__inner">
	                                                                    双重埋线 上眼睑
	                                                                    <span class="triangle">triangle</span>
	                                                                </span>
	                                                            </h5>
	                                                            <p class="uppereye__txt1">
	                                                                即使不切开，利用线的力量与组织黏连的 <br class="hidden-m">
	                                                                双重力量，更安全地矫正眼睑
	                                                            </p>
	                                                        </div>
	                                                    </div>
	                                                </div>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                                <div class="content-section__wrapper bg img02">
	                                    <div class="content-section__wrapper type-width quotation type-eye-middle-age2">
	                                        <div class="content-section__txt1 type-width">
	                                            双重埋线上眼睑手术，即使不切开，利用线的力量与组织粘合的双重力量，诱导出更有效更安全的眼睑矫正，。因为使用非切开的方式进行，有减少手术负担感的优点。缩短手术时间，因此恢复也更快。
	                                        </div>
	                                        <p class="content-section__txt2 type-width">
	                                            同时，因为手术后的浮肿与痛症小 <br class="hidden-pt">
	                                            <strong class="color-middle-age11">更自然，对日常生活</strong> 对日常生活不会造成很大困扰。
	                                        </p>
	                                    </div>
	                                    <div class="content-section__wrapper type-rhombus">
	                                        <div class="site-box8">
	                                            <div class="site-box8__layer nth1">
	                                                <div class="site-box8__box">
	                                                    <div class="site-box8__item">
	                                                        <div class="site-box8__desc">
	                                                            <p class="site-box8__txt1">
	                                                                <span class="inline-block">相比较短的</span><br>
	                                                                <span class="inline-block">手术时间</span>
	                                                            </p>
	                                                        </div>
	                                                    </div>
	                                                </div>
	                                                <div class="site-box8__box">
	                                                    <div class="site-box8__item">
	                                                        <div class="site-box8__desc">
	                                                            <p class="site-box8__txt1">
	                                                                <span class="inline-block">相比较</span><br>
	                                                                <span class="inline-block">快速的恢复</span>
	                                                            </p>
	                                                        </div>
	                                                    </div>
	                                                </div>
	                                            </div>

	                                            <div class="site-box8__layer nth2">
	                                                <div class="site-box8__box">
	                                                    <div class="site-box8__item">
	                                                        <div class="site-box8__desc">
	                                                            <p class="site-box8__txt1">
	                                                                <span class="inline-block">有效的</span><br>
	                                                                <span class="inline-block">安全的矫正</span>
	                                                            </p>
	                                                        </div>
	                                                    </div>
	                                                </div>
	                                                <div class="site-box8__box">
	                                                    <div class="site-box8__item type-special">
	                                                        <div class="site-box8__desc">
	                                                            <p class="site-box8__txt1">
	                                                                <span class="inline-block">双重埋线</span><br>
	                                                                <span class="inline-block">上眼睑</span>
	                                                            </p>
	                                                        </div>
	                                                    </div>
	                                                </div>
	                                                <div class="site-box8__box">
	                                                    <div class="site-box8__item">
	                                                        <div class="site-box8__desc">
	                                                            <p class="site-box8__txt1">
	                                                                <span class="inline-block">睁眼力量</span><br>
	                                                                <span class="inline-block">强化</span>
	                                                            </p>
	                                                        </div>
	                                                    </div>
	                                                </div>
	                                            </div>
	                                            <div class="site-box8__layer nth3">
	                                                <div class="site-box8__box">
	                                                    <div class="site-box8__item">
	                                                        <div class="site-box8__desc">
	                                                            <p class="site-box8__txt1">
	                                                                <span class="inline-block">自然</span><br>
	                                                                <span class="inline-block">柔和的眼眸</span>
	                                                            </p>
	                                                        </div>
	                                                    </div>
	                                                </div>
	                                                <div class="site-box8__box">
	                                                    <div class="site-box8__item">
	                                                        <div class="site-box8__desc">
	                                                            <p class="site-box8__txt1">
	                                                                <span class="inline-block">年轻明朗的</span><br>
	                                                                <span class="inline-block">印象</span>
	                                                            </p>
	                                                        </div>
	                                                    </div>
	                                                </div>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>

	                            </div>
	                        </div>
	                        <!--contenct-section-->
	                    </div>
						<div class="new-section">
							<div class="new-section__wrap type-w">
								<div class="operation-v2 type-eye">
									<div class="operation-v2__wrap">
										<h4 class="operation-v2__tit">手术详情</h4>
										<!-- <p class="operation-v2__subtit">麻醉时候的疼痛感也细致地考虑到</p> -->
										<ul class="operation-v2__list">
											<li class="operation-v2__item nth-1 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">手术时间</h5>
													<p class="operation-v2__txt txt-new1">约30分</p>
												</div>
											</li>
											<li class="operation-v2__item nth-2 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">麻醉方法</h5>
													<p class="operation-v2__txt txt-new1">局部麻醉/非睡眠最小痛麻醉</p>
												</div>
											</li>
											<li class="operation-v2__item nth-3 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">拆线</h5>
													<p class="operation-v2__txt txt-new1">约3~5天后拆线</p>
												</div>
											</li>
											<li class="operation-v2__item nth-4 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">住院时间</h5>
													<p class="operation-v2__txt txt-new1">当天回家</p>
												</div>
											</li>
											<li class="operation-v2__item nth-5 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">来院治疗</h5>
													<p class="operation-v2__txt txt-new1">约1次</p>
												</div>
											</li>
											<li class="operation-v2__item nth-6 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">恢复</h5>
													<p class="operation-v2__txt txt-new1">约7~14天后恢复日常生活</p>
												</div>
											</li>

										</ul>
										<div class="pain-v2 type-eye">
											<h5 class="pain-v2__tit txt-new2">术后体感疼痛</h5>
											<ol class="pain-v2__list">
												<% for(var i = 1; i<= 10; i++){%>
													<%if(i <= 1){%>
														<li class="<%="pain-v2__item is-active nth-"+i%>">
															<div class="pain-v2__square">square</div>
														</li>
													<%}else{%>
														<li class="<%="pain-v2__item nth-"+i%>">
															<div class="pain-v2__wrap">
																<div class="pain-v2__square">square</div>
															</div>
														</li>
													<%}%>
												<%}%>
											</ol>
											<p class="pain-v2__txt txt-new1">
												因为通过非睡眠最小疼痛感的麻醉来进行麻醉，所以减少了疼痛感。<br>
												手术后也许会伴随麻刺感与发热感，随着时间会渐渐缓和。<br>
												因为浮肿而紧绷的疼痛感，可以通过我们开的处方止痛药来缓解，冰敷也有一定帮助。
											</p>
											<div class="pain-v2__box">
												<p class="pain-v2__noti txt-new4">* 通过对术后患者进行问卷调查得出的平均值</p>
												<p class="pain-v2__noti txt-new4">* 从数据不存在绝对性，会存在个人差异，仅供大家作为参考。</p>
											</div>
											<!-- <a href="<?php echo SITE_UPLOAD_URL?>/knowledge/contour.pdf" target="_blank" class="operation-v2__link"><span>术后注意事项</span></a> -->
										</div><!-- //pain -->
									</div>
								</div>
							</div>

			            </div>
	                    <!-- 手术详情 -->
	                    <div class="middle-box5">
	                        <div class="content-section">
	                            <div class="content-section__wrapper">
	                                <div class="content-section__wrapper">
	                                    <h4 class="content-section__tit type-center">
											<span class="content-section__number">
												<span class="content-section__number-wrap sec2-number-wrap">
													04
												</span>
											</span>
	                                        即使是切开法上眼睑手术<br> 也会很<strong class="color-middle-age5">自然</strong>
	                                    </h4>
	                                    <div class="content-section__wrapper type-desc">
	                                        <p class="content-section__txt1">
	                                            <span class="inline-block">失去弹性又松弛严重的情况下，事实上通过双重埋线上眼睑手术改善也是很困难的。</span>
	                                            <span class="inline-block">无论怎么精密的矫正，即使改善了睁眼的力量，下垂的皮肤还是会松弛，意义就不大了。</span>
	                                            <span class="inline-block">这种情况必须进行切开法上眼睑手术。去除下垂的眼睑与过多的脂肪等，可以有效地改善眼皮的松弛。</span>
	                                        </p>
	                                        <p class="content-section__txt1">

												<span class="content-highlight type-eye-middle-age3">
													如果是切开法上眼睑手术，可以无需考虑双眼皮过厚或外貌改变过多。
												</span>
	                                            <span class="inline-block">因为佰诺佰琪凭借多年间的技术与感觉，可以调整双眼皮的线条。</span>
	                                            <span class="inline-block">依据每个人的眼睑状态，就在睫毛上方精密切开，形成小的双眼皮，或不做另外固定可以不做双眼皮线条。</span>
	                                        </p>
	                                        <p class="content-section__txt1">
	                                            当然因为切开手术的原因，手术结束后相比较双重埋线上眼睑手术看起来会更肿一些，看起来会稍有不适应的感觉。但是随着时间恢复，消肿后会很自然，确认到满意的效果的。
	                                        </p>
	                                    </div>
	                                    <div class="content-section__wrapper main-point clearfix">
	                                        <div class="content-section__wrapper eye"></div>
	                                        <div class="content-section__wrapper circle-box">
	                                            <div class="site-box7">
	                                                <h5 class="site-box7__tit">核心之处</h5>
	                                                <ul class="site-box7__list clearfix">
	                                                    <li class="site-box7__item">
	                                                        <div class="site-box7__inner">
	                                                            <div class="site-box7__desc">
	                                                                <h6 class="site-box7__number">01</h6>
	                                                                <p class="site-box7__txt1 txt-v5">
																		通过与睫毛临近处<br>
																		切开，形成自然的<br>
																		双眼皮曲线
	                                                                </p>
	                                                            </div>
	                                                        </div>
	                                                    </li>
	                                                    <li class="site-box7__item">
	                                                        <div class="site-box7__inner">
	                                                            <div class="site-box7__desc">
	                                                                <h6 class="site-box7__number">02</h6>
	                                                                <p class="site-box7__txt1 txt-v5">
	                                                                    通过缜密的计算<br>
	                                                                    决定需要切除<br>
	                                                                    眼皮的量
	                                                                </p>
	                                                            </div>
	                                                        </div>
	                                                    </li>
	                                                    <li class="site-box7__item">
	                                                        <div class="site-box7__inner">
	                                                            <div class="site-box7__desc">
	                                                                <h6 class="site-box7__number">03</h6>
	                                                                <p class="site-box7__txt1 txt-v5">
	                                                                    只切除 <br>
	                                                                    一定必须的部分<br>
	                                                                    诱导快速恢复<br>
	                                                                </p>
	                                                            </div>
	                                                        </div>
	                                                    </li>
	                                                    <li class="site-box7__item">
	                                                        <div class="site-box7__inner">
	                                                            <div class="site-box7__desc">
	                                                                <h6 class="site-box7__number">04</h6>
	                                                                <p class="site-box7__txt1 txt-v5">
	                                                                    通过鲜明又 <br>
	                                                                    有生机的眼眸 <br>
	                                                                    追求清爽的印象
	                                                                </p>
	                                                            </div>
	                                                        </div>
	                                                    </li>
	                                                </ul>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                        <!--contenct-section-->
	                    </div>
						<div class="new-section">
							<div class="new-section__wrap type-w">
								<div class="operation-v2 type-eye">
									<div class="operation-v2__wrap">
										<h4 class="operation-v2__tit">手术详情</h4>
										<!-- <p class="operation-v2__subtit">麻醉时候的疼痛感也细致地考虑到</p> -->
										<ul class="operation-v2__list">
											<li class="operation-v2__item nth-1 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">手术时间</h5>
													<p class="operation-v2__txt txt-new1">约40分~1小时</p>
												</div>
											</li>
											<li class="operation-v2__item nth-2 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">麻醉方法</h5>
													<p class="operation-v2__txt txt-new1">局部麻醉/非睡眠最小痛麻醉</p>
												</div>
											</li>
											<li class="operation-v2__item nth-3 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">拆线</h5>
													<p class="operation-v2__txt txt-new1">约4~5天后拆线</p>
												</div>
											</li>
											<li class="operation-v2__item nth-4 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">住院时间</h5>
													<p class="operation-v2__txt txt-new1">当天回家</p>
												</div>
											</li>
											<li class="operation-v2__item nth-5 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">来院治疗</h5>
													<p class="operation-v2__txt txt-new1">约1次</p>
												</div>
											</li>
											<li class="operation-v2__item nth-6 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">恢复</h5>
													<p class="operation-v2__txt txt-new1">约7~14天后恢复日常生活</p>
												</div>
											</li>

										</ul>
										<div class="pain-v2 type-eye">
											<h5 class="pain-v2__tit txt-new2">术后体感疼痛</h5>
											<ol class="pain-v2__list">
												<% for(var i = 1; i<= 10; i++){%>
													<%if(i <= 1){%>
														<li class="<%="pain-v2__item is-active nth-"+i%>">
															<div class="pain-v2__square">square</div>
														</li>
													<%}else{%>
														<li class="<%="pain-v2__item nth-"+i%>">
															<div class="pain-v2__wrap">
																<div class="pain-v2__square">square</div>
															</div>
														</li>
													<%}%>
												<%}%>
											</ol>
											<p class="pain-v2__txt txt-new1">
												通过非睡眠痛感最小的麻醉，且因麻醉的原因减少了疼痛感。<br>
												手术后会出现麻麻的感觉和发热感一起，随着时间推移会渐渐缓解。<br>
												因为浮肿而紧绷的疼痛感，通过处方止疼药可以缓解，冰敷也有一定的帮助。
											</p>
											<div class="pain-v2__box">
												<p class="pain-v2__noti txt-new4">* 通过对术后患者进行问卷调查得出的平均值</p>
												<p class="pain-v2__noti txt-new4">* 从数据不存在绝对性，会存在个人差异，仅供大家作为参考。</p>
											</div>
											<!-- <a href="<?php echo SITE_UPLOAD_URL?>/knowledge/contour.pdf" target="_blank" class="operation-v2__link"><span>术后注意事项</span></a> -->
										</div><!-- //pain -->
									</div>
								</div>
							</div>
			            </div>
	                    <!-- 手术详情 -->
	                </div>
	            </div>
	        </div>

	        <div class="content-tab__page page-incise">
	            <div class="content-tab__box">
	                <div class="content-tab__wrapper">
	                    <div class="middle-box6">
	                        <div class="content-section">
	                            <div class="content-section__wrapper middle-bg-w">
	                                <div class="content-section__wrapper middle-bg-m">
	                                    <h4 class="content-section__tit type-top">
											<span class="content-section__number">
												<span class="content-section__number-wrap sec2-number-wrap">
													01
												</span>
											</span>遗留下复合型的 <strong><br>眼下老化的痕迹，</strong><br>通过 <span class="content-highlight type-eye-middle-age4">下眼睑手术</span>可以看出效果
	                                    </h4>
	                                </div>
	                                <p class="content-section__txt2">
	                                    眼下，眼周围的细纹与一起的眼角的
	                                    <strong class="color-middle-age12"> 老化</strong><br class="hidden-m">是
										<strong class="color-middle-age12"> 看起来最突出的部位之一</strong>
	                                </p>
	                                <p class="content-section__txt1">
										眼下皮肤失去弹力，形成浮肿的皱纹，可以看出肤色深沉或脂肪袋松弛的状态。
										因为这种样子会造成看起来疲惫或给人以老态的印象，如果通过下眼睑手术给与改善的话，相对来说看起来会更加年轻，看起来会有印象变明朗的的效果。
										因为阳光照射导致的细小的皱纹，虽然可以考虑使用镭射治疗<br>

	                                    <span class="content-highlight type-eye-middle-age5"><strong class="color-middle-age13">大部分情况还是通过手术的方法改善是最有效果的</strong></span>
	                                </p>
	                            </div>

	                            <div class="site-box9">
	                                <div class="site-box9__wrapper">
	                                    <div class="site-box9__desc">
	                                        <div class="site-box9__brace">
	                                            <div class="site-box9__wrapper brace type-eye-middle-age">
	                                                <h5 class="site-box9__tit">
	                                                    需要<span class="color-middle-age11">下眼睑手术</span>的情况
	                                                </h5>
	                                            </div>
	                                        </div>
	                                        <p class="site-box9__txt1">
												<span class="eclipsis type-eye-middle-age2">
													<span class="eclipsis__wrap">
														<span class="eclipsis__circle type-eye-middle-age2"></span>
														<span class="eclipsis__circle type-eye-middle-age2"></span>
														<span class="eclipsis__circle type-eye-middle-age2"></span>
														<span class="eclipsis__circle type-eye-middle-age2"></span>
													</span>
												</span>
	                                            看起来暗沉的眼下区域 <br>
	                                            眼下的皱纹 <br>
	                                            下方稍厚的脂肪眼袋形成 <br>
	                                        </p>
	                                        <div class="site-box9__thumb">
	                                            <ul class="site-box9__list clearfix">
	                                                <li class="site-box9__item img1"></li>
	                                                <li class="site-box9__item img2"></li>
	                                            </ul>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                        <!--contenct-section-->
	                    </div>
	                    <div class="middle-box7">
	                        <div class="content-section">
	                            <div class="content-section__wrap lower-eye-2 clearfix">
	                                <div class="content-section__box w-7">
	                                    <div class="content-section__img type-special6">
	                                        <img src="../../images/eye/lower-eye-sec2.jpg" alt="">
	                                    </div>
	                                </div>
	                                <div class="content-section__box w-4 type-bottom">
	                                    <h4 class="content-section__tit type-left">
	                                        <span class="content-section__number type-0"><span class="content-section__number-wrap">02</span></span>
	                                        <strong class="color-middle-age6">下眼睑手术</strong>是<br class="hidden-t">
	                                        <strong>可以看出多种</strong><br class="hidden-tm">
	                                        <strong>改善效果</strong><br>
	                                        的手术
	                                    </h4>
	                                    <div class="content-section__wrapper thumb"></div>
	                                    <p class="content-section__txt1">
											下眼睑手术是将下眼皮的睫毛根侧切开后
											去除不需要的皮肤或脂肪的手术。<br>
	                                        <span class="content-highlight type-eye-middle-age3 type-font">
												患者依据个人状况，如果皱纹长得很深的
												情况拉伸皱纹即可，而脂肪袋形成后
												造成眼下部位突出的情形下，去除适量脂肪后
												再精细地铺平开。
											</span>
	                                    </p>
	                                    <p class="content-section__txt1">
											因为通过一次手术便可改善皱纹，肤质，脂肪等眼下复合型的
											问题，所以是满意度很高的手术。
	                                    </p>
	                                </div>
	                            </div><!-- //content-section__wrap-->
	                        </div>
	                        <!--contenct-section-->
	                    </div>
	                    <div class="middle-box8">
	                        <div class="content-section">
	                            <div class="content-section__wrapper type-wide">
	                                <div class="content-section__bg img1">
	                                    <div class="content-section__wrapper type-width quotation type-eye-middle-age3">
	                                        <div class="content-section__txt1 type-width">
												在下眼睑手术过程中，皮肤如果过度切除，白眼球会看起来外露，找到有丰富的经验和可以体系化手术的专家是很重要的。
												佰诺佰琪使用精密的切开，与通过皮肤内侧红色结膜去除脂肪的双重方法，减轻副作用可能性的同时，诱导手术后更加快速的恢复。
	                                        </div>
	                                        <p class="content-section__txt2 type-width">
	                                            同时因为睫毛内侧切开的原因， <br class="hidden-p">
	                                            <strong class="color-middle-age11">几乎看不见疤痕，负担感小，自然改善眼下老化</strong>问题。
	                                        </p>
	                                    </div>

	                                    <div class="site-box10">
	                                        <h5 class="site-box10__tit">下眼睑的<strong class="color-middle-age15">优点</strong></h5>
	                                        <ul class="site-box10__list clearfix">
	                                            <li class="site-box10__item">
	                                                <div class="site-box10__inner">
	                                                    <div class="site-box10__desc">
	                                                        <p class="site-box10__txt1">
	                                                            在与睫毛<br>
	                                                            临近处切开<br>
	                                                            疤痕负担感<br>
	                                                            少
	                                                        </p>
	                                                    </div>

	                                                </div>
	                                            </li>

	                                            <li class="site-box10__item">
	                                                <div class="site-box10__inner">
	                                                    <div class="site-box10__desc">
	                                                        <p class="site-box10__txt1">
	                                                            通过精密的 <br>
	                                                            脂肪矫正<br>
	                                                            保持<br>
	                                                            光滑的眼下区域
	                                                        </p>
	                                                    </div>

	                                                </div>
	                                            </li>
	                                            <li class="site-box10__item">
	                                                <div class="site-box10__inner">
	                                                    <div class="site-box10__desc">
	                                                        <p class="site-box10__txt1">
	                                                            通过体系化的<br>
	                                                            手术<br>
	                                                            副作用的<br>
	                                                            危害被减轻
	                                                        </p>
	                                                    </div>

	                                                </div>
	                                            </li>
	                                            <li class="site-box10__item">
	                                                <div class="site-box10__inner">
	                                                    <div class="site-box10__desc">
	                                                        <p class="site-box10__txt1">
	                                                            通过适当的切开与<br>
	                                                            后期管理<br>
	                                                            恢复速度<br>
	                                                            会加快
	                                                        </p>
	                                                    </div>

	                                                </div>
	                                            </li>
	                                        </ul>
	                                    </div>

	                                </div>
	                                <div class="content-section__bg img2">
	                                    <div class="content-section__wrapper type-unique">
	                                        <div class="content-section__wrapper type-width2 quotation type-eye-middle-age4">
	                                            <h4 class="content-section__tit">
	                                                岁月带走的 <br>
	                                                <span class="color-middle-age14 type-bigger">美丽重新找回</span>
	                                            </h4>
	                                            <p class="content-section__txt3 type-width">
	                                                上了年纪却为何还能如此美丽 <br>
	                                                周围人先来询问，告诉他们后..
	                                            </p>
	                                            <p class="content-section__txt4 color-middle-age11">好像重生了一样~</p>
	                                        </div>
	                                        <div class="content-section__wrapper bf">
	                                            <div class="content-section__wrapper before">BEFORE</div>
	                                            <div class="content-section__thumb"></div>
	                                        </div>
											<p class="content-section__notice caution-para1">❈本图片依拍摄条件不同与实物会有差距，取得患者本人同意拍摄后刊发。</p>
	                                    </div>


	                                </div>
	                            </div>
	                        </div>
	                        <!--contenct-section-->
	                    </div>
						<div class="new-section">
							<div class="new-section__wrap type-w">
								<div class="operation-v2 type-eye">
									<div class="operation-v2__wrap">
										<h4 class="operation-v2__tit">手术详情</h4>
										<!-- <p class="operation-v2__subtit">通过适当的切开与体系化的管理，引导相对迅速的恢复。</p> -->
										<ul class="operation-v2__list">
											<li class="operation-v2__item nth-1 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">手术时间</h5>
													<p class="operation-v2__txt txt-new1">约1小时</p>
												</div>
											</li>
											<li class="operation-v2__item nth-2 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">麻醉方法</h5>
													<p class="operation-v2__txt txt-new1">睡眠麻醉</p>
												</div>
											</li>
											<li class="operation-v2__item nth-3 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">拆线</h5>
													<p class="operation-v2__txt txt-new1">约7天后拆线</p>
												</div>
											</li>
											<li class="operation-v2__item nth-4 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">住院时间</h5>
													<p class="operation-v2__txt txt-new1">当天回家</p>
												</div>
											</li>
											<li class="operation-v2__item nth-5 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">来院治疗</h5>
													<p class="operation-v2__txt txt-new1">约1次</p>
												</div>
											</li>
											<li class="operation-v2__item nth-6 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">恢复</h5>
													<p class="operation-v2__txt txt-new1">约7~14天后恢复日常生活</p>
												</div>
											</li>

										</ul>
										<div class="pain-v2 type-eye">
											<h5 class="pain-v2__tit txt-new2">术后体感疼痛</h5>
											<ol class="pain-v2__list">
												<% for(var i = 1; i<= 10; i++){%>
													<%if(i <= 1){%>
														<li class="<%="pain-v2__item is-active nth-"+i%>">
															<div class="pain-v2__square">square</div>
														</li>
													<%}else{%>
														<li class="<%="pain-v2__item nth-"+i%>">
															<div class="pain-v2__wrap">
																<div class="pain-v2__square">square</div>
															</div>
														</li>
													<%}%>
												<%}%>
											</ol>
											<p class="pain-v2__txt txt-new1">
												通过睡眠麻醉，手术时几乎无感觉。<br>
												手术后会出现麻麻的感觉和发热感一起，随着时间推移会渐渐缓解。<br>
												因为浮肿眼睛下方虽然会有些撑开的感觉，随着时间推移会渐渐缓解。<br>
												因为浮肿而紧绷的疼痛感，通过处方止疼药可以缓解，冰敷也有一定的帮助。
											</p>
											<div class="pain-v2__box">
												<p class="pain-v2__noti txt-new4">* 通过对术后患者进行问卷调查得出的平均值</p>
												<p class="pain-v2__noti txt-new4">* 从数据不存在绝对性，会存在个人差异，仅供大家作为参考。</p>
											</div>
											<!-- <a href="<?php echo SITE_UPLOAD_URL?>/knowledge/contour.pdf" target="_blank" class="operation-v2__link"><span>术后注意事项</span></a> -->
										</div><!-- //pain -->
									</div>
								</div>
							</div>

			            </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div> <!-- //content -->
	<% include ../_include/_bfaf %>
</div><!-- //container-->
<% include ../_include/_footer %>
