<%
	type = "content"
	page = "eye"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
    <div class="content" data-page="eye-relocation">
		<div class="new-visual type-relocation">
			<div class="new-visual__box">
				<div class="new-visual__outer">
					<div class="new-visual__inner">
						<p class="new-visual__subtit">重新配置的眼底脂肪模样</p>
						<h3 class="new-visual__tit">眼底<span class="n-color-eye2">脂肪再配置</span></h3>
						<p class="new-visual__txt">更年轻更开朗的印象</p>
						<ul class="new-visual__list">
							<li class="new-visual__item"><span>#开朗的印象</span></li>
							<li class="new-visual__item"><span>#自然的改善</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- //new-visual-->

        <div class="new-content-wrap">
            <div class="new-section">
				<div class="new-style1">
					<h4 class="new-style1__tit tit-new1 weight-bold">
                        大部分眼底困惑的开始是<br class="hidden-tm"><span class="n-color-eye2">眼底脂肪模样</span>开始变化
					</h4>
					<p class="new-style1__txt txt-new1">
						眼底的困惑是眼底过于突出，眼底皱纹，黑眼圈等。<br class="hidden-tm">
                        这些问题一般不会单独出现，会复合着出现，理由是眼底困惑共同的原因开始于‘眼底脂肪模样变化’
					</p>
					<p class="new-style1__txt2 txt-new2">
                        这些症状看起来疲惫，没有力气等印象，也是看起来老的原因重新配置眼底脂肪模样，<span class="n-color-eye2">通过眼底脂肪再配置可以给人更好的印象。</span>
					</p>
					<div class="new-style1__img">
						<img src="../../images/eye/relocation/relocation_img_1.jpg" alt="凹陷的泪沟, 脂肪下垂&细纹" class="img-normal">
					</div>
				</div>
			</div><!--//new-section-->
            <div class="new-section type-cling">
				<div class="outer-box">
					<div class="inner-box">
						<div class="new-description type-pd0">
							<h5 class="new-content-tit type-description tit-new2">
                                眼底脂肪再配置手术<span class="weight-bold">对象</span>
                            </h5>

							<ul class="new-description__list">
								<li class="new-description__item">
									<p class="new-description__txt txt-new1">
										<span class="new-description__plus">+</span>
										眼底脂肪过于突出的情况
									</p>
								</li>
								<li class="new-description__item">
									<p class="new-description__txt txt-new1">
										<span class="new-description__plus">+</span>
										眼底凹陷可以看到血管，看起来疲倦的情况
									</p>
								</li>
								<li class="new-description__item">
									<p class="new-description__txt txt-new1">
										<span class="new-description__plus">+</span>
										眼底有皱纹显老的情况
									</p>
								</li>
								<li class="new-description__item">
									<p class="new-description__txt txt-new1">
										<span class="new-description__plus">+</span>
										眼底凹凸不平的情况
									</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div><!--//new-section-->

            <div class="new-section type-cling">
                <div class="new-style1 type-bottom type-relocation">
                    <h4 class="new-style1__tit tit-new1 weight-bold">
                        去除脂肪，移植不是核心<span class="n-color-eye3">核心是脂肪再配置</span>
                    </h4>
                    <p class="new-style1__txt txt-new2">
                        眼底脂肪问题改善的方法是<span class="n-color-eye3">把突出的脂肪减少填充凹进去的部分。</span>
                    </p>
                    <p class="new-style1__txt2 txt-new1">
                        但是单纯去除眼底脂肪比起移植新脂肪，最好是<span class="color-white">最好是利用原有的脂肪进行再配置。</span>
                        因为对于脂肪来说生着率是最重要的。<br><br>

                        单纯去除眼底脂肪，随着时间推移周围的脂肪也一同消失，眼底会显得凹陷。<br class="hidden-tm">
                        相反在凹进去的部分填充新脂肪的话生着率不确定是缺点。<br class="hidden-tm">
                        特别是眼睛是不断动的部位，脂肪生着率不高，效率会下降。
                    </p>
					<div class="new-style1__img">
						<img src="../../images/eye/relocation/relocation_img_2.jpg" alt="model" class="img-normal"/>
					</div>
                    <div class="inner-box">
                        <div class="compare2 type-eye">
                            <h5 class="new-content-tit tit-new2">
                                眼底脂肪<span class="weight-bold">“再配置”</span>的理由
                            </h5>

                            <ul class="compare2__list">
                                <li class="compare2__item">
                                    <div class="compare2__box">
                                        <div class="compare2__img">
                                            <img src="../../images/eye/relocation/relocation_img_3.jpg" alt="去除脂肪或者移植 - 因过度的脂肪去除周围的脂肪也会一起消失脂肪移植的话移植的脂肪生着率下降" class="img-w100"/>
                                        </div>
                                        <div class="compare2__caption txt-new2">
                                            <div class="compare2__vertical">
                                                去除脂肪或者移植
                                            </div>
                                        </div>
                                    </div>
                                    <p class="compare2__txt txt-new1">
                                        因过度的脂肪去除周围的脂肪也会一起消失脂肪移植的话移植的脂肪生着率下降
                                    </p>
                                </li>
                                <li class="compare2__item nth-2">
                                    <div class="compare2__box">
                                        <div class="compare2__img">
                                            <img src="../../images/eye/relocation/relocation_img_4.jpg" alt="脂肪再配置 - 因为重置眼底脂肪模样几乎没有脂肪消失的可能性" class="img-w100"/>
                                        </div>
                                        <div class="compare2__caption txt-new2">
                                            <div class="compare2__vertical">
                                                脂肪再配置
                                            </div>
                                        </div>

                                        <div class="compare2__area">
                                            <p class="compare2__txt2">
                                                <span class="n-color-eye2">
                                                    手术后脂肪<br class="hidden-tm">形态的持久力
                                                </span>
                                            </p>
                                        </div>
                                    </div>

                                    <p class="compare2__txt txt-new1">
                                        因为重置眼底脂肪模样几乎没有脂肪消失的可能性
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!--//new-section-->

            <div class="new-section type-cling">
                <div class="new-style1 type-bottom type-relocation2">
                    <h4 class="new-style1__tit tit-new1 weight-bold">
                        用比较<span class="n-color-eye2">简单的方法</span>进行再配置
                    </h4>
                    <p class="new-style1__txt txt-new2">
                        所以佰诺佰琪进行眼底脂肪再配置<br class="hidden-tm">
						为了更好的结果必要时会并行自体脂肪移植，玻尿酸，肉毒素等方法<span class="n-color-eye2">但是基本会重新配置眼底脂肪模样为核心。</span>
                    </p>
                    <p class="new-style1__txt2 txt-new1">
                        手术方法比较简单，把眼睛内部结膜细微切开后把眼底脂肪弄平。这时原有的眼底脂肪血管破坏后会有消失的可能性，所以最好不要把脂肪去除或者分离进行再配置是最重要的。把弄平的脂肪固定后把切开部分缝合好手术就结束了。
                    </p>
                    <div class="inner-box">
                        <div class="img-style3 type-cling type-eye">
                            <h5 class="new-content-tit tit-new2">
                                佰诺佰琪眼底脂肪再配置<span class="weight-bold">方法</span>
                            </h5>

                            <ul class="img-style3__list">
                                <li class="img-style3__item">
                                    <div class="img-style3__img">
                                        <img src="../../images/eye/relocation/relocation_img_5.jpg" alt="STEP 01 周密的诊断眼底的状态，计划进行再配置的位置和模样。" class="img-w100"/>
                                    </div>
                                    <div class="img-style3__caption txt-new2">
                                        <div class="img-style3__vertical">
                                            STEP 01
                                        </div>
                                    </div>
									<p class="img-style3__txt2 txt-new1">
										周密的诊断眼底的状态，计划进行再配置的位置和模样。
									</p>
                                </li>
                                <li class="img-style3__item">
                                    <div class="img-style3__img">
                                        <img src="../../images/eye/relocation/relocation_img_6.jpg" alt="STEP 02 把眼睛内部结膜细微的切开，所以日常结束手术。" class="img-w100"/>
                                    </div>
                                    <div class="img-style3__caption txt-new2">
                                        <div class="img-style3__vertical">
                                            STEP 02
                                        </div>
                                    </div>
									<p class="img-style3__txt2 txt-new1">
										把眼睛内部结膜细微的切开，所以日常结束手术。
									</p>
                                </li>
								<li class="img-style3__item">
                                    <div class="img-style3__img">
                                        <img src="../../images/eye/relocation/relocation_img_7.jpg" alt="STEP 03 根据个人情况定制适合的眼底脂肪模样进行再配置。" class="img-w100"/>
                                    </div>
                                    <div class="img-style3__caption txt-new2">
                                        <div class="img-style3__vertical">
                                            STEP 03
                                        </div>
                                    </div>
									<p class="img-style3__txt2 txt-new1">
										根据个人情况定制适合的眼底脂肪模样进行再配置。
									</p>
                                </li>
                                <li class="img-style3__item">
                                    <div class="img-style3__img">
                                        <img src="../../images/eye/relocation/relocation_img_8.jpg" alt="STEP 04 强化支撑脂肪的结膜，缝合切开部位结束手术。" class="img-w100"/>
                                    </div>
                                    <div class="img-style3__caption txt-new2">
                                        <div class="img-style3__vertical">
                                            STEP 04
                                        </div>
                                    </div>
									<p class="img-style3__txt2 txt-new1">
										强化支撑脂肪的结膜，缝合切开部位结束手术。
									</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!--//new-section-->

			<div class="new-section type-cling">
                <div class="new-style1 type-bottom type-relocation3">
                    <h4 class="new-style1__tit tit-new1 weight-bold">
                        佰诺佰琪眼底脂肪再配置<br class="hidden-tm"><span class="n-color-eye2">效果好</span>并且<span class="n-color-eye2">持久</span>
                    </h4>
                    <p class="new-style1__txt txt-new1">
                        眼底脂肪突出的首要原因是支撑眼底脂肪模样的眼窝隔膜变弱。接着不改善眼窝隔膜进行脂肪再配置的话效果不持久的可能性高。就算固定脂肪的位置根据身体情况大小和模样会稍微有变动，过段时间眼窝隔膜又重新突出的可能性。<br><br>

						所以佰诺佰琪是对眼底脂肪再配置和眼窝隔膜同时改善<span class="n-color-eye2">重新固定眼底脂肪再配置的位置，拉出眼窝隔膜使眼窝隔膜维持更久。</span>
                    </p>
                    <p class="new-style1__txt2 txt-new2">
                        这个方法是对眼底脂肪最根本的改善方法，<span class="n-color-eye2">改善更自然，有着效果更持久的优点。</span>
                    </p>
					<div class="new-style1__img">
						<img src="../../images/eye/relocation/relocation_img_9.jpg" alt="model" class="img-normal"/>
					</div>
                    <div class="inner-box">
                        <div class="img-style3 type-cling type-three type-eye">
                            <h5 class="new-content-tit tit-new2">
                                <span class="weight-bold">改善眼窝隔膜</span>的佰诺佰琪眼底脂肪再配置
                            </h5>

                            <ul class="img-style3__list">
                                <li class="img-style3__item">
                                    <div class="img-style3__img">
                                        <img src="../../images/eye/relocation/relocation_img_10.jpg" alt="STEP 01 眼窝隔膜" class="img-w100"/>
                                    </div>
                                    <div class="img-style3__caption txt-new2">
                                        <div class="img-style3__vertical">
                                            STEP 01
                                        </div>
                                    </div>
                                </li>
                                <li class="img-style3__item">
                                    <div class="img-style3__img">
                                        <img src="../../images/eye/relocation/relocation_img_11.jpg" alt="STEP 02 脂肪再配置" class="img-w100"/>
                                    </div>
                                    <div class="img-style3__caption txt-new2">
                                        <div class="img-style3__vertical">
                                            STEP 02
                                        </div>
                                    </div>
                                </li>
								<li class="img-style3__item">
                                    <div class="img-style3__img">
                                        <img src="../../images/eye/relocation/relocation_img_12.jpg" alt="STEP 03 改善拉长的眼窝隔膜" class="img-w100"/>
                                    </div>
                                    <div class="img-style3__caption txt-new2">
                                        <div class="img-style3__vertical">
                                            STEP 03
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!--//new-section-->

			<div class="new-section type-cling">
                <div class="new-style1 type-bottom type-relocation4">
					<div class="img-style3 type-cling type-wide type-eye">
						<h5 class="new-content-tit tit-new2 color-white">
							佰诺佰琪眼底脂肪再配置的<span class="weight-bold">特点</span>
						</h5>

						<ul class="img-style3__list">
							<li class="img-style3__item">
								<div class="img-style3__img">
									<img src="../../images/eye/relocation/relocation_img_13.jpg" alt="具备对眼睛解剖学的理解和技术，佰诺佰琪眼部整形团队" class="img-w100"/>
								</div>
								<div class="img-style3__caption txt-new2">
									<div class="img-style3__vertical">
										具备对眼睛解剖学的理解和技术，佰诺佰琪眼部整形团队
									</div>
								</div>
							</li>
							<li class="img-style3__item">
								<div class="img-style3__img">
									<img src="../../images/eye/relocation/relocation_img_14.jpg" alt="眼底脂肪再配置+改善眼隔膜 - 更有效果的开朗的印象, 几乎看不到手术的痕迹自然的效果, 更持久的效果" class="img-w100"/>
								</div>
								<div class="img-style3__caption txt-new2">
									<div class="img-style3__vertical">
										眼底脂肪再配置+改善眼隔膜
									</div>
								</div>
							</li>
						</ul>
					</div>
                </div>
            </div><!--//new-section-->

			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-eye">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">手术详情</h4>
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">手术时间</h5>
										<p class="operation-v2__txt txt-new1">约30分</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">麻醉方法</h5>
										<p class="operation-v2__txt txt-new1">局部麻醉</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">拆线</h5>
										<p class="operation-v2__txt txt-new1">约3天后拆线</p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">住院时间</h5>
										<p class="operation-v2__txt txt-new1">当天回家</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">来院治疗</h5>
										<p class="operation-v2__txt txt-new1">约1次</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">恢复</h5>
										<p class="operation-v2__txt txt-new1">约3~5天后恢复日常生活</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-eye">
								<h5 class="pain-v2__tit txt-new2">术后体感疼痛</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 1){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">square</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">square</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									手术后会有点浮肿和异物感，随着时间会逐渐恢复。<br>
									浮肿的痛症可以通过止痛药改善。<br>
									手术后第二天开始除了眼底可以洗脸。
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* 通过对术后患者进行问卷调查得出的平均值</p>
									<p class="pain-v2__noti txt-new4">* 从数据不存在绝对性，会存在个人差异，仅供大家作为参考。</p>
								</div>
								<!-- <a href="<?php echo SITE_UPLOAD_URL?>/knowledge/eye.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a> -->
							</div><!-- //pain -->
						</div>
					</div>
				</div>

            </div>
        </div><!-- //new-content-wrap-->
    </div><!-- //content-->


</div> <!-- //container -->

<% include ../_include/_footer %>
