<%
	type = "content"
	page = "eye"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
    <div class="content" data-page="eye-opening">
		<% include ../_include/_tooltip %>
		<div class="new-visual type-opening">
			<div class="new-visual__box">
				<div class="new-visual__outer">
					<div class="new-visual__inner">
						<p class="new-visual__subtit">更加清晰，明亮的</p>
						<h3 class="new-visual__tit"><span class="n-color-eye2">开眼角</span>整形</h3>
						<p class="new-visual__txt">改善眼型的另一种方法</p>
						<ul class="new-visual__list">
							<li class="new-visual__item"><span>#隐藏的眼睛长度</span></li>
							<li class="new-visual__item"><span>#魅力的眼眸</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- //new-visual-->
        <div class="new-content-wrap">
			<div class="new-section">
				<div class="section-normal type-opening">
					<div class="section-normal__wrap">
						<p class="section-normal__eng txt-new1">BANOBAGI EYES SURGERY</p>
					 	<h4 class="section-normal__tit tit-new1">
							开眼角整形
						</h4>
					 	<p class="section-normal__txt2 txt-new1">
                            有魅力的眼睛不单纯只是由双眼皮的有无决定的。<span class="color-black1">一般的眼睛的大小要与面部各器官相协调，眼仁位于眼睛的中央，根据自己的个性打造明亮的眼睛才是魅力的眼睛。</span>.
					 	</p>
						<p class="section-normal__txt1 txt-new2">
					 		从这一角度来看，<span class="n-color-eye2">放大眼睛大小，调整眼仁位置及白眼露出程度的眼角整形</span>是打造魅力眼睛的好方法。
					 	</p>
					</div>
					<div class="section-normal__img">
						<img src="../../images/eye/opening/opening_img_1.png" class="img-normal" alt="model">
					</div>
				</div>
			</div><!-- //new-section-->
			<div class="new-tab__line">line</div>
			<div class="new-tab type-eye">
				<div class="new-tab__tit">
					<div class="new-tab__wrap">
						<a href="" class="new-tab__btn">内眼角</a>
					</div>
				</div>
				<ul class="new-tab__list">
					<li class="new-tab__item is-active">
						<div class="new-tab__wrap">
							<a href="page-front" class="new-tab__link">内眼角</a>
						</div>
					</li>
					<li class="new-tab__item">
						<div class="new-tab__wrap">
							<a href="page-back" class="new-tab__link">外眼角</a>
						</div>
					</li>
					<li class="new-tab__item">
						<div class="new-tab__wrap">
							<a href="page-under" class="new-tab__link">下眼角</a>
						</div>
					</li>
				</ul>
			</div>

			<div class="new-tab-content page-front is-active">
				<div class="new-section type-cling">
                    <div class="new-section__wrap type-gray2">
                        <div class="new-section__box">
                            <div class="new-style2">
                                <h4 class="new-style2__tit tit-new3">
                                    开内眼角是<strong class="weight-bold">改善原本从出生开始就有的眼睛长短的技术</strong>
                                </h4>
                                <p class="new-style2__txt txt-new1">
                                    内眼角泪阜部分恰当露出的眼睛看起来是最自然的。 原本自身的红肉部分露出大约50%~80%的话是最理想的。
                                    完全看不见或者是形状看起来不光滑的话会让人很憋闷，印象上来看也会很尴尬，甚至严重的话会让人觉得看起来很凶悍。
                                    事实上泪阜是每个人都有的，这一部分看不见的人群仅仅是眼皮前端没有被充分打开泪阜部分被挡住了而已。
        						</p>
                                <p class="new-style2__txt2 txt-new2">
        							开内眼角是将眼角内侧的肉进行切割以便原本隐藏的泪阜部分适当的露出的整形技术。
        							<span class="n-color-eye2">露出泪阜不过是将原本眼睛的构造还原而已，所以没有副作用。与其说是将眼睛放大，其实更加可以起到改善眼型使眼睛看起来更加明亮清晰。</span>
        						</p>
                            </div>
                            <div class="img-style3 type-mt">
                                <ul class="img-style3__list">
                                    <li class="img-style3__item">
                                        <div class="img-style3__img">
                                            <img src="../../images/eye/opening/opening_front_img_1.jpg" alt="几乎看不到泪阜的眼睛" class="img-w100"/>
                                        </div>
                                        <div class="img-style3__caption txt-new2">
                                            <div class="img-style3__vertical">
                                                几乎看不到泪阜的眼睛
                                            </div>
                                        </div>
                                    </li>
                                    <li class="img-style3__item">
                                        <div class="img-style3__img">
                                            <img src="../../images/eye/opening/opening_front_img_2.jpg" alt="理想的眼睛" class="img-w100"/>
                                        </div>
                                        <div class="img-style3__caption txt-new2">
                                            <div class="img-style3__vertical">
                                                理想的眼睛
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="new-section__box">
                            <div class="new-style2">
                                <h4 class="new-style2__tit tit-new3">
                                    <strong class="weight-bold">开内眼角时产生疤痕</strong>是长期需考虑的问题
                                </h4>
                                <p class="new-style2__txt txt-new1">
                                    开内眼角是最基本的切割手术，无法保证绝对不留疤痕。所以如何在开内眼角时使疤痕最小化成为了专业医生之间的竞争。普通的开眼角是将内眼角大幅切割的方法，所以经常会见到很多内眼角模样成不等号（&gt;,&lt;）的疤痕。为解决这一问题虽然引进了眼下切割型的新型方法，但由于眼下切割位置的局限性，事实上这也并不能成为完美的改进办法。
                                </p>
                            </div>

                            <div class="opening-box1">
                                <h5 class="opening-box1__tit heading-bar">开内眼角时产生的疤痕问题</h5>
                                <div class="opening-box1__wrap">
                                    <div class="opening-box1__img">
                                        <img src="../../images/eye/opening/opening_front_img_3.png" alt="开内眼角时产生的疤痕问题" class="img-normal"/>
                                    </div>
                                    <div class="opening-box1__box">
                                        <p class="opening-box1__txt txt-new1">
                                            最初开眼角时眼内会留下不等号式的疤痕。<br class="hidden-tm">
                                            虽然研究出了眼下切割型开内眼角但是条件十分严苛并且无法实现完美的改善疤痕问题
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="new-section__box">
                            <div class="new-style2">
                                <h4 class="new-style2__tit tit-new3">
                                    开内眼角时产生的疤痕问题，<strong class="weight-bold">在佰诺佰琪没有不可能</strong>
                                </h4>
                                <p class="new-style2__txt txt-new2">
                                    佰诺佰琪为使疤痕最小化不断地进行研究。终于想到了<span class="n-color-eye2">手术时调节切割长度和角度使疤痕隐藏的方法。</span>
        						</p>
                                <p class="new-style2__txt2 txt-new1">
                                    佰诺佰琪研究出的新手术方法是将内眼角精巧的进行切割的方法。不是在眼下而是根据眼皮的走向在眼内来进行的手术方法。
                                    当然这种方式是需要高超的技术和手感的。并且是项费力气的复杂技术。但佰诺佰琪不会对患者进行为减少疤痕一定要动这项手术的劝诱，理解患者的忧虑并且解决它才是佰诺佰琪需要做的。
        						</p>
                            </div>

                            <div class="opening-box1">
                                <h5 class="opening-box1__tit heading-bar">佰诺佰琪的开内眼角方案</h5>
                                <div class="opening-box1__wrap">
                                    <div class="opening-box1__img">
                                        <img src="../../images/eye/opening/opening_front_img_4.png" alt="佰诺佰琪的开内眼角方案" class="img-normal"/>
                                    </div>
                                    <div class="opening-box1__box">
                                        <p class="opening-box1__txt txt-new1">
                                            佰诺佰琪开眼角手术约1小时后拍摄的照片。<br class="hidden-tm">
                                            真正的运用技术，根据眼皮的方向进行切割，使疤痕自然的被遮挡住。
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
				<!--//new-section-->
				<div class="new-section">
					<div class="new-section__wrap type-w">
						<div class="operation-v2 type-eye">
							<div class="operation-v2__wrap">
								<h4 class="operation-v2__tit">手术详情</h4>
								<ul class="operation-v2__list">
									<li class="operation-v2__item nth-1 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">手术时间</h5>
											<p class="operation-v2__txt txt-new1">约30分</p>
										</div>
									</li>
									<li class="operation-v2__item nth-2 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">麻醉方法</h5>
											<p class="operation-v2__txt txt-new1">睡眠麻醉</p>
										</div>
									</li>
									<li class="operation-v2__item nth-3 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">拆线</h5>
											<p class="operation-v2__txt txt-new1">约5~7天后拆线</p>
										</div>
									</li>
									<li class="operation-v2__item nth-4 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">住院时间</h5>
											<p class="operation-v2__txt txt-new1">当天回家</p>
										</div>
									</li>
									<li class="operation-v2__item nth-5 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">来院治疗</h5>
											<p class="operation-v2__txt txt-new1">约2~3次</p>
										</div>
									</li>
									<li class="operation-v2__item nth-6 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">恢复</h5>
											<p class="operation-v2__txt txt-new1">约3天后可轻柔洁面及化妆</p>
										</div>
									</li>

								</ul>
								<div class="pain-v2 type-eye">
									<h5 class="pain-v2__tit txt-new2">术后体感疼痛</h5>
									<ol class="pain-v2__list">
										<% for(var i = 1; i<= 10; i++){%>
											<%if(i <= 1){%>
												<li class="<%="pain-v2__item is-active nth-"+i%>">
													<div class="pain-v2__square">square</div>
												</li>
											<%}else{%>
												<li class="<%="pain-v2__item nth-"+i%>">
													<div class="pain-v2__wrap">
														<div class="pain-v2__square">square</div>
													</div>
												</li>
											<%}%>
										<%}%>
									</ol>
									<p class="pain-v2__txt txt-new1">
										由于是静脉注射，几乎没有因手术感到的疼痛。<br>
										术后可能会有辣眼睛等不适感，随时间推移会逐渐缓解。<br>
										发热或疼痛都可以通过处方止痛药来缓解，小心地在眼睛不受潮湿的前提下进行冷敷也是会有很大的帮助。
									</p>
									<div class="pain-v2__box">
										<p class="pain-v2__noti txt-new4">* 通过对术后患者进行问卷调查得出的平均值</p>
										<p class="pain-v2__noti txt-new4">* 从数据不存在绝对性，会存在个人差异，仅供大家作为参考。</p>
									</div>
								</div><!-- //pain -->
							</div>
						</div>
					</div>

	            </div>
			</div><!-- //new-tab-content-->

			<div class="new-tab-content page-back">
				<div class="new-section type-cling">
					<div class="new-style1 type-opening">
						<h4 class="new-style1__tit tit-new3">
							为您找回<strong class="weight-bold">隐藏的眼睛长度</strong>
						</h4>
						<p class="new-style1__txt txt-new1">
                            通过双眼皮手术或开内眼角手术仍旧很难改善眼睛大小的话，可能会建议开外眼角手术。
                            扩张眼尾拓展眼睛可见面积的手术。因为眼睛长度增加，给人眼睛更加清晰明亮的感觉。
                            眼尾及眼框骨骼间隙越大越可以见到卓越的效果。
						</p>
						<p class="new-style1__txt2 txt-new2">
							<span class="n-color-eye2">因为去除掉了眼尾链接粘膜所以可以防止粘连</span>，眼内侧结膜部分切除的话，<span class="n-color-eye2">几乎看不到疤痕。</span>
						</p>
						<div class="new-style1__img">
							<img src="../../images/eye/opening/opening_img_2.jpg" alt="" class="img-normal"/>
						</div>
						<div class="new-style1__area">
							<h5 class="heading-bar">佰诺佰琪开外眼角对象</h5>
						</div>
						<div class="inner-box type-list">
							<div class="new-description type-opening">
								<ul class="new-description__list">
									<li class="new-description__item">
										<p class="new-description__txt txt-new1">
											<span class="new-description__plus">+</span>
											眼睛长度较短的情况
										</p>
									</li>
									<li class="new-description__item">
										<p class="new-description__txt txt-new1">
											<span class="new-description__plus">+</span>
											眉间距离较短无法进行开内眼角手术的情况
										</p>
									</li>
									<li class="new-description__item">
										<p class="new-description__txt txt-new1">
											<span class="new-description__plus">+</span>
											眼尾形状过于普通希望可以呈现出特别的气质的情况
										</p>
									</li>
									<li class="new-description__item">
										<p class="new-description__txt txt-new1">
											<span class="new-description__plus">+</span>
											眼白部位不能充分露出，看起来有斜视的情况
										</p>
									</li>
									<li class="new-description__item">
										<p class="new-description__txt txt-new1">
											<span class="new-description__plus">+</span>
											仅靠双眼皮手术及开内眼角手术很难达到眼睛变大的效果的情况
										</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
                    <div class="new-section__wrap type-gray2">
                        <div class="new-section__box">
                            <div class="img-style3 type-three type-opening">
                                <h5 class="heading-bar">外眼角</h5>
                                <ul class="img-style3__list">
                                    <li class="img-style3__item">
                                        <div class="img-style3__img">
                                            <img src="../../images/eye/opening/opening_back_img_1.jpg" alt="STEP 01" class="img-w100"/>
                                        </div>
                                        <div class="img-style3__caption txt-new2">
                                            <div class="img-style3__vertical">
                                                STEP 01
                                            </div>
                                        </div>
                                    </li>
                                    <li class="img-style3__item">
                                        <div class="img-style3__img">
                                            <img src="../../images/eye/opening/opening_back_img_2.jpg" alt="STEP 02" class="img-w100"/>
                                        </div>
                                        <div class="img-style3__caption txt-new2">
                                            <div class="img-style3__vertical">
                                                STEP 02
                                            </div>
                                        </div>
                                    </li>
                                    <li class="img-style3__item">
                                        <div class="img-style3__img">
                                            <img src="../../images/eye/opening/opening_back_img_3.jpg" alt="STEP 03" class="img-w100"/>
                                        </div>
                                        <div class="img-style3__caption txt-new2">
                                            <div class="img-style3__vertical">
                                                STEP 03
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="new-section__box">
                            <div class="new-style2">
                                <h4 class="new-style2__tit tit-new3">
                                    <strong class="weight-bold">眼尾决定</strong>气质
                                </h4>
                                <p class="new-style2__txt txt-new1">
                                    相对来说开外眼角有改善气质的优点。因为根据眼尾开叉方向的不同有可能会改变一个人的气质。
                                    眼尾向上看起来很凶的眼睛，通过开眼尾向下调节可以得到改善。
                                    相反眼尾下垂看起来很沮丧的情况下，应将眼尾向上调节矫正。
                                    普通眼睛的眼尾也是同样，患者如果感到平淡无奇，也可以根据自己想要的形象进行眼睛形状的改变。
                                </p>
                                <p class="new-style2__txt2 txt-new2">
                                    佰诺佰琪通过<span class="n-color-eye2">术前1:1匹配咨询，对患者的眼睛进行周密的诊断从而了解患者想要达到的理想效果。</span>并且超越技术和手感，为各位带来<span class="n-color-eye2">最适合的最自然的眼睛的设计</span>体验。
                                </p>
                            </div>

                            <div class="img-style3 type-wide type-mt">
                                <h5 class="heading-bar">根据眼尾方向不同带来的不同形象</h5>
                                <ul class="img-style3__list">
                                    <li class="img-style3__item">
                                        <div class="img-style3__img">
                                            <img src="../../images/eye/opening/opening_back_img_4.jpg" alt="带来清明清澈的感觉的一般开眼尾" class="img-w100"/>
                                        </div>
                                        <div class="img-style3__caption txt-new2">
                                            <div class="img-style3__vertical">
                                                带来清明清澈的感觉的一般开眼尾
                                            </div>
                                        </div>
                                    </li>
                                    <li class="img-style3__item">
                                        <div class="img-style3__img">
                                            <img src="../../images/eye/opening/opening_back_img_5.jpg" alt="性感高傲魅力的向上开外眼角" class="img-w100"/>
                                        </div>
                                        <div class="img-style3__caption txt-new2">
                                            <div class="img-style3__vertical">
                                                性感高傲魅力的向上开外眼角
                                            </div>
                                        </div>
                                    </li>
                                    <li class="img-style3__item">
                                        <div class="img-style3__img">
                                            <img src="../../images/eye/opening/opening_back_img_6.jpg" alt="귀突显可爱与清纯的向下开外眼角" class="img-w100"/>
                                        </div>
                                        <div class="img-style3__caption txt-new2">
                                            <div class="img-style3__vertical">
                                                귀突显可爱与清纯的向下开外眼角
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
				</div>
				<!--//new-section-->
				<div class="new-section">
					<div class="new-section__wrap type-w">
						<div class="operation-v2 type-eye">
							<div class="operation-v2__wrap">
								<h4 class="operation-v2__tit">手术详情</h4>
								<ul class="operation-v2__list">
									<li class="operation-v2__item nth-1 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">手术时间</h5>
											<p class="operation-v2__txt txt-new1">约30分</p>
										</div>
									</li>
									<li class="operation-v2__item nth-2 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">麻醉方法</h5>
											<p class="operation-v2__txt txt-new1">睡眠麻醉</p>
										</div>
									</li>
									<li class="operation-v2__item nth-3 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">拆线</h5>
											<p class="operation-v2__txt txt-new1">约5~7天后拆线</p>
										</div>
									</li>
									<li class="operation-v2__item nth-4 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">住院时间</h5>
											<p class="operation-v2__txt txt-new1">当天回家</p>
										</div>
									</li>
									<li class="operation-v2__item nth-5 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">来院治疗</h5>
											<p class="operation-v2__txt txt-new1">约2~3次</p>
										</div>
									</li>
									<li class="operation-v2__item nth-6 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">恢复</h5>
											<p class="operation-v2__txt txt-new1">约3天后可轻柔洁面及化妆</p>
										</div>
									</li>

								</ul>
								<div class="pain-v2 type-eye">
									<h5 class="pain-v2__tit txt-new2">术后体感疼痛</h5>
									<ol class="pain-v2__list">
										<% for(var i = 1; i<= 10; i++){%>
											<%if(i <= 1){%>
												<li class="<%="pain-v2__item is-active nth-"+i%>">
													<div class="pain-v2__square">square</div>
												</li>
											<%}else{%>
												<li class="<%="pain-v2__item nth-"+i%>">
													<div class="pain-v2__wrap">
														<div class="pain-v2__square">square</div>
													</div>
												</li>
											<%}%>
										<%}%>
									</ol>
									<p class="pain-v2__txt txt-new1">
										由于是静脉注射，几乎没有因手术感到的疼痛。<br>
										术后可能会有辣眼睛等不适感，随时间推移会逐渐缓解。<br>
										发热或疼痛都可以通过处方止痛药来缓解，小心地在眼睛不受潮湿的前提下进行冷敷也是会有很大的帮助。
									</p>
									<div class="pain-v2__box">
										<p class="pain-v2__noti txt-new4">* 通过对术后患者进行问卷调查得出的平均值</p>
										<p class="pain-v2__noti txt-new4">* 从数据不存在绝对性，会存在个人差异，仅供大家作为参考。</p>
									</div>
								</div><!-- //pain -->
							</div>
						</div>
					</div>

	            </div>
			</div><!-- //new-tab-content-->

			<div class="new-tab-content page-under">
				<div class="new-section type-cling">
                    <div class="new-section__wrap type-gray2">
                        <div class="new-section__box">
                            <div class="new-style2">
                                <h4 class="new-style2__tit tit-new3">
                                    开下眼角拉低眼睛底部线条使
                                    <strong class="weight-bold">眼仁看起来更加清晰。</strong>
                                </h4>
                                <p class="new-style2__txt txt-new1">
                                    开下眼角偶尔也包括在开眼尾的一部分当中。 当然根据每位医生个人风格的不同，并没有一个标准的定式。但佰诺佰琪在开下眼角的改善目标及方向上,与开后眼角区分开, 认为它是一种独立的手术体系。
                                </p>
                                <p class="new-style2__txt2 txt-new2">
                                    在佰诺佰琪，将开外眼角作为延长眼睛长度，是否改变风格气质为目标，<span class="n-color-eye2">而开下眼角则是以提高眼睛高度，扩大眼仁的可见程度</span>为目的。
                                </p>
                            </div>

                            <div class="img-style3 type-mt">
                                <h5 class="heading-bar">开外眼角与开下眼角的区别</h5>

                                <ul class="img-style3__list">
                                    <li class="img-style3__item">
                                        <div class="img-style3__img">
                                            <img src="../../images/eye/opening/opening_under_img_1.jpg" alt="开外眼角" class="img-w100"/>
                                        </div>
                                        <div class="img-style3__caption txt-new2">
                                            <div class="img-style3__vertical">
                                                开外眼角
                                            </div>
                                        </div>
                                        <div class="depiction">
                                            <p class="depiction__tit txt-new2">Point</p>
                                            <ul class="depiction__list">
                                                <li class="depiction__item txt-new1">延长眼睛长度</li>
                                                <li class="depiction__item txt-new1">根据切口方向会有不同的形象</li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="img-style3__item">
                                        <div class="img-style3__img">
                                            <img src="../../images/eye/opening/opening_under_img_2.jpg" alt="开下眼角" class="img-w100"/>
                                        </div>
                                        <div class="img-style3__caption txt-new2">
                                            <div class="img-style3__vertical">
                                                开下眼角
                                            </div>
                                        </div>
										<div class="depiction">
                                            <p class="depiction__tit txt-new2">Point</p>
                                            <ul class="depiction__list">
                                                <li class="depiction__item txt-new1">提高眼睛高度</li>
                                                <li class="depiction__item txt-new1">调节眼仁的可见度</li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

						<div class="new-section__box">
							<div class="new-style2">
                                <h4 class="new-style2__tit tit-new3">
                                    眼仁可见度的变化会使<strong class="weight-bold">眼型看起来更加更加自然和柔和</strong>
                                </h4>
                                <p class="new-style2__txt txt-new1">
                                    当下眼皮和眼尾同时上翘时，开下眼尾是最有效的手术。
                                    眼睛整体同时向上时眼仁下端部分露出较少，这种眼镜会给人不自然和凶悍的印象。
                                    这很明显单靠单纯的延长眼部线条的开眼尾手术是很难得到改善的。所以研究出了开下眼角手术。
                                </p>
                                <p class="new-style2__txt2 txt-new2">
                                    开下眼角是将眼睛的下端线条下拉，<span class="n-color-eye2">改善眼睛宽度拉低眼尾。</span>
                                    因为眼睛的大小和眼仁的露出程度同时得到了改善，所以<span class="n-color-eye2">眼型看起来更加自然柔和。</span>
									并且与开外眼角一样,通过结膜手术有着<span class="n-color-eye2">几乎看不见疤痕无需拆线的优点。</span>
                                </p>
                            </div>

							<div class="img-style3 type-mt">
                                <h5 class="heading-bar">开下眼角的方法</h5>

                                <ul class="img-style3__list">
                                    <li class="img-style3__item">
                                        <div class="img-style3__img">
                                            <img src="../../images/eye/opening/opening_under_img_3.jpg" alt="STEP 01" class="img-w100"/>
                                        </div>
                                        <div class="img-style3__caption txt-new2">
                                            <div class="img-style3__vertical">
                                                STEP 01
                                            </div>
                                        </div>
                                    </li>
                                    <li class="img-style3__item">
                                        <div class="img-style3__img">
                                            <img src="../../images/eye/opening/opening_under_img_4.jpg" alt="STEP 02" class="img-w100"/>
                                        </div>
                                        <div class="img-style3__caption txt-new2">
                                            <div class="img-style3__vertical">
                                                STEP 02
                                            </div>
                                        </div>
                                    </li>
									<li class="img-style3__item">
                                        <div class="img-style3__img">
                                            <img src="../../images/eye/opening/opening_under_img_5.jpg" alt="STEP 03" class="img-w100"/>
                                        </div>
                                        <div class="img-style3__caption txt-new2">
                                            <div class="img-style3__vertical">
                                                STEP 03
                                            </div>
                                        </div>
                                    </li>
									<li class="img-style3__item">
                                        <div class="img-style3__img">
                                            <img src="../../images/eye/opening/opening_under_img_6.jpg" alt="STEP 04" class="img-w100"/>
                                        </div>
                                        <div class="img-style3__caption txt-new2">
                                            <div class="img-style3__vertical">
                                                STEP 04
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
						</div>
                    </div>
					<div class="new-style1 type-bottom type-opening2">
						<div class="new-style1__img">
							<img src="../../images/eye/opening/opening_img_3.jpg" alt="" class="img-normal"/>
						</div>
						<div class="new-style1__area">
							<h5 class="heading-bar">开下眼角的效果</h5>
						</div>
						<div class="inner-box type-list">
							<div class="new-description type-opening">
								<ul class="new-description__list">
									<li class="new-description__item">
										<p class="new-description__txt txt-new1">
											<span class="new-description__plus">+</span>
											增加眼睛宽度
										</p>
									</li>
									<li class="new-description__item">
										<p class="new-description__txt txt-new1">
											<span class="new-description__plus">+</span>
											自然的将眼仁位置调整至中间
										</p>
									</li>
									<li class="new-description__item">
										<p class="new-description__txt txt-new1">
											<span class="new-description__plus">+</span>
											眼白的充分露出让眼型看起来更清爽
										</p>
									</li>
									<li class="new-description__item">
										<p class="new-description__txt txt-new1">
											<span class="new-description__plus">+</span>
											矫正看起来凶悍的眼尾
										</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!--//new-section-->
				<div class="new-section">
					<div class="new-section__wrap type-w">
						<div class="operation-v2 type-eye">
							<div class="operation-v2__wrap">
								<h4 class="operation-v2__tit">手术详情</h4>
								<ul class="operation-v2__list">
									<li class="operation-v2__item nth-1 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">手术时间</h5>
											<p class="operation-v2__txt txt-new1">约30分</p>
										</div>
									</li>
									<li class="operation-v2__item nth-2 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">麻醉方法</h5>
											<p class="operation-v2__txt txt-new1">睡眠麻醉</p>
										</div>
									</li>
									<li class="operation-v2__item nth-3 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">拆线</h5>
											<p class="operation-v2__txt txt-new1">约5~7天后拆线</p>
										</div>
									</li>
									<li class="operation-v2__item nth-4 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">住院时间</h5>
											<p class="operation-v2__txt txt-new1">当天回家</p>
										</div>
									</li>
									<li class="operation-v2__item nth-5 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">来院治疗</h5>
											<p class="operation-v2__txt txt-new1">约2~3次</p>
										</div>
									</li>
									<li class="operation-v2__item nth-6 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">恢复</h5>
											<p class="operation-v2__txt txt-new1">约3~5天后恢复日常生活</p>
										</div>
									</li>

								</ul>
								<div class="pain-v2 type-eye">
									<h5 class="pain-v2__tit txt-new2">术后体感疼痛</h5>
									<ol class="pain-v2__list">
										<% for(var i = 1; i<= 10; i++){%>
											<%if(i <= 1){%>
												<li class="<%="pain-v2__item is-active nth-"+i%>">
													<div class="pain-v2__square">square</div>
												</li>
											<%}else{%>
												<li class="<%="pain-v2__item nth-"+i%>">
													<div class="pain-v2__wrap">
														<div class="pain-v2__square">square</div>
													</div>
												</li>
											<%}%>
										<%}%>
									</ol>
									<p class="pain-v2__txt txt-new1">
										由于是静脉注射，几乎没有因手术感到的疼痛。<br>
										术后可能会有辣眼睛等不适感，随时间推移会逐渐缓解。<br>
										发热或疼痛都可以通过处方止痛药来缓解，小心地在眼睛不受潮湿的前提下进行冷敷也是会有很大的帮助。<br>
										虽然去除掉切开部位的粘膜会看起来有些不协调，但为了防止粘连一定要习惯，防止眼睛的功能性产生问题。
									</p>
									<div class="pain-v2__box">
										<p class="pain-v2__noti txt-new4">* 通过对术后患者进行问卷调查得出的平均值</p>
										<p class="pain-v2__noti txt-new4">* 从数据不存在绝对性，会存在个人差异，仅供大家作为参考。</p>
									</div>
								</div><!-- //pain -->
							</div>
						</div>
					</div>

	            </div>
			</div><!-- //new-tab-content-->
        </div><!-- //new-content-wrap-->
    </div><!-- //content-->


</div> <!-- //container -->

<% include ../_include/_footer %>
