<%
	type = "detail"
	page = "eye"
%>
<% include ../_include/_header %>

<!-- Content -->
<div class="eye detail-common">
    <section class="fs_section eyeFirst js-first" data-section-name="home">
		<div class="detail__inner">
			<div class="detail__vertical">
				<p class="detail__first-tit type-eye">
					<span class="color-eye0">自然的，</span>
					<span class="detail__middle-piece">
						<span class="color-eye0">更加舒适的，</span>
					</span>
					<span class="detail__first-piece type-eye">
						<span class="color-eye0">更加美丽的，</span>
					</span>
				</p>
				<h3 class="detail__first-txt type-eye">
					<span class="detail__first-bwrap"> 在基础上更有技术的</span><br>
					<strong class="detail__first-point">佰诺佰琪 <span class="color-eye1">眼部整形细节</span></strong>
				</h3>
			</div>
		</div>
		<div class="scroll">
			<div class="inner">
				<i></i>
			</div>
			<em>SCROLL</em>
		</div>
    </section>

    <section class="fs_section n-eyeSection01" data-section-name="n-eyeSection01">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="detail__section-box type-wide type-eye type-quotation2">
	              	<h4 class="detail__section-tit">
	                	<strong>眼部整形</strong><span class="color-eye7">，</span><br>
						<span class="detail__section-bwrap">佰诺佰琪</span><br class="hidden-m">
						<strong class="color-eye2">是这样</strong>做的
	              	</h4>
	              	<p class="detail__section-subtit">从诊断到手术，量身定做的手术</p>
	              	<p class="detail__section-txt">
						眼部整形首先从眼睛的模样，眼皮两点出发，其次
						眼睛的感觉，睁眼时是否存在问题等多样化的
						进行诊断。因此商谈时间可能
						会久一些。但是正是通过这样一对一
						的缜密商谈更能设计出适合自身的详细
						的手术方案。
	              	</p>
	            </div>
			</div>
		</div>
		<div class="detail__dim">딤처리</div>
		<div class="detail__popup-m type-another">
			<div class="layer-doc hidden-p type-eye">
				<ul class="layer-doc__list">
					<li class="layer-doc__item">眼皮肌肉</li>
					<li class="layer-doc__item">瞳孔的大小和位置</li>
					<li class="layer-doc__item">皮肤厚度&弹力</li>
					<li class="layer-doc__item">眼角方向</li>
					<li class="layer-doc__item">蒙古皱纹模样</li>
					<li class="layer-doc__item">双眼间距</li>
					<li class="layer-doc__item">是否眼睑下垂</li>
				</ul>
			</div>
		</div>
		<div class="detail__section-bottom hidden-p">
			<div class="detail__section-set">
				<span>眼部整形诊疗体系</span>
				<span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open type-eye" data-popup-type="section">팝업버튼</a></span>
			</div>
		</div>
    </section>

	<section class="fs_section n-eyeSection02" data-section-name="n-eyeSection02">
	  	<div class="detail__inner">
			<div class="detail__vertical">
			  	<div class="detail__section-box type-eye type-normal">
				  	<h4 class="detail__section-tit">
					  	<strong>眼部整形</strong><span class="color-comma">，</span><br>
					  	<span class="detail__section-bwrap">佰诺佰琪</span><br>
					  	<strong class="color-eye3">效果显著。</strong>
				  	</h4>
				  	<p class="detail__section-subtit">和眼部整形相关的一切</p>
				  	<p class="detail__section-txt">
					  	佰诺佰琪最终追求的眼部整形的结果是这样的。
						<span class="detail__num">
							①没有手术痕迹，效果非常自然<br>
							②眼睛功能没有任何问题<br>
							③和本人整体形象相符合
						</span>
						佰诺佰琪为了更加美丽的眼型，几乎掌握了所有的手术方法。

				  	</p>
			  	</div>
			</div>
			<!-- layer-doc5 -->
  		  	<div class="layer-doc5">
  				<ul class="layer-doc5__list">
  					<li class="layer-doc5__item nth-1">
  						<div class="layer-doc5__wrap">
  							<p class="layer-doc5__num">01</p>
  							<p class="layer-doc5__txt">
  								眼部整形最基本的
  							</p>
  							<h5 class="layer-doc5__tit">双眼皮手术</h5>
  						</div>
  					</li>
  					<li class="layer-doc5__item nth-2">
  						<div class="layer-doc5__wrap">
  							<p class="layer-doc5__num">02</p>
  							<p class="layer-doc5__txt">
								调节眼皮肌肉力度的
  							</p>
  							<h5 class="layer-doc5__tit">眼肌矫正术</h5>
  						</div>
  					</li>
  					<li class="layer-doc5__item nth-3">
  						<div class="layer-doc5__wrap">
  							<p class="layer-doc5__num">03</p>
  							<p class="layer-doc5__txt">
  								连眉毛模样也考虑的
  							</p>
  							<h5 class="layer-doc5__tit">切眉提升</h5>
  						</div>
  					</li>
  					<li class="layer-doc5__item nth-4">
  						<div class="layer-doc5__wrap">
  							<p class="layer-doc5__num">04</p>
  							<p class="layer-doc5__txt">
								将眼睛模样<br class="hidden-p">变的更加美丽的
  							</p>
  							<h5 class="layer-doc5__tit">眼角整形</h5>
  						</div>
  					</li>
  					<li class="layer-doc5__item nth-5">
  						<div class="layer-doc5__wrap">
  							<p class="layer-doc5__num">05</p>
  							<p class="layer-doc5__txt">
  								考虑到脸部整体印象的
  							</p>
  							<h5 class="layer-doc5__tit">眼底脂肪再配置</h5>
  						</div>
  					</li>
  				</ul>
  		  	</div>
  		  	<!-- //layer-doc5 -->
		</div>
	</section>

	<section class="fs_section n-eyeSection03" data-section-name="n-eyeSection03">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="detail__section-box type-wide type-eye">
					<h4 class="detail__section-tit">
						<strong>眼部整形</strong><span class="color-comma">，</span><br>
						<span class="detail__section-bwrap">佰诺佰琪</span><br>
						<strong class="color-eye3">是特别的</strong>
					</h4>
					<p class="detail__section-subtit">非切开眼部整形的专业化医院，佰诺佰琪</p>
					<p class="detail__section-txt color-eye5">
						致力研究眼部整形和执刀<?=$sinceYear?>年的朴善在代表
						院长，带领的佰诺佰琪眼部整形团队在眼部整形方面，特别是非切开方法，相当的有自信。持续研究无需切开，就能将眼肌进行矫正的方法。
						就算是通过非切开的方式也能有鲜明和自然
						效果的眼部整形，一切尽在佰诺佰琪。
					</p>
				</div>
			</div>
  		</div>
		<div class="detail__dim">딤처리</div>
		<div class="detail__popup-m type-another"  >
			<div class="layer-doc hidden-p type-eye type-another">
				<ul class="layer-doc__list">
					<li class="layer-doc__item">非切开双眼皮</li>
					<li class="layer-doc__item">非切开前眼角</li>
					<li class="layer-doc__item">非切开眼肌矫正</li>
					<li class="layer-doc__item">非切开后眼角</li>
				</ul>
			</div>
		</div>
		<div class="detail__section-bottom hidden-p">
			<div class="detail__section-set">
				<span class="color-eye8">非切开眼部整形</span>
				<span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open type-eye" data-popup-type="section">팝업버튼</a></span>
			</div>
		</div>
    </section>

    <section class="fs_section n-eyeSection04" data-section-name="n-eyeSection04">
		<div class="detail__inner">
			<div class="detail__popup" >
			  	<div class="detail__popup-wrap">
				  	<h5 class="detail__popup-tit">非睡眠最小痛麻醉<span class="color-eye9">.</span></h5>
				 	<div class="eye-popup">
				 		<ul class="eye-popup__list">
				 			<li class="eye-popup__item nth-1">
				 				<div class="eye-popup__wrap">
				 					<p class="eye-popup__num">01</p>
				 					<h6 class="eye-popup__tit">采用 注射 针头</h6>
				 				</div>
				 			</li>
				 			<li class="eye-popup__item nth-2">
				 				<div class="eye-popup__wrap">
				 					<p class="eye-popup__num">02</p>
				 					<h6 class="eye-popup__tit">熟练地 专业化的 技巧</h6>
				 				</div>
				 			</li>
					 		<li class="eye-popup__item nth-3">
					 			<div class="eye-popup__wrap">
					 				<p class="eye-popup__num">03</p>
					 				<h6 class="eye-popup__tit">手术前 涂抹 麻醉霜</h6>
					 			</div>
					 		</li>
					 		<li class="eye-popup__item nth-4">
					 			<div class="eye-popup__wrap">
					 				<p class="eye-popup__num">04</p>
					 				<h6 class="eye-popup__tit">持续时间长 小体积的<span class="eye-popup__sub">（局部麻醉药）</span> 选择性的使用</h6>
					 			</div>
					 		</li>
					 		<li class="eye-popup__item nth-5"><div class="eye-popup__wrap">mark</div></li>
				 		</ul>
				 	</div>
				  	<a href="" class="detail__popup-close js-popup-close">关闭</a>
			  	</div>
		  	</div>
  		  	<div class="detail__vertical">
  			  	<div class="detail__section-box type-wide type-eye type-quotation2">
				  	<h4 class="detail__section-tit">
  					  	<strong>眼部整形</strong><span class="color-comma">，</span><br>
  					  	<span class="detail__section-bwrap">佰诺佰琪</span><br>
  					  	注重<strong class="color-eye3">细节</strong>
  				  	</h4>
  				  	<p class="detail__section-subtit">眼部整形，坚持非睡眠麻醉的理由</p>
  				  	<p class="detail__section-txt">
						眼部整形中，能在患者醒着的状态下进行手术
						的话效果将会更加自然。佰诺佰琪
						的眼部整形坚持采用非睡眠最小痛麻醉方式。
						就算是采用将痛症最小化的麻醉方法
						也是一直在反复进行研究，让我们医院的大多数
						患者比起睡眠麻醉能够更加舒适的进行手术。
  				  	</p>
  			  	</div>
  		  	</div><!-- //detail__vertical -->
	    </div>
	  	<div class="detail__section-bottom hidden-pt">
			<div class="detail__section-set">
				佰诺佰琪非睡眠最小痛麻醉
				<span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open type-eye">popup</a></span>
			</div>
		</div>
    </section>

	<section class="fs_section n-eyeSection05" data-section-name="n-eyeSection05">
		<div class="detail__inner">
	  		<div class="detail__vertical">
	  			<div class="detail__section-box type-wide type-eye type-quotation2">
	  				<h4 class="detail__section-tit">
	  					<strong>眼部整形</strong><span class="color-comma">，</span><br>
	  					<span class="detail__section-bwrap">患者的心声</span><br>
	  					是<strong>最为重要</strong>的。
	  				</h4>
	  				<p class="detail__section-subtit">一个月两次，定期会议绝不忽略的理由</p>
	  				<p class="detail__section-txt color-eye6">
						佰诺佰琪为了能更好的完成手术，每个月都会进行
						2次定期的会议。将眼部整形部门的职员聚集在一起进行指导医生商谈，护理，治疗等，将不同患者的案例进行分析和分享患者的真实情况。虽然可能会比较复杂，但是这<?=$sinceYear?>年期间，这一过程丝毫没有半点忽视，反而是能够保证更加突出的诊疗，更加让人满意的效果，更加充满自信。
					</p>
	  			</div>
	  		</div>
		</div>
    </section>
</div>
<!-- //Content -->

<% include ../_include/_footer %>
