<%
	type = "content"
	page = "eye"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>

    <!-- content-->
    <div class="content" data-page="eye-middleage">
		<% include ../_include/_tooltip %>

		<div class="new-visual type-middleage">
			<div class="new-visual__box">
				<div class="new-visual__outer">
					<div class="new-visual__inner">
						<p class="new-visual__subtit">自然地变年轻的眼型</p>
						<h3 class="new-visual__tit"><span class="n-color-eye2">中年</span>眼部整形</h3>
						<p class="new-visual__txt">变开朗的形象，同时改善眼部功能</p>
						<ul class="new-visual__list">
							<li class="new-visual__item"><span>#改善皮肤下垂</span></li>
							<li class="new-visual__item"><span>#负担小</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- //new-visual-->
        <div class="new-content-wrap">
			<div class="new-section">
				<div class="new-style1 type-middleage">
					<h4 class="new-style1__tit tit-new1 weight-regular">
                        中年眼部整形与一般情况下只为了美容而做眼部整形的年轻阶层的眼部整形<span class="n-color-eye2">需要区别开来。</span>
					</h4>
					<p class="new-style1__txt txt-new1">
						佰诺佰琪了解中年阶层眼部整形中的烦恼，<br class="hidden-tm">
						<span class="color-black1">一起探求下如何准确的改善那些顾虑和同时减少负担感的中年眼部整形。</span>
					</p>
					<div class="new-style1__img">
						<img src="../../images/eye/middleage/middleage_img_1.png" alt="중년 눈성형 수술 환자" class="img-normal">
					</div>
				</div>
				<div class="new-style1 type-middleage2 type-top0 type-bottom">
					<div class="inner-box type-middleage">
						<div class="img-style1 type-padding">
							<h5 class="new-content-tit tit-new2">
								佰诺佰琪通过可以实现这些价值的的细节化手术方案， 为打造<strong class="weight-bold">满意度更高的中年阶层眼部整形而不懈努力。</strong>
							</h5>
						</div>
						<div class="bar-style1 type-eye">
							<ul class="bar-style1__list">
								<li class="bar-style1__item txt-new1">
									<div class="bar-style1__wrap">
										<div class="vertical">
											比起眼睛的模样或大小华丽性的转变，通过改善眼角的皱纹和皮肤下垂，自然找回年轻的眼眸是很重要的。
										</div>
									</div>
								</li>
								<li class="bar-style1__item txt-new1">
									<div class="bar-style1__wrap">
										<div class="vertical">
											同时有关于手术的负担也必须减少。
										</div>
									</div>
								</li>
								<li class="bar-style1__item txt-new1">
									<div class="bar-style1__wrap">
										<div class="vertical">
											在此过程中，如果连下降的眼部功能也可以一起矫正的话会更好。
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div><!-- //new-section-->
			<div class="new-tab__line">line</div>
			<div class="new-tab type-eye">
				<div class="new-tab__tit">
					<div class="new-tab__wrap">
						<a href="" class="new-tab__btn">上眼睑</a>
					</div>
				</div>
				<ul class="new-tab__list">
					<li class="new-tab__item is-active page-upper">
						<div class="new-tab__wrap">
							<a href="page-upper" class="new-tab__link">上眼睑</a>
						</div>
					</li>
					<li class="new-tab__item page-lower">
						<div class="new-tab__wrap">
							<a href="page-lower" class="new-tab__link">下眼睑</a>
						</div>
					</li>
					<li class="new-tab__item page-pexy">
						<div class="new-tab__wrap">
							<a href="page-pexy" class="new-tab__link">切眉提升</a>
						</div>
					</li>
					<li class="new-tab__item page-brow">
						<div class="new-tab__wrap">
							<a href="page-brow" class="new-tab__link">眉毛提升</a>
						</div>
					</li>
				</ul>
			</div>

			<div class="new-tab-content page-upper is-active">
				<div class="new-section type-cling">
					<div class="new-style1 type-middleage3 type-bottom">
						<h4 class="new-style1__tit tit-new1 weight-regular">
	                        因为老化而导致的眼皮下垂，<br class="hidden-tm">即使<span class="n-color-eye3">为了眼部健康</span>也必须改善
						</h4>
						<p class="new-style1__txt txt-new1">
							与其他皮肤一样，眼皮随着时间流逝也会失去弹力，向下垂。<br class="hidden-tm">
							下垂的眼皮会让面部看起来衰老，遮住视野。<br class="hidden-tm">
							因为视野变窄而皱脸或提眉，会成为导致全脸皱纹形成的原因。<br class="hidden-tm">
							相对而言，眼睑下垂的最大问题，就是对眼睛健康也不好。<br class="hidden-tm">
							<span class="color-white">
                                会导致眼睛浮肿，容易流泪，眼尾溃疡接触性皮炎。<br class="hidden-tm">
								所以眼睑下垂通过上眼睑手术改善会比较好。
                            </span>
						</p>
						<div class="new-style1__img">
							<img src="../../images/eye/middleage/middleage_img_2.jpg" alt="model" class="img-normal">
						</div>
						<div class="inner-box type-middleage2">
							<div class="img-style2 type-four type-cling">
								<ul class="img-style2__list">
									<li class="img-style2__item">
										<div class="img-style2__box">
											<img src="../../images/eye/middleage/middleage_img_3.jpg" alt="小浮肿" class="img-w100">
											<div class="img-style2__caption txt-new1">小浮肿</div>
										</div>
									</li>
									<li class="img-style2__item">
										<div class="img-style2__box">
											<img src="../../images/eye/middleage/middleage_img_4.jpg" alt="眼睛下垂" class="img-w100">
											<div class="img-style2__caption txt-new1">眼睛下垂</div>
										</div>
									</li>
									<li class="img-style2__item">
										<div class="img-style2__box">
											<img src="../../images/eye/middleage/middleage_img_5.jpg" alt="眼泪" class="img-w100">
											<div class="img-style2__caption txt-new1">眼泪</div>
										</div>
									</li>
									<li class="img-style2__item">
										<div class="img-style2__box">
											<img src="../../images/eye/middleage/middleage_img_6.jpg" alt="眼尾溃疡" class="img-w100">
											<div class="img-style2__caption txt-new1">眼尾溃疡</div>
										</div>
									</li>
								</ul>
							</div>

						</div>
					</div>
				</div>
				<div class="new-section type-cling">
					<div class="new-style1 type-middleage4">
						<h4 class="new-style1__tit tit-new1 weight-regular">
	                        即便不舒服也犹豫不定的原因，<br class="hidden-tm">
	                        <span class="n-color-eye2">佰诺佰琪知道。</span>
						</h4>
						<p class="new-style1__txt txt-new1">
                            对于’’手术’’的恐惧，担心外貌的巨大变化，对于疼痛的负担，担心影响日常生活，<br class="hidden-tm">
                            很多患者因眼皮下垂而有许多不适，但都不能轻易决定做上眼睑手术。<br class="hidden-tm">
                            对手术的恐惧及担心面孔变了后大家都不认识了，以及对痛症及恢复有负担感等是原因。<br class="hidden-tm">
							<span class="color-black1">佰诺佰琪理解这一部分，为了给患者们提供更好的方案而不懈努力。</span>
						</p>
						<div class="new-style1__img">
							<img src="../../images/eye/middleage/middleage_img_7.jpg" alt="model" class="img-normal">
						</div>
					</div>
				</div>
				<div class="new-section type-cling">
					<div class="middleage-box1">
						<h4 class="middleage-box1__tit tit-new1 weight-regular">
	                        因为了解这个烦恼，<br class="hidden-tm">
	                        所以集中研究<span class="n-color-eye3">双重埋线上眼睑。</span>
						</h4>
						<p class="middleage-box1__txt txt-new1">
							类似之前说过的对上眼睑手术犹豫不决的理由中大部分因为手术时使用切开的方式导致。<br class="hidden-tm">
                            但是如果无切开的话，只用线来矫正下垂的眼睑，松弛的眼睑很难有效支撑住，会有再次松开的危险。<br class="hidden-tm">
							<span class="color-white">因此佰诺佰琪在基础的埋线法的方式上，利用组织的粘合性，研发出更有力度的双重埋线上眼睑手术。</span>
						</p>
						<div class="middleage-box1__img">
							<img src="../../images/eye/middleage/middleage_img_8.jpg"
							alt="双重埋线上眼睑手术 - 即使不切开,利用线的力量与组织黏连的双重力量,更安全地矫正眼睑" class="img-normal hidden-m">
							<img src="../../images/eye/middleage/middleage_img_8_m.jpg" alt="双重埋线上眼睑手术 - 即使不切开,利用线的力量与组织黏连的双重力量,更安全地矫正眼睑" class="img-w100 hidden-pt">
						</div>
					</div>
				</div>
				<div class="new-section type-cling">
					<div class="middleage-box2">
						<p class="middleage-box2__txt txt-new1">
							双重埋线上眼睑手术，即使不切开，利用线的力量与组织粘合的双重力量，进行更有效更安全的眼睑矫正。<br class="hidden-tm">
                            因为使用非切开的方式进行，有减少手术负担感的优点。<br class="hidden-tm">
                            缩短手术时间，因此恢复也更快。
						</p>
						<p class="middleage-box2__txt2 txt-new2">
							同时，因为手术后的浮肿与痛症小，<span class="n-color-eye2">更自然，对日常生活</span>不会造成很大困扰。
						</p>
						<div class="hexa-style1">
                            <div class="hexa-style1__layer nth1">
                                <div class="hexa-style1__box">
                                    <div class="hexa-style1__item">
                                        <div class="hexa-style1__desc">
                                            <p class="hexa-style1__txt1">
                                                <span class="inline-block">相比较短的</span>
                                                <span class="inline-block">手术时间</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="hexa-style1__box">
                                    <div class="hexa-style1__item">
                                        <div class="hexa-style1__desc">
                                            <p class="hexa-style1__txt1">
                                                <span class="inline-block">相比较</span>
                                                <span class="inline-block">快速的恢复</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="hexa-style1__layer nth2">
                                <div class="hexa-style1__box">
                                    <div class="hexa-style1__item">
                                        <div class="hexa-style1__desc">
                                            <p class="hexa-style1__txt1">
                                                <span class="inline-block">有效的</span>
                                                <span class="inline-block">安全的矫正</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="hexa-style1__box">
                                    <div class="hexa-style1__item type-special">
                                        <div class="hexa-style1__desc">
                                            <p class="hexa-style1__txt1">
                                                <span class="inline-block">双重埋线</span>
                                                <span class="inline-block">上眼睑</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="hexa-style1__box">
                                    <div class="hexa-style1__item">
                                        <div class="hexa-style1__desc">
                                            <p class="hexa-style1__txt1">
                                                <span class="inline-block">睁眼力量</span>
                                                <span class="inline-block">强化</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="hexa-style1__layer nth3">
                                <div class="hexa-style1__box">
                                    <div class="hexa-style1__item">
                                        <div class="hexa-style1__desc">
                                            <p class="hexa-style1__txt1">
                                                <span class="inline-block">自然</span>
                                                <span class="inline-block">柔和的眼眸</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="hexa-style1__box">
                                    <div class="hexa-style1__item">
                                        <div class="hexa-style1__desc">
                                            <p class="hexa-style1__txt1">
                                                <span class="inline-block">年轻明朗的</span>
                                                <span class="inline-block">形象</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
					</div>
				</div>
				<div class="new-section">
					<div class="new-section__wrap type-w">
						<div class="operation-v2 type-eye">
							<div class="operation-v2__wrap">
								<h4 class="operation-v2__tit">手术详情</h4>
								<ul class="operation-v2__list">
									<li class="operation-v2__item nth-1 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">手术时间</h5>
											<p class="operation-v2__txt txt-new1">约30分</p>
										</div>
									</li>
									<li class="operation-v2__item nth-2 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">麻醉方法</h5>
											<p class="operation-v2__txt txt-new1">局部麻醉/非睡眠最小痛麻醉</p>
										</div>
									</li>
									<li class="operation-v2__item nth-3 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">拆线</h5>
											<p class="operation-v2__txt txt-new1">约3~5天后拆线</p>
										</div>
									</li>
									<li class="operation-v2__item nth-4 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">住院时间</h5>
											<p class="operation-v2__txt txt-new1">当天回家</p>
										</div>
									</li>
									<li class="operation-v2__item nth-5 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">来院治疗</h5>
											<p class="operation-v2__txt txt-new1">约1次</p>
										</div>
									</li>
									<li class="operation-v2__item nth-6 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">恢复</h5>
											<p class="operation-v2__txt txt-new1">约7~14天后恢复日常生活</p>
										</div>
									</li>

								</ul>
								<div class="pain-v2 type-eye">
									<h5 class="pain-v2__tit txt-new2">术后体感疼痛</h5>
									<ol class="pain-v2__list">
										<% for(var i = 1; i<= 10; i++){%>
											<%if(i <= 1){%>
												<li class="<%="pain-v2__item is-active nth-"+i%>">
													<div class="pain-v2__square">square</div>
												</li>
											<%}else{%>
												<li class="<%="pain-v2__item nth-"+i%>">
													<div class="pain-v2__wrap">
														<div class="pain-v2__square">square</div>
													</div>
												</li>
											<%}%>
										<%}%>
									</ol>
									<p class="pain-v2__txt txt-new1">
										通过非睡眠最小疼痛感的麻醉来进行麻醉，减少疼痛感。<br>
										手术后也许会伴随麻刺感与发热感，随着时间会渐渐缓和。
									</p>
									<div class="pain-v2__box">
										<p class="pain-v2__noti txt-new4">* 通过对术后患者进行问卷调查得出的平均值</p>
										<p class="pain-v2__noti txt-new4">* 从数据不存在绝对性，会存在个人差异，仅供大家作为参考。</p>
									</div>
									<!-- <a href="<?php echo SITE_UPLOAD_URL?>/knowledge/eye.pdf" target="_blank" class="operation-v2__link"><span>查看术后注意事项</span></a> -->
								</div><!-- //pain -->
							</div>
						</div>
					</div>
	            </div>
				<div class="new-section">
					<div class="new-style1 type-middleage4 type-bottom">
						<h4 class="new-style1__tit tit-new1 weight-regular">
	                        即使是切开法上眼睑手术<br class="hidden-m"><span class="n-color-eye2">也会很自然</span>。
						</h4>
						<p class="new-style1__txt txt-new1">
                            失去弹性又松弛严重的情况下，事实上通过双重埋线上眼睑手术改善也是很困难的。<br class="hidden-tm">
                            无论怎么精密的矫正，即使改善了睁眼的力量，下垂的皮肤还是会松弛，意义就不大了。<br class="hidden-tm">
                            这种情况必须进行切开法上眼睑手术。<br class="hidden-tm">
                            <span class="color-black1">去除下垂的眼睑与过多的脂肪等，可以有效地改善眼皮的松弛。</span>
						</p>
						<p class="new-style1__txt2 txt-new2">
							即使是切开法上眼睑手术,也无需考虑双眼皮过厚或<span class="n-color-eye2">外貌改变过多。</span>
						</p>
						<p class="new-style1__txt txt-new1">
							因为佰诺佰琪凭借多年间的技术与审美感，可以调整双眼皮的线条。<br class="hidden-tm">
							依据每个人的眼睑状态，就在睫毛上方精密切开，形成小的双眼皮，或不做另外固定可以不做双眼皮线条。<br class="hidden-tm">
							当然因为切开手术的原因，手术结束后相对双重埋线上眼睑手术看起来会更肿一些，看起来会稍有不适应的感觉。<br class="hidden-tm">
							<span class="color-black1">但是随着时间恢复，消肿后会很自然，获得满意的效果。</span>
						</p>
						<div class="new-style1__img">
							<img src="../../images/eye/middleage/middleage_img_7.jpg" alt="model" class="img-normal">
						</div>
						<div class="inner-box type-middleage3">
							<div class="middleage-box3">
								<h5 class="new-content-tit tit-new2">核心之处</h5>
								<div class="middleage-box3__img">
									<img src="../../images/eye/middleage/middleage_img_10.jpg" alt="切除松弛的皮肤" class="img-normal">
								</div>
								<ul class="middleage-box3__list">
									<li class="middleage-box3__item">
										<div class="middleage-box3__border">
											<div class="vertical">
												<p class="middleage-box3__num">01</p>
												<p class="middleage-box3__txt">
                                                    通过与睫毛临近处切开，形成自然的双眼皮曲线
												</p>
											</div>
										</div>
									</li>
									<li class="middleage-box3__item">
										<div class="middleage-box3__border">
											<div class="vertical">
												<p class="middleage-box3__num">02</p>
												<p class="middleage-box3__txt">
                                                    通过缜密的计算决定需要切除眼皮的量
												</p>
											</div>
										</div>
									</li>
									<li class="middleage-box3__item">
										<div class="middleage-box3__border">
											<div class="vertical">
												<p class="middleage-box3__num">03</p>
												<p class="middleage-box3__txt">
                                                    只切除必须的部分诱导快速恢复
												</p>
											</div>
										</div>
									</li>
									<li class="middleage-box3__item">
										<div class="middleage-box3__border">
											<div class="vertical">
												<p class="middleage-box3__num">04</p>
												<p class="middleage-box3__txt">
                                                    通过鲜明又有生机的眼眸打造清爽的形象
												</p>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="new-section">
					<div class="new-section__wrap type-w">
						<div class="operation-v2 type-eye">
							<div class="operation-v2__wrap">
								<h4 class="operation-v2__tit">手术详情</h4>
								<ul class="operation-v2__list">
									<li class="operation-v2__item nth-1 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">手术时间</h5>
											<p class="operation-v2__txt txt-new1">约40分~1小时</p>
										</div>
									</li>
									<li class="operation-v2__item nth-2 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">麻醉方法</h5>
											<p class="operation-v2__txt txt-new1">局部麻醉/非睡眠最小痛麻醉</p>
										</div>
									</li>
									<li class="operation-v2__item nth-3 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">拆线</h5>
											<p class="operation-v2__txt txt-new1">约5~7天后拆线</p>
										</div>
									</li>
									<li class="operation-v2__item nth-4 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">住院时间</h5>
											<p class="operation-v2__txt txt-new1">当天回家</p>
										</div>
									</li>
									<li class="operation-v2__item nth-5 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">来院治疗</h5>
											<p class="operation-v2__txt txt-new1">约1次</p>
										</div>
									</li>
									<li class="operation-v2__item nth-6 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">恢复</h5>
											<p class="operation-v2__txt txt-new1">约7~14天后恢复日常生活</p>
										</div>
									</li>

								</ul>
								<div class="pain-v2 type-eye">
									<h5 class="pain-v2__tit txt-new2">术后体感疼痛</h5>
									<ol class="pain-v2__list">
										<% for(var i = 1; i<= 10; i++){%>
											<%if(i <= 1){%>
												<li class="<%="pain-v2__item is-active nth-"+i%>">
													<div class="pain-v2__square">square</div>
												</li>
											<%}else{%>
												<li class="<%="pain-v2__item nth-"+i%>">
													<div class="pain-v2__wrap">
														<div class="pain-v2__square">square</div>
													</div>
												</li>
											<%}%>
										<%}%>
									</ol>
									<p class="pain-v2__txt txt-new1">
										通过非睡眠最小疼痛感的麻醉来进行麻醉，减少疼痛感。<br>
										手术后也许会伴随麻刺感与发热感，随着时间会渐渐缓和。<br>
										因浮肿而产生的痛症可通过医院处方的镇痛剂来缓解，同时冰敷也有效果
									</p>
									<div class="pain-v2__box">
                                        <p class="pain-v2__noti txt-new4">* 通过对术后患者进行问卷调查得出的平均值</p>
										<p class="pain-v2__noti txt-new4">* 从数据不存在绝对性，会存在个人差异，仅供大家作为参考。</p>
									</div>
									<!-- <a href="<?php echo SITE_UPLOAD_URL?>/knowledge/eye.pdf" target="_blank" class="operation-v2__link"><span>查看术后注意事项</span></a> -->
								</div><!-- //pain -->
							</div>
						</div>
					</div>

	            </div>
				<!--//new-section-->
			</div><!-- //new-tab-content-->

			<div class="new-tab-content page-lower">
				<div class="new-section type-cling">
					<div class="new-style1 type-middleage3 type-bottom">
						<h4 class="new-style1__tit tit-new1 weight-regular">
	                        复杂性的眼底老化痕迹，<br class="hidden-tm">
	                        通过<span class="n-color-eye3">下眼睑手术就能改善</span>
						</h4>
						<p class="new-style1__txt txt-new2">
							眼下和眼周围的细纹是眼角老化看起来最明显的部位。
						</p>
						<p class="new-style1__txt2 txt-new1">
							眼下皮肤失去弹力，形成浮肿的皱纹，可以看出肤色深沉或脂肪袋松弛的状态。<br class="hidden-tm">
                            因为这种样子会造成看起来疲惫或给人以老态的印象，如果通过下眼睑手术给与改善的话，相对来说看起来会更加年轻，看起来会有形象变开朗的的效果。
							因为阳光照射导致的细小的皱纹，虽然可以考虑使用镭射治疗<br class="hidden-tm"><span class="color-white">大部分情况还是通过下眼睑手术的方法改善最有效果的。</span>
						</p>
						<div class="new-style1__img">
							<img src="../../images/eye/middleage/middleage_img_11.jpg" alt="model" class="img-normal">
						</div>
						<div class="inner-box type-middleage3">
							<div class="middleage-box4">
								<div class="middleage-box4__box type-left">
									<img src="../../images/eye/middleage/middleage_eye_1.png" class="img-w100" alt="需要做下眼睑手术的情况"/>
								</div>
								<div class="middleage-box4__box type-right">
									<img src="../../images/eye/middleage/middleage_eye_2.png" class="img-w100" alt="需要做下眼睑手术的情况"/>
								</div>
								<h5 class="middleage-box4__tit">需要做下眼睑手术的情况</h5>
								<span class="eclipsis-style1">
									<span class="eclipsis-style1__circle">dot</span>
									<span class="eclipsis-style1__circle">dot</span>
									<span class="eclipsis-style1__circle">dot</span>
									<span class="eclipsis-style1__circle">dot</span>
								</span>
								<p class="middleage-box4__txt">
									看上去暗沉的眼底<br>
									眼底的皱纹<br>
									眼底形成厚重的眼袋
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="new-section type-cling">
					<div class="new-style1 type-middleage4">
						<h4 class="new-style1__tit tit-new1 weight-regular">
	                        下眼睑是能达到<span class="n-color-eye2">多种改善效果</span>的手术
						</h4>
						<p class="new-style1__txt txt-new1">
							下眼睑手术是将下眼皮的睫毛根处切开后去除不必要的皮肤或脂肪的手术。<br class="hidden-tm">
							<span class="color-black1">患者依据个人状况，如果皱纹长得很深的情况拉伸皱纹即可，而脂肪袋形成后造成眼下部位突出的情形下，去除适量脂肪后，再精细地铺平开。</span>
							因为通过一次手术便可改善皱纹，肤质，脂肪等眼底复合型问题，所以是满意度很高的手术。
						</p>
						<div class="inner-circle type-eye">
							<ul class="inner-circle__list">
				 				<li class="inner-circle__item txt-new1">
									<div class="vertical-box">
										维持光滑<br>
										的眼底
									</div>
								</li>
						 		<li class="inner-circle__item txt-new1">
									<div class="vertical-box">
										变开朗<br>
										的形象
									</div>
								</li>
						 		<li class="inner-circle__item txt-new1">
									<div class="vertical-box">童颜效果</div>
								</li>
						 	</ul>
						</div>
						<div class="new-style1__img">
							<img src="../../images/eye/middleage/middleage_img_12.jpg" alt="model" class="img-normal">
						</div>
					</div>
				</div>
				<div class="new-section type-cling">
					<div class="middleage-box5">
						<ul class="middleage-box5__list">
							<li class="middleage-box5__item">
								<h4 class="middleage-box5__tit tit-new1">
									因为切口是在眼睫毛内部，<br class="hidden-tm">
									所以几乎看不到疤痕，<br class="hidden-tm">
									<span class="n-color-eye3">负担小，自然地<br class="hidden-tm">改善眼底老化</span>
								</h4>
								<p class="middleage-box5__txt txt-new1">
									下眼睑手术过程中，皮肤如果过度切除，白眼球会看起来外露，找到有丰富的经验及能体系化手术的专家是很重要的。
									<span class="color-white">佰诺佰琪使用精密的切开，与通过皮肤内侧红色结膜去除脂肪的双重方法，减少副作用可能性的同时，促进术后更加快速恢复。</span>
								</p>
							</li>
							<li class="middleage-box5__item type-img">
								<img src="../../images/eye/middleage/middleage_img_32.jpg" alt="model" class="img-w100">
							</li>
						</ul>
						<div class="middleage-box5__wrap">
							<div class="inner-circle type-eye2 type-big">
								<ul class="inner-circle__list">
					 				<li class="inner-circle__item txt-new1">
										<div class="vertical-box">
											与睫毛根<br>
											临近处切开<br>
											疤痕负担感少
										</div>
									</li>
							 		<li class="inner-circle__item txt-new1">
										<div class="vertical-box">
											通过精密的<br>
											脂肪矫正<br>
											维持光滑平整<br>
											的眼底
										</div>
									</li>
							 		<li class="inner-circle__item txt-new1">
										<div class="vertical-box">
											的眼底<br>
											的手术<br>
											减少副作用
										</div>
									</li>
									<li class="inner-circle__item txt-new1">
										<div class="vertical-box">
											进行适当的<br>
											切开后，通过管理<br>
											促进恢复
										</div>
									</li>
							 	</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="new-section type-cling">
					<div class="middleage-box6">
						<div class="middleage-box6__wrap">
							<div class="middleage-box6__box">
								<div class="middleage-box6__top hidden-pt">
									<img src="../../images/eye/middleage/middleage_bg_4_m.jpg" alt="model" class="img-w100"/>
								</div>
								<h4 class="middleage-box6__tit tit-new1">
									重新找回岁月<br class="hidden-tm"><span class="n-color-eye3">带走的美丽</span>
								</h4>
								<p class="middleage-box6__txt txt-new1">
									上了年纪却为何还能如此美丽<br class="hidden-tm">周围人先察觉出来，然后告诉自己.. 好像重生了一样~
								</p>
								<div class="middleage-box6__img">
									<p class="middleage-box6__caption">before</p>
									<img src="../../images/eye/middleage/middleage_img_13.jpg" alt="before" class="img-w100"/>
								</div>
								<p class="middleage-box6__noti">
									※ 本图片依拍摄条件不同与实物会有差距，取得患者本人同意拍摄后刊发。(术后3个月)
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="new-section">
					<div class="new-section__wrap type-w">
						<div class="operation-v2 type-eye">
							<div class="operation-v2__wrap">
								<h4 class="operation-v2__tit">手术详情</h4>
								<ul class="operation-v2__list">
									<li class="operation-v2__item nth-1 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">手术时间</h5>
											<p class="operation-v2__txt txt-new1">约1小时</p>
										</div>
									</li>
									<li class="operation-v2__item nth-2 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">麻醉方法</h5>
											<p class="operation-v2__txt txt-new1">睡眠麻醉</p>
										</div>
									</li>
									<li class="operation-v2__item nth-3 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">拆线</h5>
											<p class="operation-v2__txt txt-new1">约7天后拆线</p>
										</div>
									</li>
									<li class="operation-v2__item nth-4 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">住院时间</h5>
											<p class="operation-v2__txt txt-new1">当天回家</p>
										</div>
									</li>
									<li class="operation-v2__item nth-5 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">来院治疗</h5>
											<p class="operation-v2__txt txt-new1">约1次</p>
										</div>
									</li>
									<li class="operation-v2__item nth-6 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">恢复</h5>
											<p class="operation-v2__txt txt-new1">约7~14天后恢复日常生活</p>
										</div>
									</li>

								</ul>
								<div class="pain-v2 type-eye">
									<h5 class="pain-v2__tit txt-new2">术后体感疼痛</h5>
									<ol class="pain-v2__list">
										<% for(var i = 1; i<= 10; i++){%>
											<%if(i <= 1){%>
												<li class="<%="pain-v2__item is-active nth-"+i%>">
													<div class="pain-v2__square">square</div>
												</li>
											<%}else{%>
												<li class="<%="pain-v2__item nth-"+i%>">
													<div class="pain-v2__wrap">
														<div class="pain-v2__square">square</div>
													</div>
												</li>
											<%}%>
										<%}%>
									</ol>
									<p class="pain-v2__txt txt-new1">
										通过静脉麻醉，几乎没有痛症<br>
										手术后也许会伴随麻刺感与发热感，随着时间会渐渐缓和。<br>
										因浮肿眼睛会有外翻的感觉，时间久了自然会恢复<br>
										细微的痛症可通过医院处方的镇痛剂来缓解，同时冰敷也有效果
									</p>
									<div class="pain-v2__box">
										<p class="pain-v2__noti txt-new4">* 通过对术后患者进行问卷调查得出的平均值</p>
										<p class="pain-v2__noti txt-new4">* 从数据不存在绝对性，会存在个人差异，仅供大家作为参考。</p>
									</div>
									<a href="<?php echo SITE_UPLOAD_URL?>/knowledge/eye.pdf" target="_blank" class="operation-v2__link"><span>查看术后注意事项</span></a>
								</div><!-- //pain -->
							</div>
						</div>
					</div>

	            </div>
			</div>

			<div class="new-tab-content page-pexy">
				<div class="new-section type-cling">
	                <div class="new-style1 type-bottom type-middleage3">
	                    <h4 class="new-style1__tit tit-new1 weight-regular">
	                        切眉提升是<span class="n-color-eye3">提拉眉毛周围的皮肤，</span>改善下垂的眼皮
	                    </h4>
	                    <p class="new-style1__txt txt-new1">
	                        <span class="color-white">切眉提升是Brow(眉毛)及Pexy(提升后固定的手术)的合成词，正如此单词一样，切开眉毛周围的皮肤，并进行提拉的手术。</span><br class="hidden-tm">
							切开的位置是眉毛上面或者眉毛下面，选择适合患者的部位进行切开，切口的话尽可能被遮盖住。<br class="hidden-tm">
							为了预防以后眼皮的下垂，在眼皮能自然移动的前提下，把眼皮牢牢地固定在骨膜上，松弛的皮肤切开后缝合完，结束手术。
	                    </p>
	                    <div class="new-style1__img">
	                        <img src="../../images/eye/middleage/middleage_img_14.jpg" alt="model" class="img-normal">
	                    </div>
	                    <div class="inner-box">
	                        <div class="img-style6">
								<h5 class="new-content-tit tit-new2">佰诺佰琪切眉手术方法</h5>
								<ul class="img-style6__list">
									<li class="img-style6__item">
										<div class="img-style6__img">
											<img src="../../images/eye/middleage/middleage_img_15.jpg" alt="STEP. 01" class="img-w100">
										</div>
										<div class="img-style6__area">
											<div class="img-style6__inner">
												<div class="img-style6__vertical">
													<p class="img-style6__subject txt-new2">STEP. 01</p>
													<p class="img-style6__txt2 txt-new1">
														眉毛上或者下中，选择适合患者状态的位置，切开下垂的皮肤。
													</p>
												</div>
											</div>
										</div>
									</li>
									<li class="img-style6__item">
										<div class="img-style6__img">
											<img src="../../images/eye/middleage/middleage_img_16.jpg" alt="STEP. 02" class="img-w100">
										</div>
										<div class="img-style6__area">
											<div class="img-style6__inner">
												<div class="img-style6__vertical">
													<p class="img-style6__subject txt-new2">STEP. 02</p>
													<p class="img-style6__txt2 txt-new1">
														提拉切开的部位
													</p>
												</div>
											</div>
										</div>
									</li>
									<li class="img-style6__item">
										<div class="img-style6__img">
											<img src="../../images/eye/middleage/middleage_img_17.jpg" alt="STEP. 03" class="img-w100">
										</div>
										<div class="img-style6__area">
											<div class="img-style6__inner">
												<div class="img-style6__vertical">
													<p class="img-style6__subject txt-new2">STEP. 03</p>
													<p class="img-style6__txt2 txt-new1">
														为了防止下垂的复发，固定好之后缝合。
													</p>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
	                    </div>
	                </div>
	            </div>
				<div class="new-section type-cling">
					<div class="new-style1 type-middleage4 type-bottom">
						<h4 class="new-style1__tit tit-new1 weight-regular">
							更<span class="n-color-eye2">自然</span>更有<span class="n-color-eye2">效果</span>
						</h4>
						<p class="new-style1__txt txt-new1">
							佰诺佰琪切眉提升的核心是直接调整眼皮或者不切开因为不是提拉眼皮，是提拉松弛的皮肤，所以改善眼皮下垂的同时，不改变眼型因为保持本人原有的眼型，所以不用担心太大的变化，但是看上去会更自然年轻另外，<span class="color-black1">相对来说手术的痛症更少，恢复更快，所以有对手术没有负担感的优点</span>
						</p>
						<div class="new-style1__img">
							<img src="../../images/eye/middleage/middleage_img_18.jpg" alt="model" class="img-normal">
						</div>
						<div class="inner-box">
							<div class="img-style1">
								<h5 class="new-content-tit tit-new2">佰诺佰琪切眉提升的优点</h5>
								<ul class="img-style1__list type-half">
									<li class="img-style1__item">
										<img src="../../images/eye/middleage/middleage_img_19.jpg" class="img-w100" alt="更自然的眼型">
										<h6 class="img-style1__subject txt-new2">更自然的眼型</h6>
										<p class="img-style1__caption txt-new1">
											不另开双眼皮，保持本人的眼型，因此更加自然
										</p>
									</li>
									<li class="img-style1__item">
										<img src="../../images/eye/middleage/middleage_img_20.jpg" class="img-w100" alt="相对来说简单的手术">
										<h6 class="img-style1__subject txt-new2">相对来说简单的手术</h6>
										<p class="img-style1__caption txt-new1">
                                            相对来说痛症少，恢复快，术后疤痕也藏在眉毛里，几乎看不到
										</p>
									</li><li class="img-style1__item">
										<img src="../../images/eye/middleage/middleage_img_21.jpg" class="img-w100" alt="看上去更年轻的形象">
										<h6 class="img-style1__subject txt-new2">看上去更年轻的形象</h6>
										<p class="img-style1__caption txt-new1">
                                            直接提拉下垂的皮肤使形象看上去更年轻
										</p>
									</li><li class="img-style1__item">
										<img src="../../images/eye/middleage/middleage_img_22.jpg" class="img-w100" alt="从功能上进行改善">
										<h6 class="img-style1__subject txt-new2">从功能上进行改善</h6>
										<p class="img-style1__caption txt-new1">
                                            改善因频繁浮肿，皮肤溃烂等眼皮下垂而导致的问题
										</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="new-section">
					<div class="new-section__wrap type-w">
						<div class="operation-v2 type-eye">
							<div class="operation-v2__wrap">
								<h4 class="operation-v2__tit">手术详情</h4>
								<ul class="operation-v2__list">
									<li class="operation-v2__item nth-1 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">手术时间</h5>
											<p class="operation-v2__txt txt-new1">约O分~1小时</p>
										</div>
									</li>
									<li class="operation-v2__item nth-2 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">麻醉方法</h5>
											<p class="operation-v2__txt txt-new1">局部麻醉/非睡眠最小痛麻醉</p>
										</div>
									</li>
									<li class="operation-v2__item nth-3 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">拆线</h5>
											<p class="operation-v2__txt txt-new1">约4~5天后拆线</p>
										</div>
									</li>
									<li class="operation-v2__item nth-4 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">住院时间</h5>
											<p class="operation-v2__txt txt-new1">当天回家</p>
										</div>
									</li>
									<li class="operation-v2__item nth-5 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">来院治疗</h5>
											<p class="operation-v2__txt txt-new1">不需要</p>
										</div>
									</li>
									<li class="operation-v2__item nth-6 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">恢复</h5>
											<p class="operation-v2__txt txt-new1">约3~5天后恢复日常生活</p>
										</div>
									</li>

								</ul>
								<div class="pain-v2 type-eye">
									<h5 class="pain-v2__tit txt-new2">术后体感疼痛</h5>
									<ol class="pain-v2__list">
										<% for(var i = 1; i<= 10; i++){%>
											<%if(i <= 1){%>
												<li class="<%="pain-v2__item is-active nth-"+i%>">
													<div class="pain-v2__square">square</div>
												</li>
											<%}else{%>
												<li class="<%="pain-v2__item nth-"+i%>">
													<div class="pain-v2__wrap">
														<div class="pain-v2__square">square</div>
													</div>
												</li>
											<%}%>
										<%}%>
									</ol>
									<p class="pain-v2__txt txt-new1">
										通过非睡眠最小痛麻醉，减少痛症<br>
										手术后也许会伴随麻刺感与发热感，随着时间会渐渐缓和。<br>
										拆线及消毒会稍微有点疼痛<br>
										因浮肿而产生的痛症可通过医院处方的镇痛剂来缓解，同时冰敷也有效果
									</p>
									<div class="pain-v2__box">
										<p class="pain-v2__noti txt-new4">* 通过对术后患者进行问卷调查得出的平均值</p>
										<p class="pain-v2__noti txt-new4">* 从数据不存在绝对性，会存在个人差异，仅供大家作为参考。</p>
									</div>
									<!-- <a href="<?php echo SITE_UPLOAD_URL?>/knowledge/eye.pdf" target="_blank" class="operation-v2__link"><span>查看术后注意事项</span></a> -->
								</div><!-- //pain -->
							</div>
						</div>
					</div>
	            </div>
			</div>

			<div class="new-tab-content page-brow">
				<div class="new-section type-cling">
					<div class="new-style1 type-middleage3">
						<h4 class="new-style1__tit tit-new1 weight-regular">
	                        <span class="n-color-eye3">从额头开始的下垂一直</span><br class="hidden-tm">
							延生到眼皮的下垂
						</h4>
						<p class="new-style1__txt txt-new1">
                            皮肤松弛是指失去弹力的皮肤在重力的影响下，比原来的位置向下垂另外人体的皮肤几乎所有的部位都有紧密的联系。<br class="hidden-tm">
							因此上面部中最上面的部位额头出现下垂的话，受其影响，眉毛及眼皮也会下垂，眉间及眉角的皱纹等出现下垂的可能性高。<br class="hidden-tm">
							<span class="color-white">因此考虑到眼睛皱纹或眼皮下垂的原因是额头下垂的话，比起单纯只改善眼角老化的手术，选择全方位提拉上面部的眉毛提升更好。</span>
						</p>
						<div class="inner-circle type-eye2 type-mbig">
							<ul class="inner-circle__list">
				 				<li class="inner-circle__item txt-new1">
									<div class="vertical-box">
										因上面部<br>
										因上面部<br>
										看上去郁<br>
										闷的情况
									</div>
								</li>
						 		<li class="inner-circle__item txt-new1">
									<div class="vertical-box">
										眉间皱纹<br>
										严重的情<br>
                                        况
									</div>
								</li>
						 		<li class="inner-circle__item txt-new1">
									<div class="vertical-box">
										鼻梁及眼<br>
										角皱纹严<br>
										重的情况
									</div>
								</li>
								<li class="inner-circle__item txt-new1">
									<div class="vertical-box">
										眉毛及眉毛之<br>
										间狭窄，皱纹多的情况
									</div>
								</li>
						 	</ul>
						</div>
						<div class="new-style1__img">
							<img src="../../images/eye/middleage/middleage_img_23.jpg" alt="model" class="img-normal">
						</div>
					</div>
				</div>
				<div class="new-section type-cling">
	                <div class="new-style1 type-bottom type-middleage4">
	                    <h4 class="new-style1__tit tit-new1 weight-regular">
	                        更<span class="n-color-eye2">直接地提升</span>，更<span class="n-color-eye2">有效果</span>
	                    </h4>
	                    <p class="new-style1__txt txt-new1">
	                        眉毛提升的原理相对来说比较简单，<br class="hidden-tm">
							在发际线部位进行切口后,剥离包括眉毛的额头后,进行提拉。<br class="hidden-tm">
							提拉的皮肤用*安多泰均匀固定后缝合。
	                    </p>
						<div class="new-style1__img">
							<img src="../../images/eye/middleage/middleage_img_24.jpg" alt="model" class="img-normal">
						</div>
	                    <div class="inner-box">
	                        <div class="img-style6">
								<h5 class="new-content-tit tit-new2">佰诺佰琪内视镜额头提升方法</h5>
								<ul class="img-style6__list">
									<li class="img-style6__item">
										<div class="img-style6__img">
											<img src="../../images/eye/middleage/middleage_img_25.jpg" alt="01 佰诺佰琪内视镜额头提升方法" class="img-w100">
										</div>
										<div class="img-style6__area">
											<div class="img-style6__inner">
												<div class="img-style6__vertical">
													<p class="img-style6__txt2 txt-new1">
														01<br>
														佰诺佰琪内视镜额头提升方法
													</p>
												</div>
											</div>
										</div>
									</li>
									<li class="img-style6__item">
										<div class="img-style6__img">
											<img src="../../images/eye/middleage/middleage_img_26.jpg" alt="02 通过内视镜放大神经血管的位置，匀称地剥离下垂的额头。" class="img-w100">
										</div>
										<div class="img-style6__area">
											<div class="img-style6__inner">
												<div class="img-style6__vertical">
													<p class="img-style6__txt2 txt-new1">
														02<br>
														通过内视镜放大神经血管的位置，匀称地剥离下垂的额头。
													</p>
												</div>
											</div>
										</div>
									</li>
									<li class="img-style6__item">
										<div class="img-style6__img">
											<img src="../../images/eye/middleage/middleage_img_27.jpg"  alt="03 在头盖骨或深筋膜上放置安多泰，考虑到眉毛的位置和额头皱纹等，提拉下垂的额头后，固定安多泰。" class="img-w100">
										</div>
										<div class="img-style6__area">
											<div class="img-style6__inner">
												<div class="img-style6__vertical">
													<p class="img-style6__txt2 txt-new1">
														03<br>
														在头盖骨或深筋膜上放置<span class="n-color-eye2">*安多泰</span>，考虑到眉毛的位置和额头皱纹等，提拉下垂的额头后，固定<span class="n-color-eye2">*安多泰</span>。
													</p>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</div>

							<div class="section-noti txt-new1">
								*切开及安多泰的位置根据患者各人的情况会有所不同。
							</div>

							<div class="inner-stripe type-line-zero">
								<ul class="inner-stripe__list">
									<li class="inner-stripe__item">
										<div class="inner-stripe__wrap">
											<div class="inner-stripe__box">
												<div class="inner-stripe__img">
													<img src="../../images/eye/middleage/middleage_img_31.png" alt="安多泰" class="img-responsive">
												</div>
											</div>
											<p class="inner-stripe__subject txt-new1 n-color-eye2">* 安多泰</p>
											<p class="inner-stripe__txt txt-new1">
												安多泰是受到美国FDA认证的安全的，身体无公害的材料。<br class="hidden-tm">
												与单纯进行缝合或者固定提拉一个地方的方法不同，安多泰是用同种力量，匀称地对皮肤组织进行提拉，为了防止副作用及复发，能自然地改善皱纹。另外，随着时间的推移，安多泰能自然地被体内吸收，能期待半永久性的效果，因此在改善下垂皮肤等多种抗衰老施术中使用。
											</p>
										</div>
									</li>
								</ul>
							</div><!--//inner-stripe-->
	                    </div>
	                </div>
	            </div>
				<div class="new-section type-cling">
	                <div class="new-style1 type-bottom type-middleage3">
	                    <h4 class="new-style1__tit tit-new1 weight-regular">
	                        佰诺佰琪相对来说<span class="n-color-eye3">大范围地匀称地进行剥离</span>。
	                    </h4>
	                    <p class="new-style1__txt txt-new1">
	                        眉毛提升的核心是切口可以小，但到眼皮部位的整个额头需要匀称地进行剥离后提拉。<br class="hidden-tm">
							如果皮肤层没能匀称地进行剥离，不规则地改善皱纹，皮肤组织损伤的可能性就会变大，切口也会变大。<br class="hidden-tm">
							<span class="color-white">所以佰诺佰琪通过内视镜，进行眉毛提升。以长期的经验及技术，均匀地对大范围惊喜剥离后通过内视镜确认血管等内部组织，以减少损伤。</span>因此佰诺佰琪眉毛提升不用担心副作用或者疤痕，能有效地改善包括眼角走稳在内的全上面部下垂的问题。
	                    </p>
						<div class="new-style1__img">
							<img src="../../images/eye/middleage/middleage_img_29.jpg" alt="model" class="img-normal">
						</div>
	                    <div class="inner-box">
	                        <h5 class="new-content-tit tit-new2">
								<span class="n-color-eye2">更有效</span>的佰诺佰琪眉毛提升
							</h5>

							<div class="img-style7">
								<ul class="img-style7__list">
									<li class="img-style7__item">
										<div class="img-style7__img">
											<img src="../../images/eye/middleage/middleage_img_28.png" class="img-w100" alt="以长期的经验及技术为基础">
										</div>
										<div class="img-style7__caption">
											<h6 class="img-style7__subject txt-new2">
                                                以长期的经验及技术为基础
											</h6>
											<p class="img-style7__txt txt-new1">
                                                通过内视镜进行均匀地剥离，几乎没有组织损伤及副作用
											</p>
										</div>
									</li>
									<li class="img-style7__item">
										<div class="img-style7__img">
											<img src="../../images/eye/middleage/middleage_img_30.png" class="img-w100" alt="更有效地改善上面部下垂">
										</div>
										<div class="img-style7__caption">
											<h6 class="img-style7__subject txt-new2">
                                                更有效地改善上面部下垂
											</h6>
											<p class="img-style7__txt txt-new1">
                                                通过内视镜全面改善眼角皱纹，防止复发
											</p>
										</div>
									</li>
									<li class="img-style7__item">
										<div class="img-style7__img">
											<img src="../../images/eye/middleage/middleage_img_31.png" class="img-w100" alt="安多泰固定">
										</div>
										<div class="img-style7__caption">
											<h6 class="img-style7__subject txt-new2">
                                                安多泰固定
											</h6>
											<p class="img-style7__txt txt-new1">
                                                更安全地固定更自然的半永久效果
											</p>
										</div>
									</li>
								</ul>
							</div>
	                    </div>
	                </div>
	            </div>
				<div class="new-section">
					<div class="new-section__wrap type-w">
						<div class="operation-v2 type-eye">
							<div class="operation-v2__wrap">
								<h4 class="operation-v2__tit">手术详情</h4>
								<ul class="operation-v2__list">
									<li class="operation-v2__item nth-1 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">手术时间</h5>
											<p class="operation-v2__txt txt-new1">约1小时~1小时30分</p>
										</div>
									</li>
									<li class="operation-v2__item nth-2 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">麻醉方法</h5>
											<p class="operation-v2__txt txt-new1">睡眠麻醉</p>
										</div>
									</li>
									<li class="operation-v2__item nth-3 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">拆线</h5>
											<p class="operation-v2__txt txt-new1">约4天后拆线</p>
										</div>
									</li>
									<li class="operation-v2__item nth-4 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">住院时间</h5>
											<p class="operation-v2__txt txt-new1">当天回家</p>
										</div>
									</li>
									<li class="operation-v2__item nth-5 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">来院治疗</h5>
											<p class="operation-v2__txt txt-new1">约1~2次</p>
										</div>
									</li>
									<li class="operation-v2__item nth-6 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">恢复</h5>
											<p class="operation-v2__txt txt-new1">约3~5天后恢复日常生活</p>
										</div>
									</li>

								</ul>
								<div class="pain-v2 type-eye">
									<h5 class="pain-v2__tit txt-new2">术后体感疼痛</h5>
									<ol class="pain-v2__list">
										<% for(var i = 1; i<= 10; i++){%>
											<%if(i <= 2){%>
												<li class="<%="pain-v2__item is-active nth-"+i%>">
													<div class="pain-v2__square">square</div>
												</li>
											<%}else{%>
												<li class="<%="pain-v2__item nth-"+i%>">
													<div class="pain-v2__wrap">
														<div class="pain-v2__square">square</div>
													</div>
												</li>
											<%}%>
										<%}%>
									</ol>
									<p class="pain-v2__txt txt-new1">
										麻醉消失的过程中会有隐隐的痛症，时间久了能逐渐地缓解<br>
										拆线及消毒会稍微有点疼痛<br>
										术后几天内可能会有紧绷感及热感<br>
										术后一周内动眉毛会有一点不自然
									</p>
									<div class="pain-v2__box">
										<p class="pain-v2__noti txt-new4">* 通过对术后患者进行问卷调查得出的平均值</p>
										<p class="pain-v2__noti txt-new4">* 从数据不存在绝对性，会存在个人差异，仅供大家作为参考。</p>
									</div>
									<!-- <a href="<?php echo SITE_UPLOAD_URL?>/knowledge/eye.pdf" target="_blank" class="operation-v2__link"><span>查看术后注意事项</span></a> -->
								</div><!-- //pain -->
							</div>
						</div>
					</div>
	            </div>
			</div>

			<div class="new-section">
				<div class="bg-style2 txt-left">
					<h4 class="new-content-tit tit-new2">与其他手术一起进行的话，会有更好的手术效果。</h4>

					<ul class="bg-style2__list">
						<!-- <li class="bg-style2__item type-forehead">
							<div class="bg-style2__wrap">
								<div class="bg-style2__box">
									<h5 class="bg-style2__subtit txt-new2">内视镜额头提升</h5>
									<a href="../wrinkle/wrinkleForehead.php" class="bg-style2__btn txt-new1">
										<span>点击查看</span>
									</a>
								</div>
							</div>
						</li> -->
						<li class="bg-style2__item type-pexy">
							<div class="bg-style2__wrap">
								<div class="bg-style2__box">
									<h5 class="bg-style2__subtit txt-new2">切眉提升</h5>
									<a href="page-pexy" class="bg-style2__btn txt-new1 js-tab-go">
										<span>点击查看</span>
									</a>
								</div>
							</div>
						</li>
						<li class="bg-style2__item type-upper">
							<div class="bg-style2__wrap">
								<div class="bg-style2__box">
									<h5 class="bg-style2__subtit txt-new2">上眼睑</h5>
									<a href="page-upper" class="bg-style2__btn txt-new1 js-tab-go">
										<span>点击查看</span>
									</a>
								</div>
							</div>
						</li>
						<li class="bg-style2__item type-lower">
							<div class="bg-style2__wrap">
								<div class="bg-style2__box">
									<h5 class="bg-style2__subtit txt-new2">下眼睑</h5>
									<a href="page-lower" class="bg-style2__btn txt-new1 js-tab-go">
										<span>点击查看</span>
									</a>
								</div>
							</div>
						</li>
						<!-- <li class="bg-style2__item type-midface">
							<div class="bg-style2__wrap">
								<div class="bg-style2__box">
									<h5 class="bg-style2__subtit txt-new2">中面部提升</h5>
									<a href="../wrinkle/wrinkleMidface.php" class="bg-style2__btn txt-new1">
										<span>点击查看</span>
									</a>
								</div>
							</div>
						</li>
						<li class="bg-style2__item type-facelift">
							<div class="bg-style2__wrap">
								<div class="bg-style2__box">
									<h5 class="bg-style2__subtit txt-new2">面部提升术</h5>
									<a href="../wrinkle/wrinkleFacelift.php" class="bg-style2__btn txt-new1">
										<span>点击查看</span>
									</a>
								</div>
							</div>
						</li> -->
						<!--<li class="bg-style2__item type-necklift">
							<div class="bg-style2__wrap">
								<div class="bg-style2__box">
									<h5 class="bg-style2__subtit txt-new2">목주름리프팅</h5>
									<a href="wrinkleElastic.php" class="bg-style2__btn txt-new1 js-tab-go">
										<span>点击查看</span>
									</a>
								</div>
							</div>
						</li>-->
					</ul>
				</div>
			</div>
        </div><!-- //new-content-wrap-->
    </div>
    <!-- //content-->


</div> <!-- //container -->

<% include ../_include/_footer %>
