<%
	type = "content"
	page = "eye"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
	<!-- visual -->
	<div class="content-visual type-eye-correction">
		<div class="content-visual__box">
			<div class="content-visual__border">
				<p class="content-visual__txt1 type-eye-correction">比起双眼皮更重要的是有魅力的眼型</p>
				<h3 class="content-visual__tit type-eye-correction">#<span class="color-correction1">眼型</span>矫正</h3>
				<p class="content-visual__txt2 type-eye-correction">睁眼清晰有神的双眼</p>
			</div>
		</div>
	</div>
	<!-- //visual -->

	<!-- content-->
	<div class="content">
        <div class="content-wrap">
            <div class="correction-box1">
                <div class="content-section type-first">
                    <h4 class="content-section__tit type-center">
						<span class="content-section__number">
							<span class="content-section__number-wrap">01</span>
						</span>
                        <strong class="color-correction2">睁眼清晰有神的双眼</strong>的标准就是<span class="content-highlight2 type-eye-correction2">眼型</span>
                    </h4>
                    <p class="content-section__txt1">
						眼部整形代表性的方法就是双眼皮手术，往往认为有魅力的双眼=双眼皮。
						其实，看看周围的人，就算是没有过宽的双眼皮或非常深的双眼皮曲线，也会显得眼睛非常有神。 眼睛的共同点就在于眼睛的基本模样和本身的理想形态。<strong>其实，人的印象比起双眼皮的模样，眼型显得更加重要。</strong>特别是眼球的位置和露出来的程度是非常重要的。
                    </p>
                    <div class="site-box14">
                        <div class="site-box14__outer type-bg clearfix">
                            <div class="site-box14__model--m">
                                <img class="hidden-pt" src="../../images/eye/eyeexposure-bg-m.jpg" alt="model img">
                                img
							</div>
                            <div class="site-box14__inner">
                                <h5 class="site-box14__tit">
                                    { 眼型不同，瞳孔外露的程度有所不同 }
                                </h5>
                                <div class="site-box14__thumb main">
                                    <img class="hidden-t normal" src="../../images/eye/eyeform1-pm.jpg" alt="正常眼睛的形态">
                                    <img class="hidden-pm" src="../../images/eye/eyeform1-t.jpg" alt="正常眼睛的形态">
                                    <p class="site-box14__txt1">正常眼睛的形态</p>
                                </div>
                                <div class="site-box14__thumb sub clearfix">
                                    <div class="site-box14__img img02 clearfix">
                                        <img class="hidden-t" src="../../images/eye/eyeform2-pm.jpg" alt="稍微下垂的眼睛(假性眼睑下垂)">
                                        <img class="hidden-pm" src="../../images/eye/eyeform2-t.jpg" alt="稍微下垂的眼睛(假性眼睑下垂)">
                                        <span class="site-box14__tit--m">
										<span class="site-box14__box--m">
											稍微下垂的眼睛<br>
											<span class="site-box14__smallest">(假性眼睑下垂)</span>
										</span>
									</span>
                                    </div>
                                    <div class="site-box14__desc">
                                        <h6 class="site-box14__sub-tit">
                                            稍微下垂的眼睛(假性眼睑下垂)
                                        </h6>
                                        <p class="site-box14__txt2">
											正常睁眼的时候因为眼部肌肉的原因，上眼皮轻松的一起睁开，但是外眼皮稍微盖住眼睛的假性眼睑下垂。
                                        </p>
                                    </div>
                                </div>
                                <div class="site-box14__thumb sub clearfix">
                                    <div class="site-box14__img img03 clearfix">
                                        <img class="hidden-t" src="../../images/eye/eyeform3-pm.jpg" alt="严重的上视(假性眼睑下垂)">
                                        <img class="hidden-pm" src="../../images/eye/eyeform3-t.jpg" alt="严重的上视(假性眼睑下垂)">
                                        <span class="site-box14__tit--m">
											<span class="site-box14__box--m">
												严重的上视<br>
												<span class="site-box14__smallest">(假性眼睑下垂)</span>
											</span>
										</span>
                                    </div>
                                    <div class="site-box14__desc">
                                        <h6 class="site-box14__sub-tit">
                                            严重的上视(假性眼睑下垂)
                                        </h6>
                                        <p class="site-box14__txt2">
											看似正常的双眼，但是瞳孔过于靠上，下面白眼球显露过多的上视眼
                                        </p>
                                    </div>
                                </div>
                                <div class="site-box14__thumb sub clearfix">
                                    <div class="site-box14__img img04 clearfix">
                                        <img class="hidden-t" src="../../images/eye/eyeform4-pm.jpg" alt="严重眼睑下垂">
                                        <img class="hidden-pm" src="../../images/eye/eyeform4-t.jpg" alt="严重眼睑下垂">
                                        <span class="site-box14__tit--m">
											<span class="site-box14__box--m">
												严重眼睑下垂
											</span>
										</span>
                                    </div>
                                    <div class="site-box14__desc">
                                        <h6 class="site-box14__sub-tit">
                                            严重眼睑下垂
                                        </h6>
                                        <p class="site-box14__txt2">
											看起来显疲倦的双眼，眼皮实际上下垂7mm以下的情况
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="site-box14__info">
                            <div class="site-box14__tit--info">
                                什么是<span class="color-correction4">眼型矫正</span>?
                            </div>

                            <div class="site-box14__txt--info">
                                眼型矫正是<span class="color-correction4">让眼睛睁眼有力，更能看清眼球，</span>让眼型更加有魅力的手术。
                            </div>
                        </div>
                        <div class="site-box14__bf">
                            <img class="hidden-tm" src="../../images/eye/eyeform5-p.jpg" alt="before，after">
                            <img class="hidden-pm" src="../../images/eye/eyeform5-t.jpg" alt="before，after">
                            <img class="hidden-pt" src="../../images/eye/eyeform5-m.jpg" alt="before，after">
                            <span class="progress-tag type-before">before</span>
                            <span class="progress-tag type-after">after</span>
                        </div>

                    </div>
                    <div class="content-section__wrapper">
                        <p class="content-section__txt2">
                            通常眼型不够好看，眼睛不够有神的时候，比起双眼皮手术，<br class="hidden-m"><strong class="color-correction5">眼型矫正</strong>或开<strong class="color-correction5">眼角手术</strong>一起进行的话更能<span class="content-highlight type-eye-correction4">改善眼型，是更能改善效果的首选的手术项目。</span>
                        </p>
                        <p class="content-section__txt1 lg brace type-eye-correction">
                            特别是<strong class="type-border">特别是睁眼无力</strong>，特别是睁眼无力，<strong><span class="color-correction6">眼型矫正</span>，增强眼肌力量</strong><br class="hidden-tm">能有让眼睛看上去更有神，睁眼更有力的效果
                        </p>
                    </div>
                </div>
                <!-- content-section -->
            </div>

            <div class="correction-box2">
                <div class="content-section">
                    <div class="content-section__wrapper">
                        <div class="content-section__desc">
                            <h4 class="content-section__tit type-left">
								<span class="content-section__number">
									<span class="content-section__number-wrap">02</span>
								</span>
                                <strong>单纯的双眼皮手术</strong>和<strong>眼型矫正术</strong>是目的<span class="content-highlight2 type-eye-correction3">不同的</span>两个手术
                            </h4>
                            <p class="content-section__txt1">
                                双眼皮手术的原理是能打造出双眼皮线条和能连接睁眼的肌肉。在眼睛睁开的过程中，让皮肤能够更加自然的折叠向上。但是睁眼的时候，如果<strong><span class="type-border">眼睛自身的力量不足</span></strong>的话，双眼皮就会不明显，<strong><span class="type-border">甚至让眼睛看起来显得没有神采，呈现出疲惫的感觉。</span></strong>
                            </p>
                            <p class="content-section__txt1">
                                所以需要进行眼型矫正。<span class="content-highlight type-eye-correction5">因为眼型矫正是让睁眼的时候，更加有力量的手术</span>，利于打造出更加理想的眼型。眼睛没有力量的情况，通过眼型矫正能让眼睛更大更有神，如果原来就有双眼皮的情况，眼型矫正之后让双眼皮线条更加鲜明，更加有魅力。甚至，眼睛因为睁眼无力会无意识让眉毛也跟着一起往上移动的习惯，还可能产生皱纹，因此眼型矫正还能预防皱纹的产生。
                            </p>
                        </div>
                        <div class="content-section__wrap site-box">
                            <div class="site-box15 clearfix">
                                <div class="site-box15__wrapper clearfix">
                                    <div class="site-box15__outer">
                                        <div class="site-box15__inner">
                                            <img class="hidden-t" src="../../images/eye/eyepurpose1-pm.jpg" alt="BEFORE">
                                            <img class="hidden-pm" src="../../images/eye/eyepurpose1-pm.jpg" alt="BEFORE">
                                            <span class="progress-tag type-before">BEFORE</span>
                                        </div>
                                    </div>
                                    <div class="site-box15__outer">
                                        <div class="site-box15__inner">
                                            <img class="hidden-t" src="../../images/eye/eyepurpose2-pm.jpg" alt="AFTER 6 MONTH">
                                            <img class="hidden-pm" src="../../images/eye/eyepurpose2-t.jpg" alt="AFTER 6 MONTH">
                                            <span class="progress-tag type-after">AFTER 6 MONTH</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="site-box15__quotation">
                                    <p class="site-box15__txt1">
                                        就算有双眼皮，但是睁眼无力的话，眼球露出来的部分也会很少。
                                    </p>
                                    <p class="site-box15__txt2">
                                        眼型矫正是将眼睛看起来更有神，整体性的改善眼部问题
                                    </p>
                                </div>
                            </div>
                        </div>
						<p class="caution-para1">※ 本图片依拍摄条件不同与实物会有差距，取得患者同意拍摄后刊发</p>
                    </div>
                </div>
                <!-- content-section -->
            </div>

            <div class="correction-box3">
                <div class="content-section">
                    <div class="content-section__wrapper type-left">
                        <h4 class="content-section__tit type-top">
							<span class="content-section__number">
								<span class="content-section__number-wrap correction-n3">03</span>
							</span>
                            因为并不是<strong>所有情况</strong>都适合的<strong>手术，</strong>所以要<span class="content-highlight2 type-eye-correction1">更加慎重</span>
                        </h4>
                        <div class="content-section__wrapper type-width">
                            <p class="content-section__txt1 correction-n3">
								和前面说明的情况一样，眼型矫正是改善眼睛睁眼无力和在特定情况下进行的手术。相反，如果睁眼有力，就没有必要一定要进行此手术。因此决定是否进行眼型矫正手术之前，重要的是要先正确的诊断眼部状态但是，单纯的因为上眼睁眼比较费力，或是睁眼的时候额头有皱纹，又或是没有双眼皮让眼睛看起来往下垂，又或是单纯因为眼睛小就进行眼型矫正的情况也有，不过仅通过这样的方法并不能准确的判断眼部肌肉睁眼的力量大小，可能会导致我们错误的选择手术方法。
                            </p>
                            <p class="content-section__txt1 correction-n3 content-highlight type-eye-correction3">
                                因次需要通过精确的判断，确定是否需要进行眼型矫正，需要的话为了手术不夸张无误差，必须选择专家院长进行手术。
                            </p>
                        </div>
                    </div>
                    <div class="diagnosis">
                        <div class="diagnosis__outer clearfix">
                            <div class="diagnosis__inner">
                                <div class="diagnosis__thumb">
                                    img
                                </div>
                                <div class="diagnosis__desc">
                                    <h5 class="diagnosis__tit">
                                        <strong class="color-correction9">不明确时的眼部肌肉诊断法</strong><strong></strong>
                                    </h5>
                                    <p class="diagnosis__txt--numbering">
                                        <span class="diagnosis__numbering">01.</span>
                                        按住额头的同时，睁眼无力，眼部肌肉力量较弱的情况
                                    </p>
                                    <p class="diagnosis__txt--numbering">
                                        <span class="diagnosis__numbering">02.</span>
                                        睁眼的时候，额头有皱纹产生的情况
                                    </p>
                                    <p class="diagnosis__txt--numbering">
                                        <span class="diagnosis__numbering">03.</span>
                                        眼球露出来的部分，只有一半的情况
                                    </p>
                                    <p class="diagnosis__txt--numbering">
                                        <span class="diagnosis__numbering">04.</span>
                                        单纯根据眼睛大小进行判断的情况
                                    </p>

                                </div>
                            </div>
                            <div class="diagnosis__txt1 type-quotation">
                                眼型矫正<span class="color-correction10">需要通过准确的诊断是否需要进行矫正</span>眼型矫正需要通过准确的诊断是否需要进行矫正之后，根据睁眼的力量精确的进行调节
                            </div>
                        </div>
                        <div class="diagnosis__ways clearfix">
                            <div class="diagnosis__circle">
                                img
                                <div class="diagnosis__border">

                                </div>
                            </div>

                            <div class="diagnosis__wrapper type-desc">
                                <h5 class="diagnosis__sub-tit">
                                    因为每个人<span class="color-correction11">睁眼的时候眼部肌肉力量有所不同</span>因此眼型矫正也是根据眼部肌肉力量的不同，矫正方法有所不同
                                </h5>
                                <p class="diagnosis__txt2">
									如果是睁眼的时候，眼部肌肉力量非常薄弱，甚至两眼球间距非常近的情况，通过切开式的眼型矫正效果非常好。但是并不是100%都需要切开式的矫正，如果是睁眼有一定力量的情况，可以通过双重埋线的方法进行眼型矫正。
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- content-section -->
            </div>
            <!-- tab  -->
            <div class="content-tab">
                <div class="content-tab__inner">
                    <ul class="content-tab__list">
                        <li class="content-tab__item is-active"><a href="" class="content-tab__link" data-tab="page-double">双重埋线眼型矫正</a></li>
                        <li class="content-tab__item"><a href="" class="content-tab__link" data-tab="page-ptosis">切开眼型矫正</a></li>
                    </ul>
                </div>
            </div>

            <!-- tab contents -->
            <div class="content-tab__page page-double is-active">
                <div class="content-tab__box">
                    <div class="correction-box4">
                        <div class="content-section">
                            <div class="content-section__wrapper">
                                <p class="content-section__txt1">
                                    双重埋线眼型矫正是佰诺佰琪朴善在院长研究的眼型矫正方法。不用切开也能利用细线的力量和组织的粘连双重力量更加有效地，安全的进行眼型矫正
                                </p>
                                <p class="content-section__txt1">
                                    事实上，眼型矫正是针对睁眼无力的情况，不进行特别的切开只用线进行的棘手的手术。这是因为要保持肌肉的张力比较困难，而且还存在线可能被松开的缺点。但是双重埋线眼型矫正就是在克服这些缺点的同时，能够维持非切开拥有的优点。
                                </p>
                                <p class="content-section__txt2">
                                    手术如果通过非切开进行的话，手术时间能够缩短，恢复时间也会缩短。<br>
                                    并且，<span class="color-correction16">因为术后的浮肿和痛症比较小，能够更快的恢复日常生活。</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="incisional-eye">
                        <div class="incisional-eye__wrapper clearfix">
                            <div class="layer-doc7">
                                <div class="layer-doc7__wrapper">
                                    <div class="layer-doc7__outer">
                                        <div class="layer-doc7__inner">
                                            <p class="layer-doc7__tit">
                                                加强<br>
                                                睁眼力量
                                            </p>
                                        </div>
                                    </div>
                                    <div class="layer-doc7__outer">
                                        <div class="layer-doc7__inner">
                                            <p class="layer-doc7__tit">
                                                安全<br>
                                                有效的<br>
                                                进行矫正
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="layer-doc7__wrapper">
                                    <div class="layer-doc7__outer">
                                        <div class="layer-doc7__inner">
                                            <p class="layer-doc7__tit">
                                                相对<br>
                                                快速的恢复
                                            </p>
                                        </div>
                                    </div>
                                    <div class="layer-doc7__outer type-bigger">
                                        <div class="layer-doc7__inner type-bigger">
                                            <h6 class="layer-doc7__tit type-bigger">
                                                双重埋线<br>
                                                眼型矫正
                                            </h6>
                                        </div>
                                    </div>

                                    <div class="layer-doc7__outer">
                                        <div class="layer-doc7__inner">
                                            <p class="layer-doc7__tit">
                                                更加自然<br>
                                                温柔的<br>
                                                眼神
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="layer-doc7__wrapper">
                                    <div class="layer-doc7__outer">
                                        <div class="layer-doc7__inner">
                                            <p class="layer-doc7__tit">
                                                相对短的<br>
                                                手术时间
                                            </p>
                                        </div>
                                    </div>
                                    <div class="layer-doc7__outer">
                                        <div class="layer-doc7__inner">
                                            <p class="layer-doc7__tit">
                                                给人明亮<br>
                                                鲜明的印象
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="incisional-eye__bar">
                            <div class="incisional-eye__tit">
                                <strong class="color-correction17">双重埋线 眼型矫正</strong>
                            </div>
                            <div class="incisional-eye__txt1">
                                无需切开，利用线的力量与组织粘连的双重力量，进行眼型矫正术
                            </div>
                        </div>
                    </div>
					<div class="new-section">
						<div class="new-section__wrap type-w">
							<div class="operation-v2 type-eye">
								<div class="operation-v2__wrap">
									<h4 class="operation-v2__tit">手术详情</h4>
									<!-- <p class="operation-v2__subtit">麻醉时的疼痛感，也更加慎重，更加注重细节</p> -->
									<ul class="operation-v2__list">
										<li class="operation-v2__item nth-1 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">手术时间</h5>
												<p class="operation-v2__txt txt-new1">约30分</p>
											</div>
										</li>
										<li class="operation-v2__item nth-2 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">麻醉方法</h5>
												<p class="operation-v2__txt txt-new1">局部麻醉/非睡眠最小痛麻醉</p>
											</div>
										</li>
										<li class="operation-v2__item nth-3 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">拆线</h5>
												<p class="operation-v2__txt txt-new1">约3~5天后拆线</p>
											</div>
										</li>
										<li class="operation-v2__item nth-4 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">住院时间</h5>
												<p class="operation-v2__txt txt-new1">当天回家</p>
											</div>
										</li>
										<li class="operation-v2__item nth-5 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">来院治疗</h5>
												<p class="operation-v2__txt txt-new1">约1次</p>
											</div>
										</li>
										<li class="operation-v2__item nth-6 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">恢复</h5>
												<p class="operation-v2__txt txt-new1">约3天后恢复日常生活</p>
											</div>
										</li>

									</ul>
									<div class="pain-v2 type-eye">
										<h5 class="pain-v2__tit txt-new2">术后体感疼痛</h5>
										<ol class="pain-v2__list">
											<% for(var i = 1; i<= 10; i++){%>
												<%if(i <= 1){%>
													<li class="<%="pain-v2__item is-active nth-"+i%>">
														<div class="pain-v2__square">square</div>
													</li>
												<%}else{%>
													<li class="<%="pain-v2__item nth-"+i%>">
														<div class="pain-v2__wrap">
															<div class="pain-v2__square">square</div>
														</div>
													</li>
												<%}%>
											<%}%>
										</ol>
										<p class="pain-v2__txt txt-new1">
											通过非睡眠的麻醉方式进行麻醉，能缓解痛症。<br>
											术后可能会有热乎乎的感觉或是发热的情况，随时间流逝，会逐渐得到缓解 由于浮肿的原因，会有紧绷绷的感觉，可以服用处方止痛药帮助缓解，进行冷敷助于消肿。 <br>
											睁眼的时候效果更加明显，浮肿更加快速消退。
										</p>
										<div class="pain-v2__box">
											<p class="pain-v2__noti txt-new4">* 通过对术后患者进行问卷调查得出的平均值</p>
											<p class="pain-v2__noti txt-new4">* 从数据不存在绝对性，会存在个人差异，仅供大家作为参考。</p>
										</div>
										<!-- <a href="<?php echo SITE_UPLOAD_URL?>/knowledge/eye.pdf" target="_blank" class="operation-v2__link"><span>术后注意事项</span></a> -->
									</div><!-- //pain -->
								</div>
							</div>
						</div>
		            </div>
                </div>
            </div>

            <div class="content-tab__page page-ptosis">
                <div class="content-tab__box">
                    <div class="correction-box5">
                        <div class="content-section">
                            <div class="content-section__wrapper">
                                <p class="content-section__txt1">
                                    睁眼力量非常薄弱，通过双重埋线的方法，眼型矫正的效果不太明显的情况，需要通过切开眼型矫正来进行改善。通常患者们都会想要避开切开的方法，可能是因为通过切开的方法会让手术效果看上去比较虚假，痕迹会比较明显。但是经验丰富的专家进行手术的话，会让切开法的眼型矫正效果呈现的非常自然。
                                </p>
                                <p class="content-section__txt1">
                                    对切开法呈现出来的手术效果觉得虚假的原因可能是因为恢复中浮肿比较明显产生的误会，其实浮肿的大小和切开非切开的方法并没有太大的关联。可能矫正线条的深度差异会让效果看上去比较明显，但这并不是仅仅通过切开或非切开就能判断的问题。
                                </p>
                                <p class="content-section__txt1">
                                    如果抛开那样的误会，切开眼型矫正是优点非常多的手术。能够直接确定睁眼肌肉的张力，还因为能够准确的确定矫正的位置，让效果更加突出。并且因为眼型矫正之后眼睛能够更加舒服的张开，可以更快的帮助消肿恢复，尽快的恢复日常生活，大大的减少了术后的负担。
                                </p>
                                <p class="content-section__txt2 brace ">
                                    如果抛开那样的误会，切开眼型矫正是优点非常多的手术。能够直接确定睁眼肌肉的张力，还因为能够准确的确定矫正的位置，让效果更加突出。并且因为眼型矫正之后<span class="color-correction12">眼睛能够更加舒服的张开，可以更快的帮助消肿恢复</span>，尽快的恢复日常生活，大大的减少了术后的负担。
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="misunderstanding">
                        <div class="misunderstanding__bg clearfix">
                            <div class="misunderstanding__wrapper align">
                                <h4 class="misunderstanding__tit">
									<span class="content-highlight type-eye-correction6">
										对<span class="color-correction13">切开眼型矫正</span>的误会
									</span>
                                </h4>
                                <div class="misunderstanding__desc">
                                    <h4 class="misunderstanding__sub-tit">
                                        <span class="misunderstanding__number">01.</span>
                                        效果不够自然?
                                    </h4>
                                    <p class="misunderstanding__txt1">
										由于恢复期间，比起非切开眼型矫正，可能浮肿更加明显而差生误会。可能因为矫正的线条比较深让手术痕迹看起来比较明显，但是不管是切开，还是非切开的效果差异比起来更重要的是专家们实力的差异。
                                    </p>
                                </div>

                                <div class="misunderstanding__desc">
                                    <h4 class="misunderstanding__sub-tit">
                                        <span class="misunderstanding__number">02.</span>
                                        疤痕会非常明显吗?
                                    </h4>
                                    <p class="misunderstanding__txt1">
										刚做完手术之后，明显的手术痕迹会令人感到担心但是6个月之后，疤痕会慢慢消失，用肉眼几乎看不出来。
                                    </p>
                                </div>
                                <div class="misunderstanding__thumb">
                                    <ul class="misunderstanding__list clearfix">
                                        <li class="misunderstanding__item">
                                            <div class="misunderstanding__inner">
                                                <img class="hidden-tm" src="../../images/eye/eyescar1-p.jpg" alt="拆线之后">
                                                <img class="hidden-pm" src="../../images/eye/eyescar1-t.jpg" alt="拆线之后">
                                                <img class="hidden-pt" src="../../images/eye/eyescar1-m.jpg" alt="拆线之后">
                                            </div>
                                            <div class="misunderstanding__desc-box">
                                                拆线之后
                                            </div>
                                        </li>
                                        <li class="misunderstanding__item">
                                            <div class="misunderstanding__inner">
                                                <img class="hidden-tm" src="../../images/eye/eyescar2-p.jpg" alt="1个月后">
                                                <img class="hidden-pm" src="../../images/eye/eyescar2-t.jpg" alt="1个月后">
                                                <img class="hidden-pt" src="../../images/eye/eyescar2-m.jpg" alt="1个月后">
                                            </div>
                                            <div class="misunderstanding__desc-box">
                                                1个月后
                                            </div>
                                        </li>
                                        <li class="misunderstanding__item">
                                            <div class="misunderstanding__inner">
                                                <img class="hidden-tm" src="../../images/eye/eyescar3-p.jpg" alt="3个月后">
                                                <img class="hidden-pm" src="../../images/eye/eyescar3-t.jpg" alt="3个月后">
                                                <img class="hidden-pt" src="../../images/eye/eyescar3-m.jpg" alt="3个月后">
                                            </div>
                                            <div class="misunderstanding__desc-box">
                                                3个月后
                                            </div>
                                        </li>
                                        <li class="misunderstanding__item">
                                            <div class="misunderstanding__inner">
                                                <img class="hidden-tm" src="../../images/eye/eyescar4-p.jpg" alt="6个月后">
                                                <img class="hidden-pm" src="../../images/eye/eyescar4-t.jpg" alt="6个月后">
                                                <img class="hidden-pt" src="../../images/eye/eyescar4-m.jpg" alt="6个月后">
                                            </div>
                                            <div class="misunderstanding__desc-box">
                                                6个月后
                                            </div>
                                        </li>
                                    </ul>
                                    <p class="misunderstanding__info">※ 本图片依拍摄条件不同与实物会有差距，取得患者同意拍摄后刊发。</p>
                                </div>
                            </div>
                        </div>
                        <div class="misunderstanding__bg-dark">
                            <div class="misunderstanding__inner-box">
                                <div class="misunderstanding__wrapper quotation type-eye-correction">
                                    <p class="misunderstanding__txt2">
                                        <strong>切开眼肌矫正</strong>，睁眼时肌肉的张力可以直接进行确定，并且非常缜密的选择矫正的位置，因此是非常有效的方法。佰诺佰琪进行完全切开型的眼肌矫正拥有特殊化的诊疗，<span class="color-correction14 border">通过体系化的治疗，丰富的经验进行眼肌矫正。</span>
                                    </p>
                                    <p class="misunderstanding__txt3">
                                        通过调整精确的切口位置，打造<span class="color-correction15">自然的线条</span><br>
                                        即使是必须通过切开法进行手术，也能<span class="color-correction14">快速恢复</span><br>
                                        让眼睛更有神采，给人<span class="color-correction15">清爽的印象</span><br>
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
					<div class="new-section">
						<div class="new-section__wrap type-w">
							<div class="operation-v2 type-eye">
								<div class="operation-v2__wrap">
									<h4 class="operation-v2__tit">手术详情</h4>
									<!-- <p class="operation-v2__subtit">麻醉时的疼痛感，也更加慎重，更加注重细节</p> -->
									<ul class="operation-v2__list">
										<li class="operation-v2__item nth-1 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">手术时间</h5>
												<p class="operation-v2__txt txt-new1">约40分~1小时</p>
											</div>
										</li>
										<li class="operation-v2__item nth-2 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">麻醉方法</h5>
												<p class="operation-v2__txt txt-new1">局部麻醉/非睡眠最小痛麻醉</p>
											</div>
										</li>
										<li class="operation-v2__item nth-3 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">拆线</h5>
												<p class="operation-v2__txt txt-new1">约4~5天后拆线</p>
											</div>
										</li>
										<li class="operation-v2__item nth-4 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">住院时间</h5>
												<p class="operation-v2__txt txt-new1">当天回家</p>
											</div>
										</li>
										<li class="operation-v2__item nth-5 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">来院治疗</h5>
												<p class="operation-v2__txt txt-new1">约1次</p>
											</div>
										</li>
										<li class="operation-v2__item nth-6 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">恢复</h5>
												<p class="operation-v2__txt txt-new1">约7天后恢复日常生活</p>
											</div>
										</li>

									</ul>
									<div class="pain-v2 type-eye">
										<h5 class="pain-v2__tit txt-new2">术后体感疼痛</h5>
										<ol class="pain-v2__list">
											<% for(var i = 1; i<= 10; i++){%>
												<%if(i <= 1){%>
													<li class="<%="pain-v2__item is-active nth-"+i%>">
														<div class="pain-v2__square">i</div>
													</li>
												<%}else{%>
													<li class="<%="pain-v2__item nth-"+i%>">
														<div class="pain-v2__wrap">
															<div class="pain-v2__square">square</div>
														</div>
													</li>
												<%}%>
											<%}%>
										</ol>
										<p class="pain-v2__txt txt-new1">
											通过非睡眠的麻醉方式进行麻醉，能缓解痛症。<br>
											术后可能会有热乎乎的感觉或是发热的情况，随时间流逝，会逐渐得到缓解 由于浮肿的原因，会有紧绷绷的感觉，可以服用处方止痛药帮助缓解，进行冷敷助于消肿。 <br>
											睁眼的时候效果更加明显，浮肿更加快速消退。
										</p>
										<div class="pain-v2__box">
											<p class="pain-v2__noti txt-new4">* 通过对术后患者进行问卷调查得出的平均值</p>
											<p class="pain-v2__noti txt-new4">* 从数据不存在绝对性，会存在个人差异，仅供大家作为参考。</p>
										</div>
										<!-- <a href="<?php echo SITE_UPLOAD_URL?>/knowledge/eye.pdf" target="_blank" class="operation-v2__link"><span>术后注意事项</span></a> -->
									</div><!-- //pain -->
								</div>
							</div>
						</div>

		            </div>
                </div>
            </div>
        </div>
    	<!-- //content-tab-upper-eye-->
    </div><!-- //content-->

	<% include ../_include/_bfaf %>
</div><!-- //container-->

<% include ../_include/_footer %>
