<%
	type = "content"
	page = "eye"
%>
<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
	<!-- visual -->
	<div class="content-visual type-eye-incisional">
	    <div class="content-visual__box">
	        <div class="content-visual__border type-eye-incisional">
	            <p class="content-visual__txt1">切开法双眼皮不自然是偏见</p>
	            <h3 class="content-visual__tit">#<span class="color-incisional1">切开</span>双眼皮</h3>
	            <p class="content-visual__txt2 type-eye-incisional">既自然又清晰的眼型</p>
	        </div>
	    </div>
	</div>
	<!-- //visual -->

	<!-- content-->
	<div class="content cell_transplant">
		<div class="content-wrap">
	        <div class="incisional-box1">
	            <div class="content-section type-first">
	                <div class="content-section__wrap">
	                    <div class="content-section__box1 type-w4">
	                        <h4 class="content-section__tit type-top">
			                    <span class="content-section__number">
			                        <span class="content-section__number-wrap">01</span>
			                    </span>
								解除对<strong class="color-incisional1">切开法的误会</strong>
	                        </h4>
	                        <p class="content-section__txt1">
	                            切开法双眼皮是设计双眼皮线条，并切开眼皮后，去除肌肉及脂肪等，最后固定肌肉和皮肤的手术。若皮肤松弛严重或者脂肪比较多的患者，适合用切开法进行手术。
	                        </p>
	                        <p class="content-section__txt2">
	                            切开法双眼皮手术能打造多种眼型曲线，让眼型变得清晰明亮，是一项有很多优点的手术方法。
	                        </p>
	                    </div>
	                    <div class="content-section__box1 type-w6 ">
	                        <div class="content-section__img sec1-thumb">
	                            <img src="../../images/eye/incisional-sec1_01.png" alt="切开双眼皮">
	                            切开双眼皮
	                        </div>
	                    </div>
	                </div>
	                <!-- //content-section__wrap-->
	                <div class="content-section__wrap">
	                    <div class="content-section__border">
	                        <p class="content-section__txt3 type-sec1">
	                            其手术方法有很多误会需解决。 <br>
	                            首先听上去就很严重，可能会让人感觉害怕，疼痛。<br class="hidden-m">
	                            也会担心留疤，或者术后成为‘腊肠眼’
	                            <br>
	                            <br>
	                            <span class="color-incisional1">
									但是，不论切开法进行手术还是埋线法进行手术，其手术结果差异不大。
								</span>
	                            <br>
	                            但需手术实力突出的医生进行手术才能到达这种效果。
	                        </p>
	                    </div>
	                </div>
	            </div>
	            <!--contenct-section-->
	        </div>
	        <div class="incisional-box2">
	            <h4 class="incisional-box2__tit">
	                <strong class="color-incisional2">能打造多种</strong>眼型曲线
	            </h4>
	            <div class="incisional-box2__wrapper type-wrapper">
	                <div class="site-box__wrap">

	                    <div class="item-box3 type-incisional">
	                        <ul class="item-box3__list">
	                            <li class="item-box3__item nth-1">
	                                <div class="item-box3__box">
	                                    <div class="item-box3__wrap">
	                                        <h5 class="item-box3__tit tit-v2"><span class="color-incisional1">In-line</span></h5>
	                                        <p class="item-box3__txt txt-v1">
	                                            双眼皮线条从前眼角部位开始看不到，越往后逐渐变宽的形状。
	                                        </p>
	                                    </div>
	                                </div>
	                            </li>
	                            <li class="item-box3__item nth-2">
	                                <div class="item-box3__box">
	                                    <div class="item-box3__wrap">
	                                        <h5 class="item-box3__tit tit-v2"><span class="color-incisional1">Out-line</span></h5>
	                                        <p class="item-box3__txt txt-v1">
	                                            双眼皮线条从前到后与眼睛的模样呈现大平行的形状。
	                                        </p>
	                                    </div>
	                                </div>
	                            </li>
	                            <li class="item-box3__item nth-3">
	                                <div class="item-box3__box">
	                                    <div class="item-box3__wrap">
	                                        <h5 class="item-box3__tit tit-v2"><span class="color-incisional1">In-out-line</span></h5>
	                                        <p class="item-box3__txt txt-v1">
	                                            与Out-line一样整体属于外双眼皮，但前眼角双眼皮线非常窄，越往后双眼皮线变得越宽。
	                                        </p>
	                                    </div>
	                                </div>
	                            </li>
	                        </ul>
	                    </div><!-- //item-box3-->


	                </div>
	            </div>
	        </div>
	        <div class="incisional-box3">
	            <div class="content-section">
	                <div class="content-section__box1">
	                    <div class="content-section__box1 type-sort">
	                        <h4 class="content-section__tit type-center">
			                    <span class="content-section__number">
			                        <span class="content-section__number-wrap">
			                            02
			                        </span>
			                    </span>
	                            切开法，若一定需要的话，<strong class="color-incisional1">要好好做。</strong>
							</h4>
	                    </div>
	                    <div class="content-section__box1">
	                        <p class="content-section__txt1">
	                            考虑眼睛整形的人大部分都不想切开。<br class="hidden-tm">
	                            我们也尽量能用非切开法的话，就用非切开法来改善眼型。与患者进行充分咨询后，需要的情况使用切开法。若眼皮脂肪多或者眼皮下垂的情形适合切开法。
	                        </p>
	                        <div class="content-section__img-wrap type-width clearfix">
	                            <div class="content-section__img ">
	                                <div class="content-section__item">
	                                    <img src="../../images/eye/incisional-sec3-01.jpg" alt="切开双眼皮 line" class="content-section__thumb sec2-pic1">
	                                    <div class="content-section__thumb sec2-pic1"></div>
	                                </div>
	                            </div>
	                            <div class="content-section__img">
	                                <div class="content-section__item">
	                                    <img src="../../images/eye/incisional-sec3-02.jpg" alt="切开双眼皮 line"class="content-section__thumb sec2-pic1">
	                                </div>
	                            </div>
	                        </div>
	                        <div class="brace type-incisional">
	                            <p class="brace__txt txt-v4">
	                                若需要进行切开法的眼睛，一定要做好才行。<br>
	                                <span class="color-incisional1">手术实力好的医生做得</span><br>
	                                切开法双眼皮比非切开的效果更满意。
	                            </p>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <!--contenct-section-->
	        </div>
	        <div class="incisional-box4">
	            <div class="content-section">
	                <div class="content-section__wrapper type-bg">
	                    <div class="content-section__wrapper type-desc clearfix">
	                        <div class="content-section__wrapper type-bg--tm">
	                            <h4 class="content-section__tit type-left">
									<span class="content-section__number">
										<span class="content-section__number-wrap">03</span>
									</span>
	                                <strong class="color-incisional1">自然？</strong><br>
	                                佰诺佰琪<br class="hidden-m">决不放弃
	                            </h4>
	                        </div>
	                        <div class="content-section__desc">
	                            <div class="content-section__question1 highlight-incisional1">“真得是用切开法做得手术吗？”&nbsp;</div>
	                            <div class="content-section__txt1">
	                                看到本院手术患者案列的朋友们经常这样问，明明是用切开做得手术，但是一点也不明显。佰诺佰琪的切开法双眼皮手术就是那么自然。适当地整理眼皮组织，干净地进行切除，不留疤痕，打造如自己眼睛般自然的双眼皮线条。
	                                <span class="content-section__dot"></span>
	                            </div>
	                            <div class="content-section__question1 highlight-incisional2">切开法会很明显吗？</div>
	                            <div class="content-section__txt1">
	                                绝对不会的。眼睛整形做得好，还是做得不好，从切开法上就能体现差异。一定会有把切开法做得像埋线法般自然的医生。若只能用切开法进行手术的情况，就一定要找这样的医疗机构，这样的医生。
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <!--contenct-section-->
	        </div>
	        <div class="incisional-box5">
	            <div class="content-section">
	                <div class="content-section__wrapper type-width">
	                    <div class="content-section__wrapper">
	                        <h4 class="content-section__tit type-center">
								<span class="content-section__number">
									<span class="content-section__number-wrap">04</span>
								</span>
	                            <strong class="color-incisional1">疤痕和浮肿， </strong>不用太担心。
	                        </h4>
	                    </div>
	                    <div class="content-section__wrapper type-contents">
	                        <div class="content-section__txt1">
	                            不喜欢切开法手术的理由大概是因为疤痕。手术后也能明显地看到手术痕迹，一定非常担心。但6个月后基本上就看不到疤痕了。
	                        </div>
	                        <div class="after-surgery">
	                            <ul class="after-surgery__list clearfix">
	                                <li class="after-surgery__item">
	                                    <div class="after-surgery__inner">
	                                        <div class="after-surgery__thumb img01">拆线后</div>
	                                        <div class="after-surgery__desc color">
	                                            <p class="after-surgery__txt1">拆线后</p>
	                                        </div>
	                                    </div>
	                                </li>
	                                <li class="after-surgery__item">
	                                    <div class="after-surgery__inner">
	                                        <div class="after-surgery__thumb img02">一个月后</div>
	                                        <div class="after-surgery__desc">
	                                            <p class="after-surgery__txt1">一个月后</p>
	                                        </div>
	                                    </div>
	                                </li>
	                                <li class="after-surgery__item">
	                                    <div class="after-surgery__inner">
	                                        <div class="after-surgery__thumb img03">三个月后</div>
	                                        <div class="after-surgery__desc">
	                                            <p class="after-surgery__txt1">三个月后</p>
	                                        </div>
	                                    </div>
	                                </li>
	                                <li class="after-surgery__item">
	                                    <div class="after-surgery__inner">
	                                        <div class="after-surgery__thumb img04">六个月后</div>
	                                        <div class="after-surgery__desc">
	                                            <p class="after-surgery__txt1">六个月后</p>
	                                        </div>
	                                    </div>
	                                </li>
	                            </ul>
	                        </div>
	                        <div class="content-section__txt1 type-special">
	                            切开法手术不管怎么样比非切开法手术浮肿时间长。浮肿大概术后2-3天最严重，时间越久就越自然。
	                        </div>
	                        <div class="open-close">
	                            <ul class="open-close__list clearfix">
	                                <li class="open-close__item">
	                                    <div class="open-close__inner">
	                                        <div class="open-close__thumb img01">正面， 45度(右)</div>
	                                    </div>
	                                </li>
	                                <li class="open-close__item">
	                                    <div class="open-close__inner">
	                                        <div class="open-close__thumb img02">正面， 45度(左)</div>
	                                    </div>
	                                </li>
	                            </ul>
	                        </div>
	                        <div class="content-section__txt3">
	                            [ 本照片是为了助于理解，由佰诺佰琪获得手术案例者的同意而进行刊载。]
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <!--contenct-section-->
	        </div>
			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-eye">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">手术详情</h4>
							<!-- <p class="operation-v2__subtit">介绍切开法的手术信息</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">手术时间</h5>
										<p class="operation-v2__txt txt-new1">约30分~1小时</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">麻醉方法</h5>
										<p class="operation-v2__txt txt-new1">局部麻醉</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">拆线</h5>
										<p class="operation-v2__txt txt-new1">约2~3天后拆线</p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">住院时间</h5>
										<p class="operation-v2__txt txt-new1">当天回家</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">来院治疗</h5>
										<p class="operation-v2__txt txt-new1">约1次</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">恢复</h5>
										<p class="operation-v2__txt txt-new1">约7~14天后恢复日常生活</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-eye">
								<h5 class="pain-v2__tit txt-new2">术后体感疼痛</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 1){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">square</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">square</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									从麻醉上来看的话，切开法的麻醉比埋线法的一般局部麻醉疼痛感要少一点。<br>
									麻醉药效过后，手术部位会有一阵一阵疼痛，伴有一点不适感的痛症。<br>
									建议特别不适的患者使用镇痛剂，药店里卖得镇痛剂就能控制。<br>
									若感到有些发热，可进行冰敷。
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* 通过对术后患者进行问卷调查得出的平均值</p>
									<p class="pain-v2__noti txt-new4">* 从数据不存在绝对性，会存在个人差异，仅供大家作为参考。</p>
								</div>
								<!-- <a href="<?php echo SITE_UPLOAD_URL?>/knowledge/eye.pdf" target="_blank" class="operation-v2__link"><span>术后注意事项</span></a> -->
							</div><!-- //pain -->
						</div>
					</div>
				</div>
            </div>
	    </div>
	</div> <!-- //content -->

	<% include ../_include/_bfaf %>
</div><!-- // container -->

<% include ../_include/_footer %>
