<%
	type = "content"
	page = "hair"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>

    <div class="content" data-page="hair-woman">
		<div class="new-visual type-woman">
			<div class="new-visual__box">
				<div class="new-visual__outer">
					<div class="new-visual__inner">
						<p class="new-visual__subtit">缩小面部，打造面部立体感</p>
						<h3 class="new-visual__tit">
                            <span class="n-color-hair1">女性</span>毛发移植
                        </h3>
						<p class="new-visual__txt">就像自己头发般自然</p>
						<ul class="new-visual__list">
							<li class="new-visual__item"><span>#矫正发际线</span></li>
							<li class="new-visual__item"><span>#小脸童颜效果</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- //new-visual-->

		<div class="new-content-wrap">
			<div class="new-section">
				<div class="new-style1 type-woman">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						通过<span class="n-color-hair1">发际线矫正</span>也能<br>
						改善形象
					</h4>
					<p class="new-style1__txt txt-new1">
						听说过‘美的完成是发际线’这句话吗?<br class="hidden-tm">
						<mark class="mark-hair weight-medium">发际线是决定形象的重要要素</mark>。<br class="hidden-tm">
						额头太狭窄的话，会给人太闷的印象，<br class="hidden-tm">
						太高的额头线会使脸看上去很长，形成自卑感。
					</p>
					<p class="new-style1__txt2 txt-new2 type-quotation type-hair2">
						发际线矫正不是单纯地矫正额头线条或者减少面积的手术。 <br class="hidden-tm">
						<strong class="weight-medium">考虑脸型及额头线条，就像自己头发般<span class="n-color-hair1">自然地设计额头线条，</span></strong><br class="hidden-tm">
						这就是佰诺佰琪整形外科毛发移植中心追求的发际线矫正。
					</p>
					<p class="new-style1__txt txt-new1">
						临床经验丰富的李京求院长指导下的毛发移植团队<br class="hidden-tm">
						以先进的技术，从商谈到手术提供给患者1:1的服务<br class="hidden-tm">
						<mark class="mark-hair weight-medium">打造适合本人脸型及形象的自然发际线</mark>。
					</p>
					<div class="new-style1__img mobile-padding">
						<img src="../../images/hair/woman/woman_img_1.png" alt="hair model" class="img-normal">
					</div>

				</div>
				<div class="new-style1 type-top0 type-bottom type-woman2">
					<div class="inner-box">
						<h5 class="new-content-tit tit-new2">佰诺佰琪 <strong class="weight-regular">发际线矫正过程</strong></h5>
						<div class="step-style5 type-hair">
							<ul class="step-style5__list">
								<li class="step-style5__item">
									<h6 class="step-style5__subject txt-new2">STEP. 01</h6>
									<img src="../../images/hair/woman/woman_step_1.jpg" alt="STEP. 01" class="img-w100">
									<div class="step-style5__box js-height-second">
										<p class="step-style5__txt txt-new1">
											详细地1：1的咨询<br>
											（判断脸型，额头的形状）
										</p>
									</div>
								</li>
								<li class="step-style5__item">
									<h6 class="step-style5__subject txt-new2">STEP. 02</h6>
									<img src="../../images/hair/woman/woman_step_2.jpg" alt="STEP. 02" class="img-w100">
									<div class="step-style5__box js-height-second">
										<p class="step-style5__txt txt-new1">
											量身设计发型<br>
											（面部比例，移植范围确认,<br>
											理想的发际线等量身设计）
										</p>
									</div>
								</li>
								<li class="step-style5__item">
									<h6 class="step-style5__subject txt-new2">STEP. 03</h6>
									<img src="../../images/hair/woman/woman_step_3.jpg" alt="STEP. 03" class="img-w100">
									<div class="step-style5__box js-height-second">
										<p class="step-style5__txt txt-new1">
											采取并分离毛囊<br>
											（降低损伤及疤痕<br>
											采取毛囊并分离的施术）
										</p>
									</div>
								</li>
								<li class="step-style5__item">
									<h6 class="step-style5__subject txt-new2">STEP. 04</h6>
									<img src="../../images/hair/woman/woman_step_4.jpg" alt="STEP. 04" class="img-w100">
									<div class="step-style5__box js-height-second">
										<p class="step-style5__txt txt-new1">
											毛囊移植<br>
											（根据毛发的角度及方向，<br>
											形状及匀称，密度等定制式移植）
										</p>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>


			<div class="new-section type-cling">
				<div class="new-style1 type-woman4 type-bottom">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						小脸，童颜效果<br class="hidden-tm">
						<span class="n-color-hair2">通过发际线矫正就</span>能实现
					</h4>
					<p class="new-style1__txt txt-new1">
						从整形的角度看，面部分成上，中，下时， <strong class="weight-medium color-black1">最理想的脸型比例是1:1:0.8</strong><br class="hidden-tm">
						占脸型1/3比例的额头 <mark class="mark-white weight-medium">根据形状，比例决定一个的形象</mark><br class="hidden-tm">
						佰诺佰琪的女性发际线毛发移植不仅 <mark class="mark-white weight-medium">考虑到功能性的改善，而且也考虑到外表的美丽。</mark><br><br>
						单纯不是狭窄的额头,而是 <span class="weight-medium color-black1">根据每个人的形象,比例</span>量身设计。<br class="hidden-tm">
						因为毛发的密度太低或者太高，都会看上去不自然。
					</p>
					<p class="new-style1__txt2 txt-new2 type-quotation type-hair">
						佰诺佰琪发际线通过细腻的碎发移植技术及立体的再配置<br class="hidden-tm">
						<strong class="weight-medium"><span class="n-color-hair2">打造五官与发际线的自然协调，</span>能达到<span class="n-color-hair2">小脸童颜效果</span>。</strong>
					</p>
					<div class="new-style1__img type-padding-m">
						<img src="../../images/hair/woman/woman_img_2.jpg" alt="hair model" class="img-normal hidden-m">
						<img src="../../images/hair/woman/woman_img_2_m.jpg" alt="hair model" class="img-normal hidden-pt">
						<p class="new-style1__noti txt-new1">※ 为了帮助理解的参考图片。</p>
					</div>
					<div class="inner-box">
						<div class="img-style1">
							<h5 class="new-content-tit tit-new2">
								佰诺佰琪发际线移植的 <span class="weight-regular">特征</span>
							</h5>
							<ul class="img-style1__list type-half type-notit">
								<li class="img-style1__item">
									<img src="../../images/hair/woman/woman_img_3.jpg" class="img-w100" alt="">
									<h5 class="img-style1__subject txt-new2">打造小脸的效果</h5>
								</li>
								<li class="img-style1__item">
									<img src="../../images/hair/woman/woman_img_4.jpg" class="img-w100" alt="">
									<h5 class="img-style1__subject txt-new2">细腻的碎发再配置移植技术 </h5>
								</li>
								<li class="img-style1__item">
									<img src="../../images/hair/woman/woman_img_5.jpg" class="img-w100" alt="">
									<h5 class="img-style1__subject txt-new2">五官与发际线自然协调</h5>
								</li>
								<li class="img-style1__item">
									<img src="../../images/hair/woman/woman_img_6.jpg" class="img-w100" alt="">
									<h5 class="img-style1__subject txt-new2">理想比例的童颜效果</h5>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="new-section type-cling">
				<div class="new-style1 type-hair type-woman3">
					<h4 class="new-style1__tit tit-new1 weight-regular">
					   宽额头，再也 <span class="n-color-hair1 inline-block">不用遮挡了</span>
					</h4>
					<p class="new-style1__txt txt-new1">
						起风时赶紧遮住额头，炎热的夏天也得用刘海遮住宽额头，<br class="hidden-tm">
						不要再烦恼， <mark class="mark-hair weight-medium">佰诺佰琪通过额头缩小再配置让你重获自信！</mark><br class="hidden-tm">
						<strong class="weight-medium color-black1">宽大并成四方的女性额头让脸看上去更大，给人男性</strong>的感觉
					</p>
					<p class="new-style1__txt2 txt-new2 type-quotation type-hair2">
						额头偏宽偏高，与脸型比例不合适或者因脱发额头变宽的情况， <br class="hidden-tm">
						<strong class="weight-medium">对非对称发际线的人来说， <span class="n-color-hair1">佰诺佰琪额头缩小有效果。</span></strong>
					</p>
					<div class="new-style1__img">
						<img src="../../images/hair/woman/woman_img_7.jpg" alt="" class="img-w100">
					</div>
				</div>
				<div class="outer-box type-white">
					<div class="inner-box type-woman">
						<h5 class="new-content-tit tit-new2">
							佰诺佰琪 <span class="weight-regular">定制式发际线缩小</span>
						</h5>
						<div class="step-style5 type-hair2 type-three">
							<ul class="step-style5__list">
								<li class="step-style5__item">
									<h6 class="step-style5__subject txt-new2">STEP. 01</h6>
									<img src="../../images/hair/woman/woman_step_5.jpg" alt="STEP. 01" class="img-w100">
								</li>
								<li class="step-style5__item">
									<h6 class="step-style5__subject txt-new2">STEP. 02</h6>
									<img src="../../images/hair/woman/woman_step_6.jpg" alt="STEP. 02" class="img-w100">
								</li>
								<li class="step-style5__item">
									<h6 class="step-style5__subject txt-new2">STEP. 03</h6>
									<img src="../../images/hair/woman/woman_step_7.jpg" alt="STEP. 03" class="img-w100">
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="outer-box type-white">
					<div class="inner-box type-woman2">
						<h5 class="new-content-tit tit-new2">
							需发际线额头缩小的情况
						</h5>
						<div class="img-style1 type-inner">
						    <ul class="img-style1__list type-half">
						        <li class="img-style1__item">
						            <div class="img-style1__img">
						                <img src="../../images/hair/woman/woman_img_8.jpg" class="img-w100" alt="M자 이마">
						            </div>
						            <p class="img-style1__subject txt-new2">
						                M字额头
						            </p>
						        </li>
						        <li class="img-style1__item">
						            <div class="img-style1__img">
						                <img src="../../images/hair/woman/woman_img_9.jpg" class="img-w100" alt="각진 이마">
						            </div>
						            <p class="img-style1__subject txt-new2">
						                四方额头
						            </p>
						        </li>
						        <li class="img-style1__item">
						            <div class="img-style1__img">
						                <img src="../../images/hair/woman/woman_img_10.jpg" class="img-w100" alt="넓은 이마">
						            </div>
						            <p class="img-style1__subject txt-new2">
						                宽额头
						            </p>
						        </li>
						        <li class="img-style1__item">
						            <div class="img-style1__img">
						                <img src="../../images/hair/woman/woman_img_11.jpg" class="img-w100" alt="비대칭 이마">
						            </div>
						            <p class="img-style1__subject txt-new2">
						                非对称额头
						            </p>
						        </li>
						    </ul>
						</div>
					</div>
				</div>
			</div>
			<div class="new-section">
				<div class="new-style1 type-hair type-woman5">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						<span class="n-color-hair1">佰诺佰琪女性发际线</span>有碎发更美丽
					</h4>
					<p class="new-style1__txt txt-new1">
						女性发际线矫正的核心是 <mark class="mark-hair2">自然细节</mark>。<br>
						<span class="n-color-hair1">佰诺佰琪为了更准确自然的结果</span> 考虑患者固有的头皮状态，毛发的状态及密度，方向等<br class="hidden-tm">
						考虑各种条件，采取毛囊，细致地进行移植。
					</p>
					<p class="new-style1__txt2 txt-new2 type-quotation weight-medium type-hair2">
						为了<span class="n-color-hair1">自然与美丽的线条</span>，特别地注重碎发的移植，满意度高。
					</p>
					<p class="new-style1__txt txt-new1">
						移植发际线后，佰诺佰琪有 <mark class="mark-hair2">1Year Care</mark>的差别化高存活护理<br class="hidden-tm">
						在佰诺佰琪整形外科毛发移植中心可体验。
					</p>
					<div class="hair-style1">
						<div class="hair-style1__area">
							<h5 class="hair-style1__tit tit-new3">额头<br class="hidden-tm">发际线<br class="hidden-tm">矫正对象</h5>
							<ul class="hair-style1__list">
								<li class="hair-style1__item nth-1">
									<img src="../../images/hair/woman/woman_circle_1.jpg" class="hair-style1__img img-w100" alt="">
									<div class="hair-style1__box js-height txt-new1">
										<div class="hair-style1__wrap">
											想要自然发际线的情况
										</div>
									</div>
								</li>
								<li class="hair-style1__item nth-2">
									<img src="../../images/hair/woman/woman_circle_2.jpg" class="hair-style1__img img-w100" alt="">
									<div class="hair-style1__box js-height txt-new1">
										<div class="hair-style1__wrap">
											发际线不匀称的情况
										</div>
									</div>
								</li>
								<li class="hair-style1__item nth-3">
									<img src="../../images/hair/woman/woman_circle_3.jpg" class="hair-style1__img img-w100" alt="">
									<div class="hair-style1__box js-height txt-new1">
										<div class="hair-style1__wrap">
											四方额头，M字额头的情况
										</div>
									</div>
								</li>
								<li class="hair-style1__item nth-4">
									<img src="../../images/hair/woman/woman_circle_4.jpg" class="hair-style1__img img-w100" alt="">
									<div class="hair-style1__box js-height txt-new1">
										<div class="hair-style1__wrap">
											无需截骨手术，就能达到缩小面部的效果
										</div>
									</div>
								</li>
								<li class="hair-style1__item nth-5">
									<img src="../../images/hair/woman/woman_circle_5.jpg" class="hair-style1__img img-w100" alt="">
									<div class="hair-style1__box js-height txt-new1">
										<div class="hair-style1__wrap">
											面部轮廓手术后 <br>
											想要拥有完美脸型的情况
										</div>
									</div>
								</li>
								<li class="hair-style1__item nth-6">
									<img src="../../images/hair/woman/woman_circle_6.jpg" class="hair-style1__img img-w100" alt="">
									<div class="hair-style1__box js-height txt-new1">
										<div class="hair-style1__wrap">又宽有高的额头的情况</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="new-style1__img">
						<img src="../../images/hair/woman/woman_img_12.png" alt="" class="img-w100">
					</div>
				</div>
				<div class="new-style1 type-top0 type-bottom type-woman6">
					<div class="inner-box">
						<div class="hair-style2">
							<h5 class="new-content-tit tit-new2">毛发移植后 <strong class="weight-regular">1YEAR CARE</strong></h5>
							<div class="hair-style2__area">
								<div class="hair-growth">
									<div class="hair-growth__wrap">
										<div class="hair-growth__line"></div>
									</div>
								</div>
								<ul class="hair-style2__list js-scroll-motion">
									<li class="hair-style2__item" data-tab="is-high">
										<div class="hair-style2__header txt-new2 nth-4">
											<div class="hair-style2__wrap">
												1Year check<br>
												继续护理
											</div>
											<div class="hair-style2__right">
												<div class="hair-style2__arrow">arrow</div>
											</div>
											<a href="" class="hair-style2__btn">open/close</a>
										</div>
										<div class="hair-style2__body">
											<img src="../../images/hair/woman/woman_process_4.jpg" class="img-w100" alt="">
											<p class="hair-style2__txt txt-new1">
												术后1,3,6,12个月护理
											</p>
										</div>
									</li>
									<li class="hair-style2__item" data-tab="is-middle">
										<div class="hair-style2__header txt-new2 nth-3">
											<div class="hair-style2__wrap">
												4周后
											</div>
											<div class="hair-style2__right">
												<div class="hair-style2__arrow">arrow</div>
											</div>
											<a href="" class="hair-style2__btn">open/close</a>
										</div>
										<div class="hair-style2__body">
											<img src="../../images/hair/woman/woman_process_1.jpg" class="img-w100" alt="">
											<p class="hair-style2__txt txt-new1">
												头皮去角质<br>
												Meso疗法<br>
												Smartlux
											</p>
										</div>
									</li>
									<li class="hair-style2__item" data-tab="is-low">
										<div class="hair-style2__header txt-new2 nth-2">
											<div class="hair-style2__wrap">
												10~14天后
											</div>
											<div class="hair-style2__right">
												<div class="hair-style2__arrow">arrow</div>
											</div>
											<a href="" class="hair-style2__btn">open/close</a>
										</div>
										<div class="hair-style2__body">
											<img src="../../images/hair/woman/woman_process_2.jpg" class="img-w100" alt="">
											<p class="hair-style2__txt txt-new1">
												拆线
											</p>
										</div>
									</li>
									<li class="hair-style2__item is-active" data-tab="is-zero">
										<div class="hair-style2__header txt-new2 nth-1">
											<div class="hair-style2__wrap">
												2天
											</div>
											<div class="hair-style2__right">
												<div class="hair-style2__arrow">arrow</div>
											</div>
											<a href="" class="hair-style2__btn">open/close</a>
										</div>
										<div class="hair-style2__body">
											<img src="../../images/hair/woman/woman_process_1.jpg" class="img-w100" alt="">
											<p class="hair-style2__txt txt-new1">
												消毒，洗头
											</p>
										</div>
									</li>
								</ul>
							</div>
							<p class="hair-style2__noti txt-new1">※ 据Meso疗法及追加的管理方法， <span class="inline-block">根可能会产生其他费用</span></p>
						</div>
					</div>
				</div>
			</div>
			<!-- 수술정보 -->
			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-hair">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">手术详情</h4>
							<!-- <p class="operation-v2__subtit">조직 손상이 거의 없어 회복이 비교적 빠르고 통증이 적습니다.</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">手术时间</h5>
										<p class="operation-v2__txt txt-new1">约4小时 (非切开/3,000毛基准)</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">麻醉方法</h5>
										<p class="operation-v2__txt txt-new1">局部麻醉 (必要时静脉麻醉)</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">拆线</h5>
										<p class="operation-v2__txt txt-new1">约10~14天</p>
									</div>
								</li>
								<li class="operation-v2__item nth-7 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">手术材料</h5>
										<p class="operation-v2__txt txt-new1">不需要</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">来院治疗</h5>
										<p class="operation-v2__txt txt-new1">复查及护理2次以内</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">恢复</h5>
										<p class="operation-v2__txt txt-new1">快速恢复日常生活</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-hair">
								<h5 class="pain-v2__tit txt-new2">术后体感疼痛</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 2){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">원</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">원</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									毛发移植是痛症基本上没有的手术。<br>
									可能会伴有毛发采取部位的刺痛或者一点的不适感。 <br>
									对非常不舒服的人推荐服用镇痛剂。 <br>
									药店卖得镇痛剂就能止痛。
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* 通过对术后患者进行问卷调查得出的平均值。</p>
									<p class="pain-v2__noti txt-new4">* 从数据不存在绝对性，会存在个人差异，仅供大家作为参考。</p>
								</div>
							</div><!-- //pain -->
						</div>
					</div>
				</div>
			</div>
		</div><!-- //new-content-wrap-->
    </div><!-- //content-->

	<% include ../_include/_bfaf %>
</div> <!-- //container -->

<% include ../_include/_footer %>
