<%
	type = "content"
	page = "hair"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>

	<div class="content" data-page="hair-man">
		<div class="new-visual type-hairman">
			<div class="new-visual__box">
				<div class="new-visual__outer">
					<div class="new-visual__inner">
						<p class="new-visual__subtit">自然而然找回的自信感</p>
						<h3 class="new-visual__tit">
                            <span class="n-color-hair1">男性</span>毛发移植
                        </h3>
						<p class="new-visual__txt">不突兀的浓密感让你更加自信堂堂</p>
						<ul class="new-visual__list">
							<li class="new-visual__item"><span>#毛发移植定制</span></li>
							<li class="new-visual__item"><span>#采取头部后侧毛囊</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- //new-visual-->

		<div class="new-content-wrap">
			<div class="new-section type-cling">
                <div class="new-style1 type-hairman">
                    <h4 class="new-style1__tit tit-new1 weight-regular">
                        由于脱发导致的压力，佰诺佰琪为你减轻
                    </h4>
                    <p class="new-style1__txt txt-new1">
                        让你的日常生活回归平凡。<br class="hidden-m">
                        从洗头到吹干到造型，对任何人来说的平凡日常因脱发而压力满满。
                    </p>
                    <p class="new-style1__txt2 txt-new2">
                        佰诺佰琪<span class="n-color-hair1">面对脱发以专业的理解和熟练技巧为基础，掌握脱发的状态及原因量身制定毛发的移植及治疗。</span><br><br>

						由于脱发的形态因人而异，根据不同类型必要移植的毛囊数量和手术方法、设计等，需要通过经验丰富的专业医生的咨询后来决定。
                    </p>
					<p class="new-style1__txt txt-new1">
                        无需担心是否为时已晚，也不要轻言放弃，趁更迟以前尽早开始改变。
                    </p>
					<div class="new-style1__img">
						<img src="../../images/hair/hairman/hairman_img_1.jpg" alt="model" class="img-normal">
					</div>
                </div>
            </div>

			<div class="new-section type-cling">
				<div class="new-style1 type-pb type-hairman2">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						<span class="n-color-hair5">毛发移植定制</span>，任何角度都尽显自然
					</h4>
					<p class="new-style1__txt txt-new1">
						正面、侧面，任何角度来看都充满自信。<br class="hidden-m">
						佰诺佰琪的男性毛发移植将男性的特质考虑在内打造自然的毛发移植。
					</p>
					<p class="new-style1__txt2 txt-new2">
						毛发移植并不是单纯的将脑后部的毛发移到前面，而是以精细的技术和经验为基础而进行的手术。<br><br>
						不考虑脸型仅仅做毛发移植只能留下不自然的结果。<br class="hidden-tm">
						因此 <mark class="mark-hair"><span class="n-color-hair2 weight-regular">因此将个人脸部形状、额头模样、个人喜好的发型</span>等</mark><br>
						<mark class="mark-hair"><span class="n-color-hair2 weight-regular">多样化条件和固有的毛发状态、密度等考虑在内</span></mark><br>
						<mark class="mark-hair">尽可能自然的採取毛发矫正并再配置</mark>
					</p>
					<p class="new-style1__txt txt-new1">
                        掌握这种核心技术的佰诺佰琪定制的毛发移植<br class="hidden-tm">
						就如同定制西装一般契合于自己脸型<br class="hidden-tm">
						无论从何种角度来看都自然的无缝连接从而得到更好的结果。
                    </p>
				</div>
				<div class="new-style1 type-top0 type-bottom type-hairman3">
					<div class="inner-box">
						<h5 class="new-content-tit tit-new2">精细设计的差异</h5>
						<div class="img-style3 type-tablet-full">
							<ul class="img-style3__list">
								<li class="img-style3__item">
									<div class="img-style3__img">
										<img src="../../images/hair/hairman/hairman_img_2.jpg" class="img-w100" alt="偏好的发型, 考虑整体脸型">
									</div>
								</li>
								<li class="img-style3__item">
									<div class="img-style3__img">
										<img src="../../images/hair/hairman/hairman_img_3.jpg" class="img-w100" alt="络腮胡线条, 额头线条的方向及角度">
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="new-section type-cling">
				<div class="new-style1">
					<h4 class="new-style1__tit tit-new1 weight-regualr">
						男性脱发<span class="n-color-hair5">不同类型的毛发移植</span>
					</h4>
					<p class="new-style1__txt txt-new1">
						由于脱发的原因、状态、症状都不同，符合个人情况更加重要。
					</p>
					<p class="new-style1__txt2 txt-new2">
						男性毛发移植可以分为从额头两侧开始脱发的<strong class="weight-bold">M字型</strong>开始到<br class="hidden-m">
						发际线整体渐渐上移而导致额头变宽的<strong class="weight-bold">C字型</strong>，<br class="hidden-m">
						从头顶开始脱发的<strong class="weight-bold">O字型</strong>和<br class="hidden-m">
						跟这种形态同时进行的<strong class="weight-bold">复合型</strong>。
					</p>
					<p class="new-style1__txt txt-new1">
						毛发渐渐变得稀松，额头和头发丝的警戒线越来越向后移动，额头变宽，头顶的脱发也缓缓的开始。<br><br>

						男性脱发是会持续进行的，所以在更严重以前应通过跟专业医生的沟通，得到诊断后， 系统的进行管理。
					</p>
					<div class="hair-man1">
						<h5 class="new-content-tit tit-new2">根据脱发的不同类型定制毛发移植</h5>
						<div class="hair-man1__wrap">
							<div class="hair-man1__outer">
								<div class="hair-man1__inner">
									<a href="" class="hair-man1__btn type-prev js-hair-prev">prev</a>
									<a href="" class="hair-man1__btn type-next js-hair-next">next</a>
								</div>
							</div>
							<ul class="hair-man1__list">
								<li class="hair-man1__item is-active">
									<div class="hair-man1__img">
										<img src="../../images/hair/hairman/hairman_style_1_big.jpg" class="img-w100" alt="M字型">
									</div>
									<div class="hair-man1__box">
										<h6 class="hair-man1__tit txt-new2">M字型</h6>
										<p class="hair-man1__txt txt-new1">发际线高度适中，额头两侧棱角开始呈M字的沟壑部分填充即可</p>
									</div>
								</li>
								<li class="hair-man1__item">
									<div class="hair-man1__img">
										<img src="../../images/hair/hairman/hairman_style_2_big.jpg" class="img-w100" alt="C字型">
									</div>
									<div class="hair-man1__box">
										<h6 class="hair-man1__tit txt-new2">C字型</h6>
										<p class="hair-man1__txt txt-new1">发际线塌陷的额头内侧为止呈圆形，考虑到发际线的高度、额头模样是重点</p>
									</div>
								</li>
								<li class="hair-man1__item">
									<div class="hair-man1__img">
										<img src="../../images/hair/hairman/hairman_style_3_big.jpg" class="img-w100" alt="O字型">
									</div>
									<div class="hair-man1__box">
										<h6 class="hair-man1__tit txt-new2">O字型</h6>
										<p class="hair-man1__txt txt-new1">从头顶呈圆形状脱落，恢复发旋是重点</p>
									</div>
								</li>
								<li class="hair-man1__item">
									<div class="hair-man1__img">
										<img src="../../images/hair/hairman/hairman_style_4_big.jpg" class="img-w100" alt="复合型">
									</div>
									<div class="hair-man1__box">
										<h6 class="hair-man1__tit txt-new2">复合型</h6>
										<p class="hair-man1__txt txt-new1">发际线及头顶脱发混合出现的情况需大量的毛发移植</p>
									</div>
								</li>
							</ul>
							<div class="hair-thumbnail1">
								<ul class="hair-thumbnail1__list">
									<li class="hair-thumbnail1__item js-thumbnail is-active" data-slide="0">
										<div class="hair-thumbnail1__img">
											<img src="../../images/hair/hairman/hairman_style_1_small.jpg" class="img-w100" alt="M字型">
										</div>
										<div class="hair-thumbnail1__box">
											<div class="hair-thumbnail1__outer">
												<div class="hair-thumbnail1__inner txt-new2">M字型</div>
											</div>
										</div>
									</li>
									<li class="hair-thumbnail1__item js-thumbnail" data-slide="1">
										<div class="hair-thumbnail1__img">
											<img src="../../images/hair/hairman/hairman_style_2_small.jpg" class="img-w100" alt="C字型">
										</div>
										<div class="hair-thumbnail1__box">
											<div class="hair-thumbnail1__outer">
												<div class="hair-thumbnail1__inner txt-new2">C字型</div>
											</div>
										</div>
									</li>
									<li class="hair-thumbnail1__item js-thumbnail" data-slide="2">
										<div class="hair-thumbnail1__img">
											<img src="../../images/hair/hairman/hairman_style_3_small.jpg" class="img-w100" alt="O字型">
										</div>
										<div class="hair-thumbnail1__box">
											<div class="hair-thumbnail1__outer">
												<div class="hair-thumbnail1__inner txt-new2">O字型</div>
											</div>
										</div>
									</li>
									<li class="hair-thumbnail1__item js-thumbnail" data-slide="3">
										<div class="hair-thumbnail1__img">
											<img src="../../images/hair/hairman/hairman_style_4_small.jpg" class="img-w100" alt="复合型">
										</div>
										<div class="hair-thumbnail1__box">
											<div class="hair-thumbnail1__outer">
												<div class="hair-thumbnail1__inner txt-new2">复合型</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="new-section">
				<div class="new-style1 type-hairman4">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						采取毛囊<br class="hidden-tm">
						任何方式进行手术都<span class="n-color-hair6">充满自信</span>
					</h4>
					<p class="new-style1__txt txt-new2">
						毛发移植最重要的第一阶段，即从后脑部分採取毛囊。<br class="hidden-m">
                        提取毛囊一般分为切开或非切开手术，两种方式各有优劣佰诺佰琪并不执著于其中某一种方法。
					</p>
					<p class="new-style1__txt2 txt-new1">
						通过与患者充分的沟通与交流，推荐更加适合的採取方式，进行相应的手术。<br class="hidden-tm">
                        手术经验丰富的李京求院长的切开手术细致的同时不适感极低，患者满足度非常高。李京求院长的非切开手术则<mark class="mark-hair">为了更高的完成度利用名为ARTAS的机器人进行手术。ARTAS机器人毛发移植是可以弥补一般的切开手术劣势的手术，</mark>更加精确的提取毛囊，减少疤痕降低大量移植毛发带来的负担。
					</p>
					<div class="new-style1__img">
						<img src="../../images/hair/hairman/hairman_img_2.png" alt="바노바기 성형외과 동안 성형모델" class="img-normal">
					</div>
				</div>
				<div class="new-style1 type-top0 type-bottom type-hairman5">
					<div class="inner-box">
						<div class="img-style2 type-hair">
							<h5 class="new-content-tit tit-new2">佰诺佰琪毛发门诊的<strong class="weight-bold">特征</strong></h5>
							<ul class="img-style2__list">
								<li class="img-style2__item nth-1">
									<div class="img-style2__box">
										<img src="../../images/hair/hairman/hairman_advantage_1.jpg" alt="1:1负责主刀" class="img-w100">
										<div class="img-style2__caption txt-new2">1:1负责主刀</div>
									</div>
									<p class="img-style2__txt txt-new1">
										从咨询到提取，<br>
										移植的全部过程<br>
										由专家亲自主刀
									</p>
								</li>
								<li class="img-style2__item nth-1">
									<div class="img-style2__box">
										<img src="../../images/hair/hairman/hairman_advantage_2.jpg" alt="充足的经验" class="img-w100">
										<div class="img-style2__caption txt-new2">充足的经验</div>
									</div>
									<p class="img-style2__txt txt-new1">
										拥有3，000例以上的<br>
										临床经验和技术力及秘诀的<br>
										医疗专家
									</p>
								</li>
								<li class="img-style2__item nth-1">
									<div class="img-style2__box">
										<img src="../../images/hair/hairman/hairman_advantage_3.jpg" alt="拥有 ARTAS 9X机器人" class="img-w100">
										<div class="img-style2__caption txt-new2">拥有 ARTAS 9X机器人</div>
									</div>
									<p class="img-style2__txt txt-new1">
										李京求院长的经验与<br>
										ARTAS机器人相结合，<br>
										便可以实现完成度更高的非切开手术
									</p>
								</li>
								<li class="img-style2__item nth-1">
									<div class="img-style2__box">
										<img src="../../images/hair/hairman/hairman_advantage_4.jpg" alt="精致的再配置" class="img-w100">
										<div class="img-style2__caption txt-new2">精致的再配置</div>
									</div>
									<p class="img-style2__txt txt-new1">
										脸型和毛发生长特性，<br>
										考虑手术的方向<br>
										是再配置技术的核心
									</p>
								</li>
								<li class="img-style2__item nth-1">
									<div class="img-style2__box">
										<img src="../../images/hair/hairman/hairman_advantage_5.jpg" alt="毛发移植诊疗团" class="img-w100">
										<div class="img-style2__caption txt-new2">毛发移植诊疗团</div>
									</div>
									<p class="img-style2__txt txt-new1">
										以李京求院长为首<br>
										熟练协同合作的<br>
										毛发专家团构成
									</p>
								</li>
								<li class="img-style2__item nth-1">
									<div class="img-style2__box">
										<img src="../../images/hair/hairman/hairman_advantage_6.jpg" alt="术后管理责任保证制" class="img-w100">
										<div class="img-style2__caption txt-new2">术后管理责任保证制</div>
									</div>
									<p class="img-style2__txt txt-new1">
										必要的情况下<br>
										为患者提供<br>
										管理责任保证制
									</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="new-section type-cling">
				<div class="new-style1">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						与毛发移植同样重要的<br class="hidden-tm">
						<span class="inline-block"><span class="n-color-hair5">术后管理</span></span>
					</h4>
					<p class="new-style1__txt txt-new1">
						脱发应视为毕生都在进行时的问题，日常管理十分重要。<br class="hidden-tm">
						毛发移植的结果根据术后管理的不同，经过时间的洗礼差异更加明显。
					</p>
					<p class="new-style1__txt2 txt-new1">
						从佰诺佰琪毛发门诊术后 <span class="n-color-hair5">1YEAR CARE</span> 管理来看可以看出差别与于其他医院的毛发管理。
					</p>
					<div class="new-style1__img type-padding-m">
						<img src="../../images/hair/hairman/hairman_img_4.jpg" alt="毛发脱落期 -> 모발 毛发存活期 -> 毛发成长期" class="img-normal hidden-m">
						<img src="../../images/hair/hairman/hairman_img_4_m.jpg" alt="毛发脱落期 -> 모발 毛发存活期 -> 毛发成长期" class="img-normal hidden-pt">
					</div>
					<p class="new-style1__noti2 txt-new1">*毛发掉落的毛发脱落期，左右移植成败的毛囊存活期，移植后的毛发变得茂密的毛发生长期</p>
				</div>
			</div>

			<div class="new-section">
				<div class="outer-box type-hair">
					<div class="inner-box type-hairman">
						<h5 class="new-content-tit tit-new2">
							毛发移植后 <span class="weight-regular">1YEAR CARE</span>
						</h5>
						<div class="care-style1">
							<div class="care-style1__line"></div>
							<ul class="care-style1__list">
								<li class="care-style1__item is-active">
									<div class="care-style1__box txt-new2"><p class="care-style1__caption">清洁，洗发水</p></div>
									<p class="care-style1__txt txt-new2">第2天</p>
									<a href="" class="care-style1__link js-care">view</a>
								</li>
								<li class="care-style1__item">
									<div class="care-style1__box txt-new2"><p class="care-style1__caption">拆线</p></div>
									<p class="care-style1__txt txt-new2">10~14天后</p>
									<a href="" class="care-style1__link js-care">view</a>
								</li>
								<li class="care-style1__item">
									<div class="care-style1__box txt-new2"><p class="care-style1__caption">头皮去角质/ Meso疗法/ Smartlux</p></div>
									<p class="care-style1__txt txt-new2">4周后</p>
									<a href="" class="care-style1__link js-care">view</a>
								</li>
								<li class="care-style1__item">
									<div class="care-style1__box txt-new2"><p class="care-style1__caption">术后1,3,6,12个月</p></div>
									<p class="care-style1__txt txt-new2">1Year check持续管理</p>
									<a href="" class="care-style1__link js-care">view</a>
								</li>
							</ul>
						</div>
					</div>
					<p class="outer-box__noti txt-new1">* 据Meso疗法及追加的管理方法， 根可能会产生其他费用</p>
				</div>
			</div>

			<div class="new-section type-cling">
				<div class="new-style1">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						佰诺佰琪一直在思考 在研究
					</h4>
					<p class="new-style1__txt txt-new1">
						为了患者能够安全便捷的接受手术一直在思索当中。<br class="hidden-tm">
						<mark class="mark-hair">安全干净的为降低发炎及肝炎的可能性一直在努力当中。</mark><br class="hidden-tm">
						为得到自然而茂密让人满足的结果一直在研究再研究。<br><br>

						佰诺佰琪的话完全可以放心
					</p>

				</div>
				<div class="slide-style1">
					<h5 class="new-content-tit tit-new2">
						佰诺佰琪 <span class="inline-block">毛发移植的过程</span>
					</h5>
					<div class="slide-style1__wrap">
						<ul class="slide-style1__list js-center-slide">
							<li class="slide-style1__item">
								<div class="slide-style1__box">
									<h6 class="slide-style1__tit txt-new2">细致的1:1咨询</h6>
									<p class="slide-style1__txt txt-new1">
										把握面部形态、<br>
										是否正在脱发等状态
									</p>
									<div class="slide-style1__img">
										<img src="../../images/hair/hairman/hairman_process_1.jpg" alt="细致的1:1咨询" class="img-w100">
									</div>
								</div>
							</li>
							<li class="slide-style1__item is-next">
								<div class="slide-style1__box">
									<h6 class="slide-style1__tit txt-new2">适合个人脸型的设计</h6>
									<p class="slide-style1__txt txt-new1">
										面部整体比例测量，确定面积，<br>
										设计适合的理想的发际线
									</p>
									<div class="slide-style1__img">
										<img src="../../images/hair/hairman/hairman_process_2.jpg" alt="适合个人脸型的设计" class="img-w100">
									</div>
								</div>
							</li>
							<li class="slide-style1__item">
								<div class="slide-style1__box">
									<h6 class="slide-style1__tit txt-new2">採取毛囊</h6>
									<p class="slide-style1__txt txt-new1">
										损伤及疤痕最小化，<br>
										通过切开/非切开提取毛囊
									</p>
									<div class="slide-style1__img">
										<img src="../../images/hair/hairman/hairman_process_3.jpg" alt="採取毛囊" class="img-w100">
									</div>
								</div>
							</li>
							<li class="slide-style1__item">
								<div class="slide-style1__box">
									<h6 class="slide-style1__tit txt-new2">毛囊分离</h6>
									<p class="slide-style1__txt txt-new1">
										熟练的毛囊分离专家组<br>
										制作分离毛囊
									</p>
									<div class="slide-style1__img">
										<img src="../../images/hair/hairman/hairman_process_4.jpg" alt="毛囊分离" class="img-w100">
									</div>
								</div>
							</li>
							<li class="slide-style1__item">
								<div class="slide-style1__box">
									<h6 class="slide-style1__tit txt-new2">毛囊移植</h6>
									<p class="slide-style1__txt txt-new1">
										根据毛发的角度和方向，模样和均衡，<br>
										密度等制定的毛囊移植
									</p>
									<div class="slide-style1__img">
										<img src="../../images/hair/hairman/hairman_process_5.jpg" alt="毛囊移植" class="img-w100">
									</div>
								</div>
							</li>
							<li class="slide-style1__item is-prev">
								<div class="slide-style1__box">
									<h6 class="slide-style1__tit txt-new2">后续项目</h6>
									<p class="slide-style1__txt txt-new1">
										毛发移植后，必要时会进行<br>
										去角质， Meso疗法等施术
									</p>
									<div class="slide-style1__img">
										<img src="../../images/hair/hairman/hairman_process_6.jpg" alt="后续项目" class="img-w100">
									</div>
								</div>
							</li>
						</ul>
						<a href="" class="slide-style1__btn type-prev js-center-prev">prev</a>
						<a href="" class="slide-style1__btn type-next js-center-next">next</a>
					</div>
					<div class="slide-num1">
						<div class="slide-num1__wrap">
							<ul class="slide-num1__list">
								<li class="slide-num1__item nth-1">
									<div class="slide-num1__num txt-new2 weight-regualr">1</div>
									<p class="slide-num1__txt txt-new1">
										细致的<br>
										1:1咨询
									</p>
								</li>
								<li class="slide-num1__item nth-2">
									<div class="slide-num1__num txt-new2 weight-regualr">2</div>
									<p class="slide-num1__txt txt-new1">
										适合于个人<br>
										脸型的设计
									</p>
								</li>
								<li class="slide-num1__item nth-3">
									<div class="slide-num1__num txt-new2 weight-regualr">3</div>
									<p class="slide-num1__txt txt-new1">
										採取毛囊
									</p>
								</li>
								<li class="slide-num1__item nth-4">
									<div class="slide-num1__num txt-new2 weight-regualr">4</div>
									<p class="slide-num1__txt txt-new1">
										毛囊分离
									</p>
								</li>
								<li class="slide-num1__item nth-5">
									<div class="slide-num1__num txt-new2 weight-regualr">5</div>
									<p class="slide-num1__txt txt-new1">
										毛囊移植
									</p>
								</li>
								<li class="slide-num1__item nth-6">
									<div class="slide-num1__num txt-new2 weight-regualr">6</div>
									<p class="slide-num1__txt txt-new1">
										后续项目
									</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<!-- 수술정보 -->
			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-hair">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">手术详情</h4>
							<!-- <p class="operation-v2__subtit">조직 손상이 거의 없어 회복이 비교적 빠르고 통증이 적습니다.</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">手术时间</h5>
										<p class="operation-v2__txt txt-new1">约4小时 （非切开/3,000根为基准）</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">麻醉方法</h5>
										<p class="operation-v2__txt txt-new1">局部麻醉 （必要时静脉麻醉）</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">拆线</h5>
										<p class="operation-v2__txt txt-new1">约10~14天</p>
									</div>
								</li>
								<li class="operation-v2__item nth-7 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">手术材料</h5>
										<p class="operation-v2__txt txt-new1">不需要</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">来院治疗</h5>
										<p class="operation-v2__txt txt-new1">过程及管理2次左右</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">恢复</h5>
										<p class="operation-v2__txt txt-new1">快速恢复日常生活</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-hair">
								<h5 class="pain-v2__tit txt-new2">术后体感疼痛</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 2){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">원</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">원</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									由于毛发移植引起的痛症几乎没有的手术。<br>
									毛发提取部位可以感到伴有刺痛或不适感程度的痛症。<br>
									建议不适感强烈的患者服用止疼药。<br>
									药店销售的止痛剂即可压制。
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* 通过实际手术患者的术后问卷调查得出的平均结果</p>
									<p class="pain-v2__noti txt-new4">* 非绝对数据，根据个体差异会有所不同，仅供参考。</p>
								</div>
							</div><!-- //pain -->
						</div>
					</div>
				</div>
			</div>
		</div><!-- //new-content-wrap-->
    </div><!-- //content-->


</div> <!-- //container -->

<% include ../_include/_footer %>
