<%
	type = "detail-new"
	page = "hair"
%>
<% include ../_include/_header %>

<!-- Content -->
<div class="onepage type-detail">
	<div class="detail-section type-visual hair-section0" data-section-name="home">
		<div class="inner-wrap type-detail">
			<div class="onepage__box">
				<div class="onepage__inner">
					<div class="onepage__vertical">
						<div class="detail-visual type-hair">
							<p class="detail-visual__tit">
								尽可能的更<br class="hidden-p"><span class="n-color-hair4">自然</span>，<span class="n-color-hair4">精致</span>，<span class="n-color-hair4">健康</span>
							</p>
							<h3 class="detail-visual__txt">
								为了丰富的结果精致的再配置技术<br>
								<strong class="detail-visual__point">佰诺佰琪 <span class="n-color-hair4">毛发移植</span>的细节</strong>
							</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="scroll type-detail">
			<div class="scroll__inner">
				<i class="scroll__ball"></i>
			</div>
			<p class="scroll__txt">SCROLL</p>
		</div>
	</div>
	<div class="detail-section hair-section1" data-section-name="hair-section1">
		<div class="inner-wrap type-detail">
			<div class="onepage__box type-half type-r">
				<div class="onepage__inner">
					<div class="onepage__vertical">
						<div class="onepage__quotation type-hair">
							<h4 class="onepage__tit hair-detail1__tit">
								毛发移植，<br>
								佰诺佰琪是<br>
								<span class="n-color-hair1">这样</span>做的
							</h4>
							<p class="onepage__subtit hair-detail1__subtit">
								3000例以上手术经验的外科专家
							</p>
							<p class="onepage__txt hair-detail1__txt">
								被称为毛发移植手术领域权威的李京久院长是至今为止执刀过3千例以上手术的老手。
								以对毛发移植手术的执着研究和热情，不断的思考如何才能做的更加自然，更加精致，更加健康的维持。
								<span class="n-color-hair1">如果您对毛发移植有好奇，有偏见，有恐惧，有怀疑的话，首先建议您和李京久院长咨询一下。
									来体验一下李京久院长以卓越的实力和熟练手法进行的完成度极高的毛发移植新世界吧</span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="detail-section hair-section2" data-section-name="hair-section2">
		<div class="inner-wrap type-detail">
			<div class="onepage__box type-half type-r font-black">
				<div class="onepage__inner">
					<div class="onepage__vertical">
						<div class="onepage__quotation type-hair2">
							<h4 class="onepage__tit hair-detail2__tit">
								毛发移植，<br>
								首先不要疑问<br>
								<span class="n-color-hair2">切开-非切开</span>
							</h4>
							<p class="onepage__subtit hair-detail2__subtit">
								比起采取毛发的方法，更重要的是毛发的再配置.
							</p>
							<p class="onepage__txt hair-detail2__txt">
								说到毛发移植，一般会被很多人问到“切开法更好，还是非切开法更好？”
								毛发移植手术中切开还是非切开应该作为第二个问题。
								区分切开还是非切开仅仅是采取方法的差异，对于熟练的医生来说并不是最重要的。

								在佰诺佰琪相比如何采取，更加集中于
								如何移植。非切开法或切开法都有优缺点，
								<span class="n-color-hair2">因此需要向患者充分说明这一点，并向患者提出更需要，能取得更好结果的采取方法</span>。
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="detail-section hair-section3" data-section-name="hair-section3">
		<div class="inner-wrap type-detail">
			<div class="onepage__box type-half">
				<div class="onepage__inner">
					<div class="onepage__vertical">
						<div class="onepage__quotation type-hair">
							<h4 class="onepage__tit hair-detail3__tit">
								毛发移植，<br>
								佰诺佰琪<br>
								<span class="n-color-hair1">精致地进行再配置</span>
							</h4>
							<p class="onepage__subtit hair-detail3__subtit">
								即使采取同样的毛遂<br>
								怎样再配置而产生不同的结果
							</p>
							<p class="onepage__txt hair-detail3__txt">
								在毛发移植中重要的核心技术是移植采取到的头发
								如果想更准确表现的话，就是毛发重新分配。
								每个人固有的毛发状态和粗细，密度等都是不同的。
								<span class="n-color-hair1">要考虑这些细节条件，进行诊断，尽可能地对采取到的毛发进行自然精致的再配置。</span>
								熟练的医疗团队和精湛的手术实力打造出更丰富，均匀的秀发。
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="detail-section hair-section4" data-section-name="hair-section4">
		<div class="inner-wrap type-detail">
			<div class="onepage__box type-half type-r font-black">
				<div class="onepage__inner">
					<div class="onepage__vertical">
						<div class="onepage__quotation type-hair2">
							<h4 class="onepage__tit hair-detail4__tit">
								毛发移植，<br>
								<span class="n-color-hair2">更健康地生长</span><br>
								而进行管理
							</h4>
							<p class="onepage__subtit hair-detail4__subtit">
								手术后更重要的头皮管理，佰诺佰琪的技术总动员
							</p>
							<p class="onepage__txt hair-detail4__txt">
								很多人因为担心手术后的生长率多少，而对毛发移植
								犹豫不决。
								从现在开始不必担心。
								毛发移植只是脱发治疗的开始。
								为使移植的毛发更健康，更持久，佰诺佰琪提供术后
								彻底的头皮管理项目咨询。在佰诺佰琪，从自身拥有
								的干细胞设施中提取，提供分离的干细胞等，
								调动19年经验的佰诺佰琪
								<span class="n-color-hair2">经验和技术能力，为更好的结果提供管理。</span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="detail-section hair-section5" data-section-name="hair-section5">
		<div class="inner-wrap type-detail">
			<div class="onepage__box type-half">
				<div class="onepage__inner">
					<div class="onepage__vertical">
						<div class="onepage__quotation type-hair">
							<h4 class="onepage__tit hair-detail5__tit">
								毛发移植，<br>
								以<span class="n-color-hair1">毛囊为单位</span><br>
								进行手术
							</h4>
							<p class="onepage__subtit hair-detail5__subtit">
								毛发移植不是移植毛，而是移植毛囊的手术
							</p>
							<p class="onepage__txt hair-detail5__txt">
								毛发移植手术是采取毛囊进行分离和移植的手术
								一个毛囊中可能有一根毛，
								也可能会长出三根毛。
								所以进行毛发移植手术的时候，最好不要以毛的数量为基准，而是考虑有多少的毛囊更好。
								手术说是2000毛的时候，要好好的区分这是2000的毛囊，还是2000的毛发。
								在佰诺佰琪因为是<span class="n-color-hair1">以毛囊为单位进行咨询和手术，故而更能准确与患者沟通，预测手术结果。</span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="detail-section hair-section6" data-section-name="hair-section6">
		<div class="inner-wrap type-detail">
			<div class="onepage__box type-half font-black">
				<div class="onepage__inner">
					<div class="onepage__vertical">
						<div class="onepage__quotation type-hair3">
							<h4 class="onepage__tit hair-detail6__tit">
								佰诺佰琪，<br>
								毛发移植
								追求<span class="n-color-hair4">细节.</span>
							</h4>
							<p class="onepage__subtit hair-detail6__subtit">
								面部的模样与均衡，采取的毛发的角度与密度等都需要考虑到的移植术。
							</p>
							<p class="onepage__txt hair-detail6__txt">
								熟练的医疗团队的手术结果必然会不同，因为他们不会放过任何一个细节要素。
								佰诺佰琪整形外科在毛发移植权威李京久院长的诊疗下，精通，熟练的工作人员从咨询，采取，移植以及术后管理的所有过程中都能保证无懈可击，打造出充满细节的结果.
								特别是<span class="n-color-hair4">特别是针对每个患者的面部模样，提出恰当的设计，细心分离采取的毛囊，考虑深度，角度，密度等进行的手术</span>，这正是佰诺佰琪毛发移植专家小组的自豪感。
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- //Content -->

<% include ../_include/_footer %>
