<%
	type = "detail"
	page = "chest"
%>
<% include ../_include/_header %>

<!-- Content -->
<div class="chest detail-common">
    <section class="fs_section chestFirst js-first" data-section-name="home">
		<!--메인팝업-->
		<!-- 첫번째 팝업 -->
		<div class="popup-m type-first is-active">
			<div class="popup-m__wrap">
				<img src="../../images/common/popup/popup_chest_checkup.png" alt="" class="popup-m__img">
				<div class="popup-m__bottom">
					<a href="" class="popup-m__close type-left  js-popup-m-today">今日不再显示。</a>
					<a href="" class="popup-m__close type-right js-popup-m-close">关闭</a>
				</div>
			</div>
		</div>
		<!--//메인팝업-->
		<div class="detail__inner">
			<div class="detail__vertical">
				<p class="detail__first-tit type-chest">
					<span class="color-chest0">同样的</span> 假体，<span class="color-chest0">不同的</span> 结果，<br class="hidden-p"> <span class="detail__first-piece">
						<span class="color-chest0">对这差异的</span> 自信感</span>
				</p>
				<h3 class="detail__first-txt">
					<span class="detail__first-bwrap">增加自然的<b class="detail__first-bar"></b></span><br>
					<strong class="detail__first-point">佰诺佰琪 <span class="color-chest1">胸部整形</span> 细节<span class="color-chest1">。</span></strong>
				</h3>
			</div>
		</div>
		<div class="scroll">
			<div class="inner">
				<i></i>
			</div>
			<em>SCROLL</em>
		</div>
    </section>

    <section class="fs_section chestSection01" data-section-name="chestSection01">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="detail__section-box type-normal type-down type-another">
	              	<h4 class="detail__section-tit">
	                	<strong>胸部整形</strong>，<br>
						<span class="detail__section-bwrap">佰诺佰琪是</span><br>
						<strong class="color-chest2">这样</strong>做的
	              	</h4>
	              	<p class="detail__section-subtit">患者一起理解满意的手术</p>
	              	<p class="detail__section-txt">
						胸部整形除了要考虑大小和形状外，还要考虑触感，活动性，患者的状态，假体的合适性等要素。 为了更满意的结果，患者理解这些要素非常重要
						<span class="color-chest3">佰诺佰琪通过细致的商谈，让患者理解手术方向及能动地进行选择。</span>有同样的理解及理想效果的话，手术结果也会更满意。
	              	</p>
	            </div>
			</div>
		</div>
		<div class="detail__dim">dim</div>
		<div class="detail__section-bottom hidden-pt">
			<div class="detail__section-set">
				<span>佰诺佰琪胸部咨询</span>
				<span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open" data-popup-type="section">popup</a></span>
			</div>
		</div>
		<div class="detail__popup-m">
			<h5 class="detail__popup-m__tit">胸部咨询<span class="color-chest1">。</span></h5>
			<ul class="detail__popup-m__list">
				<li class="detail__popup-m__item">- 切开位置</li>
				<li class="detail__popup-m__item">- 形状</li>
				<li class="detail__popup-m__item">- 大小</li>
				<li class="detail__popup-m__item">- 触感</li>
				<li class="detail__popup-m__item">- 假体的选择</li>
			</ul>
		</div>
    </section>

    <section class="fs_section chestSection02" data-section-name="chestSection02">
		<div class="detail__inner type-full">
			<div class="detail__popup is-active">
				<div class="detail__popup-wrap">
					<h5 class="detail__popup-tit">假体制造公司<span class="color-chest1">。</span></h5>
					<p class="detail__popup-subtit">在佰诺佰琪可以选择多种假体。</p>
					<ul class="detail__logo-list">
						<li class="detail__logo-item">
							<span class="detail__logo-txt nth-1">MOTIVA</span>
						</li>
						<li class="detail__logo-item">
							<span class="detail__logo-txt nth-2">POLYTECH</span>
						</li>
						<li class="detail__logo-item">
							<span class="detail__logo-txt nth-7">EUROSILICONE</span>
						</li>
						<!-- <li class="detail__logo-item">
							<span class="detail__logo-txt nth-3">SILIMED</span>
						</li> -->
						<li class="detail__logo-item">
							<span class="detail__logo-txt nth-4">ALLERGAN</span>
						</li>
						<!-- <li class="detail__logo-item">
							<span class="detail__logo-txt nth-5">SEBBIN</span>
						</li> -->
						<li class="detail__logo-item">
							<span class="detail__logo-txt nth-6">MENTOR</span>
						</li>
					</ul>
					<a href="" class="detail__popup-close js-popup-close">关闭</a>
				</div>
			</div>
  			<div class="detail__section-wrap">
  				<div class="detail__vertical">
  					<div class="detail__section-box type-wide type-right">
						<h4 class="detail__section-tit">
							<strong>胸部整形</strong>，<br>
							<span class="detail__section-bwrap">佰诺佰琪</span><br>
							带头<strong class="color-chest4">领先</strong>
						</h4>
						<p class="detail__section-subtit">主导潮流的佰诺佰琪胸部整形</p>
						<p class="detail__section-txt">
							为了更安全，自然，美丽，胸部整形中使用的假体种类不断变多。 所以正确地把握新型假体的特性并运用非常重要。佰诺佰琪自
							<span class="color-chest5">2000年开院以后，几乎所有的胸部整形假体都能熟练地操作，一直研究适合各假体的手术方法。</span>
							运用发展的技术是佰诺佰琪胸部整形效果满意的秘密。
						</p>
					</div>
  				</div>
  			</div>
  		</div>
		<div class="detail__section-bottom">
			<div class="detail__section-set">
				佰诺佰琪可以选择的<br class="hidden-pt"> 假体制造公司
				<span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open">팝업버튼</a></span>
			</div>
		</div>
    </section>

    <section class="fs_section chestSection03" data-section-name="chestSection03">
		<div class="detail__inner">
  			<div class="detail__vertical">
				<div class="detail__section-box type-wide type-down type-quotation2">
					<h4 class="detail__section-tit">
						<strong>胸部整形</strong>，<br>
						<span class="detail__section-bwrap">佰诺佰琪</span><br>
						更<strong class="color-chest6">专业化</strong>
					</h4>
					<p class="detail__section-subtit">追求健康胸部的诊疗体系</p>
					<p class="detail__section-txt">
						医院的基本是考虑患者的健康。所以佰诺佰琪的胸部整形不光只是为了美容而进行一次的手术。
						<span class="color-chest3">通过专业的设备，精密地诊断乳房，若有需要也进行肿瘤切除手术。</span>
						从特殊综合体检及手术，术后管理，到定期检查，佰诺佰琪胸部整形部门负责到底。
					</p>
				</div>
				<div class="layer-doc hidden-m"><!-- pc용 -->
					<h5 class="layer-doc__tit">佰诺佰琪胸部诊疗体系</h5>
					<ul class="layer-doc__list">
						<li class="layer-doc__item">胸部检查</li>
						<li class="layer-doc__item">精密检查</li>
						<li class="layer-doc__item">手术</li>
						<li class="layer-doc__item">术后管理</li>
						<li class="layer-doc__item">定期检查</li>
					</ul>
				</div>
  			</div>

  		</div>
		<div class="detail__dim">딤처리</div>
		<div class="detail__popup-m">
			<div class="layer-doc hidden-pt">
				<h5 class="layer-doc__tit">佰诺佰琪胸部诊疗体系</h5>
				<ul class="layer-doc__list">
					<li class="layer-doc__item">胸部检查</li>
					<li class="layer-doc__item">精密检查</li>
					<li class="layer-doc__item">手术</li>
					<li class="layer-doc__item">术后管理</li>
					<li class="layer-doc__item">定期检查</li>
				</ul>
			</div>
		</div>
		<div class="detail__section-bottom hidden-pt">
			<div class="detail__section-set">
				<span>佰诺佰琪胸部诊疗体系</span>
				<span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open" data-popup-type="section">팝업버튼</a></span>
			</div>
		</div>
    </section>

    <section class="fs_section chestSection04" data-section-name="chestSection04">
		<div class="detail__inner">
    		<div class="detail__vertical">
  				<div class="detail__section-box type-center">
  					<h4 class="detail__section-tit">
  						<strong>胸部整形</strong>，<br>
  						<span class="detail__section-bwrap">佰诺佰琪</span><br class="hidden-m">
  						时间<strong class="color-chest6">更短</strong>
  					</h4>
  					<p class="detail__section-subtit">手术时间越短，胸部整形越好</p>
  					<p class="detail__section-txt">
						胸部整形手术时间越短，就越能避免假体的污染及感染，因手术而导致的炎症及包膜挛缩的可能性也会降低。所以
						<span class="color-chest3">佰诺佰琪尽量控制手术时间在30分钟左右。</span>
						无需血袋，当天就能退院的<span class="color-chest3">安全胸部整形。</span>
						长期积累的经验及手感，技术力是佰诺佰琪胸部整形专家团队的核心力量。
					</p>
  				</div>
    		</div>
		</div>
    </section>

    <section class="fs_section chestSection05" data-section-name="chestSection05">
		<div class="detail__inner">
	  		<div class="detail__vertical">
	  			<div class="detail__section-box type-wide">
	  				<h4 class="detail__section-tit">
	  					<strong>胸部整形</strong>，<br>
	  					<span class="detail__section-bwrap">佰诺佰琪</span><br>
	  					注重<strong class="color-chest4">细节</strong>
	  				</h4>
	  				<p class="detail__section-subtit">为了女性的华丽变身而提供疤<br class="hidden-m hidden-t">痕管理项目</p>
	  				<p class="detail__section-txt">
						因手术而导致的疤痕不是不可避免的。疤痕治疗也是胸部整形的一部分。以这一价值观为理念的佰诺佰琪开始实行疤痕管理项目。通过与佰诺佰琪皮肤科的协诊，了解红色疤痕，凹进去的疤痕，突出的疤痕等各种形态的疤痕，<span class="color-chest5">管理并恢复原有的光滑皮肤</span>。
	  				</p>
	  			</div>
	  		</div>
		</div>
    </section>
</div>
<!-- //Content -->
<% include ../_include/_footer %>
