<%
	type = "content"
	page = "chest"
%>
<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
	<!-- visual -->
	<div class="content-visual type-reduction">
		<div class="content-visual__box">
			<div class="content-visual__border">
				<p class="content-visual__txt1">横跨多重领域的感觉与技术</p>
				<h3 class="content-visual__tit"># 胸部<span class="color-chest7">缩小手术</span></h3>
				<p class="content-visual__txt2">更为舒适和美丽的胸部</p>
			</div>
		</div>
	</div>
	<!-- //visual -->

	<!-- content -->
	<div class="content type-chest-extension">
		<div class="content-wrap">
		    <div class="content-section type-reduction type-first">
		      	<div class="reduction-box1">
		        	<h4 class="content-section__tit type-center">
		          		<span class="content-section__number"><span class="content-section__number-wrap">01</span></span>
		          		缩小大小<br class="hidden-t">
		          		是一项<strong class="color-chest7">有更多意义</strong>的手术
		        	</h4>
		        	<p class="content-section__txt1">
						胸部缩小手术不仅仅是以美容为目的进行改善的手术。<br class="hidden-tm">
						因为胸部肥大症除了美学上的不满意外， 也会同时伴随健康与心理上的问题。<br class="hidden-tm">
						特别是，与湿疹一样的皮肤疾病或对脊柱和肩膀造成过度压迫等问题，为了个人健康，这也是必须进行改善的一部分。<br class="hidden-tm">
						如果不解决这些的话，会导致缺乏自信心或姿势歪曲等恶性循环。
		          		<span class="content-highlight type-chest">因此胸部缩小手术除了单纯的美容上的改善之外，<br class="hidden-tm">还有除此之外的更多意义</span>
		        	</p>
		        	<div class="reduction-box1__img">
		          		<img src="../../images/chest/chest_reduction_img02.jpg" alt="胸部肥大症 - 身体健康恶化， 审美不满足， 精神颓丧"><!--img-->
		        	</div>
		      	</div>
		      	<div class="reduction-box2">
		        	<div class="reduction-wrap">
		          		<div class="reduction-box2__box">
		            		<h4 class="content-section__tit type-left">
		              			<span class="content-section__number"><span class="content-section__number-wrap">02</span></span>
		              			综合<strong class="color-chest7">身体整形</strong>与<br>
		              			<strong class="color-chest7">胸部整形</strong><br>
		              			的经验来看
		            		</h4>
		            		<p class="content-section__txt1">
		              			结论上，胸部缩小手术美容性上有改善的同时<br class="hidden-tm">
		              			患者的健康增进也必须要作为一个目标。<br class="hidden-tm">
		              			所以缩小胸部，决定与身材比例相适宜的大小<br class="hidden-tm">
		              			是很重要的。
		            		</p>
		          		</div>
		          		<div class="reduction-box2__img">
		            		mobile img
		          		</div>
		          		<div class="cosmetic">
		            		<div class="cosmetic__bg">
		              			<ul class="cosmetic__list">
		                			<li class="cosmetic__item">
		                  				<div class="cosmetic__wrap nth-1">
		                    				<div class="cosmetic__box nth-1">
		                      					<div class="cosmetic__box-wrap">
		                        					<p class="cosmetic__txt">胸部整形</p>
		                      					</div>
		                    				</div>
		                    				<div class="cosmetic__box nth-2">
		                      					<div class="cosmetic__box-wrap">
		                        					<p class="cosmetic__txt">身体整形</p>
		                      					</div>
		                    				</div>
		                  				</div>
		                			</li>
		                			<li class="cosmetic__item">
		                  				<div class="cosmetic__wrap nth-2">
		                    				<div class="cosmetic__box nth-3">
		                      					<div class="cosmetic__box-wrap">
		                        					<p class="cosmetic__txt">可以考虑到身体平衡的感性型手术</p>
		                      					</div>
		                    				</div>
		                  				</div>
		                			</li>
		              			</ul>
		            		</div>
		          		</div><!--//cosmetic-->
		          		<div class="reduction-box2__txt">
		            		佰诺佰琪是可针对不同部位整形的综合性规模的整形外科。<br class="hidden-m">
		            		考虑到其中身体整形与胸部整形有着密切的关系，组成以有着关于两个领域<br class="hidden-tm">
		            		专业性知识与经验的潘在常院长为代表的医疗团队。<br class="hidden-tm">
		            		因此<strong class="color-chest7">可以考虑到整体平衡的胸部缩小手术，可以追求更加美丽和安全的手术结果。</strong>
		          		</div>
		        	</div><!-- //reduction-wrap-->
		      	</div><!-- //reduction-box2-->
		      	<div class="reduction-box3">
		        	<div class="reduction-wrap">
		          		<div class="content-section">
		            		<h4 class="content-section__tit type-center">
		              			<span class="content-section__number"><span class="content-section__number-wrap">03</span></span>
		              			提议与<strong class="color-chest7">需要的效果相符合</strong>的手术方法
		            		</h4>
		            		<p class="content-section__txt1">
		              			胸部缩小手术方法可分为4大类。每一种手术方法都有长短处。<br class="hidden-tm">
		              			因此通过术前充分的商谈，考虑与自己合适的手术方法做出的决定是很重要的。
		            		</p>
		            		<div class="reduction-box">

		            		</div>
		            		<div class="reduction-box3__box">
		              			<div class="item-box3 type-reduction">
		                			<ul class="item-box3__list">
		                  				<li class="item-box3__item nth-1">
		                    				<div class="item-box3__box">
		                      					<div class="item-box3__wrap">
		                        					<h5 class="item-box3__tit tit-v2"><span class="color-reduction1">乳晕周围切开的胸部缩小手术</span></h5>
		                        					<p class="item-box3__txt txt-v1">
		                          						通过切开乳晕周围后，缩小胸内部的组织，如若不是胸部过大的情况，可用此方法进行。因为只切开乳头周围，疤痕小，几乎看不出，有几乎不会影响胸部机能的优点。
		                        					</p>
		                      					</div>
		                    				</div>
		                  				</li>
		                  				<li class="item-box3__item nth-2">
		                    				<div class="item-box3__box">
		                      					<div class="item-box3__wrap">
		                        					<h5 class="item-box3__tit tit-v2"><span class="color-reduction1">垂直切开的胸部缩小手术</span></h5>
		                        					<p class="item-box3__txt txt-v1">
		                          						切开乳晕下方4~5cm程度，缩小胸内部组织的方法。弥补了“오”字形切开与乳晕周围切开的长短处而研发出的方法，即使相对较大的胸部也可以进行，相比较“오”字形切开，也可减少疤痕的担忧。手术时间也相对短，恢复快，还有更容易抓住胸部形态的优点，但是这个手术方法还是有会产生一些疤痕的缺点。
		                        					</p>
		                      					</div>
		                    				</div>
		                  				</li>
		                  				<li class="item-box3__item nth-3">
		                    				<div class="item-box3__box">
		                      					<div class="item-box3__wrap">
		                        					<h5 class="item-box3__tit tit-v2"><span class="color-reduction1">“오”字形切开的胸部缩小手术</span></h5>
		                        					<p class="item-box3__txt txt-v1">
		                          						作为胸部缩小手术最具代表性的方法，相对来说大胸部的情况或者胸部下垂严重的情况等，几乎所有的案例都是可以进行的手术方法。更利于预测手术结果，有着可以维持乳头知觉与可以移动位置的优点，但是相反因为胸部下线与乳头下方会形成伤口，对疤痕有严重排斥感的情况下必须考虑其他的手术方法。
		                        					</p>
		                      					</div>
		                   				 	</div>
		                  				</li>
		                  				<li class="item-box3__item nth-4">
		                    				<div class="item-box3__box">
		                      					<div class="item-box3__wrap">
		                        					<h5 class="item-box3__tit tit-v2"><span class="color-reduction1">抽脂胸部缩小术</span></h5>
		                        					<p class="item-box3__txt txt-v1">
														是抽取胸部的脂肪，缩小胸部大小的方法.因全身的肥胖而
														导致胸部肥大的情况下，因为胸部脂肪组织所占比例高，所以通过这个方法
														可以有不错的效果。同时因为手术时间短又几乎没有疤痕的原因
														被推选为对疤痕有很大顾虑的患者最适合的方法。但是胸部
														过大皮肤松弛下垂的情况，手术后胸部会有看起来下垂的局限性。
		                        					</p>
		                      					</div>
		                    				</div>
		                  				</li>
		                			</ul>
		              			</div><!-- //item-box3-->
		            		</div>
		          		</div>
		        	</div><!-- //reduction-wrap-->
		      	</div><!-- //item-box1-->
		      	<div class="reduction-box4">
		        	<h4 class="reduction-box4__tit">
		          		关于胸部缩小手术一个错误的认识是<br class="hidden-tm">
		          		<strong class="color-chest13">手术后无法期待一个美丽的胸部</strong>
		        	</h4>
		        	<p class="reduction-box4__txt txt-v5">
		          		如果手术后胸部形状不够美观，大部分情况是因为从术前设计开始就有错误<br class="hidden-m">
		          		或术后没有进行适当的管理的可能性比较高。<br><br>

		          		佰诺佰琪胸部缩小手术后采取生物光子和按摩项目等进行积极地术后管理， <br class="hidden-m">
		          		通过这些对快速恢复和美丽的胸部形态的塑形都有一定帮助。<br class="hidden-m">
		          		同时通过和佰诺佰琪皮肤科的会诊，对术后的疤痕有更加精细的管理。
		        	</p>
		        	<div class="bio">
		          		<div class="bio__box type-img">
		            		<div class="bio__img nth-1">生物光子 - img</div>
		          		</div>
		          		<div class="bio__box type-txt">
		            		<div class="bio__wrap">
		              			<h5 class="bio__tit">生物光子</h5>
		              			<p class="bio__txt txt-v1">
									生物光子是使用白金和钻石的纳米粒子相结合的新材料PDP
									(Platinum Diamond Photon)制造的恢复管理用的全身温热
									仪器。PDP散发出的4~14微米的光能源提高体温
									增强免疫力，帮助排出身体内有害物质与废弃物。同时
									通过改善血液循环而对体脂肪的分界有积极的效果。
		              			</p>
		            		</div>
		          		</div>
		        	</div>
		        	<div class="dual-box6__img">
						<div class="after-style type-chest">
							<ul class="after-style__list">
								<li class="after-style__item nth-1">
									<div class="after-style__txt txt-new2">术后1个月</div>
								</li>
								<li class="after-style__item nth-2">
									<div class="after-style__txt txt-new2">术后6个月</div>
								</li>
								<li class="after-style__item nth-3">
									<div class="after-style__txt txt-new2">术后12个月</div>
								</li>
							</ul>
						</div>
		        	</div>
		      	</div><!-- //reduction-box4-->

				<!-- 手术详情 -->
				<div class="new-section">
					<div class="new-section__wrap type-w">
						<div class="operation-v2 type-chest">
							<div class="operation-v2__wrap">
								<h4 class="operation-v2__tit">手术详情</h4>
								<!-- <p class="operation-v2__subtit">通过积极的后期管理，给予更高的满意度。</p> -->
								<ul class="operation-v2__list">
									<li class="operation-v2__item nth-1 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">手术时间</h5>
											<p class="operation-v2__txt txt-new1">约3小时~3小时30分</p>
										</div>
									</li>
									<li class="operation-v2__item nth-2 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">麻醉方法</h5>
											<p class="operation-v2__txt txt-new1">全身麻醉</p>
										</div>
									</li>
									<li class="operation-v2__item nth-3 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">拆线</h5>
											<p class="operation-v2__txt txt-new1">约8~15天依次拆线</p>
										</div>
									</li>
									<li class="operation-v2__item nth-4 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">住院时间</h5>
											<p class="operation-v2__txt txt-new1">约1天</p>
										</div>
									</li>
									<li class="operation-v2__item nth-5 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">来院治疗</h5>
											<p class="operation-v2__txt txt-new1">约4~5次</p>
										</div>
									</li>
									<li class="operation-v2__item nth-6 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">恢复</h5>
											<p class="operation-v2__txt txt-new1">约5~7天后恢复日常生活</p>
										</div>
									</li>
								</ul>
								<div class="pain-v2 type-chest">
									<h5 class="pain-v2__tit txt-new2">术后体感疼痛</h5>
									<ol class="pain-v2__list">
										<% for(var i = 1; i<= 10; i++){%>
											<%if(i <= 4){%>
												<li class="<%="pain-v2__item is-active nth-"+i%>">
													<div class="pain-v2__square">square</div>
												</li>
											<%}else{%>
												<li class="<%="pain-v2__item nth-"+i%>">
													<div class="pain-v2__wrap">
														<div class="pain-v2__square">square</div>
													</div>
												</li>
											<%}%>
										<%}%>
									</ol>
									<p class="pain-v2__txt txt-new1">
										手术后也许会出现刺痛的感觉，随着时间会渐渐恢复。<br>
										手臂过激活动的时候会有痛感。<br>
										如有碰触手术部位的时候，会有痛感与伤疤一起裂开的可能性，请务必小心。
									</p>
									<div class="pain-v2__box">
										<p class="pain-v2__noti txt-new4">* 通过对术后患者进行问卷调查得出的平均值</p>
										<p class="pain-v2__noti txt-new4">* 从数据不存在绝对性，会存在个人差异，仅供大家作为参考。</p>
									</div>
									<!-- <a href="<?php echo SITE_UPLOAD_URL?>/knowledge/breast.pdf" target="_blank" class="operation-v2__link"><span>术后注意事项</span></a> -->
								</div><!-- //pain -->
							</div>
						</div>
					</div>
				</div>

		      	<div class="reduction-box5">
		        	<div class="content-section">
		          		<div class="reduction-box5__box">
		            		<div class="reduction-box5__wrap type-unique">
		              			<h4 class="content-section__tit type-left">
		                			<span class="content-section__number"><span class="content-section__number-wrap">05</span></span>
		                			双重瘦身的胸部缩小手术，就是理解您的烦恼的<strong class="color-chest7">佰诺佰琪的努力之处</strong>
		              			</h4>
		            		</div>
		            		<p class="content-section__txt2">
		              			胸部肥大症与上半身肥胖的关联性
		            		</p>
		            		<p class="content-section__txt1">
								一般情况下胸部肥大症伴随着上半身整体肥胖的情况很多。
								特别是腹部或副乳的腋下作为和胸部靠近的部位，如果
								不改善这些部位，只进行胸部缩小手术的话，结果只会不尽人意。因此
								胸部缩小手术和与改善脂肪的项目一起进行会更好。
		            		</p>
		          		</div>
		        	</div>
		      	</div><!-- //reduction-box5-->
		      	<div class="reduction-box6">
		        	<h4 class="reduction-box6__tit">
		          		佰诺佰琪研发出了<strong>胸部缩小手术与抽脂手术同时进行</strong>的
		          		双重瘦身的胸部缩小手术
		        	</h4>
		        	<p class="reduction-box6__txt txt-v5">
		          		身体整形与胸部整形，关于这两个领域，是有着专业性的佰诺佰琪可以发扬长处进行的手术。<br class="hidden-tm">
						从第一次商谈过程开始，不仅是胸部，而是依据全身比例来设计可以
		        	</p>
		        	<ul class="reduction-box6__list">
		          		<li class="reduction-box6__item">
		            		<img src="../../images/chest/chest_reduction_img11.jpg" alt="一般的胸部缩小手术 - img">
		            		<p class="reduction-box6__subject nth-1">一般的胸部缩小手术</p>
		          		</li>
		          		<li class="reduction-box6__item">
		            		<img src="../../images/chest/chest_reduction_img12.jpg" alt="双重瘦身的胸部缩小手术 - img">
		            		<p class="reduction-box6__subject nth-2">双重瘦身的胸部缩小手术</p>
		          		</li>
		        	</ul>
		      	</div>
		      	<div class="reduction-box4 type-another">
		        	<h4 class="reduction-box4__tit">
		          		双重瘦身的胸部缩小手术与基础的胸部缩小手术一样<br class="hidden-tm">
		          		会进行<strong class="color-chest13">对恢复有帮助的必要的术后管理</strong>
		        	</h4>
		        	<p class="reduction-box4__txt txt-v5">
		          		采取生物光子和按摩项目等积极的后期管理，通过这些对快速恢复和美丽的胸部形态的塑形都有一定帮助。
		          		同时通过和佰诺佰琪皮肤科的会诊，对术后的疤痕有更加精细的管理。
		        	</p>
			        <!-- <div class="bio">
			            <div class="bio__box type-img">
			                <div class="bio__img nth-1">바이오포톤 - img</div>
			            </div>
			            <div class="bio__box type-txt">
			                <div class="bio__wrap">
			                    <h3 class="bio__tit">바이오포톤</h3>
			                    <p class="bio__txt">
			                        바이오포톤은 백금과 다이아몬드의 나노 입자가 결합된 신소재 PDP
			                        (Platinum Diamond Photon)를 사용하여 만든 회복 관리용 전신 온열 기기입니다.
			                        PDP가 발산하는 4~14 미크론의 빛 에너지는 체온을 높여 면역력을 키우고
			                        신체 유해 물질과 노폐물의 배출을 돕습니다. 또한 혈액순환 개선으로 체지방을
			                        적극적으로 분해하는 효과가 있습니다.
			                    </p>
			                </div>
			            </div>
			        </div>
			        <ul class="reduction-box4__list">
			            <li class="reduction-box4__item">
			                <img src="../../images/chest/cosmetic_img9.jpg" alt="수술후 1개월 사진">
			                <p class="reduction-box4__subject nth-1">수술 후 1개월</p>
			            </li>
			            <li class="reduction-box4__item">
			                <img src="../../images/chest/cosmetic_img10.jpg" alt="수술후 6개월 사진">
			                <p class="reduction-box4__subject nth-2">수술 후 6개월</p>
			            </li>
			            <li class="reduction-box4__item">
			                <img src="../../images/chest/cosmetic_img11.jpg" alt="수술후 12개월 사진">
			                <p class="reduction-box4__subject nth-3">수술 후 12개월</p>
			            </li>
			        </ul> -->
		      	</div><!-- //reduction-box4-->

				<!-- 手术详情 -->
				<div class="new-section">
					<div class="new-section__wrap type-w">
						<div class="operation-v2 type-chest">
							<div class="operation-v2__wrap">
								<h4 class="operation-v2__tit">手术详情</h4>
								<!-- <p class="operation-v2__subtit">通过积极的后期管理，给予更高的满意度。</p> -->
								<ul class="operation-v2__list">
									<li class="operation-v2__item nth-1 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">手术时间</h5>
											<p class="operation-v2__txt txt-new1">约3小时~3小时30分</p>
										</div>
									</li>
									<li class="operation-v2__item nth-2 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">麻醉方法</h5>
											<p class="operation-v2__txt txt-new1">全身麻醉</p>
										</div>
									</li>
									<li class="operation-v2__item nth-3 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">拆线</h5>
											<p class="operation-v2__txt txt-new1">约8~15天依次拆线</p>
										</div>
									</li>
									<li class="operation-v2__item nth-4 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">住院时间</h5>
											<p class="operation-v2__txt txt-new1">约1天</p>
										</div>
									</li>
									<li class="operation-v2__item nth-5 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">来院治疗</h5>
											<p class="operation-v2__txt txt-new1">约4~5次</p>
										</div>
									</li>
									<li class="operation-v2__item nth-6 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">恢复</h5>
											<p class="operation-v2__txt txt-new1">约5~7天后恢复日常生活</p>
										</div>
									</li>
								</ul>
								<div class="pain-v2 type-chest">
									<h5 class="pain-v2__tit txt-new2">术后体感疼痛</h5>
									<ol class="pain-v2__list">
										<% for(var i = 1; i<= 10; i++){%>
											<%if(i <= 4){%>
												<li class="<%="pain-v2__item is-active nth-"+i%>">
													<div class="pain-v2__square">square</div>
												</li>
											<%}else{%>
												<li class="<%="pain-v2__item nth-"+i%>">
													<div class="pain-v2__wrap">
														<div class="pain-v2__square">square</div>
													</div>
												</li>
											<%}%>
										<%}%>
									</ol>
									<p class="pain-v2__txt txt-new1">
										手术后也许会出现刺痛的感觉，随着时间会渐渐恢复。<br>
										手臂过激活动的时候会有痛感。<br>
										如有碰触手术部位的时候，会有痛感与伤疤一起裂开的可能性，请务必小心。<br>
										进行吸脂的部位有可能感觉到火辣辣的刺痛感。
									</p>
									<div class="pain-v2__box">
										<p class="pain-v2__noti txt-new4">* 通过对术后患者进行问卷调查得出的平均值</p>
										<p class="pain-v2__noti txt-new4">*  从数据不存在绝对性，会存在个人差异，仅供大家作为参考。</p>
									</div>
									<!-- <a href="<?php echo SITE_UPLOAD_URL?>/knowledge/breast.pdf" target="_blank" class="operation-v2__link"><span>术后注意事项</span></a> -->
								</div><!-- //pain -->
							</div>
						</div>
					</div>
				</div>
		    </div><!-- //content-section-->
		</div>
	</div><!-- //content -->
	<% include ../_include/_bfaf %>
</div> <!-- //container -->
<% include ../_include/_footer %>
