<%
	type = "content"
	page = "chest"
%>
<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
	<!-- visual -->
	<div class="content-visual type-chest-extension">
	    <div class="content-visual__box">
	        <div class="content-visual__border">
	            <p class="content-visual__txt1">让正确的选择让您更满意</p>
	            <h3 class="content-visual__tit">#<span class="color-chest7">隆胸</span>手术</h3>
	            <p class="content-visual__txt2">自然而发的自信感</p>
	        </div>
	    </div>
	</div>
	<!-- //visual -->

	<!-- Content -->
	<div class="content type-chest-extension">
		<div class="content-wrap">
	        <section class="interaction">
	            <div class="content-section type-first">
	                <h4 class="content-section__tit type-center">
	        			<span class="content-section__number">
				            <span class="content-section__number-wrap">
				                01
				            </span>
				        </span>
	                    执拗地问后， 必须进行<strong class="color-chest7">相互交流</strong>
	                </h4>
	                <div class="content-section__wrap clearfix">
	                    <div class="content-section__item type-width">
	                        <div class="content-section__img"></div>
	                    </div>
	                    <div class="content-section__item">
	                        <div class="content-section__desc">
	                            <p class="content-section__txt1">
	                                隆胸手术是有很多选择的手术。<br>
									从多种不同的填充物和身体的状态到不同的手术方法，所以比想象中有更多不同的选项。因此偶尔有人过于心急，没有详细的信息，在医院按照医院决定的进行手术了。<br>
	                                <br class="hidden-p">
	                                但是隆胸手术在准备过程中，每一个选择对手术结果都有影响的。所以患者，医生都需要执拗一些，我们相信更多的询问和思考后做出的判断，可以诱导更好的手术结果。为了帮助患者做出正确的选择，<span class="content-highlight type-chest-extension">佰诺佰琪通过精密的诊断，检查患者的身体状态，共享不同的填充物信息，说明不同的手术方法的优缺点。</span>或者我们可以充分听取大家希望的胸部的大小，形状，手术目的等，只有这样才可以进行更自然和更满足的隆胸手术。
	                            </p>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </section>
	        <section class="kind-req">
	            <div class="content-section">
	                <h4 class="content-section__tit type-center">
		                <span class="content-section__number">
		                    <span class="content-section__number-wrap">
		                        02
		                    </span>
		                </span>
	                    相比较<strong>最好的填充物</strong><br>
	                    <strong class="color-chest7">最合适的填充物</strong>才是我们推荐的
	                </h4>
	                <p class="content-section__txt1">
						在隆胸手术中不可遗漏的部分就是填充物，为了达到患者追求的效果，医学上或者形态上，填充物的选择是很重要的。但是问题是填充物的特性不同，每个人的胸部状态也是千差万别的。<br>
	                </p>
	                <p class="content-section__txt2">
						因此无法轻易地推荐哪一种填充物是最好的。相对来说为了满意的效果，必须考虑不同的填充物填充，进行多样的选择，<span class="content-highlight type-chest-extension">对于各种填充物，经验丰富的医师，适合自己的填充物等方面一起考虑后做出的选择是很重要的。</span>
	                </p>
	                <div class="content-section__wrapper type-background">
	                    <p class="content-section__txt type-sub">佰诺佰琪胸部整形手术的核心</p>
	                    <div class="content-section__quotation">
	                        <div class="content-section__quotation-wrapper">
	                            <div class="quotation type-chest-extension">
	                                <h5 class="content-section__tit-quote">
	                                    <strong class="color-chest8">填充物</strong>的种类
	                                </h5>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="extension-box1">
	                        <h6 class="kind-req__tit">依据内容物的分类</h6>
	                        <ul class="clearfix item-box2__list chest-group1">
	                            <li class="item-box2__item">
	                                <div class="item-box2__outer">
	                                    <div class="type-pic1 item-box2__thumb">img</div>
	                                    <div class="item-box2__inner js-height clearfix">
	                                        <div class="item-box2__desc js-height">
	                                            <p class="item-box2__tit tit-v2">
	                                                高凝聚性矽胶
	                                            </p>
	                                            <p class="item-box2__txt1 txt-v2">
	                                                作为目前国内使用最多的填充物，代替了之前的生理食盐水袋，现在广泛使用中。因为凝聚力好，或许手术中发生产品损伤的情况也不会在体内散开，也会维持这个状态。作为在FDA和KFDA得到认证使用的产品，具有触感好形状自然等优点，一般情况下广泛使用。
	                                            </p>
	                                        </div>
	                                    </div>
	                                </div>
	                            </li>
	                            <li class="item-box2__item">
	                                <div class="item-box2__outer">
	                                    <div class="type-pic2 item-box2__thumb">img</div>
	                                    <div class="item-box2__inner js-height clearfix">
	                                        <div class="item-box2__desc js-height">
	                                            <p class="item-box2__tit tit-v2">
	                                                生理食盐水
	                                            </p>
	                                            <p class="item-box2__txt1 txt-v2">
	                                                内部使用生理食盐水填充的填充物是以前使用得很多的材料。因为可以通过调整食盐水的量调整胸部的大小，所以可以很容易的调整到匀称的优点，但是相比较高凝聚性矽胶感觉不是那么的柔软。
	                                            </p>
	                                        </div>
	                                    </div>
	                                </div>
	                            </li>
	                        </ul>
	                    </div>
	                    <div class="extension-box2">
	                        <div class="category-list__cate-2">
	                            <h6 class="kind-req__tit">按表面状态分类</h6>
	                            <ul class="category-list__list-wrapper clearfix">
	                                <li class="category-list__category2">
	                                    <div class="category-list__cate-box2">
	                                        <div class="category-list__thumb2 type-pic3">
	                                        </div>
	                                        <div class="category-list__desc2">
	                                            <p class="category-list__cate2-tit">光滑型假体（smooth type）</p>
	                                            <p class="category-list__cate2-txt">
													因表面柔软光滑，手术时有利于将假体定位在准确的位置，且切口小，可减少对
													疤痕担忧的长处。但可能产生包膜挛缩的现象，手术后需要进行适当的管理。
	                                            </p>
	                                        </div>
	                                    </div>
	                                </li>
	                                <li class="category-list__category2">
	                                    <div class="category-list__cate-box2">
	                                        <div class="category-list__thumb2 type-pic4">
	                                        </div>
	                                        <div class="category-list__desc2">
	                                            <p class="category-list__cate2-tit">纹理型假体（texture type）</p>
	                                            <p class="category-list__cate2-txt">
													表面不够光滑，感觉有一些粗糙的假体。手术后乳房组织在假体凹凸之间得以固定，有利于预防包膜挛缩现象的产生，同时拥有更加柔软的触感效果。
	                                            </p>
	                                        </div>
	                                    </div>
	                                </li>
	                                <li class="category-list__category2">
	                                    <div class="category-list__cate-box2">
	                                        <div class="category-list__thumb2 type-pic5">
	                                        </div>
	                                        <div class="category-list__desc2">
	                                            <p class="category-list__cate2-tit">Micro Texture</p>
	                                            <p class="category-list__cate2-txt">
													结合smooth光滑面和texture毛面优点的假体。因表面的细微凸起与胸部组织更加贴合，极大减少了包膜痉挛现象的产生，更有助确定假体位置，即使是胸廓窄的人也同样适用。
	                                            </p>
	                                        </div>
	                                    </div>
	                                </li>
	                                <li class="category-list__category2 type-center">
	                                    <div class="category-list__cate-box2">
	                                        <div class="category-list__thumb2 type-pic6">
	                                        </div>
	                                        <div class="category-list__desc2">
	                                            <p class="category-list__cate2-tit">丝纹性假体（Silky Texture）</p>
	                                            <p class="category-list__cate2-txt">
													表面不够光滑，感觉有一些粗糙的假体。手术后乳房组织在假体凹凸之间得以固定，有利于预防包膜挛缩现象的产生，同时拥有更加柔软的触感效果。
	                                            </p>
	                                        </div>
	                                    </div>
	                                </li>
	                                <li class="category-list__category2 type-center">
	                                    <div class="category-list__cate-box2">
	                                        <div class="category-list__thumb2 type-pic7">
	                                        </div>
	                                        <div class="category-list__desc2">
	                                            <p class="category-list__cate2-tit">麦伊克假体（microthane type）</p>
	                                            <p class="category-list__cate2-txt">
													Microthane假体与现有假体不同，表面有细微孔洞的聚氨酯材料，是适合特殊表面处理的假体。与纹理型假体的原理相同，乳房组织位于假体表面可减少包膜挛缩发生的可能性，因此几乎不会产生假体移动或是旋转等这样的副作用。而且恢复时间相对较快，相比别的假体触感和行动感更加自然。
	                                            </p>
	                                        </div>
	                                    </div>
	                                </li>
	                            </ul>
	                        </div>
	                        <div class="category-list__cate-3">
	                            <h6 class="kind-req__tit">按模样分类</h6>
	                            <ul class="clearfix item-box2__list chest-group2">
	                                <li class="item-box2__item">
	                                    <div class="item-box2__outer">
	                                        <div class="type-pic8 item-box2__thumb">img</div>
	                                        <div class="item-box2__inner js-height clearfix">
	                                            <div class="item-box2__desc js-height">
	                                                <p class="item-box2__tit tit-v2">
	                                                    圆形假体
	                                                </p>
	                                                <p class="item-box2__txt1 txt-v2">
														作为最普遍的胸部整形假体形态，就是半球形。因为中间部分形态最高，具有可同时提高胸部上方和下方丰满度的优点。 并且站立的时候由于受到重力的影响自然下垂可打造出更加自然的胸部侧面线条。
	                                                </p>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </li>
	                                <li class="item-box2__item">
	                                    <div class="item-box2__outer">
	                                        <div class="type-pic9 item-box2__thumb">img</div>
	                                        <div class="item-box2__inner js-height clearfix">
	                                            <div class="item-box2__desc js-height">
	                                                <p class="item-box2__tit tit-v2">
	                                                    解剖学结构型或水滴形假体
	                                                </p>
	                                                <p class="item-box2__txt1 txt-v2">
														根据乳房的理想形状设计的形态，水滴形是代表性的假体。 虽然拥有形态美的优点，但运动时可能会感觉形状不自然，会因为手术后位置不稳定，假体发生旋转而有再手术的可能性。
	                                                </p>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </li>
	                            </ul>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </section>
	        <section class="operation-ways">
	            <section class="content-section">
	                <div class="content-section__bg">
	                    <div class="content-section__wrapper">
	                        <h4 class="content-section__tit type-left">
			                    <span class="content-section__number">
			                        <span class="content-section__number-wrap">
			                            03
			                        </span>
			                    </span>
								与填充物一样重要的是<strong class="color-chest9">手术方法。</strong>
	                        </h4>
	                        <p class="content-section__txt1">
								隆胸手术依据患者探究的结果表表明， 并且<span class="color-chest10 font-bold">依据患者的身体构造不同，手术方法</span>也不尽相同。如果手术方法不同，填充物填充的位置或者疤痕的位置等都会有差异。所以患者术前，本人需要充分了解自己使用何种填充物进行手术，何种手术方法进行手术。
	                        </p>
	                    </div>
	                    <div class="extension-box3">
	                        <h5 class="operation-ways__tit">
								填充物的位置
	                        </h5>
	                        <ul class="item-box2__list clearfix chest-group3">
	                            <li class="item-box2__item">
	                                <div class="item-box2__outer">
	                                    <div class="type-pic10 item-box2__thumb">img</div>
	                                    <div class="item-box2__inner js-height clearfix">
	                                        <div class="item-box2__desc js-height">
	                                            <h6 class="item-box2__tit tit-v2">
	                                                肌肉下的位置
	                                            </h6>
	                                            <p class="item-box2__txt1 txt-v2">
	                                                因为是可以保持原先的胸部构造的手术方法，对机能没有任何影响的同时，恢复迅速。同时手术时安全的以乳房下线的位置为基准调整，有塑形漂亮的优点。
	                                            </p>
	                                        </div>
	                                    </div>
	                                </div>
	                            </li>
	                            <li class="item-box2__item">
	                                <div class="item-box2__outer">
	                                    <div class="type-pic11 item-box2__thumb">img</div>
	                                    <div class="item-box2__inner js-height clearfix">
	                                        <div class="item-box2__desc js-height">
	                                            <h6 class="item-box2__tit tit-v2">
													肌肉上的位置
	                                            </h6>
	                                            <p class="item-box2__txt1 txt-v1 pop-info">
													乳房肌肉发达或使用生理盐水假体时，可将假体置于乳房组织与乳房肌肉之间。优点是手术相对于简单，能有效矫正下垂的乳房，但存在发生
	                                                <a href="" class="info-btn js-info">
	                                                    <span class="info-btn__icon type-chest-extension">info</span>
	                                                    包膜挛缩
	                                                    <span class="info-desc type-chest-extension">
	                                                        <span class="info-desc__item">
	                                                            <span class="info-desc__box">
	                                                                <span class="info-desc__tit"><span class="info-desc__icon"></span>包膜挛缩是指的什么？</span>
	                                                                <span class="info-desc__content">
	                                                                    <span class="info-desc__txt1">
																			挛缩是指在体内生成的皮膜逐渐变窄的现象。也就是胸部整形时，假体周围会被皮膜包裹住，这个时候皮膜会变硬的情况。一定程度的挛缩虽然并不会出现大的问题，但是变严重的话可能会使胸部的触感变得不自然，这个时候就需要进行适当的预防和挛缩程度不同采用恰当措施。
	                                                                     </span>
	                                                                </span>
	                                                            </span>
	                                                            <button class="info-desc__btn js-close">
	                                                                <span class="info-desc__stick type-left"></span>
	                                                                <span class="info-desc__stick type-another"></span>
	                                                                关闭
	                                                            </button>
	                                                        </span>
	                                                    </span>
	                                                </a>
	                                                的可能性，需要进行一定的管理。
	                                            </p>
	                                        </div>
	                                    </div>
	                                </div>
	                            </li>
	                        </ul>
	                    </div>
	                    <div class="extension-box4">
	                        <h5 class="operation-ways__tit">
	                            切开法
	                        </h5>
	                        <ul class="item-box2__list clearfix chest-group4">

	                            <li class="item-box2__item">
	                                <div class="item-box2__outer clearfix">
	                                    <div class="item-box2__thumb type-pic12"></div>
	                                    <div class="item-box2__inner js-height clearfix">
	                                        <div class="item-box2__desc js-height">
	                                            <h6 class="item-box2__tit tit-v1">
	                                                腋下切开法
	                                            </h6>
	                                            <p class="item-box2__txt1 txt-v1">
	                                                有看不见疤痕的优点，手术时可减少血管和神经的损伤，几乎没有感染的危险或乳头知觉的损伤。因为手术时间不长，恢复相对来说较快。
	                                            </p>
	                                        </div>
	                                    </div>
	                                </div>
	                            </li>
	                            <li class="item-box2__item">
	                                <div class="item-box2__outer clearfix">
	                                    <div class="item-box2__thumb type-pic13"></div>
	                                    <div class="item-box2__inner js-height clearfix">
	                                        <div class="item-box2__desc js-height">
	                                            <h6 class="item-box2__tit tit-v1">
	                                                胸部下线切开法
	                                            </h6>
	                                            <p class="item-box2__txt1 txt-v1">
	                                                痛症小恢复快的同时，对漂亮胸部形状的塑造特别有利。虽然之前因为疤痕而回避切开法，但近期针对疤痕可以有集中性的管理，又因为疤痕在胸部下方可以被遮掩住，所以近期也是很多人选择的趋势所在。
	                                            </p>
	                                        </div>
	                                    </div>
	                                </div>
	                            </li>
	                            <li class="item-box2__item">
	                                <div class="item-box2__outer clearfix">
	                                    <div class="item-box2__thumb type-pic14"></div>
	                                    <div class="item-box2__inner js-height clearfix">
	                                        <div class="item-box2__desc js-height">
	                                            <h6 class="item-box2__tit tit-v1">
	                                                乳晕周围切开法
	                                            </h6>
	                                            <p class="item-box2__txt1 txt-v1">
	                                                因为在填充物所在位置的口袋正中央切开，容易保证视野，路径也短，相比较来说可以进行较简单的手术。对母乳或怀孕几乎没有影响，也可以同时改善胸部下垂，也几乎没有不对称的可能性，是具有众多优点的手术方法。
	                                            </p>
	                                        </div>
	                                    </div>
	                                </div>
	                            </li>
	                        </ul>

	                    </div>
	                </div>
	            </section>
	        </section>
	        <section class="responsibility">
	            <div class="content-section">
	                <div class="content-section__wrap">
	                    <div class="content-section__tit-wrap">
	                        <h4 class="content-section__tit type-center">
				                <span class="content-section__number">
				                    <span class="content-section__number-wrap">
				                        04
				                    </span>
				                </span>
								对患者的安全与健康负责是<span class="color-chest7 type-bold">医院</span>的<span class="color-chest7 type-bold">义务</span>
	                        </h4>
	                        <p class="content-section__txt1">
								患者的安全与健康。作为医院的话，当然需要考虑到，这是基本的价值原则。但是有的整形外科侧重于美容部分，会有遗漏这种最基本，最重要的价值部分的情况。佰诺佰琪作为坚持以人本主义为价值中心的医院，即使进行隆胸手术的时候，为了对患者的安全与健康负责，会全心全力做到最好。
	                        </p>
	                    </div>
	                    <div class="responsibility__contents-box">
							<ul class="responsibility__list clearfix">
								<li class="responsibility__item">
									<div class="responsibility__box">
										<div class="responsibility__desc">
											<h5 class="responsibility__item-tit">
												胸部<span class="color-chest11 type-bold">精密检测</span>系统型
											</h5>
											<p class="responsibility__item-txt pop-info">
												女性的胸部是女性性别的象征，同时也有多种技能的特别的器官。所以精密和长期的胸部检查是一定需要的。但是接受隆胸手术的患者在一般医疗机关接受胸部诊断的时候，会有所顾忌的情况。因为不乐意公开地表明是否接受了胸部手术的原因。佰诺佰琪作为实行
											   	<a href="" class="info-btn js-info">
												   	<span class="info-btn__icon type-chest-ribbon">info</span>
													粉红蝴蝶结活动
												   	<span class="info-desc type-chest-ribbon">
													   	<span class="info-desc__item">
														   	<span class="info-desc__box">
															   	<span class="info-desc__tit"><span class="info-desc__icon"></span><strong>粉红蝴蝶结活动</strong><br class="hidden-tm"></span>
															   	<span class="info-desc__content">
																   	<span class="info-desc__txt1">
																		粉红蝴蝶结是作为乳房癌的象征使用，利用它扩大对乳房癌的认识，强调定期检查和预防的重要性的活动。
																	</span>
															   	</span>
														   	</span>
														   	<button class="info-desc__btn js-close">
															   	<span class="info-desc__stick type-left"></span>
															   	<span class="info-desc__stick type-another"></span>
															   	关闭
														   	</button>
													   	</span>
												   	</span>
											   	</a>
											   	的医疗机关，为了乳房的精密检查，需要具备专业的设施和医疗团队。<strong class="color-chest12">通过长期的胸部检查系统，精密的确认胸部的状态，可以做到从发现肿瘤到切除。</strong>
											</p>
											<div class="responsibility__thumb type-pic15">
												img
											</div>
										</div>
									</div>
								</li>
								<li class="responsibility__item type-special">
									<div class="responsibility__box">
										<div class="responsibility__desc">
											<h5 class="responsibility__item-tit">
												<span class="color-chest11 type-bold">正品填充物</span>的使用
											</h5>
											<p class="responsibility__item-txt">
												隆胸手术中不可以遗漏的填充物部分，当然安全性是相当重要的。如果使用没有检测过的填充物，会有感染或各种副作用的危险。佰诺佰琪保留多种不同的填充物，<strong class="color-chest12">只使用通过不同的检测，安全性得到验证品牌的正品。</strong>
											</p>
											<div class="responsibility__thumb type-pic16">
												img
											</div>
										</div>
									</div>
								</li>
								<li class="responsibility__item type-mt20">
									<div class="responsibility__box">
										<div class="responsibility__desc">
											<h5 class="responsibility__item-tit">
												<span class="color-chest11 type-bold">大约30分钟左右</span>的手术
											</h5>
											<p class="responsibility__item-txt">
												偶尔会有人认为手术时间越长，手术效果越好。但是如果手术时间变长，感染的危险度就会变高，组织受伤变严重，恢复会变慢。所以手术时间越短越好。<strong class="color-chest12">佰诺佰琪凭借丰富的手术经验和感觉，隆胸手术大约进行在30分钟左右。</strong>恰到好的利用不会出血的层面，获取视野，减少不必要的组织受伤的佰诺佰琪的技术，可以为您提供更安全的隆胸手术。
											</p>
											<div class="responsibility__thumb type-pic17">
												img
											</div>
										</div>
									</div>
								</li>
							</ul>
	                    </div>

	                </div>
	            </div>

	        </section>
	        <section class="recovery">
	            <div class="recovery__wrap">
	                <div class="recovery__tit-wrap">
	                    <h4 class="content-section__tit type-top">
			                <span class="content-section__number">
			                    <span class="content-section__number-wrap">
			                        05
			                    </span>
			                </span>
	                        <span class="color-chest7 type-bold">恢复</span>和<span class="color-chest7 type-bold">管理</span><span class="type-bold">，</span>佰诺佰琪为您分担忧虑。
	                    </h4>
	                    <div class="recovery__img-wrapper clearfix">
	                        <div class="recovery__pic-list">
	                            <div class="recovery__pic-item pic18"></div>
	                        </div>
	                        <div class="recovery__pic-list">
	                            <div class="recovery__pic-item pic19"></div>
	                        </div>
	                    </div>
	                    <p class="content-section__txt1">
							大部分的手术需要与手术相协调的恢复过程。特别是隆胸手术，更是如此。因为考虑到包膜痉挛的发生或疤痕的问题。包膜痉挛，选择合适的填充物，还有通过正确的管理可以有效预防。<span class="content-highlight type-chest-extension">诺巴奇通过专业的人力，实施体系化的按摩和按摩培训，做光滑表明的填充物手术是，会提供给您按摩服务。</span>同时通过佰诺佰琪皮肤科的协力治疗，术后疤痕可以得到更精细的管理。
	                    </p>
	                </div>
	            </div>
	        </section>

			<!-- 手术详情 -->
			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-chest">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">手术详情</h4>
							<!-- <p class="operation-v2__subtit">胸部手术恢复迅速</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">手术时间</h5>
										<p class="operation-v2__txt txt-new1">约1小时</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">麻醉方法</h5>
										<p class="operation-v2__txt txt-new1">全身麻醉</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">拆线</h5>
										<p class="operation-v2__txt txt-new1">
											约7天后拆线<br>
											(Derma Bond使用时，不需要)
										</p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">住院时间</h5>
										<p class="operation-v2__txt txt-new1">当天回家/约住院1天</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">来院治疗</h5>
										<p class="operation-v2__txt txt-new1">约2次</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">恢复</h5>
										<p class="operation-v2__txt txt-new1">约3~5天后恢复日常生活</p>
									</div>
								</li>
							</ul>
							<div class="pain-v2 type-chest">
								<h5 class="pain-v2__tit txt-new2">术后体感疼痛</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 4){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">square</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">square</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									依据手术方法和填充物的不同，会有一定程度的疼痛感，会给开止痛药，随着时间会渐渐缓解。<br>
									通过按摩对包膜痉挛的预防有一定帮助。
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* 通过对术后患者进行问卷调查得出的平均值</p>
									<p class="pain-v2__noti txt-new4">* 从数据不存在绝对性，会存在个人差异，仅供大家作为参考。</p>
								</div>
								<!-- <a href="<?php echo SITE_UPLOAD_URL?>/knowledge/breast.pdf" target="_blank" class="operation-v2__link"><span>术后注意事项</span></a> -->
							</div><!-- //pain -->
						</div>
					</div>
				</div>
			</div>
	    </div>
	</div><!--// Content -->
	<% include ../_include/_bfaf %>
</div> <!-- //container -->
<% include ../_include/_footer %>
