@charset "UTF-8";
@import "mixins";
.fs_section{height:auto;}
.fs_section{position:relative; background-repeat: no-repeat; background-position: 50%;
	&.aboutFirst{background: url(../images/about/about_section01.jpg) center center; background-size: cover;}
	&.aboutSection01{background: url(../images/about/about_section02.jpg) center 100%; background-size: cover;}
	&.aboutSection02{background: url(../images/about/about_section03.jpg) center 100%; background-size: cover;	}
	&.aboutSection03{background: url(../images/about/about_section04.jpg) center 100%; background-size: cover;}
	&.aboutSection04{background: url(../images/about/about_section05.jpg) center 100%; background-size: cover;}
	@media only screen and (max-width:$tablet-size){
		&.aboutFirst{background: url(../images/about/about_section01_768.jpg) center 20px; background-size: cover;}
		&.aboutSection01{background: url(../images/about/about_section02_768.jpg) center 100%; background-size: cover;}
		&.aboutSection02{background: url(../images/about/about_section03_768.jpg) center 100%; background-size: cover;}
		&.aboutSection03{background: url(../images/about/about_section04_768.jpg) center 100%; background-size: cover;}
		&.aboutSection04{background: url(../images/about/about_section05_768.jpg) center center; background-size: cover;}
	}
	@media only screen and (max-width:$mobile-size){
		&.aboutFirst{ background: url(../images/about/about_section01_640.jpg) center center; background-size: cover;}
		&.aboutSection01{height:600px !important; background: url(../images/about/about_section02_640.jpg) center center; background-size: cover;}
		&.aboutSection02{height:650px !important; background: url(../images/about/about_section03_640.jpg) center 100%; background-size: cover;}
		&.aboutSection03{height:760px !important; background: url(../images/about/about_section04_640.jpg) center center; background-size: cover;}
		&.aboutSection04{height:700px !important; background: url(../images/about/about_section05_640.jpg) center center; background-size: cover;}
	}
	@media only screen and (max-width:$mobile-size) and (orientation: landscape){
		&.aboutSection04{height:1000px !important; background: url(../images/about/about_section05_640.jpg) center bottom; background-size: cover;}
	}
}

.about{
	$this:&;
	&__black{position:absolute; bottom:0; left:0; width:100%; height:34%;  background-color:#192029;
		& .detail__inner{display:block; margin:0px auto;}
	}
	&__top{position:absolute; left:0; top:15%; margin:0; font-size:20px; color:#fff; font-weight:400; line-height:1.85;}
	&__top-point{display:block; color:#c4f3ff;}
	&__top-bar{display:inline-block; position:relative;
		&:after{position:absolute; left:0; bottom:0; width:100%; height:0; border-bottom:1px solid #fff; content:'';}
		&.about__top-point{
			&:after{border-bottom:1px solid #c4f3ff;}
		}
	}
	&__box{position:relative; top:-100px}
	&__tit-eng{margin:0; font-family:$font-pt; font-size:60px; color:#fff; font-weight:200; line-height:1.1;}
	&__txt{margin:24px 0 0 0; color:#bcbcbc; font-size:16px;}
	&__popup-img{overflow:hidden; position:relative; width:100%; height:0; margin-top:24px; padding-bottom:105.12%; text-indent:-9999px;
		&:before{position:absolute; top:0; left:0; width:100%; height:100%; background:url('../images/about/about_popup1.jpg') center center; content:''; background-size:cover;}
	}
	&__circle{width:526px; margin:10px auto 0; padding:19.2% 10.5% 13.2%; background:url('../images/about/about_circle-bg.png') no-repeat center center; background-size:contain; box-sizing: content-box; transition: all 0.5s;
		&.type-another{ background:url('../images/about/about_circle-bg2.png') no-repeat center center; background-size:contain;
			& #{$this}__circle-wrap{color:#333;
				&:before,&:after{background:url('../images/about/quotation_left2.png');}
			}
			& #{$this}__circle-tit{color:#333;}
			& #{$this}__circle-txt{
				&:before{background-color:#3ba8e1;}
			}
			& #{$this}__circle-link{color:#333; border:1px solid #333;
				& span{
					&:after{background:url('../images/about/circle_arrow-b.png'); content:'';}
				}
				&:hover{background-color:#333; color:#fff;
					& span{
						&:after{background:url('../images/about/circle_arrow-w.png');}
					}
				}
			}
		}
		&.type-another2{background:none; width:700px; padding:0;
			& #{$this}__circle-tit{color:#fff;}
			& #{$this}__circle-subtit{margin-left:10px; color:#fff; font-family: $font-normal;}
			& #{$this}__circle-wrap{
				&:before{left:-40px;}
				&:after{bottom:-20px; right:-35px;}
			}
		}
		&.type-another3{float:right; margin:0 0 22% 0; padding:0;background:none;
			& #{$this}__circle-tit{font-size:58px; color:#333333; line-height:1.3;}
			& #{$this}__circle-subtit{margin-left:10px; color:#333;}
			& #{$this}__circle-txt{color:#333;
				&:before{background-color:#89d7da;}
			}
			& #{$this}__circle-wrap{
				&:before,&:after{width:18px; height:15px; background:url('../images/about/quotation_left3.png');}
				&:before{left:0px;}
				&:after{bottom:-20px; right:0px;}
			}
		}
	}
	&__circle-wrap{position:relative; color:#fff;
		&:before{position:absolute; top:-30px; left:0; width:17px; height:16px; background:url('../images/about/quotation_left.png'); content:'';}
		&:after{position:absolute; bottom:0px; right:45px; width:17px; height:16px; background:url('../images/about/quotation_left.png'); content:''; transform: rotate(180deg); -ms-transform: rotate(180deg); content:'';}
	}
	&__circle-tit{margin:0; font-size:80px; font-family:$font-pt; color:#fdfb6b; font-weight:400; line-height:1.1;}
	&__circle-subtit{margin-top:10px; font-size:20px; font-weight:400;}
	&__circle-txt{position:relative; padding-left:142px; margin-top:56px; font-size:15px; line-height:1.6; transition: all 0.5s;
		&:before{position:absolute; top:4px; left:118px; width:2px; height:56px; background-color:#eafd6b; content:'';}
	}
	&__circle-link{display:inline-block; height:34px; margin-top:40px; padding:0 22px; line-height:32px; border:1px solid #fff; border-radius:17px 17px 17px 17px; font-size:13px; color:inherit; transition: all 0.5s; text-decoration:none;
		& span{position:relative; padding-right:10px;
			&:after{position:absolute; top:1px; bottom:0; right:0; margin:auto 0; width:4px; height:7px; background:url('../images/about/circle_arrow-w.png'); content:''; transition: all 0.5s;}
		}
		&:hover{background-color:#fff; color:#000;
			& span{
				&:after{background:url('../images/about/circle_arrow-b.png');}
			}
		}
	}
	&__popup-list{width:1000px; margin:50px 0 0 0; padding:0; box-sizing:border-box;
		&:after{display:block; clear:both; content:'';}
	}
	&__popup-item{float:left; width:20%; list-style:none;
		&.nth-2{
			& #{$this}__popup-tit{
				&:before{background-position:0px -166px;}
			}
		}
		&.nth-3{
			& #{$this}__popup-tit{
				&:before{background-position:0px -332px;}
			}
		}
		&.nth-4{
			& #{$this}__popup-tit{
				&:before{background-position:0px -498px;}
			}
		}
		&.nth-5{
			& #{$this}__popup-tit{
				&:before{background-position:0px -664px;}
			}
		}
		&:last-child{
			& #{$this}__popup-line{
				&:after{display:none;}
			}
		}
	}
	&__popup-tit{position:relative; margin:0; font-size:17px; font-weight:400; color:#333;
		&:before{display:block; width:166px; height:166px; margin:0px auto 22px; background:url('../images/about/about_popup2.png'); content:'';}
	}
	&__popup-line{position:relative; display:block; width:100%; background-color:#fff;
		&:before{position:absolute; top:0; left:0; bottom:0; width:100%; height:0; border-top:1px solid #666666; margin:auto 0; content:''; z-index:0;}
		&:after{position:absolute; top:0; right:-6px; bottom:0; display:inline-block; width:0; height:0; margin:auto 0;border-style:solid; border-bottom:7px solid transparent;
			border-right:6px solid transparent; border-left:6px solid #666; border-top:7px solid transparent; content:'';}
	}
	&__popup-bg{position:relative; display:inline-block; padding:0 5px; background-color:#fff;}
	&__popup-txt{margin:26px 0 0 0; padding:0 30px; font-size:13px; word-break:break-all; line-height:1.5;}
	&__popup-point{color:#333; font-weight:500;}
	&__popup2-box{width:880px; margin-top:38px; padding:0 40px;}
	&__popup2-list{margin:0 0 0 -50px;padding: 0;
		&:after{display:block; clear:both; content:'';}
	}
	&__popup2-item{float:left; width:33.33%;  padding-left:50px; list-style:none; box-sizing:border-box;
		&.nth-2{
			& #{$this}__popup2-tit{
				&:before{background-position:0 -216px;}
			}
		}
		&.nth-3{
			& #{$this}__popup2-tit{
				&:before{background-position:0 -432px;}
			}
		}
	}
	&__popup2-tit{margin:0; font-size:18px; font-weight:400; line-height:1.5;
		&:before{display:block; width:218px; height:216px; margin:0px auto 18px; background:url('../images/about/about_popup3.png') no-repeat; content:'';}
	}
	&__popup2-txt{margin:12px 0 0; font-size:13px; color:#666; word-break: break-all;}
	&__slide-txt{margin:20px 0 0 0; font-size:13px; color:#fff; text-align:center; line-height:1.7;}
	&__bottom{position:absolute; right:35px; bottom:84px; margin:0; font-size:16px; color:#e8e8e8;
		&__wrap{position:relative; padding-left:48px;
			&:before{position:absolute; top:0; bottom:0; left:0; display:block; width:39px; height:41px; margin:auto 0; background:url('../images/about/mark_icon.png'); content:'';}
		}
	}
	&__review-list{margin:0; padding:0; color:#1e9d45}
	&__review-item{list-style:none;}
	&__comma{font-family: $font-normal;}
	&__color0{color:#fff !important;}
	&__color1{color:#ff945a !important;}
	&__color2{color:#8d217f !important;}
	&__color3{color:#1e9d45 !important;}
	&__color4{color:#1e6ba1 !important;}
	&__color5{color:#3ba8e1 !important;}
	&__color6{color:#2594e2 !important;}
	&__color7{color:#fbb587 !important;}
	&__color8{color:#ffe0a5 !important;}
	&__color9{color:#ffcba5 !important;}
	&__color10{color:#06abb1 !important;}
	@media only screen and (max-width:$minpc-size3){
		&__popup-list{width:900px;}
	}
	@media only screen and (max-width:$tablet-size){
		&__black{height:35%;}
		&__top{top:13%;}
		&__circle{width:100%; padding:19%; box-sizing: border-box;
			&.type-another{
				& #{$this}__circle-wrap{
					&:before,&:after{background-size:15px 14px;}

				}
			}
			&.type-another2{width:610px;
				& #{$this}__circle-wrap{ padding:0 20px;
					&:before{left:10px;}
					&:after{bottom:-20px; right:10px;}
				}
			}
			&.type-another3{float:none; width:100%; margin:0 0 70% 0;
				& #{$this}__circle-wrap{
					&:before,&:after{width:15px; height:13px; background-size:15px 14px;}
				}
				& #{$this}__circle-tit{font-size:54px;}
				& #{$this}__circle-txt{padding-left:28px;
					&:before{left:3px;}
				}
			}
		}
		&__circle-wrap{margin-top:10%;
			&:before,&:after{width:15px; height:14px; background-size:15px 14px;}
			&:after{bottom:48px; right:0;}
		}
		&__circle-tit{font-size:60px; line-height:1;}
		&__circle-subtit{font-size:17px;}
		&__circle-txt{margin-top:42px; padding-left:136px; font-size:13px;
			&:before{left:115px;}
		}
		&__popup-list{margin-top:28px; width:100%; padding:0 50px;}
		&__popup-item{position:relative; float:none; width:100%;
			&:before{position:absolute; top:105px; left:52px; bottom:0; width:0; height:100%; border-left:1px solid #666666; margin:auto 0; content:''; z-index:0;}
			&:after{position:absolute; top:113px; left:46px; bottom:0; display:inline-block; width:0; height:0; border-style:solid; border-bottom:6px solid transparent;
				border-right:7px solid transparent; border-left:7px solid transparent; border-top:6px solid #666; content:'';}
			&.nth-2{
				& #{$this}__popup-wrap{
					&:before{background-position:0px -105px;}
				}
			}
			&.nth-3{
				& #{$this}__popup-wrap{
					&:before{background-position:0px -210px;}
				}
			}
			&.nth-4{
				& #{$this}__popup-wrap{
					&:before{background-position:0px -315px;}
				}
			}
			&.nth-5{
				& #{$this}__popup-wrap{
					&:before{background-position:0px -420px;}
				}
			}
			&:last-child{
				&:before,&:after{display:none;}
			}
			& + &{margin-top:25px;}
		}
		&__popup-wrap{display:table-cell; width:1%; height:105px; padding-left:130px; vertical-align:middle; text-align: left; box-sizing:border-box;
			&:before{position:absolute; top:0; left:0px; width:105px; height:105px;  background:url('../images/about/about_popup2.png'); background-size:105px 525px; content:'';}
		}
		&__popup-tit{
			&:before{display:none;}
		}
		&__popup-txt{margin:10px 0 0 0; padding:0;}
		&__popup-line{
			&:before,&:after{display:none;}
		}
		&__popup2-box{width:100%; padding:0;}
		&__popup2-list{margin:28px 0 0 0; width:100%; padding:0 50px; box-sizing:border-box;}
		&__popup2-item{float:none; position:relative; width:100%; padding-left:0; text-align: left;
			& + &{margin-top:30px;}
			&.nth-2{
				& #{$this}__popup2-wrap{
					&:before{background-position:0 -180px;}
				}
			}
			&.nth-3{
				& #{$this}__popup2-wrap{
					&:before{background-position:0 -360px;}
				}
			}
		}
		&__popup2-wrap{display:table-cell; width:1%; height:180px; vertical-align:middle; padding-left:215px;
			&:before{position:absolute; left:0; top:0; bottom:0; display:block; width:182px; height:180px; background:url('../images/about/about_popup3.png') no-repeat; content:''; background-size:182px 540px;}
		}
		&__popup2-tit{
			&:before{display:none;}
		}
		&__slide-txt{margin-top:15px;}
		&__bottom{font-size:13px;
			&__wrap{
				&:before{width:35px; height:37px; background-size:contain;}
			}
		}
		&__review-list{margin-top:5px;
			&:after{display:block; clear:both; content:'';}
		}
		&__review-item{float:left;
			& + &{margin-left:5px;}
		}
	}
	@media only screen and (max-width:$mobile-size){
		&__black{height:44%;}
		&__top{top:12%; font-size:1.3rem;}
		&__box{top:-56px;}
		&__tit-eng{font-size:3.4rem;}
		&__txt{margin-top:4px; font-size:1.4rem;}
		&__circle{background:none; padding:0; margin:0; width:auto;
			&.type-another{background:none; width:100%;
				& #{$this}__circle-wrap{
					&:before,&:after{background:url('../images/about/quotation_left2_m.png'); background-size:13px 11px;}
					&:before{left:0px;}
				}
			}
			&.type-another2{width:100%;
				& #{$this}__circle-tit{font-size:4.6rem; line-height:1;}
				& #{$this}__circle-subtit{position:relative; top:-12px; margin-left:0;}
				& #{$this}__circle-wrap{padding:0;
					&:before{left:0px;}
					&:after{bottom:6px; right:50px;}
				}
			}
			&.type-another3{width:100%;
				& #{$this}__circle-tit{font-size:3.3rem;}
				& #{$this}__circle-wrap{
					&:before,&:after{width:13px; height:11px;background:url('../images/about/quotation_left3_m.png'); background-size:13px 11px;}
					&:after{bottom:-25px;}
				}
				& #{$this}__circle-txt{padding-left:15px; margin-top:32px;
					&:before{left:0;}
				}
			}
		}
		&__circle-wrap{
			&:after{bottom:50px; right:0;}
			&:before,&:after{width:13px; height:11px; background:url('../images/about/quotation_left_m.png'); background-size:13px 11px;}
		}
		&__circle-tit{font-size:5.3rem; font-weight:500;}
		&__circle-txt{padding-left:15px;
			&:before{left:0; height:69px;}
		}
		&__circle-subtit{font-size:1.6rem; font-weight:500;}
		&__circle-link{height:42px; line-height:40px; margin-top:30px; font-size:1.4rem; border-radius: 21px 21px 21px 21px;}
		&__popup-list{margin-top:0px; padding:0;}
		&__popup-item{
			&.nth-2{
				& #{$this}__popup-wrap{
					&:before{background-position:0px -81px;}
				}
			}
			&.nth-3{
				& #{$this}__popup-wrap{
					&:before{background-position:0px -162px;}
				}
			}
			&.nth-4{
				& #{$this}__popup-wrap{
					&:before{background-position:0px -243px;}
				}
			}
			&.nth-5{
				& #{$this}__popup-wrap{
					&:before{background-position:0px -324px;}
				}
			}
			& + &{margin-top:20px;}
			&:before,&:after{display:none;}
		}
		&__popup-wrap{height:85px; padding-left:95px;
			&:before{top:0; bottom:0; width:81px; height:81px; margin:auto 0; background-size:81px 405px; content:'';}
		}
		&__popup-tit{font-size:1.6rem;}
		&__popup-txt{font-size:1.4rem;}
		&__popup2-wrap{display:block; width:100%; height:auto; padding-left:105px; box-sizing:border-box;
			&:before{position:absolute; left:0; top:1px; display:block; width:93px; height:92px; background:url('../images/about/about_popup3.png') no-repeat; content:''; background-size:93px 276px;}
		}
		&__popup2-box{margin-top:0;}
		&__popup2-list{margin-top:0; padding:0;}
		&__popup2-tit{font-size:1.6rem;}
		&__popup2-txt{margin-top:8px;font-size:1.4rem;}
		&__popup2-item{
			& + &{margin-top:40px;}
			&.nth-2{
				& #{$this}__popup2-wrap{
					&:before{background-position:0 -92px;}
				}
			}
			&.nth-3{
				& #{$this}__popup2-wrap{
					&:before{background-position:0 -184px;}
				}
			}
		}
		&__review-item{width:50%;
			& + &{margin-left:0px;}
		}
		&__bottom{bottom:20px; right:20px; font-size:1.2rem;}
		&__bottom__wrap{padding-left:32px;
			&:before{width:25px; height:26px;}
		}
		&__slide-txt{margin-top:14px;}
	}
	@media only screen and (max-width:$mobile-size) and (orientation: landscape){
		&__top{top:20%}
		&__circle{
			&.type-another3{margin:0 0 80% 0;}
		}
	}
}

.slide-type1{position:relative; width:556px; margin:0px auto;
	&__list{margin:48px 0 0 0; padding:0;}
	&__item{position:relative; height:0; width:100%; padding-bottom:66.55%;}
	&__img{position:absolute; top:0; left:0; width:100%; height:100%;}
	&__btn{position:absolute; top:0; bottom:0; display:inline-block; margin:auto 0; width:14px; height:26px; z-index:200;}
	&__btn-prev{left:-96px; background:url('../images/about/prev_btn.png');}
	&__btn-next{right:-96px; background:url('../images/about/next_btn.png');}
	&__pager{margin-top:5px; text-align: right; line-height:1; font-size:0;}
	&__pager-item{overflow:hidden; display:inline-block; width:6px; height:6px; border:1px solid #d2d2d2; background-color:#d2d2d2; border-radius:50%; text-indent:-999px; cursor:pointer;
		& + &{margin-left:10px;}
		&.is-active{background-color:transparent;}
	}
	@media only screen and (max-width:$tablet-size){width:510px;
		&__list{margin-top:32px;}
		&__btn{display:none;}
	}
	@media only screen and (max-width:$mobile-size){width:100%;
		&__btn{display:none;}
		&__list{margin-top:20px;}
	}
	@media only screen and (max-width:$minpc-size3) and (orientation: landscape){width:400px;
		&__list{margin-top:30px;}
	}
}
