@charset "utf-8";
@import "mixins";
.national{text-align:center;
	&__list{display:inline-block; margin:0; padding:0; font-size:0; box-sizing:border-box;}
	&__item{display:inline-block; width:60px; margin:0 10px; list-style:none;
		& img{width:100%;border: 0;}
	}
	&__link{position:relative; display:block; width:100%; height:0; padding-bottom:100%;
		&.is-active, &.is-on{
			&:before{position:absolute; top:0; left:0; display:block; width:100%; height:100%; border:2px solid #a7a4a4; border-radius:50%; content:''; box-sizing:border-box;}
		}
	}
	@media only screen and (max-width:$tablet-size){
		&__list{margin-top:-36px; padding:0 60px;}
		&__item{margin-top:36px;}
	}
	@media only screen and (max-width:$mobile-size){
		&__list{margin:-18px -15px 0; padding:0;}
		&__item{margin:0; width:40px; margin:18px 15px 0;}
		&__link{
			&.is-active{
				&:before{display:none;}
			}
		}
	}
}
.academic{width:100%; max-width:1280px; margin:0px auto; padding:0 30px; box-sizing:border-box;
	@media only screen and (max-width:$tablet-size){padding:0;}
}
.magazine{
	&__list{margin:0 0 0 -76px; padding:0;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; width:25%; margin-top:50px; padding-left:76px; text-align:center; box-sizing:border-box; list-style:none;}
	&__border{position:relative; border:1px solid #d7d7d7;
		&:before{position:absolute; top:0; left:6px; display:block; width:0; height:100%; border-right:1px solid #d7d7d7; content:''; z-index:8;}
	}
	&__category{display:inline-block; padding:4px 5px; font-size:13px; font-weight:500; color:#fff;
		&.type-purple{background-color:#9b0583;}
		&.type-blue{background-color:#05729b;}
		&.type-green{background-color:#007d3d;}
		&.type-turquoise{background-color:#028a7f;}
		&.type-red{background-color:#9b051a;}
	}
	&__tit{overflow:hidden; display:-webkit-box; -webkit-line-clamp:2;-webkit-box-orient: vertical; height:50px; margin:7px 0 0 0; padding:0 10px; font-size:17px; color:#535353; font-weight:400;  word-wrap:break-word;
		line-height:1.4; text-overflow:ellipsis;}
	&__national{position:relative; margin:10px 0 0 0; font-size:14px; color:#999999; text-transform:uppercase;}
	&__wrap{padding:30px 0;}
	&__img{position:relative; width:100%; padding-bottom:67.47%;}
	&__txt{overflow:hidden; text-overflow:ellipsis; white-space:nowrap; margin:10px 0 0 0; font-size:14px; color:#333;}
	&__find{margin-top:60px; text-align:center;
		& .board__find{width:284px; margin-left:0;}
	}
	&__link{overflow:hidden; position:absolute; top:0; left:0; width:100%; height:100%; font-size:0; text-indent:-999px; content:''; z-index:20;}
	&__icon{position:absolute; top:-20px; left:0; right:0; width:40px; margin:0px auto; z-index:10;}
	@media only screen and (max-width:$tablet-size){
		&__list{margin-top:20px; margin-left:-40px;}
		&__item{width:33.33%; margin-top:40px; padding-left:40px;}
	}
	@media only screen and (max-width:$mobile-size){
		&__list{margin-top:16px; margin-left:-10px;}
		&__item{width:50%; margin-top:24px; padding-left:10px;}
		&__border{
			&:before{left:5px;}
		}
		&__category{padding:3px 5px 2px; font-size:1.2rem;}
		&__tit{height:42px; font-size:1.5rem;}
		&__wrap{padding:15px 0 25px;}
		&__icon{top:-15px; width:30px;}
		&__national{margin-top:5px; font-size:1.2rem;}
		&__txt{font-size:1.3rem;}
		&__find{margin-top:30px;
			& .board__find{width:230px;}
		}
	}
}

.board-style{margin-left:-4px; font-size:0;
	$this:&;
	&.type-1{
		& #{$this}__item{width:100%;}
		& #{$this}__wrap{padding-bottom:45.21%;}
	}
	&.type-2{
		& #{$this}__item{width:50%;}
		& #{$this}__wrap{padding-bottom:90.82%;}
	}
	& + &{margin-top:4px;}
	&:after{display:block; clear:both; content:'';}
	&__item{float:left; padding-left:4px; box-sizing:border-box;}
	&__wrap{position:relative; width:100%; height:0;}
	& + p{margin:25px 0 0 0;}
	p{margin:0;}
	@media only screen and (max-width:$mobile-size){
		&.type-2{
			& #{$this}__item{width:100%;
				& + #{$this}__item{margin-top:4px;}
			}
		}
		& + p{margin-top:12px;}
	}
}



.news{
	$this:&;
	&__header{text-align: right;}
	&__list{
		&.type-list{margin-top:20px;}
		&.type-view{border-bottom:2px solid #666;}
	}
	@media only screen and (max-width:$tablet-size){
		&__list{
			&.type-view.type-another{margin-top:0px; border-bottom:2px solid #666;}
		}
	}
	@media only screen and (max-width:$mobile-size){
		&__list{
			&.type-view.type-another{margin-top:0px; border-bottom:2px solid #666;}
		}
		&__header{position:relative; padding-left:80px; box-sizing:border-box;}
	}
}

.media{margin-top:0px;
	&__tit{margin:0 0 40px 0; font-size:25px; color:#333; font-weight:400;}
	&__content{padding:0px 10px 76px; text-align:center; border-bottom:1px solid #e1e1e1;
		& p{margin:0; font-size:15px; color:#666666;}
	}
	&__video{display:inline-block; width:800px; height:450px; margin-bottom:40px;
		& iframe{width:100%; height:100%;}
	}
	&__box{position:absolute; top:0; left:0; width:100%; height:100%; background-color:#000; color:#fff;}
	&__outer{display:inline-table; width:100%; height:100%;}
	&__inner{display:table-cell; height:100%; vertical-align:middle; font-size:14px;}
	@media only screen and (max-width:$tablet-size){
		&__video{position:relative; width:100%; height:0; padding-bottom:56.3%;
			& iframe{position:absolute; top:0; left:0;}
		}
	}
	@media only screen and (max-width:$mobile-size){
		&__tit{margin-bottom:20px; font-size:1.6rem;}
		&__content{padding:0px 0 36px;
			&.type-live{padding:0px 0px 37px 0;}
			& p{font-size:1.4rem;}
		}
		&__video{position:relative; width:100%; height:0; margin-bottom:20px; padding-bottom:56.3%;
			& iframe{position:absolute; top:0; left:0;}
		}
		&__inner{font-size:1.4rem;}
	}
}


// 사회공헌
.society{max-width:960px; margin: 0 auto;
	$this:&;
	&.type-another{margin-top:0;}
	&__box{padding-top:13px;}
	&__tit{overflow:hidden; font-weight:400; font-size:14px; color:#333;  text-overflow:ellipsis; white-space:nowrap; line-height:1.5;}
	&__line{overflow:hidden; display:block; margin-top:10px; width:100%; height:0; border-bottom:1px solid #d7d7d7; font-size:0;}
	&__txt{overflow:hidden; display:-webkit-box;  -webkit-box-orient: vertical; text-overflow:ellipsis; -webkit-line-clamp:2; height:40px; margin-top:9px; font-size:14px; color:#999; word-wrap:break-word; line-height:1.5;}
	&__img{position:relative; width:100%; height:0; padding-bottom:66.66%; box-sizing: border-box;
		&.is-active{
			& #{$this}__img-hover{opacity:1;}
		}
	}
	&__img-hover{overflow:hidden; position:absolute; top:0; left:0; display:block; width:100%; height:100%; background-color:rgba(0,0,0,0.4); z-index:3; text-indent:-999px; opacity:0; transition:opacity 0.3s;
		&:before,&:after{position:absolute; top:0; left:0; right:0; bottom:0; display:block; margin:auto; content:'';}
		&:before{width:25px; height:0; border-top:1px solid #fff;}
		&:after{width:0px; height:25px; border-left:1px solid #fff;}
	}
	&__img-border{position:absolute; top:4px; left:4px; width:98%; width:calc(100% - 8px); height:98%; height:calc(100% - 8px); border:1px solid #fff;border:1px solid rgba(255,255,255,0.5);; z-index:5;box-sizing: border-box;}
	&__list{margin: -50px 0 0 -30px;padding: 0;list-style: none;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; width:33.33%; margin-top:50px; padding-left:30px; box-sizing: border-box;}
	&__wrap{position:relative; }
	&__link{overflow:hidden; position:absolute; top:0; left:0; display:block; width:100%; height:100%; text-indent:-9999px; z-index:7;}

	@media only screen and (max-width:$tablet-size){
		margin-top:0;
	}

	@media only screen and (max-width:$mobile-size){
		&__list{margin-top:-14px; margin-left:-7px;}
		&__item{width:50%; margin-top:14px; padding-left:7px;}
		&__img-hover{display:none;}
		&__wrap{border:1px solid #d7d7d7;}
		&__box{padding:15px 8px;}
		&__tit{display:-webkit-box;  -webkit-box-orient: vertical;  -webkit-line-clamp:2;  height:40px; font-size:1.5rem; white-space:normal; }
		&__txt{font-size:1.3rem;}
	}
}



//셀렉트박스
$background: #fff;
$select-color: #797777;
$select-background: #fff;

.select-hidden { display: none; visibility: hidden; padding-right: 10px;}
.select1__wrap {cursor: pointer; display: inline-block; position: relative; font-size: 14px; color: $select-color; width:75px; height:32px; vertical-align:middle;
	@media only screen and (max-width:$mobile-size){position:absolute; top:0; left:0; width:62px; height:30px; font-size:1.3rem;}
}
.select-styled {position: absolute; top: 0; right: 0; bottom: 0; left: 0; background-color: $select-background; text-align:left; padding:5px 0px 0px 16px; border:1px solid #ddd;
	&:after {content:""; width: 0; height: 0; border: 5px solid transparent; border-color: $select-color transparent transparent transparent; position: absolute; top: 13px;right: 10px;}
	// &:hover {background-color: darken($select-background, 2);}
	&:active, &.active {background-color:$select-background;
		&:after {top: 8px; border-color: transparent transparent $select-color transparent;}
	}
	@media only screen and (max-width:$mobile-size){padding:4px 0px 0px 7px;
		&:after{top:12px;}
		&:active, &.active {
			&:after {top: 7px;}
		}
	}
}
.select-options { display: none; position: absolute; top: 100%; right: 0; left: 0; z-index: 999; margin: 0; padding: 0; list-style: none; text-align:left; margin-top:-1px;
	li { margin: 0; padding:6px 0px 6px 16px; border:1px solid #ddd; background-color:#fff;
		&:hover { color: $select-background; background: $select-color;}
		&[rel="hide"] {display: none;}
		& + li{border-top:none;}
	}
	@media only screen and (max-width:$mobile-size){
		li {padding:4px 0px 4px 7px;}
	}
}
