@charset "utf-8";
@import "mixins";
#map{height:100%;
    @media only screen and (max-width: $mobile-size) {position:absolute !important; width:100%; height:100%; min-height:300px;}
}
.map-box{overflow:hidden; width:100%; height:600px;
    @media only screen and (max-width: $tablet-size) {height:800px;}
    @media only screen and (max-width: $mobile-size) {position:relative; width:100%; height:0; padding-bottom:110%;}
}
.map{
    $this:&;
    &__wrap{position:relative;}
    &__info{position:relative; left:0; top:0;  z-index:10; width:416px; padding:39px 10px; background-color:$color-point; text-align: center; color:#fff;}
    &__box{position:absolute; top:50px; left:15%;}
    &__info-kor{margin:0; font-size:24px;}
    &__info-eng{margin:8px 0 0 0; color:#d39acb; font-size:13px;}
    &__info-tel{margin:15px 0 0 0; font-size:15px; }
    &__info-tel{
        span{position:relative; padding-right:25px; color:#d0fffa;
            &:after{position:absolute; top:0; bottom:0; right:9px; display:block; width:7px; height:7px; margin:auto 0; background:url('../images/introduce/location/border.png');content:'';}
        }
    }
    &__info-list{display:inline-block; margin:24px 0 0 0; padding:0; line-height:0;
        &:after{display:block; clear:both; content:'';}
    }
    &__ifno-item{float:left; list-style:none;}
    &__ifno-item + #{$this}__ifno-item{margin-left:10px;}
    &__info-link{overflow:hidden; display:inline-block; width:32px; height:32px; text-indent:-9999px; border:1px solid #fff; border-radius:50%;
        background-image:url('../images/introduce/location/map_icon.png'); box-sizing:content-box;
        &.type-2{background-position-y:-32px;}
        &.type-3{background-position-y:-64px;}
        &:hover{background-color:rgba(0,0,0,0.2);}
    }
    @media only screen and (max-width: $tablet-size) {
        &__box{position:absolute; top:42px; left:42px; z-index:10;}
    }
    @media only screen and (max-width: $mobile-size) {
		&__wrap{margin-top:22px;}
        &__box{position:static; top:auto; left:auto; right:auto; width:100%; padding:0;}
    	&__info{width:100%; padding:32px 12px; box-sizing:border-box;}
    	&__info-kor{font-size:1.6rem;}
    	&__info-eng{margin-top:4px;  font-size:1.2rem;}
    	&__info-tel{margin-top:14px; font-size:1.5rem; }
    	&__info-list{display:inline-block; margin-top:14px; line-height:1;}
    	&__info-link{overflow:hidden; display:inline-block; width:40px; height:40px; text-indent:-9999px; background-image:url('../images/introduce/location/map_icon-m.png');
            background-size:40px 80px;
            &.type-3{background-position-y:-40px;}
        }
    	&__info-tel{
            span{padding-right:19px;
                &:after{right:6px;}
            }
        }
    }
}

/*오시는길*/
.location{
    &__info{max-width:880px; margin:-50px auto 0; padding:0 28px 110px; box-sizing:border-box; font-size:0;
        &:after{display:block; clear:both; content:''; }
    }
    &__list{padding:0;}
    &__item{display:inline-block; position:relative; padding-left:100px; padding-right:50px; width:50%; box-sizing:border-box; vertical-align:top; font-size:14px; list-style:none;
        & + & + &{margin-top:60px;}
        &:before{position:absolute; left:0; top:0; bottom:0; margin:auto 0; width:48px; height:66px; background:url('../images/introduce/location/location_icon.jpg') no-repeat; content:'';}
    }
    &__item-img2:before{background-position-y:-66px;}
    &__item-img3:before{background-position-y:-132px;}
    &__item-img4:before{background-position-y:-198px;}
    &__dl{margin:0;}
    &__dt{float:left; margin-right:10px; font-weight:600;}
    &__dd{
        &.night{
            &:after{position:absolute; padding:1px 3px; margin:0px 0 auto 8px; font-size:1.2rem; font-weight:400; border:1px solid $color-orange; color:$color-orange; text-align:center; content:'夜间诊疗';}
        }
    }
    &__dt, &__dd{line-height:1.7;}
    &__tit{margin:0 0 14px 0; font-size:22px; font-weight:400; color:#333333;}
    &__txt{margin:0; line-height:1.7; word-break: keep-all;}
    &__notice{display:block; margin:2px 0 0 0; color:#999;}

    &__step{text-align:center;}
    &__step-tit{font-size:32px; font-weight:600;}
    @media only screen and (max-width: $tablet-size) {
        &__info{width:100%; margin-top:-40px; padding:0 0 40px 0;}
    	&__item{padding-left:65px;
            & + & + &{margin-top:50px;}
        }
    	&__item-img2:before,
    	&__item-img4:before{left:5px;}
    }
    @media only screen and (max-width: $mobile-size) {
        &__info{margin:0;}
        &__list{margin-right:0;}
        &__item{width:100%; padding-left:50px; padding-right:0;
            &:before{position:absolute; left:0; top:30px; bottom:0; width:31px; height:43px; background:url('../images/introduce/location/location_icon-m.jpg') no-repeat;
            background-size:31px 172px; content:'';}
            & + & + &{margin-top:45px;}
        	& + & {margin-top:45px;}
        }
    	&__item-img2:before{background-position-y:-43px;}
    	&__item-img3:before{background-position-y:-86px;}
    	&__item-img4:before{background-position-y:-129px;}
    	&__dt, &__dd, &__txt{font-size:1.4rem;}
    	&__dd{
            &.night:after{position:absolute; margin:2px 0 auto 5px; font-size:1rem;}
        }
    	&__notice{font-size:1.1rem;}
    	&__tit{margin-bottom:10px; font-size:1.5rem; color:#333333;}

        &__step-tit{font-size:2.3rem;}
    }
}

.subway{position:relative; padding-left:22px;
    &:before{position:absolute; top:0; bottom:0; left:0; width:18px; height:18px; margin:auto 0; line-height:18px; color:#fff; font-weight:600; font-size:1.1rem; text-align: center; content:'';}
    &.type-2{
        &:before{background-color:#36b02c; content:'2';}
    }
    &.type-9{
        &:before{background-color:#bb9c1d; content:'9';}
    }
    @media only screen and (max-width: $tablet-size) {
        &::before{top:5px; bottom:auto;}
    }
    @media only screen and (max-width: $mobile-size) {position:relative; padding-left:18px;
	    &:before{width:14px; height:14px; margin:auto 0;  line-height:14px; color:#fff; font-weight:600; text-align: center; content:'';}
    }
}


/*step*/
.step{
    $this:&;

    &__list{display:inline-block; margin: 20p 0 50px;padding: 0;box-sizing: border-box;list-style: none;border-top:1px solid #eeeeee;
        &:after{display:block; clear:both; content:'';}
    }
    &__item{float:left; position:relative; padding:13px 5px 0 5px; box-sizing: border-box;
        &:before{position:absolute; top:0; left:0; right:0; width:0%; height:3px; margin:auto; background-color:$color-point; content:''; -webkit-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out;}
        &:hover{
            &:before{width:100%;}
            #{$this}__link{color:$color-point;}
        }
        &.is-active{
            &:before{width:100%;}
            #{$this}__link{color:$color-point;}
        }
        & + &{margin-left:24px;}
    }
    &__link{font-size:15px; color:#999999;text-decoration: none;}
    &__slide-item{
        &:after{display:block; clear:both; content:'';}
    }
    &__box{position:relative; height:430px; margin-bottom:30px; background:url('../images/introduce/location/step_bg.jpg') repeat-x;box-sizing: border-box;
        &:before{position:absolute; top:0; left:-1200px; height:inherit; background:inherit; width:100%; content:'';}
        &:after{position:absolute; top:0; right:-1200px; height:inherit; background:inherit; width:100%; content:'';}
        .slick-list, .slick-track{height:100%;}
    }
    &__menu{position:absolute; top:50px; right:0;  height:30px; line-height:30px; padding:0 20px; background-color:$color-point; color:#fff; font-size:14px; text-align:center;}
    &__btn{display:inline-block; width:120px; height:44px; margin-top:16px; line-height:44px; background-color:#15161a; color:#fff; font-size:16px; text-align:center; border-radius:30px 30px 30px 30px; text-decoration:none;
		&.type-katalk{background-color:#ffe800; color:#391f1f;}
		&.type-cost{background-color:#2d3f5e; color:#ffffff;}
	}
    &__txt{margin-top:16px; font-size:14px;
        &.type-special{font-size:12px;}
    }
    &__txt2{margin-top:16px; color:#888; line-height:1.8; font-size:14px;
        &.type-special{ font-size:12px;}
    }
    &__slide-list{width:1080px; height:inherit; margin:0px auto; box-sizing:border-box; padding:0 16px; box-sizing:border-box; }
    &__slide-box{float:left; width:50%;
        &.type-another{position:relative; height:100%; padding-left:60px; box-sizing:border-box; text-align: left;}
    }
    &__slide-img{}
    &__slide-wrap{position:absolute; bottom:50px; width:450px; border-left:1px solid #dddddd; padding-left:60px; box-sizing: border-box;}
    &__slide-num{font-size:60px; color:#ccc; line-height:1; font-weight:200;}
    &__slide-tit{margin: 18px 0 0 0; font-size:22px; line-height:1; font-weight:500;}
    &__slide-tel{margin: 15px 0 0 0;color:$color-point; font-size:30px; line-height:1.5;}
    &__slide-dl{margin:14px 0 0 0; font-size:14px;
        & + &{margin-top:7px;}
        &:after{display:block; clear:both; content:'';}
    }
    &__slide-dt{float:left; margin-right:14px; color:#888888; font-weight:300;}
    &__slide-dd{}

    &__nowpage{color:$color-point; font-weight:600;}

    @media only screen and (max-width: $minpc-size2) {
        &__slide-list{width:100%;}
        &__slide-dt,
        &__slide-dd{font-size:16px;}
        &__box{
            &:before{left:-200px; z-index:-1;}
            &:after{right:-200px; z-index:-1;}
        }
    }

    @media only screen and (max-width: $minpc-size3) {
        &__menu{position:static; margin-top:-40px; float:right;
            &:after{display:block; clear:both; content:'';}
        }
        &__box{position:relative; height:auto; margin:0 -15px 30px; padding-top:50px; background:none; background-color:#f8f8f8; background-clip: content-box;
            &:before,
            &:after{display:none;}
        }
        &__list{margin-bottom:46px;}
        &__slide-list{margin-top:-50px; width:100%;}
        &__slide-box{float:none; width:100%; text-align:center;
            &.type-another{width:524px; padding-top:40px; padding-left:0; margin:0 auto 60px;}
        }
        &__slide-img{display:inline-block !important;}
        &__slide-wrap{position:static; bottom:auto;}
    }

    @media only screen and (max-width: $mobile-size){
        &__menu{ top:auto; height:24px; margin-top:-40px; line-height:24px; padding:0 16px;  font-size:1.2rem;}
        &__box{padding-top:70px; margin-left:-12px; margin-right:-12px;}
        &__list{margin-bottom:30px;border: 0;}
        // &__item{padding:10px 3px 0 3px;
        //     & + &{margin-left:16px;}
        // }
        &__item{padding:10px 3px;width: 50%;border-top: 1px solid #eeeeee;
            & + &{margin-left:0;}
        }
        &__link{font-size:1.1rem;}
        &__slide-img{width:100%;}
        &__slide-list{margin-top:-70px;}
        &__slide-box{
            &.type-another{width:100%;padding-top:40px; margin-bottom:46px;}
        }
        &__slide-wrap{width:100%;padding-left:40px;}
        &__slide-num{font-size:5.2rem;}
        &__slide-tel{margin-top:7px; font-size:2.3rem; font-weight:400; line-height:1.5;}
        &__slide-tit{margin-top:13px; font-size:1.7rem;}
        &__slide-dl{margin-top:13px; font-size:1.3rem;
            & + &{margin-top:3px;}
        }
        &__slide-dt{font-size:1.4rem;}
        &__slide-dd{font-size:1.4rem;}
        &__txt{margin-top:15px; font-size:1.3rem; word-break: break-all;}
        &__txt2{margin-top:4px; font-size:1.3rem; word-break: break-all;}
        &__btn{width:140px; height:40px; line-height:40px; font-size:1.3rem;}
    }
}

.clinic{
    $this:&;
    &__area{height:610px;
        &.type-skin{height:510px;
            #{$this}__box{background:url('../images/introduce/location/location_bg2.jpg') no-repeat center center / cover;}
            #{$this}__wrap{color:$black1;}
            #{$this}__tit:before{background:url('../images/introduce/location/location_icon2.png') no-repeat center center / contain;}
            #{$this}__item{
                & + #{$this}__item{border-color:rgb(214,214,214);}
            }
        }
    }
    &__box{position:absolute; left:0; right:0; height:inherit; background:url('../images/introduce/location/location_bg1.jpg') no-repeat center center / cover; box-sizing:border-box; content:'';}
    &__wrap{position:relative; width:1296px; height:inherit; margin:0px auto; padding:0 8px; box-sizing:border-box; color:#fff;}
    &__vertical{display:table-cell; width:1%; height:inherit; vertical-align:middle;}
    &__header{position:absolute; top:0; bottom:0; width:400px; height:inherit; margin:auto 0; text-align:center;}
    &__body{height:inherit; padding-left:400px; box-sizing:border-box;}
    &__list{margin:0; padding:0;}
    &__item{list-style:none; padding:26px 0; box-sizing:border-box;
        & + &{border-top:1px solid rgba(214,214,214,0.4);}
    }
    &__tit{margin:0; font-size:30px; font-weight:$light;
        &:before{display:block; width:130px; height:130px; margin:0 auto 24px; content:''; background:url('../images/introduce/location/location_icon1.png') no-repeat center center / contain;}
    }
    &__subject{float:left; margin:3px 0 0 0; font-size:18px; font-weight:$regular; }
    &__txt{margin:0; padding-left:144px; font-size:22px; font-weight:$regular; box-sizing:border-box; line-height:1.4;}
    &__noti{display:block; margin-top:7px; font-size:17px; font-weight:$regular; color:rgba(255,255,255,0.6);}
    @media only screen and (max-width: $tablet-size) {
        &__wrap{width:100%; padding:0;}
        &__area{height:auto;
            &.type-skin{height:auto;}
        }
        &__box{position:static; left:auto; right:auto; height:auto; margin:0 -42px; padding:80px 42px 50px; box-sizing:border-box;}
        &__header{position:static; width:100%; top:auto; bottom:auto; width:100%; height:auto;}
        &__body{padding:0;}
        &__list{margin-top:36px;}
    }
    @media only screen and (max-width: $mobile-size) {
        &__box{margin:0 -12px; padding:40px 12px 24px;}
        &__tit{font-size:1.6rem;
            &:before{width:65px; height:65px; margin-bottom:12px;}
        }
        &__list{margin-top:18px;}
        &__item{padding:14px 0;}
        &__subject{font-size:1.2rem;}
        &__txt{padding-left:70px; font-size:1.4rem;}
        &__noti{margin-top:3px; font-size:1.2rem;}
    }
}

.popup-sms{display:none; position:fixed; top:0; left:0; bottom:0; right:0; margin:auto;  width:515px; height:210px; background-color:#fff; border-bottom:5px solid $color-point;
    text-align:center; z-index:50; transition:all 0.5s; box-sizing:border-box;
    &__tit{margin:0;font-size:24px;
        strong{font-weight:$medium; color:$color-point;}
    }
    &__input{width:415px; height:46px; padding-left:64px; box-sizing:border-box; border-radius:23px 23px 23px 23px; border:1px solid #f0f0f0; font-size:15px; background:url('../images/introduce/location/sms.png') no-repeat 30px center; outline:0;}
    &__wrap{position:relative;}
    &__vertical{display:table-cell; width:1%; height:210px; vertical-align:middle;}
    &__box{position:relative; display:inline-block; margin-top:20px;}
    &__button{position:absolute; top:0; bottom:0; right:10px; width:94px; height:30px; margin:auto 0; line-height:30px; border-radius: 15px; background-color:#333333; color:#fff; border:none; transition:all 0.5s; cursor:pointer;}
    &__button:hover{background-color:#f7544b;}
    &__close{overflow:hidden; position:absolute; top:-42px; right:0; display:block; width:32px; height:32px; background:url('../images/introduce/location/sms_close.png'); background-size:32px 32px; text-indent:-9999px;}
    @media only screen and (max-width: $mobile-size) {width:295px; height:170px; border-width:3px;
    	&__tit{font-size:1.6rem;}
    	&__box{margin-top:15px;}
    	&__input{width:274px; height:40px; padding-left:48px; border-radius:20px; font-size:1.2rem;  background:url('../images/introduce/location/sms_m.png') no-repeat 24px center; background-size:15px 11px; }
    	&__button{width:76px; height:26px; border-radius:13px; line-height:26px; font-size:1.3rem;}
    	&__vertical{height:170px;}
    	&__close{top:-28px; width:21px; height:21px; background-size:21px 21px;}
    }
}
.procedure{text-align:center;
    $this:&;
    &__tit{position:relative; display:inline-block; margin:70px 0 0 0; font-size:32px; font-weight:$regular;
        &:after{display:block; width:40px; margin:24px auto 0; height:0; border-top:1px solid #a0a0a0; content:'';}
    }
    &__subtit{margin:54px 0 0 0; font-size:22px; font-weight:$regular;}
    &__list{margin:34px 0 0 -40px;; padding:0; font-size:0;
        & + #{$this}__subtit{margin-top:94px;}
    }
    &__item{display:inline-block; width:50%; padding-left:40px; box-sizing:border-box; list-style:none; vertical-align:top;
        & + & + &{margin-top:50px;}
    }
    &__border{border:1px solid #d3d3d3; box-sizing:border-box;}
    &__dl{display:table-cell; width:1%; height:128px; margin:0; vertical-align:middle;}
    &__dt,&__dd{position:relative; display:inline; font-size:28px; color:$black1;}
    &__dt{padding-left:90px; box-sizing:border-box;
        &:before{position:absolute; top:0; left:0; bottom:0; display:block; width:68px; height:68px; margin:auto 0;   content:'';}
        &.type-phone{
            &:before{background:url('../images/introduce/location/phone_icon.png') no-repeat center center / contain;}
        }
        &.type-katalk{
            &:before{background:url('../images/introduce/location/katalk_icon.png') no-repeat center center / contain;}
        }
    }
    &__dd{margin-left:28px; padding-left:28px; font-weight:$regular; box-sizing:border-box;
        &:before{position:absolute; top:0; left:0; bottom:0; display:inline-block; width:0; height:26px; margin:auto 0; border-left:1px solid #c1c1c1; content:''; vertical-align:middle;}
    }
    &__box{height:140px; border-top:1px solid #d3d3d3;}
    &__img{position:relative; width:100%; height:0; padding-bottom:57.03%;}
    &__link{color:inherit; text-decoration:none;}
    &__subject{margin:0; font-size:22px; color:$black1; font-weight:$regular;}
    &__txt{margin:14px 0 0 0; font-size:18px; color:$black3; font-weight:$regular;}
    @media only screen and (max-width: $tablet-size) {padding:0 70px; box-sizing:border-box;
        &__list{margin-left:0;
            & + #{$this}__subtit{margin-top:74px;}
        }
        &__item{width:100%; padding-left:0;
            & + &{margin-top:40px;}
            & + & + &{margin-top:40px;}
        }
        &__box{height:auto; padding:36px 5px; box-sizing:border-box;}
    }
    @media only screen and (max-width: $mobile-size) {padding:0 12px;
        &__tit{margin-top:36px; font-size:1.9rem;
            &:after{width:20px; margin-top:13px;}
        }
        &__subtit{margin-top:26px; font-size:1.5rem;}
        &__list{margin-top:18px;
            & + #{$this}__subtit{margin-top:30px;}
        }
        &__item{
            & + &{margin-top:24px;}
            & + & + &{margin-top:24px;}
        }
        &__dl{height:64px;}
        &__dt,&__dd{font-size:1.5rem;}
        &__dt{padding-left:44px;
            &:before{width:34px; height:34px;}
        }
        &__dd{margin-left:14px; padding-left:14px;
            &:before{height:13px;}
        }
        &__box{padding:18px 5px;}
        &__subject{font-size:1.4rem;}
        &__txt{margin-top:5px; font-size:1.2rem;}
    }
}
.bus-color1{color:#0066b3;}
.bus-color2{color:#50a25b;}
.bus-color3{color:#659ec9;}
.bus-color4{color:#c22b30;}
.bus-color5{color:$color-point;}
