.new-visual{
	$this:&;
	&.type-slimface{
		&:before{
			@include background('../images/contour/slimface/slimface_visual_1.jpg','no-repeat center center/cover');
		}
		#{$this}__item{background: $contour1;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-slimface{
			&:before{
				@include background('../images/contour/slimface/slimface_visual_1_t.jpg','no-repeat center center/cover');
			}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-slimface{
			&:before{
				@include background('../images/contour/slimface/slimface_visual_1_m.jpg','no-repeat center center/cover');
			}
		}
	}
}

.new-style1{
	$this:&;
	&.type-slimface{background:url('../images/contour/slimface/slimface_bg_1.jpg') no-repeat center bottom / cover;}
	&.type-slimface2{background-color:#d1dffb;}
	&.type-slimface3{background-color:#101e3a;
		#{$this}__tit{color:#fff;}
		#{$this}__txt{color:#aaa;}
		#{$this}__txt2{color:#fff;}
	}
	&.type-slimface4{background-color:#e6eeff;}
	&.type-slimface5{background-color:#e5e9f2;}
	@media only screen and (max-width: $mobile-size) {
		&.type-slimface{
			#{$this}__img{padding:0 12px; box-sizing:border-box;}
		}
		&.type-slimface2{margin-top:-1px;}
	}
}
