.new-visual{
	$this:&;

	&.type-case{
		&:before{
			@include background('../images/contour/case/case_visual_1.jpg','no-repeat center center / cover');
		}
		#{$this}__item{background: $contour1;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-case{
			&:before{@include background('../images/contour/case/case_visual_1_t.jpg','no-repeat center center / cover');}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-case{
			&:before{
				@include background('../images/contour/case/case_visual_1_m.jpg','no-repeat center center / cover');
			}
		}
	}
}

.new-style1{
	$this: &;

	&.type-case{background :url('../images/contour/case/case_bg_1.jpg') no-repeat center bottom/contain;}
    &.type-case2{background-color: #e3ecff;}
    &.type-case3{background-color: #101e3a;
        #{$this}__tit{color: #fff;}
        #{$this}__txt{color: #aaa;}
    }
    &.type-case4{background-color: #e6eeff;}
}

.section-noti{
	$this: &;

	&.type-case{margin-top: 110px;background-color: $contour1;}

	@media only screen and (max-width: $mobile-size){
		&.type-case{margin-top: 55px;}
	}
}

.new-section{
	$this: &;

	&__wrap{
		&.type-case{background-color: #101e3a;
			.compare4__tit{color: #fff;}
			.compare4__txt{color: #aaa;}
		}
	}
}
