.new-visual{
	$this: &;
	&.type-protrusion{
		&:before{
			@include background('../images/contour/protrusion/protrusion_visual_1.jpg','no-repeat center center / cover');
		}
		#{$this}__item{background: $contour1;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-protrusion{
			&:before{
				@include background('../images/contour/protrusion/protrusion_visual_1_t.jpg','no-repeat center center / cover');
			}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-protrusion{
			&:before{
				@include background('../images/contour/protrusion/protrusion_visual_1_m.jpg','no-repeat center center / cover');
			}
		}
	}
}

.new-style1{
	$this: &;

	&.type-protrusion{background :url('../images/contour/protrusion/protrusion_bg_1.jpg') no-repeat center bottom/contain;}
	&.type-protrusion2{background-color: #eee;}
	&.type-protrusion3{background-color: #031843;
		#{$this}__tit{color: #fff;}
		#{$this}__txt{color: #fff;}
		#{$this}__txt2{color: #aaa;}
	}
	&.type-protrusion4{background: #eee url('../images/contour/protrusion/protrusion_bg_2.jpg') no-repeat center bottom/contain;}
}

.new-section{
	$this: &;

	&__wrap{
		&.type-protrusion{background-color: #1a2b4d;}
	}
}
