.new-visual{
	$this:&;
	&.type-brow{
		&:before{@include background('../images/contour/brow/brow_visual_1.jpg','no-repeat center center / cover');}
		#{$this}__item{background: $contour1;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-brow{
			&:before{@include background('../images/contour/brow/brow_visual_1_t.jpg','no-repeat center center / cover');}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-brow{
			&:before{@include background('../images/contour/brow/brow_visual_1_m.jpg','no-repeat center center / cover');}
		}
	}
}

.new-style1{
	$this:&;
	&.type-brow{background:#e6eeff;}
	&.type-brow2{background:#101e3a;
		#{$this}__tit{color:#fff;}
		#{$this}__txt{color:#aaa;}
	}
	&.type-brow3{background:#7696d6;
		#{$this}__tit, #{$this}__txt, #{$this}__txt2{color:#fff;}
	}
}
.inner-box{
	&.type-brow{background:#e6eeff;}
}
