/* 앞턱수술(front) */
.color-contour18{color: #4985ff;}
.color-contour19{color: #9fbcff;}
.color-contour20{color: #b6cbfc;}
.color-contour21{color: #b0ebff;}
.color-contour22{color: #0a3094;}

.content-visual{
	$this: &;
	&.type-front{background:url('../images/contour/front/front_bg_01.jpg') #F3F2F2 center bottom;}

	@media only screen and (max-width:$tablet-size){
		&.type-front{background:url('../images/contour/front/front_bg_01_t.jpg') #F3F2F2 center bottom/ cover;}
	}
	@media only screen and (max-width:$mobile-size){
		&.type-front{background:url('../images/contour/front/front_bg_01_m.jpg') #F3F2F2 center bottom / cover;
			#{$this}__txt2{letter-spacing: 5px;}
		}
	}
}
.content-section{
	@media only screen and (max-width:$tablet-size){
		&.type-margin0{margin-top: 0;}
	}
}
.content-tab{
	&.type-front{margin-top: 240px;}

	@media only screen and (max-width:$tablet-size){
		&.type-front{margin-top: 100px;}
	}
	@media only screen and (max-width:$mobile-size){
		&.type-front{margin-top: 50px;}
	}
}
.contour-front-bg{background-color: #edeef2; padding: 70px 108px 100px;
	@media only screen and (max-width:$tablet-size){margin:0 -65px; padding:100px 65px;}
	@media only screen and (max-width:$mobile-size){margin:0 -20px; padding:35px 20px 65px;}
}

.front-box1{position: relative;padding: 0 0 118px;box-sizing: border-box;text-align: left;
	&:before{content: '';position: absolute;top: 0;right: 0;width: 50%;height: 100%;background: url(../images/contour/front/front_bg_02.jpg) 0 0/contain no-repeat;}

	&__box{width: 50%;padding: 0 16px 0 30px;box-sizing: border-box;}
	&__img{display: none;}
	.content-section__tit{margin-left:-30px;}

	@media only screen and (max-width:$tablet-size){
		margin: 0 -65px;padding: 0;

		&:before{display:none;}
		&__box{width: 100%;padding: 0 65px;}
		&__img{display: block;width: 100%;height: 0;margin-top: 54px;padding-bottom: 122%;background:url('../images/contour/front/front_bg_02_t.jpg') center center no-repeat/cover;}
	}
	@media only screen and (max-width:$mobile-size){
		margin: 0 -20px;
		&__box{padding: 0 35px;}
		&__img{display: block;width: 100%;height: 0;margin-top: 54px;padding-bottom: 143%;background:url('../images/contour/front/front_bg_02_m.jpg') center center no-repeat/cover;
		}
		.content-section__tit{margin-left:-15px;}
	}
}
.front-box2{position: relative;padding-bottom: 28px;background: url(../images/contour/front/front_bg_03.jpg) no-repeat center center/cover;

	.content-section__tit{margin-top: 108px;color: #ffffff;}
	.content-section__number-wrap{color: #ffffff;}
	.content-section__txt1{color: #ffffff;}
	.content-section__txt2{color: #ffffff;}

	&__model{position: relative;width: 100%;height: 0;margin-top: 26px;padding-bottom: 75.79%;background: url(../images/contour/front/front_img_01.png) no-repeat center bottom/contain;text-indent: -9999px;overflow: hidden;}
	&__area{position: absolute;left: 0;bottom: 29px;width: 100%;}
	&__img{display: none;}
	&__wrap{padding:0 230px;}
	@media only screen and (max-width:$tablet-size){
		margin: 0 -65px;padding-bottom: 0;
		&__wrap{padding:0;}
		&__box{padding: 0 28px;}
		&__model{margin-top: 58px;padding-bottom: 107.79%;background: url(../images/contour/front/front_img_01_t.png) no-repeat center bottom/contain;}
		&__area{position: relative;bottom: 0;margin-top: -174px;}
	}

	@media only screen and (max-width:$mobile-size){
		background: url(../images/contour/front/front_bg_03_m.jpg) no-repeat center center/cover;
		margin: 0 -20px;padding-bottom: 86px;
		.content-section__tit{margin-top: 50px;}
		&__model{margin-top: 30px;padding-bottom: 107.79%;background: url(../images/contour/front/front_img_01_m.png) no-repeat center bottom/contain;}
		&__area{margin-top: 0;}
	}

}
.front-box3{padding: 0 76px 0 30px;text-align: left;
	@media only screen and (max-width:$tablet-size){
		padding: 0;
	}
	@media only screen and (max-width:$mobile-size){
		.content-section__tit{padding-top:0 !important;}
	}
}
.front-box4{margin-top: 130px;text-align: left;
	@media only screen and (max-width: $tablet-size){
		margin-top: 100px;
	}
	@media only screen and (max-width: $mobile-size){
		margin-top: 32px;

		.content-section__tit{padding-top:0 !important;}
	}
}
.front-box5{margin-top: 150px;padding: 138px 120px 0;background: url(../images/contour/front/front_bg_07.jpg) center center/cover no-repeat;text-align: center;

	.content-section__tit{color: #ffffff;}
	.content-section__txt1{color: #ffffff;}
	.content-section__txt2{color: #ffffff;}

	&__doctor{position: relative;width: 100%;height: 0;margin-top: 48px;padding-bottom: 43.79%;background: url('../images/contour/front/front_doctor_01.png') no-repeat center bottom / contain;}
	&__doctor-img{display: none;}
	&__name{position: absolute;bottom: 30px;font-size: 17px;color: #ffffff;

		& strong{display: block;font-weight: 500;}
		&.nth-1{left: 12.3%;text-align: right;}
		&.nth-2{right: 15.3%;text-align: left;}
	}
	&__area{}

	@media only screen and (max-width:$tablet-size){
		margin: 100px -65px 0;padding: 138px 38px 0;

		&__name{
			&.nth-1{left: 37px;}
			&.nth-2{right: 51px;}
		}
	}

	@media only screen and (max-width: $mobile-size){
		margin: 50px -20px 0;padding: 80px 20px 0;
		.content-section__tit{padding-top:0 !important;}

		&__doctor{width: auto;margin: 0 -20px;padding-bottom: 30px;background-image: none;}
		&__doctor-img{display: block;margin: 20px -20px 0;
			img{width: 100%;}
		}
		&__name{bottom: 10px;font-size: 1rem;}
	}
}
.front-box6{padding: 30px 130px 40px;background-color: #0a1c40;text-align: center;
	$this:&;

	&__list{margin-left: -24px;
		&:after{content: '';display: block;clear: both;}
	}
	&__item{position: relative;float: left;width: 33.333%;padding-left: 24px;
		&.nth-1{
			#{$this}__img{background:url('../images/contour/front/front_img_03.jpg') no-repeat center center / cover;}
		}
		&.nth-2{
			#{$this}__img{background:url('../images/contour/front/front_img_04.jpg') no-repeat center center / cover;}
		}
		&.nth-3{
			#{$this}__img{background:url('../images/contour/front/front_img_05.jpg') no-repeat center center / cover;}
		}
	}
	&__wrap{position: relative;}
	&__img{width: 100%;height: 0;padding-bottom: 69.94%;}
	// &__caption{position: absolute;left:0;bottom: 0;height: 40px;background:rgba(10,28,64,0.8);font-size: 16px;font-weight:400;color:#fff;}
	&__caption{position: absolute;left:0;bottom: 0;padding: 10px 0;background:rgba(10,28,64,0.8);font-size: 16px;font-weight:400;color:#fff;}
	&__vertical{display:table-cell; width:1%; height:inherit; vertical-align:middle;}

	@media only screen and (max-width:$tablet-size){
		margin: 0 -65px;padding: 26px 14px 24px;

		&__item{
			&.nth-1{
				#{$this}__img{background:url('../images/contour/front/front_img_03_t.jpg') no-repeat center center / cover;}
			}
			&.nth-2{
				#{$this}__img{background:url('../images/contour/front/front_img_04_t.jpg') no-repeat center center / cover;}
			}
			&.nth-3{
				#{$this}__img{background:url('../images/contour/front/front_img_05_t.jpg') no-repeat center center / cover;}
			}
		}
		&__img{padding-bottom: 87.94%;}
		&__caption{padding: 0;height: 50px;font-size: 14px;}
	}
	@media only screen and (max-width: $mobile-size){
		margin: 0 -20px;padding: 20px;

		&__list{margin-left: 0;}
		&__item{float: none;width: 100%;padding-left: 0;
			&.nth-1{
				#{$this}__img{background:url('../images/contour/front/front_img_03_m.jpg') no-repeat center center / cover;}
			}
			&.nth-2{
				#{$this}__img{background:url('../images/contour/front/front_img_04_m.jpg') no-repeat center center / cover;}
			}
			&.nth-3{
				#{$this}__img{background:url('../images/contour/front/front_img_05_m.jpg') no-repeat center center / cover;}
			}

			& + &{padding-top: 19px;}
		}
		&__img{padding-bottom: 56.94%;}
		&__caption{height: 34px;font-size: 1.3rem;}
	}
}
.front-box__wrap{margin-top: 166px;padding: 70px 108px 100px;background-color: #edeef2;
	@media only screen and (max-width:$tablet-size){
		margin: 100px -65px 0;padding: 0 65px 94px;
	}
	@media only screen and (max-width: $mobile-size){
		margin: 50px -20px 0;padding: 0 20px 49px;
	}
}
.front-box7{padding-bottom: 90px;background: url(../images/contour/front/front_bg_08.jpg) right bottom/contain no-repeat;

	&:after{display:block; clear:both; content:'';}
	&__img{display:none;}

	.content-section__box{padding-left: 0;}
	.content-section__tit{margin-top: 118px;}
	.content-section__txt1{padding-right: 30px;}

	@media only screen and (max-width:$minpc-size3){
		background:url(../images/contour/front/front_bg_08.jpg) right bottom / contain no-repeat; background-size:50%;
	}
	@media only screen and (max-width:$tablet-size){
		padding-bottom:0; background:none;

		.content-section__box{float:none;}
		&__img{overflow:hidden; display:block; width:100%; height:0; margin-top:40px; padding-bottom:88.08%; background:url('../images/contour/front/front_bg_08_t.jpg') #f8f8f8 no-repeat center bottom / cover; text-indent:-999px;}
	}
	@media only screen and (max-width:$mobile-size){
		&__img{margin-top:30px;}
		.content-section__tit{margin-top: 0;margin-left: -2px;}
		.content-section__txt1{padding-right: 0px;}
	}
}
.front-box8{
	&__list{
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; width:50%;
		& img{width:100%;}
	}
	&__txt1{margin-top:46px; font-size:17px;line-height: 2.1; text-align:center;}
	&__txt2{margin-top:46px; font-size:22px; text-align:center; font-style: italic; font-weight:400; line-height: 1.5;}

	@media only screen and (max-width:$mobile-size){
		&__txt1{margin-top:26px; font-size:1.4rem;}
		&__txt2{margin-top:26px; font-size:1.6rem;}
		&__list{padding: 0;}
	}
}
.front-box9{padding: 0 75px 0 30px;text-align: left;
	&__box{text-align: center;}

	@media only screen and (max-width:$tablet-size){
		padding: 0;
	}
	@media only screen and (max-width:$mobile-size){
		.content-section__tit{padding-top:0 !important;}
	}
}
.front-box10{margin-top: 120px;text-align: left; padding-right:10%;

	@media only screen and (max-width:$tablet-size){ padding-right:0;
		margin-top: 95px;
	}
	@media only screen and (max-width:$mobile-size){
		margin-top: 42px;
		.content-section__tit{padding-top:0 !important;}
	}
}

.front-box11{margin-top: 72px;padding: 0 13.5% 0 0;text-align: center;
	$this: &;

	&__list{margin: 0 0 0 -140px;padding: 0;list-style: none;
		&:after{content: '';display: block;clear: both;}
	}
	&__item{position: relative;float: left;width: 33.333%;padding-left: 140px;box-sizing: border-box;
		&.nth-1{
			#{$this}__step{
				&:before{background: url(../images/contour/front/front_step_num_01.png) center center no-repeat;}
			}
			#{$this}__img{
				background: url(../images/contour/front/front_step_01.png) center center/cover no-repeat;
			}
		}
		&.nth-2{
			#{$this}__step{
				&:before{background: url(../images/contour/front/front_step_num_02.png) center center no-repeat;}
			}
			#{$this}__img{
				background: url(../images/contour/front/front_step_02.png) center center/cover no-repeat;
			}
		}
		&.nth-3{
			#{$this}__step{
				&:before{background: url(../images/contour/front/front_step_num_03.png) center center no-repeat;}
			}
			#{$this}__img{
				background: url(../images/contour/front/front_step_03.png) center center/cover no-repeat;
				&:after{display: none;}
			}
		}
	}
	&__num{position: absolute;top: -30px;left: 148px;}
	&__step{font-size: 20px;font-style: italic;color: #485879;vertical-align: top;
		&:before{content: '';display: inline-block;width: 62px;height: 88px;}
	}
	&__img{position: relative;width: 100%;height: 0;padding-bottom: 100%;
		&:after{content: '';display: block;position: absolute;background: url(../images/contour/front/front_dot_01.png);width: 82px;height: 3px;top: 50%;right: -110px;}
	}
	&__desc{}
	&__tit{margin: 18px 0 0 0;font-size: 22px;text-align: center; font-weight:500;}
	&__txt{margin: 6px 48px 0;font-size: 15px;word-break: break-all;}

	@media only screen and (max-width:$tablet-size){
		padding: 0 10px;

		&__list{margin-left: -62px;}
		&__item{padding-left: 62px;
			&.nth-1{
				#{$this}__step{
					&:before{background-size: 100%;}
				}
			}
			&.nth-2{
				#{$this}__step{
					&:before{background-size: 100%;}
				}
			}
			&.nth-3{
				#{$this}__step{
					&:before{background-size: 100%;}
				}
			}
		}
		&__num{left: 66px;}
		&__step{font-size: 14px;
			&:before{width: 45px;height: 63px;}
		}
		&__img{
			&:after{background: url(../images/contour/front/front_dot_01_t.png);width: 35px;height: 3px;right: -48px;}
		}
		&__tit{font-size: 17px;}
		&__txt{margin: 6px 0 0;font-size: 14px;}
	}
	@media only screen and (max-width: $mobile-size){
		margin-top: 80px;
		&__list{margin-left: 0;padding: 0 36px;}
		&__item{float: none;width: 100%;padding-left: 0;
			&.nth-1{
				#{$this}__step{
					&:before{background: url(../images/contour/front/front_step_num_01_m.png) center center no-repeat;background-size: 100%;}
				}
				#{$this}__img{
					background: url(../images/contour/front/front_step_01_m.png) center center/cover no-repeat;
				}
			}
			&.nth-2{
				#{$this}__step{
					&:before{background: url(../images/contour/front/front_step_num_02_m.png) center center no-repeat;background-size: 100%;}
				}
				#{$this}__img{
					background: url(../images/contour/front/front_step_02_m.png) center center/cover no-repeat;
					&:after{bottom: -193px;}
				}
			}
			&.nth-3{
				#{$this}__step{
					&:before{background: url(../images/contour/front/front_step_num_03_m.png) center center no-repeat;background-size: 100%;}
				}
				#{$this}__img{
					background: url(../images/contour/front/front_step_03_m.png) center center/cover no-repeat;
					&:after{display: none;}
				}
			}

			& + &{margin-top: 152px;}
		}
		&__step{font-size: 1.8rem;
			&:before{width: 58px;height: 82px;}
		}
		&__num{top: -41px;/*left: 15px;*/left: 6.3%;}
		&__tit{font-size: 2rem;}
		&__txt{margin: 12px 0 0;font-size: 1.6rem;}
		&__img{
			&:after{background: url(../images/contour/front/front_dot_01_m.png);width: 4px;height: 51px;top: auto;bottom: -168px;right: 50%;background-size: 100%;}
		}
	}

}
.front-box12{position: relative;margin-top: 148px;background-color: #e4e0be;text-align: center;
	&__wrap{padding-bottom: 95px;background: url(../images/contour/front/front_bg_09.jpg) right bottom no-repeat;}
	&__box{width: 51%;padding: 145px 0 0 94px;box-sizing: border-box;}
	&__tit{position: relative;padding: 58px 0 40px;text-align: left;
		&:before{content: '';display: inline-block;position: absolute;top: 0px;left: 0px;width: 48px;height: 32px;background: url(../images/contour/front/front_quotation_left.png) no-repeat center center;}
		&:after{content: '';display: inline-block;position: absolute;right: 0px;bottom: 0px;width: 48px;height: 32px;background: url(../images/contour/front/front_quotation_right.png) no-repeat center center;}
	}

	&__list-wrap{margin-top: 258px;font-size: 0;}
	&__list{display: inline-block;margin: 10px 0 0 0;padding: 0;font-size: 0;list-style: none;
		&:after{content: '';display: block;clear: both;}
	}
	&__item{display: inline-block;width: 172px;height: 172px;margin: 0 11px;padding: 0 1%;background: url(../images/contour/front/front_bg_10.png) 0 0 no-repeat;box-sizing: border-box;}
	&__txt{display: table-cell; width:1%; height:inherit;margin: 0;font-size: 20px;vertical-align: middle;text-align: center;}

	strong{font-weight: 600;}

	@media only screen and (max-width:$tablet-size){
		margin: 94px -65px 0;

		&__wrap{padding-bottom: 0;background: none;}
		&__box{width: 92%;padding: 100px 0 0 50px;}
		&__box2{padding-top: 88%;padding-bottom: 64px;background: url(../images/contour/front/front_bg_09_t.jpg) 0 0/cover no-repeat;}
		&__list-wrap{margin-top: 0px;padding: 0 64px;
			&:after{content: '';display: block;clear: both;}
		}
		&__list{float: left;}
		&__item{
			&.nth-4,
			&.nth-5,
			&.nth-6{margin-top: 20px;}
		}
	}

	@media only screen and (max-width: $mobile-size){
		margin: 48px -20px 0;
		.content-section__tit{padding-top: 15px;padding-bottom: 15px;}

		&__wrap{}
		&__box{width: 100%;padding: 60px 20px 0;text-align: left;}
		&__tit{
			padding: 15px 0 10px;display: inline-block;
			&:before{width: 24px;height: 16px;background-size: 24px 16px;}
			&:after{width: 24px;height: 16px;background-size: 24px 16px;}
		}
		&__box2{padding-top: 21.8%;padding-bottom: 27px;background: url(../images/contour/front/front_bg_09_m.jpg) 0 0/cover no-repeat;}
		&__list-wrap{margin-top: 373px;padding: 0;}
		&__list{margin-left: -15px;margin-top: -11px;}
		&__item{width: 133px;height: 133px;margin: 11px 0 0 15px;background: url(../images/contour/front/front_bg_10_m.png) 0 0/contain no-repeat;}
		&__txt{font-size: 1.4rem;}

	}
}
.front-box13{position: relative;background-color: #7c5aa4;

	$this:&;

	&__wrap{padding-bottom: 44px;background: url(../images/contour/front/front_bg_11_1.jpg) left bottom/cover no-repeat;}
	&__box{padding-left: 43.4%;}
	&__tit{padding-right: 55px;}
	.content-section__tit{margin-top: 270px;color: #ffffff;}
	.content-section__txt1{color: #ffffff;}
	.content-section__txt2{color: #ffffff;}

	&__list-wrap{margin-top: 84px;padding: 0 92px;}
	&__list{margin: 0 0 0 -32px;padding: 0;list-style: none;
		&:after{content: '';display: block;clear: both;}
	}
	&__item{float: left;width: 50%;box-sizing: border-box;padding-left: 32px;
		&.nth-1{
			#{$this}__img:before{background: url(../images/contour/front/front_img_08.jpg) no-repeat center center/cover;}
		}
		&.nth-2{
			#{$this}__img:before{background: url(../images/contour/front/front_img_09.jpg) no-repeat center center/cover;}
		}
	}
	&__img{
		position: relative;
		&:before{content: '';display: block;width: 100%;height: 0;padding-bottom: 56.36%;}
	}
	&__caption{position: absolute;left: 0;right: 0;top: 0;height: 48px;margin: 0;background-color: #241634;font-size: 17px;color: #ffffff;text-align: center;line-height: 48px;z-index: 1;}
	&__area{padding: 18px 38px;background-color: rgba(36,22,52,0.8);}
	&__list2{margin: 0;padding: 0;list-style: none;}
	&__item2{position: relative;padding-left: 7px;
		&:before{content:'';display: block;position: absolute;top: 20px;left: 0;width: 3px;height: 3px;background: #ffffff;}

		&:first-child:before{top: 8px;}
		& + &{padding-top: 12px;}
	}
	&__txt{margin: 0;font-size: 15px;color: #ffffff;}

	@media only screen and (max-width:$tablet-size){
		margin: 0 -52px;
		&__wrap{padding-bottom: 0;background: none;}
		&__box{padding: 74px 40px 0 52px;}
		&__tit{padding-right: 0;}

		.content-section__tit{margin-top: 0;}

		&__box2{margin-top: 54px;padding-top: 120.5%;padding-bottom: 90px;background: url(../images/contour/front/front_bg_11_t.jpg) left bottom/cover no-repeat;}
		&__list-wrap{margin-top: 0;padding: 0 16px;}
		&__list{margin-left: -12px;}
		&__item{padding-left: 12px;
			&.nth-1{
				#{$this}__img:before{background: url(../images/contour/front/front_img_08_t.jpg) no-repeat center center/cover;}
			}
			&.nth-2{
				#{$this}__img:before{background: url(../images/contour/front/front_img_09_t.jpg) no-repeat center center/cover;}
			}
		}
		&__img{
			&:before{padding-bottom: 86.36%;}
		}
	}
	@media only screen and (max-width: $mobile-size){
		margin: 0 -7px;
		.content-section__tit{padding-top:0 !important;}
		&__wrap{}
		&__box{padding: 35px 14px 0;}
		&__box2{margin-top: 12px;padding-top: 146.8%;padding-bottom: 36px;background: url(../images/contour/front/front_bg_11_m.jpg) 0 0/cover no-repeat;}
		&__list-wrap{}
		&__list{margin-left: 0;margin-top: -15px;}
		&__item{float: none;width: 100%;padding: 15px 0 0;
			&.nth-1{
				#{$this}__img:before{background: url(../images/contour/front/front_img_08_m.jpg) no-repeat center center/cover;}
			}
			&.nth-2{
				#{$this}__img:before{background: url(../images/contour/front/front_img_09_m.jpg) no-repeat center center/cover;}
			}
		}
		&__img{
			&:before{padding-bottom: 57.36%}
		}
		&__area{padding: 14px 15px;}
		&__caption{height: 33px;font-size: 1.4rem;line-height: 33px;}
		&__item2{padding: 6px 0 0 5px;
			&:before{top: 19px;left: 0;width: 2px;height: 2px;background: #ffffff;}
			&:first-child:before{top: 12px;}
		}
		&__txt{font-size: 1.3rem;}
	}
}

.content-tab{
	$this: &;

	&__box{
		&.type-margin0{margin-top: 0;}
	}
}

.front-type{margin-top: 66px;
	&__list{margin: 0 0 0 -52px;padding: 0;list-style: none;
		&:after{content: '';display: block;clear: both;}
	}
	&__item{float: left;width: 33.333%;box-sizing: border-box;padding-left: 52px;}
	&__img{position: relative;
		img{width: 100%;}
	}
	&__caption{position: absolute;left: 0;right: 0;top: 0;margin: 0;padding: 16px 0;background-color:rgba(0,0,0,0.2);font-size: 20px;color: #ffffff;text-align: center;}
	&__vertical{display:table-cell; width:1%; height:inherit; vertical-align:middle;}

	@media only screen and (max-width:$tablet-size){
		&__list{margin-left: -6px;}
		&__item{padding-left: 6px;}
		&__caption{padding: 10px 1% 16px;font-size: 15px;}
	}
	@media only screen and (max-width:$mobile-size){
		margin-top: 34px;
		&__list{margin-left: 0;}
		&__item{float: none;width: 100%;box-sizing: border-box;padding-left: 0;margin-bottom: 30px;}
		&__caption{padding: 16px 0;font-size: 1.5rem;}
	}
}
.front-case{margin-top: 70px;
	&__box{
		& + &{margin-top: 74px;}
	}
	&__tit-wrap{width: 342px;height: 213px;background-color: #3960b0;padding-top: 40px;padding-left: 34px;}
	&__tit{font-size: 18px;color: #ffffff;
		&:after{content: '';display: block;width: 16px;height: 2px;margin-top: 34px;background-color: #fff;}
	}
	&__list-wrap{margin-top: -112px;margin-left: 186px;}
	&__list{margin-left: -6px;
		&:after{content: '';display: block;clear: both;}
	}
	&__item{float: left;width: 50%;padding-left: 6px;text-align: center;}
	&__item-wrap{border: 1px solid #dddddd;background-color: #fff;}
	&__txt{padding: 20px 0;font-size: 16px;}

	@media only screen and (max-width:$tablet-size){
		&__box{
			& + &{margin-top: 60px;}
		}
		&__tit-wrap{width: 309px;height: 192px;padding-top: 36px;padding-left: 30px;}
		&__list-wrap{margin-top: -94px;margin-left: 66px;}
	}

	@media only screen and (max-width:$mobile-size){
		margin-top: 35px;
		&__box{
			& + &{margin-top: 36px;}
		}
		&__tit-wrap{width: 171px;height: 121px;padding-top: 18px;padding-left: 18px;}
		&__tit{font-size: 1.5rem;
			&:after{width: 11px;height: 3px;margin-top: 25px;}
		}

		&__list-wrap{margin-top: -52px;margin-left: 66px;}
		&__list{margin-left: 0;}
		&__item{float: none;width: 100%;padding-left: 0;
			& + &{padding-top: 10px;}
		}
	}
}

.front-point{margin-top: 72px;padding: 0 96px;text-align: center;
	&__list{display: inline-block;width: 100%;padding-left: 12px;font-size: 0;
		&:after{content: '';display: block;clear: both;}
	}
	&__item{position: relative;display: inline-block;width: calc(20% + 12px);height: 0;margin-left: -12px;padding-bottom: calc(20% + 12px);background: url(../images/contour/front/front_bg_05.png) 0 0 no-repeat;background-size: 100%; vertical-align:top;
		&:nth-child(even){background-image: url(../images/contour/front/front_bg_06.png);}
	}
	&__txt{display:inline-block; height:100%; font-size: 24px;color: #ffffff; vertical-align:middle;
		&:before{display:inline-block; height:100%; vertical-align:middle; content:'';}
	}
	&__wrap{position:absolute; display:block; width:100%; height:100%;}
	@media only screen and (max-width:$tablet-size){
		padding: 0;margin-top: 50px;
		&__wrap{position:static;}
		&__txt{position: absolute; top: 50%; left:0; width: 100%; height:auto; transform: translateY(-50%);font-size: 18px;color: #ffffff;}
	}

	@media only screen and (max-width:$mobile-size){
		margin-top: 30px;
		&__item{width: 33.333%;padding-bottom: 33.333%;margin-left: -10px;
			&:nth-child(3) ~ li{top: -10px}
		}
		&__txt{font-size: 1.5rem;}
	}
}

.brace{
    &.type-front{margin-top:52px;
        &:before{left: 0;width: 30px;height: 97px;background: url('../images/contour/front/front_brace_01_left.png') 0 0 no-repeat;}
		&:after{right: 0;width: 30px;height: 97px;background: url('../images/contour/front/front_brace_01_right.png') 0 0 no-repeat;}

		&.type-another{margin-top:46px;
	        &:before{left: 0;width: 30px;height: 97px;background: url('../images/contour/front/front_brace_02_left.png') 0 0 no-repeat;}
			&:after{right: 0;width: 30px;height: 97px;background: url('../images/contour/front/front_brace_02_right.png') 0 0 no-repeat;}
		}
	}

	@media only screen and (max-width:$tablet-size){
		&.type-front{margin-top:52px;
	        &:before{width: 20px;height: 64px;background: url('../images/contour/front/front_brace_01_left_m.png') 0 0 no-repeat;background-size: 20px 64px;}
			&:after{width: 20px;height: 64px;background: url('../images/contour/front/front_brace_01_right_m.png') 0 0 no-repeat;background-size: 20px 64px;}

			&.type-another{margin-top: 0;
		        &:before{width: 20px;height: 64px;background: url('../images/contour/front/front_brace_02_left_m.png') 0 0 no-repeat;background-size: 20px 64px;}
				&:after{width: 20px;height: 64px;background: url('../images/contour/front/front_brace_02_right_m.png') 0 0 no-repeat;background-size: 20px 64px;}
			}
		}
	}
}
.content-highlight{
	&.type-front{background-color: #4985ff;color: #fff;line-height: 1.5;}

	@media only screen and (max-width:$mobile-size){
		&.type-front{padding-top: 1%;}
	}
}
.content-highlight2{
	&.type-front{z-index: 1;
		&:after{background-color: #4985ff;}

		&.type-alpha{
			&:after{background-color: rgba(51,51,51,0.5);}
		}
		&.type-gray{
			&:after{background-color: #333333;}
		}
		&.type-dark{
			&:after{background-color: #2c232c;}
		}
		&.type-sky{
			&:after{background-color: #6e9eff;}
		}
		&.type-another{
			&:after{background-color: #063dac;}
		}
	}

	@media only screen and (max-width:$mobile-size){
		&.type-front{padding-top: 1%;}
	}
}
.list-box{
	$this:&;
	&.type-front{margin: 0 6.5% 0;
		#{$this}__box{background-color: #4985ff;}
		#{$this}__wrap{width:229px;
			&:after{border-bottom: 40px solid #1d4087;}
		}
	}

	@media only screen and (max-width:$tablet-size){
		&.type-front{margin: 0;padding-left: 296px;}
	}
	@media only screen and (max-width:$mobile-size){
		&.type-front{margin: 0 6.4% 0;padding-left: 20px;}
	}
}
.operation{
	$this:&;
	&__wrapper{
		&.type-front{background:url('../images/contour/front/front_oper_01.jpg') no-repeat left center;
			&.type-another{background:url('../images/contour/front/front_oper_02.jpg') no-repeat left center;}
		}

	}
}
.status-bar{
	$this:&;
	&.type-front{
		& #{$this}__wrap{background:url('../images/contour/front/front_status_01.png') no-repeat center center; background-size:contain;}

		&.type-another{
			& #{$this}__wrap{background:url('../images/contour/front/front_status_02.png') no-repeat center center; background-size:contain;}
		}
	}

	@media only screen and (max-width:$mobile-size){
		&.type-front{
			& #{$this}__wrap{background:url('../images/contour/front/front_status_01_m.png') no-repeat center center; background-size:contain;}

			&.type-another{
				& #{$this}__wrap{background:url('../images/contour/front/front_status_02_m.png') no-repeat center center; background-size:contain;}
			}
		}
	}
}
.info-btn{
	@media only screen and (max-width:$mobile-size){
		&.type-front{
			padding-left: 20px;
		}
	}
}
