<%
	type = "membership"
	page = "join"
%>
<% include ../_include/_header %>
<div class="container">
	<div class="container__top">
		<h2 class="container__tit type-join">정보수정</h2>
		<p class="container__txt">바노바기 성형외과는 고객님의 개인정보보호를 위해 개인정보 보호지침을 마련하여 이를 준수하고 있습니다.</p>
	</div>
	<% include ../_include/_lnb %>
	<div class="container__wrap type-another">
		<div class="join">
			<div class="join__wrap type-another">
				<form action="" id="joinForm">
					<table class="join-table__table">
						<tr class="join-table__tr">
							<th class="join-table__th">아이디</th>
							<td class="join-table__td">
								<div class="join-table__wrap">
									banobagi1234
								</div>
							</td>
						</tr>
						<tr class="join-table__tr">
							<th class="join-table__th">기존 비밀번호</th>
							<td class="join-table__td">
								<div class="join-table__wrap">
									<input type="password" class="join-table__input" required="">
								</div>
							</td>
						</tr>
						<tr class="join-table__tr">
							<th class="join-table__th">새 비밀번호</th>
							<td class="join-table__td">
								<div class="join-table__wrap">
									<input type="password" class="join-table__input type-full" placeholder="영문, 숫자 조합 10~15자리 이상" required="">
								</div>
							</td>
						</tr>
						<tr class="join-table__tr">
							<th class="join-table__th">새 비밀번호 <span class="inline-block">확인</span></th>
							<td class="join-table__td">
								<div class="join-table__wrap">
									<input type="password" class="join-table__input" required="">
								</div>
							</td>
						</tr>
						<tr class="join-table__tr">
							<th class="join-table__th">이름</th>
							<td class="join-table__td">
								<div class="join-table__wrap">
									<input type="text" class="join-table__input" placeholder="이름을 입력해주세요" required="" value="홍길동">
								</div>
							</td>
						</tr>
						<tr class="join-table__tr">
							<th class="join-table__th">휴대전화</th>
							<td class="join-table__td">
								<div class="join-table__wrap">
									<input type="text" class="join-table__input" placeholder="휴대전화를 입력 후 인증해주세요" required="" value="010-1588-6508">
								</div>
							</td>
						</tr>
						<tr class="join-table__tr">
							<th class="join-table__th">SMS수신</th>
							<td class="join-table__td">
								<div class="join-table__wrap">
									<input type="radio" name="agree1" value="" id="agree1_1" class="radio1" checked="checked"><label for="agree1_1">수신동의</label>
									<input type="radio" name="agree1" value="" id="agree1_2" class="radio1"><label for="agree1_2">수신거부</label>
								</div>
							</td>
						</tr>
						<tr class="join-table__tr">
							<th class="join-table__th">이메일</th>
							<td class="join-table__td">
								<div class="join-table__wrap">
									banobagi@banobagi.com
								</div>
							</td>
						</tr>
						<tr class="join-table__tr">
							<th class="join-table__th">이메일 수신</th>
							<td class="join-table__td">
								<div class="join-table__wrap">
									<input type="radio" name="agree2" value="" id="agree2_1" class="radio1" checked="checked"><label for="agree2_1">수신동의</label>
									<input type="radio" name="agree2" value="" id="agree2_2" class="radio1"><label for="agree2_2">수신거부</label>
								</div>
							</td>
						</tr>
					</table>
				</form>
			</div>
			<!-- //join-table -->
			<input type="submit" class="membership__btn type-black type-join" value="완료">
		</div> <!-- //join-->
	</div>
</div>
<% include ../_include/_footer %>
