<!--banner_rapid 시작 -->
	<div class="banner type-rapid">
		<div class="banner__bg">
			<div class="banner__box">
				<div class="banner__outer">
					<div class="banner__inner">
						<h3 class="banner__tit">快速恢复自我护理</h3>
						<p class="banner__txt">通过术后镇定肌肤,集中恢复肌肤,缓解浮肿和淤青的药物处方帮助快速恢复。</p>
						<a href="" class="banner__btn">自我护理详情</a>
					</div>
				</div>
			</div>
		</div>
	</div>
<!--banner_rapid 끝 -->
