<!--bfaf시작 -->
<p class="side-noti">点击即可查看<span>前后对比照</span></p>
<a href="" class="side-link js-bfaf-open">
	비포&amp;애프터 보기
</a>
<div class="bfaf">
	<h3 class="bfaf__title">BEFORE &amp; AFTER</h3>
	<div class="bfaf__scroll">
		<div class="bfaf__area">
			<div class="pics">
				<ul class="pics__list">
					<li class="pics__item">
						<!-- <a href="" class="pics__link js-bfaf-link">링크 아이콘</a> -->
						<ul class="pics-link__list">
							<li class="pics-link__item type-photo">
								<a href="" class="pics-link__link">포토갤러리 아이콘</a>
								<span class="pics-link__tit">포토갤러리</span>
							</li>
							<!-- <li class="pics-link__item type-real">
								<a href="" class="pics-link__link">리얼스토리 아이콘</a>
								<span class="pics-link__tit">리얼스토리</span>
							</li> -->
						</ul>
					</li>
				</ul>
				<div class="bfaf__bg"></div>
				<div class="bfaf__box">
					<span class="bfaf__txt">手术前</span>
					<img src="../../images/temp/bfaf.jpg" alt="" class="img-responsive">
				</div>
				<div class="bfaf__box">
					<span class="bfaf__txt">手术后3个月</span>
					<img src="../../images/temp/bfaf.jpg" alt="" class="img-responsive">
				</div>
			</div><!-- //pics-->
			<div class="pics">
				<ul class="pics__list">
					<li class="pics__item">
						<!-- <a href="" class="pics__link js-bfaf-link">링크 아이콘</a> -->
						<ul class="pics-link__list">
							<li class="pics-link__item type-photo">
								<a href="" class="pics-link__link">포토갤러리 아이콘</a>
								<span class="pics-link__tit">포토갤러리</span>
							</li>
							<!-- <li class="pics-link__item type-real">
								<a href="" class="pics-link__link">리얼스토리 아이콘</a>
								<span class="pics-link__tit">리얼스토리</span>
							</li> -->
						</ul>
					</li>
				</ul>
				<div class="bfaf__bg"></div>
				<div class="bfaf__box">
					<span class="bfaf__txt">手术前</span>
					<img src="../../images/temp/bfaf.jpg" alt="" class="img-responsive">
				</div>
				<div class="bfaf__box">
					<span class="bfaf__txt">手术后3个月</span>
					<img src="../../images/temp/bfaf.jpg" alt="" class="img-responsive">
				</div>
			</div><!-- //pics-->
			<div class="pics">
				<ul class="pics__list">
					<li class="pics__item">
						<!-- <a href="" class="pics__link js-bfaf-link">링크 아이콘</a> -->
						<ul class="pics-link__list">
							<li class="pics-link__item type-photo">
								<a href="" class="pics-link__link">포토갤러리 아이콘</a>
								<span class="pics-link__tit">포토갤러리</span>
							</li>
							<!-- <li class="pics-link__item type-real">
								<a href="" class="pics-link__link">리얼스토리 아이콘</a>
								<span class="pics-link__tit">리얼스토리</span>
							</li> -->
						</ul>
					</li>
				</ul>
				<div class="bfaf__bg"></div>
				<div class="bfaf__box">
					<span class="bfaf__txt">手术前</span>
					<img src="../../images/temp/bfaf.jpg" alt="" class="img-responsive">
				</div>
				<div class="bfaf__box">
					<span class="bfaf__txt">手术后3个月</span>
					<img src="../../images/temp/bfaf.jpg" alt="" class="img-responsive">
				</div>
			</div><!-- //pics-->
		</div>
	</div><!-- //bfaf__scroll-->
	<p class="bfaf__noti">※ 本图片依拍摄条件不同与实物会有差距,取得患者同意拍摄后刊发。</p>
</div>
<!--//bfaf끝-->
