<!-- //section끝 -->
<!--footer시작-->
		<div class="footer">
			<div class="footer__noti">
				<span class="footer__noti-icon">手术后,可能会出现出血,感染,炎症等并发症,主观性的满足度会因人而异,希望与医生进行沟通。 </span>
			</div>
			<div class="footer__wrap">
				<img src="../../images/common/logo_bottom.png" alt="바노바기성형외과" class="footer__logo-p">
				<ul class="address">
					<li class="address__item">首尔特别市 江南区 论岘路 517</li>
					<li class="address__item">CS CENTER <a href="tel:400-631-6508">400-631-6508</a></li>
		            <li class="address__item">TEL <a href="tel:82-2-564-6508">82-2-564-6508</a></li>
		            <li class="address__item">FAX 02-561-1755</li>
				</ul>
				<ul class="address">
					<li class="address__item">佰诺佰琪整形外科医院 潘在常  220-08-87096</li>
					<li class="address__item">通讯销售业 申报番号 第2015-首尔江南-03292号</li>
				</ul>
				<p class="copyright">Copyright © 2014 banobagi beauty all rights reserved.</p>
				<ul class="sns">
					<li class="sns__item"><a href="https://www.weibo.com/p/1006061764483491/home?from=page_100606&mod=TAB&is_all=1" target="_blank" class="sns__link"><i class="fa fa-weibo"></i></a>
					<li class="sns__item nth-2"><a href="http://i.youku.com/i/UNDA2MTUzOTM2?spm=a2ha1.12325017.uerCenter.5!6~5!2~A" target="_blank" class="sns__link type-blog">youku</li>
					<li class="sns__item"><a href="http://reurl.kr/D01F824EH" target="_blank" class="sns__link"><i class="fa fa-facebook"></i></a></li>
				</ul>
				<ul class="footer-info">
					<!-- <li class="footer-info__item"><a class="footer-info__link" href="https://www.banobagi.com/membership/membershipEtc1.php">개인정보 취급방침</a></li>
					<li class="footer-info__item"><a class="footer-info__link" href="https://www.banobagi.com/membership/membershipEtc2.php">이용약관</a></li> -->
					<li class="footer-info__item"><a href="" class="footer-info__link">网站应用程序</a></li>
				</ul>
			</div>
		</div>
	</div><!--// common-->
	<script type="text/javascript" src="../../js/libs/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="../../js/libs/jquery.matchHeight-min.js"></script>
	<script type="text/javascript" src="../../js/libs/jquery.touchSwipe.min.js"></script>
	<script type="text/javascript" src="../../js/libs/owl.carousel.min.js"></script>
	<script type="text/javascript" src="../../js/libs/jquery.validate.min.js"></script>
	<script type="text/javascript" src="../../js/libs/jquery.mCustomScrollbar.min.js"></script>
	<script type="text/javascript" src="../../js/libs/slick.min.js"></script>
	<script type="text/javascript" src="../../js/libs/circle-progress.min.js"></script>
	<script type="text/javascript" src="../../js/libs/jquery-progress-indicator-1.0.6.min.js"></script>
	<script type="text/javascript" src="../../js/common.js"></script>
	<!-- //공톹 js -->
	<% if (type == "content") { %>
		<script type="text/javascript" src="../../js/content.js"></script>
	<% }else if(type == "introduce"){ %>
		<script type="text/javascript" src="../../js/libs/TweenMax.min.js"></script>
		<script type="text/javascript" src="../../js/introduce.js"></script>
	<% }else if(type == "search"){ %>
		<script type="text/javascript" src="../../js/search.js"></script>
	<% }else if(type == "detail"){ %>
		<script type="text/javascript" src="https://player.youku.com/jsapi"></script>
		<script type="text/javascript" src="../../js/libs/TweenMax.min.js"></script>
		<script type="text/javascript" src="../../js/libs/jquery.scrollify.min.js"></script>
		<script type="text/javascript" src="../../js/detail.js"></script>
	<% }else if(type == "membership"){ %>
		<script type="text/javascript" src="../../js/membership.js"></script>
	<% } %>
	<% if (page == "main") { %>
		<!-- main js -->
		<!-- 	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=257d367d5a0070f35e1b7ddf7b4907a4"></script>'; -->
		<!-- <script type="text/javascript" src="../../js/map.js"></script> -->
		<script type="text/javascript" src="https://player.youku.com/jsapi"></script>
		<script type="text/javascript" src="../../js/libs/jquery.bxslider.min.js"></script>
		<script type="text/javascript" src="../../js/libs/typed.min.js"></script>
		<script type="text/javascript" src="../../js/main.js"></script>
		<!-- //main js -->
	<% }else if(page == "about"){ %>
		<script type="text/javascript" src="../../js/libs/jquery.cycle2.min.js"></script>
		<script type="text/javascript" src="../../js/libs/jquery.cycle2.swipe.min.js"></script>
		<script type="text/javascript" src="../../js/about.js"></script>
	<% }else if(page == "photo"){ %>
		<script type="text/javascript" src="../../js/photo.js"></script>
	<% }else if(page == "epilogue"){ %>
		<script type="text/javascript" src="../../js/libs/jquery.cycle2.min.js.js"></script>
		<script type="text/javascript" src="../../js/libs/jquery.cycle2.swipe.min.js"></script>
		<script type="text/javascript" src="../../js/epilogue.js"></script>
	<% }else if(page == "location"){ %>
		<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=257d367d5a0070f35e1b7ddf7b4907a4"></script>';
		<script type="text/javascript" src="../../js/map.js"></script><!-- main js -->
	<% }else if(page == "philosophy"){ %>
		<script type="text/javascript" src="../../js/libs/jquery.scrollify.min.js"></script>
		<script type="text/javascript" src="../../js/detail.js"></script><!-- onepage js -->
	<% }else if(type == "detail-new"){ %>
		<script type="text/javascript" src="../../js/libs/TweenMax.min.js"></script>
		<script type="text/javascript" src="../../js/libs/jquery.scrollify.js"></script>
		<script type="text/javascript" src="../../js/onepage.js"></script>
	<% }else if(page == "program"){ %>
		<script type="text/javascript" src="../../js/libs/jquery.cycle2.min.js"></script>
		<script type="text/javascript" src="../../js/libs/jquery.cycle2.swipe.min.js"></script>
		<script type="text/javascript" src="../../js/program.js"></script>
	<% }else if(page == "sitemap"){ %>
		<script type="text/javascript" src="../../js/sitemap.js"></script>
	<% }else if(page == "hair"){ %>
		<script type="text/javascript" src="../../js/hair.js"></script>
	<% } %>

</body>
</html>
<!--footer끝-->
