<%
	var data = jsonData
%>
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="mobile-web-app-capable" content="yes">
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
<meta name="format-detection" content="telephone=no, address=no, email=no">
<meta property="og:type" content="website">
<meta property="og:title" content="ศัลยกรรมเกาหลี วีไลน์ เกาหลี ตาสองชั้น เสริมจมูก รีวิวศัลยกรรม - รพ.บาโนบากิ">
<meta property="og:description" content="">
<meta property="og:url" content="">
<title><%= data.site.name.kor %></title>
<!-- 공통 css -->
<link rel="stylesheet" href="../../css/libs/jquery.mCustomScrollbar.min.css">
<link rel="stylesheet" href="../../css/libs/font-awesome.min.css">
<link rel="stylesheet" href="../../css/libs/owl.carousel.min.css">
<link rel="stylesheet" href="../../css/libs/slick.min.css">
<link rel="stylesheet" href="../../css/libs/slick-theme.min.css">
<!-- <link rel="stylesheet" href="../../css/common.css"> -->
<link rel="stylesheet" href="../../css/style.css">
<link rel="stylesheet" href="../../css/gnb.css">
<link rel="stylesheet" href="../../css/popup.css">
<link rel="stylesheet" href="../../css/login.css"><!-- //공통 css -->
<% if (type == "content") { %>
	<link rel="stylesheet" href="../../css/content_common.css">
	<link rel="stylesheet" href="../../css/new_content_common.css">
	<link rel="stylesheet" href="../../css/season1.css">
<% }else if(type == "detail"){ %>
	<link rel="stylesheet" href="../../css/detail_common.css">
<% }else if(type == "detail-new"){ %>
	<link rel="stylesheet" href="../../css/onepage_common.css">
<% }else if(type == "review"){ %>
	<link rel="stylesheet" href="../../css/review.css">
<% }else if(type == "introduce"){ %>
	<link rel="stylesheet" href="../../css/introduce.css">
<% }else if(type == "search"){ %>
	<link rel="stylesheet" href="../../css/search.css">
<% }else if(type == "membership"){ %>
	<link rel="stylesheet" href="../../css/membership.css">
<% }else if(type == "sitemap"){ %>
	<link rel="stylesheet" href="../../css/sitemap.css">
<% } %>
<% if (page == "main") { %>
	<link rel="stylesheet" href="../../css/main.css"><!-- main css -->
	<link rel="stylesheet" href="../../css/libs/animated.css">
<% }else if(page == "introduce"){ %>
	<link rel="stylesheet" href="../../css/introduce.css">
<% }else if(page == "only"){ %>
	<link rel="stylesheet" href="../../css/only.css">
<% }else if(page == "heal"){ %>
	<link rel="stylesheet" href="../../css/heal.css">
<% }else if(page == "contour"){ %>
	<link rel="stylesheet" href="../../css/contour.css">
<% }else if(page == "chest"){ %>
	<link rel="stylesheet" href="../../css/chest.css">
<% }else if(page == "eye"){ %>
	<link rel="stylesheet" href="../../css/eye.css">
<% }else if(page == "nose"){ %>
	<link rel="stylesheet" href="../../css/nose.css">
<% }else if(page == "wrinkle"){ %>
	<link rel="stylesheet" href="../../css/wrinkle.css">
<% }else if(page == "svf"){ %>
	<link rel="stylesheet" href="../../css/svf.css">
<% }else if(page == "hair"){ %>
	<link rel="stylesheet" href="../../css/hair.css">
<% }else if(page == "body"){ %>
	<link rel="stylesheet" href="../../css/body.css">
<% }else if(page == "reoperation"){ %>
	<link rel="stylesheet" href="../../css/reoperation.css">
<% }else if(page == "special"){ %>
	<link rel="stylesheet" href="../../css/special.css">
<% }else if(page == "about"){ %>
	<link rel="stylesheet" href="../../css/introduce.css">
<% }else if(type == "program"){ %>
	<link rel="stylesheet" href="../../css/program.css">
<% } %>
<link rel="icon" href="../../images/common/favicon.ico">
<!-- 공통 js -->

</head>
<body>
	<h1 class="hidden-tit">바노바기 성형외과의원</h1>
	<div class="common">
		<% include ../_include/_popup %>
		<!-- gnb-->
		<div class="header">
			<div class="mobile-menu"><!-- 모바일 햄버거 -->
				<a href="#" class="mobile-menu__wrap">
					<span class="mobile-menu__line"></span>
				</a>
			</div>
			<div class="header__bg">모바일 헤더 배경</div><!-- 모바일 헤더부분 bg -->
			<a href="" class="m-search__close js-search-close">닫기</a><!-- 모바일 검색창 닫기 -->
			<div class="m-gnb">
				<div class="national-gnb">
					<ul class="national-gnb__list">
						<li class="national-gnb__item nth-2">
							<a href="http://www.chinabanobagi.com" target="_blank" class="national-gnb__link">CN</a>
						</li>
						<li class="national-gnb__item nth-1">
							<a href="https://www.banobagi.com" target="_blank" class="national-gnb__link">KOR</a>
						</li>
						<li class="national-gnb__item nth-4">
							<a href="http://www.engbanobagi.com" class="national-gnb__link">EN</a>
						</li>
						<li class="national-gnb__item nth-3">
							<a href="https://www.thailandbanobagi.com" target="_blank" class="national-gnb__link">TH</a>
						</li>
						<li class="national-gnb__item nth-5">
							<a href="http://www.vnbanobagi.com" target="_blank" class="national-gnb__link">VN</a>
						</li>
						<li class="national-gnb__item nth-7">
							<a href="http://www.indonesiabanobagi.com" target="_blank" class="national-gnb__link">ID</a>
						</li>
						<li class="national-gnb__item nth-6">
							<a href="http://www.japanbanobagi.com" target="_blank" class="national-gnb__link">JP</a>
						</li>
					</ul>
				</div>
				<div class="m-menu">
					<div class="m-1depth">
						<div class="m-1depth__wrap">
							<ul class="m-1depth__list">
								<li class="m-1depth__item nth-1 is-active"><a href="" class="m-1depth__link" data-tab="CONTOUR"><span class="m-1depth__icon">轮廓</span></a></li>
								<li class="m-1depth__item nth-2"><a href="" class="m-1depth__link" data-tab="BODY"><span class="m-1depth__icon">身体</span></a></li>
								<li class="m-1depth__item nth-3"><a href="" class="m-1depth__link" data-tab="BREAST"><span class="m-1depth__icon">胸部</span></a></li>
								<li class="m-1depth__item nth-4"><a href="" class="m-1depth__link" data-tab="EYE"><span class="m-1depth__icon">眼部</span></a></li>
								<li class="m-1depth__item nth-5"><a href="" class="m-1depth__link" data-tab="NOSE"><span class="m-1depth__icon">鼻部</span></a></li>
								<li class="m-1depth__item nth-6"><a href="" class="m-1depth__link" data-tab="WRINKLE"><span class="m-1depth__icon">童颜</span></a></li>
								<li class="m-1depth__item nth-7"><a href="" class="m-1depth__link" data-tab="SVF"><span class="m-1depth__icon">干细胞</span></a></li>
								<li class="m-1depth__item nth-8"><a href="" class="m-1depth__link" data-tab="REOP"><span class="m-1depth__icon">修复手术</span></a></li>
								<li class="m-1depth__item nth-9"><a href="" class="m-1depth__link" data-tab="HAIR"><span class="m-1depth__icon">毛发</span></a></li>
								<li class="m-1depth__item nth-10"><a href="" class="m-1depth__link" data-tab="SPECIAL"><span class="m-1depth__icon">特殊整形</span></a></li>
								<li class="m-1depth__item nth-11"><a href="" class="m-1depth__link" data-tab="BNBG"><span class="m-1depth__icon">佰诺佰琪</span></a></li>
								<li class="m-1depth__item nth-12"><a href="" class="m-1depth__link" data-tab="REVIEW"><span class="m-1depth__icon">Review</span></a></li>
							</ul>
						</div>
					</div>

					<div class="m-2depth">
						<ul class="m-2depth__list CONTOUR is-active">
							<li class="m-2depth__item"><a href="/contour/contourDetail.php" class="m-2depth__link"><span class="m-2depth__wrap">佰诺佰琪 轮廓整形 详情</span></a></li>
							<li class="m-2depth__item"><a href="/contour/contourSquare.php" class="m-2depth__link"><span class="m-2depth__wrap">下颌角</span></a></li>
							<li class="m-2depth__item"><a href="/contour/contourCheek.php" class="m-2depth__link"><span class="m-2depth__wrap">颧骨手术</span></a></li>
							<li class="m-2depth__item"><a href="/contour/contourFrontCheek.php" class="m-2depth__link"><span class="m-2depth__wrap">下巴手术</span></a></li>
							<li class="m-2depth__item"><a href="/contour/contourBrow.php" class="m-2depth__link"><span class="m-2depth__wrap">额头整形</span></a></li>
							<li class="m-2depth__item"><a href="/contour/contourBimaxillary.php" class="m-2depth__link"><span class="m-2depth__wrap">双鄂手术</span></a></li>
							<li class="m-2depth__item"><a href="/contour/contourCase.php" class="m-2depth__link"><span class="m-2depth__wrap">不同类型的双鄂手术</span></a></li>
							<li class="m-2depth__item"><a href="/contour/contourProtrusion.php" class="m-2depth__link"><span class="m-2depth__wrap">凸嘴手术</span></a></li>
							<li class="m-2depth__item"><a href="/contour/contourSlimface.php" class="m-2depth__link"><span class="m-2depth__wrap">去除面部赘肉</span></a></li>
						</ul>
						<ul class="m-2depth__list BODY">
							<li class="m-2depth__item"><a href="/body/bodyDetail.php" class="m-2depth__link"><span class="m-2depth__wrap">佰诺佰琪身体整形的细节</span></a></li>
							<li class="m-2depth__item"><a href="/body/bodyFat.php" class="m-2depth__link"><span class="m-2depth__wrap">全身吸脂</span></a></li>
							<li class="m-2depth__item"><a href="/body/bodyPartFat.php" class="m-2depth__link"><span class="m-2depth__wrap">各部位吸脂</span></a></li>
							<li class="m-2depth__item"><a href="/body/bodyDual.php" class="m-2depth__link"><span class="m-2depth__wrap">双重瘦身</span></a></li>
							<li class="m-2depth__item"><a href="/body/bodyLifting.php" class="m-2depth__link"><span class="m-2depth__wrap">身体提拉</span></a></li>
						</ul>
						<ul class="m-2depth__list BREAST">
							<li class="m-2depth__item"><a href="/chest/chestDetail.php" class="m-2depth__link"><span class="m-2depth__wrap">佰诺佰琪胸部整形的细节化</span></a></li>
							<li class="m-2depth__item"><a href="/chest/chestExtension.php" class="m-2depth__link"><span class="m-2depth__wrap">丰胸手术</span></a></li>
							<li class="m-2depth__item"><a href="/chest/chestReduction.php" class="m-2depth__link"><span class="m-2depth__wrap">胸部缩小术</span></a></li>
							<li class="m-2depth__item"><a href="http://motiva.chinabanobagi.com/chest2.php" class="m-2depth__link" target="_blank"><span class="m-2depth__wrap">魔滴假体</span></a></li>
						</ul>
						<ul class="m-2depth__list EYE">
							<li class="m-2depth__item"><a href="/eye/eyeDetail.php" class="m-2depth__link"><span class="m-2depth__wrap">佰诺佰琪细节型眼部整形</span></a></li>
							<li class="m-2depth__item"><a href="/eye/eyeDouble.php" class="m-2depth__link"><span class="m-2depth__wrap">非切开自然流畅双眼皮</span></a></li>
							<li class="m-2depth__item"><a href="/eye/eyeIncisional.php" class="m-2depth__link"><span class="m-2depth__wrap">切开法双眼皮</span></a></li>
							<li class="m-2depth__item"><a href="/eye/eyeMiddleAge.php" class="m-2depth__link"><span class="m-2depth__wrap">中年眼部整形</span></a></li>
							<li class="m-2depth__item"><a href="/eye/eyeCorrection.php" class="m-2depth__link"><span class="m-2depth__wrap">眼肌矫正</span></a></li>
							<li class="m-2depth__item"><a href="/eye/eyeRelocation.php" class="m-2depth__link"><span class="m-2depth__wrap">眼底脂肪再配置</span></a></li>
							<li class="m-2depth__item"><a href="/eye/eyeOpening.php" class="m-2depth__link"><span class="m-2depth__wrap">眼角整形手术</span></a></li>
						</ul>
						<ul class="m-2depth__list NOSE">
							<li class="m-2depth__item"><a href="/nose/noseDetail.php" class="m-2depth__link"><span class="m-2depth__wrap">佰诺佰琪细节型鼻部整形</span></a></li>
							<li class="m-2depth__item"><a href="/nose/noseLow.php" class="m-2depth__link"><span class="m-2depth__wrap">塌鼻</span></a></li>
							<li class="m-2depth__item"><a href="/nose/noseCaseType.php" class="m-2depth__link"><span class="m-2depth__wrap">不同类型的鼻部整形</span></a></li>
							<li class="m-2depth__item"><a href="/nose/noseReduction.php" class="m-2depth__link"><span class="m-2depth__wrap">大鼻缩小术</span></a></li>
						</ul>
						<ul class="m-2depth__list WRINKLE">
							<li class="m-2depth__item"><a href="/wrinkle/wrinkleDetail.php" class="m-2depth__link"><span class="m-2depth__wrap">佰诺佰琪童颜整形</span></a></li>
							<li class="m-2depth__item"><a href="/wrinkle/wrinkleElastic.php" class="m-2depth__link"><span class="m-2depth__wrap">弹力胶带提拉</span></a></li>
						</ul>
						<ul class="m-2depth__list SVF">
							<li class="m-2depth__item"><a href="/svf/svfDetail.php" class="m-2depth__link"><span class="m-2depth__wrap">佰诺佰琪干细胞</span></a></li>
							<li class="m-2depth__item"><a href="/svf/svfTransplant.php" class="m-2depth__link"><span class="m-2depth__wrap">干细胞脂肪填充</span></a></li>
							<li class="m-2depth__item"><a href="/svf/svfChestExtend.php" class="m-2depth__link"><span class="m-2depth__wrap">干细胞隆胸</span></a></li>
						</ul>
						<ul class="m-2depth__list REOP">
							<li class="m-2depth__item"><a href="/reoperation/reoperationDetail.php" class="m-2depth__link"><span class="m-2depth__wrap">佰诺佰琪修复手术</span></a></li>
							<li class="m-2depth__item"><a href="/reoperation/reoperationNose.php" class="m-2depth__link"><span class="m-2depth__wrap">鼻部修复手术</span></a></li>
							<li class="m-2depth__item"><a href="/reoperation/reoperationEye.php" class="m-2depth__link"><span class="m-2depth__wrap">眼部修复手术</span></a></li>
							<li class="m-2depth__item"><a href="http://rebreast.chinabanobagi.com/chest/chest1.php" class="m-2depth__link" target="_blank"><span class="m-2depth__wrap">隆胸修复</span></a></li>
							<li class="m-2depth__item"><a href="/reoperation/reoperationContour.php" class="m-2depth__link"><span class="m-2depth__wrap">轮廓修复手术</span></a></li>
						</ul>
						<ul class="m-2depth__list HAIR">
							<li class="m-2depth__item"><a href="/hair/hairDetail.php" class="m-2depth__link"><span class="m-2depth__wrap">佰诺佰琪毛发移植的细节</span></a></li>
							<li class="m-2depth__item"><a href="/hair/hairMan.php" class="m-2depth__link"><span class="m-2depth__wrap">男性毛发移植</span></a></li>
							<li class="m-2depth__item"><a href="/hair/hairWoman.php" class="m-2depth__link"><span class="m-2depth__wrap">女性毛发移植</span></a></li>
						</ul>
						<ul class="m-2depth__list SPECIAL">
							<li class="m-2depth__item"><a href="/special/specialDetail.php" class="m-2depth__link"><span class="m-2depth__wrap">佰诺佰琪特殊整形</span></a></li>
							<li class="m-2depth__item"><a href="/special/specialArtecoll.php" class="m-2depth__link"><span class="m-2depth__wrap">半永久玻尿酸爱贝芙</span></a></li>
							<li class="m-2depth__item"><a href="/special/specialDesign.php" class="m-2depth__link"><span class="m-2depth__wrap">设计玻尿酸</span></a></li>
						</ul>
						<ul class="m-2depth__list BNBG">
							<li class="m-2depth__item"><a href="/introduce/introduceBanobagi.php" class="m-2depth__link"><span class="m-2depth__wrap">佰诺佰琪介绍</span></a></li>
							<li class="m-2depth__item"><a href="/introduce/introduceMedical.php" class="m-2depth__link"><span class="m-2depth__wrap">医疗专家介绍</span></a></li>
							<li class="m-2depth__item"><a href="/introduce/introduceMap.php" class="m-2depth__link"><span class="m-2depth__wrap">诊疗指南/来访路线</span></a></li>
							<li class="m-2depth__item"><a href="/introduce/introduceHistory.php" class="m-2depth__link"><span class="m-2depth__wrap">佰诺佰琪历史</span></a></li>
							<li class="m-2depth__item"><a href="/introduce/introduceTour.php" class="m-2depth__link"><span class="m-2depth__wrap">环视佰诺佰琪</span></a></li>
							<li class="m-2depth__item type-3depth">
								<a href="" class="m-2depth__link"><span class="m-2depth__wrap">媒体报道的佰诺佰琪</span></a>
								<ul class="m-3depth__list">
									<li class="m-3depth__item"><a href="/introduce/introduceNewsList.php" class="m-3depth__link">News</a></li>
									<li class="m-3depth__item"><a href="/introduce/introduceMedia.php" class="m-3depth__link">Media</a></li>
								</ul>
							</li>
							<li class="m-2depth__item"><a href="/introduce/introduceLive.php" class="m-2depth__link"><span class="m-2depth__wrap">佰诺佰琪 LIVE</span></a></li>
							<li class="m-2depth__item"><a href="/introduce/introduceAcademicList.php" class="m-2depth__link"><span class="m-2depth__wrap">学术交流</span></a></li>
							<li class="m-2depth__item"><a href="/introduce/introduceSocietyList.php" class="m-2depth__link"><span class="m-2depth__wrap">社会贡献</span></a></li>
							<li class="m-2depth__item"><a href="/introduce/introduceRapid.php" class="m-2depth__link"><span class="m-2depth__wrap">快速恢复 - 自我护理</span></a></li>
							<li class="m-2depth__item"><a href="/program/index.php" class="m-2depth__link"><span class="m-2depth__wrap">推荐项目</span></a></li>
						</ul>
						<ul class="m-2depth__list REVIEW">
							<li class="m-2depth__item"><a href="/review/epilogueList.php" class="m-2depth__link"><span class="m-2depth__wrap">生动的整形后记</span></a></li>
							<li class="m-2depth__item"><a href="/review/photoGallery.php" class="m-2depth__link"><span class="m-2depth__wrap">相册</span></a></li>
							<li class="m-review__item nth-1">
								<a href="http://rebreast.chinabanobagi.com" target="_blank" class="m-review__tit">rebreast</a>
							</li>
							<li class="m-review__item nth-2">
								<a href="http://elasticum.chinabanobagi.com" target="_blank" class="m-review__tit">elasticum</a>
							</li>
							<li class="m-review__item nth-3">
								<a href="http://motiva.chinabanobagi.com" target="_blank" class="m-review__tit">motiva</a>
							</li>
						</ul>
					</div><!-- //m-2depth -->
				</div><!-- //m-menu-->
			</div>
			<div class="m-search">
				<div class="m-search__inner">
					<div class="search_container">
						<form id="seearchForm2" name="seearchForm2" class="form-inline" method="post" action="http://renewal.engbanobagi.com/searchResult.php">
							<div class="m-search__box">
								<div class="m-search__group">
									<label class="sr-only" for="keyword2">Search</label>
									<input type="text" class="m-search__input" name="keyword" id="keyword2" autocomplete="off" placeholder="搜索" required>
								</div>
								<button type="submit" class="m-search__btn"></button>
							</div> <!-- //searchGroup -->
						</form>
						<div class="keyword-box2">
							<ul class="keyword-tab2">
								<li class="keyword-tab2__item is-active nth-1 js-keyord-link" data-tab="popular">人气搜索词</li>
								<li class="keyword-tab2__item nth-2 js-keyord-link" data-tab="recommended">推荐搜索词</li>
							</ul>
							<ul class="keyword-box2__list is-active popular">
								<li class="keyword-box2__group">
									<ul class="keyword-box2__list2">
										<li class="keyword-box2__item"><a class="keyword-box2__link first" href="javascript:$.fnSearchSubmit('렛미인성형외과');"><span class="keyword-box2__num">1</span>렛미인성형외과</a></li>
										<li class="keyword-box2__item"><a class="keyword-box2__link" href="javascript:$.fnSearchSubmit('셀카리얼후기');"><span class="keyword-box2__num">2</span>셀카리얼후기</a></li>
										<li class="keyword-box2__item"><a class="keyword-box2__link" href="javascript:$.fnSearchSubmit('눈성형');"><span class="keyword-box2__num">3</span>눈성형</a></li>
									</ul>
								</li>
								<li class="keyword-box2__group">
									<ul class="keyword-box2__list2">
										<li class="keyword-box2__item"><a class="keyword-box2__link" href="javascript:$.fnSearchSubmit('렛미인성형외과');"><span class="keyword-box2__num">1</span>렛미인성형외과</a></li>
										<li class="keyword-box2__item"><a class="keyword-box2__link" href="javascript:$.fnSearchSubmit('셀카리얼후기');"><span class="keyword-box2__num">2</span>셀카리얼후기</a></li>
										<li class="keyword-box2__item"><a class="keyword-box2__link" href="javascript:$.fnSearchSubmit('눈성형');"><span class="keyword-box2__num">3</span>눈성형</a></li>
									</ul>
								</li>
							</ul>
							<ul class="keyword-box2__list recommended">
								<li class="keyword-box2__group">
									<ul class="keyword-box2__list2">
										<li class="keyword-box2__item"><a class="keyword-box2__link" href="javascript:$.fnSearchSubmit('눈성형 디테일');"><em class="keyword-box2__icon">#</em>눈성형 디테일</a></li>
										<li class="keyword-box2__item"><a class="keyword-box2__link" href="javascript:$.fnSearchSubmit('모티바 재수술');"><em class="keyword-box2__icon">#</em>모티바 재수술</a></li>
										<li class="keyword-box2__item"><a class="keyword-box2__link" href="javascript:$.fnSearchSubmit('1year 안면윤곽 컨설팅');"><em class="keyword-box2__icon">#</em>1year 안면윤곽 컨설팅</a></li>
									</ul>
								</li>
								<li class="keyword-box2__group">
									<ul class="keyword-box2__list2">
										<li class="keyword-box2__item"><a class="keyword-box2__link" href="javascript:$.fnSearchSubmit('눈성형 디테일');"><em class="keyword-box2__icon">#</em>눈성형 디테일</a></li>
										<li class="keyword-box2__item"><a class="keyword-box2__link" href="javascript:$.fnSearchSubmit('모티바 재수술');"><em class="keyword-box2__icon">#</em>모티바 재수술</a></li>
										<li class="keyword-box2__item"><a class="keyword-box2__link" href="javascript:$.fnSearchSubmit('1year 안면윤곽 컨설팅');"><em class="keyword-box2__icon">#</em>1year 안면윤곽 컨설팅</a></li>
									</ul>
								</li>
							</ul>
						</div>
						<div class="search-info">
							<div class="search-info__wrap">
								<div class="search-info__group">
									<div class="search-info__box">
										<h2 class="search-info__tit">诊疗指南</h2>
										<ul class="search-info__list">
											<li class="search-info__item">
												<span class="search-info__txt">周一 ~ 周五</span>
											</li>
											<!--<li class="search-info__item">
												<span class="search-info__txt">周五</span>
												<span class="search-info__txt"></span>
											</li>-->
											<li class="search-info__item">
												<span class="search-info__txt">周六</span>
												<span class="search-info__txt">09:30~16:00</span>
												<span class="search-info__txt type-block">(3/16, 4/20, 5/18, 6/15, 7/20 休诊)</span>
											</li>
										</ul>
									</div>
									<div class="search-info__box">
										<h2 class="search-info__tit">客户商谈电话</h2>
										<ul class="search-info__list">
											<li class="search-info__item"><a class="search-info__link" href="tel:400-631-6508">400. 631. 65088</a></li>
											<li class="search-info__item"><a class="search-info__link" href="tel:+82-2-564-6508">+82. 2. 564. 6508</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="search-info__addr">
								<span>首尔市江南区论岘路517</span>
								<em>.</em>
								<span>2号线驿三站6号出口直走100米</span>
							</div>
						</div> <!-- //infoWrapper -->
					</div> <!-- //search_container -->
				</div>  <!-- //search_inner -->
			</div> <!-- //inner searchWrapper -->
			<div class="header__logo">
				<a href="../main/main.html" class="header__logo-link">logo</a>
			</div>
			<div class="header__wrap">
				<div class="gnb">
					<h2 class="gnb__tit"><span>Main Menu</span></h2>
					<ul class="gnb__depth1-list">
						<!-- 전체메뉴 -->
						<li class="gnb__all">
							<span class="gnb__all-tit">All</span>
							<a href="#" class="gnb__all-wrap js-all-menu">
								<span class="gnb__all-line"></span>
							</a>
							<div class="gnb__depth2-wrap type-all">
								<div class="gnb__depth2-align">
									<div class="total__depth-scroll">
										<ul class="total__depth1-list">
											<li class="total__depth1-item">
												<a href="../contour/contour_detail.html" class="total__depth1-link">轮廓</a>
												<ul class="total__depth2-list">
													<li class="total__depth2-item">
														<a href="../contour/contour_detail.html" class="total__depth2-link">佰诺佰琪 轮廓整形 详情</a>
													</li>
													<li class="total__depth2-item">
														<a href="../contour/contour_square.html" class="total__depth2-link">下颌角</a>
													</li>
													<li class="total__depth2-item">
														<a href="../contour/contour_cheek.html" class="total__depth2-link">颧骨手术</a>
													</li>
													<li class="total__depth2-item">
														<a href="../contour/contour_front.html" class="total__depth2-link">下巴手术</a>
													</li>
													<li class="total__depth2-item">
														<a href="../contour/contour_brow.html" class="total__depth2-link">额头整形</a>
													</li>
													<li class="total__depth2-item">
														<a href="../contour/contour_bimaxillary.html" class="total__depth2-link">双鄂手术</a>
													</li>
													<li class="total__depth2-item">
														<a href="../contour/contour_case.html" class="total__depth2-link">不同类型的双鄂手术</a>
													</li>
													<li class="total__depth2-item">
														<a href="../contour/contour_protrusion.html" class="total__depth2-link">凸嘴手术</a>
													</li>
													<li class="total__depth2-item">
														<a href="../contour/contour_slimface.html" class="total__depth2-link">去除面部赘肉</a>
													</li>
												</ul>
											</li>
											<li class="total__depth1-item">
												<a href="../body/body_detail.html" class="total__depth1-link">身体</a>
												<ul class="total__depth2-list">
													<li class="total__depth2-item">
														<a href="../body/body_detail.html" class="total__depth2-link">佰诺佰琪身体整形的细节</a>
													</li>
													<li class="total__depth2-item">
														<a href="../body/body_fat.html" class="total__depth2-link">全身吸脂</a>
													</li>
													<li class="total__depth2-item">
														<a href="../body/body_partfat.html" class="total__depth2-link">各部位吸脂</a>
													</li>
													<li class="total__depth2-item">
														<a href="../body/body_dual.html" class="total__depth2-link">双重瘦身</a>
													</li>
													<li class="total__depth2-item">
														<a href="../body/body_lifting.html" class="total__depth2-link">身体提拉</a>
													</li>
												</ul>
											</li>
											<li class="total__depth1-item">
												<a href="../chest/chest_detail.html" class="total__depth1-link">胸部</a>
												<ul class="total__depth2-list">
													<li class="total__depth2-item">
														<a href="../chest/chest_detail.php" class="total__depth2-link">佰诺佰琪胸部整形的细节化</a>
													</li>
													<li class="total__depth2-item">
														<a href="../chest/chest_extension.html" class="total__depth2-link">丰胸手术</a>
													</li>
													<li class="total__depth2-item">
														<a href="../chest/chest_reduction.html" class="total__depth2-link">胸部缩小术</a>
													</li>
													<li class="total__depth2-item">
														<a href="http://motiva.chinabanobagi.com/chest2.php" class="total__depth2-link" target="_blank">魔滴假体</a>
													</li>
												</ul>
											</li>
											<li class="total__depth1-item">
												<a href="../eye/eye_detail.html" class="total__depth1-link">眼部</a>
												<ul class="total__depth2-list">
													<li class="total__depth2-item">
														<a href="../eye/eye_detail.html" class="total__depth2-link">佰诺佰琪细节型眼部整形</a>
													</li>
													<li class="total__depth2-item">
														<a href="../eye/eye_double.html" class="total__depth2-link">非切开自然流畅双眼皮</a>
													</li>
													<li class="total__depth2-item">
														<a href="../eye/eye_incisional.html" class="total__depth2-link">切开法双眼皮</a>
													</li>
													<li class="total__depth2-item">
														<a href="../eye/eye_middleage.html" class="total__depth2-link">中年眼部整形</a>
													</li>
													<li class="total__depth2-item">
														<a href="../eye/eye_correction.html" class="total__depth2-link">眼肌矫正</a>
													</li>
													<li class="total__depth2-item">
														<a href="../eye/eye_relocation.html" class="total__depth2-link">眼底脂肪再配置</a>
													</li>
													<li class="total__depth2-item">
														<a href="../eye/eye_opening.html" class="total__depth2-link">眼角整形手术</a>
													</li>
												</ul>
											</li>
										</ul>
										<ul class="total__depth1-list">
											<li class="total__depth1-item">
												<a href="../nose/nose_detail.html" class="total__depth1-link">鼻部</a>
												<ul class="total__depth2-list">
													<li class="total__depth2-item">
														<a href="../nose/nose_detail.html" class="total__depth2-link">佰诺佰琪细节型鼻部整形</a>
													</li>
													<li class="total__depth2-item">
														<a href="../nose/nose_low.html" class="total__depth2-link">塌鼻</a>
													</li>
													<li class="total__depth2-item">
														<a href="../nose/nose_casetype.html" class="total__depth2-link">不同类型的鼻部整形</a>
													</li>
													<li class="total__depth2-item">
														<a href="../nose/nose_reduction.html" class="total__depth2-link">大鼻缩小术</a>
													</li>
												</ul>
											</li>
											<li class="total__depth1-item">
												<a href="../wrinkle/wrinkle_detail.html" class="total__depth1-link">童颜</a>
												<ul class="gnb__depth2-list">
													<li class="gnb__depth2-item nth-1">
														<a href="../wrinkle/wrinkle_detail.html" class="gnb__depth2-link">佰诺佰琪童颜整形</a>
													</li>
													<li class="gnb__depth2-item nth-1">
														<a href="../wrinkle/wrinkle_elastic.html" class="gnb__depth2-link">弹力胶带提拉</a>
													</li>
												</ul>
											</li>
											<li class="total__depth1-item">
												<a href="../svf/svf_detail.html" class="total__depth1-link">干细胞</a>
												<ul class="total__depth2-list">
													<li class="total__depth2-item">
														<a href="../svf/svf_detail.html" class="total__depth2-link">佰诺佰琪干细胞</a>
													</li>
													<li class="total__depth2-item">
														<a href="../svf/cell_transplant.html" class="total__depth2-link">干细胞脂肪填充</a>
													</li>
													<li class="total__depth2-item">
														<a href="../svf/svf_chest_extension.html" class="total__depth2-link">干细胞隆胸</a>
													</li>
												</ul>
											</li>
											<li class="total__depth1-item">
												<a href="../reoperation/reoperation_detail.html" class="total__depth1-link">修复手术</a>
												<ul class="total__depth2-list">
													<li class="total__depth2-item">
														<a href="../reoperation/reoperation_detail.html" class="total__depth2-link">佰诺佰琪修复手术</a>
													</li>
													<li class="total__depth2-item">
														<a href="../reoperation/reoperation_nose.html" class="total__depth2-link">鼻部修复手术</a>
													</li>
													<li class="total__depth2-item">
														<a href="../reoperation/reoperation_eye.html" class="total__depth2-link">眼部修复手术</a>
													</li>
													<li class="total__depth2-item">
														<a href="http://rebreast.chinabanobagi.com/chest/chest1.php" class="total__depth2-link" target="_blank">隆胸修复</a>
													</li>
													<li class="total__depth2-item">
														<a href="../reoperation/reoperation_face.html" class="total__depth2-link">轮廓修复手术</a>
													</li>
												</ul>
											</li>
										</ul>
										<ul class="total__depth1-list">
											<li class="total__depth1-item">
												<a href="../hair/hair_detail.html" class="total__depth1-link">毛发</a>
												<ul class="total__depth2-list">
													<li class="total__depth2-item">
														<a href="../hair/hair_detail.html" class="total__depth2-link">佰诺佰琪毛发移植的细节</a>
													</li>
													<li class="total__depth2-item">
														<a href="../hair/hair_man.html" class="total__depth2-link">男性毛发移植</a>
													</li>
													<li class="total__depth2-item">
														<a href="../hair/hair_woman.html" class="total__depth2-link">女性毛发移植</a>
													</li>
												</ul>
											</li>

											<li class="total__depth1-item">
												<a href="../special/special_detail.html" class="total__depth1-link">特殊整形</a>
												<ul class="total__depth2-list">
													<li class="total__depth2-item">
														<a href="../special/special_detail.html" class="total__depth2-link">佰诺佰琪特殊整形</a>
													</li>
													<li class="total__depth2-item">
														<a href="../special/special_artecoll.html" class="total__depth2-link">半永久玻尿酸爱贝芙</a>
													</li>
													<li class="total__depth2-item">
														<a href="../special/special_design.html" class="total__depth2-link">设计玻尿酸</a>
													</li>
												</ul>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<!-- //전체메뉴 -->
						<li class="gnb__depth1-item" data-title-en="Face Contour">
							<a href="../contour/contour_detail.html" class="gnb__depth1-link">轮廓</a>
							<div class="gnb__depth2-wrap">
								<div class="gnb__depth2-align">
									<div class="gnb__depth2-box type-img">
										<div class="gnb__depth2-img gnb__full-img">
											<a href="/program/program_face.php" target="_blank"><img src="http://www.chinabanobagi.com/upload/gnbpick/full_5cc16b8761020.jpg" alt=""></a>
										</div>
										<div class="gnb__depth2-img gnb__mini-img">
											<a href="/program/program_face.php" target="_blank"><img src="http://www.chinabanobagi.com/upload/gnbpick/1800_5cc16b8761541.jpg" alt=""></a>
										</div>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
												<li class="gnb__depth2-item nth-1 is-active"><a href="../contour/contour_detail.html" class="gnb__depth2-link">佰诺佰琪 轮廓整形 详情</a></li>
												<li class="gnb__depth2-item nth-1"><a href="../contour/contour_square.html" class="gnb__depth2-link">下颌角</a></li>
												<li class="gnb__depth2-item nth-1"><a href="../contour/contour_cheek.html" class="gnb__depth2-link">颧骨手术</a></li>
												<li class="gnb__depth2-item nth-1"><a href="../contour/contour_front.html" class="gnb__depth2-link">下巴手术</a></li>
												<li class="gnb__depth2-item nth-1"><a href="../contour/contour_brow.html" class="gnb__depth2-link">额头整形</a></li>
												<li class="gnb__depth2-item nth-1"><a href="../contour/contour_bimaxillary.html" class="gnb__depth2-link">双鄂手术</a></li>
												<li class="gnb__depth2-item nth-1"><a href="../contour/contour_case.html" class="gnb__depth2-link">不同类型的双鄂手术</a></li>
												<li class="gnb__depth2-item nth-1"><a href="../contour/contour_protrusion.html" class="gnb__depth2-link">凸嘴手术</a></li>
											</ul>
										</div>
										<div class="gnb__depth2-box">
											<ul class="gnb__depth2-list">
												<li class="gnb__depth2-item nth-1"><a href="../contour/contour_slimface.html" class="gnb__depth2-link">去除面部赘肉</a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<!-- //윤곽 -->

						<li class="gnb__depth1-item">
							<a href="../body/body_detail.html" class="gnb__depth1-link">身体</a>
							<div class="gnb__depth2-wrap">
								<div class="gnb__depth2-align">
									<div class="gnb__depth2-box type-img">
										<div class="gnb__depth2-img owl-carousel gnb__full-img">
											<a href="" target="_blank"><img src="../../images/common/gnb/gnb_full1.jpg" alt=""></a>
										</div>
										<div class="gnb__depth2-img owl-carousel gnb__mini-img">
											<a href="" target="_blank"><img src="../../images/common/gnb/gnb_mini.jpg" alt=""></a>
										</div>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1"><a href="../body/body_detail.html" class="gnb__depth2-link">佰诺佰琪身体整形的细节</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../body/body_fat.html" class="gnb__depth2-link">全身吸脂</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../body/body_partfat.html" class="gnb__depth2-link">各部位吸脂</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../body/body_dual.html" class="gnb__depth2-link">双重瘦身</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../body/body_lifting.html" class="gnb__depth2-link">身体提拉</a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<!-- //바디 -->
						<li class="gnb__depth1-item">
							<a href="../chest/chest_detail.html" class="gnb__depth1-link">胸部</a>
							<div class="gnb__depth2-wrap">
								<div class="gnb__depth2-align">
									<div class="gnb__depth2-box type-img">
										<div class="gnb__depth2-img owl-carousel gnb__full-img">
											<a href="" target="_blank"><img src="../../images/common/gnb/gnb_full1.jpg" alt=""></a>
										</div>
										<div class="gnb__depth2-img owl-carousel gnb__mini-img">
											<a href="" target="_blank"><img src="" alt=""></a>
										</div>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1"><a href="../chest/chest_detail.html" class="gnb__depth2-link">佰诺佰琪胸部整形的细节化</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../chest/chest_extension.html" class="gnb__depth2-link">丰胸手术</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../chest/chest_reduction.html" class="gnb__depth2-link">胸部缩小术</a></li>
											<li class="gnb__depth2-item nth-1"><a href="http://motiva.chinabanobagi.com/chest2.php" class="gnb__depth2-link" target="_blank">魔滴假体</a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<!-- //가슴-->
						<li class="gnb__depth1-item">
							<a href="" class="gnb__depth1-link">眼部</a>
							<div class="gnb__depth2-wrap">
								<div class="gnb__depth2-align">
									<div class="gnb__depth2-box type-img">
										<div class="gnb__depth2-img owl-carousel gnb__full-img">
											<a href="" target="_blank"><img src="../../images/common/gnb/gnb_full1.jpg" alt=""></a>
										</div>
										<div class="gnb__depth2-img owl-carousel gnb__mini-img">
											<a href="" target="_blank"><img src="" alt=""></a>
										</div>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1"><a href="/eye/eye_detail.php" class="gnb__depth2-link">佰诺佰琪细节型眼部整形</a></li>
											<li class="gnb__depth2-item nth-1"><a href="/eye/eye_double.php" class="gnb__depth2-link">非切开自然流畅双眼皮</a></li>
											<li class="gnb__depth2-item nth-1"><a href="/eye/eye_incisional.php" class="gnb__depth2-link">切开法双眼皮</a></li>
											<li class="gnb__depth2-item nth-1"><a href="/eye/eye_middleage.php" class="gnb__depth2-link">中年眼部整形</a></li>
											<li class="gnb__depth2-item nth-1"><a href="/eye/eye_correction.php" class="gnb__depth2-link">眼肌矫正</a></li>
											<li class="gnb__depth2-item nth-1"><a href="/eye/eye_relocation.php" class="gnb__depth2-link">眼底脂肪再配置</a></li>
											<li class="gnb__depth2-item nth-1"><a href="/eye/eye_opening.php" class="gnb__depth2-link">眼角整形手术</a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<!-- //눈 -->
						<li class="gnb__depth1-item">
							<a href="../nose/nose_detail.html" class="gnb__depth1-link">鼻部</a>
							<div class="gnb__depth2-wrap">
								<div class="gnb__depth2-align">
									<div class="gnb__depth2-box type-img">
										<div class="gnb__depth2-img owl-carousel gnb__full-img">
											<a href="" target="_blank"><img src="../../images/common/gnb/gnb_full1.jpg" alt=""></a>
										</div>
										<div class="gnb__depth2-img owl-carousel gnb__mini-img">
											<a href="" target="_blank"><img src="" alt=""></a>
										</div>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1"><a href="../nose/nose_detail.html" class="gnb__depth2-link">佰诺佰琪细节型鼻部整形</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../nose/nose_low.html" class="gnb__depth2-link">塌鼻</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../nose/nose_casetype.html" class="gnb__depth2-link">不同类型的鼻部整形</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../nose/nose_reduction.html" class="gnb__depth2-link">大鼻缩小术</a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<!-- //코 -->
						<li class="gnb__depth1-item">
							<a href="../wrinkle/wrinkle_detail.html" class="gnb__depth1-link">童颜</a>
							<div class="gnb__depth2-wrap">
								<div class="gnb__depth2-align">
									<div class="gnb__depth2-box type-img">
										<div class="gnb__depth2-img owl-carousel gnb__full-img">
											<a href="" target="_blank"><img src="../../images/common/gnb/gnb_full1.jpg" alt=""></a>
										</div>
										<div class="gnb__depth2-img owl-carousel gnb__mini-img">
											<a href="" target="_blank"><img src="" alt=""></a>
										</div>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1"><a href="../wrinkle/wrinkle_detail.html" class="gnb__depth2-link">佰诺佰琪童颜整形</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../wrinkle/wrinkle_elastic.html" class="gnb__depth2-link">弹力胶带提拉</a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<!-- //동안 -->
						<li class="gnb__depth1-item">
							<a href="../svf/svf_detail.html" class="gnb__depth1-link">干细胞</a>
							<div class="gnb__depth2-wrap">
								<div class="gnb__depth2-align">
									<div class="gnb__depth2-box type-img">
										<div class="gnb__depth2-img owl-carousel gnb__full-img">
											<a href="" target="_blank"><img src="../../images/common/gnb/gnb_full1.jpg" alt=""></a>
										</div>
										<div class="gnb__depth2-img owl-carousel gnb__mini-img">
											<a href="" target="_blank"><img src="" alt=""></a>
										</div>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1"><a href="../svf/svf_detail.html" class="gnb__depth2-link">佰诺佰琪干细胞</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../svf/cell_transplant.html" class="gnb__depth2-link">干细胞脂肪填充</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../svf/svf_chest_extension.html" class="gnb__depth2-link">干细胞隆胸</a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<!-- //줄기세포 -->
						<li class="gnb__depth1-item">
							<a href="../reoperation/reoperation_detail.html" class="gnb__depth1-link">修复手术</a>
							<div class="gnb__depth2-wrap">
								<div class="gnb__depth2-align">
									<div class="gnb__depth2-box type-img">
										<div class="gnb__depth2-img owl-carousel gnb__full-img">
											<a href="" target="_blank"><img src="../../images/common/gnb/gnb_full1.jpg" alt=""></a>
										</div>
										<div class="gnb__depth2-img owl-carousel gnb__mini-img">
											<a href="" target="_blank"><img src="" alt=""></a>
										</div>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1"><a href="../reoperation/reoperation_detail.html" class="gnb__depth2-link">佰诺佰琪修复手术</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../reoperation/reoperation_nose.html" class="gnb__depth2-link">鼻部修复手术</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../reoperation/reoperation_eye.html" class="gnb__depth2-link">眼部修复手术</a></li>
											<li class="gnb__depth2-item nth-1"><a href="http://rebreast.chinabanobagi.com/chest/chest1.php" class="gnb__depth2-link" target="_blank">隆胸修复</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../reoperation/reoperation_face.html" class="gnb__depth2-link">轮廓修复手术</a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<!-- //재수술 -->
						<li class="gnb__depth1-item js-open-d js-open-menu js-open-all" data-title-en="HAIR">
							<a href="../hair/hair_detail.html" class="gnb__depth1-link">毛发</a>
							<div class="gnb__depth2-wrap">
								<div class="gnb__depth2-align">
									<div class="gnb__depth2-box type-img">
										<div class="gnb__depth2-img gnb__full-img">
											<a href="/hair/hairDetail.php"><img src="http://www.chinabanobagi.com/upload/gnbpick/full_5cb04709a0ba3.jpg" alt=""></a>
										</div>
										<div class="gnb__depth2-img gnb__mini-img">
											<a href="/hair/hairDetail.php"><img src="http://www.chinabanobagi.com/upload/gnbpick/1800_5cb04709a0c7b.jpg" alt=""></a>
										</div>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1"><a href="../hair/hair_detail.html" class="gnb__depth2-link">佰诺佰琪毛发移植的细节</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../hair/hair_man.html" class="gnb__depth2-link">男性毛发移植</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../hair/hair_woman.html" class="gnb__depth2-link">女性毛发移植</a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<!-- //모발이식 -->
						<li class="gnb__depth1-item">
							<a href="../special/special_detail.html" class="gnb__depth1-link">特殊整形</a>
							<div class="gnb__depth2-wrap">
								<div class="gnb__depth2-align">
									<div class="gnb__depth2-box type-img">
										<div class="gnb__depth2-img owl-carousel gnb__full-img">
											<a href="" target="_blank"><img src="../../images/common/gnb/gnb_full1.jpg" alt=""></a>
										</div>
										<div class="gnb__depth2-img owl-carousel gnb__mini-img">
											<a href="" target="_blank"><img src="" alt=""></a>
										</div>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1"><a href="../special/special_detail.html" class="gnb__depth2-link">佰诺佰琪特殊整形</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../special/special_artecoll.html" class="gnb__depth2-link">半永久玻尿酸爱贝芙</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../special/special_design.html" class="gnb__depth2-link">设计玻尿酸</a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<!-- //스폐셜 -->
						<li class="gnb__depth1-item type-bano type-another">
							<a href="" class="gnb__depth1-link">佰诺佰琪</a>
							<div class="gnb__depth2-wrap">
								<div class="gnb__depth2-align">
									<div class="gnb__depth2-box type-img">
										<div class="gnb__depth2-img gnb__full-img">
											<a href="/introduce/introduceMedical.php"><img src="http://www.chinabanobagi.com/upload/gnbpick/full_5cc16e3638ac8.jpg" alt=""></a>
										</div>
										<div class="gnb__depth2-img gnb__mini-img">
											<a href="/introduce/introduceMedical.php"><img src="http://www.chinabanobagi.com/upload/gnbpick/1800_5cc16e3638fed.jpg" alt=""></a>
										</div>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1"><a href="../introduce/introduce_banobagi.html" class="gnb__depth2-link">佰诺佰琪介绍</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../introduce/introduce_medical.html" class="gnb__depth2-link">医疗专家介绍</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../introduce/introduce_map.html" class="gnb__depth2-link">诊疗指南/来访路线</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../introduce/introduce_history.html" class="gnb__depth2-link">佰诺佰琪历史</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../introduce/introduce_tour.html" class="gnb__depth2-link">环视佰诺佰琪</a></li>
											<li class="gnb__depth2-item nth-1 type-3depth"><a href="../introduce/news_list.html" class="gnb__depth2-link">媒体报道的佰诺佰琪<span class="gnb__btn">open/close</span></a>
												<ul class="gnb__depth3-list">
													<li class="gnb__depth3-item">
														<a href="../introduce/news_list.html" class="gnb__depth3-link">News</a>
													</li>
													<li class="gnb__depth3-item">
														<a href="../introduce/media.html" class="gnb__depth3-link">Media</a>
													</li>
												</ul>
											</li>
										</ul>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1"><a href="../introduce/introduce_live.html" class="gnb__depth2-link">佰诺佰琪 LIVE</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../introduce/academic_list.html" class="gnb__depth2-link">学术交流</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../introduce/society_list.html" class="gnb__depth2-link">社会贡献</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../introduce/rapid.html" class="gnb__depth2-link">快速恢复 - 自我护理</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../program/program_list.html" class="gnb__depth2-link">推荐项目</a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<!-- //바노바기 -->
						<li class="gnb__depth1-item type-review type-another">
							<a href="../review/epilogue_list.html" class="gnb__depth1-link">Review</a>
							<div class="gnb__depth2-wrap">
								<div class="gnb__depth2-align">
									<div class="gnb__depth2-box type-img">
										<div class="gnb__depth2-img owl-carousel gnb__full-img">
											<a href="" target="_blank"><img src="../../images/common/gnb/gnb_full1.jpg" alt=""></a>
										</div>
										<div class="gnb__depth2-img owl-carousel gnb__mini-img">
											<a href="" target="_blank"><img src="../../images/common/gnb/gnb_mini.jpg" alt=""></a>
										</div>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1"><a href="../review/epilogue_list.html" class="gnb__depth2-link">生动的整形后记</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../review/photo_gallery.html" class="gnb__depth2-link">相册</a></li>
										</ul>
									</div>
									<div class="gnb__depth2-box type-review">
										<div class="gnb-slide2 owl-carousel">
											<div class="gnb-review">
												<ul class="gnb-review__list">
													<li class="gnb-review__item">
														<img src="../../images/common/gnb/review_icon1.png" alt="">
														<p class="gnb-review__tit">모티바 재수술</p>
														<a href="" class="gnb-review__link">Go</a>
													</li>
													<li class="gnb-review__item">
														<img src="../../images/common/gnb/review_icon2.png" alt="">
														<p class="gnb-review__tit">탄력밴드 리프팅</p>
														<a href="" class="gnb-review__link">Go</a>
													</li>
													<li class="gnb-review__item">
														<img src="../../images/common/gnb/review_icon3.png" alt="">
														<p class="gnb-review__tit">모티바</p>
														<a href="" class="gnb-review__link">Go</a>
													</li>
													<li class="gnb-review__item">
														<img src="../../images/common/gnb/review_icon4.png" alt="">
														<p class="gnb-review__tit">안티에이징</p>
														<a href="" class="gnb-review__link">Go</a>
													</li>
												</ul>
											</div>
											<div class="gnb-review">
												<ul class="gnb-review__list">
													<li class="gnb-review__item">
														<img src="../../images/common/gnb/review_icon1.png" alt="">
														<p class="gnb-review__tit">모티바 재수술</p>
														<a href="" class="gnb-review__link">Go</a>
													</li>
													<li class="gnb-review__item">
														<img src="../../images/common/gnb/review_icon2.png" alt="">
														<p class="gnb-review__tit">탄력밴드 리프팅</p>
														<a href="" class="gnb-review__link">Go</a>
													</li>
													<li class="gnb-review__item">
														<img src="../../images/common/gnb/review_icon3.png" alt="">
														<p class="gnb-review__tit">모티바</p>
														<a href="" class="gnb-review__link">Go</a>
													</li>
													<li class="gnb-review__item">
														<img src="../../images/common/gnb/review_icon4.png" alt="">
														<p class="gnb-review__tit">안티에이징</p>
														<a href="" class="gnb-review__link">Go</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</li>
						<!-- //바노바기 -->
					</ul>
				</div><!-- //gnb -->
			</div>
			<div class="header__right">
				<div class="snb">
					<ul class="snb__list">
						<li class="snb__item type-bano"><a href="#" class="snb__link1 js-bano-link">佰诺佰琪</a></li>
						<li class="snb__item type-review"><a href="" class="snb__link1 js-review-link">Review</a></li>
						<li class="snb__item type-phone">
							<div class="snb__wrap">
								Call for consultation
							</div>
							<a href="tel:+82-2-522-6636" class="snb__link2">Call</a>
						</li>
						<!--<li class="snb__item type-login">
							<a href="" class="snb__link1 js-login-open"><span class="snb__border">로그인</span></a>
						</li>-->
						<li class="snb__item type-consultation">
							<div class="snb__wrap">
								<span class="consultation-icon">Icon</span>
								<span class="snb__wrap-consultation">
									<span class="snb__wrap-bg">点击咨询</span>
								</span>
							</div>
							<a href="" class="snb__link2 js-c-open">Go</a>
						</li>
						<li class="snb__item type-search"><a href="#" class="snb__link2 js-search">search</a></li>
						<li class="snb__item type-global">
							<a href="" class="snb__link2 js-global">global</a>
							<ul class="global__list">
								<li class="global__item nth-2"><a href="http://www.chinabanobagi.com" target="_blank" class="global__link">CN</a></li>
								<li class="global__item nth-1"><a href="https://www.banobagi.com" target="_blank" class="global__link">KR</a></li>
								<li class="global__item nth-6"><a href="http://www.engbanobagi.com" class="global__link">EN</a></li>
								<li class="global__item nth-3"><a href="http://www.thailandbanobagi.com" target="_blank" class="global__link">TH</a></li>
								<li class="global__item nth-5"><a href="http://www.vnbanobagi.com" target="_blank" class="global__link">VN</a></li>
								<li class="global__item nth-9"><a href="http://www.indonesiabanobagi.com" target="_blank" class="global__link">ID</a></li>
								<li class="global__item nth-7"><a href="http://www.japanbanobagi.com" target="_blank" class="global__link">JP</a></li>
								<li class="global__item nth-8"><a href="http://www.rubanobagi.com" target="_blank" class="global__link">RU</a></li>
								<li class="global__item nth-4"><a href="http://www.mglbanobagi.com" target="_blank" class="global__link">MN</a></li>
							</ul>
						</li>
						<li class="snb__item type-close">
							<a href="" class="snb__link2 js-intro-close">Close</a>
						</li>
					</ul>
				</div>
			</div><!-- //header__right-->

			<div class="header-search">
				<form id="seearchForm" name="seearchForm" class="form-inline" method="post" action="https://www.banobagi.com/searchResult.php">
					<input type="hidden" name="isFirstSearch" value="Y">
					<input type="hidden" name="inputSearch" id="gnbHiddenInputSearch">
					<div class="header-search__box">
						<div class="header-search__group animated fadeInRight">
							<button type="submit" class="header-search__btn type-submit">검색</button>
							<label class="sr-only" for="keyword">검색</label>
							<input type="text" class="header-search__input" name="keyword" id="keyword" autocomplete="off" placeholder="Search" required="">
						</div>
						<button type="button" class="header-search__btn type-close js-search-close"><img src="../../images/common/search_icon.png" alt="검색닫기"></button>
					</div> <!-- //header-search__box -->
				</form>
				<div class="keyword-box">
					<ul class="keyword-tab">
						<li class="keyword-tab__item is-active nth-1 js-keyord-link" data-tab="popular">人气搜索词</li>
						<li class="keyword-tab__item nth-2 js-keyord-link" data-tab="recommended">推荐搜索词</li>
					</ul>
					<ul class="keyword-box__list is-active popular">
						<li class="keyword-box__item"><a class="keyword-box__link" href="javascript:$.fnSearchSubmit('렛미인성형외과');"><span class="keyword-box__num">1</span>렛미인성형외과</a></li>
						<li class="keyword-box__item"><a class="keyword-box__link" href="javascript:$.fnSearchSubmit('셀카리얼후기');"><span class="keyword-box__num">2</span>셀카리얼후기</a></li>
						<li class="keyword-box__item"><a class="keyword-box__link" href="javascript:$.fnSearchSubmit('눈성형');"><span class="keyword-box__num">3</span>눈성형</a></li>
						<li class="keyword-box__item"><a class="keyword-box__link" href="javascript:$.fnSearchSubmit('코성형');"><span class="keyword-box__num">4</span>코성형</a></li>
						<li class="keyword-box__item"><a class="keyword-box__link" href="javascript:$.fnSearchSubmit('안면윤곽');"><span class="keyword-box__num">5</span>안면윤곽</a></li>
						<li class="keyword-box__item"><a class="keyword-box__link" href="javascript:$.fnSearchSubmit('가슴성형');"><span class="keyword-box__num">6</span>가슴성형</a></li>
					</ul>
					<ul class="keyword-box__list recommended">
						<li class="keyword-box__item"><a class="keyword-box__link" href="javascript:$.fnSearchSubmit('눈성형 디테일');"><em class="keyword-box__icon">#</em>눈성형 디테일</a></li>
						<li class="keyword-box__item"><a class="keyword-box__link" href="javascript:$.fnSearchSubmit('모티바 재수술');"><em class="keyword-box__icon">#</em>모티바 재수술</a></li>
						<li class="keyword-box__item"><a class="keyword-box__link" href="javascript:$.fnSearchSubmit('1year 안면윤곽 컨설팅');"><em class="keyword-box__icon">#</em>1year 안면윤곽 컨설팅</a></li>
						<li class="keyword-box__item"><a class="keyword-box__link" href="javascript:$.fnSearchSubmit('비절개 탄력밴드 리프팅');"><em class="keyword-box__icon">#</em>비절개 탄력밴드 리프팅</a></li>
						<li class="keyword-box__item"><a class="keyword-box__link" href="javascript:$.fnSearchSubmit('복합 콧볼축소');"><em class="keyword-box__icon">#</em>복합 콧볼축소</a></li>
						<li class="keyword-box__item"><a class="keyword-box__link" href="javascript:$.fnSearchSubmit('비절골 안면윤곽');"><em class="keyword-box__icon">#</em>비절골 안면윤곽</a></li>
					</ul>
				</div>
			</div><!-- header-search -->

			<!--레이어팝업 로그인 -->
			<% include ../_include/_login %>
			<!--//레이어팝업 로그인 -->
		</div><!--header-->
		<div class="quick-menu">
			<ul class="quick-menu__list">
				<li class="quick-menu__item">
					<div class="quick-menu__box">
						<img src="../../images/common/wow.png" alt="상담신청" class="hidden-tm">
						<img src="../../images/common/wow_t.png" alt="상담신청" class="hidden-pm">
						<img src="../../images/common/wow_m.png" alt="상담신청" class="hidden-pt">
					</div>
					<a href="../../program" class="quick-menu__link">바로가기</a>
				</li>
				<li class="quick-menu__item">
					<a href="#" class="scroll-top">
				        <span class="scroll-top__progress">
							<span class="scroll-top__arrow"></span>
				        </span>
				    </a>
				</li>
			</ul>
		</div>
		<!-- //gnb-->
	<!-- //header끝 -->
<!-- section시작 -->
