<!--lnb시작 -->
<div class="dim type-lnb">딤처리</div>
<% if (type == "content") { %>
	<div class="lnb type-3depth type-content"><!-- 3depth 이용시 type-3depth-->
<% }else{ %>
	<div class="lnb"><!-- 3depth 이용시 type-3depth-->
<% } %>
	<div class="lnb__wrap">
		<ul class="lnb__list">
			<li class="lnb__item type-home">
				<a href="" class="lnb__link">home</a>
			</li>
			<li class="lnb__item">
				<a href="" class="lnb__link">轮廓</a>
			</li>
			<li class="lnb__item type-active">
				<a href="../contour/contour_detail.html" class="lnb__link js-lnb">
					<span class="lnb__bar">bar</span>
					바노바기 윤곽성형 디테일
					<span class="lnb__caret"><i class="fa fa-angle-down"></i></span>
				</a>
				<ul class="lnb__2depth-list">
					<li class="lnb__2depth-item"><a href="../contour/contour_detail.html" class="lnb__2depth-link">바노바기 윤곽성형 디테일</a></li>
					<li class="lnb__2depth-item"><a href="../contour/contour_square.html" class="lnb__2depth-link">사각턱</a></li>
					<li class="lnb__2depth-item"><a href="../contour/contour_cheek.html" class="lnb__2depth-link">광대수술</a></li>
					<li class="lnb__2depth-item"><a href="../contour/contour_front.html" class="lnb__2depth-link">앞턱수술</a></li>
					<li class="lnb__2depth-item"><a href="../contour/contour_brow.html" class="lnb__2depth-link">이마성형</a></li>
				</ul>
			</li>
		</ul>
	</div>
</div><!-- //lnb-->
<!--//lnb끝-->
