<!-- 개인정보 수집 및 이용 동의 -->
<div class="terms__txt">
	<p><strong>마케팅 활용 동의</strong></p><br>
  본원은 위 개인정보의 수집, 이용에 동의하신 회원의 개인정보를 보유기간 동안 성형정보, 이벤트 안내 등 마케팅 및 광고에 활용하고자 합니다.<br><br>
   <strong>◇ 마케팅 및 광고 활용에 동의하지 않으셔도 상담신청 및 서비스 제공에 제한이 없으나, 미동의시 성형정보, 이벤트 안내 등을 받으실 수 없습니다.</strong>
</div>
<!-- //개인정보 수집 및 이용 동의 -->
