<%
	type = "sitemap"
	page = "sitemap"
%>
<% include ../_include/_header %>

<div class="container">
	<div class="container__top">
		<h2 class="container__tit">SITEMAP</h2>
	</div>

	<div class="container__wrap type-sitemap">
    	<div class="guidance">
        <dl class="guidance__box guidance-control1">
            <dt class="guidance__category--1th general__tit--sub js-open-site"><span class="guidance__tit--sub">BANOBAGI</span></dt>
            <dd class="guidance__category--2nd">
                <ul class="index clearfix">
                    <li class="index__item">
                        <div class="index__box">
                            <a href="http://renewal.engbanobagi.com/introduce/introduceBanobagi.php" class="index__name general__txt1">Introduction for BANOBAGI</a>
                        </div>
                    </li>
                    <li class="index__item">
                        <div class="index__box">
                            <a href="http://renewal.engbanobagi.com/introduce/introduceMedical.php" class="index__name general__txt1">Medical Staff Introduction</a>
                        </div>
                    </li>
                    <li class="index__item">
                        <div class="index__box">
                            <a href="http://renewal.engbanobagi.com/introduce/introduceMap.php" class="index__name general__txt1">Working Hours / Directions</a>
                        </div>
                    </li>
                    <li class="index__item">
                        <div class="index__box">
                            <a href="#1" class="index__name general__txt1">BANOBAGI on Press</a>
                            <ul class="index__press--2nd">
                                <li class="index__name--small">
                                    <a href="http://renewal.engbanobagi.com/introduce/introduceNewsList.php" class="index__name--link general__txt2">NEWS</a>
                                </li>
                                <li class="index__name--small">
                                    <a href="http://renewal.engbanobagi.com/introduce/introduceMedia.php" class="index__name--link general__txt2">MEDIA</a>
                                </li>
                            </ul>

                        </div>
                    </li>
                    <li class="index__item">
                        <div class="index__box">
                            <a href="http://renewal.engbanobagi.com/introduce/introduceLive.php" class="index__name general__txt1">BANOBAGI Story</a>
                        </div>
                    </li>
                    <li class="index__item">
                        <div class="index__box">
                            <a href="http://renewal.engbanobagi.com/introduce/introduceAcademicList.php" class="index__name general__txt1">Academic exchange</a>
                        </div>
                    </li>
                    <li class="index__item">
                        <div class="index__box">
                            <a href="http://renewal.engbanobagi.com/introduce/introduceSocietyList.php" class="index__name general__txt1">Social Contribution</a>
                        </div>
                    </li>
                    <li class="index__item">
                        <div class="index__box">
                            <a href="http://renewal.engbanobagi.com/program/index.php" class="index__name general__txt1">Promotion</a>
                        </div>
                    </li>
                </ul>
            </dd>
        </dl>
        <dl class="guidance__box guidance-control1">
            <dt class="guidance__category--1th general__tit--sub js-open-site"><span class="guidance__tit--sub">Review</span></dt>
            <dd class="guidance__category--2nd">
                <ul class="index clearfix">
                    <li class="index__item">
                        <div class="index__box">
                            <a href="http://renewal.engbanobagi.com/review/photoGallery.php" class="index__name general__txt1">Photo Gallery</a>
                        </div>
                    </li>
                    <li class="index__item">
                        <div class="index__box">
                            <a href="#1" class="index__name general__txt1">Real Review</a>
                        </div>
                    </li>
                </ul>
            </dd>
        </dl>
        <dl class="guidance__box guidance-control1">
            <dt class="guidance__category--1th general__tit--sub js-open-site"><span class="guidance__tit--sub">Face Contour</span></dt>
            <dd class="guidance__category--2nd">
                <ul class="index clearfix">
                    <li class="index__item">
                        <div class="index__box">
                            <a href="#1" class="index__name general__txt1">BANOBAGI Face Contouring Detail</a>
                        </div>
                    </li>
                </ul>
            </dd>
        </dl>
        <dl class="guidance__box guidance-control1">
            <dt class="guidance__category--1th general__tit--sub js-open-site"><span class="guidance__tit--sub">Body</span></dt>
            <dd class="guidance__category--2nd">
                <ul class="index clearfix">
                    <li class="index__item">
                        <div class="index__box">
                            <a href="#1" class="index__name general__txt1">BANOBAGI Body Contouring Detail</a>
                        </div>
                    </li>
                    <li class="index__item">
                        <div class="index__box">
                            <a href="#1" class="index__name general__txt1">Full Body Liposuction</a>
                        </div>
                    </li>
                </ul>
            </dd>
        </dl>
        <dl class="guidance__box guidance-control1">
            <dt class="guidance__category--1th general__tit--sub js-open-site"><span class="guidance__tit--sub">Breast</span></dt>
            <dd class="guidance__category--2nd">
                <ul class="index clearfix">
                    <li class="index__item">
                        <div class="index__box">
                            <a href="#1" class="index__name general__txt1">BANOBAGI Breast Surgery Detail</a>
                        </div>
                    </li>
                    <li class="index__item">
                        <div class="index__box">
                            <a href="#1" class="index__name general__txt1">Motiva</a>
                        </div>
                    </li>
                </ul>
            </dd>
        </dl>
        <dl class="guidance__box guidance-control1">
            <dt class="guidance__category--1th general__tit--sub js-open-site"><span class="guidance__tit--sub">Eyes</span></dt>
            <dd class="guidance__category--2nd">
                <ul class="index clearfix">
                    <li class="index__item">
                        <div class="index__box">
                            <a href="#1" class="index__name general__txt1">BANOBAGI Double Eyelid Surgery Detail</a>
                        </div>
                    </li>
                    <li class="index__item">
                        <div class="index__box">
                            <a href="#1" class="index__name general__txt1">Non-incisional & Natural Adhesion Procedure</a>
                        </div>
                    </li>
                </ul>
            </dd>
        </dl>
        <dl class="guidance__box guidance-control1">
            <dt class="guidance__category--1th general__tit--sub js-open-site"><span class="guidance__tit--sub">Rhinoplasty</span></dt>
            <dd class="guidance__category--2nd">
                <ul class="index clearfix">
                    <li class="index__item">
                        <div class="index__box">
                            <a href="#1" class="index__name general__txt1">BANOBAGI Rhinoplasty Detail</a>
                        </div>
                    </li>
                    <li class="index__item">
                        <div class="index__box">
                            <a href="#1" class="index__name general__txt1">Short Nose</a>
                        </div>
                    </li>
                </ul>
            </dd>
        </dl>
        <dl class="guidance__box guidance-control1">
            <dt class="guidance__category--1th general__tit--sub js-open-site"><span class="guidance__tit--sub">Anti-Aging</span></dt>
            <dd class="guidance__category--2nd">
                <ul class="index clearfix">
                    <li class="index__item">
                        <div class="index__box">
                            <a href="#1" class="index__name general__txt1">BANOBAGI Anti-Aging Surgery Detail</a>
                        </div>
                    </li>
                    <li class="index__item">
                        <div class="index__box">
                            <a href="#1" class="index__name general__txt1">ELASTICUM</a>
                        </div>
                    </li>
                </ul>
            </dd>
        </dl>
        <dl class="guidance__box guidance-control1">
            <dt class="guidance__category--1th general__tit--sub js-open-site"><span class="guidance__tit--sub">Stem-Cell</span></dt>
            <dd class="guidance__category--2nd">
                <ul class="index clearfix">
                    <li class="index__item">
                        <div class="index__box">
                            <a href="#1" class="index__name general__txt1">BANOBAGI Stem-Cell Detail</a>
                        </div>
                    </li>
                </ul>
            </dd>
        </dl>
        <dl class="guidance__box guidance-control1">
            <dt class="guidance__category--1th general__tit--sub js-open-site"><span class="guidance__tit--sub">Revision Surgery</span></dt>
            <dd class="guidance__category--2nd">
                <ul class="index clearfix">
                    <li class="index__item">
                        <div class="index__box">
                            <a href="#1" class="index__name general__txt1">BANOBAGI Revision Detail</a>
                        </div>
                    </li>
                    <li class="index__item">
                        <div class="index__box">
                            <a href="#1" class="index__name general__txt1">Breast Revision Surgery</a>
                        </div>
                    </li>
                </ul>
            </dd>
        </dl>
        <dl class="guidance__box guidance-control1">
            <dt class="guidance__category--1th general__tit--sub js-open-site"><span class="guidance__tit--sub">Special</span></dt>
            <dd class="guidance__category--2nd">
                <ul class="index clearfix">
                    <li class="index__item">
                        <div class="index__box">
                            <a href="#1" class="index__name general__txt1">BANOBAGI Special Detail</a>
                        </div>
                    </li>
                    <li class="index__item">
                        <div class="index__box">
                            <a href="#1" class="index__name general__txt1">Semi-permanent filler, Artecoll</a>
                        </div>
                    </li>
                </ul>
            </dd>
        </dl>
    </div>
	</div>
</div> <!-- //container -->

<% include ../_include/_footer %>
