<%
	type = "content"
	page = "contour"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
    <div class="content" data-page="contour-bimaxillary">
		<div class="new-visual type-bimaxillary">
			<div class="new-visual__box">
				<div class="new-visual__outer">
					<div class="new-visual__inner">
						<p class="new-visual__subtit">更安全方便的下巴咬合矫正</p>
						<h3 class="new-visual__tit"><span class="n-color-contour2">双鄂</span>手术</h3>
						<p class="new-visual__txt">下巴机能恢复的同时打造小而精致的脸型</p>
						<ul class="new-visual__list">
							<li class="new-visual__item"><span>#改善下巴机能</span></li>
							<li class="new-visual__item"><span>#改善外貌</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- //new-visual-->

        <div class="new-content-wrap">
            <div class="new-section">
				<div class="new-style1 type-bimaxillary">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						双鄂手术是<span class="n-color-contour2">直接矫正下巴结构</span>的手术
					</h4>
					<p class="new-style1__txt txt-new1">
						如果上颌(上颚) 和下颌(下颚)咬合不正的话，就不能正常咀嚼食物，说话的时候会漏音等,带来日常生活的不便。<br class="hidden-tm">
                        而且，由于非正常肌肉的反复使用，会加速脸部的不对称，也会伴随下颌关节损伤加重等健康问题的发生哦。<br class="hidden-tm">
                        <span class="color-black1">为了改善这种双鄂咬合问题，我们提出了双鄂手术。</span>
					</p>
					<p class="new-style1__txt2 txt-new2">
                        因为双鄂手术是切断下颌骨并移动的手术，所以下巴前突或往内回缩的情况，包括骨骼不对称且下巴扭曲的情况等，它的优点就是它<span class="n-color-contour2">几乎适用于所有双鄂问题</span>。
					</p>
                    <p class="new-style1__txt txt-new1">
                        另外，如果通过双鄂手术来改正下巴的结构，还有着改善外貌的效果，下巴机能改善的同时还可以发展为打造更小，更清晰脸型的手术。
					</p>
					<div class="new-style1__img mobile-padding">
						<img src="../../images/contour/bimaxillary/bimaxillary_img_1.png" alt="佰诺佰琪整形模特" class="img-normal">
					</div>
				</div>
                <div class="new-style1 type-top0 type-bottom type-bimaxillary2">
					<div class="inner-box">
						<div class="img-style1">
							<h5 class="new-content-tit tit-new2">代表性的双鄂手术对象</h5>

							<ul class="img-style1__list type-half">
                                <li class="img-style1__item">
                                    <img src="../../images/contour/bimaxillary/bimaxillary_img_2.jpg" class="img-w100" alt="面部扭曲不对称的情况"/>
                                    <h6 class="img-style1__subject txt-new1">面部扭曲不对称的情况</h6>
                                </li>
                                <li class="img-style1__item">
                                    <img src="../../images/contour/bimaxillary/bimaxillary_img_3.jpg" class="img-w100" alt="下颌发达，长脸或地包天的情况"/>
                                    <h6 class="img-style1__subject txt-new1">下颌发达，长脸或地包天的情况</h6>
                                </li>
                                <li class="img-style1__item">
                                    <img src="../../images/contour/bimaxillary/bimaxillary_img_4.jpg" class="img-w100" alt="嘴整体突出或下巴相对后缩的情况"/>
                                    <h6 class="img-style1__subject txt-new1">嘴整体突出或下巴相对后缩的情况</h6>
                                </li>
                                <li class="img-style1__item">
                                    <img src="../../images/contour/bimaxillary/bimaxillary_img_5.jpg" class="img-w100" alt="微笑时牙龈暴露严重的情况"/>
                                    <h6 class="img-style1__subject txt-new1">微笑时牙龈暴露严重的情况</h6>
                                </li>
							</ul>
						</div>
					</div>
				</div>
			</div>

            <div class="new-section type-cling">
                <div class="new-style1 type-bottom type-bimaxillary3">
                    <h4 class="new-style1__tit tit-new1 weight-regular">
                        即使下颏骨改变，<span class="n-color-contour3">面部的均衡和表情也要一起变得自然</span>
                    </h4>
                    <p class="new-style1__txt txt-new1">
                        双鄂手术需将骨骼整体截骨后移动，是一项相对复杂的手术。因此最重要的还是一项需要周密的设计和充分技术的手术。
						<span class="color-white">佰诺佰琪自2000年开院后，组建了轮廓整形诊断小组，持续追踪积累双鄂手术的技术与经验。</span>
                        手术前，通过3D面部CT精密测量器进行诊断和深度咨询，甚至计算到双鄂的构造和脸部的表情肌肉，通过与麻醉科专家，口腔颌面外科专家等协诊，进行更安全而精密的手术。
                        <span class="color-white">因此几乎没有神经损伤或双鄂扭曲等副作用，可以做到全脸的平衡到表情自然的双鄂手术。</span>
                    </p>
					<div class="new-style1__img">
						<img src="../../images/contour/bimaxillary/bimaxillary_img_6.jpg" alt="佰诺佰琪整形模特" class="img-normal"/>
					</div>
                    <div class="inner-box">
						<div class="img-style6">
							<h5 class="new-content-tit tit-new2">
                                面部整体的平衡和表情都考虑到的佰诺佰琪双鄂手术
							</h5>

							<ul class="img-style6__list">
								<li class="img-style6__item">
									<div class="img-style6__img">
										<img src="../../images/contour/bimaxillary/bimaxillary_img_7.jpg" alt="多年双鄂手术经验和技巧" class="img-w100"/>
									</div>
									<div class="img-style6__area">
										<div class="img-style6__inner">
											<div class="img-style6__vertical">
												<h6 class="img-style6__subject txt-new2">多年双鄂手术经验和技巧</h6>
												<p class="img-style6__txt2 txt-new1">近乎完美的改善咬合与保持</p>
											</div>
										</div>
									</div>
								</li>
								<li class="img-style6__item">
									<div class="img-style6__img">
										<img src="../../images/contour/bimaxillary/bimaxillary_img_8.jpg" alt="通过3D面部CT精密测定器进行诊断深入咨询" class="img-w100"/>
									</div>
									<div class="img-style6__area">
										<div class="img-style6__inner">
											<div class="img-style6__vertical">
												<h6 class="img-style6__subject txt-new2">
													通过3D面部CT精密测定器进行诊断深入咨询
												</h6>
												<p class="img-style6__txt2 txt-new1">自然的表情和面部平衡</p>
											</div>
										</div>
									</div>
								</li>
								<li class="img-style6__item">
									<div class="img-style6__img">
										<img src="../../images/contour/bimaxillary/bimaxillary_img_9.jpg" alt="麻醉科专家 + 口腔颌面外科专家等一起协诊" class="img-w100"/>
									</div>
									<div class="img-style6__area">
										<div class="img-style6__inner">
											<div class="img-style6__vertical">
												<h6 class="img-style6__subject txt-new2">
													麻醉科专家 + 口腔颌面外科专家等一起协诊
												</h6>
												<p class="img-style6__txt2 txt-new1">术后几乎无副作用</p>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
                    </div>
                </div>
            </div>

			<div class="new-section type-cling">
				<div class="new-style1">
					<h4 class="new-style1__tit tit-new1 weight-regular">
                        佰诺佰琪双鄂手术<span class="n-color-contour2">无需2次拆钉子手术</span>
					</h4>
					<p class="new-style1__txt txt-new1">
						佰诺佰琪不会满足于对双鄂手术积累的经验和技巧的现状，为了带来更好的效果而不断研究。<br class="hidden-tm">
						为了尽可能减轻患者对手术的负担和潜在的副作用出现的可能性。<br class="hidden-tm">
						所以想出了使用<span class="n-color-contour2">*可溶钉Osteotrans</span>来固定骨头。<br><br>

						由于双鄂手术是将下颌骨截骨和移动的手术，因此需要使用平板和别针来固定这些骨头。<br class="hidden-tm">
						<span class="color-black1">传统双鄂手术使用不锈钢，钛等类似的纯金属材料。</span><br class="hidden-tm">
						因此手术后，当移动的骨头固定在一定的位置后，为了拆除钉子，就需要追加性的手术。<br><br>

						佰诺佰琪使用的<span class="n-color-contour2">*可溶钉Osteotrans</span>作为一种<span class="color-black1">合成高分子和骨骼成分混合后的生物亲和性材料</span>，具有<span class="color-black1">与钛相媲美的硬度，随着时间的推移，会被骨骼吸收的特点。</span>
					</p>
					<p class="new-style1__txt2 txt-new2">
						因此可以进行更安全的双鄂手术，有着在X光和CT拍摄中看不到痕迹的优点。<br class="hidden-tm">
                        <span class="n-color-contour2">而且，因为不需要2次取钉手术，所以患者们不用再经历额外的手术费用和时间上的负担了。</span>
					</p>
					<div class="new-style1__img">
						<img src="../../images/contour/bimaxillary/bimaxillary_img_10.jpg" alt="佰诺佰琪整形模特" class="img-normal">
					</div>

					<div class="inner-box type-bimaxillary">
						<div class="inner-stripe type-line-zero type-cling">
							<ul class="inner-stripe__list">
								<li class="inner-stripe__item">
									<div class="inner-stripe__wrap">
										<div class="inner-stripe__box">
											<div class="inner-stripe__img">
												<img src="../../images/contour/bimaxillary/bimaxillary_img_11.png" alt="" class="img-responsive">
											</div>
										</div>
										<p class="inner-stripe__subject txt-new1 n-color-contour3">*可溶钉Osteotrans</p>
										<p class="inner-stripe__txt txt-new1">
											可溶钉Osteotrans取得FDA，KFD等的安全性认证，是合成高分子(PLLA)与羟基磷灰石(hydroxyapatite)的混合物，有仅次于钛的强度，手术后被变弱的骨骼吸收，有着帮助骨骼生成，增强力量的特点，可以有效地用在需要矫正骨骼的手术中。
										</p>
									</div>
								</li>
							</ul>
						</div><!--//inner-stripe-->
					</div><!-- //inner-box -->

					<div class="inner-box">
						<div class="compare3">
							<h5 class="new-content-tit tit-new2">原先的钛钉固定和佰诺佰琪可溶钉固定对比</h5>

							<div class="compare3__wrap">
								<div class="compare3__box type-before">
									<div class="compare3__img">
										<img src="../../images/contour/bimaxillary/bimaxillary_img_12.jpg" alt="非吸收性（钛）" class="img-w100"/>
									</div>
									<div class="compare3__subject txt-new2">
										<div class="compare3__vertical">非吸收性（钛）</div>
									</div>
									<ul class="compare3__list">
										<li class="compare3__item txt-new1">
											<div class="compare3__vertical">
												需要2次取钉手术
											</div>
										</li>
										<li class="compare3__item txt-new1">
											<div class="compare3__vertical">
												相对更强力固定
											</div>
										</li>
										<li class="compare3__item txt-new1">
											<div class="compare3__vertical">
												CT，X光拍摄时有痕迹
											</div>
										</li>
									</ul>
								</div>

								<div class="compare3__box type-after">
									<div class="compare3__img">
										<img src="../../images/contour/bimaxillary/bimaxillary_img_13.jpg" alt="吸收性（透明双鄂）" class="img-w100"/>
									</div>
									<div class="compare3__subject txt-new2">
										<div class="compare3__vertical">吸收性（透明双鄂）</div>
									</div>
									<ul class="compare3__list">
										<li class="compare3__item txt-new1">
											<div class="compare3__vertical">
												无需2次取钉手术：<br class="hidden-tm">
												2次手术的疼痛，成本，时间上的负担下降↓
											</div>
										</li>
										<li class="compare3__item txt-new1">
											<div class="compare3__vertical">
												相对强力的固定，与骨骼一起被吸收后加固的效果：<br class="hidden-tm">
												几乎无副作用
											</div>
										</li>
										<li class="compare3__item txt-new1">
											<div class="compare3__vertical">
												CT，拍摄X光片时几乎不留下痕迹：<br class="hidden-tm">
												自信心增强↑
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div><!-- //compare3 -->
					</div><!-- //inner-box -->
				</div>
			</div><!--//new-section-->

			<div class="new-section type-cling">
                <div class="new-style1 type-bottom type-bimaxillary4">
                    <h4 class="new-style1__tit tit-new1 weight-regular">
                        同时具有很多不便的鄂间固定，<br class="hidden-tm">
                        <span class="n-color-contour2">在佰诺佰琪相对较舒适自由</span>
                    </h4>
                    <p class="new-style1__txt txt-new1">
                        鄂间固定是为了移动后的上颌与下颌的位置保持住不变形，上牙与下牙互相捆绑在一起固定的意思。
                        原先的双鄂手术术后必须完成这个过程。此过程因人而异，但需要大约三个星期以上的时间。
                        这段期间里患者必须要忍受基本的呼吸进食，说话和清洁管理中的不便之处。
                        特别是在呼吸不适感上， 在呼吸道不顺畅，心理上的抑郁也一起的情况下，有着可能会发生意外的缺点。
                    </p>
					<p class="new-style1__txt2 txt-new2">
						但是佰诺佰琪双鄂手术后<span class="n-color-contour2">不再进行鄂间固定</span>。
					</p>
					<p class="new-style1__txt txt-new1">
                        通过精确的计算，将上下颌移动到合适的位置，就是为了即使没有鄂间固定，也能够自然地固定在原位。<br class="hidden-tm">
						因此<span class="color-black1">佰诺佰琪双鄂手术因为鄂间固定，减轻了负担，恢复速度也较快。</span>
                    </p>

					<div class="new-style1__img">
						<img src="../../images/contour/bimaxillary/bimaxillary_img_14.jpg" alt="佰诺佰琪整形模特" class="img-normal"/>
					</div>
                    <div class="inner-box">
						<div class="new-stripe type-padding-zero type-bimaxillary">
							<h5 class="new-content-tit tit-new2">无鄂间固定的话有什么好处呢？</h5>

							<ul class="new-stripe__list">
								<li class="new-stripe__item">
									<div class="new-stripe__wrap">
										<div class="new-stripe__img">
											<img src="../../images/contour/bimaxillary/bimaxillary_img_15.png" alt="更为便利" class="img-responsive">
										</div>
										<h6 class="new-stripe__subject txt-new2">更为便利</h6>
										<p class="new-stripe__txt2 txt-new1">
											对话和吃饭比较自由，更容易地集中恢复。
										</p>
									</div>
								</li>
								<li class="new-stripe__item">
									<div class="new-stripe__wrap">
										<div class="new-stripe__img">
											<img src="../../images/contour/bimaxillary/bimaxillary_img_16.png" alt="更为安全" class="img-responsive">
										</div>
										<h6 class="new-stripe__subject txt-new2">更为安全</h6>
										<p class="new-stripe__txt2 txt-new1">
											手术后口腔和鼻子里会浮肿，即使鄂间可以固定，但不确保是否有困难。<br class="hidden-tm">
											如果鄂间不固定，呼吸会更轻松，更安全的恢复。
										</p>
									</div>
								</li>
								<li class="new-stripe__item">
									<div class="new-stripe__wrap">
										<div class="new-stripe__img">
											<img src="../../images/contour/bimaxillary/bimaxillary_img_17.png" alt="降低炎症和感染的可能性" class="img-responsive">
										</div>
										<h6 class="new-stripe__subject txt-new2">降低炎症和感染的可能性</h6>
										<p class="new-stripe__txt2 txt-new1">
                                            如果鄂间不固定，我们就能保持口腔的清洁，所以降低了引发炎症和感染的可能性。
										</p>
									</div>
								</li>
							</ul>

							<p class="new-stripe__txt3 txt-new2">
                                鄂间不固定的方法虽然是有很多优点，但是，并不是无条件针对所有患者们都可以适用.根据手术前的骨骼和咬合，手术中骨头的移动量，手术后咬合连接组织的适应程度，可能出现需要鄂间固定的情况。
								但<span class="n-color-contour2">佰诺佰琪即使在这种情况下，也会缩短鄂间固定的时间，为了减少患者们的不便而一直在努力中。</span>
							</p>
						</div><!--new-stripe -->
                    </div>
                </div>
            </div><!--//new-section-->

			<div class="new-section type-cling">
                <div class="new-style1 type-bottom type-bimaxillary3">
                    <h4 class="new-style1__tit tit-new1 weight-regular">
                        更令人满意的结果和快速恢复，<br class="hidden-tm">
                        <span class="n-color-contour3">后期管理</span>是<span class="n-color-contour3">核心</span>。
                    </h4>
                    <p class="new-style1__txt txt-new1">
                        即使矫正好颚骨，人们还是会面对面的皮肤和表情。<br class="hidden-tm">
						所以双颚手术的最终结果也对肌肉和皮肤的改变也很重要特别是双颚手术，是开刀和断骨的综合，所以浮肿比较严重。<br class="hidden-tm">
                        如果浮肿时间长的话，可能会造成皮肤下垂。<br class="hidden-tm">
						所以，<span class="color-white">双颚手术对结果产生重大影响。此外，复原和浮肿管理也同样能发挥作用。</span><br class="hidden-tm">
						佰诺佰琪以多种临床和经验为基础，拥有不亚于手术的系统化后期管理诀窍。<br class="hidden-tm">
						符合各个情况和阶段后，有处理手册，会使用像<span class="color-white">*ELASTONE疗法</span>等仪器进行集中管理。<br class="hidden-tm">
						拥有更加自然的表情和有效改善脸型是佰诺佰琪充满自信的理由
                    </p>

                    <div class="inner-box">
						<div class="new-stripe type-padding-zero type-bimaxillary">
							<h5 class="new-content-tit tit-new2">ELASTONE疗法</h5>
							<p class="new-stripe__txt txt-new1">
								是利用超声波，STONE疗法，高频波等减少浮肿，提高免疫力的同时对皮肤弹力有一定效果的值得期待的治疗。<br class="hidden-tm">
								主要是在下颌角或颧骨手术，双鄂手术等轮廓整形后，管理效果较佳。
							</p>

							<ul class="new-stripe__list">
								<li class="new-stripe__item">
									<div class="new-stripe__wrap">
										<div class="new-stripe__img">
											<img src="../../images/contour/bimaxillary/bimaxillary_img_18.png" alt="超声波仪器" class="img-responsive">
										</div>
										<h6 class="new-stripe__subject txt-new1">
											<span class="n-color-contour2">超声波仪器</span>
										</h6>
										<p class="new-stripe__txt2 txt-new1">
											超声波微小的振动接触皮肤和身体时，细微的震动和热量会扩张血管和增加血流量。<br class="hidden-tm">
											这有助于促进血液和淋巴循环，帮助更快速减少浮肿。
										</p>
									</div>
								</li>
								<li class="new-stripe__item">
									<div class="new-stripe__wrap">
										<div class="new-stripe__img">
											<img src="../../images/contour/bimaxillary/bimaxillary_img_19.png" alt="STONE疗法" class="img-responsive">
										</div>
										<h6 class="new-stripe__subject txt-new1">
											<span class="n-color-contour2">STONE疗法</span>
										</h6>
										<p class="new-stripe__txt2 txt-new1">
											使用含有温热的天然石提高免疫力，放松紧张的神经和僵硬的肌肉的温热疗法。<br class="hidden-tm">
											促进血液循环，相对可以更加快速净化体内的毒素和废物，具有预防浮肿的显著效果。
										</p>
									</div>
								</li>
								<li class="new-stripe__item">
									<div class="new-stripe__wrap">
										<div class="new-stripe__img">
											<img src="../../images/contour/bimaxillary/bimaxillary_img_20.png" alt="高周波(RF)仪器" class="img-responsive">
										</div>
										<h6 class="new-stripe__subject txt-new1">
											<span class="n-color-contour2">高周波(RF)仪器</span>
										</h6>
										<p class="new-stripe__txt2 txt-new1">
											将高频传播到深层组织，从而引发深层热。深层热刺激真皮层的胶原蛋白，增进细胞机能，促进血液循环，活性化新陈代谢，对弹力有效果。
										</p>
									</div>
								</li>
							</ul>
						</div><!--new-stripe -->
                    </div>
                </div>
            </div><!--//new-section-->

			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-contour">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">手术详情</h4>
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">手术时间</h5>
										<p class="operation-v2__txt txt-new1">约3小时~4小时</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">麻醉方法</h5>
										<p class="operation-v2__txt txt-new1">全身麻醉</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">拆线</h5>
										<p class="operation-v2__txt txt-new1">约14天后拆线</p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">住院时间</h5>
										<p class="operation-v2__txt txt-new1">约1~4天</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">来院治疗</h5>
										<p class="operation-v2__txt txt-new1">约2次</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">恢复</h5>
										<p class="operation-v2__txt txt-new1">约7~14天后恢复日常生活</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-contour">
								<h5 class="pain-v2__tit txt-new2">术后体感疼痛</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 4){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">square</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">square</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									麻醉药效解除的过程中，会有阵痛感，随着时间的推移会逐渐缓解。<br>
									拆线和消毒的时候会有些许刺痛感。<br>
									因为浮肿而产生的疼痛和紧绷的感觉通过处方止痛药可以缓解。<br>
									没有鄂间固定所以相对来说无不适感。<br>
									通过体系化和持续化管理可以有效缓解疼痛感和浮肿。
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* 通过对术后患者进行问卷调查得出的平均值</p>
									<p class="pain-v2__noti txt-new4">* 从数据不存在绝对性，会存在个人差异，仅供大家作为参考。</p>
								</div>
								<!-- <a href="<?php echo SITE_UPLOAD_URL?>/knowledge/bimaxillary.pdf" target="_blank" class="operation-v2__link"><span>查看术后注意事项/span></a> -->
							</div><!-- //pain -->
						</div>
					</div>
				</div>
			</div>
        </div><!-- //new-content-wrap-->
    </div><!-- //content-->

</div> <!-- //container -->

<% include ../_include/_footer %>
