<%
	type = "content"
	page = "contour"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
	<!-- visual -->
	<div class="content-visual type-cheekbone">
	    <div class="content-visual__box">
	        <div class="content-visual__border type-cheekbone">
	            <p class="content-visual__txt1">面部轮廓技术力的密集</p>
	            <h3 class="content-visual__tit">#<span class="color-contour9">颧骨</span>手术</h3>
	            <p class="content-visual__txt2 type-cheekbone">用缜密的设计完成又小又柔和的脸型</p>
	            <p class="caution-para1 type-cheekbone">※ 本图片依拍摄条件不同与实物会有差距， 取得患者同意拍摄后刊发</p>
	        </div>
	    </div>
	</div>
	<!-- //visual -->

	<div class="content cheekbone">
        <div class="content-wrap">
            <div class="content-section type-first">
                <div class="content-section__wrap">
                    <div class="cheek-box1">
                        <div class="content-section__box1 type-w4">
                            <h4 class="content-section__tit type-left">
		                        <span class="content-section__number">
		                            <span class="content-section__number-wrap">01</span>
		                        </span>
								脸部需要有颧骨才会更加<strong class="color-contour10">美丽</strong>
                            </h4>
                            <p class="content-section__txt1">
								给人强悍的印象，没有流畅线条的颧骨骨骼，
								很多人因为颧骨苦恼找到整形医院。
								但是相反在美容博客或电视节目里会很认真
								的说明让颧骨更有立体感的化妆方法。
                            </p>
                            <p class="content-section__txt1 type-special">
								有的人想去除颧骨，有的人想让颧骨更加立体的现实，
								理由是颧骨如果在面部比例适当的情况下模样会让面
								部更加有活力，有立体感。
                            </p>

                            <p class="content-section__txt2">
                                <strong>
                                    所以颧骨手术不是单纯的削颧骨，<br class="hidden-m">
									要与<span class="color-contour11">面部结合起来展现漂亮的颧骨为目的进行。</span>
                                </strong>
                            </p>

                        </div>
                        <div class="content-section__box1 type-w6 ">
                            <div class="content-section__img sec1-thumb">
                                <img src="../../images/contour/contour_cheekbone_section02.png" alt="面部结合起来展现漂亮的颧骨为目的进行。">
                                面部结合起来展现漂亮的颧骨为目的进行。
                            </div>
                        </div>
                    </div>
                </div><!-- //content-section__wrap-->
            </div>
            <!--contenct-section-->
            <div class="content-section sec2-section">
                <div class="cheek-box2">
                    <div class="content-section__box1 sec2-bg">
                        <div class="content-section__box1 tit-box type-sort">
                            <h4 class="content-section__tit type-center">
		                        <span class="content-section__number">
		                            <span class="content-section__number-wrap">
		                                02
		                            </span>
		                        </span>
                                颧骨再配置是<strong class="color-contour10">核心</strong>
                            </h4>
                        </div>
                        <div class="content-section__box1 content-box">
                            <p class="content-section__txt1 type-sort color-contour13 type-unique">
                                佰诺佰琪手术是包括颧骨的本体和弓形，颧骨弓复合体为单元移动。也就是说，不削颧骨，截骨后移至合适的位置。这个方法是可以核对个人颧骨模样，截骨感觉和接近极限的设计技术才有可能的手术。原因是在安全范围内可以移动更加大的范围是效果非常好。
                            </p>
                            <div class="content-section__img-wrap sec2-box clearfix">
                                <div class="content-section__img sec2-unique">
                                    <div class="content-section__item sec2-item">
                                        <img src="../../images/contour/contour_cheekbone_section03-1.jpg" alt="一般的颧骨截骨范围" class="content-section__thumb sec2-pic1">
                                        <div class="content-section__thumb sec2-pic1"></div>
                                        <div class="content-section__desc type-wide color-contour14">
                                            <p class="content-section__txt sec2-txt">一般的颧骨截骨范围</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="content-section__img sec2-unique">
                                    <div class="content-section__item sec2-item">
                                        <img src="../../images/contour/contour_cheekbone_section03-2.jpg" alt="佰诺佰琪能达到的截骨范围"class="content-section__thumb sec2-pic1">
                                        <div class="content-section__desc type-wide color-contour15">
                                            <p class="content-section__txt sec2-txt">佰诺佰琪能达到的截骨范围</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="brace type-basic">
                                <p class="brace__txt txt-v4">
                                    这样改善的颧骨是因为之前的骨骼再配置，<span class="color-contour12">形状自然，在多角度</span>可以看到<span class="color-contour12">很好的缩小效果</span
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--contenct-section-->
            <div class="content-section sec3-section">
                <div class="cheek-box3">
                    <div class="content-section__bg clearfix">
                        <div class="content-section__box1 sec3-width type-w6">
                            <h4 class="content-section__tit type-left">
		                        <span class="content-section__number sec3-number">
		                            <span class="content-section__number-wrap">
		                                03
		                            </span>
		                        </span>
                                有效的改善<strong class="color-contour10">结实的固定</strong>
                            </h4>
                            <div class="content-section__box1 sec3-unique">有效的改善结实的固定</div>
                            <div class="content-section__desc-box sec3-desc">
                                <p class="content-section__txt1">
                                    不削骨进行再配置的佰诺佰琪颧骨手术，另外的优点是安全坚固。<br class="hidden-t"><span class="content-highlight type-cheekbone">佰诺佰琪是颧骨弓复合体，用里面的颞肌的力量固定颧骨。</span><br class="hidden-m">另外骨髓接触部位的前后侧同时用力学固定。这样固定好，一般的截骨人体会自然恢复，骨骼会得到更加坚固的固定。
                                </p>

                            </div>
                        </div>
                        <div class="content-section__box1 sec3-width sec3-type-w4">
                            <div class="content-section__thumb">
                                <img src="../../images/contour/contour_cheekbone_section04.png" alt="有效的改善结实的固定">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--contenct-section-->
			<div class="content-section">
				<div class="cheek-box4">
					<div class="content-section__bg sec4-bg">
						<div class="content-section__bg type-special">
							<div class="content-section__box1 sec4-tit-box">
								<div class="content-section__point">
									<div class="content-section__point-wrap"><span class="">point</span></div>
								</div>
								<h5 class="content-section__tit sec4-tit">
									完成美丽颧骨的面部骨骼固定术<br class="hidden-tm">是<strong class="color-contour16">佰诺佰琪的技术力。</strong>
								</h5>
							</div>

							<div class="content-section__screen type-pc">
								<div class="hexa-pattern type-cheekbone">
									<ul class="hexa-pattern__list">
										<li class="hexa-pattern__item nth-1">
											<div class="hexa-pattern__wrap">
												<p class="hexa-pattern__tit type-cheekbone">01</p>
												<p class="hexa-pattern__txt type-cheekbone">
													施加在颧骨弓复合体的力量用科学分析
												</p>
											</div>
										</li>
										<li class="hexa-pattern__item nth-2">
											<div class="hexa-pattern__wrap">
												<p class="hexa-pattern__tit type-cheekbone">02</p>
												<p class="hexa-pattern__txt type-cheekbone">
													骨骼接触部位用力学坚固的固定
												</p>
											</div>
										</li>
										<li class="hexa-pattern__item nth-3">
											<div class="hexa-pattern__wrap">
												<p class="hexa-pattern__tit type-cheekbone">03</p>
												<p class="hexa-pattern__txt type-cheekbone">
													body部位和颧弓部位坚固的同时固定
												</p>
											</div>
										</li>
										<li class="hexa-pattern__item nth-4">
											<div class="hexa-pattern__wrap">
												<div class="hexa-pattern__thumb"></div>
												<h6 class="hexa-pattern__txt type-cheekbone type-unique">
													佰诺佰琪的<br>技术力
												</h6>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="content-section__screen type-mobile">
						<div class="hexa-pattern type-cheekbone">
							<ul class="hexa-pattern__list">
								<li class="hexa-pattern__item nth-1">
									<div class="hexa-pattern__wrap">
										<p class="hexa-pattern__tit type-cheekbone">01</p>
										<p class="hexa-pattern__txt type-cheekbone">
											施加在颧骨弓复合体的力量用科学分析
										</p>
									</div>
								</li>
								<li class="hexa-pattern__item nth-2">
									<div class="hexa-pattern__wrap">
										<p class="hexa-pattern__tit type-cheekbone">02</p>
										<p class="hexa-pattern__txt type-cheekbone">
											骨骼接触部位用力学坚固的固定
										</p>
									</div>
								</li>
								<li class="hexa-pattern__item nth-3">
									<div class="hexa-pattern__wrap">
										<p class="hexa-pattern__tit type-cheekbone">03</p>
										<p class="hexa-pattern__txt type-cheekbone">
											body部位和颧弓部位坚固的同时固定
										</p>
									</div>
								</li>
								<li class="hexa-pattern__item nth-4">
									<div class="hexa-pattern__wrap">
										<div class="hexa-pattern__thumb"></div>
										<h6 class="hexa-pattern__txt type-cheekbone type-unique">
											佰诺佰琪的<br>
											技术力
										</h6>
									</div>
								</li>
							</ul>
						</div>
					</div>

				</div>
			</div>
            <!--contenct-section-->

			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-contour">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">手术详情</h4>
							<!-- <p class="operation-v2__subtit">颧骨手术的手术信息指南</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">手术时间</h5>
										<p class="operation-v2__txt txt-new1">约1小时~1小时30分</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">麻醉方法</h5>
										<p class="operation-v2__txt txt-new1">全身麻醉</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">拆线</h5>
										<p class="operation-v2__txt txt-new1">约7天后拆线</p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">住院时间</h5>
										<p class="operation-v2__txt txt-new1">当天回家/约住院1天</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">来院治疗</h5>
										<p class="operation-v2__txt txt-new1">约1~2次</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">恢复</h5>
										<p class="operation-v2__txt txt-new1">约5~7天后恢复日常生活</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-contour">
								<h4 class="pain-v2__tit txt-new2">术后体感疼痛</h4>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 3){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">square</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">square</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									麻醉解除后会有刺痛的痛感。<br>
									酸痛，不舒服的感觉会给开止痛药可以减少痛感。<br>
									不施加一定的压力和冲击，骨骼的痛感比切开的痛感少。<br>
									痛感或者浮肿5天左右就消失了。<br>
									有体系的治疗系统，可以快速恢复。
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* 通过对术后患者进行问卷调查得出的平均值</p>
									<p class="pain-v2__noti txt-new4">* 从数据不存在绝对性，会存在个人差异，仅供大家作为参考。</p>
								</div>
								<!-- <a href="<?php echo SITE_UPLOAD_URL?>/knowledge/contour.pdf" target="_blank" class="operation-v2__link"><span>术后注意事项</span></a> -->
							</div><!-- //pain -->
						</div>
					</div>
				</div>

            </div>
            <!--operation-->

            <div class="content-section sec5-section">
                <div class="cheek-box5">
                    <div class="content-section__box1">
                        <div class="content-section__bg sec5-bg">
                            <div class="content-section__box1 sec5-bg-small">
                                <h4 class="content-section__tit">
                                    追求<strong class="color-contour12">预防<br>皮肤下垂</strong>的颧骨整形
                                </h4>
                                <p class="content-section__txt1 type-unique">
									随着颧骨骨骼位置的变化，骨骼变小的话覆盖骨骼的
									软组织也会变小。但是皮肤如果有老化弹力少的话
									皮肤会跟不上颧骨的缩小量，会有脸颊下垂问题。
									特别是因为面部的构造泪沟和印第安胶，会产生
									八字纹。
                                </p>
                            </div>
                            <div class="content-section__desc type-unique">
                                <p class="content-section__txt1 sec5-txt1 type-space">
		                            <span class="color-contour11">
			                            佰诺佰琪为了这种情况使用
			                            <span class="content-section__info pop-info">
											<a href="" class="info-btn js-info type-cheek">
												<span class="info-btn__icon type-cheek">info</span>
												弹力胶
												<span class="info-desc type-cheekbone">
													<span class="info-desc__item">
														<span class="info-desc__box">
															<span class="info-desc__tit"><span class="info-desc__icon"></span><strong>弹力胶是</strong>?<br class="hidden-tm"></span>
															<span class="info-desc__content">
																<img src="../../images/contour/contour_cheekbone_info-img.jpg" alt="弹力胶是" class="info-desc__thumb">
																<span class="info-desc__txt1">
				                                                    弹力胶是在人体内，与周边组织结合起到韧带的作用，补充皮肤深处崩塌的筋膜层，有效改善皮肤下垂。因为还有很强的弹性，所以有着结果非常自然的优点。
																</span>
															</span>
														</span>
														<button class="info-desc__btn js-close">
															<span class="info-desc__stick type-left"></span>
															<span class="info-desc__stick type-another"></span>
															关闭
														</button>
													</span>
												</span>
											</a>
			                            </span>和
			                            <span class="content-section__info pop-info">
											<a href="" class="info-btn js-info type-cheek">
												<span class="info-btn__icon type-cheek">info</span>
												安多泰。
												<span class="info-desc type-cheekbone">
													<span class="info-desc__item">
														<span class="info-desc__box">
															<span class="info-desc__tit"><span class="info-desc__icon"></span><strong>安多泰是</strong>?<br class="hidden-tm"></span>
															<span class="info-desc__content">
																<img src="../../images/contour/contour_cheekbone_info-endo.jpg" alt="安多泰是" class="info-desc__thumb">
																<span class="info-desc__txt1">
				                                                    安多泰是美国FDA承认的安全的生态环保材料。把皮肤组织用均匀的压力匀称的提拉，可以自然的得到皱纹改善。有着疤痕小，效果持久，自然吸收等特点。改善下垂皮肤使用于多种抗衰老施术中。
																</span>
															</span>
														</span>
														<button class="info-desc__btn js-close">
															<span class="info-desc__stick type-left"></span>
															<span class="info-desc__stick type-another"></span>
															关闭
														</button>
													</span>
												</span>
											</a>
			                            </span>
		                            </span>
		                            <br class="hidden-m">
									弹力胶是针对皮肤下垂的根本原因，对筋膜层加固有效的特殊线。安多泰可以对皮肤组织均匀提拉的软组织固定材料。对抗衰老有效的2种情况适当的使用，在佰诺佰琪不用担心脸颊下垂，可以得到更加满足的颧骨整形。
                                </p>
                            </div>
                            <div class="content-section__box1">
                                <ul class="content-section__list type-wrap clearfix">
                                    <li class="content-section__img sec5-unique">
                                        <div class="content-section__item sec5-item">
                                            <img src="../../images/contour/contour_cheekbone_section05-1.jpg" alt="泪沟（安多泰）">
                                            <div class="content-section__thumb sec5-pic1">泪沟（安多泰）</div>
                                            <div class="content-section__desc sec5-desc color-contour17">
                                                <p class="content-section__txt sec5-txt">泪沟<br class="hidden-p">（安多泰）</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="content-section__img sec5-unique">
                                        <div class="content-section__item sec5-item">
                                            <img src="../../images/contour/contour_cheekbone_section05-2.jpg" alt="印第安胶（弹力胶，安多泰）">
                                            <div class="content-section__desc sec5-desc color-contour17">
                                                <p class="content-section__txt sec5-txt">印第安胶 <br class="hidden-p">（弹力胶，安多泰）</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="content-section__img sec5-unique">
                                        <div class="content-section__item sec5-item">
                                            <img src="../../images/contour/contour_cheekbone_section05-3.jpg" alt="八字纹（弹力胶，安多泰）">
                                            <div class="content-section__desc sec5-desc color-contour17">
                                                <p class="content-section__txt sec5-txt">八字纹 <br class="hidden-p">（弹力胶，安多泰）</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!--contenct-section-->

			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-contour">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">手术详情</h4>
							<!-- <p class="operation-v2__subtit">追求预防皮肤下垂的颧骨整形</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">手术时间</h5>
										<p class="operation-v2__txt txt-new1">约50分</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">麻醉方法</h5>
										<p class="operation-v2__txt txt-new1">全身麻醉/局部麻醉</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">拆线</h5>
										<p class="operation-v2__txt txt-new1">约14天后拆线</p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">住院时间</h5>
										<p class="operation-v2__txt txt-new1">当天回家</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">来院治疗</h5>
										<p class="operation-v2__txt txt-new1">约1次</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">恢复</h5>
										<p class="operation-v2__txt txt-new1">约5~7天后恢复日常生活</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-contour">
								<h5 class="pain-v2__tit txt-new2">术后体感疼痛</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 3){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">square</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">square</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									麻醉解除后会有刺痛的痛感。<br>
									酸痛，不舒服的感觉会给开止痛药可以减少痛感。<br>
									不施加一定的压力和冲击，骨骼的痛感比切开的痛感少。<br>
									弹力胶布或者安多泰的位置和特征，根据表情会有提拉感疼痛。<br>
									痛感或者浮肿5天左右就消失了。<br>
									有体系的治疗系统，可以快速恢复。
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* 通过对术后患者进行问卷调查得出的平均值</p>
									<p class="pain-v2__noti txt-new4">* 从数据不存在绝对性，会存在个人差异，仅供大家作为参考。</p>
								</div>
								<!-- <a href="<?php echo SITE_UPLOAD_URL?>/knowledge/contour.pdf" target="_blank" class="operation-v2__link"><span>术后注意事项</span></a> -->
							</div><!-- //pain -->
						</div>
					</div>
				</div>
			</div>
        </div>
	</div><!-- //content-->

	<% include ../_include/_bfaf %>
</div> <!-- //container -->

<% include ../_include/_footer %>
