<%
	type = "detail"
	page = "contour"
%>
<% include ../_include/_header %>
<!-- Content -->
<div class="contour detail-common" data-video="true">
    <section class="fs_section contourFirst js-first" data-section-name="home">
		<div class="detail__inner">
			<div class="detail__vertical">
				<p class="detail__first-tit type-contour">
					骨头<span class="color-contour0">&middot;</span>肌肉<span class="color-contour0">&middot;</span>脂肪<span class="color-contour0">&middot;</span>皮肤 <span class="color-contour0 detail__first-piece type-contour">多方位的接近</span>
				</p>
				<h3 class="detail__first-txt type-contour">
					<span class="detail__first-bwrap">打造自然的</span><br>
					<strong class="detail__first-point">佰诺佰琪 <span class="color-contour1">轮廓整形</span> 细节<span class="color-contour1">。</span></strong>
				</h3>
			</div>
		</div>
		<div class="scroll">
			<div class="inner">
				<i></i>
			</div>
			<em>SCROLL</em>
		</div>
    </section>

    <section class="fs_section contourSection01" data-section-name="contourSection01">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="detail__section-box type-normal type-down type-contour type-quotation2">
              		<h4 class="detail__section-tit">
                		<strong>轮廓整形</strong><span class="color-comma">，</span><br>
						<span class="detail__section-bwrap">佰诺佰琪是</span><br class="hidden-m">
						<strong class="color-contour2">这样</strong>做的
              		</h4>
              		<p class="detail__section-subtit">不是骨头，是以人为主的手术</p>
              		<p class="detail__section-txt color-contour3">
				  		轮廓手术的目标不是骨头，而是让看得见的面部轮廓线条及比例更美。因此不仅要考虑到骨头的变化，而且要考虑肌肉及皮肤的变化。佰诺佰琪精确地分析面部表情肌肉及脂肪，皮肤，打造又小又漂亮的脸型，连表情也很自然。
              		</p>
            	</div>
			</div>
		</div>
    </section>

	<section class="fs_section contourSection02" data-section-name="contourSection02">
	  	<div class="detail__inner">
			<div class="detail__vertical">
			  	<div class="detail__section-box type-wide type-down type-contour type-another">
				  	<h4 class="detail__section-tit">
					  	<strong>轮廓整形</strong><span class="color-comma">，</span><br>
					  	<span class="detail__section-bwrap">佰诺佰琪是</span><br>
					  	<strong class="color-contour4">运用</strong>的
				  	</h4>
				  	<p class="detail__section-subtit">美丽的脸型及抗衰老同时</p>
				  	<p class="detail__section-txt">
					  	不管是截骨，还是提升下垂的肉或者减少面部脂肪都是改善面部轮廓的方法。所以佰诺佰琪把这三项结合在一起。
					  	<span class="color-contour5">致提升的Elasticum及减少脂肪，改善皮肤弹力的Accusculpt运用到面部轮廓整形，</span>
					  	佰诺佰琪面部轮廓专家团队自信地为您服务。
				  	</p>
			  	</div>
			  	<div class="diagram">
					<ul class="diagram__list">
						<li class="diagram__item nth-1">
							<div class="diagram__wrap">
								<h5 class="diagram__tit">Elasculpt<br>面部轮廓</h5>
							</div>
						</li>
						<li class="diagram__item nth-2">
							<div class="diagram__wrap">
								<h5 class="diagram__tit">面部轮廓</h5>
								<p class="diagram__txt">
									没有下垂<br>
									打造弹力V脸型
								</p>
							</div>
						</li>
						<li class="diagram__item nth-3">
							<div class="diagram__wrap">
								<h5 class="diagram__tit">Elasticum</h5>
								<p class="diagram__txt">
									ㅊ改善面部下垂
								</p>
							</div>
						</li>
						<li class="diagram__item nth-4">
							<div class="diagram__wrap">
								<h5 class="diagram__tit">Accusculpt</h5>
								<p class="diagram__txt">
									用accusculpt去除脂肪，<br>
									修饰脸型，提升弹力
								</p>
							</div>
						</li>
					</ul>
			  	</div>
			</div>
		</div>
	</section>

	<section class="fs_section contourSection03" data-section-name="contourSection03">
		<div class="detail__inner type-full">
			<div class="detail__popup type-contour">
				<div class="detail__popup-wrap">
					<h5 class="detail__popup-tit">体系化的手术准备过程<span class="color-contour1">。</span></h5>
					<p class="detail__popup-subtit">体系化的准备能提高面部轮廓的完成度</p>
					<ul class="detail__popup-list">
						<li class="detail__popup-item nth-1">
							<div class="detail__popup-box">
								<h6 class="detail__popup-subject">3D 面部CT<br class="hidden-m"> 精密测量仪</h6>
								<p class="detail__popup-txt">面部专用3D扫描/骨密度测量解剖学分析/整形后测量</p>
							</div>
						</li>
						<li class="detail__popup-item nth-2">
							<div class="detail__popup-box">
								<h6 class="detail__popup-subject">特殊综合检查<br class="hidden-m"> 选择功能</h6>
								<p class="detail__popup-txt">检查患者的健康状态<br class="hidden-m">使手术更安全<br class="hidden-m">更专业化</p>
							</div>
						</li>
						<li class="detail__popup-item nth-3">
							<div class="detail__popup-box">
								<h6 class="detail__popup-subject">院长的<br class="hidden-m"> 深度咨询</h6>
								<p class="detail__popup-txt">为了更有效的改<br class="hidden-m">善进行专业分析</p>
							</div>
						</li>
					</ul>
					<a href="" class="detail__popup-close js-popup-close">关闭</a>
				</div>
			</div>
  			<div class="detail__section-wrap type-contour">
  				<div class="detail__vertical">
  					<div class="detail__section-box type-wide type-right type-contour type-quotation2">
						<h4 class="detail__section-tit">
							<strong>轮廓整形</strong><span class="color-comma">，</span><br>
							<span class="detail__section-bwrap"><span class="color-contour6">第一阶段</span></span><br>
							非常重要
						</h4>
						<p class="detail__section-subtit">新型设备及深度咨询<br class="hidden-m">体系化的准备</p>
						<p class="detail__section-txt color-contour3">
							面部是立体的。所以佰诺佰琪轮廓整形从各个角度把握情况，以客观的数据为基础进行手术。为了更自然的表情，专家从解剖学的角度分析面部组织层。佰诺佰琪为了微笑及说话时都美丽的面孔，从打造脸型的基础开始就很细心。
						</p>
					</div>
  				</div>
  			</div>
  		</div>
		<div class="detail__section-bottom type-contour">
			<div class="detail__section-set">
				佰诺佰琪的体系化<br class="hidden-pt">手术准备过程
				<span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open type-contour">팝업버튼</a></span>
			</div>
		</div>
    </section>

    <section class="fs_section contourSection04" data-section-name="contourSection04">
		<div class="detail__inner">
	  		<div class="detail__vertical">
	  			<div class="detail__section-box type-wide type-contour type-full">
	  				<h4 class="detail__section-tit">
	  					<strong>面部整形</strong><span class="color-comma">，</span><br>
	  					<span class="detail__section-bwrap">佰诺佰琪追求</span><br class="hidden-tm">
	  					<strong class="color-contour4">细节</strong>
	  				</h4>
	  				<p class="detail__section-subtit">结果不同的佰诺佰琪的秘诀，<br class="hidden-t">手术后集中管理</p>
	  				<p class="detail__section-txt">
						即使是再好的手术，根据恢复过程，其结果也会不同。 根据改善的骨头进行打造，使肌肉和皮肤变得完美也是非常重要的。佰诺佰琪以多年间的经验及资料为基础而设立的专业护理系统非常体系化。
						<span class="color-contour5">以集中及专业化的术后管理带来更好的手术结果。</span>
	  				</p>
	  			</div>
				<div class="layer-doc2">
				  	<ul class="layer-doc2__list">
				  		<li class="layer-doc2__item nth-1">
				  			<div class="layer-doc2__box">
				  				<div class="layer-doc2__wrap">
				  					<p class="layer-doc2__txt">定期地<br>检查状态</p>
				  					<h5 class="layer-doc2__tit">定期检查<br>体系</h5>
				  				</div>
				  			</div>
				  		</li>
				  		<li class="layer-doc2__item nth-2">
				  			<div class="layer-doc2__box">
				  				<div class="layer-doc2__wrap">
				  					<p class="layer-doc2__txt">为了快速有效<br>的治疗</p>
				  					<h5 class="layer-doc2__tit">使用新型<br>医疗仪器</h5>
				  				</div>
				  			</div>
				  		</li>
				  		<li class="layer-doc2__item nth-3">
				  			<div class="layer-doc2__box">
				  				<div class="layer-doc2__wrap">
				  					<p class="layer-doc2__txt">减少不适感<br>为了达到最好的效果</p>
				  					<h5 class="layer-doc2__tit">恢复过程的<br>体系化</h5>
				  				</div>
				  			</div>
				  		</li>
				  	</ul>
				</div>
	  		</div>
		</div>
    </section>
	<section class="fs_section contourSection05 detail-doctor" data-section-name="detail-docter">
	  	<div class="detail__inner">
	  		<div class="detail__vertical">
				<div class="detail-doctor__wrap">
					<p class="detail-doctor__txt">Details of Banobagi’s <span class="weight-bold">Face Contouring</span> Surgery</p>
					<h4 class="detail-doctor__tit">佰诺佰琪细节化的<span class="weight-bold detail-doctor__highlight">轮廓整形专家小组</span></h4>
					<ul class="detail-doctor__list">
						<% for(var i = 1; i<= 9; i++){%>
							<li class="detail-doctor__item js-doctor-hover">
								<a href="" class="detail-doctor__link">
									<div class="detail-doctor__area">
										<div class="detail-doctor__img"><img src="../../images/detail/detail_doctor_1.jpg" alt="" class="img-w100"></div>
										<div class="detail-doctor__outer">
											<div class="detail-doctor__inner">
												<div class="detail-doctor__vertical">
													<p class="detail-doctor__department">整形外科专家</p>
													<p class="detail-doctor__name">潘在常<span class="detail-doctor__small">院长</span></p>
												</div>
											</div>
										</div>
									</div>
								</a>
							</li>
						<%}%>
					</ul>
					<p class="detail-doctor__noti">※ <span class="weight-medium">点击</span>医护人员头像即可<span class="weight-medium">进入介绍页面</span>。</p>
				</div>
			</div>
	  	</div>
  	</section>
	<section class="fs_section contour-section99" data-section-name="contour-section99" id="contour-section99">
		<div class="onepage-video type-contour">
			<div class="onepage-video__wrap">
				<div class="onepage-video__vertical">
					<p class="onepage-video__txt type-star">光做轮廓就29年<i>!</i></p>
					<h3 class="onepage-video__tit">佰诺佰琪面部轮廓</h3>
					<h4 class="onepage-video__subtit">首尔大出身面部轮廓专家团队</h4>
					<div class="onepage-video__outer">
						<div class="onepage-video__inner">
							<iframe class="onepage-video__iframe youku-player" src='http://player.youku.com/embed/XNDM2NDQ3MzE3Mg==?autoplay=false'></iframe>
						</div>
					</div>
					<a href="" class="onepage-video__btn js-consultation">点击咨询</a>
					<div class="onepage-video__arrow"><img src="../../images/content/detail_scroll.png" class="img-normal" loading="lazy" alt="scroll - bottom"/></div>
				</div>
			</div>
		</div>
	</section>
</div>
<!-- //Content -->
<% include ../_include/_footer %>
