<%
	type = "content"
	page = "contour"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>

	<!-- visual -->
	<div class="content-visual type-front">
		<div class="content-visual__box">
			<div class="content-visual__border">
				<p class="content-visual__txt1">决定小脸的鲜明线条</p>
				<h3 class="content-visual__tit">#<span class="color-contour9">下巴</span>手术</h3>
				<p class="content-visual__txt2">与脸型协调的端庄的下巴线条</p>
			</div>
		</div>
	</div>
	<!-- //visual -->

	<!-- Content Start -->
	<div class="content type-square">
		<div class="content-wrap">
			<div class="content-section type-first">
	            <div class="front-box1">
	                <div class="front-box1__box">
	                    <h4 class="content-section__tit type-left">
							<span class="content-section__number ">
								<span class="content-section__number-wrap">
									01
								</span>
							</span>
							<strong>下巴</strong>是<strong>脸型比例</strong><strong class="content-highlight2 type-front">标准</strong>。
						</h4>
	                    <p class="content-section__txt1">
							测量脸部大小或衡量比例的时候，以额头到下巴的长度为标准。<br class="hidden-m">
	                        也就是说，下巴的位置不同，脸部的整体比例也会有所不同。<br class="hidden-m">
	                        那么，<strong>下巴要达到怎样的程度才能成为比例理想的脸型呢？</strong>
	                        <br><br class="hidden-m">

	                        人们吧脸从额头开始分为眉间，鼻低，下巴尖时，<strong class="color-contour18">如果比例达到1:1:0.8左右</strong>左右时，就会觉得这是理想的脸型。<br class="hidden-tm">如果下巴的长度太长的话，就会给人颜老或强硬的印象，相反太短的话会使脖子和脸的界限变得模糊，感觉没有线条感。另外下巴尖歪斜或是宽扁的样子看上去美感不足。
	                    </p>
	                    <p class="content-section__txt2">
	                        <strong>因此，在这样的情况下，可以通过下巴手术来打造出更加理想的面部轮廓。</strong>
	                    </p>
	                    <div class="brace type-front">
							<p class="brace__txt txt-v4">
								将面部分为<span class="color-contour18">眉间，鼻底，下巴尖</span>时的比例为<span class="color-contour18">1:1:0.8~0.9</span>相同或是相似时的脸型算是均衡脸型。
							</p>
						</div>
	                </div>
	                <div class="front-box1__img"></div>
	            </div>
	        </div>

	        <div class="content-section type-margin0">
	            <div class="front-box2">
	                <div class="front-box2__box">
						<div class="front-box2__wrap">
		                    <h4 class="content-section__tit type-center">
		                        <span class="content-section__number">
		                            <span class="content-section__number-wrap">
		                                02
		                            </span>
		                        </span>
		                        下巴手术必须要接近<strong class="color-contour19">立体化</strong>
		                    </h4>
		                    <p class="content-section__txt1">
								通常如果考虑下巴整形的话，只集中于下巴长度或V型曲线等正面的下巴尖形状。<br class="hidden-tm">
								但是下巴末端是更加立体的部位，也是决定面部侧面形象的重要亮点。侧面的额头，
								鼻子，下巴尖的高低形成理想化时，可以拥有更具吸引力，更有魅力的轮廓另外，下巴
								适当靠前时，则和颈部区分更加明显，线条更加清晰，有使面部看上去显得线长的效果
		                    </p>
		                    <p class="content-section__txt2">
		                        因此，<span class="color-contour20">真正的下巴整形是既考虑到正面的长度和形状，还考虑到侧面的立体感</span>
		                    </p>
						</div>
	                    <div class="front-box2__model">颧骨宽1（标准）， 下颌角宽 0.7， 下巴宽 0.4</div>
	                </div>

	                <div class="front-box2__area">
	                    <div class="list-box type-front">
	                        <div class="list-box__box">
	                            <div class="list-box__wrap">
	                                <div class="list-box__vertical">
	                                    <h5 class="list-box__tit tit-v3">
	                                        下巴手术的核心<br class="hidden-m">
	                                        <strong>POINT</strong>
	                                    </h5>
	                                </div>
	                            </div>
	                        </div>
	                        <ol class="list-box__list">
	                            <li class="list-box__item txt-v3">线长的线条感聚集在下巴末端</li>
	                            <li class="list-box__item txt-v3">符合面部比例的恰当的长度</li>
	                            <li class="list-box__item txt-v3">面部侧面高低相协调的前进位置</li>
	                        </ol>
	                    </div>
	                </div>
	            </div>
	        </div>

	        <!-- tab  -->
			<div class="content-tab type-front">
				<div class="content-tab__inner">
					<ul class="content-tab__list">
						<!-- <li class="content-tab__item"><a href="" class="content-tab__link" data-tab="page-broken">절골 앞턱 수술</a></li> -->
	                    <li class="content-tab__item is-active"><a href="" class="content-tab__link" data-tab="page-implant">下巴假体矫正术</a></li>
						<li class="content-tab__item"><a href="" class="content-tab__link" data-tab="page-injection">下巴注射术</a></li>
					</ul>
				</div>
			</div>

			<!-- tab contents -->
	        <!-- tab1 : 절골 앞턱 수술 -->
			<div class="content-tab__page page-broken">
				<div class="content-tab__box">
	                <div class="front-box3">
	                        <h4 class="content-section__tit">
	                            <strong>절골을 통한<br class="hidden-pt"> 앞턱 수술，</strong><br>
	                            거의 모든 케이스에 <br class="hidden-pt"><strong class="content-highlight2 type-front">가능</strong>합니다
	                        </h4>
	                        <p class="content-section__txt1">
	                            절골을 통한 앞턱 수술의 가장 큰 장점은 다양한 케이스에 대한 개선이 가능하고 그 효과가 크다는 것입니다.<br class="hidden-m">
	                            다양한 수술법들이 고안되어， 턱이 길고 돌출된 경우， 짧고 들어간 경우，<br class="hidden-m">
	                            삐뚤거나 라인이 뭉뚝한 경우 등 거의 모든 케이스에 대한 개선이 가능하죠.<br>
	                            <strong>또한 뼈 자체의 개선이기 때문에 그 정도가 비교적 심한 경우에도 개선이 가능하며 그만큼 느껴지는 만족도도 높습니다.</strong>
							</p>
	                        <div class="front-type">
	                            <ul class="front-type__list">
	                                <li class="front-type__item">
	                                    <div class="front-type__img">
	                                        <img src="../../images/contour/front/front_type_img_01.jpg" alt="턱이 길고 돌출된 얼굴">
	                                        <p class="front-type__caption">
	                                            <span class="color-contour19">턱이 길고</span> 돌출된 얼굴
	                                        </p>
	                                    </div>
	                                </li>
	                                <li class="front-type__item">
	                                    <div class="front-type__img">
	                                        <img src="../../images/contour/front/front_type_img_02.jpg" alt="턱이 짧고 들어간 얼굴">
	                                        <p class="front-type__caption"><span class="color-contour19">턱이 짧고</span> 들어간 얼굴</p>
	                                    </div>
	                                </li>
	                                <li class="front-type__item">
	                                    <div class="front-type__img">
	                                        <img src="../../images/contour/front/front_type_img_03.jpg" alt="턱이 삐뚤어진 얼굴">
	                                        <p class="front-type__caption"><span class="color-contour19">턱이 삐뚤어진</span> 얼굴</p>
	                                    </div>
	                                </li>
	                            </ul>
	                        </div>

	                        <div class="front-point">
	                            <ul class="front-point__list">
	                                <li class="front-point__item">
	                                    <div class="front-point__wrap">
	                                    	<p class="front-point__txt">턱 끝 전진</p>
	                                    </div>
	                                </li>
	                                <li class="front-point__item">
	                                    <div class="front-point__wrap">
	                                    	<p class="front-point__txt">턱 뼈 후진</p>
	                                    </div>
	                                </li>
	                                <li class="front-point__item">
	                                    <div class="front-point__wrap">
	                                    	<p class="front-point__txt">비대칭 교정</p>
	                                    </div>
	                                </li>
	                                <li class="front-point__item">
	                                    <div class="front-point__wrap">
	                                    	<p class="front-point__txt">턱 끝 길이<br class="hidden-p"> 단축</p>
	                                    </div>
	                                </li>
	                                <li class="front-point__item">
	                                    <div class="front-point__wrap">
	                                    	<p class="front-point__txt">턱 끝 길이<br class="hidden-p"> 연장</p>
	                                    </div>
	                                </li>
	                            </ul>
	                        </div>
	                    </div>

	                <div class="front-box4">
	                    <h4 class="content-section__tit">
	                        <strong>환자의 상태</strong>에<br class="hidden-pt"> 적합한 방법이<br>
	                        <strong class="color-contour18">가장 좋은 방법</strong>입니다
	                    </h4>
	                    <p class="content-section__txt1">
							앞턱 수술에 관한 정보들을 찾다 보면 앞턱 전진， ㅅ 절골， T 절골 등 그 방법이 실로 다양한 것을 볼 수 있습니다.<br class="hidden-m">
	                        각자 나름의 이유를 들어 어떤 특정 방법이 가장 효과적이라며 정답인 듯이 이야기하죠. 하지만 어떤 한가지 방법을 모든 환자분들에게 획일화하여 대입할 수는 없습니다.<br>
	                        개개인마다 턱의 상태가 다르고， 추구하는 바 또한 다르기 때문입니다.
						</p>
	                    <p class="content-section__txt2">
	                        <strong>따라서 가장 좋은 앞턱 성형은 전문의가 모든 앞턱 수술 방법을 알고， <span class="color-contour18">정밀한 진단을 통해 환자 개개인에 적합한 방법을 선택</span>하여 수술하는 것이라고 할 수 있습니다. </strong>
	                    </p>

	                    <div class="front-case">
	                        <div class="front-case__box">
	                            <div class="front-case__tit-wrap">
	                                <p class="front-case__tit">앞턱이 너무 길거나<br>돌출되었을 경우</p>
	                            </div>
	                            <div class="front-case__list-wrap">
	                                <ul class="front-case__list">
	                                    <li class="front-case__item">
	                                        <div class="front-case__item-wrap">
	                                            <img src="" alt="">
	                                            <p class="front-case__txt">ㅅ자 절골</p>
	                                        </div>
	                                    </li>
	                                    <li class="front-case__item">
	                                        <div class="front-case__item-wrap">
	                                            <img src="" alt="">
	                                            <p class="front-case__txt">T자 절골</p>
	                                        </div>
	                                    </li>
	                                </ul>
	                            </div>
	                        </div>
	                        <div class="front-case__box">
	                            <div class="front-case__tit-wrap">
	                                <p class="front-case__tit">앞턱이 너무 짧거나<br>들어간 경우</p>
	                            </div>
	                            <div class="front-case__list-wrap">
	                                <ul class="front-case__list">
	                                    <li class="front-case__item">
	                                        <div class="front-case__item-wrap">
	                                            <img src="" alt="">
	                                            <p class="front-case__txt">앞턱 전진</p>
	                                        </div>
	                                    </li>
	                                    <li class="front-case__item">
	                                        <div class="front-case__item-wrap">
	                                            <img src="" alt="">
	                                            <p class="front-case__txt">앞턱 + 뼈 이식</p>
	                                        </div>
	                                    </li>
	                                </ul>
	                            </div>
	                        </div>
	                    </div>
	                </div>

	                <div class="front-box5">
	                        <h4 class="content-section__tit">
	                            <strong>바노바기<br class="hidden-pt"> 운곽 성형 전문팀</strong>의<br>
	                            <strong class="color-contour21">절골 앞턱 수술</strong>은
	                            <strong class="content-highlight2 type-front type-alpha">효과적</strong>입니다
	                        </h4>
	                        <p class="content-section__txt1">
								바노바기는 오랜 경험과 노하우를 가진 윤곽 성형 전문팀이 앞턱 수술을 책임지고 있습니다.<br>
	                            수많은 환자분들과의 대화와 발 빠른 장비 도입을 통한 정밀한 진단을 기반으로， 다양한 학술 교류와 연구로 체득된 다양한 절골 방법 중 환자에게 적절한 수술 방법을 결정하죠.
							</p>
	                        <p class="content-section__txt2">
								또한 안면 근육과 지방， 피부 등 얼굴 각 층에 대한 전문적인 이해를 가지고 수술하기 때문에 앞턱 수술 후 생길 수 있는<br class="hidden-t">
	                            조직 손상이나 피부 처짐 등의 부작용도 사전에 예방이 가능합니다.
							</p>

	                        <div class="front-box5__doctor-img">
	                            <img src="../../images/contour/front/front_doctor_01_m.png" alt="">
	                        </div>
	                        <div class="front-box5__doctor">
	                            <div class="front-box5__name nth-1">
	                                성형외과전문의
	                                <strong>오창현 원장</strong>
	                            </div>
	                            <div class="front-box5__name nth-2">
	                                성형외과전문의
	                                <strong>박종림 원장</strong>
	                            </div>
	                        </div>
	                    </div>

	                <div class="front-box6">
	                    <ul class="front-box6__list">
	                        <li class="front-box6__item nth-1">
	                            <div class="front-box6__wrap">
	                                <div class="front-box6__img">
	                                    <div class="front-box6__caption">
	                                        <div class="front-box6__vertical">
	                                            심도 있는 상담과 장비를 통한 정밀 진단
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </li>
	                        <li class="front-box6__item nth-2">
	                            <div class="front-box6__wrap">
	                                <div class="front-box6__img">
	                                    <div class="front-box6__caption">
	                                        <div class="front-box6__vertical">
	                                            오랜 경험과 노하우로<br class="hidden-pm"> 맞춤 수술 가능
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </li>
	                        <li class="front-box6__item nth-3">
	                            <div class="front-box6__wrap">
	                                <div class="front-box6__img">
	                                    <div class="front-box6__caption">
	                                        <div class="front-box6__vertical">
	                                            얼굴 각 층에 대한 이해로 처짐없는<br class="hidden-pm"> 윤곽 추구
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </li>
	                    </ul>
	                </div>

	                <div class="front-box__wrap">
	                    <div class="front-box7">
	                            <div class="content-section__box w-6">
	                                <h4 class="content-section__tit">
	                                    <span class="content-highlight2 type-front type-sky">한 번의 수술</span>로<br class="hidden-t">
	                                    개선하는 것이 <br class="hidden-t"> <strong>효과적입니다.</strong>
	                                </h4>
	                                <p class="content-section__txt1">
	                                    흔히 턱 수술을 편의상 옆 턱， 앞 턱 등으로 구분하여 진행하곤 합니다.<br class="hidden-tm">
	                                    사각 턱이 고민이라면 옆의 각진 부분을 깎아내고， 앞 턱이 고민이라면<br class="hidden-tm">
	                                    턱 끝을 돋보이게 해줄 수 있는 수술을 진행하는 식이죠.<br class="hidden-tm">
	                                    하지만 실제 사람의 아래턱은 하나의 뼈로 이루어져 있습니다. 또한 입체적이죠.<br class="hidden-pm">
	                                    <span class="content-highlight type-contour">그래서 앞턱 수술은 옆 턱과 앞 턱을 한 번에 진행하는 것이 좋습니다.</span>
	                                    그래야만 비율적으로 더 아름다운 결과를 기대할 수 있고 자연스럽습니다.
	                                </p>
	                            </div>
	                            <div class="front-box7__img">앞턱 이미지</div>
	                        </div>

	                    <div class="front-box8">
	                            <ul class="front-box8__list">
	                                <li class="front-box8__item">
	                                    <img src="../../images/contour/front/front_img_06.jpg" alt="" class="hidden-tm">
	                                    <img src="../../images/contour/front/front_img_06_t.jpg" alt="" class="hidden-p">
	                                </li>
	                                <li class="front-box8__item">
	                                    <img src="../../images/contour/front/front_img_07.jpg" alt="" class="hidden-tm">
	                                    <img src="../../images/contour/front/front_img_07_t.jpg" alt="" class="hidden-p">
	                                </li>
	                            </ul>
	                            <p class="front-box8__txt1">
	                                물론 이런 수술 방법은 단순하지도， 쉽지도 않습니다.<br>
	                                환자에게 부담을 주지 않는 시간 내에 정면과 측면을 동시에 생각하며 진행해야 하니까요.
	                            </p>
	                            <p class="front-box8__txt2">
	                                자연스럽고 아름다운 앞턱 수술，<br class="hidden-pt"> <span class="color-contour18">정밀한 계측과 숙련된 전문의의 기술을 갖춘<br class="hidden-tm">
	          						바노바기 윤곽 성형 전담팀</span> 이기에 가능합니다.
	                            </p>
	                        </div>
	                </div>

					<div class="new-section">
						<div class="new-section__wrap type-w">
							<div class="operation-v2 type-contour">
								<div class="operation-v2__wrap">
									<h4 class="operation-v2__tit">수술정보</h4>
									<!-- <p class="operation-v2__subtit">바노바기 절골 앞턱 수술은 회복이 빠릅니다</p> -->
									<ul class="operation-v2__list">
										<li class="operation-v2__item nth-1 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">수술시간</h5>
												<p class="operation-v2__txt txt-new1">약 1시간</p>
											</div>
										</li>
										<li class="operation-v2__item nth-2 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">마취방법</h5>
												<p class="operation-v2__txt txt-new1">전신마취</p>
											</div>
										</li>
										<li class="operation-v2__item nth-3 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">실밥제거</h5>
												<p class="operation-v2__txt txt-new1">약 14일 후 제거</p>
											</div>
										</li>
										<li class="operation-v2__item nth-4 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">입원기간</h5>
												<p class="operation-v2__txt txt-new1">당일귀가</p>
											</div>
										</li>
										<li class="operation-v2__item nth-5 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">내원치료</h5>
												<p class="operation-v2__txt txt-new1">약 2회</p>
											</div>
										</li>
										<li class="operation-v2__item nth-6 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">회복</h5>
												<p class="operation-v2__txt txt-new1">약 5~7일 후 일상생활 가능</p>
											</div>
										</li>

									</ul>
									<div class="pain-v2 type-contour">
										<h5 class="pain-v2__tit txt-new2">수술 후 체감 통증</h5>
										<ol class="pain-v2__list">
											<% for(var i = 1; i<= 10; i++){%>
												<%if(i <= 3){%>
													<li class="<%="pain-v2__item is-active nth-"+i%>">
														<div class="pain-v2__square">square</div>
													</li>
												<%}else{%>
													<li class="<%="pain-v2__item nth-"+i%>">
														<div class="pain-v2__wrap">
															<div class="pain-v2__square">square</div>
														</div>
													</li>
												<%}%>
											<%}%>
										</ol>
										<p class="pain-v2__txt txt-new1">
											체계적인 후 관리를 통해 보다 빠르고 적극적인 회복을 도와드립니다.<br>
											마취가 풀리는 과정에서 욱신거리는 통증이 있을 수 있으며 시간이 지날수록 점차 완화됩니다.<br>
											실밥제거나 소독을 할 때의 통증은 살짝 따끔한 정도입니다.<br>
											부기로 인한 열감과 통증은 처방되는 진통제를 통해 완화할 수 있으며 냉찜질이 도움이 됩니다.
										</p>
										<div class="pain-v2__box">
											<p class="pain-v2__noti txt-new4">* 실제 수술하신 환자분들의 수술 후 설문 자료를 통해 평균을 냈습니다.</p>
											<p class="pain-v2__noti txt-new4">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</p>
										</div>
										<a href="<?php echo SITE_UPLOAD_URL?>/knowledge/contour.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a>
									</div><!-- //pain -->
								</div>
							</div>
						</div>

		            </div>

	            </div>
			</div>

	        <!-- tab2 : 下巴假体矫正术 -->
			<div class="content-tab__page page-implant is-active">
				<div class="content-tab__box">
	                <div class="front-box9">
	                        <h4 class="content-section__tit">
	                            <strong>特定的情况，</strong><br>
	                            <strong class="content-highlight2 type-front">可以</strong>假体矫正下巴
	                        </h4>
	                        <p class="content-section__txt1">
	                            如果对磨骨手术有很大的排斥感或诊断结果认为无需磨骨，那么利用假体矫正下巴不失为一个好方法。<br class="hidden-tm">
	                            所谓的假体矫正下巴，值得指植入
	                            <span class="content-section__info pop-info">
	                                <a href="" class="info-btn js-info type-front">
	                                    <span class="info-btn__icon type-design">info</span>
	                                    硅胶，戈尔特斯
	                                    <span class="info-desc type-design" style="display: none;">
	                                        <span class="info-desc__item">
	                                            <span class="info-desc__box">
	                                                <span class="info-desc__tit"><span class="info-desc__icon"></span><strong>硅胶，GORE-TEX</strong>是?<br class="hidden-tm"></span>
	                                                <span class="info-desc__content">
	                                                    <img src="../../images/contour/front/front_img_02.jpg" alt="硅胶，GORE-TEX" class="info-desc__thumb">
	                                                    <span class="info-desc__txt1">
															经过长时间的临床治疗，是对人体非常安全的材料。
															适合所需部位的形状易于打磨，持续时间长不宜变形和破损危险小的优点。
	                                                    </span>
	                                                </span>
	                                            </span>
	                                            <button class="info-desc__btn js-close">
	                                                <span class="info-desc__stick type-left"></span>
	                                                <span class="info-desc__stick type-another"></span>
	                                                关闭
	                                            </button>
	                                        </span>
	                                    </span>
	                                </a>
	                            </span>
	                            戈尔特斯等这样的假体，打造出理想的下巴模样。<br class="hidden-tm">
								因为这是延伸或补长下巴长度不足的原理，虽然不能矫正长下巴和过于凸出的下巴，但如果是下巴长度稍短或内缩时，是一个能有效填补缺失的立体感的好方法。
							</p>
	                        <div class="front-type">
	                            <ul class="front-type__list">
	                                <li class="front-type__item">
	                                    <div class="front-type__img">
	                                        <img src="../../images/contour/front/front_type_img_04.jpg" alt="下巴短时">
	                                        <p class="front-type__caption"><span class="color-contour19">下巴短</span>时</p>
	                                    </div>
	                                </li>
	                                <li class="front-type__item">
	                                    <div class="front-type__img">
	                                        <img src="../../images/contour/front/front_type_img_05.jpg" alt="下巴后缩，显嘴凸时">
	                                        <p class="front-type__caption"><span class="color-contour19">下巴后缩，</span>显嘴凸时</p>
	                                    </div>
	                                </li>
	                                <li class="front-type__item">
	                                    <div class="front-type__img">
	                                        <img src="../../images/contour/front/front_type_img_06.jpg" alt="下巴小而产生双下巴时">
	                                        <p class="front-type__caption"><span class="color-contour19">下巴小</span>而产生双下巴时</p>
	                                    </div>
	                                </li>
	                            </ul>
	                        </div>
	                        <div class="front-box9__box">
	                            <div class="brace type-front type-another">
	    							<p class="brace__txt txt-v4">
	    								下巴小的话，脖子和脸的界限就会看上去不分明！<br>
	                                    <span class="color-contour18">换一个突显鲜明轮廓线条的美丽下巴吧！</span>
	    							</p>
	    						</div>
	                        </div>
	                    </div>

	                <div class="front-box10">
	                    <h4 class="content-section__tit">
	                        只要<strong>符合条件，</strong><br>
	                        就是<strong class="content-highlight type-front">优点非常多</strong>的手术。
	                    </h4>
	                    <p class="content-section__txt1">
							假体矫正下巴的最大优点就是相比下巴磨骨手术负担更小。<br class="hidden-tm">
	                        手术方法比较简单，只需要植入符合骨形态的假体即可，且手术时间短，恢复也比较快。
						</p>
	                    <p class="content-section__txt2">
							另外，<span class="color-contour18">植入假体时</span>，通过嘴巴内侧切开，<span class="color-contour18">减少对疤痕的担心，可根据想要的下巴形状调节假体的形态</span>，结果也相当令人满意。
						</p>
	                </div>

	                <div class="front-box11">
	                    <ol class="front-box11__list">
	                        <li class="front-box11__item nth-1">
	                            <div class="front-box11__num">
	                                <span class="front-box11__step">STEP</span>
	                            </div>
	                            <div class="front-box11__img"></div>
	                            <div class="front-box11__desc">
	                                <h5 class="front-box11__tit">切开</h5>
	                                <p class="front-box11__txt">从嘴巴内侧切开约1cm的程度，共1~2处</p>
	                            </div>
	                        </li>
	                        <li class="front-box11__item nth-2">
	                            <div class="front-box11__num">
	                                <span class="front-box11__step">STEP</span>
	                            </div>
	                            <div class="front-box11__img"></div>
	                            <div class="front-box11__desc">
	                                <h5 class="front-box11__tit">植入假体</h5>
	                                <p class="front-box11__txt">放入按照本人骨骼形状加工而成的假体。</p>
	                            </div>
	                        </li>
	                        <li class="front-box11__item nth-3">
	                            <div class="front-box11__num">
	                                <span class="front-box11__step">STEP</span>
	                            </div>
	                            <div class="front-box11__img"></div>
	                            <div class="front-box11__desc">
	                                <h5 class="front-box11__tit">缝合</h5>
	                                <p class="front-box11__txt">将假体固定于安全的位置后进行缝合。</p>
	                            </div>
	                        </li>
	                    </ol>
	                </div>

	                <div class="front-box12">
	                    <div class="front-box12__wrap">
	                        <div class="front-box12__box">
	                            <div class="front-box12__tit">
	                                <h4 class="content-section__tit">
	            						<strong>正适合我的</strong><br>
	                                    <strong>用<span class="content-highlight2 type-front type-gray">假体</span>打造的漂亮的下巴模样</strong>和清晰
										<strong><span class="content-highlight2 type-front type-gray">鲜明的轮廓曲线</span></strong>！
	            					</h4>
	                            </div>
	                        </div>

	                        <div class="front-box12__box2">
	                            <div class="front-box12__list-wrap">
	                                <ul class="front-box12__list">
	                                    <li class="front-box12__item nth-1">
	                                        <p class="front-box12__txt">
												从口腔内切开表面上<strong class="color-contour22">看不到的疤痕</strong>
	                                        </p>
	                                    </li>
	                                    <li class="front-box12__item nth-2">
	                                        <p class="front-box12__txt">
	                                            <strong class="color-contour22">睡眠麻醉</strong>也可以进行的手术
	                                        </p>
	                                    </li>
	                                    <li class="front-box12__item nth-3">
	                                        <p class="front-box12__txt">
	                                            <strong class="color-contour22">30分钟左右</strong>短暂的时间
	                                        </p>
	                                    </li>
	                                    <li class="front-box12__item nth-4">
	                                        <p class="front-box12__txt">
	                                            <strong class="color-contour22">各种形态</strong>和不同大小的<strong class="color-contour22">假体</strong>
	                                        </p>
	                                    </li>
	                                    <li class="front-box12__item nth-5">
	                                        <p class="front-box12__txt">
	                                            术后可以<strong class="color-contour22">当天出院</strong>
	                                        </p>
	                                    </li>
	                                    <li class="front-box12__item nth-6">
	                                        <p class="front-box12__txt">
	                                            <strong class="color-contour22">无需磨骨</strong>也好看的变化
	                                        </p>
	                                    </li>
	                                </ul>
	                            </div>
	                        </div>
	                    </div>
	                </div>

					<div class="new-section">
						<div class="new-section__wrap type-w">
							<div class="operation-v2 type-contour">
								<div class="operation-v2__wrap">
									<h4 class="operation-v2__tit">手术详情</h4>
									<!-- <p class="operation-v2__subtit">佰诺佰琪下巴假体矫正术恢复快速</p> -->
									<ul class="operation-v2__list">
										<li class="operation-v2__item nth-1 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">手术时间</h5>
												<p class="operation-v2__txt txt-new1">约30分</p>
											</div>
										</li>
										<li class="operation-v2__item nth-2 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">麻醉方法</h5>
												<p class="operation-v2__txt txt-new1">局部麻醉</p>
											</div>
										</li>
										<li class="operation-v2__item nth-3 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">拆线</h5>
												<p class="operation-v2__txt txt-new1">约14天后拆线</p>
											</div>
										</li>
										<li class="operation-v2__item nth-4 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">住院时间</h5>
												<p class="operation-v2__txt txt-new1">当天回家</p>
											</div>
										</li>
										<li class="operation-v2__item nth-5 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">来院治疗</h5>
												<p class="operation-v2__txt txt-new1">约2次</p>
											</div>
										</li>
										<li class="operation-v2__item nth-6 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">恢复</h5>
												<p class="operation-v2__txt txt-new1">约5~7天后恢复日常生活</p>
											</div>
										</li>

									</ul>
									<div class="pain-v2 type-contour">
										<h4 class="pain-v2__tit txt-new2">术后体感疼痛</h4>
										<ol class="pain-v2__list">
											<% for(var i = 1; i<= 10; i++){%>
												<%if(i <= 2){%>
													<li class="<%="pain-v2__item is-active nth-"+i%>">
														<div class="pain-v2__square">square</div>
													</li>
												<%}else{%>
													<li class="<%="pain-v2__item nth-"+i%>">
														<div class="pain-v2__wrap">
															<div class="pain-v2__square">square</div>
														</div>
													</li>
												<%}%>
											<%}%>
										</ol>
										<p class="pain-v2__txt txt-new1">
											通过体系化的术后管理，帮助更快速的恢复。<br>
											麻醉消散的过程中可能会有刺痛的感觉，随着时间的推移会逐渐缓解。<br>
											拆线或消毒时会有轻微的刺痛感。<br>
											由浮肿引起的热感和疼痛可以通过服用止痛处方药得到缓解，冷敷也会有所帮助。
										</p>
										<div class="pain-v2__box">
											<p class="pain-v2__noti txt-new4">* 通过对术后患者进行问卷调查得出的平均值</p>
											<p class="pain-v2__noti txt-new4">* 从数据不存在绝对性，会存在个人差异，仅供大家作为参考。</p>
										</div>
										<!-- <a href="<?php echo SITE_UPLOAD_URL?>/knowledge/contour.pdf" target="_blank" class="operation-v2__link"><span>术后注意事项</span></a> -->
									</div><!-- //pain -->
								</div>
							</div>
						</div>

		            </div>
	            </div>
			</div>

	        <!-- tab3 : 下巴注射术-->
	        <div class="content-tab__page page-injection">
				<div class="content-tab__box type-margin0">
					<div class="front-box13">
	                    <div class="front-box13__wrap">
	                        <div class="front-box13__box">
	                            <div class="front-box13__tit">
	                                <h4 class="content-section__tit">
	            						如果想要<strong>精密和细微的变化</strong>的话，可以进行<strong><span class="content-highlight2 type-front type-dark">下巴注射术</span></strong>
	            					</h4>
	                                <p class="content-section__txt1">
										如果对磨骨感到有负担，也不愿意植入假体的话，通过下巴注射术也能带来适当的立体感。不是在骨头而是在皮肤下层注入自体脂肪或玻尿酸，填充不足的饱满感。
	        						</p>
	                                <p class="content-section__txt2">
	        							这个方法虽然不像磨骨手术或植入假体那样效果明显，但针对下巴需要有适当立体感时，则可以通过这个比较简单的方法来塑造下巴的形状。
	        						</p>
	                            </div>
	                        </div>

	                        <div class="front-box13__box2">
	                            <div class="front-box13__list-wrap">
	                            <ul class="front-box13__list">
	                                <li class="front-box13__item nth-1">
	                                    <div class="front-box13__img">
	                                        <p class="front-box13__caption">自体脂肪填充</p>
	                                    </div>
	                                    <div class="front-box13__area">
	                                        <ul class="front-box13__list2">
	                                            <li class="front-box13__item2">
	                                                <p class="front-box13__txt">吸取大腿或腹部的脂肪</p>
	                                            </li>
	                                            <li class="front-box13__item2">
	                                                <p class="front-box13__txt">利用圆心分离器分离脂肪细胞</p>
	                                            </li>
	                                            <li class="front-box13__item2">
	                                                <p class="front-box13__txt">为均匀注入下巴，高细胞生存率</p>
	                                            </li>
	                                        </ul>
	                                    </div>
	                                </li>
	                                <li class="front-box13__item nth-2">
	                                    <div class="front-box13__img">
	                                        <p class="front-box13__caption">爱贝芙/一般玻尿酸</p>
	                                    </div>
	                                    <div class="front-box13__area">
	                                        <ul class="front-box13__list2">
	                                            <li class="front-box13__item2">
	                                                <p class="front-box13__txt">注射前使用麻醉霜，减小痛感</p>
	                                            </li>
	                                            <li class="front-box13__item2">
	                                                <p class="front-box13__txt">用微针注射，美丽的形态</p>
	                                            </li>
	                                            <li class="front-box13__item2">
	                                                <p class="front-box13__txt">适合做半永久玻尿酸的爱贝芙注射</p>
	                                            </li>
	                                        </ul>
	                                    </div>
	                                </li>
	                            </ul>
	                        </div>
	                        </div>
	                    </div>
	                </div>
				</div>
			</div>
	    </div>
	</div><!-- //content-->
	<% include ../_include/_bfaf %>
</div> <!-- //container -->

<% include ../_include/_footer %>
