<%
	type = "content"
	page = "contour"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
    <div class="content" data-page="contour-brow">
		<% include ../_include/_tooltip %>
		<div class="new-visual type-brow">
			<div class="new-visual__box">
				<div class="new-visual__outer">
					<div class="new-visual__inner">
						<p class="new-visual__subtit">理想的比例和曲线的协调</p>
						<h3 class="new-visual__tit"><span class="n-color-contour2">额头</span>整形</h3>
						<p class="new-visual__txt">自信地尝试多种风格</p>
						<ul class="new-visual__list">
							<li class="new-visual__item"><span>#饱满度</span></li>
							<li class="new-visual__item"><span>#小脸型</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- //new-visual-->
        <div class="new-content-wrap">
			<div class="new-tab type-contour">
				<div class="new-tab__tit">
					<div class="new-tab__wrap">
						<a href="" class="new-tab__btn">丰满额头整容</a>
					</div>
				</div>
				<ul class="new-tab__list">
					<li class="new-tab__item is-active">
						<div class="new-tab__wrap">
							<a href="page-volume" class="new-tab__link">丰满额头整容</a>
						</div>
					</li>
					<li class="new-tab__item">
						<div class="new-tab__wrap">
							<a href="page-reduction" class="new-tab__link">额头缩小手术</a>
						</div>
					</li>
				</ul>
			</div>

			<div class="new-tab-content page-volume is-active">
				<div class="new-section type-cling">
					<div class="new-style1 type-brow type-bottom">
						<h4 class="new-style1__tit tit-new1 weight-regular">
							扁平凹陷的额头，<span class="n-color-contour2">需要饱满度</span>。
						</h4>
						<p class="new-style1__txt txt-new1">
                            额头占脸部面积的1/3左右，是对于个人侧面形象影响很大的部位。
                            侧面看时拥有与眉间，鼻子，嘴，下巴尖的高度相协的饱满感，无曲折光滑曲线的额头可以视为理想的形状。
                            如果额头没有弧度曲线平坦或凹陷的情况，或在眉骨发达，看上去额头相对内陷的情下，
                            给人以男性般阳刚的印象，因为这个问题也会导致化妆和发型上的局限性。
						</p>
						<p class="new-style1__txt2 txt-new2">
							额头的饱满<span class="n-color-contour2">左右个人的侧面形象</span>。
						</p>
						<div class="new-style1__img">
							<img src="../../images/contour/brow/brow_img_1.jpg" alt="" class="img-normal hidden-m"/>
							<img src="../../images/contour/brow/brow_img_1_m.jpg" alt="" class="img-normal hidden-pt"/>
						</div>
						<div class="inner-box">
							<div class="img-style1">
								<h5 class="new-content-tit tit-new2">代表性的额头假体植入术案例</h5>
								<ul class="img-style1__list type-half">
									<li class="img-style1__item">
										<img src="../../images/contour/brow/brow_img_2.jpg" class="img-w100" alt="侧面看时额头是扁平的，或额头一部分凹陷的情况"/>
										<p class="img-style1__subject txt-new1">侧面看时额头是扁平的，或额头一部分凹陷的情况</p>
									</li>
									<li class="img-style1__item">
										<img src="../../images/contour/brow/brow_img_3.jpg" class="img-w100" alt="眉骨过于发达给人以男性化阳刚感印象的情况"/>
										<p class="img-style1__subject txt-new1">眉骨过于发达给人以男性化阳刚感印象的情况</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="new-section type-cling">
					<div class="new-style1 type-bottom">
						<h4 class="new-style1__tit tit-new1 weight-regular">
							通过注射施术<span class="n-color-contour2">更精确地</span>帮您进行填充
						</h4>
						<p class="new-style1__txt txt-new1">
                            一般不需要植入额头假体的额头状态，或假体植入后希望更多一些立体感的情况通过脂肪移植或类似玻尿酸的注射施术改善额头。
                            注射施术相对来说是比较简便的方法，<span class="color-black1">减轻负担感的同时，对于塑造更精准和细微的饱满感是很有效的方法。</span>
						</p>
						<div class="inner-box type-w">
							<div class="img-style1">
								<ul class="img-style1__list type-half">
									<li class="img-style1__item">
										<img src="../../images/contour/brow/brow_img_4.jpg" class="img-w100" alt="自体脂肪细胞移植"/>
										<h5 class="img-style1__subject txt-new2">自体脂肪细胞移植</h5>
										<p class="img-style1__caption txt-new1">
                                            从大腿或腹部，背部等提取脂肪后通过离心机分离出脂肪细胞。
                                            将分离后的脂肪细胞均匀的注射于下巴。
										</p>
										<a href="../svf/svfTransplant.php" class="content-btn txt-new1"><span>移动到脂肪移植页面</span></a>
									</li>
									<li class="img-style1__item">
										<img src="../../images/contour/brow/brow_img_5.jpg" class="img-w100" alt=""/>
										<h5 class="img-style1__subject txt-new2">爱贝芙/一般玻尿酸</h5>
										<p class="img-style1__caption txt-new1">
                                            术前通过麻醉药膏的使用减少疼痛感使用细微的针注射打造美丽形态适合半永久玻尿酸爱贝芙的注射
										</p>
										<a href="../../special/specialDetail.php" class="content-btn txt-new1"><span>移动到玻尿酸页面</span></a>
									</li>
								</ul>
							</div>
						</div>
						<div class="inner-box type-brow">
							<div class="img-style1">
								<h5 class="new-content-tit tit-new2">
                                    以佰诺佰琪的多年轮廓整形经验<br class="hidden-tm">
                                    为基础而选择的玻尿酸注射手术
								</h5>
								<div class="inner-circle type-contour type-mbig">
									<ul class="inner-circle__list">
										<li class="inner-circle__item txt-new1">
											<div class="vertical-box">
												使用假体对额头，发际线进行校正
											</div>
										</li>
								 		<li class="inner-circle__item txt-new1">
											<div class="vertical-box">
												适合对手术有负担感的人群
											</div>
										</li>
								 		<li class="inner-circle__item txt-new1">
											<div class="vertical-box">
												通过玻尿酸注射相对更简单的打造饱满感
											</div>
										</li>
								 	</ul>
								</div>
								<ul class="img-style1__list type-mt">
									<li class="img-style1__item">
										<img src="../../images/contour/brow/brow_img_6.jpg" class="img-w100" alt="轮廓整形的专业团运营"/>
										<h6 class="img-style1__subject txt-new2">轮廓整形的专业团运营</h6>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="new-section type-cling">
					<div class="new-style1 type-brow2 type-bottom">
						<h4 class="new-style1__tit tit-new1 weight-regular">
							通过<span class="n-color-contour2">量身定制假体的使用</span><br class="hidden-tm">获得更高的满足感。
						</h4>
						<p class="new-style1__txt txt-new1">
                            因为只使用注射施术，效果是有限的，所以研发出了额头假体植入术。
                            仔细确认现在的额头状态后，使用硅胶制作出理想形态的假体植入额头的骨膜下方。
                            这个方法<span class="color-white">相较手术更为简便，又可为个人量身定制，具有变化更大满意度更高的优点。</span>此后在必要的情况下，可以与脂肪移植术或玻尿酸注射一样的注射施术一起进行，可追求改善为更精致的额头线条。
						</p>
						<div class="new-style1__img">
							<img src="../../images/contour/brow/brow_img_7.jpg" alt="" class="img-normal hidden-m"/>
							<img src="../../images/contour/brow/brow_img_7_m.jpg" alt="" class="img-normal hidden-pt"/>
						</div>
						<div class="inner-box">
							<div class="img-style1">
								<h5 class="new-content-tit tit-new2">额头假体植入术的顺序</h5>
								<ul class="img-style1__list type-half">
									<li class="img-style1__item">
										<img src="../../images/contour/brow/brow_img_8.jpg" class="img-w100" alt="术前确认额头状态按照额头形状取样。"/>
										<h6 class="img-style1__subject txt-new2">STEP. 01</h6>
										<p class="img-style1__caption txt-new1">术前确认额头状态按照额头形状取样。</p>
									</li>
									<li class="img-style1__item">
										<img src="../../images/contour/brow/brow_img_9.jpg" class="img-w100" alt="用硅胶根据额头的形状制造出和和合适于额头模样的假体。"/>
										<h6 class="img-style1__subject txt-new2">STEP. 02</h6>
										<p class="img-style1__caption txt-new1">用硅胶根据额头的形状制造出和和合适于额头模样的假体。</p>
									</li>
									<li class="img-style1__item">
										<img src="../../images/contour/brow/brow_img_10.jpg" class="img-w100" alt="从发际线切开后方约4~5cm处将假体植入于骨膜下。"/>
										<h6 class="img-style1__subject txt-new2">STEP. 03</h6>
										<p class="img-style1__caption txt-new1">从发际线切开后方约4~5cm处将假体植入于骨膜下。</p>
									</li>
									<li class="img-style1__item">
										<img src="../../images/contour/brow/brow_img_11.jpg" class="img-w100" alt="为了自然的饱满度和弧度的形成让填充物紧密贴合。"/>
										<h6 class="img-style1__subject txt-new2">STEP. 04</h6>
										<p class="img-style1__caption txt-new1">为了自然的饱满度和弧度的形成让填充物紧密贴合。</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="new-section type-cling">
					<div class="new-style1 type-brow3">
						<h5 class="new-style1__tit tit-new1 weight-regular">
							硅胶假体有着<span class="n-color-contour3">安全性和自然性的优点</span>
						</h5>
						<p class="new-style1__txt txt-new1">
							我们的额头因为坚硬，所以不是一定需要使用假体或者人造骨。<br class="hidden-tm">
                            反而是使用硬的人造骨头时，外部冲击造成损伤的可能性会加大，因为形状固定，所以会有效果不自然的缺点。
						</p>
						<p class="new-style1__txt2 txt-new2">
							佰诺佰琪通过多年的经验，得出硅胶假体更加适合额头整形的判断。
						</p>
						<p class="new-style1__txt txt-new1">
                            硅胶是每个人量身定做后植入的。凭借适当的弹性与凝聚力，几乎没有因外部冲击而损伤的可能性，形状和表情都很自然。<br class="hidden-tm">
                            另外，因为通过较小的切开也可手术，所以有减少了疤痕顾虑的好处。
						</p>
						<div class="new-style1__img">
							<img src="../../images/contour/brow/brow_img_12.jpg" alt="" class="img-normal hidden-m"/>
							<img src="../../images/contour/brow/brow_img_12_m.jpg" alt="" class="img-normal hidden-pt"/>
						</div>
					</div>
				</div>
				<div class="new-section">
					<div class="new-section__wrap type-w">
						<div class="operation-v2 type-contour">
							<div class="operation-v2__wrap">
								<h4 class="operation-v2__tit">手术详情</h4>
								<ul class="operation-v2__list">
									<li class="operation-v2__item nth-1 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">手术时间</h5>
											<p class="operation-v2__txt txt-new1">约30分~1小时</p>
										</div>
									</li>
									<li class="operation-v2__item nth-2 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">麻醉方法</h5>
											<p class="operation-v2__txt txt-new1">全身麻醉/局部麻醉</p>
										</div>
									</li>
									<li class="operation-v2__item nth-3 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">拆线</h5>
											<p class="operation-v2__txt txt-new1">约7~10天后拆线</p>
										</div>
									</li>
									<li class="operation-v2__item nth-4 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">住院时间</h5>
											<p class="operation-v2__txt txt-new1">当天回家</p>
										</div>
									</li>
									<li class="operation-v2__item nth-5 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">来院治疗</h5>
											<p class="operation-v2__txt txt-new1">约1次</p>
										</div>
									</li>
									<li class="operation-v2__item nth-6 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">恢复</h5>
											<p class="operation-v2__txt txt-new1">约3~5天后恢复日常生活</p>
										</div>
									</li>

								</ul>
								<div class="pain-v2 type-contour">
									<h5 class="pain-v2__tit txt-new2">术后体感疼痛</h5>
									<ol class="pain-v2__list">
										<% for(var i = 1; i<= 10; i++){%>
											<%if(i <= 2){%>
												<li class="<%="pain-v2__item is-active nth-"+i%>">
													<div class="pain-v2__square">square</div>
												</li>
											<%}else{%>
												<li class="<%="pain-v2__item nth-"+i%>">
													<div class="pain-v2__wrap">
														<div class="pain-v2__square">square</div>
													</div>
												</li>
											<%}%>
										<%}%>
									</ol>
									<p class="pain-v2__txt txt-new1">
										注射施术或假体植入手术后，额头上会感觉到肿胀感。<br>
										麻醉药效解除的过程中，会有阵痛感，随着时间的推移会逐渐缓解。<br>
										拆线和消毒的时候会有些许刺痛感。<br>
										因为浮肿而产生的疼痛和紧绷的感觉通过处方止痛药可以缓解。
									</p>
									<div class="pain-v2__box">
										<p class="pain-v2__noti txt-new4">* 通过对术后患者进行问卷调查得出的平均值</p>
										<p class="pain-v2__noti txt-new4">* 从数据不存在绝对性，会存在个人差异，仅供大家作为参考。</p>
									</div>
									<!-- <a href="<?php echo SITE_UPLOAD_URL?>/knowledge/contour.pdf" target="_blank" class="operation-v2__link"><span>阅读术后注意事项</span></a> -->
								</div><!-- //pain -->
							</div>
						</div>
					</div>
				</div>
			</div><!-- //new-tab-content-->

			<div class="new-tab-content page-reduction">
				<div class="new-section type-cling">
					<div class="new-style1 type-brow type-bottom">
						<h4 class="new-style1__tit tit-new1 weight-regular">
							<span class="n-color-contour2">额头的宽度</span>可以<span class="n-color-contour2">左右</span>脸部的整体比率
						</h4>
						<p class="new-style1__txt txt-new1">
							一般来说额头和脸上眉间，鼻子，下巴尖分开的时候，<span class="color-black1">比率和1:1:0.8~0.9一样或类似的脸型</span>被视为<span class="color-black1">理想型。</span><br class="hidden-tm">
                            如果额头比这个更宽的话，五官看起来有集中向下的感觉，显得不均衡或者脸看起来很长，容易给人以头部看起来大或发量太少的负面印象。
						</p>
						<p class="new-style1__txt2 txt-new2">
                            前额窄的情况下，虽然通过相对低廉和简单的方法就可以改善，额头宽的情况下，手术方法的<span class="n-color-contour2">额头缩小术</span>是<span class="n-color-contour2">更有效</span>的。
						</p>
						<div class="new-style1__img type-padding-m">
							<img src="../../images/contour/brow/brow_img_13.jpg" alt="" class="img-normal hidden-m"/>
							<img src="../../images/contour/brow/brow_img_13_m.jpg" alt="" class="img-normal hidden-pt"/>
							<p class="new-style1__noti txt-new1">※ 为了帮助理解的参考图片。</p>
						</div>
						<div class="inner-box">
							<div class="img-style1">
								<ul class="img-style1__list type-half type-notit">
									<li class="img-style1__item">
										<img src="../../images/contour/brow/brow_img_14.jpg" class="img-w100" alt="面部比例的不均衡"/>
										<h4 class="img-style1__subject txt-new2">面部比例的不均衡</h4>
									</li>
									<li class="img-style1__item">
										<img src="../../images/contour/brow/brow_img_15.jpg" class="img-w100" alt="看起来拉长的脸"/>
										<h4 class="img-style1__subject txt-new2">看起来拉长的脸</h4>
									</li>
									<li class="img-style1__item">
										<img src="../../images/contour/brow/brow_img_16.jpg" class="img-w100" alt="看起来偏大的脸"/>
										<h4 class="img-style1__subject txt-new2">看起来偏大的脸</h4>
									</li>
									<li class="img-style1__item">
										<img src="../../images/contour/brow/brow_img_17.jpg" class="img-w100" alt="脱发和老化的形象"/>
										<h4 class="img-style1__subject txt-new2">脱发和老化的形象</h4>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="new-section type-cling">
					<div class="new-style1 type-brow2 type-bottom">
						<h4 class="new-style1__tit tit-new1 weight-regular">
							相较于额头缩小术，作为一种可以<span class="n-color-contour2">直接</span><br class="hidden-tm">调整额头曲线的<span class="n-color-contour2">方法</span>。
						</h4>
						<p class="new-style1__txt txt-new1">
							额头缩小术的原理比较简单。<br class="hidden-tm">
							切开现有的发际线，头皮下移后固定及缝合。<br class="hidden-tm">
							这个方法最大的优点是<span class="color-white">相较于额头的大小，通过直接改善的方法，效果相比较会更为出色。</span><br class="hidden-tm">
                            因为比例理想会让脸部看上去小巧精致，自然打造发际线，适用于各种不同的发型。
						</p>
						<div class="inner-circle type-contour2 type-small">
							<ul class="inner-circle__list">
				 				<li class="inner-circle__item txt-new1">
									<div class="vertical-box">
										更快和直接的改善
									</div>
								</li>
						 		<li class="inner-circle__item txt-new1">
									<div class="vertical-box">
										脸部看上去有小巧明朗的效果
									</div>
								</li>
						 		<li class="inner-circle__item txt-new1">
									<div class="vertical-box">
                                        可以搭配多种风格
                                    </div>
								</li>
						 	</ul>
						</div>
						<div class="new-style1__img">
							<img src="../../images/contour/brow/brow_img_18.jpg" alt="" class="img-normal hidden-m"/>
							<img src="../../images/contour/brow/brow_img_18_m.jpg" alt="" class="img-normal hidden-pt"/>
						</div>
						<div class="inner-box">
							<div class="step-style type-contour">
								<h3 class="new-content-tit tit-new2">手术过程</h3>
								<ul class="step-style__list">
									<li class="step-style__item">
										<div class="step-style__head txt-new2">
											<div class="step-style__box">step.01</div>
										</div>
										<div class="step-style__body txt-new1">
											<div class="step-style__box">
                                                沿着发际线之字形切割
                                            </div>
										</div>
									</li>
									<li class="step-style__item">
										<div class="step-style__head txt-new2">
											<div class="step-style__box">step.02</div>
										</div>
										<div class="step-style__body txt-new1">
											<div class="step-style__box">
												将头皮下拉后使用安多泰固定
											</div>
										</div>
									</li>
									<li class="step-style__item">
										<div class="step-style__head txt-new2">
											<div class="step-style__box">step.03</div>
										</div>
										<div class="step-style__body txt-new1">
											<div class="step-style__box">
												最后皮肤的组织层单独进行缝合
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="new-section type-cling">
					<div class="new-style1 type-brow type-bottom">
						<h4 class="new-style1__tit tit-new1 weight-regular">
							因为<span class="n-color-contour2">手术过程的细节化</span><br class="hidden-tm">
							而取得更加令人满意的结果。
						</h4>
						<p class="new-style1__txt txt-new1">
							虽然是相对较简单的原理的手术，但是医生的技术会造成其结果的差异。<br class="hidden-tm">
							如果只是单纯切开发际线后下移，其结果就肯定是不自然的。<br class="hidden-tm">
							佰诺佰琪一次又一次的手术过程中，运用技术和经验，追求更为自然和理想的额头缩小术。
						</p>
						<p class="new-style1__txt txt-new1">
							首先，头皮切开时通过45度的斜线形态切开，自然地向前推进毛发根。<br class="hidden-tm">
							另外，不仅整体的切开形态也使用之字型切开，引导自然的发际线的形成。<br class="hidden-tm">
							固定的过程中利用可以均匀固定皮肤连接组织的<span class="n-color-contour2">* 安多泰</span>，防止头皮再次前移。<br class="hidden-tm">
							最后，通过合适的方式缝合切开部位的皮肤的每一层，减少组织的损伤，几乎不会留下疤痕。
						</p>
						<div class="img-style1">
							<ul class="img-style1__list type-half type-mt">
								<li class="img-style1__item">
									<img src="../../images/contour/brow/brow_img_19.jpg" class="img-w100" alt="拯救毛发根的45度切开"/>
									<h4 class="img-style1__subject txt-new2">拯救毛发根的45度切开</h4>
									<p class="img-style1__caption txt-new1">
										切开头皮时不是直角而是45度斜线形态切开后将毛发根切开部位前移所以形成更均匀自然的发际线。
									</p>
								</li>
								<li class="img-style1__item">
									<img src="../../images/contour/brow/brow_img_20.jpg" class="img-w100" alt="整体线条以之字形切开"/>
									<h4 class="img-style1__subject txt-new2">整体线条以之字形切开</h4>
									<p class="img-style1__caption txt-new1">
										头皮的切开线条不是直线而是以之字形态切开。切开部位更有效地缝合后对预防疤痕也更有效，并且发际线也更加自然地形成。
									</p>
								</li>
								<li class="img-style1__item">
									<img src="../../images/contour/brow/brow_img_21.jpg" class="img-w100" alt="使用安多泰固定"/>
									<h4 class="img-style1__subject txt-new2"><span class="n-color-contour2">*</span>使用<span class="n-color-contour2">安多泰</span>固定</h4>
									<p class="img-style1__caption txt-new1">
										利用安多泰将向下耷拉的头皮牢牢固定。均匀地受力固定可防止手术后头皮向后拉扯的现象，同时因为植入的安多泰随着时间会被人体吸收， 所以更为自然，对疤痕的恢复也更有效。
									</p>
								</li>
								<li class="img-style1__item">
									<img src="../../images/contour/brow/brow_img_22.jpg" class="img-w100" alt="Layer By Layer层层缝合"/>
									<h4 class="img-style1__subject txt-new2">Layer By Layer层层缝合</h4>
									<p class="img-style1__caption txt-new1">
										皮肤由表皮层，真皮层， 脂肪， 肌膜， 肌肉等各种层堆积的形式构成。忽视了这些各层特点的情况下进行切割和缝合的话，会造成组织的损伤，恢复缓慢等各种副作用的危险形成。佰诺佰琪以对这些组织层的理解为背景为了恢复进行层层缝合，减少疤痕。
									</p>
								</li>
							</ul>
						</div><!--//img-style1-->
						<div class="inner-stripe type-line">
							<ul class="inner-stripe__list">
								<li class="inner-stripe__item">
									<div class="inner-stripe__wrap">
										<div class="inner-stripe__box">
											<div class="inner-stripe__img">
												<img src="../../images/contour/brow/brow_icon_1.png" alt="" class="img-responsive">
											</div>
										</div>
										<h4 class="inner-stripe__subject txt-new1 n-color-contour2">* 安多泰</h4>
										<p class="inner-stripe__txt txt-new1">
                                            安多泰是获得美国FDA认证的安全的生物亲和材料。通过统一的压强均匀地提拉皮肤组织，自然地进行皱纹改善，具有疤痕小，持久的效果，自然吸收等特征，被用于改善皮肤松弛的多样的抗衰老治疗中。
										</p>
									</div>
								</li>

							</ul>
						</div><!--//inner-stripe-->
					</div>
				</div>
				<div class="new-section">
					<div class="new-section__wrap type-w">
						<div class="operation-v2 type-contour">
							<div class="operation-v2__wrap">
								<h3 class="operation-v2__tit">手术详情</h3>
								<!-- <p class="operation-v2__subtit">광대수술의 수술정보를 안내해 드립니다.</p> -->
								<ul class="operation-v2__list">
									<li class="operation-v2__item nth-1 js-op-height">
										<div class="operation-v2__box">
											<h4 class="operation-v2__subject txt-new2">手术时间</h4>
											<p class="operation-v2__txt txt-new1">约1小时30分</p>
										</div>
									</li>
									<li class="operation-v2__item nth-2 js-op-height">
										<div class="operation-v2__box">
											<h4 class="operation-v2__subject txt-new2">麻醉方法</h4>
											<p class="operation-v2__txt txt-new1">睡眠麻醉</p>
										</div>
									</li>
									<li class="operation-v2__item nth-3 js-op-height">
										<div class="operation-v2__box">
											<h4 class="operation-v2__subject txt-new2">拆线</h4>
											<p class="operation-v2__txt txt-new1">约7天后拆线</p>
										</div>
									</li>
									<li class="operation-v2__item nth-4 js-op-height">
										<div class="operation-v2__box">
											<h4 class="operation-v2__subject txt-new2">住院时间</h4>
											<p class="operation-v2__txt txt-new1">当天回家</p>
										</div>
									</li>
									<li class="operation-v2__item nth-5 js-op-height">
										<div class="operation-v2__box">
											<h4 class="operation-v2__subject txt-new2">来院治疗</h4>
											<p class="operation-v2__txt txt-new1">约1次</p>
										</div>
									</li>
									<li class="operation-v2__item nth-6 js-op-height">
										<div class="operation-v2__box">
											<h4 class="operation-v2__subject txt-new2">恢复</h4>
											<p class="operation-v2__txt txt-new1">约3~5天后恢复日常生活</p>
										</div>
									</li>

								</ul>
								<div class="pain-v2 type-contour">
									<h3 class="pain-v2__tit txt-new2">术后体感疼痛</h3>
									<ol class="pain-v2__list">
										<% for(var i = 1; i<= 10; i++){%>
											<%if(i <= 2){%>
												<li class="<%="pain-v2__item is-active nth-"+i%>">
													<div class="pain-v2__square">square</div>
												</li>
											<%}else{%>
												<li class="<%="pain-v2__item nth-"+i%>">
													<div class="pain-v2__wrap">
														<div class="pain-v2__square">square</div>
													</div>
												</li>
											<%}%>
										<%}%>
									</ol>
									<p class="pain-v2__txt txt-new1">
										注射施术或假体植入手术后，额头上会感觉到肿胀感。<br>
										麻醉药效解除的过程中，会有阵痛感，随着时间的推移会逐渐缓解。<br>
										拆线和消毒的时候会有些许刺痛感。<br>
										因为浮肿而产生的疼痛和紧绷的感觉通过处方止痛药可以缓解。
									</p>
									<div class="pain-v2__box">
										<p class="pain-v2__noti txt-new4">* 通过对术后患者进行问卷调查得出的平均值</p>
										<p class="pain-v2__noti txt-new4">* 从数据不存在绝对性，会存在个人差异，仅供大家作为参考。</p>
									</div>
									<!-- <a href="<?php echo SITE_UPLOAD_URL?>/knowledge/contour.pdf" target="_blank" class="operation-v2__link"><span>阅读术后注意事项</span></a> -->
								</div><!-- //pain -->
							</div>
						</div>
					</div>
	            </div>
			</div>
        </div><!-- //new-content-wrap-->
    </div><!-- //content-->


</div> <!-- //container -->

<% include ../_include/_footer %>
