<%
	type = "content"
	page = "contour"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
    <div class="content" data-page="contour-slimface">
		<% include ../_include/_tooltip %>
		<div class="new-visual type-slimface">
			<div class="new-visual__box">
				<div class="new-visual__outer">
					<div class="new-visual__inner">
						<p class="new-visual__subtit">减少对截骨的负担感，</p>
						<h3 class="new-visual__tit"><span class="n-color-contour2">去除</span>面部赘肉</h3>
						<p class="new-visual__txt">以对面部各组织的理解为基础，改善脸型</p>
						<ul class="new-visual__list">
							<li class="new-visual__item"><span>#ACCU激光溶脂</span></li>
							<li class="new-visual__item"><span>#矫正颊脂垫</span></li>
							<li class="new-visual__item"><span>#咬肌去除术</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- //new-visual-->
		<div class="new-content-wrap">
			<div class="new-section">
				<div class="new-style1 type-slimface">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						面部轮廓整形，<span class="n-color-contour2">光截骨也不是唯一的方法</span>
					</h4>
					<p class="new-style1__txt txt-new1">
						一般来说,若提到面部轮廓整形,就容易只想到截骨手术。<br class="hidden-tm">
						但是除了截骨的方法，改善脸型的方法很多样。<br class="hidden-tm">
						<span class="color-black1">面部除了骨骼以外，还根据皮肤，脂肪，肌肉等多种软组织的发达程度决定其形状。</span><br class="hidden-tm">
                        比起面部骨骼自身的问题，因软组织的突出或下垂而对脸型产生困扰的话，只有正确矫正软组织，才能获得满意的轮廓整形效果。
					</p>
					<p class="new-style1__txt2 txt-new2">
						因此面部轮廓整形不光只有截骨手术<span class="n-color-contour2">对软组织的矫正也很重要</span>，为了更有效地改善脸型，必要时需与面部截骨及软组织矫正一起进行。
					</p>
					<div class="new-style1__img">
						<img src="../../images/contour/slimface/slimface_img_1.png" alt="面部骨骼, 软组织" class="img-normal"/>
					</div>
				</div>
				<div class="new-style1 type-slimface2 type-top0 type-bottom">
					<div class="inner-box">
						<div class="img-style3 type-cling type-contour">
                            <h5 class="new-content-tit tit-new2">
                                决定脸型的多种要素
                            </h5>
                            <ul class="img-style3__list">
                                <li class="img-style3__item">
                                    <div class="img-style3__img">
                                        <img src="../../images/contour/slimface/slimface_img_2.jpg" alt="面部骨骼" class="img-w100">
                                    </div>
									<p class="img-style3__txt txt-new1">
										面部骨骼
									</p>
                                </li>
                                <li class="img-style3__item">
                                    <div class="img-style3__img">
                                        <img src="../../images/contour/slimface/slimface_img_3.jpg" alt="皮肤" class="img-w100">
                                    </div>
									<p class="img-style3__txt txt-new1">
										皮肤
									</p>
                                </li>
								<li class="img-style3__item">
                                    <div class="img-style3__img">
                                        <img src="../../images/contour/slimface/slimface_img_4.jpg" alt="肌肉" class="img-w100">
                                    </div>
									<p class="img-style3__txt txt-new1">
										肌肉
									</p>
                                </li>
                                <li class="img-style3__item">
                                    <div class="img-style3__img">
                                        <img src="../../images/contour/slimface/slimface_img_5.jpg" alt="脂肪" class="img-w100">
                                    </div>
									<p class="img-style3__txt txt-new1">
										脂肪
									</p>
                                </li>
                            </ul>
                        </div>
					</div>
				</div>
				<div class="new-style1 type-slimface3 type-bottom">
					<div class="new-style1__wrap">
					 	<h4 class="new-style1__tit tit-new1 weight-regular">
							以<span class="n-color-contour2">更正确的诊断及手术</span>使效果最大化
						</h4>
					 	<p class="new-style1__txt txt-new1">
					 		改善软组织的轮廓整形的优点是比截骨负担感更小。<br class="hidden-tm">
							进行比较小的切开及剥离，几乎无需担心痛症及疤痕，无需截骨，恢复的时间也比较短。<br class="hidden-tm">
							<span class="color-white">因此正确地把握每个人的状态，选择能改善缺点的合适方法，通过矫正软组织也能期待更有效的轮廓整形结果。</span>
					 	</p>
					 	<p class="new-style1__txt2 txt-new2">
					 		佰诺佰琪具备长期经验及技术的<span class="n-color-contour3">轮廓整形专家团队</span>去除面部赘肉。
					 	</p>
						<div class="inner-circle type-contour3 type-mbig">
							<ul class="inner-circle__list">
								<li class="inner-circle__item txt-new1">
									<div class="vertical-box">
										通过具有深度的咨询制定改善方法
									</div>
								</li>
						 		<li class="inner-circle__item txt-new1">
									<div class="vertical-box">
										通过各种专业设备进行分析
									</div>
								</li>
						 		<li class="inner-circle__item txt-new1">
									<div class="vertical-box">
										通过长期的经验及技术改善手术方法
									</div>
								</li>
						 	</ul>
						</div>
					</div>
					 <div class="new-style1__img">
					 	<img src="../../images/contour/slimface/slimface_img_6.jpg" class="img-normal" alt="">
					</div>
					<div class="inner-box">
						<div class="img-style1">
							<h4 class="new-content-tit tit-new2">佰诺佰琪轮廓整形专家</h4>
							<ul class="img-style1__list">
								<li class="img-style1__item">
									<img src="../../images/contour/slimface/slimface_img_7.jpg" class="img-w100" alt="佰诺佰琪轮廓整形专家">
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="new-section type-cling">
	                <div class="new-style1 type-bottom type-slimface4">
	                    <h4 class="new-style1__tit tit-new1 weight-regular">
	                        通过<span class="n-color-contour2">软组织矫正</span>打造更有魅力的脸型佰诺佰琪面部赘肉去除
	                    </h4>
						<div class="new-style1__img">
							<img src="../../images/contour/slimface/slimface_img_8.jpg" alt="img" class="img-normal">
						</div>
	                    <div class="inner-box">
							<div class="img-style7 type-margin-zero">
								<ul class="img-style7__list">
									<li class="img-style7__item">
										<div class="img-style7__img">
											<img src="../../images/contour/slimface/slimface_img_9.png" class="img-w100" alt="因过度发达的肌肉而苦恼脸型">
										</div>
										<div class="img-style7__caption">
											<h5 class="img-style7__subject txt-new1">
												因过度发达的肌肉而苦恼脸型
											</h5>
											<p class="img-style7__txt txt-new2">
												咬肌缩小术
											</p>
										</div>
									</li>
									<li class="img-style7__item">
										<div class="img-style7__img">
											<img src="../../images/contour/slimface/slimface_img_10.png" class="img-w100" alt="因面部深层的脂肪而苦恼脸型">
										</div>
										<div class="img-style7__caption">
											<h5 class="img-style7__subject txt-new1">
                                                因面部深层的脂肪而苦恼脸型
											</h5>
											<p class="img-style7__txt txt-new2">
												矫正颊脂垫
											</p>
										</div>
									</li>
									<li class="img-style7__item">
										<div class="img-style7__img">
											<img src="../../images/contour/slimface/slimface_img_11.png" class="img-w100" alt="因表层脂肪及皮肤下垂而苦恼脸型">
										</div>
										<div class="img-style7__caption">
											<h5 class="img-style7__subject txt-new1">
                                                因表层脂肪及皮肤下垂而苦恼脸型
											</h5>
											<p class="img-style7__txt txt-new2">
												ACCU激光溶脂
											</p>
										</div>
									</li>
								</ul>
							</div>
	                    </div>
	                </div>
	            </div>
				<div class="new-tab__line">line</div>
				<div class="new-tab type-contour">
					<div class="new-tab__tit">
						<div class="new-tab__wrap">
							<a href="" class="new-tab__btn">ACCU激光溶脂</a>
						</div>
					</div>
					<ul class="new-tab__list">
						<li class="new-tab__item is-active">
							<div class="new-tab__wrap">
								<a href="page-acusculf" class="new-tab__link">ACCU激光溶脂</a>
							</div>
						</li>
						<li class="new-tab__item">
							<div class="new-tab__wrap">
								<a href="page-cheek" class="new-tab__link">矫正颊脂垫</a>
							</div>
						</li>
						<li class="new-tab__item">
							<div class="new-tab__wrap">
								<a href="page-masticator" class="new-tab__link">咬肌缩小术</a>
							</div>
						</li>
					</ul>
				</div><!-- //new-tab-->

				<div class="new-tab-content page-acusculf is-active">
					<div class="new-section">
						<div class="new-style1 type-slimface5">
							<div class="new-style1__wrap">
							 	<h4 class="new-style1__tit tit-new1 weight-regular">
									ACCU激光溶脂<span class="n-color-contour2">改善轮廓的同时又能增加皮肤的弹力</span>
								</h4>
							 	<p class="new-style1__txt txt-new1">
                                    破坏面部轮廓的双下巴或者颧骨下垂等症状是因面部皮肤下的表层脂肪而引起的。<br class="hidden-tm">
                                    导致皮肤及脂肪下垂，面部凹陷，产生八字纹等各种皱纹。
							 	</p>
							 	<p class="new-style1__txt2 txt-new2">
							 		佰诺佰琪为改善下垂，<span class="n-color-contour2">减少脂肪及提高皮肤弹力而使用ACCU激光溶脂。</span>
							 	</p>
								<p class="new-style1__txt2 txt-new1">
                                    ACCU激光溶脂是利用激光的脂肪吸脂设备,可进行更精密微创的手术,更有效细腻地改善脸型。选择性地改善皮下脂肪，并溶解吸出，因此出血或组织损伤几乎没有。<br class="hidden-tm">
                                    此外，因具有刺激胶原蛋白从而增加皮肤弹力的效果，施术后不只对脸型，而且对皱纹也有改善的效果。
							 	</p>
								<div class="inner-circle type-contour3 type-mbig">
									<ul class="inner-circle__list">
										<li class="inner-circle__item txt-new1">
											<div class="vertical-box">
												更细腻地改善脸型
											</div>
										</li>
								 		<li class="inner-circle__item txt-new1">
											<div class="vertical-box">
												微创简便的施术
											</div>
										</li>
								 		<li class="inner-circle__item txt-new1">
											<div class="vertical-box">
												增加皮肤弹力
											</div>
										</li>
										<li class="inner-circle__item txt-new1">
											<div class="vertical-box">
												几乎所有面部部位都能改善
											</div>
										</li>
								 	</ul>
								</div>
							</div>
							 <div class="new-style1__img">
							 	<img src="../../images/contour/slimface/slimface_img_12.jpg" class="img-normal" alt="">
							</div>
						</div>
					</div>
					<div class="new-section">
						<div class="new-section__wrap type-w">
							<div class="operation-v2 type-contour type-four">
								<div class="operation-v2__wrap">
									<h4 class="operation-v2__tit">手术详情</h4>
									<ul class="operation-v2__list">
										<li class="operation-v2__item nth-1 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">手术时间</h5>
												<p class="operation-v2__txt txt-new1">手术部位或范围不同约30分~1小时</p>
											</div>
										</li>
										<li class="operation-v2__item nth-2 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">麻醉方法</h5>
												<p class="operation-v2__txt txt-new1">睡眠麻醉</p>
											</div>
										</li>
										<li class="operation-v2__item nth-5 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">来院治疗</h5>
												<p class="operation-v2__txt txt-new1">约7天后治疗和术后1个月复查</p>
											</div>
										</li>
										<li class="operation-v2__item nth-6 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">恢复</h5>
												<p class="operation-v2__txt txt-new1">约3~5天后恢复日常生活</p>
											</div>
										</li>

									</ul>
									<div class="pain-v2 type-contour">
										<h5 class="pain-v2__tit txt-new2">术后体感疼痛</h5>
										<ol class="pain-v2__list">
											<% for(var i = 1; i<= 10; i++){%>
												<%if(i <= 1){%>
													<li class="<%="pain-v2__item is-active nth-"+i%>">
														<div class="pain-v2__square">square</div>
													</li>
												<%}else{%>
													<li class="<%="pain-v2__item nth-"+i%>">
														<div class="pain-v2__wrap">
															<div class="pain-v2__square">square</div>
														</div>
													</li>
												<%}%>
											<%}%>
										</ol>
										<p class="pain-v2__txt txt-new1">
											会有一点异物感及痛症，时间会缓解疼痛<br>
											通过嘴内切口，所以几乎看不到疤痕<br>
											为了嘴内切口部位的恢复，术后2~3天内请避开热的或刺激的食物
										</p>
										<div class="pain-v2__box">
											<p class="pain-v2__noti txt-new4">* 通过对术后患者进行问卷调查得出的平均值</p>
											<p class="pain-v2__noti txt-new4">* 从数据不存在绝对性，会存在个人差异，仅供大家作为参考。</p>
										</div>
									</div><!-- //pain -->
								</div>
							</div>
						</div>
		            </div>
				</div>

				<div class="new-tab-content page-cheek">
					<div class="new-section">
						<div class="new-style1 type-slimface5">
							<div class="new-style1__wrap">
							 	<h4 class="new-style1__tit tit-new1 weight-regular">
									减少颊脂垫的脂肪，<span class="n-color-contour2">打造更纤细的脸型</span>。
								</h4>
							 	<p class="new-style1__txt txt-new1">
							 		颊脂垫是指脸颊深层堆积脂肪的部位，通常被称为肉脸。颊脂垫发达的面部通常容易带给他人消极的印象，两颊突出，面部看上去显大，这种情况通过一般的减肥或吸脂，没有大的效果，因此<span class="color-black1">通过颊脂垫矫正术，直接地减少颊脂垫的大小。</span>
							 	</p>
							 	<p class="new-style1__txt2 txt-new2">
                                    颊脂垫矫正是减少位于颊脂垫的脂肪的手术。<br class="hidden-tm">
                                    因此具有<span class="n-color-contour2">更快改善脸型成细长脸型的优点。</span>
							 	</p>
								<p class="new-style1__txt2 txt-new1">
                                    切口是约1cm左右的伤口，切口本身是在口腔内的，因此恢复相对较快，具有几乎看不到疤痕的优点。
							 	</p>
								<div class="inner-circle type-contour3 type-mbig">
									<ul class="inner-circle__list">
										<li class="inner-circle__item txt-new1">
											<div class="vertical-box">
												打造更加纤细干练的脸型
											</div>
										</li>
								 		<li class="inner-circle__item txt-new1">
											<div class="vertical-box">
												更加直接及半永久性的效果
											</div>
										</li>
								 		<li class="inner-circle__item txt-new1">
											<div class="vertical-box">
												约1cm的比较小的切口，无需担心疤痕
											</div>
										</li>
										<li class="inner-circle__item txt-new1">
											<div class="vertical-box">
												施术时间比较短当天可进行正常生活
											</div>
										</li>
								 	</ul>
								</div>
							</div>
							 <div class="new-style1__img">
							 	<img src="../../images/contour/slimface/slimface_img_13.jpg" class="img-normal" alt="">
							</div>
						</div>
					</div>
					<div class="new-section">
						<div class="new-section__wrap type-w">
							<div class="operation-v2 type-contour type-four">
								<div class="operation-v2__wrap">
									<h4 class="operation-v2__tit">手术详情</h4>
									<ul class="operation-v2__list">
										<li class="operation-v2__item nth-1 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">手术时间</h5>
												<p class="operation-v2__txt txt-new1">约20分~30分</p>
											</div>
										</li>
										<li class="operation-v2__item nth-2 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">麻醉方法</h5>
												<p class="operation-v2__txt txt-new1">睡眠麻醉</p>
											</div>
										</li>
										<li class="operation-v2__item nth-5 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">来院治疗</h5>
												<p class="operation-v2__txt txt-new1">约术后7天1次</p>
											</div>
										</li>
										<li class="operation-v2__item nth-6 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">恢复</h5>
												<p class="operation-v2__txt txt-new1">约3~5天后恢复日常生活</p>
											</div>
										</li>

									</ul>
									<div class="pain-v2 type-contour">
										<h5 class="pain-v2__tit txt-new2">术后体感疼痛</h5>
										<ol class="pain-v2__list">
											<% for(var i = 1; i<= 10; i++){%>
												<%if(i <= 1){%>
													<li class="<%="pain-v2__item is-active nth-"+i%>">
														<div class="pain-v2__square">square</div>
													</li>
												<%}else{%>
													<li class="<%="pain-v2__item nth-"+i%>">
														<div class="pain-v2__wrap">
															<div class="pain-v2__square">square</div>
														</div>
													</li>
												<%}%>
											<%}%>
										</ol>
										<p class="pain-v2__txt txt-new1">
											会有一点异物感及痛症，时间会缓解疼痛<br>
											通过嘴内切口，所以几乎看不到疤痕<br>
											为了嘴内切口部位的恢复，术后2~3天内请避开热的或刺激的食物
										</p>
										<div class="pain-v2__box">
											<p class="pain-v2__noti txt-new4">* 通过对术后患者进行问卷调查得出的平均值</p>
											<p class="pain-v2__noti txt-new4">* 从数据不存在绝对性，会存在个人差异，仅供大家作为参考。</p>
										</div>
									</div><!-- //pain -->
								</div>
							</div>
						</div>
		            </div>
				</div>

				<div class="new-tab-content page-masticator">
					<div class="new-section">
						<div class="new-style1 type-slimface5">
							<div class="new-style1__wrap">
							 	<h4 class="new-style1__tit tit-new1 weight-regular">
									咬肌就像发达的下巴骨骼<br class="hidden-tm">
									<span class="n-color-contour2">对下巴有大的影响。</span>
								</h4>
							 	<p class="new-style1__txt txt-new1">
							 		咬肌是咀嚼食物时起最重要作用的肌肉，存在于下巴的两边。
									咬紧牙齿的时候，触摸下巴两边的话，会感觉到硬硬的一块。
									但是咬肌过度发达的话，就容易形成大下巴，<span class="color-black1">特别严重的情况，则会产生鄂关节疾患或磨牙的情况，通过注射肉毒素或咬肌缩小术，改善咬肌的大小。</span>
							 	</p>
							 	<p class="new-style1__txt2 txt-new2">
							 		佰诺佰琪根据患者个人<span class="n-color-contour2">的咬肌发达情况，合适地选择肉毒素或者咬肌缩小术</span>。
							 	</p>
								<p class="new-style1__txt2 txt-new1">
							 		特别咬肌缩小术比起效果短暂，会产生抗药性的肉毒术，其效果更持久且半永久性，而且手术当天就能恢复正常生活，能简单地改善下颌角。
							 	</p>
								<div class="inner-circle type-contour3 type-mbig">
									<ul class="inner-circle__list">
										<li class="inner-circle__item txt-new1">
											<div class="vertical-box">
												打造更加纤细干练的脸型
											</div>
										</li>
								 		<li class="inner-circle__item txt-new1">
											<div class="vertical-box">
												更加直接及半永久性的效果
											</div>
										</li>
								 		<li class="inner-circle__item txt-new1">
											<div class="vertical-box">
												对改善磨牙及鄂关节疾病有效果
											</div>
										</li>
										<li class="inner-circle__item txt-new1">
											<div class="vertical-box">
												施术时间比较短当天可进行正常生活
											</div>
										</li>
								 	</ul>
								</div>
							</div>
							 <div class="new-style1__img">
							 	<img src="../../images/contour/slimface/slimface_img_14.jpg" class="img-normal" alt="">
							</div>
						</div>
					</div>
					<div class="new-section">
						<div class="new-section__wrap type-w">
							<div class="operation-v2 type-contour type-four">
								<div class="operation-v2__wrap">
									<h4 class="operation-v2__tit">手术详情</h4>
									<ul class="operation-v2__list">
										<li class="operation-v2__item nth-1 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">手术时间</h5>
												<p class="operation-v2__txt txt-new1">约30分</p>
											</div>
										</li>
										<li class="operation-v2__item nth-2 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">麻醉方法</h5>
												<p class="operation-v2__txt txt-new1">全身麻醉</p>
											</div>
										</li>
										<li class="operation-v2__item nth-5 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">来院治疗</h5>
												<p class="operation-v2__txt txt-new1">约7天后1次</p>
											</div>
										</li>
										<li class="operation-v2__item nth-6 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">恢复</h5>
												<p class="operation-v2__txt txt-new1">约3~5天后恢复日常生活</p>
											</div>
										</li>

									</ul>
									<div class="pain-v2 type-contour">
										<h4 class="pain-v2__tit txt-new2">术后体感疼痛</h4>
										<ol class="pain-v2__list">
											<% for(var i = 1; i<= 10; i++){%>
												<%if(i <= 1){%>
													<li class="<%="pain-v2__item is-active nth-"+i%>">
														<div class="pain-v2__square">square</div>
													</li>
												<%}else{%>
													<li class="<%="pain-v2__item nth-"+i%>">
														<div class="pain-v2__wrap">
															<div class="pain-v2__square">square</div>
														</div>
													</li>
												<%}%>
											<%}%>
										</ol>
										<p class="pain-v2__txt txt-new1">
											会有一定异物感及痛症，时间会缓解疼痛。<br>
											冷敷对浮肿有帮助。<br>
											通过嘴内切口，所以几乎看不到疤痕。<br>
											为了嘴内切口部位的恢复，术后2~3天内请避开热的或刺激的食物。
										</p>
										<div class="pain-v2__box">
											<p class="pain-v2__noti txt-new4">* 通过对术后患者进行问卷调查得出的平均值</p>
											<p class="pain-v2__noti txt-new4">* 从数据不存在绝对性，会存在个人差异，仅供大家作为参考。</p>
										</div>
									</div><!-- //pain -->
								</div>
							</div>
						</div>
		            </div>
				</div>

				<div class="new-section">
					<div class="bg-style2">
						<h4 class="new-content-tit tit-new2">若与其他手术一起进行的话，会有更佳的手术结果。</h4>

						<ul class="bg-style2__list">
							<li class="bg-style2__item type-cheek">
								<div class="bg-style2__wrap">
									<div class="bg-style2__box">
										<h5 class="bg-style2__subtit txt-new2">颧骨手术</h5>
										<p class="bg-style2__txt txt-new1">
											颧骨发达的情况，与颧骨手术一起进行<br class="hidden-tm">
											能打造修长的下巴线及和谐的脸型
										</p>
										<a href="contourCheek.php" class="bg-style2__btn txt-new1">
											<span>进入颧骨手术</span>
										</a>
									</div>
								</div>
							</li>
							<li class="bg-style2__item type-front">
								<div class="bg-style2__wrap">
									<div class="bg-style2__box">
										<h5 class="bg-style2__subtit txt-new2">下巴手术</h5>
										<p class="bg-style2__txt txt-new1">
											通过下巴手术，期待更佳清晰<br class="hidden-tm">
											的面部轮廓
										</p>
										<a href="contourFrontCheek.php" class="bg-style2__btn txt-new1">
											<span>进入下巴手术</span>
										</a>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
        </div><!-- //new-content-wrap-->
    </div><!-- //content-->


</div> <!-- //container -->

<% include ../_include/_footer %>
