<%
	type = "content"
	page = "contour"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
    <div class="content" data-page="contour-protrusion">
		<div class="new-visual type-protrusion">
			<div class="new-visual__box">
				<div class="new-visual__outer">
					<div class="new-visual__inner">
						<p class="new-visual__subtit">和正面一样重要的侧面形象</p>
						<h3 class="new-visual__tit"><span class="n-color-contour2">凸嘴</span>手术</h3>
						<p class="new-visual__txt">正确牙齿结构构成的魅力嘴型</p>
						<ul class="new-visual__list">
							<li class="new-visual__item"><span>#改善牙齿结构</span></li>
							<li class="new-visual__item"><span>#充满魅力的嘴型</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- //new-visual-->

        <div class="new-content-wrap">
			<div class="new-section">
				<div class="new-style1 type-bottom type-protrusion">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						凸嘴是<span class="n-color-contour2">会给人负面印象的原因</span>
					</h4>
					<p class="new-style1__txt txt-new1">
						大部分的人通过镜子来确认自己的样子。所以对于正面看到的脸部会重点花心思。<br class="hidden-tm">
						但是从他人的立场来看，如同正面一样侧面的脸部看的也很多。<br class="hidden-tm">
                        并且侧面脸部的立体感一览无余，对个人形象的形成产生很大的影响。<br><br>

						凸嘴是造成面部给人负面印象的代表性原因之一。<br class="hidden-tm">
						不自然的五官比例构成的脸部看上去显大，诱发八字纹或下巴末端皱纹会显年纪大，嘴型凸出给人一种生气，生硬的印象。
					</p>
					<p class="new-style1__txt2 txt-new2">
						另外，不仅仅是美观上的问题，还可能因为咬合不正引起的饮食不良和龋齿，同时伴有口腔呼吸引发的过敏等健康性的问题，因此<span class="n-color-contour2">因此建议通过正确的诊断，掌握问题并进行改善</span>。
					</p>
					<div class="new-style1__img mobile-padding">
						<img src="../../images/contour/protrusion/protrusion_img_1.png" alt="凸嘴" class="img-normal">
					</div>
				</div>
			</div><!-- //new-section-->
			<div class="new-section type-cling">
				<div class="new-section__wrap type-protrusion">
					<div class="img-style9">
						<h5 class="new-content-tit tit-new2 color-white">因凸嘴引起的问题</h5>

						<div class="img-style9__box">
							<h6 class="img-style9__subject type-contour txt-new2">负面的印象</h6>

							<div class="img-style9__outer">
								<ul class="img-style9__list">
									<li class="img-style9__item">
										<div class="img-style9__img">
											<img src="../../images/contour/protrusion/protrusion_img_2.png" alt="不自然的脸部比例" class="img-w100"/>
										</div>
										<div class="img-style9__caption txt-new1">不自然的脸部比例</div>
									</li>
									<li class="img-style9__item">
										<div class="img-style9__img">
											<img src="../../images/contour/protrusion/protrusion_img_3.png" alt="八字纹，下巴末端皱纹等老态" class="img-w100"/>
										</div>
										<div class="img-style9__caption txt-new1">八字纹，下巴末端皱纹等老态</div>
									</li>
									<li class="img-style9__item">
										<div class="img-style9__img">
											<img src="../../images/contour/protrusion/protrusion_img_4.png" alt="生硬和生气的印象" class="img-w100"/>
										</div>
										<div class="img-style9__caption txt-new1">生硬和生气的印象</div>
									</li>
								</ul>
							</div>
						</div>

						<div class="img-style9__box">
							<h6 class="img-style9__subject type-contour2 txt-new2">健康恶化</h6>

							<div class="img-style9__outer">
								<ul class="img-style9__list">
									<li class="img-style9__item">
										<div class="img-style9__img">
											<img src="../../images/contour/protrusion/protrusion_img_5.png" alt="2级咬合不正和龋齿" class="img-w100"/>
										</div>
										<div class="img-style9__caption txt-new1">2级咬合不正和龋齿</div>
									</li>
									<li class="img-style9__item">
										<div class="img-style9__img">
											<img src="../../images/contour/protrusion/protrusion_img_6.png" alt="口腔呼吸引发的过敏" class="img-w100"/>
										</div>
										<div class="img-style9__caption txt-new1">口腔呼吸引发的过敏</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div><!-- //new-section-->

			<div class="new-section type-cling">
				<div class="new-style1 type-bottom type-protrusion2">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						<span class="n-color-contour2">确切掌握原因</span>要制定正确的手术计划
					</h4>
					<p class="new-style1__txt txt-new2">
						医学上凸嘴是指<span class="n-color-contour2">用假想的线条连接鼻尖和下巴末端时，相比之下嘴巴更加凸出的状态</span>。
					</p>
					<p class="new-style1__txt2 txt-new1">
						其代表性的原因是只有牙齿凸出的情况和牙龈骨一起凸出的情况。<br class="hidden-tm">
						如果是只有牙齿凸出，可以通过基本的矫正治疗改善凸嘴，但是东亚人通常牙龈骨同时凸出的情况较多。其类型也多种多样，因此需要通过准确的确认，制定恰当的手术计划是非常重要的。
					</p>
					<div class="new-style1__img">
						<img src="../../images/contour/protrusion/protrusion_img_7.jpg" alt="佰诺佰琪凸嘴诊断 - 比基准线凸出的嘴巴" class="img-normal"/>
					</div>
					<div class="inner-box">
						<div class="process-style3 type-contour">
							<h5 class="new-content-tit tit-new2">
								更加缜密的<span class="weight-bold">佰诺佰琪凸嘴诊断</span>
							</h5>

							<div class="process-style3__box">
								<ul class="process-style3__list">
									<li class="process-style3__item">
										<div class="process-style3__img">
											<img src="../../images/contour/protrusion/protrusion_img_8.jpg" alt="专家医生周密的商谈" class="img-w100"/>
										</div>
										<div class="process-style3__caption txt-new2">
											<div class="process-style3__vertical">
												专家医生周密的商谈
											</div>
										</div>
									</li>
									<li class="process-style3__item">
										<div class="process-style3__img">
											<img src="../../images/contour/protrusion/protrusion_img_9.jpg" alt="口腔颌面部外科的协诊" class="img-w100"/>
										</div>
										<div class="process-style3__caption txt-new2">
											<div class="process-style3__vertical">
												口腔颌面部外科的协诊
											</div>
										</div>
									</li>
									<li class="process-style3__item">
										<div class="process-style3__img">
											<img src="../../images/contour/protrusion/protrusion_img_10.jpg" alt="3D面部CT精密测量仪等专业设备拍摄" class="img-w100"/>
										</div>
										<div class="process-style3__caption txt-new2">
											<div class="process-style3__vertical">
												3D面部CT精密测量仪等专业设备拍摄
											</div>
										</div>
									</li>
								</ul>
							</div>
							<div class="process-style3__result txt-new2">制定更加准确的手术计划</div>
						</div>
					</div>
				</div>
			</div><!-- //new-section-->

			<div class="new-section type-cling">
				<div class="new-style1 type-bottom type-protrusion3">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						佰诺佰琪凸嘴手术的核心是<span class="n-color-contour3">A点的移动</span>
					</h4>
					<p class="new-style1__txt txt-new2">
						所谓的A点是<span class="n-color-contour3">指从侧面看脸部时鼻柱和人中相接的地方</span>。
					</p>
					<p class="new-style1__txt2 txt-new1">
                        大部分东洋人的情况，这个A点很多是呈前进形态的凸嘴，这也意味着牙龈骨本身也是前进的。因此，为了更有效的凸嘴手术，必须包含牙齿在内的上颌骨截骨，集中于移动A点。<br><br>

						<span class="color-white">佰诺佰琪追求此A点明确的移动。</span><br class="hidden-tm">
						制定周密的手术计划，抓住移动骨头的恰当位置，移动下巴骨，这样的手术结果会更令人满意。另外通过更加准确的截骨，可保存血管，减少组织损伤，期待更安全，负担更小的手术。
					</p>
					<div class="new-style1__img">
						<img src="../../images/contour/protrusion/protrusion_img_11.jpg" alt="佰诺佰琪凸嘴手术 A Point" class="img-normal"/>
					</div>
					<div class="inner-box type-list-img">
						<div class="new-description type-pd0">
							<h5 class="new-content-tit tit-new2">
								更有效移动A点的<strong class="weight-bold">佰诺佰琪凸嘴手术</strong>
							</h5>
							<div class="new-description__wide">
								<div class="img-style3">
									<ul class="img-style3__list">
										<li class="img-style3__item">
											<div class="img-style3__img">
												<img src="../../images/contour/protrusion/protrusion_img_12.jpg" alt="A 포인트를 보다 효과적으로 이동시키는 바노바기 돌출입 수술" class="img-w100">
											</div>
										</li>
										<li class="img-style3__item">
											<div class="img-style3__img">
												<img src="../../images/contour/protrusion/protrusion_img_13.jpg" alt="A 포인트를 보다 효과적으로 이동시키는 바노바기 돌출입 수술" class="img-w100">
											</div>
										</li>
									</ul>
								</div>
							</div>
							<ul class="new-description__list">
								<li class="new-description__item">
									<p class="new-description__txt txt-new1">
										<span class="new-description__plus">+</span>
										包含牙龈骨在内的适当的矫正，追求A点的有效移动
									</p>
								</li>
								<li class="new-description__item">
									<p class="new-description__txt txt-new1">
										<span class="new-description__plus">+</span>
										通过精密计划的精巧削骨，相对减小的手术负担
									</p>
								</li>
								<li class="new-description__item">
									<p class="new-description__txt txt-new1">
										<span class="new-description__plus">+</span>
										采用减小组织损伤，保存血管的技术，更加安全
									</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div><!-- //new-section-->

			<div class="new-section type-cling">
				<div class="new-style1 type-protrusion4">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						佰诺佰琪同时考虑<span class="n-color-contour2">牙齿结构的改善</span>和<span class="n-color-contour2">审美的满足感</span>
					</h4>
					<p class="new-style1__txt txt-new1">
						凸嘴手术是与正确牙齿结构一起能期待改善美容的方法。但是脸部的立体感是脸侧面相对的高度决定的不同类型的凸嘴，当然还存在个人差异。因此功能性改善的下巴的位置，在美容上不一定是理想的。如果期待在美容方面发生戏剧性变化的患者们说手术后的满意度不如想象中那样的话，那么很大的可能性是只考虑到功能的统一化的进行凸嘴手术。
					</p>
					<p class="new-style1__txt2 txt-new2">
						因此，佰诺佰琪对每个人的凸嘴类型进行细致的分类后进行相对应的凸嘴手术。<br class="hidden-tm">
                        <span class="n-color-contour2">正确矫正牙齿结构的同时，采用能够改善个人自卑感的方法。</span><br class="hidden-tm">
						因此，佰诺佰琪凸嘴手术美容性的改善效果也很突出，令人更加满意。
					</p>
					<div class="new-style1__img mobile-padding">
						<img src="../../images/contour/protrusion/protrusion_img_14.png" alt="img" class="img-normal">
					</div>
				</div>
                <div class="new-style1 type-top0 type-bottom type-protrusion2">
					<div class="inner-box">
						<div class="process-style4 type-contour">
							<h5 class="process-style4__tit tit-new2">
								适合每个人的<span class="weight-bold">各类型手术</span>
							</h5>

							<div class="inner-circle type-contour type-mbig">
								<ul class="inner-circle__list">
									<li class="inner-circle__item txt-new1">
										<div class="vertical-box">
											更加理想的侧面打造生动的立体感
										</div>
									</li>
									<li class="inner-circle__item txt-new1">
										<div class="vertical-box">
											用充满魅力的嘴型给人更加光彩照人的印象
										</div>
									</li>
									<li class="inner-circle__item txt-new1">
										<div class="vertical-box">
											把握均衡协调的脸型强调更加干练的感觉
										</div>
									</li>
								</ul>
							</div>

							<ul class="process-style4__list">
								<li class="process-style4__item">
									<div class="process-style4__inner">
										<span class="process-style4__number txt-new2">01</span>
										<div class="process-style4__box">
											<img src="../../images/contour/protrusion/protrusion_img_15.jpg" alt="看到牙龈的凸嘴" class="img-w100"/>
											<div class="process-style4__caption txt-new2">
												<div class="process-style4__vertical">看到牙龈的凸嘴</div>
											</div>
										</div>
										<div class="process-style4__result txt-new2">
											<div class="process-style4__vertical">凸嘴手术+双鄂手术</div>
										</div>
									</div>
								</li>
								<li class="process-style4__item">
									<div class="process-style4__inner">
										<span class="process-style4__number txt-new2">02</span>
										<div class="process-style4__box">
											<img src="../../images/contour/protrusion/protrusion_img_16.jpg" alt="嘴唇无法闭合的凸嘴" class="img-w100"/>
											<div class="process-style4__caption txt-new2">
												<div class="process-style4__vertical">嘴唇无法闭合的凸嘴</div>
											</div>
										</div>
										<div class="process-style4__result txt-new2">
											<div class="process-style4__vertical">凸嘴手术+结合双鄂的三鄂手术</div>
										</div>
									</div>
								</li>
								<li class="process-style4__item">
									<div class="process-style4__inner">
										<span class="process-style4__number txt-new2">03</span>
										<div class="process-style4__box">
											<img src="../../images/contour/protrusion/protrusion_img_17.jpg" alt="法令纹突出的凸嘴" class="img-w100"/>
											<div class="process-style4__caption txt-new2">
												<div class="process-style4__vertical">法令纹突出的凸嘴</div>
											</div>
										</div>
										<div class="process-style4__result txt-new2">
											<div class="process-style4__vertical">凸嘴手术+迷你双鄂</div>
										</div>
									</div>
								</li>
								<li class="process-style4__item">
									<div class="process-style4__inner">
										<span class="process-style4__number txt-new2">04</span>
										<div class="process-style4__box">
											<img src="../../images/contour/protrusion/protrusion_img_18.jpg" alt="看起来生硬的凸嘴" class="img-w100"/>
											<div class="process-style4__caption txt-new2">
												<div class="process-style4__vertical">看起来生硬的凸嘴</div>
											</div>
										</div>
										<div class="process-style4__result txt-new2">
											<div class="process-style4__vertical">凸嘴手术+轮廓手术</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div><!-- //new-section-->

			<div class="new-section type-cling">
                <div class="new-style1 type-bottom type-protrusion3">
                    <h4 class="new-style1__tit tit-new1 weight-regular">
                        结果更加满意，恢复更加快速，<span class="n-color-contour3">术后管理是核心</span>
                    </h4>
					<p class="new-style1__txt txt-new2">
						凸嘴手术<span class="n-color-contour3">凸嘴手术根据术后管理的不同，结果也会不一样。</span>
						因为肌肉和皮肤等软部组织在手术后，必须按照下巴的形状固定，才能在第一次手术计划阶段取得期待的结果。
					</p>
                    <p class="new-style1__txt2 txt-new1">
                        因此，凸嘴手术和精密手术一样，要注意恢复和浮肿管理。<span class="color-white">佰诺佰琪以多种临床和经验为基础，</span>拥有不亚于手术的系统化术后管理技术。符合每个情况和阶段后有相应的处理指南，使用Elastone Therapy和相同的机器进行集中管理。让表情更加自然，更有效改善脸型，正是佰诺佰琪充满自信的理由。
                    </p>

                    <div class="inner-box">
						<div class="new-stripe type-padding-zero type-bimaxillary">
							<h5 class="new-content-tit tit-new2">Elastone Therapy</h5>
							<p class="new-stripe__txt txt-new1">
								利用超声波，stone therapy，高周波等减少浮肿，增加免疫力的同时，还能期待给皮肤提供弹性效果的治疗。主要在下颌角和颧骨手术，双鄂手术等轮廓整形后管理上表现出更加卓越的效果
							</p>

							<ul class="new-stripe__list">
								<li class="new-stripe__item">
									<div class="new-stripe__wrap">
										<div class="new-stripe__img">
											<img src="../../images/contour/bimaxillary/bimaxillary_img_18.png" alt="超声波机器" class="img-responsive">
										</div>
										<h6  class="new-stripe__subject txt-new1">
											<span class="n-color-contour2">超声波机器</span>
										</h6 >
										<p class="new-stripe__txt2 txt-new1">
											超声波的微小震动接触到皮肤和身体，细微的震动和热量会促进血管扩张及增加血流量。通过此方法可帮助血液及淋巴循环，帮助更快地减少浮肿。
										</p>
									</div>
								</li>
								<li class="new-stripe__item">
									<div class="new-stripe__wrap">
										<div class="new-stripe__img">
											<img src="../../images/contour/bimaxillary/bimaxillary_img_19.png" alt="Stone therapy" class="img-responsive">
										</div>
										<h6  class="new-stripe__subject txt-new1">
											<span class="n-color-contour2">Stone therapy</span>
										</h6 >
										<p class="new-stripe__txt2 txt-new1">
                                            使用含有温气的天然石提高免疫力，放松紧张的神经和肌肉的温热疗法。促进血液循环，较快地净化体内毒素和老废物，预防浮肿效果显著。
										</p>
									</div>
								</li>
								<li class="new-stripe__item">
									<div class="new-stripe__wrap">
										<div class="new-stripe__img">
											<img src="../../images/contour/bimaxillary/bimaxillary_img_20.png" alt="高周波（RF）机器" class="img-responsive">
										</div>
										<h6  class="new-stripe__subject txt-new1">
											<span class="n-color-contour2">高周波（RF）机器</span>
										</h6 >
										<p class="new-stripe__txt2 txt-new1">
											将高周波高频传导至深层组织，引发心部热量。深部热能刺激真皮层的胶原蛋白，增强细胞功能，促进血液循环和新陈代谢，有效增强弹性。
										</p>
									</div>
								</li>
							</ul>
						</div><!--new-stripe -->
                    </div>
                </div>
            </div><!--//new-section-->

			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-contour">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">手术详情</h4>
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">手术时间</h5>
										<p class="operation-v2__txt txt-new1">约3小时~4小时</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">麻醉方法</h5>
										<p class="operation-v2__txt txt-new1">全身麻醉</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">拆线</h5>
										<p class="operation-v2__txt txt-new1">约14天后拆线</p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">住院时间</h5>
										<p class="operation-v2__txt txt-new1">约2~4天</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">来院治疗</h5>
										<p class="operation-v2__txt txt-new1">约2次</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">恢复</h5>
										<p class="operation-v2__txt txt-new1">约7~14天后恢复日常生活</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-contour">
								<h5 class="pain-v2__tit txt-new2">术后体感疼痛</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 3){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">square</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">square</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									麻醉恢复过程中可能会有刺痛感，随着时间的推移会逐渐缓解。<br>
									拆线或消毒时疼痛是轻微的刺痛感觉。<br>
									因浮肿引起的热感和疼痛可以通过处方镇痛剂缓解，冷敷有所帮助。<br>
									通过在佰诺佰琪规划的更体系化的管理，能有效管理术后痛症和浮肿。
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* 通过对术后患者进行问卷调查得出的平均值</p>
									<p class="pain-v2__noti txt-new4">* 从数据不存在绝对性，会存在个人差异，仅供大家作为参考。</p>
								</div>
								<!-- <a href="<?php echo SITE_UPLOAD_URL?>/knowledge/bimaxillary.pdf" target="_blank" class="operation-v2__link"><span>查看术后注意事项</span></a> -->
							</div><!-- //pain -->
						</div>
					</div>
				</div>
			</div>

			<!-- <div class="new-section">
				<div class="bg-style2">
					<h3 class="bg-style2__tit tit-new2">若与其他手术一起进行的话，会有更佳的手术结果。</h3>

					<ul class="bg-style2__list">
						<li class="bg-style2__item type-mini">
							<div class="bg-style2__wrap">
								<div class="bg-style2__box">
									<h4 class="bg-style2__subtit txt-new2">미니 양악</h4>
									<p class="bg-style2__txt txt-new1">
										귀족 수술이나 앞턱 수술이 더해지는 미니 양악을 통해<br class="hidden-tm">
										더욱 매력적인 프로화일을 추구할 수 있습니다.
									</p>
									<a href="contourMini.php" class="bg-style2__btn txt-new1">
										<span>미니 양악 바로가기</span>
									</a>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div> -->
        </div><!-- //new-content-wrap-->
    </div><!-- //content-->
	<% include ../_include/_bfaf %>
</div> <!-- //container -->

<% include ../_include/_footer %>
