<%
	type = "content"
	page = "contour"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
    <div class="content" data-page="contour-case">
		<% include ../_include/_tooltip %>
		<div class="new-visual type-case">
			<div class="new-visual__box">
				<div class="new-visual__outer">
					<div class="new-visual__inner">
						<p class="new-visual__subtit">针对几乎所有类型的矫正</p>
						<h3 class="new-visual__tit">
                            <span class="n-color-contour2">不同类型</span><br class="hidden-tm">
                            的双鄂手术
                        </h3>
						<p class="new-visual__txt">以适合每个人的精密诊断改善脸型</p>
						<ul class="new-visual__list">
							<li class="new-visual__item"><span>#深层分析</span></li>
							<li class="new-visual__item"><span>#缜密的手术</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- //new-visual-->

        <div class="new-content-wrap">
            <div class="new-section">
				<div class="new-style1 type-case">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						需要<span class="n-color-contour2">正确诊断</span>不同类型<br class="hidden-tm">
                        才能避免不必要的手术
					</h4>
					<p class="new-style1__txt txt-new1">
						双鄂手术是将下巴骨截骨再移动的手术，因此有着效果相对显著的优点。<br class="hidden-tm">
                        但事实上在恢复过程和疼痛上肯定会有一定的负担感。<br class="hidden-tm">
                        正因如此，双鄂手术需设定专业医生和病人准确地追求改善方向，为患者进行最小化的必要性手术尤为重要。<br class="hidden-tm">
                        要做到这一点就必须从咨询和诊断开始，细致地掌握患者的状态
					<p class="new-style1__txt2 txt-new2">
                        人的脸型不单是骨骼的形状，而是可以延伸到脂肪，肌肉，皮肤因为是由多种不同因素决定的，<span class="n-color-contour2">所以在没有深入分析的情况下，只通过外表确定双鄂手术的方向，一不小心可能会引发过度的手术或需要再手术的情况。</span>
					</p>
					<div class="new-style1__img mobile-padding">
						<img src="../../images/contour/case/case_img_1.png" alt="佰诺佰琪整形模特" class="img-normal">
					</div>
				</div>
                <div class="new-style1 type-top0 type-bottom type-case2">
					<div class="inner-box">
						<div class="process-style5">
                            <h5 class="new-content-tit tit-new2">需要确诊准确类型的双鄂手术</h5>

                            <div class="process-style5__wrap">
                                <div class="process-style5__box">
                                    <ul class="process-style5__list">
                                        <li class="process-style5__item type-subject">
                                            <p class="process-style5__txt txt-new2">
                                                精确的双鄂诊断
                                            </p>
                                        </li>
                                        <li class="process-style5__item">
                                            <p class="process-style5__txt txt-new1">
                                                正确选定改善方向
                                            </p>
                                        </li>
                                        <li class="process-style5__item">
                                            <p class="process-style5__txt txt-new1">
                                                符合改善方向的最小化切口及截骨
                                            </p>
                                        </li>
                                        <li class="process-style5__item type-contour">
                                            <p class="process-style5__txt txt-new2">
                                                更快的恢复和更满意的结果
                                            </p>
                                        </li>
                                    </ul>
                                </div>

                                <div class="process-style5__box">
                                    <ul class="process-style5__list">
                                        <li class="process-style5__item type-subject">
                                            <p class="process-style5__txt txt-new2">
                                                不精确的双鄂诊断
                                            </p>
                                        </li>
                                        <li class="process-style5__item">
                                            <p class="process-style5__txt txt-new1">
                                                错误选定改善方向
                                            </p>
                                        </li>
                                        <li class="process-style5__item">
                                            <p class="process-style5__txt txt-new1">
                                                增加不需要的手术过程，恢复更慢，副作用出现的可能性上升↑
                                            </p>
                                        </li>
                                        <li class="process-style5__item type-gray">
                                            <p class="process-style5__txt txt-new2">
                                                导致结果不满意和需要修复手术
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
					</div>
				</div>

                <div class="new-style1 type-case3">
                    <h4 class="new-style1__tit tit-new1 weight-regular">
                        通过精密的诊断，<span class="n-color-contour3">对几乎所有类型进行<br class="hidden-tm">
                        判断与改善</span>
                    </h4>
                    <p class="new-style1__txt txt-new1">
                        佰诺佰琪自2000年开院后，组建了轮廓整形诊断小组，持续追踪积累双鄂手术的技术与经验。<br class="hidden-tm">
                        手术前，通过3D面部CT精密测量器进行诊断和深度咨询，甚至计算到双鄂的构造和脸部的表情肌肉，<br class="hidden-tm">
                        通过与麻醉科专家，口腔颌面外科专家等协诊，进行更安全而精密的手术。<br class="hidden-tm">
                        因此，<span class="color-white">我们可以清楚了解几乎如无下巴，地包天，长脸，不对称一样的所有类型，能够期待更准确和更令人满意的改进。</span>
                    </p>
                    <div class="inner-circle type-contour2 type-small">
                        <ul class="inner-circle__list">
                            <li class="inner-circle__item txt-new1">
                                <div class="vertical-box">
                                    无下巴<br>双鄂手术
                                </div>
                            </li>
                            <li class="inner-circle__item txt-new1">
                                <div class="vertical-box">
                                    地包天<br>
                                    双鄂手术
                                </div>
                            </li>
                            <li class="inner-circle__item txt-new1">
                                <div class="vertical-box">
                                    长脸<br>
                                    双鄂手术
                                </div>
                            </li>
                            <li class="inner-circle__item txt-new1">
                                <div class="vertical-box">
                                    不对称<br>
                                    矫正
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="new-style1__img">
                        <img src="../../images/contour/case/case_img_2.jpg" alt="" class="img-normal"/>
                    </div>
                </div>
			</div><!--//new-section-->
			<div class="new-tab__line">line</div>
            <div class="new-tab type-contour">
				<div class="new-tab__tit">
					<div class="new-tab__wrap">
						<a href="" class="new-tab__btn">无下巴双鄂手术</a>
					</div>
				</div>
				<ul class="new-tab__list">
					<li class="new-tab__item is-active">
						<div class="new-tab__wrap">
							<a href="page-short" class="new-tab__link">无下巴双鄂手术</a>
						</div>
					</li>
					<li class="new-tab__item">
						<div class="new-tab__wrap">
							<a href="page-lantern" class="new-tab__link">地包天双鄂手术</a>
						</div>
					</li>
                    <li class="new-tab__item">
						<div class="new-tab__wrap">
							<a href="page-long" class="new-tab__link">长脸双鄂手术</a>
						</div>
					</li>
                    <li class="new-tab__item">
						<div class="new-tab__wrap">
							<a href="page-asymmetry" class="new-tab__link">不对称矫正</a>
						</div>
					</li>
				</ul>
			</div><!-- //new-tab -->

            <!-- 无下巴双鄂手术 -->
            <div class="new-tab-content page-short is-active">
                <div class="new-section">
                    <div class="new-style1 type-bottom type-case4">
                        <h4 class="new-style1__tit tit-new1 weight-regular">
                            <span class="n-color-contour2">无下巴</span>双鄂手术
                        </h4>
                        <p class="new-style1__txt txt-new2">
                            面部从侧面看时，<span class="n-color-contour2">前下巴在一定程度上没有前进或相反，往后回缩的状态</span>被称为无下巴。
                        </p>
                        <p class="new-style1__txt2 txt-new1">
                            无下巴可分为两大类，<span class="color-black1">下巴尖不完全发达，包含牙齿的下颌骨整体回缩的情况。</span><br class="hidden-tm">
                            如果只是单纯的下巴尖不发达的情况，虽然可以通过截骨进行前下巴手术，或植入假体来改善，若是下颌本身就与上颚不合，后退回缩的现象，就需要通过双鄂手术来改善了。

                        </p>
    					<div class="new-style1__img">
    						<img src="../../images/contour/case/case_img_3.jpg" alt="无下巴双鄂手术整形模特" class="img-normal"/>
    					</div>

                        <div class="inner-box">
                            <div class="img-style1">
								<h3 class="new-content-tit tit-new2">随状况而定的无下巴的改善方法</h3>

								<ul class="img-style1__list type-half">
									<li class="img-style1__item">
										<img src="../../images/contour/case/case_img_4.gif" class="img-w100" alt="包含牙齿的下颌骨整体向后回缩的情况需要双鄂手术"/>
										<p class="img-style1__subject txt-new1">
                                            包含牙齿的下颌骨整体<br class="hidden-tm">
                                            向后回缩的情况<span class="n-color-contour2">需要双鄂手术</span>
                                        </p>
									</li>
									<li class="img-style1__item">
										<img src="../../images/contour/case/case_img_5.gif" class="img-w100" alt="齿列状态虽是正常的，但前下巴不够充分发达的情况可以通过前下巴手术改善"/>
										<p class="img-style1__subject txt-new1">
                                            齿列状态虽是正常的，但前下巴不够充分<br class="hidden-tm">
                                            发达的情况可以<span class="color-black1">通过前下巴手术改善</span>
                                        </p>
									</li>
								</ul>
							</div>

                            <div class="section-noti txt-new1 type-case">
    							本图根据拍摄条件可能与实物不同，经患者本人同意后拍摄刊登。
    						</div>
                        </div>
                    </div>
                </div><!--//new-section-->

				<div class="new-section type-cling type-bottom">
					<div class="new-style1">
						<h4 class="new-style1__tit tit-new1 weight-regular">
							无下巴双鄂手术<span class="n-color-contour2">包含矫正牙齿咬合的过程</span>。
						</h4>
						<p class="new-style1__txt txt-new1">
							包括牙齿在内的下颌整体后退时的无下巴双鄂手术包含矫正牙齿咬合的过程。<br class="hidden-tm">
							<span class="color-black1">因此佰诺佰琪计划通过口腔颌骨面部外科专业医生的协诊，通过专业牙齿矫正进行双鄂手术。</span><br class="hidden-tm">
                            手术过程以矫正治疗牙齿咬合为准进行，包括牙齿在内的下颌削骨适当前进和固是手术的核心。<br><br>

							此时，<span class="color-black1">佰诺佰琪采用斜线截骨，通过宽大的接合面积使骨骼更加坚固。确保前进的骨骼与现有骨骼之间的固定部位保持更加自然。</span><br class="hidden-tm">
                            因为下颌整体前进，下巴末端充满立体感，与颈部界限分明，可期待面部看起来更小更清晰的线条感。
						</p>
					</div>

					<div class="new-description">
						<div class="new-description__img">
							<img src="../../images/contour/case/case_img_6.jpg" class="img-normal" alt="佰诺佰琪无下巴双鄂手术">
						</div>

						<ul class="new-description__list">
							<li class="new-description__item">
								<p class="new-description__txt txt-new1">
									<span class="new-description__plus">+</span>
	                                通过与口腔颌面外科专家协诊，制定牙齿矫正的计划
								</p>
							</li>
							<li class="new-description__item">
								<p class="new-description__txt txt-new1">
									<span class="new-description__plus">+</span>
									对包含牙齿的下颌进行截骨
								</p>
							</li>
							<li class="new-description__item">
								<p class="new-description__txt txt-new1">
									<span class="new-description__plus">+</span>
									截骨的下颌配合着牙齿的咬合前移
								</p>
							</li>
							<li class="new-description__item">
								<p class="new-description__txt txt-new1">
									<span class="new-description__plus">+</span>
									通过钛钉牢固的固定
								</p>
							</li>
							<li class="new-description__item">
								<p class="new-description__txt txt-new1">
									<span class="new-description__plus">+</span>
	                                持续的矫正治疗和恢复项目并行
								</p>
							</li>
						</ul>
					</div>
				</div><!--//new-section-->
				<div class="new-section type-cling">
					<div class="new-section__wrap type-case">
						<div class="compare4 type-tablet-full">
							<h5 class="new-content-tit tit-new2 weight-regular color-white">
								佰诺佰琪无下巴双鄂手术的<span class="n-color-contour3">核心要点</span>
							</h5>
							<ul class="compare4__list">
								<li class="compare4__item">
									<div class="compare4__caption txt-new2 type-lightgray">
										一般的双鄂截骨
									</div>
									<div class="compare4__img">
										<img src="../../images/contour/case/case_img_7.jpg" class="img-w100" alt="一般的双鄂截骨">
									</div>
								</li>
								<li class="compare4__item">
									<div class="compare4__caption txt-new2 type-contour">
										佰诺佰琪斜线截骨
									</div>
									<div class="compare4__img">
										<img src="../../images/contour/case/case_img_8.jpg" class="img-w100" alt="佰诺佰琪斜线截骨">
									</div>
								</li>
							</ul>

							<p class="compare4__txt txt-new1">
								斜线截骨能够拓宽骨骼的接合面积，实现<span class="color-white">更安全的固定</span>
							</p>
						</div>
					</div>
				</div><!--//new-section-->
			</div><!-- //new-tab-content-->

			<!-- 地包天双鄂手术 -->
            <div class="new-tab-content page-lantern">
				<div class="new-section">
                    <div class="new-style1 type-bottom type-case4">
                        <h4 class="new-style1__tit tit-new1 weight-regular">
                            <span class="n-color-contour2">地包天</span>双鄂手术
                        </h4>
                        <p class="new-style1__txt txt-new2">
                            <span class="n-color-contour2">下颚长且突出的情况</span>正是为地包天的表现
                        </p>
                        <p class="new-style1__txt2 txt-new1">
                            <span class="color-black1">不仅是美容方面的不满意，还因为下巴关节障碍或不清晰的发音等造成日常各种不便之处是代表性的脸型烦恼之一</span><br><br>

							地包天的原因有多种，但专家们根据骨头的不同状态大致分为两种。<br class="hidden-tm">
                            闭嘴的时候，牙齿处于正常状态，只有下巴尖过长和包含牙齿在内的下巴整体靠前的情况如果是前者的情况，则可通过切骨整形改善下巴末端，如果是后者则需要进行双鄂手术。
                        </p>
    					<div class="new-style1__img">
    						<img src="../../images/contour/case/case_img_9.jpg" alt="地包天双鄂手术" class="img-normal"/>
    					</div>

                        <div class="inner-box">
                            <div class="img-style1">
								<h3 class="new-content-tit tit-new2">不同状态的地包天改善方法</h3>

								<ul class="img-style1__list type-half">
									<li class="img-style1__item">
										<img src="../../images/contour/case/case_img_10.gif" class="img-w100" alt="包含牙齿的下巴整体较长前进时需要做双鄂手术"/>
										<p class="img-style1__subject txt-new1">
                                            包含牙齿的下巴整体<br class="hidden-tm">
                                            较长前进时<span class="n-color-contour2">需要做双鄂手术</span>
                                        </p>
									</li>
									<li class="img-style1__item">
										<img src="../../images/contour/case/case_img_11.gif" class="img-w100" alt="牙齿咬合正常，前颌较长且发达的情况可通过下巴手术进行改善"/>
										<p class="img-style1__subject txt-new1">
                                            牙齿咬合正常，前颌较长且发达的情况<br class="hidden-tm">
                                            可<span class="color-black1">通过下巴手术进行改善</span>
                                        </p>
									</li>
								</ul>
							</div>

                            <div class="section-noti txt-new1 type-case">
    							本图根据拍摄条件可能与实物不同，经患者本人同意后拍摄刊登。
    						</div>
                        </div>
                    </div>
                </div><!--//new-section-->

				<div class="new-section type-cling type-bottom">
					<div class="new-style1">
						<h4 class="new-style1__tit tit-new1 weight-regular">
							地包天双鄂手术<span class="n-color-contour2">包含矫正牙齿咬合的过程</span>
						</h4>
						<p class="new-style1__txt txt-new1">
							包括牙齿在内的下颌整体位置靠前的情况，地包天双鄂手术将包含矫正牙齿咬合的过程。<br class="hidden-tm">
							因此佰诺佰琪计划通过口腔，颌骨，面部外科专业医生的协诊，根据专业的牙齿矫正进行双鄂手术。<br class="hidden-tm">
							手术过程<span class="color-black1">以矫正牙齿咬合为准，根据患者的状态和追求结果的不同，将包括牙齿在内的上颚和下颚一起截骨后再恰当的配置是重要的核心。</span><br><br>

							这时，佰诺佰琪利用斜线截骨，通过大面积的接合面积使骨骼更加坚固，<span class="color-black1">让骨骼链接的部位更加自然。</span><br class="hidden-tm">
							这样进行的地包天双鄂手术会使下颌整体后退，因此可以更有效的改善，之后由于下颚长度的减少，多余的颈部和下巴之间软部组织通过口腔内吸脂自然改善，可以期待面部看起来更小更清晰的效果。
						</p>
					</div>

					<div class="new-description">
						<div class="new-description__img">
							<img src="../../images/contour/case/case_img_12.jpg" class="img-normal" alt="佰诺佰琪地包天双鄂手">
						</div>

						<ul class="new-description__list">
							<li class="new-description__item">
								<p class="new-description__txt txt-new1">
									<span class="new-description__plus">+</span>
	                                通过与口腔颌面外科专家协诊，指定矫正牙齿的计划
								</p>
							</li>
							<li class="new-description__item">
								<p class="new-description__txt txt-new1">
									<span class="new-description__plus">+</span>
									包含牙齿的下颚或双鄂进行截骨
								</p>
							</li>
							<li class="new-description__item">
								<p class="new-description__txt txt-new1">
									<span class="new-description__plus">+</span>
									截骨的双鄂对准牙齿咬合之后倒置
								</p>
							</li>
							<li class="new-description__item">
								<p class="new-description__txt txt-new1">
									<span class="new-description__plus">+</span>
									通过钛钉进行牢固的固定
								</p>
							</li>
							<li class="new-description__item">
								<p class="new-description__txt txt-new1">
									<span class="new-description__plus">+</span>
	                                持续的矫正治疗和恢复项目并行
								</p>
							</li>
						</ul>
					</div>
				</div><!--//new-section-->
				<div class="new-section type-cling">
					<div class="new-section__wrap type-case">
						<div class="compare4 type-tablet-full">
							<h5 class="new-content-tit tit-new2 weight-regular color-white">
								佰诺佰琪地包天双鄂手术<span class="n-color-contour3">核心要点</span>
							</h5>
							<ul class="compare4__list">
								<li class="compare4__item">
									<div class="compare4__caption txt-new2 type-lightgray">
										一般的双鄂截骨
									</div>
									<div class="compare4__img">
										<img src="../../images/contour/case/case_img_7.jpg" class="img-w100" alt="一般的双鄂截骨">
									</div>
								</li>
								<li class="compare4__item">
									<div class="compare4__caption txt-new2 type-contour">
										佰诺佰琪斜线截骨
									</div>
									<div class="compare4__img">
										<img src="../../images/contour/case/case_img_8.jpg" class="img-w100" alt="佰诺佰琪斜线截骨">
									</div>
								</li>
							</ul>

							<p class="compare4__txt txt-new1">
								利用斜线截骨拓宽骨头的接合面积，<span class="color-white">能够更加稳定的固定</span>
							</p>

							<ul class="compare4__list type-mt">
								<li class="compare4__item">
									<div class="compare4__caption txt-new2 type-contour">
										下巴手术
									</div>
									<div class="compare4__img">
										<img src="../../images/contour/case/case_img_13.jpg" class="img-w100" alt="下巴手术">
									</div>

									<p class="compare4__txt txt-new1">
										必要时<span class="color-white">可缩短下巴的长度，追求更理想的面部比例</span>
									</p>
								</li>
								<li class="compare4__item">
									<div class="compare4__caption txt-new2 type-contour">
										口腔内吸脂
									</div>
									<div class="compare4__img">
										<img src="../../images/contour/case/case_img_14.jpg" class="img-w100" alt="口腔内吸脂">
									</div>

									<p class="compare4__txt txt-new1">
										整理下颌的移动可能会留下地<span class="color-white">不必要的软部组织</span><br class="hidden-tm">
										<span class="color-white">打造更加清晰的下巴线条</span>
									</p>
								</li>
							</ul>
						</div>
					</div>
				</div><!--//new-section-->
			</div><!-- //new-tab-content-->

			<!-- 长脸双鄂手术 -->
            <div class="new-tab-content page-long">
				<div class="new-section">
                    <div class="new-style1 type-bottom type-case4">
                        <h4 class="new-style1__tit tit-new1 weight-regular">
                            <span class="n-color-contour2">长脸</span>双鄂手术
                        </h4>
                        <p class="new-style1__txt txt-new2">
                            从一般的视角来看的话，长脸与下巴混同，乍一看是相似的形态。<br class="hidden-tm">
							<span class="n-color-contour2">但是从医学上来看，长脸和下巴是不同的类型，手术进行中也存在的微妙的差异。</span>
                        </p>
                        <p class="new-style1__txt2 txt-new1">
							造成长脸的因素有很多，代表性地是上颌地牙龈部分骨骼过度垂直生长导致牙龈过度裸露的情况，因上颌和下颌的形态及咬合问题导致上下牙齿无法正常闭合的情况，还有单纯的下颌长显得面部看上去长的情况。<br><br>

							<span class="color-black1">如果是单纯下颌较长时，可通过截骨手术改善下颌长度，如果是其他情况则需要通过双鄂手术进行改善</span>
                        </p>
    					<div class="new-style1__img">
    						<img src="../../images/contour/case/case_img_15.jpg" alt="长脸双鄂手术整形模特" class="img-normal"/>
    					</div>

                        <div class="inner-box">
                            <div class="img-style1">
								<h3 class="new-content-tit tit-new2">不同状态改善长脸的方法</h3>

								<ul class="img-style1__list type-half">
									<li class="img-style1__item">
										<img src="../../images/contour/case/case_img_16.gif" class="img-w100" alt="因双鄂的不协调而产生的开放咬合的情况需要双鄂手术"/>
										<p class="img-style1__subject txt-new1">
                                            因双鄂的不协调而产生的开放咬合的情况<br class="hidden-tm">
											<span class="n-color-contour2">需要双鄂手术</span>
                                        </p>
									</li>
									<li class="img-style1__item">
										<img src="../../images/contour/case/case_img_11.gif" class="img-w100" alt="上牙龈骨骼长，下颚发达的情况需要双鄂手术"/>
										<p class="img-style1__subject txt-new1">
                                            上牙龈骨骼长，下颚发达的情况<br class="hidden-tm">
											<span class="n-color-contour2">需要双鄂手术</span>
                                        </p>
									</li>
									<li class="img-style1__item">
										<img src="../../images/contour/case/case_img_17.gif" class="img-w100" alt="牙齿咬合正常，下巴偏长发达的情况可通过下巴手术改善"/>
										<p class="img-style1__subject txt-new1">
                                            牙齿咬合正常，下巴偏长<br class="hidden-tm">
											发达的情况可通过<span class="color-black1">下巴手术改善</span>
                                        </p>
									</li>
								</ul>
							</div>

                            <div class="section-noti txt-new1 type-case">
    							本图根据拍摄条件可能与实物不同，经患者本人同意后拍摄刊登
    						</div>
                        </div>
                    </div>
                </div><!--//new-section-->

				<div class="new-section type-cling type-bottom">
					<div class="new-style1">
						<h4 class="new-style1__tit tit-new1 weight-regular">
							改善造成长脸的原因<span class="n-color-contour2">需要采取多样的方法</span>
						</h4>
					</div>

					<div class="new-description">
						<div class="new-description__img">
							<img src="../../images/contour/case/case_img_18.jpg" class="img-normal" alt="佰诺佰琪长脸双鄂手术">
						</div>

						<ul class="new-description__list">
							<li class="new-description__item">
								<p class="new-description__txt txt-new1">
									<span class="new-description__plus">+</span>
	                                通过口腔颌面外科专家的协诊，指定矫正牙齿的计划
								</p>
							</li>
							<li class="new-description__item">
								<p class="new-description__txt txt-new1">
									<span class="new-description__plus">+</span>
									截骨切除长并发达的上牙床骨后缩小
								</p>
							</li>
							<li class="new-description__item">
								<p class="new-description__txt txt-new1">
									<span class="new-description__plus">+</span>
									下颌截骨后移动至于上颌相交
								</p>
							</li>
							<li class="new-description__item">
								<p class="new-description__txt txt-new1">
									<span class="new-description__plus">+</span>
									必要时考虑面部的协调，追加下巴手术
								</p>
							</li>
							<li class="new-description__item">
								<p class="new-description__txt txt-new1">
									<span class="new-description__plus">+</span>
	                                通过钛钉牢固的固定
								</p>
							</li>
							<li class="new-description__item">
								<p class="new-description__txt txt-new1">
									<span class="new-description__plus">+</span>
	                                持续的矫正治疗和恢复项目并行
								</p>
							</li>
						</ul>
					</div>
				</div><!--//new-section-->
				<div class="new-section type-cling">
					<div class="new-section__wrap type-case">
						<div class="compare4 type-tablet-full">
							<h5 class="new-content-tit tit-new2 weight-regular color-white">
								佰诺佰琪长脸双鄂手术的<span class="n-color-contour3">核心要点</span>
							</h5>
							<ul class="compare4__list">
								<li class="compare4__item">
									<div class="compare4__caption txt-new2 type-lightgray">
										一般性的双鄂截骨
									</div>
									<div class="compare4__img">
										<img src="../../images/contour/case/case_img_7.jpg" class="img-w100" alt="一般性的双鄂截骨">
									</div>
								</li>
								<li class="compare4__item">
									<div class="compare4__caption txt-new2 type-contour">
										佰诺佰琪斜线截骨
									</div>
									<div class="compare4__img">
										<img src="../../images/contour/case/case_img_8.jpg" class="img-w100" alt="佰诺佰琪斜线截骨">
									</div>
								</li>
							</ul>

							<p class="compare4__txt txt-new1">
								利用斜线截骨扩大骨头结合面积，<span class="color-white">可以更加稳定的固定</span>
							</p>

							<ul class="compare4__list type-mt">
								<li class="compare4__item">
									<div class="compare4__caption txt-new2 type-contour">
										下巴手术
									</div>
									<div class="compare4__img">
										<img src="../../images/contour/case/case_img_19.jpg" class="img-w100" alt="下巴手术">
									</div>

									<p class="compare4__txt txt-new1">
										必要时可<span class="color-white">缩短下巴的长度，追求更理想的面部比例</span>
									</p>
								</li>
								<li class="compare4__item">
									<div class="compare4__caption txt-new2 type-contour">
										口腔内吸脂
									</div>
									<div class="compare4__img">
										<img src="../../images/contour/case/case_img_14.jpg" class="img-w100" alt="口腔内吸脂">
									</div>

									<p class="compare4__txt txt-new1">
										整理下巴移动可能留下地<span class="color-white">不必要的软部组织</span><br class="hidden-tm">
										<span class="color-white">打造更加清晰的下巴线条</span>
									</p>
								</li>
							</ul>
						</div>
					</div>
				</div><!--//new-section-->
			</div><!-- //new-tab-content-->

			<!-- 不对称矫正 -->
            <div class="new-tab-content page-asymmetry">
				<div class="new-section">
                    <div class="new-style1 type-bottom type-case4">
                        <h4 class="new-style1__tit tit-new1 weight-regular">
                            <span class="n-color-contour2">不对称</span>矫正
                        </h4>
                        <p class="new-style1__txt txt-new2">
                            当脸部被竖向的中心线分开时，<span class="n-color-contour2">左右无法对称的现象</span>会被诊断为面部不对称。
                        </p>
                        <p class="new-style1__txt2 txt-new1">
                            当然，人的面部不能完全对称，可如果不对称很严重的话，就需要想想是否需要矫正了。<br class="hidden-tm">
							面部不对称<span class="color-black1">不仅美感上不足，</span>还会变成<span class="color-black1">下颌关节疾病的原因，</span><br class="hidden-tm">
							因为不对称关节的使用和肌肉的发达可能会加速面部不对称的现象。<br><br>

							面部不对称是根据状态导致双颚交合扭曲，嘴和下巴歪斜的情况，面部骨骼发展为不对称的情况。<br class="hidden-tm">
							当软部组织不对称时，包含面部中心线的鼻子弯曲，面部看起来不对称等。<br class="hidden-tm">
							其中，<span class="color-black1">如果上颚和下颚歪斜，导致交合不合的话，就需要通过双颚手术来进行矫正。</span>
                        </p>
    					<div class="new-style1__img">
    						<img src="../../images/contour/case/case_img_20.jpg" alt="不对称矫正整形模特" class="img-normal"/>
    					</div>

                        <div class="inner-box">
							<div class="img-style1">
								<h4 class="new-content-tit tit-new2">根据状态选择不对称矫正的方法</h4>

								<ul class="img-style1__list type-half">
	                                <li class="img-style1__item">
	                                    <img src="../../images/contour/case/case_img_21.jpg" class="img-w100" alt="双鄂的咬合错位，牙齿水平不正常的情况需要双鄂手术"/>
	                                    <p class="img-style1__subject txt-new1">
											双鄂的咬合错位，牙齿水平<br class="hidden-tm">
											不正常的情况<span class="n-color-contour2">需要双鄂手术</span>
										</p>
	                                </li>
	                                <li class="img-style1__item">
	                                    <img src="../../images/contour/case/case_img_22.jpg" class="img-w100" alt="因为面部骨骼不对称过于发达的情况可以通过颧骨或下颌角手术进行改善"/>
	                                    <p class="img-style1__subject txt-new1">
											因为面部骨骼不对称过于发达的情况<br class="hidden-tm">
											<span class="color-black1">可以通过颧骨或下颌角手术进行改善</span>
										</p>
	                                </li>
	                                <li class="img-style1__item">
	                                    <img src="../../images/contour/case/case_img_23.jpg" class="img-w100" alt="肌肉，脂肪等相同组织不对称的情况，可以通过吸脂或咀嚼肌缩小术等方法进行改善"/>
	                                    <p class="img-style1__subject txt-new1">
											肌肉，脂肪等相同组织不对称的情况，<br class="hidden-tm">
											<span class="color-black1">可以通过吸脂或咀嚼肌缩小术等方法进行改善</span>
										</p>
	                                </li>
	                                <li class="img-style1__item">
	                                    <img src="../../images/contour/case/case_img_24.jpg" class="img-w100" alt="鼻子弯曲导致脸部看起来不对称的情况可以通过歪鼻矫正进行改善"/>
	                                    <p class="img-style1__subject txt-new1">
											鼻子弯曲导致脸部看起来不对称的情况<br class="hidden-tm">
											<span class="color-black1">可以通过歪鼻矫正进行改善</span>
										</p>
	                                </li>
								</ul>
							</div>
                        </div>
                    </div>
                </div><!--//new-section-->

				<div class="new-section type-cling type-bottom">
					<div class="new-style1">
						<h4 class="new-style1__tit tit-new1 weight-regular">
							面部不对称双鄂手术包含<span class="n-color-contour2">矫正<br class="hidden-tm">
							牙齿咬合的过程</span>
						</h4>

						<p class="new-style1__txt txt-new1">
							上下颌的咬合错位情况下的面部不对称双鄂手术，则包含矫正牙齿咬合的过程。<br class="hidden-tm">
							所以佰诺佰琪通过口腔颌面外科专家的协诊，按照专业的牙齿矫正来计划双鄂手术。<br class="hidden-tm">
							手术过程是以矫正治疗和牙齿咬合为基础进行的<br class="hidden-tm">
							<span class="color-black1">为了上下牙齿的斜度实现水平，将歪斜的下颌骨截骨后固定才是核心所在。</span><br><br>

							这时因为佰诺佰琪依照矫正后的双鄂正确地改进整体骨骼的歪曲或<br class="hidden-tm">
							<span class="color-black1">同时进行下巴手术，吸脂等相同的方法，</span>可以<span class="color-black1">期待到更加均衡的脸型结果。</span>
						</p>
					</div>

					<div class="new-description">
						<div class="new-description__img">
							<img src="../../images/contour/case/case_img_25.jpg" class="img-normal" alt="佰诺佰琪不对称矫正">
						</div>

						<ul class="new-description__list">
							<li class="new-description__item">
								<p class="new-description__txt txt-new1">
									<span class="new-description__plus">+</span>
	                                通过与口腔颌面外科专家协诊，指定牙齿矫正的计划
								</p>
							</li>
							<li class="new-description__item">
								<p class="new-description__txt txt-new1">
									<span class="new-description__plus">+</span>
									考虑到牙齿的水平，调整截骨位置和程度
								</p>
							</li>
							<li class="new-description__item">
								<p class="new-description__txt txt-new1">
									<span class="new-description__plus">+</span>
									计划范围内的双鄂移动后，使用透明双鄂牢固地固定。
								</p>
							</li>
							<li class="new-description__item">
								<p class="new-description__txt txt-new1">
									<span class="new-description__plus">+</span>
									必要时追加下巴手术和改善软部组织
								</p>
							</li>
							<li class="new-description__item">
								<p class="new-description__txt txt-new1">
									<span class="new-description__plus">+</span>
	                                持续的矫正治疗和恢复项目并行
								</p>
							</li>
						</ul>
					</div>
				</div><!--//new-section-->
				<div class="new-section type-cling">
					<div class="new-section__wrap type-case">
						<div class="compare4 type-tablet-full">
							<h5 class="new-content-tit tit-new2 weight-regular color-white">
								佰诺佰琪不对称矫正的<span class="n-color-contour3">核心要点</span>
							</h5>

							<ul class="compare4__list">
								<li class="compare4__item">
									<div class="compare4__caption txt-new2 type-contour">
										下巴手术
									</div>
									<div class="compare4__img">
										<img src="../../images/contour/case/case_img_26.jpg" class="img-w100" alt="矫正下巴的形态，调整面部中心线">
									</div>

									<p class="compare4__txt txt-new1">
										矫正下巴的形态，调整<span class="color-white">面部中心线</span>
									</p>
								</li>
								<li class="compare4__item">
									<div class="compare4__caption txt-new2 type-contour">
										改善多样的组织层
									</div>
									<div class="compare4__img">
										<img src="../../images/contour/case/case_img_27.jpg" class="img-w100" alt="必要时，因面部骨骼不对称导致不对称的发达改善脸部各层的组织">
									</div>

									<p class="compare4__txt txt-new1">
										必要时，因面部骨骼不对称导致不对称的发达<br class="hidden-tm">
										<span class="color-white">改善脸部各层的组织</span>
									</p>
								</li>
							</ul>
						</div>
					</div>
				</div><!--//new-section-->
			</div><!-- //new-tab-content-->

			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-contour">
						<div class="operation-v2__wrap">
							<h3 class="operation-v2__tit">手术详情</h3>
							<!-- <p class="operation-v2__subtit">광대수술의 수술정보를 안내해 드립니다.</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h4 class="operation-v2__subject txt-new2">手术时间</h4>
										<p class="operation-v2__txt txt-new1">约3小时~4小时</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h4 class="operation-v2__subject txt-new2">麻醉方法</h4>
										<p class="operation-v2__txt txt-new1">全身麻醉</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h4 class="operation-v2__subject txt-new2">拆线</h4>
										<p class="operation-v2__txt txt-new1">约14天后拆线</p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h4 class="operation-v2__subject txt-new2">住院时间</h4>
										<p class="operation-v2__txt txt-new1">约1~4天</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h4 class="operation-v2__subject txt-new2">来院治疗</h4>
										<p class="operation-v2__txt txt-new1">约2次</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h4 class="operation-v2__subject txt-new2">恢复</h4>
										<p class="operation-v2__txt txt-new1">约7~14天后恢复日常生活</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-contour">
								<h3 class="pain-v2__tit txt-new2">术后体感疼痛</h3>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 4){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">square</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">square</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									麻醉药效解除的过程中，会有阵痛感，随着时间的推移会逐渐缓解。<br>
									拆线和消毒的时候会有些许刺痛感。<br>
									因为浮肿而产生的疼痛和紧绷的感觉通过处方止痛药可以缓解。<br>
									没有鄂间固定所以相对来说无不适感。<br>
									通过体系化和持续化管理可以有效缓解疼痛感和浮肿。
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* 通过对术后患者进行问卷调查得出的平均值</p>
									<p class="pain-v2__noti txt-new4">* 从数据不存在绝对性，会存在个人差异，仅供大家作为参考。</p>
								</div>
								<!-- <a href="<?php echo SITE_UPLOAD_URL?>/knowledge/bimaxillary.pdf" target="_blank" class="operation-v2__link"><span>查看术后注意事项</span></a> -->
							</div><!-- //pain -->
						</div>
					</div>
				</div>
			</div>
        </div><!-- //new-content-wrap-->
    </div><!-- //content-->


</div> <!-- //container -->

<% include ../_include/_footer %>
