<%
	type = "content"
	page = "contour"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
	<!-- visual -->
	<div class="content-visual type-contour">
		<div class="content-visual__box">
			<div class="content-visual__border">
				<p class="content-visual__txt1">发现更加充满魅力的V线条</p>
				<h3 class="content-visual__tit">#<span class="color-contour7">下颌角</span>手术</h3>
				<p class="content-visual__txt2">任何角度都彰显魅力的下颌曲线</p>
			</div>
		</div>
	</div>
	<!-- //visual -->

	<!-- Content -->
	<div class="content type-square">
		<div class="content-wrap">
		   	<div class="content-section type-first">
			 	<div class="contour-box1">
			   		<div class="content-section__wrap">
				 		<div class="content-section__box">
				   			<h3 class="content-section__tit type-left">
					 			<span class="content-section__number"><span class="content-section__number-wrap">01</span></span>
					 			V线条只是一个代称，<strong class="color-contour7 inline-block">不能</strong>单一化。
				   			</h3>
				   			<p class="content-section__txt1">
					 			V脸作为标准脸型的代名词，为什么人们对v脸这么狂爱呢？<br><br>

								那是因为相比宽下颌角，纤长的下颌角看起来整个脸型比例显得更加娇小。而且有线条感的下巴能与微笑的双唇相结合，带来更加精致的感觉。因此下颌角整形的核心就是<strong class="content-highlight type-contour">能够打造出符合脸部比例，带有美感的下颌曲线的同时，给人干练的形象感。</strong>
				   			</p>
				   			<div class="contour-box1__img">img</div>
				   			<div class="quotation2 type-contour">
					 			<p class="quotation2__txt txt-v5">
									单纯的打造出相同的V型下巴线条是没有意义的。了解下颌角整形核心，能够做到更加<i class="quotation2__style1">符合个人特质，充满美丽的Vline手术。</i>而且不止是从正面角度看呈现出vline，还能将各个角度都设计出vline线条。
					 			</p>
				   			</div>
				   			<p class="content-section__txt2">
								因此，佰诺佰琪的v脸，从下颌角到下巴，实现<span class="color-contour8">多个角度都能拥有美丽曲线的魅力vline。</span>
				   			</p>
				 		</div><!-- //content-section__box-->
			   		</div><!-- //content-section__wrap-->
			 	</div>
		   	</div><!-- //content-section -->
		   	<div class="content-section">
			 	<div class="contour-bg">
			   		<div class="contour-box2">
				 		<div class="content-section__box w-6">
				   			<h4 class="content-section__tit type-top">
					 			<span class="content-section__number"><span class="content-section__number-wrap">02</span></span>
					 			只通过<span class="content-highlight2 type-contour">一次手术</span>得到效果性的改善
				   			</h4>
				   			<p class="content-section__txt1">
					 			通常将下巴手术分为下颌，下巴两侧等部位进行。对下颌角感到苦恼的话，可以将侧边棱角的部位削除，如果对厚厚的下巴感到苦恼的话，进行能够凸显出下巴末端的手术方式。但是实际上人的下巴末端只需要一个骨头就能实现。而且是立体化的。<span class="content-highlight type-contour">因此，下颌角手术将两侧下巴和下巴底部一次性进行手术的话更好。</span>那样的话能让整体比例更加好看，效果更加自然。
				   			</p>
				 		</div>
				 		<div class="contour-box2__img">img</div>
			   		</div><!-- //contour-box2 -->
			   		<div class="contour-box3">
				 		<ul class="contour-box3__list">
				   			<li class="contour-box3__item">
					 			<img src="../../images/contour/contour_chin_img04.jpg" alt="" class="hidden-tm">
					 			<img src="../../images/contour/contour_chin_img04_768.jpg" alt="" class="hidden-p">
				   			</li>
				   			<li class="contour-box3__item">
					 			<img src="../../images/contour/contour_chin_img05.jpg" alt="" class="hidden-tm">
					 			<img src="../../images/contour/contour_chin_img05_768.jpg" alt="" class="hidden-p">
				   			</li>
				 		</ul>
				 		<p class="contour-box3__txt1">
				   			这样的手术方法虽然很纯粹，但是一点不简单。<br>
				   			因为要让患者在没有负担的时间内同时考虑正面和侧面的进行手术。
				 		</p>
				 		<p class="contour-box3__txt2">
				   			自然的美丽的下颌角手术，只有<span class="color-contour8">具备精密测量技术和熟练专业技 术的佰诺佰琪轮廓整形专家团队</span>才能胜任。
				 		</p>
			   		</div><!-- //contour-box3 -->
			 	</div>
		   	</div><!-- //content-section-->
		   	<div class="content-section">
			 	<div class="contour-box4">
			   		<h4 class="content-section__tit type-center">
				 		<span class="content-section__number"><span class="content-section__number-wrap">03</span></span>
				 		<strong class="color-contour7">考虑所有的手术组织</strong>，<br>
				 		<span class="inline-block">用手术找到答案。</span>
			   		</h4>
			   		<div class="contour-box4__img">
				 		<img src="../../images/contour/contour_chin_img06.jpg" alt="咬肌，下颌角骨骼，颊脂垫" class="hidden-tm">
				 		<img src="../../images/contour/contour_chin_img06_768.jpg" alt="咬肌，下颌角骨骼，颊脂垫" class="hidden-p">
			   		</div>
			   		<p class="content-section__txt1">
						一般下颌角骨骼太大的情况，为了移动下颌角，肌肉也变的发达。还有面部脂肪太多的情况，皮下脂肪和颊脂垫发达的情况比较多。<br class="hidden-m">这样的情况给患者只削下颌角骨骼，效果不明显是事实	。所以效果好的下颌角手术是对肌肉和脂肪等面部组织的多角度接近一起形成的手术。<br class="hidden-m">这样的复合诊断和手术，遮盖面部轮廓所有领域，理解度高的医疗团队进行，才会出现满足度高的结果。
			   		</p>
			 	</div>
		   	</div><!-- //content-section-->
		   	<div class="content-section">
			 	<div class="contour-box5">
			   		<ul class="contour-box5__list">
				 		<li class="contour-box5__item type-txt">
				   			<h4 class="content-section__tit">
					 			佰诺佰琪，
				   			</h4>
				   			<p class="content-section__txt1 type-special">
					 			2000年设立之后成长为既安全又具备基础性设施的医疗机构，聚集了各项专业的专家，集中化地进行各领域的研究，从而构建了整个手术体系。<br><br>

					 			佰诺佰琪的下颌角整形，无疑是面部轮廓团队专家们对于脸部骨骼和组织进行苦恼的结果，
				   			</p>
				   			<p class="content-section__txt2">
					 			同时还完成了<span class="color-contour9">下颌角截骨术和咬肌缩小术，皮质削骨术</span>以及<span class="color-contour9">去除颊脂垫术</span>这样具有针对性的下颌角手术方法。
				   			</p>
				 		</li>
				 		<li class="contour-box5__item type-img">
				   			<img src="../../images/contour/contour_chin_img07_mini.jpg" alt="" class="hidden-tm">
				   			<img src="../../images/contour/contour_chin_img07_mini_768.jpg" alt="" class="hidden-pm">
				   			<img src="../../images/contour/contour_chin_img07_mini_640.jpg" alt="" class="hidden-pt">
				 		</li>
			   		</ul>
			 	</div>
			 	<div class="contour-box6">
			   		<div class="item-box1">
				 		<ul class="item-box1__list">
				   			<li class="item-box1__item">
					 			<div class="item-box1__inner js-height">
					   				<h4 class="item-box1__tit tit-v1"><span class="item-box1__plus"><span class="item-box1__plus-wrap">plus</span></span> 下颌角截骨术</h4>
					   				<p class="item-box1__txt txt-v1">
						 				通常将耳朵下方棱角的部分称为下颌角或是下颚角。下颌角过余发达的情况会让下巴线条显的厚重，让脸部轮廓显得非常不自然。<br><br>

										要让宽大的骨和圆形的脸不管从正面还是侧面看都显得非常自然，连接下巴底部让脸部线条变的更加纤长和柔顺。
					   				</p>
					 			</div>
				   			</li>
				   			<li class="item-box1__item">
					 			<div class="item-box1__inner js-height">
					   				<h4 class="item-box1__tit tit-v1"><span class="item-box1__plus"><span class="item-box1__plus-wrap">plus</span></span> 咬肌缩小术</h4>
					   				<p class="item-box1__txt txt-v1">
						 				用手按耳朵底部下巴部位的时候，深处的皮肤赘肉会变的很结实。这个被称作咬肌，如果咬肌部位过于发达的话，容易造成突嘴形的下颌角。<br><br>

										注射肉毒素短时间内虽然能看到一定效果，但是如果搭配下颌角手术一起进行的话，效果将会维持，能够提高满意度。
					   				</p>
					 			</div>
				   			</li>
				 		</ul>
				 		<ul class="item-box1__list">
				   			<li class="item-box1__item">
					 			<div class="item-box1__inner">
					   				<h4 class="item-box1__tit tit-v1"><span class="item-box1__plus"><span class="item-box1__plus-wrap">plus</span></span> 皮质削骨术</h4>
					   				<p class="item-box1__txt txt-v1">
						 				脸部骨骼分为外皮质骨，海绵骨和外皮质骨三部分。如果由经验丰富的专家进行指导将外皮薄薄的剪掉进行皮质削骨术的话，能够有效的改善下巴线条，更加安全更加有效。
					   				</p>
					 			</div>
				   			</li>
				   			<li class="item-box1__item">
					 			<div class="item-box1__inner">
					   				<h4 class="item-box1__tit tit-v1"><span class="item-box1__plus"><span class="item-box1__plus-wrap">plus</span></span> 去除颊脂垫</h4>
					   				<p class="item-box1__txt txt-v1">
						 				脸部脂肪有两层，一层就是皮肤里薄薄的一层的脂肪，还有一层就是在皮肤深处的脂肪。为了除掉深处脂肪的时候，通过吸脂施术将内部脂肪去除，需要从嘴里面进行切开施术。
					   				</p>
					 			</div>
				   			</li>
				 		</ul>
			   		</div>
			 	</div>
		   	</div>
		   	<div class="content-section type-unique">
			 	<div class="contour-box7">
			   		<div class="contour-box7__box">
				 		<p class="contour-box7__txt">BANOBAGI SURGERY</p>
				 		<h4 class="content-section__tit">
				   			得到媒体和学界认证的<br>
				   			<strong>面部轮廓名医</strong>
				 		</h4>
			   		</div>
			   		<div class="contour-box7__img">img</div>
			 	</div>
			 	<div class="contour-box8">
			   		<div class="contour-box8__box">
				 		<p class="contour-box8__txt">Let美人，Let美人泰兰德，越南Change Life，美丽的你，大势男等</p>
				 		<h4 class="content-section__tit">
				   			代表医生
				 		</h4>
			   		</div>
			 	</div>
			 	<div class="contour-img">
			   		<img src="../../images/contour/contour_chin_img10.jpg" alt="下颌角手术 新闻">
			 	</div>
			 	<div class="contour-box9">
			   		<div class="content-section__wrap">
				 		<div class="content-section__box w-4">
				   			<p class="contour-box9__txt">多样的学术活动，论文研究发表等</p>
				   			<h4 class="content-section__tit">
					 			只为面部轮廓<br class="hidden-p">而集中的朴钟林博士
				   			</h4>
				 		</div>
				 		<div class="content-section__box w-6">
				   			<img src="../../images/contour/contour_chin_img11.png" alt="下颌角手术 新闻">
				 		</div>
			   		</div>
			 	</div><!-- //contour-box9 -->
			 	<div class="contour-img">
			   		<img src="../../images/contour/contour_chin_img12.jpg" alt="朴钟林博士">
			 	</div>
		   	</div>

			<!-- 手术详情 -->
			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-contour">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">手术详情</h4>
							<!-- <p class="operation-v2__subtit">提供适合下颌角手术的恢复管理</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">手术时间</h5>
										<p class="operation-v2__txt txt-new1">约 1小时30分</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">麻醉方法</h5>
										<p class="operation-v2__txt txt-new1">全身麻醉</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">拆线</h5>
										<p class="operation-v2__txt txt-new1">约14天后拆线</p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">住院时间</h5>
										<p class="operation-v2__txt txt-new1">约1天</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">来院治疗</h5>
										<p class="operation-v2__txt txt-new1">约2次</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">恢复</h5>
										<p class="operation-v2__txt txt-new1">约5~7天后恢复日常生活</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-contour">
								<h5 class="pain-v2__tit txt-new2">术后体感疼痛</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 5){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">square</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">square</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									手术后麻醉缓解的同时能感觉到刺痛的感觉。<br>
									可能会有酸痛感和不适感，服用处方止痛药能够减少痛感。<br>
									痛症或者大的浮肿大约在5天后开始消退。<br>
									通过体系化的治疗系统能够帮助恢复，让效果更好。
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* 通过对术后患者进行问卷调查得出的平均值</p>
									<p class="pain-v2__noti txt-new4">* 从数据不存在绝对性，会存在个人差异，仅供大家作为参考。</p>
								</div>
								<!-- <a href="<?php echo SITE_UPLOAD_URL?>/knowledge/contour.pdf" target="_blank" class="operation-v2__link"><span>术后注意事项</span></a> -->
							</div><!-- //pain -->
						</div>
					</div>
				</div>

            </div>
	   	</div><!-- //Content-wrap -->
	</div><!-- //Content -->

	<% include ../_include/_banner_rapid %>
	<% include ../_include/_banner_petit %>
	<% include ../_include/_bfaf %>
</div> <!-- //container -->


<% include ../_include/_footer %>
