/*transplant*/
.color-transplant1{color: #ffc332;}
.svf-box1{
	&__box{padding-right: 50%;box-sizing: border-box;}
    .content-section{
		&__wrap{
			margin: 0;
			&.type-sec1-bg{text-align: left;background:  url(../images/svf/svf_transplant_section02.jpg) right top / contain no-repeat;
				@media only screen and (max-width:$minpc-size3){
					background: none;
					}
				@media only screen and (max-width:$tablet-size){
					background: none;
					}
			}
			&.type-unique{padding-left: 115px;padding-bottom: 120px;
				@media only screen and (max-width:$minpc-size3){
					padding-left: 0;padding-bottom: 0;
                }
				@media only screen and (max-width:$tablet-size){
					padding-left: 0;padding-bottom: 0;
				}
				@media only screen and (max-width:$mobile-size){
					padding-bottom: 0;
				}
			}
		}
		&__bg-img{height: 0;position: relative;

			@media only screen and (max-width:$minpc-size3){
				padding-bottom: 67.57%;
			}
			@media only screen and (max-width:$tablet-size){
				padding-bottom: 67.57%;
			}
			@media only screen and (max-width:$mobile-size){
				padding-bottom: 90%;
			}
		}
		&__bg-img:before{
			@media only screen and (max-width:$minpc-size3){
				position: absolute;left: 0;top: 0;width: 100%;height: 100%;content:'';background:  url(../images/svf/svf_transplant_section02-1_990.jpg) right top / contain no-repeat;
			}
			@media only screen and (max-width:$tablet-size){
				background:  url(../images/svf/svf_transplant_section02-1_990.jpg) right top / contain no-repeat;
			}
			@media only screen and (max-width:$mobile-size){
				background: url(../images/svf/svf_transplant_section02_680.jpg) center bottom/cover no-repeat;
			}
		}
		&__tit-box{}
		&__tit{}
		&__txt-box{padding-right: 660px;
			@media only screen and (max-width:$minpc-size3){
				padding-right: 160px;
			}
			@media only screen and (max-width:$tablet-size){
				padding-right: 160px;
			}
			@media only screen and (max-width:$mobile-size){
				padding-right: 15px;
			}
		}
		&__txt1{margin-top: 80px;
			@media only screen and (max-width:$tablet-size){
				margin-top: 50px;font-size: 16px;
			}
			@media only screen and (max-width:$mobile-size){
				margin-top: 32px;font-size: 1.4rem;
			}
		}
		&__txt2{position: relative;margin-top: 85px;font-style: italic;font-size: 17px;
			@media only screen and (max-width:$tablet-size){
				font-size: 16px;
			}
			@media only screen and (max-width:$mobile-size){
				margin-top: 55px;font-size: 1.4rem;font-weight: 300;padding-bottom: 15px;
			}
		}
		.type-svf-quotation{position: absolute;text-indent: -9999px;z-index: 100;
			&.quotation_left{background:  url(../images/svf/svf_transplant_quotation_left.png) 0 0 / cover no-repeat;-webkit-background-size: 16px 11px;background-size: 16px 11px;position: absolute;left: 0;top: -25px;display: inline-block;height: 11px;width: 16px;
				@media only screen and (max-width:$mobile-size){
					background:  url(../images/svf/svf_transplant_quotation_left_680.png) 0 0 / cover no-repeat;width: 8px;height: 6px;top: -15px;-webkit-background-size: 8px 6px;background-size: 8px 6px;
				}
			}
			&.quotation_right{background:  url(../images/svf/svf_transplant_quotation_right.png) 0 0 / cover no-repeat;-webkit-background-size: 16px 11px;background-size: 16px 11px;position: absolute;left: 0;bottom: -25px;display: inline-block;height: 11px;width: 16px;
				@media only screen and (max-width:$mobile-size){
					background:  url(../images/svf/svf_transplant_quotation_right_680.png) 0 0 / cover no-repeat;-webkit-background-size: 8px 6px;background-size: 8px 6px;width: 8px;height: 6px;bottom: 0px;
				}
			}
		}
		&__number{top: -140px;left: -3px;letter-spacing: 0;
			@media only screen and (max-width:$mobile-size){
				top: 25px;
			}
		}
		&__number-wrap{}
	}

	@media only screen and (max-width:$tablet-size){
		&__box{padding-right: 0;}
	}
	@media only screen and (max-width:$mobile-size){
        padding: 0 5px;
	}
}
.svf-box2{
	.content-section{
		.content-section__number-wrap:after{background-color: #7f7d78;}
		&.cell_transplant-term{
			margin: 0;
			@media only screen and (max-width:$tablet-size){
				margin: 0 -65px;
			}
			@media only screen and (max-width:$mobile-size){
				margin: 0 -20px;

			}
		}
		&__bg-wrapper{
			background: url(../images/svf/svf_transplant_section03.jpg) 0 0 / cover no-repeat;
			padding-bottom: 80px;
			padding-top: 90px;
			@media only screen and (max-width:$minpc-size3){
				background: url(../images/svf/svf_transplant_section03_990.jpg) 0 0/ cover no-repeat;;
				padding-bottom: 45px;
			}
			@media only screen and (max-width:$tablet-size){
				background: url(../images/svf/svf_transplant_section03_990.jpg) 0 0/ cover no-repeat;;
				padding-bottom: 45px;
			}
			@media only screen and (max-width:$mobile-size){
				padding-top: 25px;
				background: #1d1604 url(../images/svf/svf_transplant_section03_680.jpg) 0 0/ cover no-repeat;
			}
		}
		.caution-para1{ background-color:#615a48; color:#fff; padding: 10px 0; margin-top: 0;}
		&__tit-box{
			&.type-section2{
				margin-top: 163px;
				text-align: center;
			}
		}
		&__tit{color: #FFFFFF; text-align: center;}
		&__txt{
			-ms-word-break: break-all;word-break: break-all;
			margin: 50px 0 0 0;
			color: #ffffff;
			font-size: 17px;
			line-height: 2.1;
			@media only screen and (max-width:$tablet-size){
				margin-top: 38px;
				padding: 0 88px;
			}
			@media only screen and (max-width:$mobile-size){
				font-size: 1.4rem;
				padding: 0 20px;
			}
		}
		&__desc-box{
			background-color: #1d1604;
			padding: 90px 160px 90px;
			@media only screen and (max-width:$tablet-size){
				padding: 55px 100px 56px;
			}
			@media only screen and (max-width:$mobile-size){
				padding: 25px 20px 0;
			}
		}
		&__txt1{
			font-weight: 200;
			color: #ffffff;
			margin-top: 0;
			color: #fff;
			font-size: 17px;
			@media only screen and (max-width:$tablet-size){
				margin-top: 0;
			}
			@media only screen and (max-width:$mobile-size){
				font-size: 1.2rem;
			}
		}
		&__txt2{
			color: #ffffff;
			font-style: italic;
			margin-top: 35px;
			@media only screen and (max-width:$mobile-size){
				font-size: 1.35rem;
				margin-top: 27px;
				padding-bottom: 37px;
			}
			strong{
				font-weight: 400;
			}
		}
	}
}
.svf-box3{
	@media only screen and (max-width:$mobile-size){}
	.content-section{
		&__txt-box{padding-left: 108px;float: left;width: 47%;text-align: left;box-sizing: border-box;
			@media only screen and (max-width:$minpc-size3){
				float: none;padding-left: 0;width: auto;
			}
			@media only screen and (max-width:$tablet-size){
				float: none;width: auto;padding: 0;
			}
		}
		&__txt1{margin-top: 90px;padding-right: 112px;box-sizing: border-box;
			@media only screen and (max-width:$minpc-size3){
				padding: 0;margin-top: 45px;
			}
			@media only screen and (max-width:$tablet-size){
				padding: 0;margin-top: 45px;
			}
		}
		&__img-box{
			&.w-53{float: left;width: 53%;padding-right: 88px;box-sizing: border-box;
				@media only screen and (max-width:$minpc-size3){
					width: auto;float: none;padding-right: 0;
				}
				@media only screen and (max-width:$tablet-size){
					padding: 0;float: none;width: auto;
				}
				@media only screen and (max-width:$mobile-size){
					margin-top: 35px;
				}
			}
		}
		&__img{position: relative;height: 0;padding-bottom: 147.53%;
			@media only screen and (max-width:$minpc-size3){
				padding-bottom: 134.70%;
			}
			@media only screen and (max-width:$tablet-size){
				padding-bottom: 134.70%;
			}
			@media only screen and (max-width:$mobile-size){
				padding-bottom: 130.16%;
			}

			&.type-background3{background: #fff url(../images/svf/svf_transplant_section04.jpg) 0 0 / cover no-repeat;

				@media only screen and (max-width:$minpc-size3){
					background: #fff url(../images/svf/svf_transplant_section04_990.jpg) 0 0 / cover no-repeat;
				}
				@media only screen and (max-width:$tablet-size){
					background: #fff url(../images/svf/svf_transplant_section04_990.jpg) 0 0 / cover no-repeat;
				}
				@media only screen and (max-width:$mobile-size){
					background: #fff url(../images/svf/svf_transplant_section04_680.jpg) 0 0 / contain no-repeat;
				}
			}

			&.type-circle:before{content: '';width: 270px;height: 270px;background:  url(../images/svf/svf_transplant_hip.png) 0 0 / cover no-repeat;-webkit-background-size: auto 270px;background-size: auto 270px;position: absolute;right: 15px;bottom: 60px;
				@media only screen and (max-width:$mobile-size){
					width: 135px;height: 135px;-webkit-background-size: auto 136px;background-size: auto 136px;bottom: 29px;right: 5px;
				}
			}
		}
	}
}
.svf-box4{
	.content-section{
		&__bg-wrapper{padding: 6.36% 9.11% 8.88%;background:  url(../images/svf/svf_transplant_section05.jpg) center 0 / cover no-repeat;
			@media only screen and (max-width:$minpc-size2){
				background:  url(../images/svf/svf_transplant_section05_990.jpg) center 0 / cover no-repeat;
			}
			@media only screen and (max-width:$minpc-size3){
				background:  url(../images/svf/svf_transplant_section05_990.jpg) center 0 / cover no-repeat;padding: 9.62% 9.37%;
			}
			@media only screen and (max-width:$tablet-size){
				padding: 9.62% 9.37%;background:  url(../images/svf/svf_transplant_section05_990.jpg) center 0 / cover no-repeat;margin: 0 -65px;
			}
			@media only screen and (max-width:$mobile-size){
				padding: 6.05%;background:  url(../images/svf/svf_transplant_section05_680.jpg) center 0 / cover no-repeat;margin: 0 -20px;
			}
		}
		&__bg-color{background-color: #FFFFFF;padding: 9.53% 14.61% 11.35%;
			@media only screen and (max-width:$tablet-size){
				padding: 7.02% 10.30%;
            }
			@media only screen and (max-width:$mobile-size){
				padding: 6.81% 3.12%;
			}
		}
		&__tit{position: relative;margin-top: 40px;
			@media only screen and (max-width:$tablet-size){
				margin-top: 30px;
			}
			@media only screen and (max-width:$mobile-size){
				margin-top: 20px;padding-top: 0;
			}
			&:before{content: '';display: block;margin: 0 auto;margin-bottom: 30px;width: 40px;border-bottom: 1px solid #8e8e8e;
				@media only screen and (max-width:$mobile-size){
					margin-bottom: 8px;padding-top: 0;width: 20px;
				}
			}
		}
		&__txt1{margin-top: 50px;
			@media only screen and (max-width:$mobile-size){
				margin-top: 25px;padding: 0 3%;
			}
			&.type-unique{margin: 0;font-size: 11px;color: #888888;letter-spacing: 11px;text-transform: uppercase;
				@media only screen and (max-width:$tablet-size){
					letter-spacing: 14px;
				}
				@media only screen and (max-width:$mobile-size){
					font-size: 0.6rem;letter-spacing: 6px;
				}
			}
		}
		&__img-wrapper{margin-top: 50px;
			&:after{display:block; clear:both; content:'';}
			@media only screen and (max-width:$tablet-size){
				margin-top: 40px;
			}
			@media only screen and (max-width:$mobile-size){
				margin-top: 25px;
			}
		}
		&__sec4-img{float: left;width: 50%;padding: 15px;box-sizing: border-box;
			@media only screen and (max-width:$mobile-size){
				padding: 7px;
			}
		}
		&__sec4-img1{
			> img{width: 100%;}
		}
		&__sec4-img2{
			> img{width: 100%;}
		}
		&__txt2{-ms-word-break: break-all;word-break: break-all;font-weight: 300;font-size: 17px; margin: 50px -25px 0;
			@media only screen and (max-width:$tablet-size){margin: 35px 0 0;}
			@media only screen and (max-width:$mobile-size){font-size: 1.2rem; margin: 18px 0 0;}
		}
		&__txt3{margin: 50px 0 0 0;font-size: 17px;line-height: 2.1;font-weight: 300;letter-spacing: -1px;
			strong{font-weight: 500;}
			@media only screen and (max-width:$tablet-size){
				margin-top: 45px;
			}
			@media only screen and (max-width:$mobile-size){
				margin-top: 20px;font-size: 1.2rem;
			}
		}
	}
}
.stem-cell{position: relative;margin-top: 79px;height: 0;padding-bottom: 583px;
	@media only screen and (max-width:$tablet-size){
		margin-top: 50px;
	}
	@media only screen and (max-width:$mobile-size){
		padding-bottom: 87.7%;margin-top: 35px;
	}
}
.part-list{
	&__wrap{margin: 0;}
	&__items{padding: 0 8.35%;margin: 0;list-style: none;
		@media only screen and (max-width:$tablet-size){
			margin: 0 -65px;
		}
		@media only screen and (max-width:$mobile-size){
			margin: 0 -20px;
		}
	}
	&__item{position: relative;min-height: 201px;border: 1px solid #E3E3E3;
		@media only screen and (max-width:$tablet-size){
			min-height: 230px;
		}
		@media only screen and (max-width:$mobile-size){
			min-height: 106px;
		}
	}
	&__item:nth-child(2n + 1){background-color: #fafafa;}
	&__item + &__item{border-top: 1px solid transparent;}
	&__item-wrapper{display: table-cell;vertical-align: middle;width:1%;padding-left: 23.24%;padding-right: 10.71%;
		@media only screen and (max-width:$tablet-size){
			padding-left: 33.90%;
		}
		@media only screen and (max-width:$mobile-size){
			padding-left: 25.42%;
		}
	}
	&__thumb{
		&.type-sec3{position: absolute;left: 10.23%;top: 0;bottom: 0;width: 92px;height: 92px;margin: auto 0;text-indent: -9999px;
			@media only screen and (max-width:$minpc-size3){
				left: 7.23%;
			}
			&.icon0{background-image: url(../images/svf/icon_forehead.png);
				@media only screen and (max-width:$tablet-size){
					background: none;
				}
			}
			&.icon1{background-image: url(../images/svf/icon_eye.png);
				@media only screen and (max-width:$tablet-size){
					background: none;
				}
			}
			&.icon2{background-image: url(../images/svf/icon_face.png);
				@media only screen and (max-width:$tablet-size){
					background: none;
				}
			}
			&.icon3{background-image: url(../images/svf/icon_face02.png);
				@media only screen and (max-width:$tablet-size){
					background: none;
				}
			}
			&.icon4{background-image: url(../images/svf/icon_chest.png);
				@media only screen and (max-width:$tablet-size){
					background: none;
				}
			}
			&.icon5{background-image: url(../images/svf/icon_hip.png);
				@media only screen and (max-width:$tablet-size){
					background: none;
				}
			}
		}
	}
	&__desc{padding: 55px 0;
		@media only screen and (max-width:$tablet-size){
			padding: 45px 0;
		}
		@media only screen and (max-width:$mobile-size){
			padding: 20px 0;
		}
	}
	&__tit{margin: 0;text-align: left;font-size: 20px;color: #333333;font-weight: 300;
		@media only screen and (max-width:$tablet-size){
			position: relative;
		}
		@media only screen and (max-width:$mobile-size){
			font-size: 1.4rem;
		}

		&.icon0:before{
			@media only screen and (max-width:$tablet-size){
				background: url(../images/svf/icon_forehead.png)
			}
			@media only screen and (max-width:$mobile-size){
				-webkit-background-size: auto 46px;background-size: auto 46px;background-repeat: no-repeat;left: -32.23%;
			}
		}
		&.icon1:before{
			@media only screen and (max-width:$tablet-size){
				background: url(../images/svf/icon_eye.png)
			}
			@media only screen and (max-width:$mobile-size){
				-webkit-background-size: auto 46px;background-size: auto 46px;background-repeat: no-repeat;left: -32.23%;
			}
		}
		&.icon2:before{
			@media only screen and (max-width:$tablet-size){
				background: url(../images/svf/icon_face.png)
			}
			@media only screen and (max-width:$mobile-size){
				-webkit-background-size: auto 46px;background-size: auto 46px;background-repeat: no-repeat;left: -32.23%;
			}
		}
		&.icon3:before{
			@media only screen and (max-width:$tablet-size){
				background: url(../images/svf/icon_face02.png)
			}
			@media only screen and (max-width:$mobile-size){
				-webkit-background-size: auto 46px;background-size: auto 46px;background-repeat: no-repeat;left: -32.23%;
			}
		}
		&.icon4:before{
			@media only screen and (max-width:$tablet-size){
				background: url(../images/svf/icon_chest.png)
			}
			@media only screen and (max-width:$mobile-size){
				-webkit-background-size: auto 46px;background-size: auto 46px;background-repeat: no-repeat;left: -32.23%;
			}
		}
		&.icon5:before{
			@media only screen and (max-width:$tablet-size){
				background: url(../images/svf/icon_hip.png)
			}
			@media only screen and (max-width:$mobile-size){
				-webkit-background-size: auto 46px;background-size: auto 46px;background-repeat: no-repeat;left: -32.23%;
			}
		}
	}
	&__tit:before{
		@media only screen and (max-width:$tablet-size){
			display: inline-block;left: -42.62%;top: 0;width: 92px;height: 92px;position: absolute;content:'';background: 0 0 / cover no-repeat;
		}
	}
	&__txt{-ms-word-break: break-all;word-break: break-all;margin: 20px 0 0 0;text-align: left;font-size: 15px;color: #999999;font-weight: 300;
		@media only screen and (max-width:$mobile-size){
			font-size: 1.3rem;margin-top: 10px;
		}
	}
}

.slash-hidden-pt{display: none;

	@media only screen and (max-width:$minpc-size3){
		display: none;
	}
	@media only screen and (max-width:$tablet-size){
		display: none;
	}
	@media only screen and (max-width:$mobile-size){
		display:inline;
	}
}
