<%
	type = "introduce"
	page = "location"
%>
<% include ../_include/_header %>
<div class="container">
	<div class="container__top">
		<h3 class="container__tit type-location">来院路线和诊疗介绍</h3>
		<p class="container__txt">驿三站6号出口佰诺佰琪整形外科</p>
	</div>
	<% include ../_include/_lnb %>
	<div class="dim type-sms">딤처리</div>
	<div class="map__wrap">
		<div class="map-box">
			<div id="map"></div> <!-- //Google Map -->
		</div>
		<div class="map__box">
			<div class="map__info">
				<p class="map__info-kor">서울특별시 강남구 논현로 517<br class="hidden-m">바노바기 빌딩</p>
				<p class="map__info-eng">
					首尔特别市江南区论岘路517 佰诺佰琪大楼
				</p>
				<p class="map__info-tel"><span>TEL</span>400-631-6508 · +82-2-564-6508</p>
				<!-- <ul class="map__info-list">
					<li class="map__ifno-item"><a href="http://blog.naver.com/banobagips/220879400530" target="_blank" class="map__info-link type-1">네이버</a></li>
					<li class="map__ifno-item hidden-tm"><a href="#" class="map__info-link type-2" OnClick="open_win();">프린트</a></li>
					<li class="map__ifno-item"><a href="" class="map__info-link type-3 js-sms-open">SMS</a></li>
				</ul> -->
				<div>
                    <a onClick="open_win()" class="counseling-btn type-print">Print</a>
                </div>
			</div>
		</div>
	</div><!-- //map__wrap -->
	<div class="container__wrap type-another">
		<div class="location">
			<!-- 오시는길 -->
			<div class="location__info">
			   	<ul class="location__list">
				   	<li class="location__item location__item-img1">
					   	<h4 class="location__tit">诊疗指南</h4>
					   	<div class="location__box">
						   	<dl class="location__dl">
							   	<dt class="location__dt">周一 ~ 周五</dt>
							   	<dd class="location__dd">09:30 ~ 18:30</dd>
							   	<!--<dt class="location__dt">周二, 周五</dt>
							   	<dd class="location__dd night">09:30 ~ 20:00</dd>-->
							   	<dt class="location__dt">周六</dt>
							   	<dd class="location__dd">09:30 ~ 16:00</dd>
						   	</dl>
							<span class="location__notice">(3/16, 4/20, 5/18, 6/15, 7/20 休诊)</span>
						   	<span class="location__notice">※ 公休日和星期日休诊</span>
					   	</div>
				   	</li>
				   	<li class="location__item location__item-img2">
					   	<h4 class="location__tit">公交</h4>
					   	<p class="location__txt">
						   	<strong class="bus-color1">干线公交</strong> 146, 147, 242, 341, 360, 463, 740, N13(夜间), N61(夜间), <br class="hidden-pt"><strong class="bus-color2">直线公交</strong> 4211, <br class="hidden-p hidden-m"><strong class="bus-color3">机场大巴</strong> 6000, 6020,<br class="hidden-p"><strong class="bus-color4">直行大巴</strong> 1100, 1700, 2000, 2000-1, 3600, 7007, 8001, 9303, 9600
					   	</p>
				   	</li>
				   	<li class="location__item location__item-img3">
					   	<h4 class="location__tit">地铁</h4>
					   	<p class="location__txt subway type-2">驿三站6号出口 出来直行约100米</p>
					   	<p class="location__txt subway type-9">彦州站7号出口 出来直行约400米</p>
				   	</li>
				   	<li class="location__item location__item-img4">
					   	<h4 class="location__tit">自驾车</h4>
					   	<p class="location__txt">为自驾车的客人提供帮助停车服务</p>
				   	</li>
			   	</ul>
			</div>
			<!-- //오시는길 -->

			<!-- 진료절차 -->
			<div class="location__step">
				<h4 class="location__step-tit">诊疗步骤</h4>
				<ul class="step__list">
					<li class="step__item is-active"><a href="" class="step__link js-step" data-slide="1">预约</a></li>
					<li class="step__item"><a href="#" class="step__link js-step" data-slide="4">来院</a></li>
					<li class="step__item"><a href="#" class="step__link js-step" data-slide="7">术前准备</a></li>
					<li class="step__item"><a href="#" class="step__link js-step" data-slide="12">术后日程</a></li>
				</ul>
				<div class="step__box">
					<ul class="step__slide-list">
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img1.jpg" alt="电话商谈预约" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">预约</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">01</span>
									<h5 class="step__slide-tit">电话商谈预约</h5>
									<p class="step__slide-tel">400-631-6508, <span class="inline-block">+82-2-564-6508</span></p>
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img2.jpg" alt="网络商谈预约" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">预约</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">02</span>
									<h5 class="step__slide-tit">网络商谈预约</h5>
									<dl class="step__slide-dl">
										<dt class="step__slide-dt">邮箱咨询</dt>
										<dd class="step__slide-dd">china@banobagi.com</dd>
									</dl>
									<!-- <a href="javascript:$.fnOpenCounsel();" class="step__btn">실시간상담</a><br class="hidden-pt">
									<a href="javascript:$.fnOpenCounsel();" class="step__btn type-katalk js-katalk">카톡상담</a><br class="hidden-pt">
									<a href="javascript:$.fnOpenCounsel();" class="step__btn type-cost js-cost">비용상담</a> -->
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img3.jpg" alt="手术前注意事项" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">预约</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">03</span>
									<h5 class="step__slide-tit">手术前注意事项</h5>
									<p class="step__txt">来院当天商谈和手术进行时嘱托一下注意事项。</p>
									<p class="step__txt2">
										*手术前八小时禁食<br>
										*有感冒,呼吸疾患等身体不舒服时一定要告知<br>
										*过去和现在的病历,对药物有没有过敏反应,副作用药物等一定要告知
									</p>
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img4.jpg" alt="挂号" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">来院</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">04</span>
									<h5 class="step__slide-tit">挂号</h5>
									<p class="step__txt">
										简单的进行情况了解后,诊疗前照片拍摄和填写表格。担当翻译人员和主治医生决定。
									</p>
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img5.jpg" alt="院长商谈" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">来院</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">05</span>
									<h5 class="step__slide-tit">院长商谈</h5>
									<p class="step__txt">
										判断手术的必要性,确定手术方案
									</p>
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img6.jpg" alt="室长商谈" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">来院</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">06</span>
									<h5 class="step__slide-tit">室长商谈</h5>
									<p class="step__txt">
										帮助预约手术时间,嘱托术前注意事项
									</p>
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img7.jpg" alt="术前准备" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">术前准备</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">07</span>
									<h5 class="step__slide-tit">术前准备</h5>
									<p class="step__txt">
										简单的身份核实后,诊察前照片拍摄以及制作表格
									</p>
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img8.jpg" alt="医学拍摄" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">术前准备</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">08</span>
									<h5 class="step__slide-tit">医学拍摄</h5>
									<p class="step__txt">
										需要时进行医学拍摄
									</p>
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img9.jpg" alt="院长咨询" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">术前准备</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">09</span>
									<h5 class="step__slide-tit">院长咨询</h5>
									<p class="step__txt">
										手术前和担当院长再一次针对手术方案进行说明介绍（减少术前的不安感,给予手术信心。）
									</p>
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img10.jpg" alt="麻醉介绍" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">术前准备</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">10</span>
									<h5 class="step__slide-tit">麻醉介绍</h5>
									<p class="step__txt">
										进行全身麻醉手术时和常驻麻醉专家人员会面。
									</p>
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img11.jpg" alt="手术" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">术前准备</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">11</span>
									<h5 class="step__slide-tit">手术</h5>
									<p class="step__txt">
										通过各领域的医疗专家人员构成的专业性的诊疗体系进行手术。
									</p>
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img12.jpg" alt="恢复&amp;住院" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">术后日程</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">12</span>
									<h5 class="step__slide-tit">恢复&amp;住院</h5>
									<p class="step__txt">
										手术后在恢复室充分的休息后,护士人员带领离开恢复室,前往住院部。
									</p>
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img13.jpg" alt="自行痛症调节" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">术后日程</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">13</span>
									<h5 class="step__slide-tit">自行痛症调节</h5>
									<p class="step__txt">
										让痛症能够快速恢复。
									</p>
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img14.jpg" alt="院长会诊" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">术后日程</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">14</span>
									<h5 class="step__slide-tit">院长会诊</h5>
									<p class="step__txt">
										需要的时候,患者来院后商谈,担当院长进行复查。
									</p>
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img15.jpg" alt="浮肿和镇定管理" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">术后日程</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">15</span>
									<h5 class="step__slide-tit">浮肿和镇定管理</h5>
									<p class="step__txt">
										为了让患者能够更加快速的恢复,提供消肿和镇定管理服务。
									</p>
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img16.jpg" alt="疤痕治疗" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">术后日程</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">16</span>
									<h5 class="step__slide-tit">疤痕治疗</h5>
									<p class="step__txt">
										为了解决患者对于疤痕的困恼,根据患者的不同需求实施疤痕治疗项目。
									</p>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<!-- //진료절차 -->
			<!-- pagination -->
	        <div class="pagination type-step">
				<ul class="pagination__list">
					<li class="pagination__item pagination__item-prev">
						<a href="#" class="pagination__link js-step-prev">
							<img src="../../images/common/paging_prev.png" alt="Prev" class="invisible">
						</a>
					</li>
					<li class="pagination__item pagination__page">
						<p class="step__nowpage">1</p>/<p class="step__totalpage">16</p>
					</li>
					<li class="pagination__item pagination__item-next">
						<a href="#" class="pagination__link js-step-next">
							<img src="../../images/common/paging_next.png" alt="Next" class="invisible">
						</a>
					</li>
				</ul>
	        </div>
	        <!-- //pagination -->
		</div>
		<!-- 문자 팝업 -->
		<div class="popup-sms">
			<div class="popup-sms__wrap">
				<div class="popup-sms__vertical">
					<p class="popup-sms__tit">
						연락처를 입력하시면<br>
						SMS로 <strong>약도를 전송</strong>해드립니다.
					</p>
					<div class="popup-sms__box">
						<input type="tel" placeholder="연락처를 입력해주세요" class="popup-sms__input">
						<button type="submit" class="popup-sms__button">전송</button>
					</div>
					<a href="" class="popup-sms__close js-sms-close">닫기</a>
				</div>
			</div>
		</div>
		<!-- // 문자팝업 끝 -->
	</div>
</div><!-- //container-->
<% include ../_include/_footer %>
