<%
	type = "introduce"
	page = "history"
%>
<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
	<div class="c-visual type-introduce">
        <div class="c-visual__outer">
            <div class="c-visual__inner">
                <div class="c-visual__box">
                    <div class="c-visual__wrap">
                        <h3 class="c-visual__tit tit-new1">佰诺佰琪发展史</h3>
                        <p class="c-visual__txt txt-new1">比起医院的利益以更加重视顾客<br> 的姿态一直发展到了现在的规模。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<div class="container__wrap type-visual">
		<div class="history">
			<div class="history__area">
				<h4 class="history__head"><span>2000s</span></h4>
				<ul class="history__list">
					<li class="history__item type-right">
						<div class="history__box">
							<h5 class="history__tit tit-new2"><span class="history__line">2000年</span></h5>
							<p class="history__txt txt-new1">Ye整形外科最初开业</p>
						</div>
					</li>
					<li class="history__item type-left">
						<div class="history__box">
							<h5 class="history__tit tit-new2"><span class="history__line">2002年</span></h5>
							<p class="history__txt txt-new1">Ye整形外科扩张</p>
						</div>
					</li>
					<li class="history__item type-right">
						<div class="history__box">
							<h5 class="history__tit tit-new2"><span class="history__line">2007年</span></h5>
							<p class="history__txt txt-new1">正式改名为佰诺佰琪整形外科</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_1.jpg" alt="正式改名为佰诺佰琪整形外科" class="img-normal">
							</div>
						</div>
					</li>
					<li class="history__item type-left">
						<div class="history__box">
							<h5 class="history__tit tit-new2"><span class="history__line">2008年</span></h5>
							<p class="history__txt txt-new1">佰诺佰琪整形外科扩建</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_2.jpg" alt="佰诺佰琪整形外科扩建" class="img-normal">
							</div>
						</div>
					</li>
					<li class="history__item type-right">
						<div class="history__box">
							<h5 class="history__tit tit-new2"><span class="history__line">2009年</span></h5>
							<p class="history__txt txt-new1">设立佰诺佰琪海外事业本部</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_3.jpg" alt="设立佰诺佰琪海外事业本部" class="img-normal">
							</div>
							<p class="history__txt txt-new1">注册吸引外国患者的医疗机关</p>
						</div>
					</li>
				</ul>
			</div>
			<div class="history__area">
				<h4 class="history__head"><span>2010s</span></h4>
				<ul class="history__list">
					<li class="history__item type-right">
						<div class="history__box">
							<h5 class="history__tit tit-new2"><span class="history__line">2011年</span></h5>
							<p class="history__txt txt-new1">爱贝芙官方指定施术医疗机关</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_4.jpg" alt="爱贝芙官方指定施术医疗机关" class="img-normal">
							</div>
						</div>
					</li>
					<li class="history__item type-left">
						<div class="history__box">
							<h5 class="history__tit tit-new2"><span class="history__line">2012年</span></h5>
							<p class="history__txt txt-new1">Let美人2官方指定医疗机关</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_5.jpg" alt="Let美人2官方指定医疗机关" class="img-normal">
							</div>
						</div>
					</li>
					<li class="history__item type-right">
						<div class="history__box">
							<h5 class="history__tit tit-new2"><span class="history__line">2013年</span></h5>
							<p class="history__txt txt-new1">本馆手术室扩张</p>
							<p class="history__txt txt-new1">Let美人3官方指定医疗机关</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_6.jpg" alt="Let美人3官方指定医疗机关" class="img-normal">
							</div>
							<h5 class="history__date txt-new2">2013. 11</h5>
							<p class="history__txt txt-new1">新建国际交流处及别馆</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_7.jpg" alt="新建国际交流处及别馆" class="img-normal">
							</div>
						</div>
					</li>
					<li class="history__item type-left">
						<div class="history__box">
							<h5 class="history__tit tit-new2"><span class="history__line">2014年</span></h5>
							<p class="history__txt txt-new1">成立佰诺佰琪干细胞研究所</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_8.jpg" alt="成立佰诺佰琪干细胞研究所" class="img-normal">
							</div>
							<p class="history__txt txt-new1">Let美人4官方指定医疗机关</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_9.jpg" alt="Let美人4官方指定医疗机关" class="img-normal">
							</div>
							<h5 class="history__date txt-new2">2014. 07</h5>
							<p class="history__txt txt-new1">荣获韩中技术交流和医疗观光产业发展功劳感谢牌奖项</p>
							<h5 class="history__date txt-new2">2014. 11</h5>
							<p class="history__txt txt-new1">荣获江南区医疗观光优秀机关功劳牌奖项</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_10.jpg" alt="荣获江南区医疗观光优秀机关功劳牌奖项" class="img-normal">
							</div>
							<h5 class="history__date txt-new2">2014. 11</h5>
							<p class="history__txt txt-new1">荣获亚洲医学大奖</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_11.jpg" alt="荣获亚洲医学大奖" class="img-normal">
							</div>
							<h5 class="history__date txt-new2">2014. 11</h5>
							<p class="history__txt txt-new1">韩国模特协会官方指定整形外科</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_12.jpg" alt="韩国模特协会官方指定整形外科" class="img-normal">
							</div>
							<h5 class="history__date txt-new2">2014. 12</h5>
							<p class="history__txt txt-new1">荣获绿色环境文化大奖</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_13.jpg" alt="荣获绿色环境文化大奖" class="img-normal">
							</div>
						</div>
					</li>
					<li class="history__item type-right">
						<div class="history__box">
							<h5 class="history__tit tit-new2"><span class="history__line">2015年</span></h5>
							<p class="history__txt txt-new1">Let美人5官方指定医疗机关</p>
							<h5 class="history__date txt-new2">2015. 02</h5>
							<p class="history__txt txt-new1">越南change Life 1官方指定医疗机关</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_14.jpg" alt="越南change Life 1官方指定医疗机关" class="img-normal">
							</div>
							<h5 class="history__date txt-new2">2015. 07</h5>
							<p class="history__txt txt-new1">荣获LBMA STAR韩流医疗品牌大奖</p>
							<h5 class="history__date txt-new2">2015. 09</h5>
							<p class="history__txt txt-new1">荣获大韩民国保健医疗大赏整形部门大奖</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_15.jpg" alt="荣获大韩民国保健医疗大赏整形部门大奖" class="img-normal">
							</div>
							<h5 class="history__date txt-new2">2015. 10</h5>
							<p class="history__txt txt-new1">中国媒体评价选定了中国十大品牌之佰诺佰琪整形外科</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_16.jpg" alt="中国媒体评价选定了中国十大品牌之佰诺佰琪整形外科" class="img-normal">
							</div>
							<h5 class="history__date txt-new2">2015. 11</h5>
							<p class="history__txt txt-new1">评选为江南区吸引外国人患者的优秀机构</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_17.jpg" alt="评选为江南区吸引外国人患者的优秀机构" class="img-normal">
							</div>
						</div>
					</li>
					<li class="history__item type-left">
						<div class="history__box">
							<h5 class="history__tit tit-new2"><span class="history__line">2016年</span></h5>
							<h5 class="history__date txt-new2">2016. 01</h5>
							<p class="history__txt txt-new1">评为引领大韩民国的革新领导机构</p>
							<h5 class="history__date txt-new2">2016. 01</h5>
							<p class="history__txt txt-new1">泰国Let美人1官方指定医疗机关</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_18.jpg" alt="泰国Let美人1官方指定医疗机关" class="img-normal">
							</div>
							<h5 class="history__date txt-new2">2016. 06</h5>
							<p class="history__txt txt-new1">越南Change Life 2 官方指定医疗机关</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_19.jpg" alt="越南Change Life 2 官方指定医疗机关" class="img-normal">
							</div>
							<h5 class="history__date txt-new2">2016. 07</h5>
							<p class="history__txt txt-new1">泰国商谈所开业</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_22.jpg" alt="泰国商谈所开业" class="img-normal">
							</div>
							<h5 class="history__date txt-new2">2016. 09</h5>
							<p class="history__txt txt-new1">评为大韩民国品牌医院认证医疗机关</p>
							<h5 class="history__date txt-new2">2016. 10</h5>
							<p class="history__txt txt-new1">泰国Let美人2官方指定医疗机关</p>
							<h5 class="history__date txt-new2">2016. 10</h5>
							<p class="history__txt txt-new1">选为江南区医疗观光合作机关</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_20.jpg" alt="选为江南区医疗观光合作机关" class="img-normal">
							</div>
							<h5 class="history__date txt-new2">2016. 10</h5>
							<p class="history__txt txt-new1">被选为（柱）Motiva正式指定医疗机关</p>
						</div>
					</li>
					<li class="history__item type-right">
						<div class="history__box">
							<h5 class="history__tit tit-new2"><span class="history__line">2017年</span></h5>
							<h5 class="history__date txt-new2">2017. 02</h5>
							<p class="history__txt txt-new1">荣获“&Award”数字广告健康与医疗部门大奖</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_23.jpg" alt="荣获“&Award”数字广告健康与医疗部门大奖" class="img-normal">
							</div>
							<h5 class="history__date txt-new2">2017. 11</h5>
							<p class="history__txt txt-new1">泰国Let美人3 官方指定医疗机关</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_21.jpg" alt="泰国Let美人3 官方指定医疗机关" class="img-normal">
							</div>
						</div>
					</li>
					<li class="history__item type-right">
						<div class="history__box">
							<h5 class="history__tit tit-new2"><span class="history__line">2018年</span></h5>
							<h5 class="history__date txt-new2">2018. 10</h5>
							<p class="history__txt txt-new1">泰国Let美人4 官方指定医疗机关</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<% include ../_include/_footer %>
