<%
	type = "detail"
	page = "about"
%>
<% include ../_include/_header %>

<div class="about detail-common">
	<section class="fs_section aboutFirst js-first" data-section-name="home">
		<div class="detail__dim"></div>
		<div class="detail__inner">
			<div class="detail__popup type-about">
				<div class="detail__popup-wrap">
					<h5 class="detail__popup-tit">手术室实名制<span class="about__color2">。</span></h5>
					<div class="detail__popup-scroll">
						<p class="detail__popup-subtit">
							佰诺佰琪整形外科的执刀医负责术前咨询到术后治疗的全过程，实现<span class="about__color2">1：1的医疗团队体系</span>，每个手术室前都标写执刀医生及助医（包括麻醉科专家）的名字，采用手术室实名制，实现<strong>实现佰诺佰琪正直的理念</strong>。
						</p>
						<div class="about__popup-img">手术室</div>
					</div>
					<a href="" class="detail__popup-close js-popup-close">关闭</a>
				</div>
			</div>
			<p class="about__top">
				<span class="about__top-bar">创造美丽的地方</span><br>
				<span class="about__top-bar about__top-point">佰诺佰琪整形外科</span>
			</p>

		</div>
		<div class="about__black">
			<div class="detail__inner">
				<div class="about__box">
					<h3 class="about__tit-eng">
						BANOBAGI<br>
						PLASTIC SURGERY
					</h3>
					<p class="about__txt">
						佰诺佰琪诊疗哲学是”<span class="about__color1">人本主义</span>”。<br>
						彻底地排除为了医院的利益而无理地推荐过多的手术或者不必要的手术。<br>
						首先考虑患者的尊严，尊重医学的根本，实现美丽的价值。
					</p>
					<div class="detail__section-set type-about">
						手术室实名制引入
						<span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open type-about">popup</a></span>
					</div>
				</div>
			</div>
		</div>
		<div class="scroll">
			<div class="inner">
				<i></i>
			</div>
			<em>SCROLL</em>
		</div>
	</section>

	<section class="fs_section aboutSection01" data-section-name="aboutSection01">
		<div class="detail__dim"></div>
		<div class="detail__popup type-about type-another">
		  	<div class="detail__popup-wrap">
			  	<h5 class="detail__popup-tit type-another">对患者只进行<span class="about__color3">必要的手术</span><span class="about__color3">。</span></h5>
			  	<div class="detail__popup-scroll">
					<ul class="about__popup-list">
						<li class="about__popup-item nth-1">
							<div class="about__popup-wrap">
								<h6 class="about__popup-tit">
									<span class="about__popup-line">
										<span class="about__popup-bg">室长咨询</span>
									</span>
								</h6>

								<p class="about__popup-txt">
									问卷调查<br class="hidden-tm">诊疗前拍摄<br class="hidden-tm">及档案填写
								</p>
							</div>
						</li>
						<li class="about__popup-item nth-2">
							<div class="about__popup-wrap">
								<h6 class="about__popup-tit">
									<span class="about__popup-line">
										<span class="about__popup-bg">院长诊疗</span>
									</span>
								</h6>
								<p class="about__popup-txt">
									通过各部位<br class="hidden-tm">专家的<span class="about__color3">详细咨询</span><br class="hidden-tm">进行精确的诊断
								</p>
							</div>
						</li>
						<li class="about__popup-item nth-3">
							<div class="about__popup-wrap">
								<h6 class="about__popup-tit">
									<span class="about__popup-line">
										<span class="about__popup-bg">体检体系</span>
									</span>
								</h6>
								<p class="about__popup-txt">
									通过尖端医疗设备，<br class="hidden-tm">体系化的<br class="hidden-tm">体检确定有无疾病<br>
									<span class="about__color3">（*临床病理师常驻）</span>
								</p>
							</div>
						</li>
						<li class="about__popup-item nth-4">
							<div class="about__popup-wrap">
								<h6 class="about__popup-tit">
									<span class="about__popup-line">
										<span class="about__popup-bg">手术</span>
									</span>
								</h6>
								<p class="about__popup-txt">
									<span class="about__color3">（RAPID HEALING）</span><br>
									最大化地减少<br class="hidden-tm">术后浮肿，淤青等，<br class="hidden-tm">提供满意度高的医疗服务
								</p>
							</div>
						</li>
						<li class="about__popup-item nth-5">
							<div class="about__popup-wrap">
								<h6 class="about__popup-tit">
									<span class="about__popup-line">
										<span class="about__popup-bg">术后管理</span>
									</span>
								</h6>
								<div class="about__popup-txt">
									为术后快速恢复<br class="hidden-tm">的多样化管理体系<br>
									<ul class="about__review-list">
										<li class="about__review-item">- 疤痕管理</li>
										<li class="about__review-item">- 痛症管理</li>
										<li class="about__review-item">- 循环管理</li>
										<li class="about__review-item">- 浮肿管理</li>
									</ul>
								</div>
							</div>
						</li>
			  		</ul>
			  	</div>
			  	<a href="" class="detail__popup-close js-popup-close">关闭</a>
		  	</div>
	   	</div>
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="about__circle">
					<div class="about__circle-wrap">
						<h4 class="about__circle-tit">
							Slow<br>
							<span class="about__color0">Banobagi</span><span class="about__comma">。</span>
						</h4>
						<p class="about__circle-subtit">佰诺佰琪的美丽是很慎重的。</p>
						<p class="about__circle-txt">
							佰诺佰琪的时间是缓慢的<br>
							从仔细的术前检查，分阶段的咨询，到术后治疗及术后管理是花费时间的，因此是更安全的整形。这正是佰诺佰琪追求的美。<br>
							<a href="#" class="about__circle-link js-popup-open"><span>佰诺佰琪体系</span></a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="fs_section aboutSection02" data-section-name="aboutSection02">
		<div class="detail__dim"></div>
		<div class="detail__popup type-about type-another2">
		  	<div class="detail__popup-wrap">
			  	<h5 class="detail__popup-tit">若是关于<span class="about__color6">安全</span>的问题，可以放心<span class="about__color6">。</span></h5>
			  	<div class="detail__popup-scroll">
					<div class="about__popup2-box">
						<ul class="about__popup2-list">
							<li class="about__popup2-item nth-1">
								<div class="about__popup2-wrap">
									<h6 class="about__popup2-tit">
										为了应对应急情况<br>
										EMERGENCY SYSTEM
									</h6>
									<p class="about__popup2-txt">
										为了应对可能会产生的紧急情况，
										具备实行心脏复苏术时必要的
										高价心脏除颤器。
									</p>
								</div>
							</li>
							<li class="about__popup2-item nth-2">
								<div class="about__popup2-wrap">
									<h6 class="about__popup2-tit">
										为了手术中安全地供给电力<br>
										而设有2种安全装备
									</h6>
									<p class="about__popup2-txt">
										具备大学附属医院都使用的大容量发电机及UPS
										双重应急电力供给体系。
									</p>
								</div>
							</li>
							<li class="about__popup2-item nth-3">
								<div class="about__popup2-wrap">
									<h6 class="about__popup2-tit">
										手术中，后精密的PATIENT<br>
										MONITORING体系
									</h6>
									<p class="about__popup2-txt">
										观察患者的体系是对心脏的节律性，血中氧气
										及二氧化碳的饱和度，血压，体温等患者生命相关的
										全身状态进行持续的检查。
									</p>
								</div>
							</li>
						</ul>
			  		</div>
			  	</div>
			  	<a href="" class="detail__popup-close js-popup-close">关闭</a>
		  	</div>
	    </div>
		<div class="detail__inner">

			<div class="detail__vertical">
				<div class="about__circle type-another">
					<div class="about__circle-wrap">
						<h4 class="about__circle-tit">
							<span class="about__color4">Safe</span> <span class="about__color5">Beauty</span>
							Banobagi<span class="about__color5 about__comma">.</span>
						</h4>
						<p class="about__circle-subtit">佰诺佰琪的美丽是安全的。</p>
						<p class="about__circle-txt">
							安全是所有手术中最重要的价值。
							佰诺佰琪整形外科为了安全的手术，不节省设备的投资，
							经常更新高端的手术体系及应对紧急情况的
							应急电力发电系统等。此外，
							<span class="about__color4">有4位麻醉科专家</span>常驻，监督所有手术安全进行。<br>
							<a href="#" class="about__circle-link js-popup-open"><span>安全系统</span></a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="fs_section aboutSection03" data-section-name="aboutSection03">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="about__circle type-another2">
					<div class="about__circle-wrap">
						<h4 class="about__circle-tit">
							<span class="about__color7">Study</span> <span class="about__color8">Beauty</span><br>
							Banobagi<span class="about__color8 about__comma">.</span><br class="hidden-pt"><span class="about__circle-subtit">佰诺佰琪的美丽是研究出来的。</span>
						</h4>
					</div>
					<div class="slide-type1">
						<ul class="slide-type1__list">
							<li class="slide-type1__item">
								<img src="../../images/about/about-slide1.jpg" alt="佰诺佰琪介绍" class="slide-type1__img">
							</li>
							<li class="slide-type1__item">
								<img src="../../images/about/about-slide2.jpg" alt="佰诺佰琪介绍" class="slide-type1__img">
							</li>
							<li class="slide-type1__item">
								<img src="../../images/about/about-slide3.jpg" alt="佰诺佰琪介绍" class="slide-type1__img">
							</li>
							<li class="slide-type1__item">
								<img src="../../images/about/about-slide4.jpg" alt="佰诺佰琪介绍" class="slide-type1__img">
							</li>
							<li class="slide-type1__item">
								<img src="../../images/about/about-slide5.jpg" alt="佰诺佰琪介绍" class="slide-type1__img">
							</li>
							<li class="slide-type1__item">
								<img src="../../images/about/about-slide6.jpg" alt="佰诺佰琪介绍" class="slide-type1__img">
							</li>
							<li class="slide-type1__item">
								<img src="../../images/about/about-slide7.jpg" alt="佰诺佰琪介绍" class="slide-type1__img">
							</li>
							<!-- <li class="slide-type1__item"></li>
							<li class="slide-type1__item"></li> -->
						</ul>
						<a href="#" class="slide-type1__btn slide-type1__btn-prev"></a>
						<a href="#" class="slide-type1__btn slide-type1__btn-next"></a>
						<div class="slide-type1__pager"></div>
					</div>
					<p class="about__slide-txt">
						不断学习技术。由<span class="about__color9">首尔大出身的整形外科专家</span>组成的佰诺佰琪医疗团队是根据严格的标准选拔出来的，只有通过体系化的培训才能面诊患者。此外，<span class="about__color9">进行分案例、分手术领域的定期会议及全体职员培训项目</span>，比顾客更早的研究美丽，引领技术。
					</p>
				</div>
			</div>
		</div>
		<p class="about__bottom">
			<span class="about__bottom__wrap">首尔大出身的整形外科专家</span>
		</p>
	</section>

	<section class="fs_section aboutSection04" data-section-name="aboutSection04">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="about__circle type-another3">
					<div class="about__circle-wrap">
						<h4 class="about__circle-tit">
							<span class="about__color10">妈妈给女儿</span><br>
							推荐的整形外科<span class="about__color10 about__comma">.</span>
						</h4>
						<p class="about__circle-subtit">美丽是佰诺佰琪</p>
						<p class="about__circle-txt">
							18年前在佰诺佰琪手术了的患者现在和成年了的女儿一起来医院。 像家人一样值得信任，像家人一样为患者着想的医疗机构，这就是佰诺佰琪作为大韩民国代表整形外科成为的原动力。妈妈推荐给女儿，朋友推荐给朋友，无论是谁都信任的医疗机构，就是佰诺佰琪整形外科。
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

<% include ../_include/_footer %>
