<%
	type = "introduce"
	page = "medical"
%>
<% include ../_include/_header %>
<div class="container">
	<div class="container__top">
		<h3 class="container__tit type-medical">医疗团队介绍</h3>
		<p class="container__txt">让患者们感受到爱的整形外科, 想要推荐的整形外科</p>
	</div>
	<% include ../_include/_lnb %>
	<div class="container__wrap type-another">
		<div class="category-tab type-medical">
            <ul class="category-tab__list">
                <li class="category-tab__item is-active">
                    <a href="" class="category-tab__link">整形外科专家</a>
                </li>
                <li class="category-tab__item">
                    <a href="" class="category-tab__link">常驻麻醉专家</a>
                </li>
                <li class="category-tab__item">
                    <a href="" class="category-tab__link">家庭医学专家</a>
                </li>
                <li class="category-tab__item">
                    <a href="" class="category-tab__link">一般外科专家</a>
                </li>
            </ul>
        </div>
		<div class="medical">
			<div class="medical__wrap">
				<ul class="medical__list">
					<li class="medical__item">
						<div class="medical__area">
							<div class="medical__box">
								<div class="medical__img">
									<img src="../../images/introduce/medical/medical_thum1.jpg" alt="반재용" class="img-responsive">
								</div>
								<div class="medical__bg">
									<div class="medical__group">
										<p class="medical__txt1">피부과 전문의</p>
										<p class="medical__txt2">한양대학교 병원</p>
									</div>
								</div>
							</div>
							<h4 class="medical__name">DR.반재용</h4>
							<a href="" class="medical__link" id="doctor01">상세보기</a>
						</div>
					</li>
					<li class="medical__item">
						<div class="medical__area">
							<div class="medical__box">
								<div class="medical__img">
									<img src="../../images/introduce/medical/medical_thum1.jpg" alt="반재용" class="img-responsive">
								</div>
								<div class="medical__bg">
									<div class="medical__group">
										<p class="medical__txt1">피부과 전문의</p>
										<p class="medical__txt2">한양대학교 병원</p>
									</div>
								</div>
							</div>
							<h4 class="medical__name">DR.반재용</h4>
							<a href="" class="medical__link" id="doctor02">상세보기</a>
						</div>
					</li>
					<li class="medical__item">
						<div class="medical__area">
							<div class="medical__box">
								<div class="medical__img">
									<img src="../../images/introduce/medical/medical_thum1.jpg" alt="반재용" class="img-responsive">
								</div>
								<div class="medical__bg">
									<div class="medical__group">
										<p class="medical__txt1">피부과 전문의</p>
										<p class="medical__txt2">한양대학교 병원</p>
									</div>
								</div>
							</div>
							<h4 class="medical__name">DR.반재용</h4>
							<a href="" class="medical__link" id="doctor03">상세보기</a>
						</div>
					</li>
					<li class="medical__item">
						<div class="medical__area">
							<div class="medical__box">
								<div class="medical__img">
									<img src="../../images/introduce/medical/medical_thum1.jpg" alt="반재용" class="img-responsive">
								</div>
								<div class="medical__bg">
									<div class="medical__group">
										<p class="medical__txt1">피부과 전문의</p>
										<p class="medical__txt2">한양대학교 병원</p>
									</div>
								</div>
							</div>
							<h4 class="medical__name">DR.반재용</h4>
							<a href="" class="medical__link" id="doctor04">상세보기</a>
						</div>
					</li>
					<li class="medical__item">
						<div class="medical__area">
							<div class="medical__box">
								<div class="medical__img">
									<img src="../../images/introduce/medical/medical_thum1.jpg" alt="반재용" class="img-responsive">
								</div>
								<div class="medical__bg">
									<div class="medical__group">
										<p class="medical__txt1">피부과 전문의</p>
										<p class="medical__txt2">한양대학교 병원</p>
									</div>
								</div>
							</div>
							<h4 class="medical__name">DR.반재용</h4>
							<a href="" class="medical__link" id="doctor01">상세보기</a>
						</div>
					</li>
					<li class="medical__item">
						<div class="medical__area">
							<div class="medical__box">
								<div class="medical__img">
									<img src="../../images/introduce/medical/medical_thum1.jpg" alt="반재용" class="img-responsive">
								</div>
								<div class="medical__bg">
									<div class="medical__group">
										<p class="medical__txt1">피부과 전문의</p>
										<p class="medical__txt2">한양대학교 병원</p>
									</div>
								</div>
							</div>
							<h4 class="medical__name">DR.반재용</h4>
							<a href="" class="medical__link" id="doctor02">상세보기</a>
						</div>
					</li>
					<li class="medical__item">
						<div class="medical__area">
							<div class="medical__box">
								<div class="medical__img">
									<img src="../../images/introduce/medical/medical_thum1.jpg" alt="반재용" class="img-responsive">
								</div>
								<div class="medical__bg">
									<div class="medical__group">
										<p class="medical__txt1">피부과 전문의</p>
										<p class="medical__txt2">한양대학교 병원</p>
									</div>
								</div>
							</div>
							<h4 class="medical__name">DR.반재용</h4>
							<a href="" class="medical__link" id="doctor03">상세보기</a>
						</div>
					</li>
					<li class="medical__item">
						<div class="medical__area">
							<div class="medical__box">
								<div class="medical__img">
									<img src="../../images/introduce/medical/medical_thum1.jpg" alt="반재용" class="img-responsive">
								</div>
								<div class="medical__bg">
									<div class="medical__group">
										<p class="medical__txt1">피부과 전문의</p>
										<p class="medical__txt2">한양대학교 병원</p>
									</div>
								</div>
							</div>
							<h4 class="medical__name">DR.반재용</h4>
							<a href="" class="medical__link" id="doctor04">상세보기</a>
						</div>
					</li>
				</ul>
			</div>
			<div class="medical-view">
				<ul class="medical-view__list">
					<li class="medical-view__item" id="doctor01_view">
						<div class="medical-view__box type-img">
							<div class="medical-view__img" style="background-image:url('../../images/introduce/medical/medical1.jpg');">
							</div>
						</div>
						<div class="medical-view__box type-txt">
							<div class="medical-view__outer">
								<div class="medical-view__inner">
									<div class="medical-view__wrap">
										<ul class="tab-v4">
											<li class="tab-v4__item is-active" data-tab="profile">
												<a href="" class="tab-v4__link js-tab-link2">简历</a>
											</li>
											<li class="tab-v4__item" data-tab="thesis">
												<a href="" class="tab-v4__link js-tab-link2">论文 &middot; 著作</a>
											</li>
										</ul>
										<div class="tab-v4__content js-scroll profile  is-active">
											<h4 class="medical-view__tit">반재용1<span class="medical-view__career">피부과 전문의</span></h4>
											<p class="medical-view__txt">
												바노바기피부과 진료 대표원장<br>
												피부과전문의 (2001)<br>
												한양대학교 의과대학 졸업<br>
												한양대병원 피부과 외래교수<br>
												대한 피부과 학회 정회원<br>
												대한 피부과 의사회 의무 이사<br>
												대한 피부과 의사회 제8, 9기 학술위원<br>
												(前) 서부 사하라지역 UN 피부과 군의관 근무<br>
												(前) 코스모피부과 대표원장<br>
												닥터자르트 자문위원<br>
												Best stem cell 연구회 부회장<br>
												저서 - 낭만적인 한 수를 꿈꾼다.

												대한 피부과 의사회 제8, 9기 학술위원<br>
												(前) 서부 사하라지역 UN 피부과 군의관 근무<br>
												(前) 코스모피부과 대표원장<br>
												닥터자르트 자문위원<br>
												Best stem cell 연구회 부회장<br>
												저서 - 낭만적인 한 수를 꿈꾼다.
											</p>
										</div>
										<div class="tab-v4__content js-scroll thesis">
											<dl class="medical-view__dl">
												<dt class="medical-view__dt">/ 01</dt>
												<dd class="medical-view__dd">
													Barn JS, Lee YH, Bang SI. Multiple expanded flaps for
													coverage of lateral forehead and lateral orbital defect. J
													Korean Soc Plast Reconstr Surg. 1997. 24:1185-1193
												</dd>
												<dt class="medical-view__dt">/ 02</dt>
												<dd class="medical-view__dd">
													Barn JS, Lee YH, Bang SI. Multiple expanded flaps for
													coverage of lateral forehead and lateral orbital defect. J
													Korean Soc Plast Reconstr Surg. 1997. 24:1185-1193
												</dd>
												<dt class="medical-view__dt">/ 01</dt>
												<dd class="medical-view__dd">
													Barn JS, Lee YH, Bang SI. Multiple expanded flaps for
													coverage of lateral forehead and lateral orbital defect. J
													Korean Soc Plast Reconstr Surg. 1997. 24:1185-1193
												</dd>
												<dt class="medical-view__dt">/ 02</dt>
												<dd class="medical-view__dd">
													Barn JS, Lee YH, Bang SI. Multiple expanded flaps for
													coverage of lateral forehead and lateral orbital defect. J
													Korean Soc Plast Reconstr Surg. 1997. 24:1185-1193
												</dd>
												<dt class="medical-view__dt">/ 01</dt>
												<dd class="medical-view__dd">
													Barn JS, Lee YH, Bang SI. Multiple expanded flaps for
													coverage of lateral forehead and lateral orbital defect. J
													Korean Soc Plast Reconstr Surg. 1997. 24:1185-1193
												</dd>
												<dt class="medical-view__dt">/ 02</dt>
												<dd class="medical-view__dd">
													Barn JS, Lee YH, Bang SI. Multiple expanded flaps for
													coverage of lateral forehead and lateral orbital defect. J
													Korean Soc Plast Reconstr Surg. 1997. 24:1185-1193
												</dd>
												<dt class="medical-view__dt">/ 01</dt>
												<dd class="medical-view__dd">
													Barn JS, Lee YH, Bang SI. Multiple expanded flaps for
													coverage of lateral forehead and lateral orbital defect. J
													Korean Soc Plast Reconstr Surg. 1997. 24:1185-1193
												</dd>
												<dt class="medical-view__dt">/ 02</dt>
												<dd class="medical-view__dd">
													Barn JS, Lee YH, Bang SI. Multiple expanded flaps for
													coverage of lateral forehead and lateral orbital defect. J
													Korean Soc Plast Reconstr Surg. 1997. 24:1185-1193
												</dd>
												<dt class="medical-view__dt">/ 01</dt>
												<dd class="medical-view__dd">
													Barn JS, Lee YH, Bang SI. Multiple expanded flaps for
													coverage of lateral forehead and lateral orbital defect. J
													Korean Soc Plast Reconstr Surg. 1997. 24:1185-1193
												</dd>
												<dt class="medical-view__dt">/ 02</dt>
												<dd class="medical-view__dd">
													Barn JS, Lee YH, Bang SI. Multiple expanded flaps for
													coverage of lateral forehead and lateral orbital defect. J
													Korean Soc Plast Reconstr Surg. 1997. 24:1185-1193
												</dd>
												<dt class="medical-view__dt">/ 01</dt>
												<dd class="medical-view__dd">
													Barn JS, Lee YH, Bang SI. Multiple expanded flaps for
													coverage of lateral forehead and lateral orbital defect. J
													Korean Soc Plast Reconstr Surg. 1997. 24:1185-1193
												</dd>
												<dt class="medical-view__dt">/ 02</dt>
												<dd class="medical-view__dd">
													Barn JS, Lee YH, Bang SI. Multiple expanded flaps for
													coverage of lateral forehead and lateral orbital defect. J
													Korean Soc Plast Reconstr Surg. 1997. 24:1185-1193
												</dd>
												<dt class="medical-view__dt">/ 01</dt>
												<dd class="medical-view__dd">
													Barn JS, Lee YH, Bang SI. Multiple expanded flaps for
													coverage of lateral forehead and lateral orbital defect. J
													Korean Soc Plast Reconstr Surg. 1997. 24:1185-1193
												</dd>
												<dt class="medical-view__dt">/ 02</dt>
												<dd class="medical-view__dd">
													Barn JS, Lee YH, Bang SI. Multiple expanded flaps for
													coverage of lateral forehead and lateral orbital defect. J
													Korean Soc Plast Reconstr Surg. 1997. 24:1185-1193
												</dd>
											</dl>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
					<!--//medical-view__item-->
					<li class="medical-view__item" id="doctor02_view">
						<div class="medical-view__box type-img">
							<div class="medical-view__img" style="background-image:url('../../images/introduce/medical/medical1.jpg');">
							</div>
						</div>
						<div class="medical-view__box type-txt">
							<div class="medical-view__outer">
								<div class="medical-view__inner">
									<div class="medical-view__wrap">
										<ul class="tab-v4">
											<li class="tab-v4__item is-active" data-tab="profile">
												<a href="" class="tab-v4__link js-tab-link2">简历</a>
											</li>
											<li class="tab-v4__item" data-tab="thesis">
												<a href="" class="tab-v4__link js-tab-link2">论文 &middot; 著作</a>
											</li>
										</ul>
										<div class="tab-v4__content js-scroll profile  is-active">
											<h4 class="medical-view__tit">반재용2<span class="medical-view__career">피부과 전문의</span></h4>
											<p class="medical-view__txt">
												바노바기피부과 진료 대표원장<br>
												피부과전문의 (2001)<br>
												한양대학교 의과대학 졸업<br>
												한양대병원 피부과 외래교수<br>
												대한 피부과 학회 정회원<br>
												대한 피부과 의사회 의무 이사<br>
												대한 피부과 의사회 제8, 9기 학술위원<br>
												(前) 서부 사하라지역 UN 피부과 군의관 근무<br>
												(前) 코스모피부과 대표원장<br>
												닥터자르트 자문위원<br>
												Best stem cell 연구회 부회장<br>
												저서 - 낭만적인 한 수를 꿈꾼다.
											</p>
										</div>
										<div class="tab-v4__content js-scroll thesis">
											<dl class="medical-view__dl">
												<dt class="medical-view__dt">/ 01</dt>
												<dd class="medical-view__dd">
													Barn JS, Lee YH, Bang SI. Multiple expanded flaps for
													coverage of lateral forehead and lateral orbital defect. J
													Korean Soc Plast Reconstr Surg. 1997. 24:1185-1193
												</dd>
												<dt class="medical-view__dt">/ 02</dt>
												<dd class="medical-view__dd">
													Barn JS, Lee YH, Bang SI. Multiple expanded flaps for
													coverage of lateral forehead and lateral orbital defect. J
													Korean Soc Plast Reconstr Surg. 1997. 24:1185-1193
												</dd>
											</dl>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
					<!--//medical-view__item-->
					<li class="medical-view__item" id="doctor03_view">
						<div class="medical-view__box type-img">
							<div class="medical-view__img" style="background-image:url('../../images/introduce/medical/medical1.jpg');">
							</div>
						</div>
						<div class="medical-view__box type-txt">
							<div class="medical-view__outer">
								<div class="medical-view__inner">
									<div class="medical-view__wrap">
										<ul class="tab-v4">
											<li class="tab-v4__item is-active" data-tab="profile">
												<a href="" class="tab-v4__link js-tab-link2">简历</a>
											</li>
											<li class="tab-v4__item" data-tab="thesis">
												<a href="" class="tab-v4__link js-tab-link2">论文 &middot; 著作</a>
											</li>
										</ul>
										<div class="tab-v4__content js-scroll profile  is-active">
											<h4 class="medical-view__tit">반재용3<span class="medical-view__career">피부과 전문의</span></h4>
											<p class="medical-view__txt">
												바노바기피부과 진료 대표원장<br>
												피부과전문의 (2001)<br>
												한양대학교 의과대학 졸업<br>
												한양대병원 피부과 외래교수<br>
												대한 피부과 학회 정회원<br>
												대한 피부과 의사회 의무 이사<br>
												대한 피부과 의사회 제8, 9기 학술위원<br>
												(前) 서부 사하라지역 UN 피부과 군의관 근무<br>
												(前) 코스모피부과 대표원장<br>
												닥터자르트 자문위원<br>
												Best stem cell 연구회 부회장<br>
												저서 - 낭만적인 한 수를 꿈꾼다.
											</p>
										</div>
										<div class="tab-v4__content js-scroll thesis">
											<dl class="medical-view__dl">
												<dt class="medical-view__dt">/ 01</dt>
												<dd class="medical-view__dd">
													Barn JS, Lee YH, Bang SI. Multiple expanded flaps for
													coverage of lateral forehead and lateral orbital defect. J
													Korean Soc Plast Reconstr Surg. 1997. 24:1185-1193
												</dd>
												<dt class="medical-view__dt">/ 02</dt>
												<dd class="medical-view__dd">
													Barn JS, Lee YH, Bang SI. Multiple expanded flaps for
													coverage of lateral forehead and lateral orbital defect. J
													Korean Soc Plast Reconstr Surg. 1997. 24:1185-1193
												</dd>
											</dl>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
					<!--//medical-view__item-->
					<li class="medical-view__item" id="doctor04_view">
						<div class="medical-view__box type-img">
							<div class="medical-view__img" style="background-image:url('../../images/introduce/medical/medical1.jpg');">
							</div>
						</div>
						<div class="medical-view__box type-txt">
							<div class="medical-view__outer">
								<div class="medical-view__inner">
									<div class="medical-view__wrap">
										<ul class="tab-v4">
											<li class="tab-v4__item is-active" data-tab="profile">
												<a href="" class="tab-v4__link js-tab-link2">简历</a>
											</li>
											<li class="tab-v4__item" data-tab="thesis">
												<a href="" class="tab-v4__link js-tab-link2">论文 &middot; 著作</a>
											</li>
										</ul>
										<div class="tab-v4__content js-scroll profile  is-active">
											<h4 class="medical-view__tit">반재용4<span class="medical-view__career">피부과 전문의</span></h4>
											<p class="medical-view__txt">
												바노바기피부과 진료 대표원장<br>
												피부과전문의 (2001)<br>
												한양대학교 의과대학 졸업<br>
												한양대병원 피부과 외래교수<br>
												대한 피부과 학회 정회원<br>
												대한 피부과 의사회 의무 이사<br>
												대한 피부과 의사회 제8, 9기 학술위원<br>
												(前) 서부 사하라지역 UN 피부과 군의관 근무<br>
												(前) 코스모피부과 대표원장<br>
												닥터자르트 자문위원<br>
												Best stem cell 연구회 부회장<br>
												저서 - 낭만적인 한 수를 꿈꾼다.
											</p>
										</div>
										<div class="tab-v4__content js-scroll thesis">
											<dl class="medical-view__dl">
												<dt class="medical-view__dt">/ 01</dt>
												<dd class="medical-view__dd">
													Barn JS, Lee YH, Bang SI. Multiple expanded flaps for
													coverage of lateral forehead and lateral orbital defect. J
													Korean Soc Plast Reconstr Surg. 1997. 24:1185-1193
												</dd>
												<dt class="medical-view__dt">/ 02</dt>
												<dd class="medical-view__dd">
													Barn JS, Lee YH, Bang SI. Multiple expanded flaps for
													coverage of lateral forehead and lateral orbital defect. J
													Korean Soc Plast Reconstr Surg. 1997. 24:1185-1193
												</dd>
											</dl>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
					<!--//medical-view__item-->
				</ul><!-- //medical-view__list-->
				<ul class="medical-nav">
					<li class="medical-nav__item type-prev js-doctor-prev">
						<a href="" class="medical-nav__link"><i class="fa fa-angle-up"></i></a>
					</li>
					<li class="medical-nav__item type-next js-doctor-next">
						<a href="" class="medical-nav__link"><i class="fa fa-angle-down"></i></a>
					</li>
				</ul>
				<a href="" class="medical-view__close">닫기</a>
			</div><!-- //medical-view-->
		</div>
	</div>
</div>
<% include ../_include/_footer %>
