<%
	type = "content"
	page = "introduce"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
	<!-- content-->
    <div class="content" data-page="introduce-rapid">
		<div class="new-visual type-rapid">
			<div class="new-visual__box">
				<div class="new-visual__outer">
					<div class="new-visual__inner">
						<p class="new-visual__subtit">手术后为了能更快的恢复</p>
						<h3 class="new-visual__tit"><span class="color-point">快速痊愈</span><br class="hidden-tm">个人护理</h3>
						<p class="new-visual__txt">通过术后镇定肌肤,集中恢复肌肤问题,缓解浮肿和淤青的<br><span class="inline-block">药物处方有助于帮助快速恢复。</span></p>
						<ul class="new-visual__list">
							<li class="new-visual__item"><span>#水飞蓟修复再生系列</span></li>
							<li class="new-visual__item"><span>#药物处方</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- //new-visual-->
        <div class="new-content-wrap">
			<div class="new-section">
				<div class="section-normal type-rapid">
					<div class="section-normal__wrap">
						<p class="section-normal__eng txt-new1">RAPID HEALING : SELF CARE PROGRAM 01</p>
					 	<h4 class="section-normal__tit tit-new1">水飞蓟修复再生系列</h4>
					 	<p class="section-normal__txt2 txt-new2">
					 		只采用对肌肤安全的成分制作而成,通过对皮肤的敏感测试<br class="hidden-m"><sapn class="color-point">仅添加皮肤恢复时所需要的成分</sapn>
					 	</p>
					 	<p class="section-normal__txt1 txt-new1">
					 		针对因手术或施术后因皮肤变得敏感而烦恼的患者们,佰诺佰琪认为应该要制作出更加温和,更加有效果的集中恢复化妆品。<span class="color-black1">水飞蓟修复再生系列是由佰诺佰琪医疗团队直接研发而成的产品</span>
					 	</p>
					 	<ul class="section-normal__list">
					 		<li class="section-normal__item"><div class="vertical-box">镇定</div></li>
					 		<li class="section-normal__item"><div class="vertical-box">恢复</div></li>
					 		<li class="section-normal__item"><div class="vertical-box">保湿</div></li>
					 		<li class="section-normal__item"><div class="vertical-box">营养</div></li>
					 	</ul>
					</div>
					 <div class="section-normal__img">
					 	<img src="../../images/introduce/rapid/rapid_img_1.png" class="img-normal" alt="">
					</div>
				</div>
			</div><!-- //new-section-->
			<div class="new-section">
				<div class="new-description">
					<h5 class="tit-new2">水飞蓟修复再生系列使用方法</h5>
					<div class="new-description__img">
						<img src="../../images/introduce/rapid/rapid_description_1.jpg" class="img-normal" alt="水飞蓟修复再生系列">
					</div>
					<ul class="new-description__list">
						<li class="new-description__item">
							<p class="new-description__txt txt-new1">
								<span class="new-description__plus">+</span>手术后,可以开始洗脸的时候搭配再生系列进行使用
							</p>
						</li>
						<li class="new-description__item">
							<p class="new-description__txt txt-new1">
								<span class="new-description__plus">+</span>
								洁面后用舒缓修复爽肤水浸湿化妆棉,擦掉油脂与微尘等,擦拭皮肤进行整理．
								（依据手术部位洗脸困难的情形,无需特别洗脸的状态下,只需使用修复爽肤水进行擦拭即可）
							</p>
						</li>
						<li class="new-description__item">
							<p class="new-description__txt txt-new1">
								<span class="new-description__plus">+</span>
								高浓缩恢复精华液先进行吸收后,再涂抹修复面霜,丰富的再生成分,给皮肤提供充分的水分和营养
							</p>
						</li>
						<li class="new-description__item">
							<p class="new-description__txt txt-new1">
								<span class="new-description__plus">+</span>
								需要集中恢复或镇定肌肤时,将修复面膜（冷藏后）贴服于面部10~20分钟
							</p>
						</li>
						<li class="new-description__item">
							<p class="new-description__txt txt-new1">
								<span class="new-description__plus">+</span>手术后皮肤可能变得敏感或可能产生炎症,使用尽量减少刺激的再生精华液和再生面霜有助于集中修复肌肤。
							</p>
						</li>
					</ul>
				</div>
			</div><!--//new-section-->
			<div class="new-section">
				<div class="new-explan type-rapid">
					<h4 class="new-content-tit tit-new2">佰诺佰琪水飞蓟修复再生系列主要成分</h4>
					<ul class="new-explan__list">
						<li class="new-explan__item">
							<div class="new-explan__img">
								<img src="../../images/introduce/rapid/rapid_explan_1.jpg" alt="" class="img-w100">
							</div>
							<div class="new-explan__wrap">
								<h5 class="new-explan__subject txt-new2">水飞蓟提取物（水飞蓟提取物）</h5>
								<p class="new-explan__txt txt-new1">
									帮助排出皮肤毒素及有害活性氧的抗氧化效果,帮助皮肤镇定的同时美白效果也十分突出,打造细滑润泽肌肤。
								</p>
							</div>
						</li>
						<li class="new-explan__item">
							<div class="new-explan__img">
								<img src="../../images/introduce/rapid/rapid_explan_2.jpg" alt="" class="img-w100">
							</div>
							<div class="new-explan__wrap">
								<h5 class="new-explan__subject txt-new2">积雪草提取物 / 羟基积雪草苷</h5>
								<p class="new-explan__txt txt-new1">
									帮助因外部受到刺激而损伤的皮肤得到恢复
								</p>
							</div>
						</li>
						<li class="new-explan__item">
							<div class="new-explan__img">
								<img src="../../images/introduce/rapid/rapid_explan_3.jpg" alt="" class="img-w100">
							</div>
							<div class="new-explan__wrap">
								<h5 class="new-explan__subject txt-new2">牛蒡根提取物</h5>
								<p class="new-explan__txt txt-new1">
									拥有抗炎作用的牛蒡根提取物,能帮助缓解痘痘和问题肌肤的炎症,打造出健康的肌肤
								</p>
							</div>
						</li>
						<li class="new-explan__item">
							<div class="new-explan__img">
								<img src="../../images/introduce/rapid/rapid_explan_4.jpg" alt="" class="img-w100">
							</div>
							<div class="new-explan__wrap">
								<h5 class="new-explan__subject txt-new2">铜三肽-1</h5>
								<p class="new-explan__txt txt-new1">
									有效强化敏感肌肤屏障,具有强力抗氧化的效果,打造出紧致又健康的肌肤
								</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="new-section type-cling">
				<div class="new-stripe">
					<ul class="new-stripe__list">
						<li class="new-stripe__item">
							<div class="new-stripe__wrap">
								<div class="new-stripe__img">
									<img src="../../images/introduce/rapid/rapid_icon_1.png" alt="全部成分达到EWG（美国环境组织）绿色等级,安心配方" class="img-w100">
								</div>
								<h5 class="new-stripe__subject txt-new2">全部成分达到EWG（美国环境组织）绿色等级,安心配方</h5>
								<p class="new-stripe__txt txt-new1">全部成分达到EWG（美国环境组织）绿色等级标准,采用对皮肤安全的成分,是可以放心使用的爽肤水</p>
							</div>
						</li>
						<li class="new-stripe__item">
							<div class="new-stripe__wrap">
								<div class="new-stripe__img">
									<img src="../../images/introduce/rapid/rapid_icon_2.png" alt="完成皮肤敏感测试" class="img-w100">
								</div>
								<h5 class="new-stripe__subject txt-new2">完成皮肤敏感测试</h5>
								<p class="new-stripe__txt txt-new1">皮肤敏感测试结果为无刺激性的产品,对皮肤温和无刺激可安心地使用</p>
							</div>
						</li>
						<li class="new-stripe__item">
							<div class="new-stripe__wrap">
								<div class="new-stripe__img">
									<img src="../../images/introduce/rapid/rapid_icon_3.png" alt="无添加11种化学成分" class="img-w100">
								</div>
								<h5 class="new-stripe__subject txt-new2">无添加11种化学成分</h5>
								<p class="new-stripe__txt txt-new1">无添加6种防腐剂,苯酮,乙醇胺,苯丙醇,山梨酸,苯甲酸和人工色素,香料及酒精成分,敏感性肌肤也可以放心使用</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="new-section type-cling">
				<div class="section-normal type-rapid2">
					<div class="section-normal__wrap">
						<p class="section-normal__eng txt-new1">RAPID HEALING : SELF CARE PROGRAM 02</p>
					 	<h4 class="section-normal__tit tit-new1">缓解浮肿和淤青的药物处方</h4>
					 	<p class="section-normal__txt2 txt-new2">
					 		Sinecch胶囊是整形手术时帮助<sapn class="color-point4">缓解浮肿和淤青</sapn>的外服药
					 	</p>
					 	<p class="section-normal__txt1 txt-new1">
					 		得到美国FDA和韩国食品医药安全所认证,使用天然提取物成分,几乎没有副作用。<br class="hidden-tm">佰诺佰琪医护人员会说明药物服用法,尽可放心舒适的进行术后恢复。
					 	</p>
					</div>
					 <div class="section-normal__img">
					 	<img src="../../images/introduce/rapid/rapid_img_2.png" class="img-normal" alt="Sinecch胶囊是整形手术时帮助缓解浮肿和淤青的外服药">
					</div>
				</div>
			</div>
        </div><!-- //new-content-wrap-->
    </div><!-- //content-->
	<% include ../_include/_bfaf %>

</div> <!-- //container -->

<% include ../_include/_footer %>
