.new-visual{
	$this:&;
	&.type-face{
		&:before{
			@include background('../images/reoperation/face/face_visual_1.jpg','no-repeat center center/cover');
		}
		#{$this}__item{background:$reoperation1;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-face{
			&:before{
				@include background('../images/reoperation/face/face_visual_1_t.jpg','no-repeat center center/cover');
			}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-face{
			&:before{
				@include background('../images/reoperation/face/face_visual_1_m.jpg','no-repeat center center/cover');
			}
		}
	}
}

.section-normal{
	$this:&;
	&.type-face2{
		@include background('../images/reoperation/face/face_bg_1.jpg','no-repeat center bottom/cover');
		#{$this}__tit{color:#fff;}
		#{$this}__txt2{color:#aaa;}
	}
	@media only screen and (max-width: $mobile-size) {

	}
}

.img-style2{
	$this:&;
	&.type-face{
		#{$this}__tit{color:#fff;}
		#{$this}__txt{color:#aaa;}
		#{$this}__caption{background-color:rgba(91,38,38,0.8); color:#fff;}
	}
	&.type-face2{
		#{$this}__caption{background-color:rgba(91,38,38,0.8); color:#fff;}
	}
}

.new-section{
	$this:&;
	&__wrap{
		&.type-face{background-color:#ffe5e5;}
	}
}
