<%
	type = "content"
	page = "svf"
%>
<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
	<!-- visual -->
	<div class="content-visual type-cell-transplant">
		<div class="content-visual__box">
	        <div class="content-visual__border">
	            <p class="content-visual__txt1">将青春注入的技术晋级</p>
	            <h3 class="content-visual__tit">#<span class="color-transplant1">脂肪</span>移植</h3>
	            <p class="content-visual__txt2">更持久的自然饱满度</p>
	        </div>
	    </div>
	</div>
	<!-- //visual -->

	<!-- content -->
	<div class="content cell_transplant">
		<div class="content-wrap">
	        <div class="svf-box1">
	            <div class="content-section type-first">
	                <div class="content-section__wrap type-unique type-sec1-bg">
	                    <div class="content-section__tit-box">
	                        <h3 class="content-section__tit type-top">
		                        <span class="content-section__number">
		                            <span class="content-section__number-wrap">01</span>
		                        </span>
	                            脂肪移植存活率<span class="color-transplant1">低</span><strong class="color-transplant1">不</strong>持久？
	                        </h3>
	                    </div>
	                    <div class="content-section__txt-box">
	                        <p class="content-section__txt1">
	                            最基本的脂肪移植大部分采取的是将提取的脂肪粒子移植在需要的部位。主要使用可以提取出组织多和厚的大腿或臀部下方的脂肪。
	                        </p>
	                        <p class="content-section__txt2">
	                            <span class="type-svf-quotation quotation_left">quotation</span>
	                            但是实际上通过这种方法做的脂肪移植手术很难看出效果。如果想让移植的脂肪存活的话，在移植部位必须要留有新生血管的空间位置， 相比较薄的皮肤脂肪，厚的真皮脂肪间的细微间距是接收不了的。
	                            <span class="type-svf-quotation quotation_right">quotation</span>
	                        </p>
	                    </div>
	                </div>
	                <div class="content-section__bg-img">
	                </div>
	            </div>
	        </div>
	        <div class="svf-box2">
	            <div class="content-section cell_transplant-term">
	                <div class="content-section__bg-wrapper">
	                    <div class="content-section__tit-box">
	                        <h4 class="content-section__tit type-center">
		                        <span class="content-section__number">
		                            <span class="content-section__number-wrap">
		                                02
		                            </span>
		                        </span>
	                            脂肪必须<strong class="color-transplant1">以细胞为单位</strong>进行<strong class="color-transplant1">移植</strong>
	                        </h4>
	                        <p class="content-section__txt type-sec2">
								为了更有效的脂肪移植，佰诺佰琪以细胞为单位进行移植。而不是单纯的脂肪粒子，注入脂肪细胞后，促进脂肪生成。
	                        </p>
	                    </div>
	                    <div class="content-section__list-box">
	                        <div class="stem-cell clearfix">
	                            <div class="hexa-pattern type-cell-transplant">
	                                <ul class="hexa-pattern__list">
	                                    <li class="hexa-pattern__item nth-1">
	                                        <div class="hexa-pattern__wrap">
	                                            <h5 class="hexa-pattern__tit">脂肪细胞</h5>
	                                            <p class="hexa-pattern__txt type-cell-transplant">
													在移植的部位脂肪各自生成
	                                            </p>
	                                        </div>
	                                    </li>
	                                    <li class="hexa-pattern__item nth-2">
	                                        <div class="hexa-pattern__wrap">
	                                            <h5 class="hexa-pattern__tit">SVF细胞</h5>
	                                            <p class="hexa-pattern__txt type-cell-transplant">
													在移植的部位分解正确的组织细胞
	                                            </p>
	                                        </div>
	                                    </li>
	                                    <li class="hexa-pattern__item nth-3">
	                                        <div class="hexa-pattern__wrap">
	                                            <h5 class="hexa-pattern__tit">
													胶原蛋白，透明质酸，纤粘蛋白，分解正确的组织细胞，层黏连蛋白等
	                                            </h5>
	                                            <p class="hexa-pattern__txt type-cell-transplant">
	                                                改善皮肤
	                                            </p>
	                                        </div>
	                                    </li>
	                                </ul>
	                            </div>
	                        </div>
	                    </div>
	                </div>
					<div class="content-section__wrapper">
						<p class="caution-para1"><span class="inline-block">※ 本图片依拍摄条件不同与实物会有差距，取得患者同意拍摄后刊发</span></p>
					</div>
	                <div class="content-section__desc-box">
	                    <p class="content-section__txt1">
	                        特别是细胞单位的脂肪移植更有效果的原因是源于SVF细胞，因为包含脂肪组织的SVF细胞在填充部位作为正确的组织，其具有分化的能力，有助于注入的脂肪在移植的部位自然地定位。结论上相比其他方式，可以看出更高的脂肪存活率，之后注入的脂肪细胞会各自生长出新的脂肪。
	                    </p>
	                    <p class="content-section__txt2">
	                        <strong>
	                            同时因为脂肪组织的细胞群中包含不同的生长因子，还有胶原蛋白，透明质酸等，<br class="hidden-tm"><span class="color-transplant1">移植部位的皮肤可以有改善和增加弹性的附加效果。</span>
	                        </strong>
	                    </p>
	                </div>
	            </div>
	        </div>
	        <div class="svf-box3">
	            <div class="content-section">
	                <div class="content-section__wrap clearfix">
	                    <div class="content-section__txt-box w-47">
	                        <h4 class="content-section__tit type-top">
		                        <span class="content-section__number">
		                            <span class="content-section__number-wrap">
		                                03
		                            </span>
		                        </span>
	                            因为是自己的细胞，<br>
	                            <strong class="color-transplant1">几乎所有的部位</strong>都是<strong class="color-transplant1">可以的</strong>
	                        </h4>
	                        <p class="content-section__txt1">
	                            就像从自体脂肪中提取的干细胞一样，是自己个人的材料，所以不会有问题的。因为无论移植到哪个部位，是适应那个部位后开始生长，或按照细胞单位独立填充的手术。又或者通过使用适合细胞单位手术的细微的注射器，将手术变得更精巧和安全。
	                        </p>
	                    </div>
	                    <div class="content-section__img-box w-53">
	                        <div class="content-section__img type-background3 type-circle"></div>
	                    </div>
	                </div>
	                <div class="part-list">
	                    <div class="part-list__wrap">
	                        <ul class="part-list__items">
	                            <li class="part-list__item">
	                                <div class="part-list__item-wrapper">
	                                    <div class="part-list__thumb type-sec3 icon0">icon</div>
	                                    <div class="part-list__desc">
	                                        <h4 class="part-list__tit icon0">
	                                            扁平的额头
	                                        </h4>
	                                        <p class="part-list__txt">
												额头占整体面部的三分之一，对于整体的形象会产生很大的影响。如果额头扁平，缺少曲线感，甚至有凹陷的情况的话，会给人印象比较强势，偏男性化。相比通过脂肪移植术使眉间，鼻梁，嘴角，下巴尖相融合，增添立体感和打造出面部细滑曲线，需要追求更加饱满的额头线条。

	                                        </p>
	                                    </div>
	                                </div>
	                            </li>
	                            <li class="part-list__item">
	                                <div class="part-list__item-wrapper">
	                                    <div class="part-list__thumb type-sec3 icon1">icon</div>
	                                    <div class="part-list__desc">
	                                        <h5 class="part-list__tit icon1">
	                                            眼皮凹陷
	                                        </h5>
	                                        <p class="part-list__txt">
												体质，或后天原因，眼窝骨下方有缺少脂肪的情况。这样的话会给人留下强势的印象，并且眼角的皱纹也会增多。通过脂肪移植术打造更年轻的感觉，改善眼角的细纹，打造出几乎无细纹有弹性的眼皮。
	                                        </p>
	                                    </div>
	                                </div>
	                            </li>
	                            <li class="part-list__item">
	                                <div class="part-list__item-wrapper">
	                                    <div class="part-list__thumb type-sec3 icon2">icon</div>
	                                    <div class="part-list__desc">
	                                        <h5 class="part-list__tit icon2">
	                                            脸颊
	                                        </h5>
	                                        <p class="part-list__txt">
	                                            如果脸颊没有肉的话，看起来会没有活力生机，骨骼突出会给人强势的印象。因为这个，所以希望通过脂肪移植可以打造童颜和健康的感觉。特别是相比较其他部位，脸颊注射的脂肪存活率更高，效果更好，更持久。
	                                        </p>
	                                    </div>
	                                </div>
	                            </li>
	                            <li class="part-list__item">
	                                <div class="part-list__item-wrapper">
	                                    <div class="part-list__thumb type-sec3 icon3">icon</div>
	                                    <div class="part-list__desc">
	                                        <h5 class="part-list__tit icon3">
	                                            法令纹
	                                        </h5>
	                                        <p class="part-list__txt">
	                                            如果改善了从鼻翼到连接唇部两侧边缘的法令纹的话，表情上来说，会有种更加自然和高级的感觉。
	                                        </p>
	                                    </div>
	                                </div>
	                            </li>
	                            <li class="part-list__item">
	                                <div class="part-list__item-wrapper">
	                                    <div class="part-list__thumb type-sec3 icon4">icon</div>
	                                    <div class="part-list__desc">
	                                        <h5 class="part-list__tit icon4">
	                                            隆胸手术
	                                        </h5>
	                                        <p class="part-list__txt">
	                                            基本上来说如果是偏瘦的体型，胸部的脂肪就会有局限性。因为脂肪流失多，很难塑形.但是如果是稍微有点丰满度的情况下，脂肪填充胸部，几乎没有包膜痉挛的可能性，触感和形态又都很自然，所以通常可以获得很高的满足度。
	                                        </p>
	                                    </div>
	                                </div>
	                            </li>
	                            <li class="part-list__item">
	                                <div class="part-list__item-wrapper">
	                                    <div class="part-list__thumb type-sec3 icon5">icon</div>
	                                    <div class="part-list__desc">
	                                        <h5 class="part-list__tit icon5">
	                                            臀部
	                                        </h5>
	                                        <p class="part-list__txt">
	                                            露出的身体部位中一个很有魅力的部位，背影，半蹲等近期与臀部有关的关心度一直在增加。臀部脂肪移植的同时还有使臀部弹力增加和让腿部视觉上变长的效果。
	                                        </p>
	                                    </div>
	                                </div>
	                            </li>
	                        </ul>
	                    </div>
	                </div>
	            </div>
	        </div>
	        <div class="svf-box4">
	            <div class="content-section">
	                <div class="content-section__wrapper">
	                    <div class="content-section__bg-wrapper">
	                        <div class="content-section__bg-color">
	                            <div class="content-section__tit-box">
	                                <p class="content-section__txt1 type-unique">BANOBAGI stem cell</p>
	                                <h4 class="content-section__tit">
	                                    技术进化的同时<strong class="color-transplant1">患者的责任感也很重要。</strong>
	                                </h4>
	                                <div class="content-section__txt2">
	                                    虽然可以改善脂肪的存活率，但是如果需要更好的效果，患者平日里自己的管理也是很重要的。因为与保持着结实状态的骨骼不同，脂肪是依据身体的健康状况而变化的。
	                                </div>
	                            </div>
	                            <div class="content-section__img-wrapper clearfix">
	                                <div class="content-section__sec4-img">
	                                    <div class="content-section__sec4-img1">
	                                        <img src="../../images/svf/svf_transplant_section05-face01.png" alt="img">
	                                    </div>
	                                </div>
	                                <div class="content-section__sec4-img">
	                                    <div class="content-section__sec4-img2">
	                                        <img src="../../images/svf/svf_transplant_section05-cigarette01.png" alt="img">
	                                    </div>
	                                </div>
	                            </div>
	                            <p class="content-section__txt3">
								   	特别是术后2周左右，在移植的脂肪细胞内的新生血管因为处于生长期间，所以最大程度的保证手术部位不要动，小心外部刺激是最重要的。<strong>还有，吸烟对新的血管生成是最不好的。所以包含术前2个月左右，需要禁烟。</strong>
							   	</p>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
			<!-- 手术详情 -->
			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-svf">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">手术详情</h4>
							<!-- <p class="operation-v2__subtit">脂肪移植手术信息告知。</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">手术时间</h5>
										<p class="operation-v2__txt txt-new1">
											脸部:约30分<br>
											身体:约1小时30分
										</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">麻醉方法</h5>
										<p class="operation-v2__txt txt-new1">
											脸部:睡眠麻醉<br>
											身体:全身麻醉
										</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">拆线</h5>
										<p class="operation-v2__txt txt-new1">
											脸部:不需要<br>
											身体:约3天后拆线
										</p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">住院时间</h5>
										<p class="operation-v2__txt txt-new1">当天回家</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">来院治疗</h5>
										<p class="operation-v2__txt txt-new1">约2次</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">恢复</h5>
										<p class="operation-v2__txt txt-new1">约3~5天后恢复日常生活</p>
									</div>
								</li>
							</ul>
							<div class="pain-v2 type-svf">
								<h5 class="pain-v2__tit txt-new2">术后体感疼痛</h5>
								<ol class="pain-v2__list">


											<li class="pain-v2__item is-active nth-1">
												<div class="pain-v2__square">square</div>
											</li>



											<li class="pain-v2__item nth-2">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">square</div>
												</div>
											</li>



											<li class="pain-v2__item nth-3">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">square</div>
												</div>
											</li>



											<li class="pain-v2__item nth-4">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">square</div>
												</div>
											</li>



											<li class="pain-v2__item nth-5">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">square</div>
												</div>
											</li>



											<li class="pain-v2__item nth-6">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">square</div>
												</div>
											</li>



											<li class="pain-v2__item nth-7">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">square</div>
												</div>
											</li>



											<li class="pain-v2__item nth-8">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">square</div>
												</div>
											</li>



											<li class="pain-v2__item nth-9">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">square</div>
												</div>
											</li>



											<li class="pain-v2__item nth-10">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">square</div>
												</div>
											</li>


								</ol>
								<p class="pain-v2__txt txt-new1">
									使用细小的注射器，所以几乎没有疼痛感。<br>
									依据注射的脂肪量不同，会有些膨胀感。
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* 通过对术后患者进行问卷调查得出的平均值</p>
									<p class="pain-v2__noti txt-new4">* 从数据不存在绝对性，会存在个人差异，仅供大家作为参考。</p>
								</div>
								<!-- <a href="<?php echo SITE_UPLOAD_URL?>/knowledge/injection.pdf" target="_blank" class="operation-v2__link"><span>术后注意事项</span></a> -->
							</div><!-- //pain -->
						</div>
					</div>
				</div>
			</div>
	    </div>
	</div> <!-- //content -->

	<% include ../_include/_bfaf %>
</div> <!-- //container -->
<% include ../_include/_footer %>
