<%
	type = "detail"
	page = "svf"
%>
<% include ../_include/_header %>

<!-- Content -->
<div class="svf detail-common">
	<section class="fs_section svfFirst js-first" data-section-name="home">
	   	<div class="detail__inner">
		   	<div class="detail__vertical">
			   	<h3 class="detail__first-tit type-svf">
				   	优秀的<span class="color-svf0">技术力</span>， 更<span class="detail__first-piece type-svf"><span class="color-svf0">有效</span>， 更安全</span>
			   	</h3>
			   	<div class="detail__first-txt type-svf">
				   	<span class="detail__first-bwrap">在细胞单位上进行补偿的</span><br>
				   	<strong class="detail__first-point">佰诺佰琪<span class="color-svf0">干细胞</span>的细节<span class="color-svf0">。</span></strong>
			   	</div>
		   	</div>
	   	</div>
	   	<div class="scroll">
		   	<div class="inner">
			   	<i></i>
		   	</div>
		   	<em>SCROLL</em>
	   	</div>
	</section>

	<section class="fs_section svfSection01" data-section-name="svfSection01">
	   	<div class="detail__inner">
		   	<div class="detail__vertical">
			   	<div class="detail__section-box type-wide type-svf">
				 	<h4 class="detail__section-tit">
				   		<strong>干细胞</strong><span class="color-comma">，</span><br>
				   		<span class="detail__section-bwrap">佰诺佰琪是</span><br>
				   		<strong class="color-svf0">这样</strong>做的
				 	</h4>
				 	<p class="detail__section-subtit">更高水平的细胞治疗</p>
				 	<p class="detail__section-txt">
				   		具备专业设备及人力的佰诺佰琪从血液，骨髓，脂肪等中采取多种的细胞进行治疗。 特别是从脂肪组织中采取并直接使用的<span class="color-svf1">SVF细胞自身具有卓越的再生能力，具有改善肤色及弹力的优点，</span>刺激生长因子或细胞的再生，几乎无副作用。
				 	</p>
			   	</div>
		   	</div>
	   	</div>
	   	<div class="detail__dim">딤처리</div>
	   	<div class="detail__section-bottom hidden-pt">
		   	<div class="detail__section-set">
			   	<span>干细胞的优点</span>
			   	<span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open type-svf type-another0" data-popup-type="section">팝업버튼</a></span>
		   	</div>
	   	</div>
	   	<div class="detail__popup-m">
		   	<h5 class="detail__popup-m__tit">优点<span class="color-svf2">。</span></h5>
		   	<ul class="detail__popup-m__list">
			   	<li class="detail__popup-m__item">- 自体再生</li>
			   	<li class="detail__popup-m__item">- 成长因子</li>
			   	<li class="detail__popup-m__item">- 分解</li>
			   	<li class="detail__popup-m__item">- 增强免疫力</li>
		   	</ul>
	   	</div>
	</section>

	<section class="fs_section svfSection02" data-section-name="svfSection02">
		<div class="detail__inner type-full">
		   	<div class="detail__popup type-svf">
			   	<div class="detail__popup-wrap">
				   	<h5 class="detail__popup-tit">细胞移植的整形部位<span class="color-svf2">。</span></h5>
				   	<ul class="detail__popup-list">
					   	<li class="detail__popup-item nth-1">
						   	<div class="detail__popup-box">
							   	<h6 class="detail__popup-subject">面部</h6>
							   	<p class="detail__popup-txt">鼻整形，两颊整形，额头整形，下巴整形，贵族手术</p>
						   	</div>
					   	</li>
					   	<li class="detail__popup-item nth-2">
						   	<div class="detail__popup-box">
							   	<h6 class="detail__popup-subject">身材</h6>
							   	<p class="detail__popup-txt">隆胸手术，乳房再建术，提臀整形，其它</p>
						   	</div>
					   	</li>
					   	<li class="detail__popup-item nth-3">
						   	<div class="detail__popup-box">
							   	<h6 class="detail__popup-subject">老化</h6>
							   	<p class="detail__popup-txt">皱纹改善，皮肤弹力增加，色斑，雀斑，黑眼圈</p>
						   	</div>
					   	</li>
					   	<li class="detail__popup-item nth-4">
						   	<div class="detail__popup-box">
							   	<h6 class="detail__popup-subject">皮肤</h6>
							   	<p class="detail__popup-txt">肤色改善，疤痕，妊辰纹，毛孔缩小，黑头</p>
						   	</div>
					   	</li>
				   	</ul>
				   	<a href="" class="detail__popup-close js-popup-close">关闭</a>
			   	</div>
		   	</div>
			<div class="detail__section-wrap type-svf">
				<div class="detail__vertical">
					<div class="detail__section-box type-normal type-right type-svf">
						<h4 class="detail__section-tit">
							<strong>干细胞</strong><span class="color-comma">，</span><br>
							<span class="detail__section-bwrap">佰诺佰琪</span><br>
							适合<strong class="color-svf0">多种部位</strong>
						</h4>
						<p class="detail__section-subtit">SVF细胞的多种适用范围</p>
						<p class="detail__section-txt">
							SVF细胞不仅自体复原能力卓越，而且具有适应注入部位的能力，因此能用于多做部位。佰诺佰琪利用<span class="color-svf1">这一细胞治疗技术改善皮肤疤痕，老化，面部及矫正体型，</span>对多做部位都有效果，自然地进行改善。
						</p>
					</div>
				</div>
			</div>
		</div>
	   	<div class="detail__section-bottom type-svf">
		   	<div class="detail__section-set">
			   	SVF细胞的多种适用范围
			   	<span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open type-svf">팝업버튼</a></span>
		   	</div>
	   	</div>
	</section>

	<section class="fs_section svfSection03" data-section-name="svfSection03">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="detail__section-box type-wide type-svf">
					<h4 class="detail__section-tit">
						<strong>干细胞</strong><span class="color-comma">，</span><br>
						<span class="detail__section-bwrap">佰诺佰琪</span><br class="hidden-m">
						更<strong class="color-svf0">卓越</strong>
					</h4>
					<p class="detail__section-subtit">确保更多，更好细胞的竞争力</p>
					<p class="detail__section-txt">
					   	SVF细胞治疗的满足度能决定移植细胞的生存率。 所以佰诺佰琪常驻<span class="color-svf1">生命工程的研究员，提供专业的细胞治疗。</span>佰诺佰琪细胞治疗的秘诀是从脂肪中提取更纯更健康细胞的技巧及技术，效果长效持久。
					</p>
				</div>
			</div>
		</div>
	</section>

	<section class="fs_section svfSection04" data-section-name="svfSection04">
	   	<div class="detail__inner type-full">
		   	<div class="detail__popup type-svf">
			   	<div class="detail__popup-wrap">
				   	<h5 class="detail__popup-tit">极低温冷冻保管体系<span class="color-svf2">。</span></h5>
				   	<div class="popup-info">
					   	<div class="popup-info__img">极低温冷冻保管体系</div>
					   	<ol class="popup-info__list">
						   	<li class="popup-info__item">&middot;  可进行反复的集中治疗</li>
						   	<li class="popup-info__item">&middot;  防止细胞的损失及污染</li>
						   	<li class="popup-info__item">&middot;  事先保管年轻时优质的细胞后，可定期使用</li>
					   	</ol>
				   	</div>
				   	<a href="" class="detail__popup-close js-popup-close">关闭</a>
			   	</div>
		   	</div>
		   	<div class="detail__section-wrap type-svf type-another">
			   	<div class="detail__vertical">
				   	<div class="detail__section-box type-wide type-right type-svf type-quotation2">
					   	<h4 class="detail__section-tit">
						   	<strong>干细胞</strong><span class="color-comma">，</span><br>
						   	<span class="detail__section-bwrap">佰诺佰琪</span><br>
						   	可进行<strong class="color-svf4">多次</strong>
					   	</h4>
					   	<p class="detail__section-subtit">大概能保管3~5年的自助银行体系</p>
					   	<p class="detail__section-txt">
						   	SVF细胞提取后，时间越久，损伤，污染的可能性越高。因此原有的细胞治疗只能做一次。<span class="color-svf3">佰诺佰琪导入极低温冷冻保管体系，储藏SVF细胞。</span>通过这一体系可以多次集中地进行反复施术，能期待更卓越的效果。
					   	</p>
				   	</div>
			   	</div>
		   	</div>
	   	</div>
	   	<div class="detail__section-bottom type-svf type-another">
		   	<div class="detail__section-set">
			   	-196度极低温冷冻保管体系
			   	<span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open type-svf type-another">팝업버튼</a></span>
		   	</div>
	   	</div>
	</section>

	<section class="fs_section svfSection05" data-section-name="svfSection05">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="detail__section-box type-wide type-svf">
					<h4 class="detail__section-tit">
						<strong>干细胞</strong><span class="color-comma">，</span><br>
						<span class="detail__section-bwrap">佰诺佰琪</span><br class="hidden-m">
						就是<strong class="color-svf0">不一样</strong>
					</h4>
					<p class="detail__section-subtit"><?=$sinceYear?>年的吸脂技术脂肪抽取部位的自然</p>
					<p class="detail__section-txt">
						佰诺佰琪干细胞是吸取脂肪的第一步开始就不同。为了进行干细胞治疗而抽取脂肪时， 不能加热。<span class="color-svf5">佰诺佰琪以吸脂专家的专业化技术</span>，无需激光的加热，就能有效地抽取脂肪，<span class="color-svf5">抽取脂肪后也能保持表面的光滑，不凹凸不平。</span>
					</p>
				</div>
				<div class="layer-img2">
					<div class="layer-img2__box">줄기세포 이미지</div>
					<dl class="layer-img2__dl">
						<dt class="layer-img2__dt">*副作用的种类 :</dt>
						<dd class="layer-img2__dd">施术后皮肤表 面凹凸不平，出血，血清肿，知觉异常，皮肤坏死等</dd>
					</dl>
				</div>
			</div>
		</div>
	</section>

	<section class="fs_section svfSection06" data-section-name="svfSection06">
		<div class="detail__inner type-full">
			<div class="detail__popup type-svf">
				<div class="detail__popup-wrap">
					<h5 class="detail__popup2-subtit">预防细胞的污染及变质的</h5>
					<p class="detail__popup-tit">One-stop无菌设施<span class="color-svf2">。</span></p>
					<ul class="detail__popup2-list">
						<li class="detail__popup2-item nth-1">
							<div class="detail__popup2-box">
								<span class="detail__popup2-img">Air Shower</span>
								<h6 class="detail__popup2-subject font-eng">Air Shower</h6>
							</div>
						</li>
						<li class="detail__popup2-item nth-2">
							<div class="detail__popup2-box">
								<span class="detail__popup2-img">无菌手术室</span>
								<h6 class="detail__popup2-subject">无菌手术室</h6>
							</div>
						</li>
						<li class="detail__popup2-item nth-3">
							<div class="detail__popup2-box">
								<span class="detail__popup2-img">无菌研究设施</span>
								<h6 class="detail__popup2-subject">无菌研究设施</h6>
							</div>
						</li>
						<li class="detail__popup2-item nth-4">
							<div class="detail__popup2-box">
								<span class="detail__popup2-img">无菌QC室</span>
								<h6 class="detail__popup2-subject">无菌QC室</h6>
							</div>
						</li>
					</ul>
					<a href="" class="detail__popup-close js-popup-close">关闭</a>
				</div>
			</div>

			<div class="detail__section-wrap type-svf type-another2">
				<div class="detail__vertical">
					<div class="detail__section-box type-wide type-right type-svf">
						<h4 class="detail__section-tit">
							<strong>干细胞</strong><span class="color-comma">，</span><br>
							<span class="detail__section-bwrap">佰诺佰琪</span><br class="">
							<strong class="color-svf0">细节</strong>做到底
						</h4>
						<p class="detail__section-subtit">为了更安全更成功的治疗而设立的无菌室</p>
						<p class="detail__section-txt">
							人的细胞对外部环境反应敏感，因此对微小的污染也很脆弱。<span class="color-svf6">佰诺佰琪从细胞分离到细胞处理的整过程都导入无菌系统。</span>在佰诺佰琪可实现<span class="color-svf6">无细胞的变质及损伤的安全治疗。</span>
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="detail__section-bottom type-svf type-another2">
			<div class="detail__section-set">
				One-stop无菌设施
				<span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open type-svf type-another2" data-popup-type="footer">팝업버튼</a></span>
			</div>
		</div>
	</section>
</div>
<!-- //Content -->

<% include ../_include/_footer %>
