<%
	type = "content"
	page = "svf"
%>
<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>

	<!-- visual -->
	<div class="content-visual type-augment">
		<div class="content-visual__box">
			<div class="content-visual__border">
				<p class="content-visual__txt1">高于一般脂肪移植技术力填充的饱满感</p>
				<h3 class="content-visual__tit">#丰胸术</h3>
				<p class="content-visual__txt2">让我的胸部，自然丰满</p>
			</div>
		</div>
	</div>
	<!-- //visual -->

	<!-- content -->
	<div class="content cell_transplant">
		<div class="content-wrap">
	        <div class="content-section type-first">
	            <div class="augment-box1">
	                <div class="augment-box1__box">
	                    <h4 class="content-section__tit type-left">
							<span class="content-section__number ">
								<span class="content-section__number-wrap">
									01
								</span>
							</span>
							对<strong>胸部整形</strong>感到有负担时，可采取<strong class="content-highlight2 type-augment">脂肪移植</strong>的<strong>方案</strong>
						</h4>
	                    <p class="content-section__txt1">
							胸部是作为女性的一种象征，同时也是女性展现独特魅力的重要身体部位。<br class="hidden-m">
							随着对暴露认知的改变，对于美丽的胸部也产生了更多的关心。因此对于胸部整形的关心度也在逐渐剧增。但事实上到目前为止，胸部整形并非是轻易就能下决定的手术。<strong>因为在胸部内植入假体的排斥感，术后的疼痛，较长的恢复时间等都是在决定手术过程中犹豫不定的因素。</strong>只是感觉上围饱满度稍显不足或只想要大小稍微有一些变化的话，就更不想承受做手术这样的负担了。
						</p>
	                    <p class="content-section__txt2">
							因此，在这样的情况下，通过<span class="content-highlight type-augment type-dark color-svf7">脂肪移植丰胸</span>可能会是一个更好的方案。
						</p>
	                    <div class="augment-box1__img-wrap">
	                        <div class="augment-box1__img"></div>
	                    </div>
	                </div>
	            </div>
	        </div>

	        <div class="content-section">
	            <div class="augment-box2">
	                <div class="augment-box2__box">
	                    <p class="content-section__txt1">
							胸部的内部构成大部分是脂肪组织。胸部内部的脂肪量增多的话胸部的大小也会随之增大。
							这种原理所对应的方法正是通过脂肪移植进行的丰胸术。
							从患者本人腹部或臀部抽取脂肪后精制，利用注射器将适当需要的量注射到胸部。
						</p>
	                    <p class="content-section__txt2">
							<span class="color-svf7">移植的脂肪</span>一定要与胸部内部的脂肪一起<span class="color-svf7">自然的固定融合</span>，从而<span class="color-svf7">形成美丽，丰满的胸部</span>。
						</p>
	                </div>
	                <div class="augment-box2__list_wrap">
	                    <div class="augment-box2__list_tit">
	                        脂肪移植丰胸术过程
	                    </div>
	                    <ul class="augment-box2__list">
	                        <li class="augment-box2__item nth-1">
	                            <div class="augment-box2__wrap">
	                                <div class="augment-box2__img">
	                                    <div class="augment-box2__caption">
	                                        <div class="augment-box2__vertical">抽取腹部或臀部部位的脂肪</div>
	                                    </div>
	                                </div>
	                            </div>
	                        </li>
	                        <li class="augment-box2__item nth-2">
	                            <div class="augment-box2__wrap">
	                                <div class="augment-box2__img">
	                                    <div class="augment-box2__caption">
	                                        <div class="augment-box2__vertical">精制和分离</div>
	                                    </div>
	                                </div>
	                            </div>
	                        </li>
	                        <li class="augment-box2__item nth-3">
	                            <div class="augment-box2__wrap">
	                                <div class="augment-box2__img">
	                                    <div class="augment-box2__caption">
	                                        <div class="augment-box2__vertical">脂肪注入胸部</div>
	                                    </div>
	                                </div>
	                            </div>
	                        </li>
	                    </ul>
	                </div>
	            </div>
	        </div>

	        <div class="content-section">
	            <div class="augment-box3">
	                <div class="augment-box3__box">
	                    <h4 class="content-section__tit type-center">
							<span class="content-section__number">
								<span class="content-section__number-wrap">
									02
								</span>
							</span>
							虽然是有很多<strong>优点</strong>的方法但是<strong class="content-highlight2 type-augment">缺点</strong>也很<strong>分明</strong>
						</h4>
	                    <p class="content-section__txt1">
							因为不是假体等人工物质，而是将脂肪补充到原来胸部的方法，所以发生包膜挛缩等副作用的可能性小，其形状和动作也相对比较自然。
							并且，因为不需要过多的切开和剥离，对于手术的负担感相对小，同时在想注射的部位可调节性的注入所需的脂肪，也是一大优点。<br><br>

							但对于身材过于瘦的患者来说并不适合这样的方法，时间一长相比刚做完手术的时候，效果会逐渐下降，这是一大缺点所在。
							特别是效果持续性的问题，移植的脂肪无法持续生存是重要原因
						</p>
	                    <p class="content-section__txt2">
							<strong>虽然因为个人体质差异会有所不同，但<span class="color-svf8">移植的脂肪中约30%~50%的程度</span>会慢慢被人体吸收，胸部的大小也可能会缩小。</strong>
						</p>
	                </div>
	            </div>

	            <div class="augment-box4">
	                <div class="augment-box4__box">
	                    <div class="augment-box4__list_wrap type-strengths">
	                        <div class="augment-box4__vertical">
	                            <div class="augment-box4__list_tit type-strengths">优点</div>
	                            <ul class="augment-box4__list">
	                                <li class="augment-box4__item">胸部自然的模样和律动感</li>
	                                <li class="augment-box4__item">相比产生包膜挛缩现象的假体，几乎不用担心有副作用</li>
	                                <li class="augment-box4__item">不需要过大的切开和剥离疤痕和疼痛少，更容易恢复</li>
	                                <li class="augment-box4__item">通过精密的手术想要的部位想要的大小可进行细微调整</li>
	                            </ul>
	                        </div>
	                    </div>
	                    <div class="augment-box4__list_wrap type-weaknesses">
	                        <div class="augment-box4__vertical">
	                            <div class="augment-box4__list_tit type-weaknesses">缺点</div>
	                            <ul class="augment-box4__list">
	                                <li class="augment-box4__item">不适合偏瘦的体型</li>
	                                <li class="augment-box4__item">时间久了脂肪无法生存从而被吸收效果不如刚开始的时候</li>
	                            </ul>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>

	        <div class="content-section">
	            <div class="augment-box5">
	                <div class="augment-box5__wrap">
	                    <div class="augment-box5__box">
	                        <h4 class="content-section__tit type-left">
								<span class="content-section__number ">
									<span class="content-section__number-wrap">
										03
									</span>
								</span>
								<strong>佰诺佰琪</strong>活用<span class="content-highlight2 type-augment type-light color-svf9">干细胞</span>改善现有的缺点
							</h4>
	                        <p class="content-section__txt1">
								胸部移植的脂肪无法正常生存的原因是与抽取的脂肪和胸部脂肪存在细微差异。因为脂肪已经在其他部位符合其条件，所以和胸部脂肪有细微不同，如果身体不接受这种差异，脂肪就会被融化。<br><br class="hidden-m">

								佰诺佰琪活用细胞单位的脂肪移植术来改善这一问题。不是单纯的移植脂肪，而是分离脂肪中包含的干细胞后进行移植。干细胞具有分化多种部位的能力，因此移植到胸部后会自行发挥胸部脂肪细胞的作用。不是其他部位的脂肪，而是变成胸部的脂肪本身。
							</p>
	                        <p class="content-section__txt2">
								因此，这个方法通过现有的脂肪移植术，展现更加卓越的丰胸效果，可持久保持胸部丰盈的饱满感。
							</p>
	                    </div>
	                    <div class="augment-box5__area">
	                        <div class="augment-box5__area-wrap">
								<div class="augment-box5__inner">
			                        <div class="augment-box5__tit">
			                            一般的脂肪移植和<strong class="color-svf10">佰诺佰琪干细胞脂肪移植</strong>的差异
			                        </div>
								</div>
		                        <div class="augment-box5__list_wrap type-pre">
		                            <div class="augment-box5__list_tit">
		                                一般的脂肪移植
		                            </div>
		                            <ul class="augment-box5__pre_list">
		                                <li class="augment-box5__pre_item nth-1">
		                                    <div class="augment-box5__item-wrap">
		                                        <div class="augment-box5__img">
		                                            <div class="augment-box5__caption">
		                                                <div class="augment-box5__vertical">从其他部位抽取脂肪</div>
		                                            </div>
		                                        </div>
		                                    </div>
		                                </li>
		                                <li class="augment-box5__pre_item nth-2">
		                                    <div class="augment-box5__item-wrap">
		                                        <div class="augment-box5__img">
		                                            <div class="augment-box5__caption">
		                                                <div class="augment-box5__vertical">抽取的脂肪注入到胸部</div>
		                                            </div>
		                                        </div>
		                                    </div>
		                                </li>
		                                <li class="augment-box5__pre_item nth-3">
		                                    <div class="augment-box5__item-wrap">
		                                        <div class="augment-box5__img">
		                                            <div class="augment-box5__caption">
		                                                <div class="augment-box5__vertical">
		                                                    抽取的脂肪中一部分生存，<br>
		                                                    无法生存的脂肪融化后消失
		                                                </div>
		                                            </div>
		                                        </div>
		                                    </div>
		                                </li>
		                            </ul>
		                        </div>
		                        <div class="augment-box5__list_wrap type-bnbg">
		                            <div class="augment-box5__list_tit color-svf10">
		                                佰诺佰琪干细胞脂肪移植
		                            </div>
		                            <ul class="augment-box5__bnbg_list">
		                                <li class="augment-box5__bnbg_item nth-1">
		                                    <div class="augment-box5__item-wrap">
		                                        <div class="augment-box5__img">
		                                            <div class="augment-box5__caption">
		                                                <div class="augment-box5__vertical">从其他部位抽取脂肪后进行干细胞分离</div>
		                                            </div>
		                                        </div>
		                                    </div>
		                                </li>
		                                <li class="augment-box5__bnbg_item nth-2">
		                                    <div class="augment-box5__item-wrap">
		                                        <div class="augment-box5__img">
		                                            <div class="augment-box5__caption">
		                                                <div class="augment-box5__vertical">将分离的干细胞注入胸部</div>
		                                            </div>
		                                        </div>
		                                    </div>
		                                </li>
		                                <li class="augment-box5__bnbg_item nth-3">
		                                    <div class="augment-box5__item-wrap">
		                                        <div class="augment-box5__img">
		                                            <div class="augment-box5__caption">
		                                                <div class="augment-box5__vertical">移植的干细胞通过胸部脂肪细胞生长并大部分得以生存</div>
		                                            </div>
		                                        </div>
		                                    </div>
		                                </li>
		                                <li class="augment-box5__bnbg_item nth-4">
		                                    <div class="augment-box5__item-wrap">
		                                        <div class="augment-box5__img">
		                                            <div class="augment-box5__caption">
		                                                <div class="augment-box5__vertical">更加持久的饱满感</div>
		                                            </div>
		                                        </div>
		                                    </div>
		                                </li>
		                            </ul>
		                        </div>
		                    </div>
	                    </div>
	                </div>
	            </div>
	        </div>

	        <div class="content-section">
	            <div class="augment-box6">
	                <div class="augment-box6__box">
	                    <h4 class="content-section__tit type-center">
							<span class="content-section__number">
								<span class="content-section__number-wrap">
									04
								</span>
							</span>
							<strong class="color-svf10">活用干细胞</strong>，充分的技术和设备是基本
						</h4>
	                    <p class="content-section__txt1">
							为了利用干细胞进行胸部脂肪移植，需要充分的设施和技术。佰诺佰琪是未来创造科学部认可的研究开发部门，拥有稳定干细胞活用所需的各种设施和专业人力资源。另外，通过专家丰富的经验，在抽取并注入脂肪的所有过程中，确保不留痕迹，进行精密的手术<strong>即使是相同量的脂肪，也可提取更高效的干细胞，实现有效的脂肪移植。</strong>
						</p>
	                    <div class="augment-box6__auth">
	                        技术评价优秀企业认证书
	                    </div>
	                </div>
	            </div>
	            <div class="augment-box7">
	                <h5 class="content-section__tit augment-box7__tit">
	                    <span class="augment-box7__subtit">佰诺佰琪与众不同的细节</span><br>
	                    <strong class="color-svf10">脂肪干细胞隆胸术</strong>更加令人满意的原因
	                </h5>
	                <div class="augment-box7__area">
	                    <ul class="augment-box7__list">
	                        <li class="augment-box7__item nth-1">
	                            <div class="augment-box7__wrap">
	                                <div class="augment-box7__img">
	                                    <div class="augment-box7__caption">
	                                        <div class="augment-box7__vertical">
	                                            生命工程研究员常驻
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </li>
	                        <li class="augment-box7__item nth-2">
	                            <div class="augment-box7__wrap">
	                                <div class="augment-box7__img">
	                                    <div class="augment-box7__caption">
	                                        <div class="augment-box7__vertical">
												在提取脂肪，注入过程中确保不留痕迹的精密技术和丰富的经验
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </li>
	                        <li class="augment-box7__item nth-3">
	                            <div class="augment-box7__wrap">
	                                <div class="augment-box7__img">
	                                    <div class="augment-box7__caption">
	                                        <div class="augment-box7__vertical">
												拥有细胞有效数检查仪器，极低温冷冻保管系统，无菌室等必要设备
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </li>
	                    </ul>
	                </div>
	            </div>
	        </div>

	        <div class="content-section">
	            <div class="augment-box8">
	                <div class="augment-box8__bg">
	                    <div class="augment-box8__box">
	                        <div class="augment-box8__tit-box">
	                            <p class="content-section__txt1 type-unique">BANOBAGI stem cell</p>
	                            <h4 class="content-section__tit type-augment">
									<strong>个人的努力</strong><strong class="color-svf7">带来更加满意的结果</strong>
								</h4>
	                        </div>
	                        <div class="augment-box8__img-wrap">
	                            <div class="augment-box8__img">
	                                <img src="../../images/svf/augment/augment_img_14.png" alt="">
	                            </div>
	                            <div class="augment-box8__img">
	                                <img src="../../images/svf/augment/augment_img_15.png" alt="">
	                            </div>
	                        </div>
	                        <div class="augment-box8__txt-wrap">
	                            <p class="content-section__txt1">
									脂肪干细胞移植胸部后，大概两周时间后，脂肪细胞安全的生长并进入体内。因此，为了使脂肪干细胞更加有效，这段时间内需要特别注意。最重要的是尽量少动，避免受外界刺激。
	    						</p>
	                            <p class="content-section__txt2">
	    							另外，吸烟是妨碍血管生成的主要因素，建议术前<span class="color-svf11">两个月左右</span>开始戒烟。
	    						</p>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>

			<!-- 手术详情 -->
			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-svf type-four">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">手术详情</h4>
							<!-- <p class="operation-v2__subtit">佰诺佰琪脂肪干细胞隆胸术快速恢复</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">手术时间</h5>
										<p class="operation-v2__txt txt-new1">注入的量不同约1小时~2小时半</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">麻醉方法</h5>
										<p class="operation-v2__txt txt-new1">全身麻醉/睡眠麻醉</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">来院治疗</h5>
										<p class="operation-v2__txt txt-new1">约1次</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">恢复</h5>
										<p class="operation-v2__txt txt-new1">约3~5天后恢复日常生活</p>
									</div>
								</li>
							</ul>
							<div class="pain-v2 type-svf">
								<h5 class="pain-v2__tit txt-new2">术后体感疼痛</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 2){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">square</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">square</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									胸部会稍有膨胀感和疼痛感，随着时间的推移，痛感会逐渐缓解。<br>
									抽取脂肪的部位可能会有发麻的感觉<br>
									注射手术虽然属于疼痛较小的类型，但手术后如果感到疼痛严重的话，应立即打电话来院。
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* 通过对术后患者进行问卷调查得出的平均值</p>
									<p class="pain-v2__noti txt-new4">* 从数据不存在绝对性，会存在个人差异，仅供大家作为参考。</p>
								</div>
								<!-- <a href="<?php echo SITE_UPLOAD_URL?>/knowledge/breast.pdf" target="_blank" class="operation-v2__link"><span>术后注意事项</span></a> -->
							</div><!-- //pain -->
						</div>
					</div>
				</div>
			</div>
	    </div>
	</div> <!-- //content -->
	<% include ../_include/_bfaf %>
</div> <!-- //container -->
<% include ../_include/_footer %>
