/*body fat*/

.content-section{
	$this:&;

	&.type-body1{
		#{$this}__txt1{padding-right: 92px;}
	}

	@media only screen and (max-width:$tablet-size){
		&.type-body1{
			#{$this}__txt1{padding-right: 0;}
		}
	}
}

.box-style1{
	$this:&;
	&.type-another{text-align:left;}
	&:first-child{margin-top:245px;}
	&__list{margin:0 0 0 -16px; padding:0; list-style:none;
		&.type-another{margin-top:0;}
		&:after{display:block; clear:both; content:'';}
		&.type-special{margin-top: 70px;}
	}
	&__item{float:left; width:50%; padding-left:16px; box-sizing:border-box; text-align:left; list-style:none;
		&.w-4{width:38.6%;}
		&.w-8{width:58.4%;}
		&.w-6{width:50%; padding:0 40px;margin-top: -55px;}
		&.w-12{width:100%; padding:0 126px;}
	}
	&__img{position:relative; width:100%; height:0; padding-bottom: 60.76%;;}
	&__img--bg{margin-top:-110px; text-align:right;
		& img{width:100%;}
		&.type-special{margin-top: -235px;}
	}
	&__txt1{position:relative; font-size:17px; line-height:2.1; color:#666; word-break:keep-all;
		& strong{font-weight:400;}
		& + &{margin-top:40px;
			&.type-another{margin-top:30px;}
		}
	}
	&__wrap{padding:0 24px;}
	&__txt2{position:relative; margin-top:26px; text-align:center; font-size:20px;
		& + #{$this}__txt1{margin-top:34px;}
	}
	&__txt3{margin:8px 0 0;padding-right:50px; font-size:13px; color:#999999; text-align:right;}
	&__txt4{margin-top:40px; font-size:17px; line-height:2.1; color:#333; word-break:keep-all; text-align:center;
		& #{$this}__point1{font-weight:400; font-size:20px;}
		& strong{font-weight:400;}
	}

	&__people{padding-bottom:43.1%; background:url('../images/body/body_fat_img05.png') no-repeat center bottom; background-size:100% auto; text-align:left;}
	&__symbol{display:table-cell; width:1%; height:97px; vertical-align:middle;}
	&__point1{background-color:#ffe7c0; color:#333;}
	&__point2{position:relative; display:inline-block; font-weight:400; color:#fff;
		&:after{position:absolute; width:100%; height:90%; top:5%; left:0; background-color:#fe561b; content:''; z-index:-1; }
	}
	&__point3{font-size:18px; color:#333;}
	&__point4{display:block; font-size:28px; font-weight:400;
		& strong{font-weight:500;}
	}
	&__info{position:relative;}
	@media only screen and (max-width:$tablet-size){
		&__list{margin-top:60px; margin-left:0;
			&.type-another{margin-top:0;}
		}
		&__item{width:100% !important; padding:0;
			&.w-6{padding:0;margin: 0;}
			&.w-12{padding:0;}
		}
		&__wrap{margin-top:30px; padding:0;}
		&__img--bg{margin-top:0px;
			&.type-special{margin-top: 0px;}
		}
		&__img-m{margin-top:50px; overflow:hidden; position:relative; width:100%; height:0; padding-bottom:213.12%; text-indent:-9999px; font-size:0;
			&:before{position:absolute; top:0; left:0; width:100%; height:100%; background:url('../images/body/body_fat_img03_768.jpg') center center; background-size:cover; content:''; }
			&.type-another{padding-bottom:117.73%;
				&:before{ background:url('../images/body/body_fat_img04_768.jpg') center center; background-size:cover;}
			}
		}
		&__txt1{
			& + &{margin-top:25px;
				&.type-another{margin-top:20px;}
			}
		}
		&__txt2{margin-top:16px; font-size:22px;
			& + #{$this}__txt1{margin-top:20px;}
		}
	}
	@media only screen and (max-width:$mobile-size){
		&:first-child{margin-top:105px;}
		&__list{margin-top:30px;
			&.box-style1__list.type-special{margin-top: 30px;}

		}
		&__item{
			&.w-4{padding:0;}
			&.w-8{margin-top:10px; padding:0;}
			&.type-unique{padding: 0 15px;}
		}
		&__wrap{margin-top:15px;}
		&__txt1{font-size:1.4rem; line-height:1.7;
			& + &{
				&.type-another{margin-top:10px;}
			}
			&.type-info{line-height:2;}
		}
		&__txt2{font-size:1.3rem;
			&:before,&:after{width:19px; height:58px;}
			&:before{background:url('../images/body/symbol_left_m.png'); background-size:19px 58px;}
			&:after{background:url('../images/body/symbol_right_m.png'); background-size:19px 58px;}
			& + #{$this}__txt1{margin-top:20px;}
		}

		&__img-m{margin-top: 30px;}
		&__symbol{height:58px;}
		&__point3{font-size:1.7rem;}
		&__point4{font-size:1.6rem;}
		&__box{margin-top:30px;	}
		&__txt3{padding-right:30px; margin-top:5px; font-size:1.1rem;}
		&__txt4{font-size:1.4rem; line-height:1.7;
			& #{$this}__point1{font-size:1.6rem;}
		}
		&__people{
			.content-section__tit{margin-left: -15px;}
		}
	}
}
.box-style1{
	&__item{
		.info-desc__tit{color: #fff;}
		.info-desc__tit strong{color: #fff;}
		.info-desc__txt1{color: #fff;}
		.type-upper{margin-top: -30px;}
		.content-section__txt1{
			&.type-center{text-align: center;}
			&.type-margin{margin: 0;}
			.box-style1__point1{
				&.type-big{font-size: 17px;}
			}
		}
	}
	&__txt2{
		.type-body-fat{display: table; width: 100%;}
	}
	&__box{margin-top:50px;
		.quotation2{padding: 5.1% 7%; width: 100%;}
	}
	&__info{
		.info-btn{color: #333333;}
		.info-btn__icon{top: 6px;}

	}
	@media only screen and (max-width:$tablet-size){
		&__item{
		}
		&__item{
		.info-desc__tit{color: #333;}
		.info-desc__tit strong{color: #333;}
		.info-desc__txt1{color: #333;}
		}
		&__box{margin-top:50px;
			.quotation2{padding: 5.1% 7%; width: 100%;}
		}
	}
	@media only screen and (max-width:$mobile-size){
		&__item{
			.type-upper{margin-top: -15px;}
			.content-section__txt1{
				.box-style1__point1{
					&.type-big{font-size: 1.7rem;}
				}
			}
		}
		&__box{margin-top:20px;
			.quotation2{padding: 5.1% 3%; }
		}
	}
}

.fat-box1{
	.content-section__txt1{margin: 0;}
	@media only screen and (max-width:$tablet-size){
		.box-style1__txt1{padding-right: 0;}
		.content-section{
			&__txt1 + .content-section__txt1{margin-top: 25px;}
			}
		}
	@media only screen and (max-width:$mobile-size){

		}
	}

.fat-box2{
	.brace{width: 100%; padding: 0 17%; font-weight: 500;}
	.quotation2{width: 100%; margin-top: 50px;}
	@media only screen and (max-width:$tablet-size){
		.box-style1__txt2{margin-top: 30px;}
		}
	@media only screen and (max-width:$mobile-size){
		.quotation2{margin-top: 20px;}
		.brace{padding: 0 10%;}
		}
	}

.fat-box3{
	.content-section__txt1{padding-right: 14%;}
	.box-style1__img--bg{margin-top: 90px;}
	.box-style1__img--bg img{width: 100%;}
	@media only screen and (max-width:$tablet-size){
		.content-section__txt1{padding-right: 0%;}
		.box-style1__img-m{margin-top: 80px;}
		}
	@media only screen and (max-width:$mobile-size){

		}
	}
.fat-box4{
	.content-section__txt1{text-align: center;}
	.content-section__txt1 strong{font-weight: 600;}
	@media only screen and (max-width:$tablet-size){
		}
	@media only screen and (max-width:$mobile-size){padding: 0 15px;

		}
	}


.way{position:relative; margin-top:40px; padding-bottom:60px; background: url('../images/body/ruler_bg.png') left bottom repeat-x;
	$this:&;
	&:before{position:absolute; top:0; left:0; display:block; width:100%; height:100%; padding-top: 154px; background:#fef8e6; content:''; z-index:-1; background-clip:content-box;box-sizing: border-box;}
	&__wrap{width:960px; margin:0 auto;}
	&__list{margin: -40px 0 0 -25px;padding: 0;list-style: none;font-size:0; text-align:center;}
	&__item{display:inline-block; width:25%; margin-top:40px; padding-left:25px;box-sizing: border-box;
		&.nth-2{
			& #{$this}__txt:before{background-position:0 -216px;}
		}
		&.nth-3{
			& #{$this}__txt:before{background-position:0 -432px;}
		}
		&.nth-4{
			& #{$this}__txt:before{background-position:0 -648px;}
		}
		&.nth-5{
			& #{$this}__txt:before{background-position:0 -864px;}
		}
		&.nth-6{
			& #{$this}__txt:before{background-position:0 -1080px;}
		}
		&.nth-7{
			& #{$this}__txt:before{background-position:0 -1296px;}
		}
	}
	&__txt{font-size:18px; line-height:1.4; margin: 0;
		&:before{display:block; width:216px; height:216px; margin:0px auto 15px; background:url('../images/body/body_icon.png'); content:'';}
	}
	@media only screen and (max-width:$tablet-size){margin:60px -65px; padding:0 65px 50px; background:none;
		&:before{padding-top: 140px;}
		&__wrap{width:100%;}
		&__item{width:33.33%;
			&.nth-2{
				& #{$this}__txt:before{background-position:0 -192px;}
			}
			&.nth-3{
				& #{$this}__txt:before{background-position:0 -384px;}
			}
			&.nth-4{
				& #{$this}__txt:before{background-position:0 -576px;}
			}
			&.nth-5{
				& #{$this}__txt:before{background-position:0 -768px;}
			}
			&.nth-6{
				& #{$this}__txt:before{background-position:0 -960px;}
			}
			&.nth-7{
				& #{$this}__txt:before{background-position:0 -1152px;}
			}
		}
		&__txt{font-size:16px;
			&:before{display:block; width:192px; height:192px;  background:url('../images/body/body_icon.png'); background-size:192px 1344px; content:'';}
		}
	}
	@media only screen and (max-width:$mobile-size){margin:30px -20px; padding:0 25px 40px; box-sizing:border-box;
		&:before{padding-top:96px;}
		&__list{margin-top:-30px; margin-left:-12px; text-align:left;}
		&__item{width:50%; margin-top:30px; padding-left:12px; text-align:center;
			&.nth-2{
				& #{$this}__txt:before{background-position:0 -135px;}
			}
			&.nth-3{
				& #{$this}__txt:before{background-position:0 -270px;}
			}
			&.nth-4{
				& #{$this}__txt:before{background-position:0 -405px;}
			}
			&.nth-5{
				& #{$this}__txt:before{background-position:0 -540px;}
			}
			&.nth-6{
				& #{$this}__txt:before{background-position:0 -675px;}
			}
			&.nth-7{
				& #{$this}__txt:before{background-position:0 -810px;}
			}
		}
		&__txt{font-size:1.4rem;
			&:before{display:block; width:135px; height:135px; margin:0px auto 15px; background:url('../images/body/body_icon_m.png'); background-size:135px 945px; content:'';}
		}
		&__point{font-size:1.1rem;}
	}
}
