.new-visual{
	$this:&;
	&.type-elastic{
		&:before{
			@include background('../images/wrinkle/elastic/elastic_visual_1.jpg','no-repeat center center / cover');
		}
		#{$this}__item{background: $wrinkle1;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-elastic{
			&:before{
				@include background('../images/wrinkle/elastic/elastic_visual_1_t.jpg','no-repeat center center / cover');
			}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-elastic{
			&:before{
				@include background('../images/wrinkle/elastic/elastic_visual_1_m.jpg','no-repeat center center / cover');
			}
		}
	}
}

.new-style1{
	$this:&;

	&.type-elastic{@include background('../images/wrinkle/elastic/elastic_bg_1.jpg','no-repeat center bottom / contain');}
    &.type-elastic2{background: $black1;
        #{$this}__tit{color: #fff;}
        #{$this}__txt{color: #fff;}
        #{$this}__txt2{color: #aaa;}
    }
    &.type-elastic3{background: #eee;}
    &.type-elastic4{background: #010b21;
        #{$this}__tit{color: #fff;}
        #{$this}__txt{color: #aaa;}
        #{$this}__txt2{color: #fff;}
    }
	&.type-elastic5{background: #1d0002;
		#{$this}__tit{color: #fff;}
		#{$this}__txt{color: #aaa;}
		#{$this}__txt2{color: #fff;}
	}
}
