<%
	type = "detail"
	page = "wrinkle"
%>
<% include ../_include/_header %>

<!-- Content -->
<div class="wrinkle detail-common" data-video="true">
    <section class="fs_section wrinkleFirst js-first" data-section-name="home">
		<div class="detail__inner">
			<div class="detail__vertical">
				<p class="detail__first-tit type-wrinkle">
					<span class="color-wrinkle0">光滑的</span> 皮肤<span class="color-wrinkle1"><span class="style-comma">，</span> 生动的</span> 弹力<span class="style-comma color-wrinkle1">，</span>
					<span class="detail__first-piece type-wrinkle"><span class="color-wrinkle1">自然的</span> 表情</span>
				</p>
				<h3 class="detail__first-txt type-wrinkle">
					<span class="detail__first-bwrap">连心态都变年轻的<b class="detail__first-bar type-wrinkle"></b></span><br>
					<strong class="detail__first-point">佰诺佰琪 <span class="color-wrinkle2">童颜整形</span> 细节</strong>
				</h3>
			</div>
		</div>
		<div class="scroll">
			<div class="inner">
				<i></i>
			</div>
			<em>SCROLL</em>
		</div>
    </section>

    <section class="fs_section wrinkleSection01" data-section-name="wrinkleSection01">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="detail__section-box type-normal type-wrinkle">
	              	<h4 class="detail__section-tit">
	                	<strong>童颜整形</strong><span class="color-comma">，</span><br>
						<span class="detail__section-bwrap">佰诺佰琪是</span><br class="hidden-tm">
						<strong class="color-wrinkle3">这样</strong> 做的。
	              	</h4>
	              	<p class="detail__section-subtit">考虑表情的童颜整形专家</p>
	              	<p class="detail__section-txt">
						面部皱纹是因反复做习惯性的表情而产生的。所以童颜整形的基础是对面部表情肌肉要有一定的理解。
						<span class="color-wrinkle4">佰诺佰琪童颜整形以专业化的知识及眼光，掌握患者的表情肌肉，改善老化的原因。</span>
						因此更有效果，表情也更自然。
	              	</p>
	            </div>
				<!--layer-doc3-->
				<div class="layer-doc3">
					<div class="layer-doc3__box">
						<h5 class="layer-doc3__tit">中央日报选定<br class="hidden-pt"> <span class="font-eng">Good doctor best clinic</span><br>
							12人中有潘在常院长</h5>
						<p class="layer-doc3__txt">了解潘在常院长对抗老化的见解</p>
					</div>
				</div><!--//layer-doc3-->
			</div>
		</div>
    </section>

	<section class="fs_section wrinkleSection02" data-section-name="wrinkleSection02">
	  	<div class="detail__inner">
			<div class="detail__vertical">
			  	<div class="detail__section-box type-wrinkle">
				  	<h4 class="detail__section-tit">
					  	<strong>童颜整形，</strong><span class="color-comma">，</span><br>
					  	<span class="detail__section-bwrap">佰诺佰琪</span><br class="hidden-m">
					  	帮您<strong class="color-wrinkle5">重返年轻</strong>
				  	</h4>
				  	<p class="detail__section-subtit">考虑皮肤，脂肪，肌肉，<br>骨头等面部所有组织老化的手术</p>
				  	<p class="detail__section-txt">
						面部的老化，皱纹的出现是因皮肤及骨头等所有组织失去弹力，肌肉消失及退化而引起的。为了恢复外表的美丽，佰诺佰琪恢复面部所有层的弹力，重建及修复老化的组织。佰诺佰琪追求的年轻
						<span class="color-wrinkle2">不是一时的变化，而是能长久保持年轻，更健康的抗老化效果。</span>
				  	</p>
			  	</div>
			</div>
		</div>
	</section>

	<section class="fs_section wrinkleSection03" data-section-name="wrinkleSection03">
		<div class="detail__inner type-full">
			<div class="detail__popup type-wrinkle">
				<div class="detail__popup-wrap">
					<h5 class="detail__popup-tit">各部位童颜整形<span class="color-wrinkle2">.</span></h5>
					<p class="detail__popup-subtit">改善各部位出现的多样皱纹</p>
					<div class="detail__popup-scroll">
						<div class="fake-table">
							<ul class="fake-table__list">
								<li class="fake-table__item">
									<h6 class="fake-table__tit">部位</h6>
									<p class="fake-table__txt">维持时间</p>
								</li>
								<li class="fake-table__item">
									<h6 class="fake-table__tit">上面部</h6>
									<div class="fake-table__txt type-1"><div class="fake-table__wrap"><span class="fake-table__type fake-table__type3">施术</span><br>额头肉毒素</div></div>
									<div class="fake-table__txt type-2"><div class="fake-table__wrap"><span class="fake-table__type fake-table__type3">施术</span><br>爱贝芙
										<span class="inline-block">半永久玻尿酸</span></div></div>
									<div class="fake-table__txt type-3 type-another1"><div class="fake-table__wrap"><span class="fake-table__type fake-table__type4">最小切口</span><br>内视镜切眉<br> 提升</div></div>
								</li>
								<li class="fake-table__item">
									<h6 class="fake-table__tit">中面部</h6>
									<div class="fake-table__txt type-1 type-another1">
										<div class="fake-table__wrap">
											<span class="fake-table__type fake-table__type3">施术</span><br>脂肪填充
										</div>
									</div>
									<div class="fake-table__txt type-2">
										<div class="fake-table__wrap">
											<span class="fake-table__type fake-table__type3">施术</span><br>爱贝芙
										 	<span class="inline-block">半永久玻尿酸</span>
										</div>
									</div>
									<div class="fake-table__txt type-1 type-another1">
										<div class="fake-table__wrap">
											<span class="fake-table__type fake-table__type5">切开</span><br>中面部
											<span class="inline-block">提升术</span>
										</div>
									</div>
								</li>
								<li class="fake-table__item">
									<h6 class="fake-table__tit">下面部</h6>
									<div class="fake-table__txt type-1">
										<div class="fake-table__wrap">
											<span class="fake-table__type fake-table__type1">非切开</span><br>可溶线提升
										</div>
									</div>
									<div class="fake-table__txt type-2 type-another2">
										<div class="fake-table__wrap">
											<span class="fake-table__type fake-table__type1">非切开</span><br>面部轮廓
										</div>
									</div>
									<div class="fake-table__txt type-1">
										<div class="fake-table__wrap">
											<span class="fake-table__type fake-table__type1">非切开</span><br>非切开弹力胶带提升
										</div>
									</div>
									<div class="fake-table__txt type-2">
										<div class="fake-table__wrap">
											<span class="fake-table__type fake-table__type2">微小切开</span><br>切开弹力胶带提升
										</div>
									</div>
									<div class="fake-table__txt type-3 type-another2">
										<div class="fake-table__wrap">
											<span class="fake-table__type fake-table__type4">切开</span><br>全脸面部提升术
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<a href="" class="detail__popup-close js-popup-close">关闭</a>
				</div>
			</div>
  			<div class="detail__section-wrap type-wrinkle">
  				<div class="detail__vertical">
  					<div class="detail__section-box type-wide type-right type-wrinkle">
						<h4 class="detail__section-tit">
							<strong>童颜整形</strong><span class="color-comma">，</span><br>
							<span class="detail__section-bwrap">佰诺佰琪</span><br>
							了解<strong class="color-wrinkle3">答案</strong>
						</h4>
						<p class="detail__section-subtit">集中改善希望的部位<br> &amp; 对所有部位的解决方案</p>
						<p class="detail__section-txt color-wrinkle4">
							面部的各部位因其部位的不同，形状及作用也会不同。 因此老化的形态也很多样。为了更有效地进行抗衰老，比起同一种手术方法，需要适合各部位特征的方法。佰诺佰琪以长期以来的经验及技术力为基础，科进行提升，脂肪移植，肉毒素等面部所有部位的定制型抗衰老施术。
						</p>
					</div>
  				</div>
  			</div>
  		</div>
		<div class="detail__section-bottom type-wrinkle">
			<div class="detail__section-set">
				佰诺佰琪各部位童颜整形
				<span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open type-wrinkle">팝업버튼</a></span>
			</div>
		</div>
    </section>

    <section class="fs_section wrinkleSection04" data-section-name="wrinkleSection04">
		<div class="detail__inner">
	  		<div class="detail__vertical">
	  			<div class="detail__section-box type-wide type-wrinkle">
	  				<h4 class="detail__section-tit">
	  					<strong>童颜整形</strong><span class="color-comma">，</span><br>
	  					<span class="detail__section-bwrap">佰诺佰琪</span><br class="hidden-tm">
	  					进行<strong class="color-wrinkle3">研究</strong>
	  				</h4>
	  				<p class="detail__section-subtit">为了更卓越的效果<br class="hidden-p">技术力的组合</p>
	  				<p class="detail__section-txt">
						佰诺佰琪童颜整形专家团队一直致力于研究有没有更好的手术方法。研究的成果是使用弹力胶带的线提升，让手术恢复时间变短，效果更好。 利用SVF干细胞能期待更好的效果，Xcar+肉毒素等多种技术结合在一起能达到双重效果<span class="color-wrinkle4">佰诺佰琪手术满意度高的原因在于多年间积累的经验及技术力为基础进行手术。</span>
	  				</p>
	  			</div>
				<!-- layer-doc4 -->
				<div class="layer-doc4">
				  	<ul class="layer-doc4__list">
				  		<li class="layer-doc4__item nth-1">
				  			<div class="layer-doc4__wrap">
				  				<h5 class="layer-doc4__tit">弹力胶带提升</h5>
								<p class="layer-doc4__txt">
									韧带再建用弹力胶带
									佰诺佰琪最先
									开始对提升
									进行研究和临床试验
								</p>
				  			</div>
				  		</li>
				  		<li class="layer-doc4__item nth-2">
							<div class="layer-doc4__wrap">
				  				<h5 class="layer-doc4__tit">SVF细胞<br> 脂肪注入术</h5>
								<p class="layer-doc4__txt">
									高脂肪细胞生存率
									及刺激组织再生的SVF
									注入后，效果
									更好
								</p>
				  			</div>
				  		</li>
				  		<li class="layer-doc4__item nth-3">
							<div class="layer-doc4__wrap">
				  				<h5 class="layer-doc4__tit">内视镜<br> 额头提升</h5>
								<p class="layer-doc4__txt">
									利用内视镜和正品安多泰
									假体进行细致的
									额头提升
								</p>
				  			</div>
				  		</li>
				  	</ul>
				</div>
				<!-- //layer-doc4 -->
	  		</div>
		</div>
    </section>

	<section class="fs_section wrinkleSection05" data-section-name="wrinkleSection05">
		<div class="detail__inner">
	  		<div class="detail__vertical">
	  			<div class="detail__section-box type-wide type-wrinkle">
	  				<h4 class="detail__section-tit">
	  					<strong>童颜整形</strong><span class="color-comma">，</span><br>
	  					<span class="detail__section-bwrap">佰诺佰琪</span><br class="hidden-m">
	  					注重<strong class="color-wrinkle5">细节</strong>
	  				</h4>
	  				<p class="detail__section-subtit">为了高龄患者的快速恢复，<br> 负担小的手术方法</p>
	  				<p class="detail__section-txt">
						考虑童颜整形的人一般都是年龄段比较大的顾客。对麻醉及手术都会担心，也会担心恢复时间的问题。研究童颜整形时，佰诺佰琪不得不考虑恢复问题。佰诺佰琪追求的童颜整形首先是效果要好，还要安全，对恢复没有负担。 佰诺佰琪以这一基本原则为基础
						<span class="color-wrinkle2">不断地考虑新的手术方法及复合的手术方法。 </span>
	  				</p>
	  			</div>
	  		</div>
		</div>
    </section>

    <section class="fs_section wrinkleSection06" data-section-name="wrinkleSection06">
		<div class="video">
			<div class="video__desc">
				<div class="video__tit">佰诺佰琪的童颜整形</div>
				<div class="video__txt1">10年以上半永久的持续性</div>
			</div>
			<div class="video__wrap">
				<div id="youkuplayer" class="video__item"></div>
				<div class="video__tablet">
					<iframe class="youku-player" src='http://player.youku.com/embed/XMzYzMDQ3ODM4OA==?autoplay=false'></iframe>
				</div>
				<div class="video__screen"></div>
			</div>
			<div class="video__btn-area">
				<span class="video__btn--counsel js-consultation">点击咨询</span>
			</div>
		</div>
    </section>
</div>
<!-- //Content -->

<% include ../_include/_footer %>
