<%
	type = "content"
	page = "wrinkle"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>

    <div class="content">
		<% include ../_include/_tooltip %>
		<div class="new-visual type-elastic">
			<div class="new-visual__box">
				<div class="new-visual__outer">
					<div class="new-visual__inner">
						<p class="new-visual__subtit">秘诀与技术合并的提拉</p>
						<h3 class="new-visual__tit">
                            <span class="n-color-wrinkle2">弹力胶带</span>提拉
                        </h3>
						<p class="new-visual__txt">更加持久自然的年轻</p>
						<ul class="new-visual__list">
							<li class="new-visual__item"><span>#精巧的技术</span></li>
							<li class="new-visual__item"><span>#自然的结果</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- //new-visual-->

		<div class="new-content-wrap">
            <div class="new-section">
				<div class="new-style1 type-elastic">
					<h4 class="new-style1__tit tit-new1 weight-bold">
						需要准确地了解<span class="n-color-wrinkle2">原因</span>，才可以进行改善
					</h4>
					<p class="new-style1__txt txt-new1">
                        在初次老化之前，我们的脸上会有充沛的胶原蛋白来支撑皮肤和皮下脂肪层，使下边的筋膜层形成更牢固地定位。但是胶原蛋白会随着时间的推移而减少，脂肪也会相对开始下垂。所以，随着失去平衡，筋膜层也会松垮掉。如果肌膜层就这样失去力量，再次回复是很难得，从表面上看时，根据不同的表情会导致留下皱纹，产生皮肤松弛。
					</p>
					<p class="new-style1__txt2 txt-new2">
						因此为了从根本上改善脸部松弛和皱纹，
						<span class="n-color-wrinkle2">皮下脂肪层下的坍塌的肌膜层的修复</span>被认为<span class="n-color-wrinkle2">是最重要的。</span>
					</p>
                    <div class="inner-circle type-wrinkle type-mbig">
                        <ul class="inner-circle__list">
                            <li class="inner-circle__item txt-new1">
                                <div class="vertical-box">
                                    胶原蛋白丧失
                                </div>
                            </li>
                            <li class="inner-circle__item txt-new1">
                                <div class="vertical-box">
                                    脂肪累积
                                </div>
                            </li>
                            <li class="inner-circle__item txt-new1">
                                <div class="vertical-box">
                                    面部筋膜层塌陷
                                </div>
                            </li>
                            <li class="inner-circle__item txt-new1">
                                <div class="vertical-box">
                                    肌肤无力及产生皱纹
                                </div>
                            </li>
                        </ul>
                    </div>
					<div class="new-style1__img mobile-padding">
						<img src="../../images/wrinkle/elastic/elastic_img_1.png" alt="model before & after" class="img-normal">

                        <div class="new-style1__overlay type-left">
                            <img src="../../images/wrinkle/elastic/elastic_img_2.png" alt="before" class="img-w100">
                        </div>
                        <div class="new-style1__overlay type-right">
                            <img src="../../images/wrinkle/elastic/elastic_img_3.png" alt="术后6个月" class="img-w100">
                        </div>
					</div>
				</div>
			</div>

            <div class="new-section type-cling">
                <div class="new-style1 type-bottom type-elastic2">
                    <h4 class="new-style1__tit tit-new1 weight-bold">
                        弹力胶带是强化<span class="n-color-wrinkle3">筋膜层本身</span>
                    </h4>
                    <p class="new-style1__txt txt-new2">
                        造成皮肤下垂和皱纹的最根本原因是筋膜层的老化。佰诺佰琪将<span class="n-color-wrinkle3">弹力胶带</span>适用于强化这种筋膜层的材料。
                    </p>
                    <p class="new-style1__txt2 txt-new1">
                        这个特殊的线作为世界级的重建整容的权威者意大利的Dr.Capurro研发出的强力医用线，<span class="color-white">，在人体内和周边组织结合起来，</span>发挥<span class="color-white">和韧带一样的作用。</span>因为是强化松塌的筋膜层的原理，所以更加安全，对运动有弹性的反应，可以期待更加自然的效果。另外，由于试用埋线，无需大的切开，手术的负担相对较轻，并且能迅速恢复的优点。
                    </p>
					<div class="new-style1__img">
						<img src="../../images/wrinkle/elastic/elastic_img_4.jpg" alt="model" class="img-normal"/>
					</div>
                    <div class="inner-box">
                        <div class="img-style3 type-wide type-cling type-wrinkle">
                            <h5 class="new-content-tit tit-new2">
                                弹力胶带的<span class="weight-bold">特征</span>
                            </h5>

                            <ul class="img-style3__list">
                                <li class="img-style3__item">
                                    <div class="img-style3__img">
                                        <img src="../../images/wrinkle/elastic/elastic_img_5.jpg" alt="弹力胶带的强力弹性使其自由自在的延展" class="img-w100"/>
                                    </div>
                                    <div class="img-style3__caption txt-new2">
                                        <div class="img-style3__vertical">
                                            弹力胶带的强力弹性使其自由自在的延展
                                        </div>
                                    </div>
                                </li>
                                <li class="img-style3__item">
                                    <div class="img-style3__img">
                                        <img src="../../images/wrinkle/elastic/elastic_img_6.jpg" alt="具有可比性的强力的弹性和延展力，适用范围更广几乎不必担心断裂 - 根据肌肉的运动轨迹与其说柔和不如说更加自然 - 涤纶材质包裹，几乎没有组织损伤或异物感 - 无需大面积开刀，相对来说更快的恢复，减少疤痕担忧" class="img-w100 hidden-tm"/>
										<img src="../../images/wrinkle/elastic/elastic_img_6_t.jpg" alt="具有可比性的强力的弹性和延展力，适用范围更广几乎不必担心断裂 - 根据肌肉的运动轨迹与其说柔和不如说更加自然 - 涤纶材质包裹，几乎没有组织损伤或异物感 - 无需大面积开刀，相对来说更快的恢复，减少疤痕担忧" class="img-w100 hidden-p"/>
                                    </div>
                                    <div class="img-style3__caption txt-new2">
                                        <div class="img-style3__vertical">
                                            硅胶上的聚酯像网孔一样被编织后覆盖着的形态，具有更强的拉伸力和安全的组织融合效果。
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="new-section type-cling">
                <div class="new-style1 type-bottom type-elastic3">
                    <h4 class="new-style1__tit tit-new1 weight-bold">
                        从手术者的能力来看可追求<span class="n-color-wrinkle2">卓越的效果</span>
                    </h4>
                    <p class="new-style1__txt txt-new2">
                        <span class="n-color-wrinkle2">为了使用的弹力胶带的提拉效果最大化，需要</span>有关弹力胶带准确的认识，对于面部各部分的充分理解和体验，<span class="n-color-wrinkle2">以及基于这两样基础的</span>精准的感官与技术。
                    </p>
                    <p class="new-style1__txt2 txt-new1">
                        佰诺佰琪聘请了研究出弹力胶带的Dr.卡普轮先生，将技术和手术方法共有，可持续性的开展医学交流。而且以童颜整形专家小组的资深经验和秘诀为基点，根据东南亚人的特点进行适用于他们的弹力线。所以佰诺佰琪相比弹力线的优点，更加致力于它的效果，使其可以成为更具效果的、满足度更高的提拉弹力胶带。
                    </p>
                    <div class="inner-box">
                        <div class="img-style3 type-cling type-wrinkle">
                            <h5 class="new-content-tit tit-new2">
                                更具效果的佰诺佰琪<span class="weight-bold">弹力胶带提拉</span>
                            </h5>

                            <ul class="img-style3__list">
                                <li class="img-style3__item">
                                    <div class="img-style3__img">
                                        <img src="../../images/wrinkle/elastic/elastic_img_7.jpg" alt="POINT 01 与研究出弹力胶带的Dr.卡普轮先生进行医学上的交流" class="img-w100"/>
                                    </div>
                                    <div class="img-style3__caption txt-new2">
                                        <div class="img-style3__vertical">
                                            POINT 01
                                        </div>
                                    </div>
									<p class="img-style3__txt2 txt-new1">与研究出弹力胶带的Dr.卡普轮先生进行医学上的交流</p>
                                </li>
                                <li class="img-style3__item">
                                    <div class="img-style3__img">
                                        <img src="../../images/wrinkle/elastic/elastic_img_8.jpg" alt="POINT 02 童颜整形专家小组的构成，更加专业化、精确地感觉及技术" class="img-w100"/>
                                    </div>
                                    <div class="img-style3__caption txt-new2">
                                        <div class="img-style3__vertical">
                                            POINT 02
                                        </div>
                                    </div>
									<p class="img-style3__txt2 txt-new1">童颜整形专家小组的构成，更加专业化、精确地感觉及技术</p>
                                </li>
                            </ul>
                        </div>

                        <div class="img-style3 type-wide type-wrinkle">
                            <ul class="img-style3__list">
                                <li class="img-style3__item">
                                    <div class="img-style3__img">
                                        <img src="../../images/wrinkle/elastic/elastic_img_9.jpg" alt="POINT 03 凭借资深的经验及技术将童颜手术中肌肉表情也考虑在内的佰诺佰琪，以人为本追求适合的抗老化方法。" class="img-w100"/>
                                    </div>
                                    <div class="img-style3__caption txt-new2">
                                        <div class="img-style3__vertical">
                                            POINT 03
                                        </div>
                                    </div>
									<p class="img-style3__txt2 txt-new1">
										凭借资深的经验及技术将童颜手术中肌肉表情也考虑在内的佰诺佰琪，以人为本追求适合的抗老化方法。
									</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
			<div class="new-tab__line">line</div>
            <div class="new-tab type-wrinkle">
				<div class="new-tab__tit">
					<div class="new-tab__wrap">
						<a href="" class="new-tab__btn">弹力胶带提拉（切开）</a>
					</div>
				</div>
				<ul class="new-tab__list">
					<li class="new-tab__item is-active">
						<div class="new-tab__wrap">
							<a href="page-incision" class="new-tab__link">弹力胶带提拉（切开）</a>
						</div>
					</li>
					<li class="new-tab__item">
						<div class="new-tab__wrap">
							<a href="page-nonincision" class="new-tab__link">弹力胶带提拉（非开刀）</a>
						</div>
					</li>
				</ul>
			</div>

			<div class="new-tab-content page-incision is-active">
                <div class="new-section type-cling">
					<div class="new-style1 type-bottom type-elastic4">
						<h4 class="new-style1__tit tit-new1 weight-bold">
							佰诺佰琪运用自身经验将<span class="n-color-wrinkle3">弹力胶带运用</span>到面部提升术中
						</h4>
						<p class="new-style1__txt txt-new1">
                            面部提升术是将下垂产生皱纹的大部分皮肤剥离再拉紧后，再将多余皮肤切除的手术。相对来说是一种比较直观的方法，效果卓越，患者满意度较高。由于大面积的剥离，对于皮肤组织的损伤和恢复时间来说，有可能会让人感到担忧。
						</p>
						<p class="new-style1__txt2 txt-new2">
							佰诺佰琪的弹力胶带通过适合的治疗和长久的经验将担忧减小的<span class="n-color-wrinkle3">切开型弹力胶带研究问世。</span>
						</p>
						<div class="new-style1__img">
							<img src="../../images/wrinkle/elastic/elastic_img_10.jpg" alt="model" class="img-normal"/>
						</div>
						<div class="inner-box">
                            <div class="img-style8">
                                <h5 class="new-content-tit type-txt tit-new2">
                                    <span class="weight-bold">切开型</span>弹力胶带提拉
                                </h5>
                                <p class="img-style8__txt txt-new1">
                                    改善面部整体下垂和皱纹。
                                </p>

                                <h6 class="img-style8__subject txt-new2">佰诺佰琪的秘诀</h6>
                                <ul class="img-style8__list">
                                    <li class="img-style8__item nth-1">
                                        <div class="img-style8__img">
                                            <img src="../../images/wrinkle/elastic/elastic_img_11.jpg" alt="让下垂皱纹的皮肤整体拉动，面部提拉术" class="img-w100"/>
                                        </div>
                                        <div class="img-style8__caption txt-new2">
                                            <div class="img-style8__vertical">
                                                <span class="img-style8__txt2 txt-new1">让下垂皱纹的皮肤整体拉动，</span><br>
                                                <span class="img-style8__txt3 txt-new2">面部提拉术</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="img-style8__item nth-2">
                                        <div class="img-style8__img">
                                            <img src="../../images/wrinkle/elastic/elastic_img_12.jpg" alt="更简单，更小的切除，弹力胶带" class="img-w100"/>
                                        </div>
                                        <div class="img-style8__caption txt-new2">
                                            <div class="img-style8__vertical">
                                                <span class="img-style8__txt2 txt-new1">更简单，更小的切除，</span><br>
                                                <span class="img-style8__txt3 txt-new2">弹力胶带</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
						</div>
					</div>
				</div>

                <div class="new-section type-cling">
					<div class="new-style1 type-bottom type-elastic3">
						<h4 class="new-style1__tit tit-new1 weight-bold">
							相比下及<span class="n-color-wrinkle2">便捷</span>又具<span class="n-color-wrinkle2">效果性</span>
						</h4>
						<p class="new-style1__txt txt-new2">
							弹力胶带提拉（切开）跟传统的颜面提升相比运用<span class="n-color-wrinkle2">小切口来进行</span>
						</p>
						<p class="new-style1__txt2 txt-new1">
                            根据弹力胶带的使用程度只切开需要的部分后，利用弹力胶带将塌陷的筋膜层加固，与颜面提升术一起将下垂的皮肤拉紧后，将多余的皮肤切除。由于这种方法减少了切开和剥离的范围大大提高了皮肤组织的保存程度，几乎没有副作用，可以快速的恢复。相反，强化了筋膜层后的效果与颜面提拉术一样出众持久，通过弹力胶带的弹力可以自然的活动，让人期待。
						</p>
						<div class="new-style1__img">
							<img src="../../images/wrinkle/elastic/elastic_img_13.jpg" alt="弹力胶带提拉(切开) - 传统的面部拉皮术剥离范围, 切开型弹力胶带提拉剥离范围" class="img-normal"/>
						</div>
						<div class="inner-box">
                            <div class="new-description type-pd0">
            					<h5 class="new-content-tit tit-new2 type-description">
                                    弹力胶带提拉（切开）的<span class="weight-bold">优势</span>
                                </h5>

            					<ul class="new-description__list">
            						<li class="new-description__item">
            							<p class="new-description__txt txt-new1">
            								<span class="new-description__plus">+</span>
                                            与传统的面部拉皮术相比，通过减少的切口可以更快地恢复
            							</p>
            						</li>
            						<li class="new-description__item">
            							<p class="new-description__txt txt-new1">
            								<span class="new-description__plus">+</span>
            								与面部拉皮术相媲美的面部整体效果与持久性
            							</p>
            						</li>
            						<li class="new-description__item">
            							<p class="new-description__txt txt-new1">
            								<span class="new-description__plus">+</span>
            								像韧带一样的自然活动和弹性
            							</p>
            						</li>
            						<li class="new-description__item">
            							<p class="new-description__txt txt-new1">
            								<span class="new-description__plus">+</span>
            								凭借丰富的手术经验和诀窍，令人满意地改善松弛和皱纹
            							</p>
            						</li>
            					</ul>
            				</div>
						</div>
					</div>
				</div>

				<!-- 手术详情 -->
				<div class="new-section">
					<div class="new-section__wrap type-w">
						<div class="operation-v2 type-wrinkle">
							<div class="operation-v2__wrap">
								<h4 class="operation-v2__tit">手术详情</h4>
								<!-- <p class="operation-v2__subtit">피부 처짐까지 예방하는 광대 성형을 추구합니다.</p> -->
								<ul class="operation-v2__list">
									<li class="operation-v2__item nth-1 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">手术时间</h5>
											<p class="operation-v2__txt txt-new1">约1小时~1小时30分</p>
										</div>
									</li>
									<li class="operation-v2__item nth-2 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">麻醉方法</h5>
											<p class="operation-v2__txt txt-new1">睡眠麻醉</p>
										</div>
									</li>
									<li class="operation-v2__item nth-3 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">拆线</h5>
											<p class="operation-v2__txt txt-new1">约7天后拆线</p>
										</div>
									</li>
									<li class="operation-v2__item nth-4 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">住院时间</h5>
											<p class="operation-v2__txt txt-new1">当天回家</p>
										</div>
									</li>
									<li class="operation-v2__item nth-5 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">来院治疗</h5>
											<p class="operation-v2__txt txt-new1">约1次</p>
										</div>
									</li>
									<li class="operation-v2__item nth-6 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">恢复</h5>
											<p class="operation-v2__txt txt-new1">约3~5天后恢复日常生活</p>
										</div>
									</li>

								</ul>
								<div class="pain-v2 type-wrinkle">
									<h5 class="pain-v2__tit txt-new2">术后体感疼痛</h5>
									<ol class="pain-v2__list">
										<% for(var i = 1; i<= 10; i++){%>
											<%if(i <= 2){%>
												<li class="<%="pain-v2__item is-active nth-"+i%>">
													<div class="pain-v2__square">square</div>
												</li>
											<%}else{%>
												<li class="<%="pain-v2__item nth-"+i%>">
													<div class="pain-v2__wrap">
														<div class="pain-v2__square">square</div>
													</div>
												</li>
											<%}%>
										<%}%>
									</ol>
									<p class="pain-v2__txt txt-new1">
										麻醉药效解除的过程中，会有阵痛感，随着时间的推移会逐渐缓解。<br>
		                                拆线和消毒的时候会有些许刺痛感。<br>
		                                手术后几天内会感到些许紧绷和麻麻的感觉。<br>
		                                手术后2周左右大笑或嘴巴张大的话也许会有痛感。
									</p>
									<div class="pain-v2__box">
										<p class="pain-v2__noti txt-new4">* 通过对术后患者进行问卷调查得出的平均值</p>
										<p class="pain-v2__noti txt-new4">* 从数据不存在绝对性，会存在个人差异，仅供大家作为参考。</p>
									</div>
								</div><!-- //pain -->
							</div>
						</div>
					</div>
				</div>

                <div class="new-section">
					<div class="bg-style2">
						<h4 class="new-content-tit tit-new2">与其他手术一起做的话，可以得到更好的结果。</h4>

						<ul class="bg-style2__list">
							<li class="bg-style2__item type-forehead">
								<div class="bg-style2__wrap">
									<div class="bg-style2__box">
										<h5 class="bg-style2__subtit txt-new2">内视镜额头提拉</h5>
										<p class="bg-style2__txt txt-new1">
                                            内视镜的额头提拉可以改善包括眼角纹在内的上面部的松弛下垂。
										</p>
										<a href="wrinkleForehead.php" class="bg-style2__btn txt-new1">
											<span>内视镜额头点击查看</span>
										</a>
									</div>
								</div>
							</li>
							<li class="bg-style2__item type-botox">
								<div class="bg-style2__wrap">
									<div class="bg-style2__box">
										<h5 class="bg-style2__subtit txt-new2">肉毒杆菌</h5>
										<p class="bg-style2__txt txt-new1">
                                            必要的时候,增加肉毒杆菌注射可预防皱纹。
										</p>
										<a href="https://www.petitbanobagi.com/petit/petitBotox.php" target="_blank" class="bg-style2__btn txt-new1">
											<span>肉毒杆菌点击查看</span>
										</a>
									</div>
								</div>
							</li>
						</ul>
					</div>
    			</div>
			</div><!-- //new-tab-content-->

			<div class="new-tab-content page-nonincision">
				<div class="new-section type-cling">
					<div class="new-style1 type-bottom type-elastic3">
						<h4 class="new-style1__tit tit-new1 weight-bold">
							以佰诺佰琪的秘诀为基础在<span class="n-color-wrinkle2">线提升</span>中增加了<span class="n-color-wrinkle2">弹力胶带提升法</span>
						</h4>
						<p class="new-style1__txt txt-new1">
							非切开弹力胶带提拉是在传统的线提升的方法中利用弹力胶带的改善方法。但是即使是同种方法，由于弹力胶带的特性，手术的效果及目的也是会产生差异的。<br><br>

							一般来说，埋线提拉就是单纯地将皮肤下的组织用线拉升固定的原理。改善导致皮肤松弛坍塌的筋膜层，是更能产生短暂的表面效果的手术。但是非切开弹力线提拉强化了导致皮肤松弛下垂的筋膜层的力量，是相对通过自然的方法改善了皮肤松弛。
						</p>
						<p class="new-style1__txt2 txt-new2">
							因此,这个效果会比传统的埋线提升持续更久，可以<span class="n-color-wrinkle2">寻求根本上皮肤松弛的改善</span>。
						</p>
						<div class="new-style1__img">
							<img src="../../images/wrinkle/elastic/elastic_img_14.jpg" alt="非切开弹力胶带提升 - 切开位置" class="img-normal"/>
						</div>
						<div class="inner-box">
							<div class="img-style8">
                                <h5 class="new-content-tit tit-new2">
                                    弹力胶带提升(非切开)的<span class="weight-bold">适用</span>
                                </h5>

                                <h6 class="img-style8__subject txt-new2 type-cling">非切开弹力胶带提升</h6>
                                <ul class="img-style8__list type-cling">
                                    <li class="img-style8__item nth-1">
                                        <div class="img-style8__img">
                                            <img src="../../images/wrinkle/elastic/elastic_img_15.jpg" alt="拉动皮肤下面的组织的线提升" class="img-w100"/>
                                        </div>
                                        <div class="img-style8__caption txt-new2">
                                            <div class="img-style8__vertical">
                                                <span class="img-style8__txt2 txt-new1">拉动皮肤下面的组织的</span><br>
                                                <span class="img-style8__txt3 txt-new2">线提升</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="img-style8__item nth-2">
                                        <div class="img-style8__img">
                                            <img src="../../images/wrinkle/elastic/elastic_img_12.jpg" alt="强化造成皮肤松弛的根本原因筋膜层松塌的弹力胶带" class="img-w100"/>
                                        </div>
                                        <div class="img-style8__caption txt-new2">
                                            <div class="img-style8__vertical">
                                                <span class="img-style8__txt2 txt-new1">强化造成皮肤松弛的根本原因筋膜层松塌的</span><br>
                                                <span class="img-style8__txt3 txt-new2">弹力胶带</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
						</div>
					</div>
				</div>

				<div class="new-section type-cling">
					<div class="new-style1 type-bottom type-elastic5">
						<h4 class="new-style1__tit tit-new1 weight-bold">
							更自然和更有效的提拉<span class="n-color-wrinkle3">更持久的维持</span>
						</h4>
						<p class="new-style1__txt txt-new1">
                            非切开弹力胶带提升的最大优点是，效果比传统的提升效果更好的同时还是个相对较简单的手术。
                            由于适用于筋膜层，因此与单纯的拉动皮肤下面组织的埋线提升相比，可视为根本改善皮肤下垂的情况，
                            作为具有着对人体无害且有弹性特征的弹力胶带，几乎没有异物感，表情也很自然。
                            并且因为几乎没有切开，减轻了疼痛和恢复期的负担。因为只需提拉必要部位让其恢复弹力，所以几乎没有组织损伤。
						</p>
						<p class="new-style1__txt2 txt-new2">
							通过这些优点，非切开弹力胶带提升能<span class="n-color-wrinkle3">适用于多样的部位</span>，与其他施术及手术一起复合式地进行应用，能<span class="n-color-wrinkle3">期待更有效的童颜整形效果</span>
						</p>
						<div class="new-style1__img">
							<img src="../../images/wrinkle/elastic/elastic_img_16.jpg" alt="model " class="img-normal"/>
						</div>
						<div class="inner-box">
							<div class="new-description type-pd0">
            					<h5 class="new-content-tit tit-new2 type-description">
                                    弹力胶带提升(非切开)的<span class="weight-bold">优势</span>
                                </h5>

            					<ul class="new-description__list">
            						<li class="new-description__item">
            							<p class="new-description__txt txt-new1">
            								<span class="new-description__plus">+</span>
                                            像埋线提升一样，相对简易的手术和快速的恢复
            							</p>
            						</li>
            						<li class="new-description__item">
            							<p class="new-description__txt txt-new1">
            								<span class="new-description__plus">+</span>
            								效果比普通埋线提升更持久
            							</p>
            						</li>
            						<li class="new-description__item">
            							<p class="new-description__txt txt-new1">
            								<span class="new-description__plus">+</span>
            								像韧带一样的自然活动与弹力
            							</p>
            						</li>
            						<li class="new-description__item">
            							<p class="new-description__txt txt-new1">
            								<span class="new-description__plus">+</span>
            								凭借丰富的手术经验和诀窍，令人满意地改善松弛和皱纹。
            							</p>
            						</li>
            					</ul>
            				</div>
						</div>
					</div>
				</div>

				<!-- 手术详情 -->
				<div class="new-section">
					<div class="new-section__wrap type-w">
						<div class="operation-v2 type-wrinkle">
							<div class="operation-v2__wrap">
								<h4 class="operation-v2__tit">手术详情</h4>
								<!-- <p class="operation-v2__subtit">피부 처짐까지 예방하는 광대 성형을 추구합니다.</p> -->
								<ul class="operation-v2__list">
									<li class="operation-v2__item nth-1 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">手术时间</h5>
											<p class="operation-v2__txt txt-new1">约1小时</p>
										</div>
									</li>
									<li class="operation-v2__item nth-2 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">麻醉方法</h5>
											<p class="operation-v2__txt txt-new1">睡眠麻醉</p>
										</div>
									</li>
									<li class="operation-v2__item nth-3 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">拆线</h5>
											<p class="operation-v2__txt txt-new1">约7天后拆线</p>
										</div>
									</li>
									<li class="operation-v2__item nth-4 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">住院时间</h5>
											<p class="operation-v2__txt txt-new1">当天回家</p>
										</div>
									</li>
									<li class="operation-v2__item nth-5 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">来院治疗</h5>
											<p class="operation-v2__txt txt-new1">约1次</p>
										</div>
									</li>
									<li class="operation-v2__item nth-6 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">恢复</h5>
											<p class="operation-v2__txt txt-new1">约3~5天后恢复日常生活</p>
										</div>
									</li>

								</ul>
								<div class="pain-v2 type-wrinkle">
									<h5 class="pain-v2__tit txt-new2">术后体感疼痛</h5>
									<ol class="pain-v2__list">
										<% for(var i = 1; i<= 10; i++){%>
											<%if(i <= 1){%>
												<li class="<%="pain-v2__item is-active nth-"+i%>">
													<div class="pain-v2__square">square</div>
												</li>
											<%}else{%>
												<li class="<%="pain-v2__item nth-"+i%>">
													<div class="pain-v2__wrap">
														<div class="pain-v2__square">square</div>
													</div>
												</li>
											<%}%>
										<%}%>
									</ol>
									<p class="pain-v2__txt txt-new1">
										麻醉药效解除的过程中，会有阵痛感，随着时间的推移会逐渐缓解。<br>
		                                拆线和消毒的时候会有些许刺痛感。<br>
		                                手术后几天内会感到些许紧绷和麻麻的感觉。
									</p>
									<div class="pain-v2__box">
										<p class="pain-v2__noti txt-new4">* 通过对术后患者进行问卷调查得出的平均值</p>
										<p class="pain-v2__noti txt-new4">* 从数据不存在绝对性，会存在个人差异，仅供大家作为参考。</p>
									</div>
								</div><!-- //pain -->
							</div>
						</div>
					</div>
				</div>

				<div class="new-section">
					<div class="bg-style2">
						<h4 class="new-content-tit tit-new2">与其他手术一起做的话，可以得到更好的结果。</h4>

						<ul class="bg-style2__list">
							<li class="bg-style2__item type-forehead">
								<div class="bg-style2__wrap">
									<div class="bg-style2__box">
										<h5 class="bg-style2__subtit txt-new2">内视镜额头提拉</h5>
										<p class="bg-style2__txt txt-new1">
                                            内视镜的额头提拉可以改善包括眼角纹在内的上面部的松弛下垂。
										</p>
										<a href="wrinkleForehead.php" class="bg-style2__btn txt-new1">
											<span>内视镜额头点击查看</span>
										</a>
									</div>
								</div>
							</li>
							<li class="bg-style2__item type-botox">
								<div class="bg-style2__wrap">
									<div class="bg-style2__box">
										<h5 class="bg-style2__subtit txt-new2">肉毒杆菌</h5>
										<p class="bg-style2__txt txt-new1">
                                            必要的时候，增加肉毒杆菌注射可预防皱纹。
										</p>
										<a href="https://www.petitbanobagi.com/petit/petitBotox.php" target="_blank" class="bg-style2__btn txt-new1">
											<span>肉毒杆菌点击查看</span>
										</a>
									</div>
								</div>
							</li>
						</ul>
					</div>
    			</div>
			</div><!-- //new-tab-content-->
		</div><!-- //new-content-wrap-->
    </div><!-- //content-->

	<% include ../_include/_bfaf %>
</div> <!-- //container -->

<% include ../_include/_footer %>
