<%
	type = "review"
	page = "photo"
%>
<% include ../_include/_header %>
<div class="container">
	<div class="container__top">
		<h2 class="container__tit photo">前后对比图库</h2>
		<p class="container__txt">与佰诺佰琪一起见证神奇的变身</p>
	</div>
	<% include ../_include/_lnb %>
	<div class="container__wrap type-another">
		<div class="review">
			<div class="gender">
				<form action="" class="gender__form">
					<input type="radio" name="gender" id="gender_f" value="F" class="gender__input type-f" checked="checked">
					<label for="gender_f" class="gender__label">여</label>
					<input type="radio" name="gender" id="gender_m" value="M" class="gender__input type-m">
					<label for="gender_m" class="gender__label">남</label>
				</form>
			</div>

			<div class="category-tab">
				<ul class="category-tab__list">
					<li class="category-tab__item is-active">
						<a href="" class="category-tab__link">全部</a>
					</li>
					<li class="category-tab__item">
						<a href="" class="category-tab__link">轮廓</a>
					</li>
					<li class="category-tab__item">
						<a href="" class="category-tab__link">身体</a>
					</li>
					<li class="category-tab__item">
						<a href="" class="category-tab__link">胸部</a>
					</li>
					<li class="category-tab__item">
						<a href="" class="category-tab__link">眼部</a>
					</li>
					<li class="category-tab__item">
						<a href="" class="category-tab__link">鼻部</a>
					</li>
					<li class="category-tab__item">
						<a href="" class="category-tab__link">童颜</a>
					</li>
					<li class="category-tab__item">
						<a href="" class="category-tab__link">干细胞</a>
					</li>
					<li class="category-tab__item">
						<a href="" class="category-tab__link">修复手术</a>
					</li>
					<li class="category-tab__item">
						<a href="" class="category-tab__link">特殊整形</a>
					</li>
				</ul>
			</div>

			<!--검색결과값 -->
			<!-- <div class="keyword-result">
				<div class="keyword-result__inner"><span class="point-color">올포원사각턱</span>에 대한 <span class="point-color">6건</span>의 검색 결과가 있습니다. </div>
			</div> -->
			<!--검색결과값 -->
			<div class="photo-keyword">
				<div class="photo-keyword__box">
					<div class="photo-keyword__wrap">
						<label for="p_keyword" class="photo-keyword__label">검색어</label>
						<div class="photo-keyword__area">
							<input type="text" class="photo-keyword__input" id="p_keyword" name="p_keyword" placeholder="请搜索感兴趣的手术前后对比照่">
							<button type="submit" class="photo-keyword__btn">검색</button>
						</div>
					</div>
				</div>
			</div>
			<!--검색결과 없을시 -->
			<!-- <div class="no-data text-center">
				<p class="no-data__txt"><span class="point-color">안녕하세요</span>에 대한 검색 결과가 없습니다.</p>
			</div> -->
			<!--//검색결과 없을시 -->
			<div class="photo-slide">
				<!-- 첫번째 이미지 -->
				<div class="photo-slide__wrap type-big is-active">
					<div class="photo-slide__area">
						<div class="photo-slide__box type-before">
							<span class="photo-slide__cate">BEFORE</span>
							<div class="photo-slide__img is-active">
								<img src="../../images/review/photo/before_img_01_01.jpg" alt="" class="img-responsive">
							</div>
							<div class="photo-slide__img">
								<img src="../../images/review/photo/before_img_01_02.jpg" alt="" class="img-responsive">
							</div>
							<div class="photo-slide__img">
								<img src="../../images/review/photo/before_img_01_03.jpg" alt="" class="img-responsive">
							</div>
						</div>
						<div class="photo-slide__box type-after">
							<span class="photo-slide__cate">수술 후 6개월</span>
							<div class="photo-slide__img is-active">
								<img src="../../images/review/photo/after_img_01_01.jpg" alt="" class="img-responsive">
							</div>
							<div class="photo-slide__img">
								<img src="../../images/review/photo/after_img_01_02.jpg" alt="" class="img-responsive">
							</div>
							<div class="photo-slide__img">
								<img src="../../images/review/photo/after_img_01_03.jpg" alt="" class="img-responsive">
							</div>
						</div>
						<ul class="photo-slide__list">
							<li class="photo-slide__item is-active"><a href="" class="photo-slide__link">正面</a></li>
							<li class="photo-slide__item"><a href="" class="photo-slide__link">侧面45°</a></li>
							<li class="photo-slide__item"><a href="" class="photo-slide__link">侧面90°</a></li>
						</ul>
					</div>
					<div class="photo-slide__txtarea">
						<p class="photo-slide__txt">양악 + 올포원사각턱 + 광대축소 + 앞턱 + 코(콧대,코끝,귀연골,비중격연골,보형물,콧볼축소,휜코교정) + 지방이식(이마)</p>
					</div>
				</div>
				<!-- 두번째 이미지 -->
				<div class="photo-slide__wrap type-big">
					<div class="photo-slide__area">
						<div class="photo-slide__box type-before">
							<span class="photo-slide__cate">BEFORE</span>
							<div class="photo-slide__img is-active">
								<img src="../../images/review/photo/before_img_02_01.jpg" alt="" class="img-responsive">
							</div>
							<div class="photo-slide__img">
								<img src="../../images/review/photo/before_img_01_02.jpg" alt="" class="img-responsive">
							</div>
							<div class="photo-slide__img">
								<img src="../../images/review/photo/before_img_01_03.jpg" alt="" class="img-responsive">
							</div>
						</div>
						<div class="photo-slide__box type-after">
							<span class="photo-slide__cate">수술 후 6개월</span>
							<div class="photo-slide__img is-active">
								<img src="../../images/review/photo/after_img_02_01.jpg" alt="" class="img-responsive">
							</div>
							<div class="photo-slide__img">
								<img src="../../images/review/photo/after_img_01_02.jpg" alt="" class="img-responsive">
							</div>
							<div class="photo-slide__img">
								<img src="../../images/review/photo/after_img_01_03.jpg" alt="" class="img-responsive">
							</div>
						</div>
						<ul class="photo-slide__list">
							<li class="photo-slide__item is-active"><a href="" class="photo-slide__link">正面</a></li>
							<li class="photo-slide__item"><a href="" class="photo-slide__link">侧面45°</a></li>
							<li class="photo-slide__item"><a href="" class="photo-slide__link">侧面90°</a></li>
						</ul>
					</div>
					<div class="photo-slide__txtarea">
						<p class="photo-slide__txt">양악 + 올포원사각턱 + 광대축소 + 앞턱 + 코(콧대,코끝,귀연골,비중격연골,보형물,콧볼축소,휜코교정) + 지방이식(이마)</p>
					</div>
				</div>
				<!-- 세번째 이미지 -->
				<div class="photo-slide__wrap type-big">
					<div class="photo-slide__area">
						<div class="photo-slide__box type-before">
							<span class="photo-slide__cate">BEFORE</span>
							<div class="photo-slide__img is-active">
								<img src="../../images/review/photo/before_img_03_01.jpg" alt="" class="img-responsive">
							</div>
							<div class="photo-slide__img">
								<img src="../../images/review/photo/before_img_01_02.jpg" alt="" class="img-responsive">
							</div>
							<div class="photo-slide__img">
								<img src="../../images/review/photo/before_img_01_03.jpg" alt="" class="img-responsive">
							</div>
						</div>
						<div class="photo-slide__box type-after">
							<span class="photo-slide__cate">수술 후 6개월</span>
							<div class="photo-slide__img is-active">
								<img src="../../images/review/photo/after_img_03_01.jpg" alt="" class="img-responsive">
							</div>
							<div class="photo-slide__img">
								<img src="../../images/review/photo/after_img_01_02.jpg" alt="" class="img-responsive">
							</div>
							<div class="photo-slide__img">
								<img src="../../images/review/photo/after_img_01_03.jpg" alt="" class="img-responsive">
							</div>
						</div>
						<ul class="photo-slide__list">
							<li class="photo-slide__item is-active"><a href="" class="photo-slide__link">正面</a></li>
						</ul>
					</div>
					<div class="photo-slide__txtarea">
						<p class="photo-slide__txt">양악 + 올포원사각턱 + 광대축소 + 앞턱 + 코(콧대,코끝,귀연골,비중격연골,보형물,콧볼축소,휜코교정) + 지방이식(이마)</p>
					</div>
				</div>
				<!-- 네번째 이미지 -->
				<div class="photo-slide__wrap type-big">
					<div class="photo-slide__area">
						<div class="photo-slide__box type-before">
							<span class="photo-slide__cate">BEFORE</span>
							<div class="photo-slide__img is-active">
								<img src="../../images/review/photo/before_img_04_01.jpg" alt="" class="img-responsive">
							</div>
							<div class="photo-slide__img">
								<img src="../../images/review/photo/before_img_01_02.jpg" alt="" class="img-responsive">
							</div>
							<div class="photo-slide__img">
								<img src="../../images/review/photo/before_img_01_03.jpg" alt="" class="img-responsive">
							</div>
						</div>
						<div class="photo-slide__box type-after">
							<span class="photo-slide__cate">수술 후 6개월</span>
							<div class="photo-slide__img is-active">
								<img src="../../images/review/photo/after_img_04_01.jpg" alt="" class="img-responsive">
							</div>
							<div class="photo-slide__img">
								<img src="../../images/review/photo/after_img_01_02.jpg" alt="" class="img-responsive">
							</div>
							<div class="photo-slide__img">
								<img src="../../images/review/photo/after_img_01_03.jpg" alt="" class="img-responsive">
							</div>
						</div>
						<ul class="photo-slide__list">
							<li class="photo-slide__item is-active"><a href="" class="photo-slide__link">正面</a></li>
							<li class="photo-slide__item"><a href="" class="photo-slide__link">侧面45°</a></li>
						</ul>
					</div>
					<div class="photo-slide__txtarea">
						<p class="photo-slide__txt">양악 + 올포원사각턱 + 광대축소 + 앞턱 + 코(콧대,코끝,귀연골,비중격연골,보형물,콧볼축소,휜코교정) + 지방이식(이마) 양악 + 올포원사각턱 + 광대축소 + 앞턱 + 코(콧대,코끝,귀연골,비중격연골,보형물,콧볼축소,휜코교정) + 지방이식(이마) 양악 + 올포원사각턱 + 광대축소 + 앞턱 + 코(콧대,코끝,귀연골,비중격연골,</p>
					</div>
				</div>
				<a href="" class="photo-slide__btn type-prev js-slide-prev">이전</a>
				<a href="" class="photo-slide__btn type-next js-slide-next">다음</a>
			</div>
			<p class="photo-slide__noti">※ 수술 부위를 클릭하시면 해당 부위 전후사진으로 이동합니다</p>
			<div class="photo-thum">
				<ul class="photo-thum__list">
					<li class="photo-thum__item is-active">
						<div class="photo-slide type-thum">
							<div class="photo-slide__wrap">
								<div class="photo-slide__area">
									<div class="photo-slide__box type-before">
										<span class="photo-slide__cate">BEFORE</span>
										<div class="photo-slide__img">
											<img src="../../images/review/photo/before_img_01_01.jpg" alt="" class="img-responsive">
										</div>
									</div>
									<div class="photo-slide__box type-after">
										<span class="photo-slide__cate">수술 후 6개월</span>
										<div class="photo-slide__img">
											<img src="../../images/review/photo/after_img_01_01.jpg" alt="" class="img-responsive">
										</div>
									</div>
								</div>
								<div class="photo-slide__txtarea">
									<p class="photo-slide__txt">양악 + 올포원사각턱 + 광대축소 + 앞턱 + 코(콧대,코끝,귀연골,비중격연골,보형물,콧볼축소,휜코교정) + 지방이식(이마)</p>
								</div>
							</div>
							<a href="" class="photo-thum__link">상세보기</a>
						</div>
					</li>
					<li class="photo-thum__item">
						<div class="photo-slide type-thum">
							<div class="photo-slide__wrap">
								<div class="photo-slide__area">
									<div class="photo-slide__box type-before">
										<span class="photo-slide__cate">BEFORE</span>
										<!-- before 가리기 -->
										<div class="photo-dim-s">
											<div class="photo-dim-s__box">
												<div class="photo-dim-s__vertical">
													<p class="photo-dim-s__txt">Before</p>
												</div>
											</div>
										</div>
										<!-- //before 가리기 -->
										<div class="photo-slide__img">
											<img src="../../images/review/photo/before_img_02_01.jpg" alt="" class="img-responsive">
										</div>
									</div>
									<div class="photo-slide__box type-after">
										<span class="photo-slide__cate">수술 후 6개월</span>
										<div class="photo-slide__img">
											<img src="../../images/review/photo/after_img_02_01.jpg" alt="" class="img-responsive">
										</div>
									</div>
								</div>
								<div class="photo-slide__txtarea">
									<p class="photo-slide__txt">양악 + 올포원사각턱 + 광대축소 + 앞턱 + 코(콧대,코끝,귀연골,비중격연골,보형물,콧볼축소,휜코교정) + 지방이식(이마)</p>
								</div>
							</div>
							<a href="" class="photo-thum__link">상세보기</a>
						</div>
					</li>
					<li class="photo-thum__item">
						<div class="photo-slide type-thum">
							<div class="photo-slide__wrap">
								<div class="photo-slide__area">
									<div class="photo-slide__box type-before">
										<span class="photo-slide__cate">BEFORE</span>
										<!-- before 가리기 -->
										<div class="photo-dim-s">
											<div class="photo-dim-s__box">
												<div class="photo-dim-s__vertical">
													<p class="photo-dim-s__txt">Before</p>
												</div>
											</div>
										</div>
										<!-- //before 가리기 -->
										<div class="photo-slide__img">
											<img src="../../images/review/photo/before_img_03_01.jpg" alt="" class="img-responsive">
										</div>
									</div>
									<div class="photo-slide__box type-after">
										<span class="photo-slide__cate">수술 후 6개월</span>
										<div class="photo-slide__img">
											<img src="../../images/review/photo/after_img_03_01.jpg" alt="" class="img-responsive">
										</div>
									</div>
								</div>
								<div class="photo-slide__txtarea">
									<p class="photo-slide__txt">양악 + 올포원사각턱 + 광대축소 + 앞턱 + 코(콧대,코끝,귀연골,비중격연골,보형물,콧볼축소,휜코교정) + 지방이식(이마)</p>
								</div>
							</div>
							<a href="" class="photo-thum__link">상세보기</a>
						</div>
					</li>
					<li class="photo-thum__item">
						<div class="photo-slide type-thum">
							<div class="photo-slide__wrap">
								<div class="photo-slide__area">
									<div class="photo-slide__box type-before">
										<span class="photo-slide__cate">BEFORE</span>
										<!-- before 가리기 -->
										<div class="photo-dim-s">
											<div class="photo-dim-s__box">
												<div class="photo-dim-s__vertical">
													<p class="photo-dim-s__txt">Before</p>
												</div>
											</div>
										</div>
										<!-- //before 가리기 -->
										<div class="photo-slide__img">
											<img src="../../images/review/photo/before_img_04_01.jpg" alt="" class="img-responsive">
										</div>
									</div>
									<div class="photo-slide__box type-after">
										<span class="photo-slide__cate">수술 후 6개월</span>
										<div class="photo-slide__img">
											<img src="../../images/review/photo/after_img_04_01.jpg" alt="" class="img-responsive">
										</div>
									</div>
								</div>
								<div class="photo-slide__txtarea">
									<p class="photo-slide__txt">양악 + 올포원사각턱 + 광대축소 + 앞턱 + 코(콧대,코끝,귀연골,비중격연골,보형물,콧볼축소,휜코교정) + 지방이식(이마)</p>
								</div>
							</div>
							<a href="" class="photo-thum__link">상세보기</a>
						</div>
					</li>
				</ul>
			</div>
			<p class="review__noti">
				<span class="review__point">위의 게시물을 무단 도용 시 저작권 및 초상권 침해로 법적 제재를 받으실 수 있습니다.</span>
				<span class="inline-block">본 이미지는 촬영 조건에 따라 실물과 다르게 보일 수 있으며, 환자 본인의 동의를 얻어 촬영 후 게재하였습니다.</span>
			</p>
		</div><!-- //review-->
		<div class="pagination">
			<ul class="pagination__list">
				<li class="pagination__item pagination__item-first">
					<a href="" class="pagination__link">처음</a>
				</li>
				<li class="pagination__item pagination__item-prev">
					<a href="" class="pagination__link">이전</a>
				</li>
				<li class="pagination__item pagination__item-num is-active">
					<a href="" class="pagination__link">1</a>
				</li>
				<li class="pagination__item pagination__item-num is-acitve">
					<a href="" class="pagination__link">2</a>
				</li>
				<li class="pagination__item pagination__item-num">
					<a href="" class="pagination__link">3</a>
				</li>
				<li class="pagination__item pagination__item-num">
					<a href="" class="pagination__link">4</a>
				</li>
				<li class="pagination__item pagination__item-num">
					<a href="" class="pagination__link">5</a>
				</li>
				<li class="pagination__item pagination__item-next">
					<a href="" class="pagination__link">다음</a>
				</li>
				<li class="pagination__item pagination__item-last">
					<a href="" class="pagination__link">마지막</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<% include ../_include/_footer %>
