<%
	type = "detail"
	page = "reoperation"
%>
<% include ../_include/_header %>
<!-- Content -->
<div class="reoperation detail-common">
	<section class="fs_section reoperationFirst js-first" data-section-name="home">
	   	<div class="detail__inner">
		   	<div class="detail__vertical">
			   	<p class="detail__first-tit type-reoperation">
				   	通过遵守规则的正确矫正
			   	</p>
			   	<h3 class="detail__first-txt type-reoperation">
				   	<span class="detail__first-bwrap">连心灵上的创伤也能矫正的<b class="detail__first-bar type-reoperation"></b></span><br>
				   	<strong class="detail__first-point">佰诺佰琪<span class="color-reoperation1">修复手术</span>细节<span class="color-reoperation1">。</span></strong>
			   	</h3>
		   	</div>
	   	</div>
	   	<div class="scroll">
		   	<div class="inner">
			   	<i></i>
		   	</div>
		   	<em>SCROLL</em>
	   	</div>
	</section>

	<section class="fs_section reoperationSection01" data-section-name="reoperationSection01">
	   	<div class="detail__inner">
		   	<div class="detail__vertical">
			   	<div class="detail__section-box type-normal type-reoperation">
				 	<h4 class="detail__section-tit">
				   		<strong>修复手术</strong><span class="color-comma">，</span><br>
				   		<span class="detail__section-bwrap">佰诺佰琪</span><br>
				   		<strong class="color-reoperation1">是这样</strong>做的
				 	</h4>
				 	<p class="detail__section-subtit">从基本开始的正确矫正</p>
				 	<p class="detail__section-txt">
					 	再手术的理由虽然很多样但是结论只有一个。掌握不满足的原因之后，得到比现在更加让人满意的结果。正是为了这样的结果，<span class="color-reoperation4">针对患者不满足的部分理解和诊断作为基础，遵守基本原则的做手术是必须的。</span>理解患者的正确型矫正是佰诺佰琪的承诺。
				 	</p>
			   	</div>
			   	<div class="layer-doc type-reoperation hidden-m"><!-- pc용 -->
				   	<h5 class="layer-doc__tit">佰诺佰琪修复手术系统</h5>
				   	<ul class="layer-doc__list">
					   	<li class="layer-doc__item">掌握再手术的必要性</li>
					   	<li class="layer-doc__item">目标理解</li>
					   	<li class="layer-doc__item">缜密的诊断</li>
					   	<li class="layer-doc__item">遵守基本和原则的手术</li>
					   	<li class="layer-doc__item">手术后管理</li>
				   	</ul>
			   	</div>
		   	</div>
	   	</div>
	   	<div class="detail__dim">딤처리</div>
	   	<div class="detail__popup-m">
		   	<div class="layer-doc hidden-pt type-reoperation">
			   	<h5 class="layer-doc__tit">修复手术系统<span class="color-reoperation1">.</span></h5>
			   	<ul class="layer-doc__list">
				   	<li class="layer-doc__item">- 掌握再手术的必要性</li>
				   	<li class="layer-doc__item">- 目标理解</li>
				   	<li class="layer-doc__item">- 缜密的诊断</li>
				   	<li class="layer-doc__item">- 遵守基本和原则的手术</li>
				   	<li class="layer-doc__item">- 手术后管理</li>
			   	</ul>
		   	</div>
	   	</div>
	   	<div class="detail__section-bottom hidden-pt type-reoperation">
		   	<div class="detail__section-set">
			   	<span>佰诺佰琪修复手术系统</span>
			   	<span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open type-reoperation" data-popup-type="section">팝업버튼</a></span>
		   	</div>
	   	</div>
	</section>

	<section class="fs_section reoperationSection02" data-section-name="reoperationSection02">
		<div class="detail__inner type-full">
			<div class="detail__section-wrap type-reoperation type-quotation2">
				<div class="detail__section-wrap2">
					<div class="detail__vertical">
						<div class="detail__section-box type-reoperation type-wide type-quotation2">
							<h4 class="detail__section-tit">
								<strong>修复手术</strong><span class="color-comma">，</span><br>
								<span class="detail__section-bwrap">佰诺佰琪是</span><br class="hidden-m">
								值得<strong class="color-reoperation2">信赖</strong>的
							</h4>
							<p class="detail__section-subtit">针对手术部位熟练的专家团队</p>
							<p class="detail__section-txt">
								修复手术是由于手术引起的组织变形，对之前手术方法进行理解，如果是植入材料问题的话，将其清除和替换，是需要考虑非常多东西的棘手的手术。正因如此<span class="color-reoperation2">修复手术的这个领域之中，拥有专业的熟练的专家进行指导是非常之重要的。</span>
							</p>
						</div>
					</div>
					<!-- pc용 의료진 소개 바로가기 이미지 -->
					<div class="layer-img2 hidden-tm">
						<div class="layer-img2__box"></div>
						<a href="<?=SITE_URL?>/introduce/introduceMedical.php" class="layer-img2__link">马上进入医疗团队介绍</a>
					</div>
				</div>
			</div>
		</div>
		<!-- mobile용 의료진 소개 바로가기 이미지 -->
		<div class="layer-img2 hidden-p">
			<div class="layer-img2__box"></div>
			<a href="<?=SITE_URL?>/introduce/introduceMedical.php" class="layer-img2__link">马上进入医疗团队介绍</a>
		</div>
	</section>

	<section class="fs_section reoperationSection03" data-section-name="reoperationSection03">
		<div class="detail__inner">
		 	<div class="detail__vertical">
			 	<div class="detail__section-box type-wide type-reoperation">
				 	<h4 class="detail__section-tit">
					 	<strong>修复手术</strong><span class="color-comma">，</span><br>
					 	<span class="detail__section-bwrap">佰诺佰琪</span><br class="hidden-m">
					 	做得<strong class="color-reoperation1">更</strong>好
				 	</h4>
				 	<p class="detail__section-subtit">更加精确的，更加谨慎的，<br class="hidden-m">更加突出的结果</p>
				 	<p class="detail__section-txt">
					 	修复手术，从医生的立场上来说确实是比较避讳的。但是敢于告诉大家，佰诺佰琪专业医疗团队修复手术做的更好。当然不是从一开始就是这样的。本来就积累了丰富的经验，再加上集中于手术的原则，自然的积累了更多的技术诀窍。<span class="color-reoperation3">为了更好的效果，采用更好的方法，更加有诚意的手术，正是佰诺佰琪修复手术。</span>我们将为了远道而来的患者们不会再出现失败。
				 	</p>
			 	</div>
			 	<div class="diagram4">
				 	<ul class="diagram4__list">
					 	<li class="diagram4__item nth-1"><div class="diagram4__wrap"><p class="diagram4__txt">眼<br>修复手术</p></div></li>
					 	<li class="diagram4__item nth-2"><div class="diagram4__wrap"><p class="diagram4__txt">鼻子<br>修复手术</p></div></li>
					 	<li class="diagram4__item nth-3"><div class="diagram4__wrap"><p class="diagram4__txt">胸部<br>修复手术</p></div></li>
					 	<li class="diagram4__item nth-4"><div class="diagram4__wrap"><p class="diagram4__txt">佰诺佰琪<br>修复手术</p></div></li>
					 	<li class="diagram4__item nth-5"><div class="diagram4__wrap"><p class="diagram4__txt">轮廓<br>修复手术</p></div></li>
					 	<li class="diagram4__item nth-6"><div class="diagram4__wrap"><p class="diagram4__txt">身体<br>修复手术</p></div></li>
					 	<li class="diagram4__item nth-7"><div class="diagram4__wrap"><p class="diagram4__txt">皱纹<br>修复手术</p></div></li>
				 	</ul>
			 	</div>
		 	</div>
		</div>
	</section>

	<section class="fs_section reoperationSection04" data-section-name="reoperationSection04">
	   <div class="detail__inner">
		   	<div class="detail__vertical">
			   	<div class="detail__section-box type-wide type-right type-reoperation">
				   	<h4 class="detail__section-tit">
					   	<strong>修复手术</strong><span class="color-comma">，</span><br>
					   	<span class="detail__section-bwrap">佰诺佰琪</span><br class="hidden-m">
					   	注重<strong class="color-reoperation1">细节</strong>
				   	</h4>
				   	<p class="detail__section-subtit">非常了解的成功的异物去除</p>
				   	<p class="detail__section-txt">
					   	<span class="color-reoperation3">异物去除术的核心是在不损伤正常组织的情况之下，能够正确的找到异物组织并安全的进行去除。</span>佰诺佰琪拥有正规的装备外，凭借熟练的感觉将体内的异物进行去除，还为了不产生任何的副作用和恢复原有组织而进行积极的治疗。
				   	</p>
			   	</div>
			   	<div class="layer-doc6">
				   	<ul class="layer-doc6__list">
					   	<li class="layer-doc6__item nth-1">
						   	<div class="layer-doc6__img"></div>
						   	<p class="layer-doc6__txt">超声波诊断</p>
					   	</li>
					   	<li class="layer-doc6__item nth-2">
						   	<div class="layer-doc6__img"></div>
						   	<p class="layer-doc6__txt">异物去除</p>
					   	</li>
					   	<li class="layer-doc6__item nth-3">
						   	<div class="layer-doc6__img"></div>
						   	<p class="layer-doc6__txt">形态复原</p>
					   	</li>
					   	<li class="layer-doc6__item nth-4">
						   	<div class="layer-doc6__img"></div>
						   	<p class="layer-doc6__txt">治疗</p>
					   	</li>
				   	</ul>
			   	</div>
		   	</div>
	   	</div>
	</section>
</div>
<!-- //Content -->

<% include ../_include/_footer %>
