<%
	type = "content"
	page = "reoperation"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
	<!-- visual -->
	<div class="content-visual type-reoperation">
		<div class="content-visual__box">
			<div class="content-visual__border">
				<p class="content-visual__txt1">微妙的变化也感觉不同</p>
				<h3 class="content-visual__tit">#<span class="color-reoperation1">眼睛</span>修复手术</h3>
				<p class="content-visual__txt2">更准确更精密的矫正</p>
			</div>
		</div>
	</div>
	<!-- //visual -->

	<!-- content -->
	<div class="content">
		<div class="content-wrap">
	        <div class="content-section type-first">
	          	<div class="reoperation-box1">
	            	<div class="content-section__box w-7 type-another2">
	             	 	<h4 class="content-section__tit type-top">
	                		<span class="content-section__number"><span class="content-section__number-wrap">01</span></span>
	                		如果想做修复手术<strong class="color-reoperation1">不需要</strong>犹豫
	              		</h4>
	              		<p class="content-section__txt1">
							咨询时，很多人会问修复手术会不会比初次手术结果不好，但是这样的问题是没有根据的，这个问题给想做修复手术的人们犹豫的因素。
	              		</p>
	            	</div><!-- //content-section__box-->
	            	<div class="reoperation-box1__img">img</div>
	          	</div><!--//reoperation-box1-->
	          	<div class="reoperation-box2">
	            	<h5 class="reoperation-box2__tit">
						现在骨骼矫正术都没有问题，所以矫正皮肤的眼睛修复手术是<strong class="color-reoperation1">比较简单的手术。</strong>
	            	</h5>
	            	<p class="reoperation-box2__txt">
						用精密的诊断来做准确的决定，只要用准确的方法进行手术的话，修复手术与初次手术一样可以得到美丽，满意的结果。
	            	</p>
	            	<ul class="reoperation-box2__list">
	              		<li class="reoperation-box2__item"><img src="../../images/reoperation/reoperation_eye_img04.jpg" alt=""></li>
	              		<li class="reoperation-box2__item"><img src="../../images/reoperation/reoperation_eye_img05.jpg" alt=""></li>
	            	</ul>
	          	</div>
	          	<div class="reoperation-box3">
	            	<div class="content-section__box w-8 type-another0">
		              	<div class="reoperation-box3__wrap">
		                	<h4 class="content-section__tit type-left">
		                  		<span class="content-section__number type-another"><span class="content-section__number-wrap">02</span></span>
								眼睛修复手术就像是把缠绕成一团的结<strong class="color-reoperation5">一个一个解开</strong>一样。
		                	</h4>
		                	<p class="content-section__txt1">
		                  		眼睛修复手术的理由有很多种，手术后眼睛的功能性问题，对眼睛形状的不满意，留下深的疤痕，线条打开的情况，会有这些症状复合出现的情况。
		                	</p>
		                	<p class="content-section__txt2 color-white">
								还有，就算是一样的症状也会根据个人特征，情况会有所不同。所以眼睛修复手术最重要的是精密的诊断。
		                	</p>
		              	</div>
		              	<div class="reoperation-box3__img">img</div>
						<div class="reoperation-eye">
							<ul class="reoperation-eye__list">
								<li class="reoperation-eye__item type-before nth-1">
									<div class="reoperation-eye__wrap">
										<img src="../../images/reoperation/eye_img01.jpg" alt="before">
									</div>
								</li>
								<li class="reoperation-eye__item type-after nth-2">
									<div class="reoperation-eye__wrap">
										<img src="../../images/reoperation/eye_img02.jpg" alt="after">
									</div>
								</li>
							</ul>
							<ul class="reoperation-eye__list">
								<li class="reoperation-eye__item type-before nth-3">
									<div class="reoperation-eye__wrap">
										<img src="../../images/reoperation/eye_img03.jpg" alt="before">
									</div>
								</li>
								<li class="reoperation-eye__item type-after nth-4">
									<div class="reoperation-eye__wrap">
										<img src="../../images/reoperation/eye_img04.jpg" alt="after">
									</div>
								</li>
							</ul>
						</div>
	            	</div>
	          	</div><!-- //reoperation-box3 -->
	          	<div class="reoperation-box4">
	            	<p class="reoperation-box4__txt">
	              		本身拥有怎样特征的眼睛，以前进行过什么手术，为什么对结果不满意，现在的眼睛怎么做会更好，皮肤状态怎么样，<strong class="color-reoperation5">一个一个认真分析，是进行准确修复矫正的因素。</strong>
	            	</p>
	          	</div>
	        </div><!-- //content-section -->
	        <div class="content-section">
	          	<div class="reoperation-box5">
	            	<h4 class="content-section__tit type-center">
	              		<span class="content-section__number"><span class="content-section__number-wrap">03</span></span>
	              		线条松开的情况
	            	</h4>
	            	<ul class="line-img">
	              		<li class="line-img__item nth-1"><img src="../../images/reoperation/line_img01.png" alt=""></li>
	              		<li class="line-img__item nth-2"><img src="../../images/reoperation/line_img02.png" alt=""></li>
	            	</ul>
	            	<p class="content-section__txt1">
	              		刚做完双眼皮手术时偶尔会出现线条松开的情况。但是最近随着手术方法的发展松开的可能性非常小。如果手术没有多久就有线条松开的问题是手术者技术不足的可能性比较高。<span class="color-reoperation1">佰诺佰琪通过先进的埋线法，更加坚固的预防线条松开的问题。</span>
	            	</p>
	          	</div>
				<p class="caution-para1">
					<span class="inline-block">※ 本图片依拍摄条件不同与实物会有差距，取得患者同意拍摄后刊发</span>
				</p>
	          	<div class="line-way">
	            	<ul class="line-way__list">
	              		<li class="line-way__item">
	                		<h5 class="line-way__tit nth-1">体质型线条松开</h5>
	                		<p class="line-way__txt">
	                  			极少的情况会出现因为体质线条松开的情况，这时需要讨论是重新用埋线法进行还是换成切开法进行手术。
	                		</p>
	              		</li>
	              		<li class="line-way__item">
	                		<h5 class="line-way__tit nth-2">如果对切开法有反感</h5>
	                		<p class="line-way__txt">
								<span class="color-black">在佰诺佰琪研究出新的开眼角法，通过其他复合手术，帮您找到想要的眼睛。不一定一定拥有双眼皮，可以考虑多种可能性。</span>
	                		</p>
	              		</li>
	            	</ul>
	          	</div>
	          	<div class="reoperation-brace">
	            	<div class="brace type-reoperation-eye">
	              		<p class="brace__txt txt-v4">
	                		眼睛整形的最终目的是要符合您的形象，弄出美丽的眼睛，<strong class="color-reoperation1">不一定一定拥有双眼皮，可以考虑多种可能性。</strong>
	              		</p>
	            	</div>
	          	</div>
	        </div><!-- //content-section -->
	        <div class="content-section">
	          	<div class="reoperation-box6">
	            	<div class="content-section__box w-5 type-another0">
	              		<h4 class="content-section__tit type-top">
	                		<span class="content-section__number"><span class="content-section__number-wrap">04</span></span>
							双眼皮不对称严重的情况
	              		</h4>
	              		<p class="content-section__txt1">
	                		수手术后约6个月后浮肿完全消肿之前不能草率对不对称进行评价。还有，消肿后<span class="content-highlight type-reoperation">稍微有些不对称，不一定一定推荐做修复手术。</span>人体拥有完全对称的面部是不太可能，稍微有些不对称会更加自然，两个双眼皮一样，但是因为周围因素的不对称显得不对称的情况是有的。
	              		</p>
	              		<p class="content-section__txt2">
							对不对称还包括心理因素，所以要与专门医生讨论是很重要的。一定想做修复手术或者有严重不对称的情况，<span class="color-reoperation1">调整想要的线条高度，是可以用比较简单的方法进行再调整。</span>
	              		</p>
	            	</div>
	            	<div class="reoperation-box6__img">img</div>
	          	</div>
	        </div><!-- //content-section -->
	        <div class="content-section">
	          	<div class="reoperation-box7">
	            	<div class="content-section__wrap">
	              		<div class="content-section__box type-another2 w-7">
	                		<h4 class="content-section__tit type-top">
	                  			<span class="content-section__number type-another"><span class="content-section__number-wrap">05</span></span>
								一直看起来浮肿的情况
	                		</h4>
	                		<p class="content-section__txt1">
	                  			从医学角度看来手术6个月~12个月过后还有浮肿的情况很少。如果还是双眼皮线条不自然，显得浮肿的话是双眼皮线条本身出现问题的可能性比较高。线条调的太高，线条下面的眼皮显得不够自然，<span class="color-reoperation1">这时候需要去除原来的线条，重新开线条，是可以用比较简单的方法矫正。</span>
	                		</p>
	              		</div>
	            	</div>
	          	</div>
	          	<div class="reoperation-box8">
	            	<div class="reoperation-box8__wrap">
	              		<h5 class="reoperation-box8__tit">伴有眼睑下垂问题的情况</h5>
	              		<p class="reoperation-box8__txt">
							有些有眼睑下垂问题的患者，线条下面的眼皮多出来，会显得浮肿。双眼皮线条下面的眼皮睁眼睛时要自然向上，因为眼肌无力的情况下拥有线条。以前眼睛下垂的问题只能用切开法改善。所以不想做切开法的患者没有进行矫正就进行手术的情况比较多。<span class="content-highlight type-reoperation2">但是佰诺佰琪眼肌矫正不仅用切开法，也可以用非切开眼肌矫正法，所以更加安全，自然的进行眼肌矫正。</span>
	              		</p>
	            	</div>
	          	</div>
	        </div>
	    </div>
	</div><!-- //content -->
	<% include ../_include/_bfaf %>
</div> <!-- //container -->
<% include ../_include/_footer %>
