<%
	type = "content"
	page = "reoperation"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
    <div class="content" data-page="reoperation-face">
		<% include ../_include/_tooltip %>
		<div class="new-visual type-face">
			<div class="new-visual__box">
				<div class="new-visual__outer">
					<div class="new-visual__inner">
						<p class="new-visual__subtit">用满足感找回的美丽微笑</p>
						<h3 class="new-visual__tit"><span class="n-color-reoperation2">轮廓</span>修复手术</h3>
						<p class="new-visual__txt">更精密的诊疗，更缜密的设计脸型</p>
						<ul class="new-visual__list">
							<li class="new-visual__item"><span>#轮廓整形专门小组</span></li>
							<li class="new-visual__item"><span>#多种案例</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- //new-visual-->
        <div class="new-content-wrap">
			<div class="new-section">
				<div class="section-normal type-face">
					<div class="section-normal__wrap">
						<p class="section-normal__eng txt-new1">BANOBAGI reoperation SURGERY</p>
					 	<h4 class="section-normal__tit tit-new1">
							轮廓修复手术<span class="n-color-reoperation2">比第一次手术更有难度是事实</span>
						</h4>
					 	<p class="section-normal__txt2 txt-new1">
					 		<span class="color-black1">轮廓整形手术范围比较广，要进行广范围的剥离，是骨骼的移动和截骨比较多的手术。</span>
                            所以患者对手术有很大的负担和担心，因为对之前手术的不信任和消极的判断，是影响修复手术准确判断的原因其次，轮廓修复手术还要考虑到组成骨骼，肌肉，脂肪，神经等组织变化。
					 	</p>
					</div>
					<div class="section-normal__img type-full">
						<img src="../../images/reoperation/face/face_img_1.jpg" class="img-w100" alt="model">
					</div>
				</div>
			</div><!-- //new-section-->
			<div class="new-section type-cling">
				<div class="new-section__wrap type-gray1">
					<div class="img-style2 type-face">
						<h5 class="new-content-tit tit-new2 color-white">比第一次手术有难度的<span class="n-color-reoperation3">修复手术</span></h5>
						<ul class="img-style2__list">
							<li class="img-style2__item nth-1">
								<div class="img-style2__box">
									<img src="../../images/reoperation/face/face_img_2.jpg" alt="心理不安感" class="img-w100">
									<div class="img-style2__caption txt-new2">心理不安感</div>
								</div>
								<p class="img-style2__txt txt-new1">
                                    对之前手术的不信任和消极的判断，有可能是影响修复手术准确判断的原因。
								</p>
							</li>
							<li class="img-style2__item nth-2">
								<div class="img-style2__box">
									<img src="../../images/reoperation/face/face_img_3.jpg" alt="之前面部轮廓组织的变形" class="img-w100">
									<div class="img-style2__caption txt-new2">之前面部轮廓组织的变形</div>
								</div>
								<p class="img-style2__txt txt-new1">
                                    是在面部骨骼和皮肤，肌肉，脂肪，神经组织等变形的情况下进行手术。
								</p>
							</li>
							<li class="img-style2__item nth-3">
								<div class="img-style2__box">
									<img src="../../images/reoperation/face/face_img_4.jpg" alt="很难找到构筑点" class="img-w100">
									<div class="img-style2__caption txt-new2">很难找到构筑点</div>
								</div>
								<p class="img-style2__txt txt-new1">
                                    因之前手术的骨骼移动或者减少，能抓住构筑点的空间小。
								</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="new-section type-cling">
				<div class="section-normal type-face2">
					<div class="section-normal__wrap">
					 	<h4 class="section-normal__tit tit-new1">
							需要找到<span class="n-color-reoperation3">具备经验和技术的专门医生</span>防止修复手术的再次发生。
						</h4>
					 	<p class="section-normal__txt2 txt-new1">
                            轮廓修复手术是比较复杂的手术，对医院和医生的选择要慎重。对之前的手术没有完全掌握，因为技术原因手术没有做好，会发生再次需要做修复手术的情况。<br><br>

							佰诺佰琪2000年开院以来，具备了对轮廓整形的经验和技术的专门医生运营小组。
							<span class="color-white">实行1:1主治医生负责制和手术室实名制，以信任为底，可以更准确的计划轮廓修复手术，通过丰富的经验，用适合患者的手术方法，提高手术完成度。</span>
					 	</p>
					</div>
					<div class="section-normal__img">
						<img src="../../images/reoperation/face/face_img_5.png" class="img-normal" alt="整形外科专家 吴昌铉, 整形外科专家 朴钟林">
					</div>
				</div>
			</div><!-- //new-section-->
			<div class="new-section type-cling">
				<div class="new-section__wrap type-face">
					<div class="img-style2 type-face2">
						<h5 class="new-content-tit tit-new2">轮廓修复手术，要选择<span class="n-color-reoperation2">佰诺佰琪</span>的理由</h5>
						<ul class="img-style2__list">
							<li class="img-style2__item nth-1">
								<div class="img-style2__before txt-new2">
									<span>心理的不安感</span>
								</div>
								<div class="img-style2__box">
									<img src="../../images/reoperation/face/reason_img_1.jpg" alt="1:1主治医生负责制，手术实名制" class="img-w100">
									<div class="img-style2__caption txt-new2">1:1主治医生负责制，手术实名制</div>
								</div>
								<p class="img-style2__txt txt-new1">
                                    与主治医1:1咨询制，录用手术实名制，提高信用，通过认真的面诊，对修复手术改善的可能性和追求的方向明确共享。
								</p>
							</li>
							<li class="img-style2__item nth-2">
								<div class="img-style2__before txt-new2">
									<span>之前面部构造组织的变形</span>
								</div>
								<div class="img-style2__box">
									<img src="../../images/reoperation/face/reason_img_2.jpg" alt="精密的诊断体系" class="img-w100">
									<div class="img-style2__caption txt-new2">精密的诊断体系</div>
								</div>
								<p class="img-style2__txt txt-new1">
                                    3D CT 和 X-Ray, 通过综合检查等精密诊断系统，对目前的状态和问题点，改善方向精密预测计划。
								</p>
							</li>
							<li class="img-style2__item nth-3">
								<div class="img-style2__before txt-new2">
									<span>很难找到固定构筑点</span>
								</div>
								<div class="img-style2__box">
									<img src="../../images/reoperation/face/reason_img_3.jpg" alt="轮廓整形专门小组运营" class="img-w100">
									<div class="img-style2__caption txt-new2">轮廓整形专门小组运营</div>
								</div>
								<p class="img-style2__txt txt-new1">
                                    2000年开院以来有着丰富经验技术的轮廓整形专门小组的运营，适用于定制型手术方法，手术完成度高。
								</p>
							</li>
						</ul>
					</div>
				</div>
			</div><!-- //new-section-->
			<div class="new-tab__line">line</div>
			<div class="new-tab type-reoperation">
				<div class="new-tab__tit">
					<div class="new-tab__wrap">
						<a href="" class="new-tab__btn">下颌角</a>
					</div>
				</div>
				<ul class="new-tab__list">
					<li class="new-tab__item is-active">
						<div class="new-tab__wrap">
							<a href="page-square" class="new-tab__link">下颌角</a>
						</div>
					</li>
					<li class="new-tab__item">
						<div class="new-tab__wrap">
							<a href="page-cheek" class="new-tab__link">颧骨</a>
						</div>
					</li>
					<li class="new-tab__item">
						<div class="new-tab__wrap">
							<a href="page-front" class="new-tab__link">下巴</a>
						</div>
					</li>
				</ul>
			</div>
			<div class="new-tab-content page-square is-active">
				<div class="new-section type-cling">
					<div class="new-section__wrap type-gray2">
						<div class="new-section__box">
							<div class="compare">
								<div class="compare__wrap">
									<h4 class="new-content-tit2 tit-new2">下巴后侧不自然或者出现错位的情况</h4>
									<p class="compare__txt txt-new1">
                                        如果是有着丰富经验和技术的轮廓整形专家的话通过缜密的计算，可以一次性削骨。
                                        但是削骨时计算错误，通过很多次削的话下巴骨后侧会不自然。
										这样的情况<span class="color-black1">通过缜密的诊疗，仔细研究之前的手术，按客人喜欢的下巴形状削骨，可以得到改善。</span>
									</p>
								</div>
								<ul class="compare__list">
									<li class="compare__item type-before">
										<div class="compare__img">
											<img src="../../images/reoperation/face/face_before_1.jpg" class="img-w100" alt="BEFORE"/>
										</div>
										<div class="compare__caption txt-new2"><span>BEFORE</span></div>
									</li>
									<li class="compare__item type-after">
										<div class="compare__img">
											<img src="../../images/reoperation/face/face_after_1.jpg" class="img-w100" alt="手术后6个月"/>
										</div>
										<div class="compare__caption txt-new2"><span>手术后6个月</span></div>
									</li>
								</ul>
							</div>
						</div>
						<div class="new-section__box">
							<div class="compare">
								<div class="compare__wrap">
									<h4 class="new-content-tit2 tit-new2">左右不对称，或者不能矫正的情况</h4>
									<p class="compare__txt txt-new1">
										计算错削骨骨骼的长度或是脸部的中心线没有找准就做下颌角手术时会产生不对称。
										忽视下巴的肌肉或脂肪的不对称，只改善下巴骨骼时，很难把面部不对称改善好。
										为了改善这个情况把<span class="color-black1">面部中心找准，均衡的切割下巴骨骼，必要时通过
										<span class="pop-info type-reoperation">
											<a href="" class="info-btn js-info">
												<span class="info-btn__icon">info</span>
												咀嚼肌缩小术
												<span class="info-desc">
													<span class="info-desc__item">
														<span class="info-desc__box">
															<span class="info-desc__tit"><span class="info-desc__icon">icon</span>咬肌缩小术是？</span>
															<span class="info-desc__content">
																<img src="../../images/reoperation/face/face_info_1.jpg" alt="咀嚼肌缩小术" class="info-desc__thumb">
																<span class="info-desc__txt1">
				                                                    按压耳朵下面下巴部位的时候，深层的肌肉的位置触摸起来十分坚硬。这是负责咀嚼部分的肌肉，被称为咬肌。根据日常错误的咀嚼习惯有可能会发展成为肌肉不对称，由此下去可能会成为导致突出型方脸的原因。虽然利用肉毒素可以起到一定的缩小的作用，但是通过手术的方式一次性的去除的话，持续效果更好，维持时间更久满意度更高
																 </span>
															</span>
														</span>
														<button class="info-desc__btn js-close">
															<span class="info-desc__stick type-left">태블릿 닫기</span>
															<span class="info-desc__stick type-another">태블릿 닫기</span>
															关闭
														</button>
													</span>
												</span>
											</a>
			                            </span>或者
										<span class="pop-info type-reoperation">
											<a href="" class="info-btn js-info">
												<span class="info-btn__icon">info</span>
												颊脂垫脂肪矫正
												<span class="info-desc">
													<span class="info-desc__item">
														<span class="info-desc__box">
															<span class="info-desc__tit"><span class="info-desc__icon">icon</span>颊脂垫脂肪矫正是？</span>
															<span class="info-desc__content">
																<img src="../../images/reoperation/face/face_info_2.jpg" alt="颊脂垫脂肪矫正" class="info-desc__thumb">
																<span class="info-desc__txt1">
				                                                    脸部的脂肪分为两层。一层是贴近皮肤下层非常薄的一层脂肪和一层存在于两腮深处被称作脸颊脂肪的脂肪。因为这层脂肪层是决定脸部轮廓的要素，所以在去除皮肤表面脂肪时使用吸脂手术，而更加深入的颊脂则通过口内开口的方式得到改善。
																 </span>
															</span>
														</span>
														<button class="info-desc__btn js-close">
															<span class="info-desc__stick type-left">태블릿 닫기</span>
															<span class="info-desc__stick type-another">태블릿 닫기</span>
															关闭
														</button>
													</span>
												</span>
											</a>
										</span>
										颊脂垫脂肪矫正术改善不对称。</span><!-- color-black1 -->
									</p>
								</div>
								<ul class="compare__list">
									<li class="compare__item type-before">
										<div class="compare__img">
											<img src="../../images/reoperation/face/face_before_2.jpg" class="img-w100" alt="BEFORE"/>
										</div>
										<div class="compare__caption txt-new2"><span>BEFORE</span></div>
									</li>
									<li class="compare__item type-after">
										<div class="compare__img">
											<img src="../../images/reoperation/face/face_after_2.jpg" class="img-w100" alt="手术后6个月"/>
										</div>
										<div class="compare__caption txt-new2"><span>手术后6个月</span></div>
									</li>
								</ul>
							</div>
						</div>
						<div class="new-section__box">
							<div class="compare">
								<div class="compare__wrap">
									<h4 class="new-content-tit2 tit-new2">不够修长，不满意的情况</h4>
									<p class="compare__txt txt-new1">
										咨询过程中没有正确的沟通或是没有考虑到下巴的立体感， 忽视下巴的肌肉和脂肪的发达，只改善下巴骨骼时，会发生对手术结果不满意的情况。
										通过<span class="color-black1">缜密的诊断把下巴骨骼一起改善，做劈外板或者
										<span class="pop-info type-reoperation">
											<a href="" class="info-btn js-info">
												<span class="info-btn__icon">info</span>
												咀嚼肌缩小术，
												<span class="info-desc">
													<span class="info-desc__item">
														<span class="info-desc__box">
															<span class="info-desc__tit"><span class="info-desc__icon">icon</span>咬肌缩小术是？</span>
															<span class="info-desc__content">
																<img src="../../images/reoperation/face/face_info_1.jpg" alt="咀嚼肌缩小术" class="info-desc__thumb">
																<span class="info-desc__txt1">
				                                                    按压耳朵下面下巴部位的时候，深层的肌肉的位置触摸起来十分坚硬。这是负责咀嚼部分的肌肉，被称为咬肌。根据日常错误的咀嚼习惯有可能会发展成为肌肉不对称，由此下去可能会成为导致突出型方脸的原因。虽然利用肉毒素可以起到一定的缩小的作用，但是通过手术的方式一次性的去除的话，持续效果更好，维持时间更久满意度更高
																 </span>
															</span>
														</span>
														<button class="info-desc__btn js-close">
															<span class="info-desc__stick type-left">태블릿 닫기</span>
															<span class="info-desc__stick type-another">태블릿 닫기</span>
															关闭
														</button>
													</span>
												</span>
											</a>
			                            </span>
										<span class="pop-info type-reoperation">
											<a href="" class="info-btn js-info">
												<span class="info-btn__icon">info</span>
												颊脂垫脂肪矫正
												<span class="info-desc">
													<span class="info-desc__item">
														<span class="info-desc__box">
															<span class="info-desc__tit"><span class="info-desc__icon">icon</span>颊脂垫脂肪矫正是？</span>
															<span class="info-desc__content">
																<img src="../../images/reoperation/face/face_info_2.jpg" alt="颊脂垫脂肪矫正" class="info-desc__thumb">
																<span class="info-desc__txt1">
				                                                    脸部的脂肪分为两层。一层是贴近皮肤下层非常薄的一层脂肪和一层存在于两腮深处被称作脸颊脂肪的脂肪。因为这层脂肪层是决定脸部轮廓的要素，所以在去除皮肤表面脂肪时使用吸脂手术，而更加深入的颊脂则通过口内开口的方式得到改善。
																 </span>
															</span>
														</span>
														<button class="info-desc__btn js-close">
															<span class="info-desc__stick type-left">태블릿 닫기</span>
															<span class="info-desc__stick type-another">태블릿 닫기</span>
															关闭
														</button>
													</span>
												</span>
											</a>
										</span>术等可以使下巴线条更修长。</span>
										特别是劈外板手术是将层层叠叠的下巴骨骼最外侧的骨骼，用切除的方式将下巴骨骼的厚度减小，相比一味追求狭长的脸型来说，可以看到更加卓越的效果。
									</p>
								</div>
								<ul class="compare__list">
									<li class="compare__item type-before">
										<div class="compare__img">
											<img src="../../images/reoperation/face/face_before_3.jpg" class="img-w100" alt=""/>
										</div>
										<div class="compare__caption txt-new2"><span>BEFORE</span></div>
									</li>
									<li class="compare__item type-after">
										<div class="compare__img">
											<img src="../../images/reoperation/face/face_after_3.jpg" class="img-w100" alt="手术后6个月"/>
										</div>
										<div class="compare__caption txt-new2"><span>手术后6个月</span></div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!--//new-section-->
			</div><!-- //new-tab-content-->

			<div class="new-tab-content page-cheek">
				<div class="new-section type-cling">
					<div class="new-section__wrap type-gray2">
						<div class="new-section__box">
							<div class="compare">
								<div class="compare__wrap">
									<h3 class="new-content-tit2 tit-new2">左右不对称的情况</h3>
									<p class="compare__txt txt-new1">
										颧骨的不对称是由于骨骼本身的不对称和面部肌肉的不对称，或者这2种情况同时存在的情况导致的。<br>
										<span class="color-black1">通过精密的诊断，确认颧骨可移动的程度，将表情肌肉考虑在内，通过修复手术改善不对称。</span>
									</p>
								</div>
								<ul class="compare__list">
									<li class="compare__item type-before">
										<div class="compare__img">
											<img src="../../images/reoperation/face/face_before_4.jpg" class="img-w100" alt=""/>
										</div>
										<div class="compare__caption txt-new2"><span>BEFORE</span></div>
									</li>
									<li class="compare__item type-after">
										<div class="compare__img">
											<img src="../../images/reoperation/face/face_after_4.jpg" class="img-w100" alt=""/>
										</div>
										<div class="compare__caption txt-new2"><span>手术后6个月</span></div>
									</li>
								</ul>
							</div>
						</div>
						<div class="new-section__box">
							<div class="compare">
								<div class="compare__wrap">
									<h3 class="new-content-tit2 tit-new2">颧骨宽度变化小，不满意的情况</h3>
									<p class="compare__txt txt-new1">
										颧骨的宽度是从正面看时颧骨的两个最边角的位置决定的。也就是说如果不包括
										边角截骨的话什么样的变化颧骨的宽度都不会变。
										<span class="color-black1">佰诺佰琪通过精湛的技术包括颧骨的两个边角长度，移动颧骨弓复合体，达到更有效的颧骨缩小术。</span>
									</p>
								</div>
								<ul class="compare__list">
									<li class="compare__item type-before">
										<div class="compare__img">
											<img src="../../images/reoperation/face/face_before_5.jpg" class="img-w100" alt=""/>
										</div>
										<div class="compare__caption txt-new2"><span>BEFORE</span></div>
									</li>
									<li class="compare__item type-after">
										<div class="compare__img">
											<img src="../../images/reoperation/face/face_after_5.jpg" class="img-w100" alt=""/>
										</div>
										<div class="compare__caption txt-new2"><span>手术后6个月</span></div>
									</li>
								</ul>
							</div>
						</div>
						<div class="new-section__box">
							<div class="compare">
								<div class="compare__wrap">
									<h3 class="new-content-tit2 tit-new2">颧骨手术后脸颊下垂的情况</h3>
									<p class="compare__txt txt-new1">
										覆盖骨骼的软组织和颧骨缩小量没有计算好或者皮肤老化的情况发生时，颧骨手术后会产生脸颊下垂的问题。
										特别是不需要颧骨再配置的情况时，使用
										<span class="color-black1">
											<span class="pop-info type-reoperation">
												<a href="" class="info-btn js-info">
													<span class="info-btn__icon">info</span>
													特殊弹力胶带
													<span class="info-desc">
														<span class="info-desc__item">
															<span class="info-desc__box">
																<span class="info-desc__tit"><span class="info-desc__icon">icon</span>特殊弹力绷带是？</span>
																<span class="info-desc__content">
																	<img src="../../images/reoperation/face/face_info_3.jpg" alt="特殊弹力胶带" class="info-desc__thumb">
																	<span class="info-desc__txt1">
					                                                    弹力绷带是世界性再造整形的权威专家意大利的Dr.Capurro医生研究的医疗用线。与人体内的周边组织结合后起到跟韧带相同的作用，加强皮肤深处倒塌的筋膜层，对皮肤下垂有非常好的改善效果。并且，由于她具有非常强的弹力，相比效果来说，看起来非常自然。
																	 </span>
																</span>
															</span>
															<button class="info-desc__btn js-close">
																<span class="info-desc__stick type-left">태블릿 닫기</span>
																<span class="info-desc__stick type-another">태블릿 닫기</span>
																关闭
															</button>
														</span>
													</span>
												</a>
				                            </span>
											或者像
											<span class="pop-info type-reoperation">
												<a href="" class="info-btn js-info">
													<span class="info-btn__icon">info</span>
													安多钛
													<span class="info-desc">
														<span class="info-desc__item">
															<span class="info-desc__box">
																<span class="info-desc__tit"><span class="info-desc__icon">icon</span>安多泰是？</span>
																<span class="info-desc__content">
																	<img src="../../images/reoperation/face/face_info_4.jpg" alt="安多钛" class="info-desc__thumb">
																	<span class="info-desc__txt1">
					                                                    安多泰是得到美国FDA认证安全的人体无害材料。将皮肤组织均匀的施加压力自然的拉平，可以自然改善皱纹。具有减小疤痕，长效持久，自然吸收等特征。改善皮肤下垂，用于多种抗衰老的手术中。
																	 </span>
																</span>
															</span>
															<button class="info-desc__btn js-close">
																<span class="info-desc__stick type-left">태블릿 닫기</span>
																<span class="info-desc__stick type-another">태블릿 닫기</span>
																关闭
															</button>
														</span>
													</span>
												</a>
				                            </span>
											等抗衰老材料，根据缩小的颧骨大小改善皮肤下垂问题。
										</span>
									</p>
								</div>
								<ul class="compare__list">
									<li class="compare__item type-before">
										<div class="compare__img">
											<img src="../../images/reoperation/face/face_before_6.jpg" class="img-w100" alt=""/>
										</div>
										<div class="compare__caption txt-new2"><span>BEFORE</span></div>
									</li>
									<li class="compare__item type-after">
										<div class="compare__img">
											<img src="../../images/reoperation/face/face_after_6.jpg" class="img-w100" alt="手术后6个月"/>
										</div>
										<div class="compare__caption txt-new2"><span>手术后6个月</span></div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!--//new-section-->
			</div><!-- //new-tab-content-->

			<div class="new-tab-content page-front">
				<div class="new-section type-cling">
					<div class="new-section__wrap type-gray2">
						<div class="new-section__box">
							<div class="compare">
								<div class="compare__wrap">
									<h3 class="new-content-tit2 tit-new2">过度矫正不自然的情况</h3>
									<p class="compare__txt txt-new1">
										下巴正面的长度和侧面向前的长度要同时考虑。不考虑牙齿的立体感进行下巴手术时，在哪个特定角度都会感觉不自然。
										<span class="color-black1">通过之前整形矫正的方法，选择追加的截骨或者再矫正的方法，改善不自然的部分。</span>
									</p>
								</div>
								<ul class="compare__list">
									<li class="compare__item type-before">
										<div class="compare__img">
											<img src="../../images/reoperation/face/face_before_7.jpg" class="img-w100" alt=""/>
										</div>
										<div class="compare__caption txt-new2"><span>BEFORE</span></div>
									</li>
									<li class="compare__item type-after">
										<div class="compare__img">
											<img src="../../images/reoperation/face/face_after_7.jpg" class="img-w100" alt="手术后6个月"/>
										</div>
										<div class="compare__caption txt-new2"><span>手术后6个月</span></div>
									</li>
								</ul>
							</div>
						</div>
						<div class="new-section__box">
							<div class="compare">
								<div class="compare__wrap">
									<h3 class="new-content-tit2 tit-new2">下巴尖变歪的情况</h3>
									<p class="compare__txt txt-new1">
										面部达到不对称或者下巴骨骼中心线没有找准的情况，下巴尖会感觉歪。
										前者的情况可以通过打矫正肌肉的肉毒素来比较简单的改善，后者的情况还是做修复手术比较好。
										<span class="color-black1">通过缜密的计算从眉间，鼻子，嘴来找准中心线，根据之前的手术方法加上截骨手术可以改善。</span>
									</p>
								</div>
								<ul class="compare__list">
									<li class="compare__item type-before">
										<div class="compare__img">
											<img src="../../images/reoperation/face/face_before_8.jpg" class="img-w100" alt=""/>
										</div>
										<div class="compare__caption txt-new2"><span>BEFORE</span></div>
									</li>
									<li class="compare__item type-after">
										<div class="compare__img">
											<img src="../../images/reoperation/face/face_after_8.jpg" class="img-w100" alt="手术后6个月"/>
										</div>
										<div class="compare__caption txt-new2"><span>手术后6个月</span></div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!--//new-section-->
			</div><!-- //new-tab-content-->

			<div class="section-info">
				举的是代表轮廓修复手术的几个代表性案例，实际轮廓修复手术的原因和改善方法因人而异。要通过缜密的诊断和咨询找到不满意的原因并正确改善是防止修复手术的捷径。
			</div>
        </div><!-- //new-content-wrap-->
    </div><!-- //content-->


</div> <!-- //container -->

<% include ../_include/_footer %>
