<%
	type = "content"
	page = "special"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
	<!-- visual -->
	<div class="content-visual type-design">
		<div class="content-visual__box">
			<div class="content-visual__border">
				<p class="content-visual__txt1">用简单的施术增加饱满感</p>
				<h3 class="content-visual__tit"><span class="color-special16">#</span> 设计玻尿酸</h3>
				<p class="content-visual__txt2">
					<span class="content-visual__bg">打造整体协调感的魅力印象</span>
				</p>
			</div>
		</div>
	</div>
	<!-- //visual -->

	<!-- content -->
	<div class="content">
		<div class="content-wrap">
	      	<div class="content-section type-first">
	        	<div class="design-box1">
	          		<div class="design-box1__box type-txt">
	            		<h4 class="content-section__tit type-top">
	              			<span class="content-section__number"><span class="content-section__number-wrap">01</span></span>
	              			<strong class="content-highlight2 type-special">玻尿酸</strong>被隐藏的优点<br>
	              			都被引导出来了
	            		</h4>
	            		<p class="content-section__txt1">
	              			一般来讲玻尿酸是能简单方便地填充凹陷部位,增加饱满度的施术。因为是注射施术,不用担心疼痛或者恢复过程,具有马上就能确认手术效果的优点。
	              			玻尿酸具有过一段时间后自然溶解的特性,对手术整形有负担的患者非常适合注射玻尿酸。 <br><br>
	              			<span class="content-section__exp">但是</span> 玻尿酸的优点不光只是增加饱满度。<br class="hidden-m">
	              			玻尿酸能扩大软组织,改善疤痕,能改善烧伤或者先天性的多种皮肤问题。另外,因其含有很多水分,能起到补水保湿,刺激胶原蛋白产生,增加皮肤弹力,让皮肤变白的效果<br><br>
	              			佰诺佰琪了解玻尿酸隐藏的优点,并充分对其进行利用。
	            		</p>
	            		<div class="design-box1__img">
	              			img
	            		</div>
	            		<div class="merit">
	              			<div class="merit__wrap">
	                			<h5 class="merit__tit">佰诺佰琪 <span>玻尿酸</span> 的优点</h5>
	                			<ul class="merit__list">
	                  				<li class="merit__item txt-v5">效果更快</li>
	                  				<li class="merit__item txt-v5">皱纹及疤痕治疗</li>
	                  				<li class="merit__item txt-v5">整体印象的变化</li>
	                  				<li class="merit__item txt-v5">饱满感</li>
	                  				<li class="merit__item txt-v5">相对负担感少</li>
	                  				<li class="merit__item txt-v5">保湿&改善弹力</li>
	               	 			</ul>
	              			</div>
	            		</div>
	          		</div>
	          		<div class="design-box1__box type-img">
	            		<img src="../../images/special/special_design_img02.png" alt="效果更快 - 相对负担感少 - 饱满感">
	          		</div>
	        	</div><!-- //design-box1-->
	        	<div class="design-box2">
	          		<div class="design-box2__img">
	            		img
	          		</div>
	          		<div class="design-box2__box">
	            		<h4 class="content-section__tit type-top">
	              			<span class="content-section__number"><span class="content-section__number-wrap">02</span></span>
	              			<strong>设计玻尿酸,</strong>追求 <span class="content-highlight">改变</span>整体 <span class="content-highlight">印象</span>
	            		</h4>
	            		<p class="content-section__txt1">
	              			佰诺佰琪的设计玻尿酸能改善面部的整体形象。 <br><br>
	              			我们的面部只要有一点变化,给人的印象就会有大的改变。一个部位的变化,也会改变整体面部的协调。因此面部整形要考虑到整体的协调度,才能变美丽,达到满意的效果。从这个角度来看,玻尿酸比起只限定注射一个部位来讲,最有效果的是根据面部整体的协调,对需要注射的部位进行注射。 这就发扬了玻尿酸能直接确认效果,并一次性注射多种部位的优点。 特别是面部的侧脸,也就是从额头到下巴的曲线,通过细微地改变高低,达到理想的效果。佰诺佰琪设计玻尿酸能打造充满魅力的脸型曲线。
	            		</p>
	          		</div>
	        	</div>
	        	<div class="design-box3">
	          		<div class="design-box3__wrap">
	            		<p class="design-box3__txt">通过协调整体面部的设计玻尿酸,改变整体印象</p>
	          		</div>
	        	</div><!-- //design-box3 -->
	        	<div class="design-box4">
	          		<div class="content-section">
	            		<h4 class="content-section__tit type-center">
	              			<span class="content-section__number"><span class="content-section__number-wrap">03</span></span>
	              			运用玻尿酸的<strong class="content-highlight2 type-special">技术</strong>和经验<br class="hidden-tm">
	              			<span class="content-highlight4">提高满意度</span>
	            		</h4>
	            		<div class="design-box4__box">
	              			<div class="design-box4__wrap">
	                			<div class="design-box4__img">img</div>
                				<div class="design-vertical">
                  					<p class="design-vertical__tit"><span>#</span>FILLER</p>
                  					<p class="design-vertical__txt">样的用量根据需要<span>使用不一样的玻尿酸</span></p>
                				</div>
              				</div>
	              			<p class="design-box4__tit txt-v5">玻尿酸根据施术者的实力,其结果千差万别。</p>
	              			<p class="design-box4__txt txt-v5">
	                			即使是使用同等量的玻尿酸注射相同部位,根据如何进行注射也会有完全不同的效果。若注射玻尿酸的位置比较浅,能达到自然的效果。若每一层都适当注射的话,能增加立体感。因此玻尿酸施术最重要的是选择了解玻尿酸特性,技术好的专家。
	              			</p>
	            		</div>
					</div>
	        	</div><!-- //design-box4-->
	        	<div class="design-box5">
	          		<div class="design-box5__border">
	            		<h5 class="design-box5__tit tit-v2">
	              			<span class="design-box5__point">佰诺佰琪通过1:1</span><br class="hidden-pt">及长期的玻尿酸施术技术,设计<span class="design-box5__point">适合每个人的魅力脸型</span>
	            		</h5>
	            		<p class="design-box5__txt txt-v5">
	              			了解每个人面部的特点,通过玻尿酸注射改善需要的部位。 <br class="hidden-m">
	              			另外通过对面部各部位及皮肤层的了解,最大限度地利用玻尿酸的优点,打造更加立体、漂亮的形象。
	            		</p>
	          		</div>
	        	</div><!-- //design-box5-->
	        	<div class="design-box6">
	          		<div class="content-section">
	            		<div class="design-box6__wrap">
	              			<h4 class="content-section__tit type-left">
	                			<span class="content-section__number"><span class="content-section__number-wrap">04</span></span>
	                			即使是<strong class="content-highlight">简单的施术,</strong><br>
	                			也应该非常小心。
	              			</h4>
	              			<p class="content-section__txt1">
	                			玻尿酸相对来讲是比较简单的施术,但因其注射到体内,所以要非常注重安全。
								实际上注射玻尿酸后出现过敏反应及皮肤坏死等副作用的情况偶尔会发生。虽然是非常少见的情况,但应对意外的情况是医疗机构的基本。<br><br>
	                			<span class="content-section__rel">
									<span class="content-section__exp">佰诺佰琪</span> 为了事先应对过敏反应而进行精密的检查,发生皮肤坏死时,为进行及时治疗,设有

									<span class="content-section__info pop-info">
								  		<a href="" class="info-btn js-info">
											<span class="info-btn__icon type-design">info</span>
											高压氧气治疗仪
											<span class="info-desc type-design">
											<span class="info-desc__item">
												<span class="info-desc__box">
													<span class="info-desc__tit"><span class="info-desc__icon"></span><strong>高压氧气治疗仪</strong><br class="hidden-tm"></span>
													<span class="info-desc__content">
														<img src="../../images/special/special_design_layer1-m.png" alt="高压氧气治疗仪" class="info-desc__thumb">
														<span class="info-desc__txt1">
															高压氧气治疗仪能增加氧气的气压及浓度,
															增加体内可溶解型氧气的医疗机器。
															溶解型氧气因其分子的体积小,
															能传达至毛细血管,
															能促进细胞再生,
															达到排出废物的效果。
															因此能快速改善损伤的组织,
															促进新陈代谢,对恢复体力等调节
															身体状态有效果。
												 		</span>
													</span>
												</span>
												<button class="info-desc__btn js-close">
													<span class="info-desc__stick type-left"></span>
													<span class="info-desc__stick type-another"></span>
													关闭
												</button>
											</span>
											</span>
										</a>
									</span>
									等各种设备。另外佰诺佰琪只使用通过FDA认证的无害的正品玻尿酸,由施术经验丰富的专家团队进行施术,安全性好,效果有保障。
								</span>
	              			</p>
	            		</div>
	            		<div class="design-box6__img">img</div>
	            		<div class="design-box6__wrap type-another">
	              			<ul class="design-box6__list">
	                			<li class="design-box6__item nth-1">
	                  				<div class="design-box6__border">
	                    				<div class="design-box6__box">
	                      					<p class="design-box6__txt">过敏反应检查</p>
	                    				</div>
	                  				</div>
	                			</li>
	                			<li class="design-box6__item nth-2">
	                  				<div class="design-box6__border">
	                    				<div class="design-box6__box">
	                      					<p class="design-box6__txt">使用正品玻尿酸</p>
	                    				</div>
	                  				</div>
	                			</li>
	                			<li class="design-box6__item nth-3">
	                  				<div class="design-box6__border">
	                    				<div class="design-box6__box">
	                      					<p class="design-box6__txt">应对紧急设施</p>
	                    				</div>
	                  				</div>
	                			</li>
	              			</ul>
	            		</div>
	          		</div>
	        	</div><!-- //design-box6-->
				<!-- 手术详情 -->
				<div class="new-section">
					<div class="new-section__wrap type-w">
						<div class="operation-v2 type-special type-four">
							<div class="operation-v2__wrap">
								<h4 class="operation-v2__tit">手术详情</h4>
								<!-- <p class="operation-v2__subtit">给人效果更快的自然饱满度</p> -->
								<ul class="operation-v2__list">
									<li class="operation-v2__item nth-1 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">手术时间</h5>
											<p class="operation-v2__txt txt-new1">约10分</p>
										</div>
									</li>
									<li class="operation-v2__item nth-2 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">麻醉方法</h5>
											<p class="operation-v2__txt txt-new1">局部麻醉</p>
										</div>
									</li>
									<li class="operation-v2__item nth-5 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">来院治疗</h5>
											<p class="operation-v2__txt txt-new1">不需要</p>
										</div>
									</li>
									<li class="operation-v2__item nth-6 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">恢复</h5>
											<p class="operation-v2__txt txt-new1">快速恢复日常生活</p>
										</div>
									</li>

								</ul>
								<div class="pain-v2 type-special">
									<h5 class="pain-v2__tit txt-new2">术后体感疼痛</h5>
									<ol class="pain-v2__list">
										<% for(var i = 1; i<= 10; i++){%>
											<%if(i <= 1){%>
												<li class="<%="pain-v2__item is-active nth-"+i%>">
													<div class="pain-v2__square">square</div>
												</li>
											<%}else{%>
												<li class="<%="pain-v2__item nth-"+i%>">
													<div class="pain-v2__wrap">
														<div class="pain-v2__square">square</div>
													</div>
												</li>
											<%}%>
										<%}%>
									</ol>
									<p class="pain-v2__txt txt-new1">
										使用注射器,会有一点疼痛感。<br>
										根据注射玻尿酸的量,也会产生膨胀感及痛症。<br>
										对注射的玻尿酸进行塑形的过程中,也会产生一定程度的热痛感,但过一段时间后会好转。
									</p>
									<div class="pain-v2__box">
										<p class="pain-v2__noti txt-new4">* 通过对术后患者进行问卷调查得出的平均值</p>
										<p class="pain-v2__noti txt-new4">* 从数据不存在绝对性,会存在个人差异,仅供大家作为参考。</p>
									</div>
									<!-- <a href="https://www.banobagi.com/upload/knowledge/contour.pdf" target="_blank" class="operation-v2__link"><span>术后注意事项</span></a> -->
								</div><!-- //pain -->
							</div>
						</div>
					</div>
				</div>
	      	</div>
	    </div>
	</div><!-- //content-->
	<% include ../_include/_bfaf %>
</div> <!-- //container -->
<% include ../_include/_footer %>
