<%
	type = "detail"
	page = "special"
%>
<% include ../_include/_header %>

<!-- Content -->
<div class="special detail-common">
    <section class="fs_section specialFirst js-first" data-section-name="home">
		<div class="detail__inner">
			<div class="detail__vertical">
				<p class="detail__first-tit type-special">
					选择的<span class="color-special0">多样性</span><span class="style-comma type-another">,</span><br>
					不管是谁,都一<span class="color-special1">定需要的</span>整形
				</p>
				<h3 class="detail__first-txt type-special">
					<span class="detail__first-bwrap">解决患者苦恼的<b class="detail__first-bar type-special"></b></span><br>
					<strong class="detail__first-point">佰诺佰琪特殊整形细节。</strong>
				</h3>
			</div>
		</div>
		<div class="scroll">
			<div class="inner">
				<i></i>
			</div>
			<em>SCROLL</em>
		</div>
	</section>

    <section class="fs_section specialSection01" data-section-name="specialSection01">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="detail__section-box type-normal type-special">
	              	<h4 class="detail__section-tit">
	                	<strong>玻尿酸整形</strong><span class="color-comma">,</span><br>
						<span class="detail__section-bwrap">佰诺佰琪</span><br>
						<strong class="color-special4">是这样</strong>做的
	              	</h4>
	              	<p class="detail__section-subtit">让玻尿酸施术的满足度提高的专业性</p>
	              	<p class="detail__section-txt">
						玻尿酸,好像是很简单的施术,但也是随着施术者的不同,效果也会不一样的一项施术。<span class="color-special5">所以佰诺佰琪根绝皮肤的状态,脸部肌肉的运动,针对玻尿酸的性质而进行相对应地玻尿酸整形诊断。</span>通过感觉和技术力同时具备的施术,达到更加满意更加有效地结果。
	              	</p>
	            </div>
			</div>
		</div>
    </section>

	<section class="fs_section specialSection02" data-section-name="specialSection02">
		<div class="detail__inner type-full">
			<div class="detail__popup type-special">
				<div class="detail__popup-wrap">
					<h5 class="detail__popup-tit">爱贝芙正式指定医疗机构<span class="color-special6">。</span></h5>
					<div class="popup-img">
						<div class="popup-img__box">아테콜 공식 인정 이미지</div>
						<p class="popup-img__txt">
							全世界使用20年以来约有100万的案例,<br class="hidden-pt">使用以来最安全的半永久玻尿酸<strong class="color-special7">爱贝芙</strong>
						</p>
					</div>
					<a href="" class="detail__popup-close js-popup-close">关闭</a>
				</div>
			</div>
			<div class="detail__section-wrap type-special">
				<div class="detail__vertical">
					<div class="detail__section-box type-special type-wide type-quotation2">
						<h4 class="detail__section-tit">
							<strong>玻尿酸整形</strong><span class="color-comma">,</span><br>
							<span class="detail__section-bwrap">佰诺佰琪</span><br>
							<strong class="color-special4">值得信奈</strong>
						</h4>
						<p class="detail__section-subtit">爱贝芙官方指定医疗机构佰诺佰琪</p>
						<p class="detail__section-txt">
							半永久玻尿酸用爱贝芙,效果持续,遵循在指定医院通过<span class="color-special5">专业施术的原则进行。</span>佰诺佰琪是爱贝芙正式指定医院。当然得到<span class="color-special5">正品认证,</span>得到专业性的认证。安全持续的美丽效果,在佰诺佰琪得以实现。
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="detail__section-bottom type-special">
			<div class="detail__section-set">
				爱贝芙正式指定医疗机构
				<span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open type-special">팝업버튼</a></span>
			</div>
		</div>
	</section>

	<section class="fs_section specialSection03" data-section-name="specialSection03">
		<div class="detail__inner">
	  		<div class="detail__vertical">
	  			<div class="detail__section-box type-wide type-special">
	  				<h4 class="detail__section-tit">
	  					<strong>特殊整形</strong><span class="color-comma">,</span><br>
	  					<span class="detail__section-bwrap">佰诺佰琪</span><br class="hidden-m">
	  					理解您的<strong class="color-special7">苦恼</strong>
	  				</h4>
	  				<p class="detail__section-subtit">针对各部位追求改善</p>
	  				<p class="detail__section-txt">
						眼睛,鼻子,轮廓等以美容为目的的已了解的整形不同,只有本人才有的苦恼,<span class="color-special12">先天或者是后天性的为了克服某种障碍而需要</span>进行手术的情况。佰诺佰琪为了不忽略掉这些患者们的烦恼,而针对不同的部位,找到适合它们的解决舒适方案。
	  				</p>
	  			</div>
				<!-- layer-doc5 -->
				<div class="layer-doc5 type-special">
				  	<ul class="layer-doc5__list">
				  		<li class="layer-doc5__item nth-1">
				  			<div class="layer-doc5__wrap">
				  				<h5 class="layer-doc5__tit">耳部整形</h5>
				  			</div>
				  		</li>
				  		<li class="layer-doc5__item nth-2">
							<div class="layer-doc5__wrap">
				  				<h5 class="layer-doc5__tit">头型整形</h5>
				  			</div>
				  		</li>
				  		<li class="layer-doc5__item nth-3">
							<div class="layer-doc5__wrap">
				  				<h5 class="layer-doc5__tit">唇腭裂2次修复手术</h5>
				  			</div>
				  		</li>
				  	</ul>
				</div>
				<!-- //layer-doc5 -->
	  		</div>
		</div>
    </section>

	<section class="fs_section specialSection04" data-section-name="specialSection04">
		<div class="detail__inner type-full">
    		<div class="detail__section-wrap type-special type-another">
    			<div class="detail__vertical">
    				<div class="detail__section-box type-wide type-right type-special type-quotation2">
						<h4 class="detail__section-tit">
							<strong>特殊整形</strong><span class="color-comma">,</span><br>
							<span class="detail__section-bwrap">佰诺佰琪</span><br>
							就算是<strong class="color-special8">高难度手术</strong>也能做的很好
						</h4>
	  					<p class="detail__section-subtit">医生们就算是难度大的手术也挑战的理由</p>
	  					<p class="detail__section-txt">
							主要以美容为目的的进行整容手术的医院非常多。但是真正以整形外科作为本质的医院并不多。佰诺佰琪特殊整形也针对这一苦恼得出了结论,<span class="color-special9">医生们就算是再难的手术,再不想做的手术也会全力以赴,用心钻研。</span>就算不是彻底完善,但也要尽全力进行改善,哪怕是让患者的生活质量得到提高,也是佰诺佰琪特殊整形所追求的医学哲学。
	  					</p>
	  				</div>
    			</div>
    		</div>
			<p class="detail__bottom-txt">
				<strong>干细胞 疤痕治疗</strong> (烧伤疤痕治疗案例)
			</p>
    	</div>
    </section>

	<section class="fs_section specialSection05" data-section-name="specialSection05">
		<div class="detail__inner type-full">
			<div class="detail__popup type-special">
				<div class="detail__popup-wrap">
					<h5 class="detail__popup-tit">特殊综合诊断系统<span class="color-special6">。</span></h5>
					<div class="detail__popup-scroll">
						<div class="popup-system">
							<ul class="popup-system__list">
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h6 class="popup-system__tit">基础检查</h6>
										<p class="popup-system__txt">（身体测量/血液检查）</p>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h6 class="popup-system__tit">血液检查</h6>
										<p class="popup-system__txt">（适合性输血/贫血检查/血液凝固）</p>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h6 class="popup-system__tit">预防癌检查</h6>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h6 class="popup-system__tit">重金属检查</h6>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h6 class="popup-system__tit">超声波检查</h6>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h6 class="popup-system__tit">压力检查</h6>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h6 class="popup-system__tit">X-ray</h6>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h6 class="popup-system__tit">3D-CT检查</h6>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h6 class="popup-system__tit">TMJ（下巴关节检查）</h6>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h6 class="popup-system__tit">心电图检查</h6>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h6 class="popup-system__tit">骨密度检查</h6>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h6 class="popup-system__tit">小便检查</h6>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h6 class="popup-system__tit">肾脏机能检查</h6>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h6 class="popup-system__tit">肝机能综合检查</h6>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h6 class="popup-system__tit">糖尿病检查</h6>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h6 class="popup-system__tit">心血管疾病检查</h6>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h6 class="popup-system__tit">心脏机能检查</h6>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h6 class="popup-system__tit">肌肉和骨疾病检查</h6>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h6 class="popup-system__tit">甲状腺机能检查</h6>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h6 class="popup-system__tit">肝炎疾患检查</h6>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<a href="" class="detail__popup-close js-popup-close">关闭</a>
				</div>
			</div>
  			<div class="detail__section-wrap type-special type-another2">
  				<div class="detail__vertical">
  					<div class="detail__section-box type-wide type-right type-special type-quotation2">
						<h4 class="detail__section-tit">
							<strong>特殊整形</strong><span class="color-comma">,</span><br>
							<span class="detail__section-bwrap">佰诺佰琪</span><br>
							更加注重<strong class="color-special10">细节。</strong>
						</h4>
						<p class="detail__section-subtit">人本中心的诊疗哲学,综合检查系统</p>
						<p class="detail__section-txt">
							医院的宗旨是考虑患者的健康。佰诺佰琪以这样的人文中心的诊疗哲学作为基础,进行<span class="color-special10">特殊综合检查。</span>基础<span class="color-special10">检查中的皮肤,骨,血液,组织,甚至各种疾病检查,对患者的状态进行缜密的观察</span>,尽最大努力将手术更加安全,更加成功的完成。
						</p>
					</div>
  				</div>
  			</div>
  		</div>
		<div class="detail__section-bottom type-special">
			<div class="detail__section-set">
				佰诺佰琪特殊综合检查系统
				<span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open type-special" data-popup-type="footer">팝업버튼</a></span>
			</div>
		</div>
    </section>
</div>
<!-- //Content -->

<% include ../_include/_footer %>
