<%
	type = "content"
	page = "special"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
	<!-- visual -->
	<div class="content-visual type-special">
		<div class="content-visual__box">
			<div class="content-visual__border">
				<p class="content-visual__txt1">半永久玻尿酸的魅力</p>
				<h3 class="content-visual__tit"># 半永久玻尿酸 <span class="color-special16">爱贝芙</span></h3>
				<p class="content-visual__txt2">爱贝芙官方指定 <strong> 医疗机关</strong></p>
			</div>
		</div>
	</div>
	<!-- //visual -->

	<div class="content">
		<div class="content-wrap">
	      	<div class="artecoll-box1">
	        	<div class="content-section type-first">
		          	<div class="content-section__wrap type-special1">
		            	<div class="content-section__box w-6 type-another2">
		              		<h4 class="content-section__tit type-top">
		                		<span class="content-section__number type-another"><span class="content-section__number-wrap">01</span></span>
								半永久玻尿酸,<br>
		                		<strong class="content-highlight2 type-special">爱贝芙 </strong>就是正解
		              		</h4>
		              		<p class="content-section__txt1 type-info">
		                 		半永久玻尿酸如说一样,是保持持久的玻尿酸。和一般的玻尿酸一样注射简单,但是保持时间长久很多.因此如果对手术有负担感,或者需要反复注射玻尿酸的人,这是个很理想的备选方案。半永久玻尿酸也有很多种产品
		                		<strong>爱贝芙玻尿酸是这之中历史最久的代表性产品.</strong> 从1994年第一次上市到目前为止,通过反复研究,定位于更安全和有效的玻尿酸. .(*正式名称是爱贝芙,国内品牌也有叫Artesense.)
								<strong>爱贝芙特别出名的原因是安全性.</strong>因为不可溶解,虽然存在有些人担心在人体内引起排斥反应或者导致任何问题,截止目前为止,通过8年的注射经历来看,反而相比较一般的玻尿酸满意度更高。爱贝芙以促进在皮肤内半永久性再生胶原蛋白的
		                		<span class="content-section__info pop-info">
									<a href="" class="info-btn js-info">
										<span class="info-btn__icon type-special">info</span>
										PMMA
										<span class="info-desc type-special">
										<span class="info-desc__item">
											<span class="info-desc__box">
												<span class="info-desc__tit"><span class="info-desc__icon"></span><strong>PMMA</strong>是?<br class="hidden-tm"></span>
												<span class="info-desc__content">
													<span class="info-desc__txt1">
														凭借由细小粒子构成的PMMA经过60年以上的临床试验和持续更新的安全的成分,刺激皮肤内周围组织胶原蛋白半永久性的再生生成。
													 </span>
												</span>
											</span>
											<button class="info-desc__btn js-close">
												<span class="info-desc__stick type-left"></span>
												<span class="info-desc__stick type-another"></span>
												关闭
											</button>
										</span>
										</span>
		                          	</a>
		              			</span>为主要成分,几乎无副作用存在.
		                		<strong class="content-highlight type-special">经过长时间临床试验的安全的胶原蛋白,这就是为何要选择佰诺佰琪爱贝芙的原因。</strong>
		              		</p>
		            	</div>
			            <div class="content-section__box w-5">
			              	<div class="content-section__img type-special1">
			                	<img src="../../images/special/special_artecoll_img02.png" alt="" class="">
			              	</div>
			            </div>
		        	</div><!-- //content-section__wrap-->
			        <div class="content-section__wrap">
			            <div class="content-section__box w-9">
			              	<div class="pmma">
			                	<h5 class="pmma__tit"><span class="color-special13">*爱贝芙</span>的构成成分</h5>
			                	<ul class="pmma__list">
			                  		<li class="pmma__item nth-1">
			                    		<p class="pmma__txt">第一代</p>
			                  		</li>
			                  		<li class="pmma__item nth-2">
			                    		<p class="pmma__txt">第二代</p>
			                  		</li>
			                  		<li class="pmma__item nth-3">
			                    		<p class="pmma__txt">第三代</p>
			                  		</li>
			                  		<li class="pmma__item nth-4">
			                    		<p class="pmma__txt">第四代</p>
			                  		</li>
			                	</ul>
			              	</div><!-- //pmma-->
			            </div>
			            <div class="content-section__box w-3">
			              	<div class="pmma-info">
			                	<h6 class="pmma-info__tit">第四代PMMA的特征</h6>
			                	<ul class="pmma-info__list">
			                  		<li class="pmma-info__item txt-v2">32~40纳米大小均匀的颗粒大小</li>
			                  		<li class="pmma-info__item txt-v2">光滑圆润形状的完美的球状</li>
			                  		<li class="pmma-info__item txt-v2">不会形成静电形状的纯净构造</li>
			                  		<li class="pmma-info__item txt-v2">不会在生物体内分解的非活性特质</li>
			                	</ul>
			              	</div>
			            </div>
			        </div>
			        <div class="pmma-noti">
			            <p class="pmma-noti__txt">
			              	<strong>PMMA</strong>不会分解也不会分散到别的部位在体内安全性很高,以最高级别进行分类,<strong>粒子大小越均匀,杂质越少,越不会发生静电。</strong>
			            </p>
			        </div>
	    		</div>
			</div>
	    	<!-- //content-section -->

		    <div class="artecoll-box2">
		        <div class="content-section">
		          	<div class="content-section__wrap type-special1">
		            	<div class="content-section__box w-6">
		              		<div class="content-section__img type-special2 hidden-tm">
		                		<img src="../../images/special/special_artecoll_img03.jpg" alt="">
		              		</div>
		            	</div>
		            	<div class="content-section__box w-5 type-another2 type-bottom">
		              		<h4 class="content-section__tit type-top">
		                		<span class="content-section__number"><span class="content-section__number-wrap">02</span></span>
		                		爱贝芙玻尿酸的<strong class="content-highlight2 type-special">安全性</strong>,佰诺佰琪的卓越的数字来
								<strong class="content-highlight3 type-special">证明</strong>
		              		</h4>

		              		<div class="content-section__img hidden-p">
		                		<img src="../../images/special/special_artecoll_img03.jpg" alt="">
		              		</div>
		              		<p class="content-section__txt1">
		                		<span class="brackets__wrap"><span class="content-section__point type-special">20年</span> 临床 <span class="content-section__point type-special">40个国家</span> 许可</span><br>
								爱贝芙玻尿酸首发会是在1994。从那时开始,20年的期间经过重复研究,凭借更好的成分定义为更安全的玻尿酸。爱贝芙玻尿酸是国内唯一临床20年的玻尿酸。认可爱贝芙安全性的国家全世界有40个。以欧洲的CE认证为首,加拿大,墨西哥,还有韩国KFDA也都认证了爱贝芙的安全性。
		              		</p>
		            	</div>
		          	</div><!-- //content-section__wrap-->
		          	<div class="content-section__wrap">
		            	<div class="content-section__box w-11">
		              		<div class="content-section__img type-special3">
		                		<img src="../../images/special/special_artecoll_img04.jpg" alt="">
		              		</div>
		              		<p class="content-section__txt1 type-another">
		                 		<span class="brackets__wrap"><span class="content-section__point type-special">100万</span> 名的经历</span> 20年临床历史的玻尿酸,试验过爱贝芙的人全世界来说有超过100万名了.虽然满足度上会因人而异,但是在安全性上可以充分信任了。<br>
		                		<span class="brackets__wrap type-another"><span class="content-section__point type-special">10年以上</span> 经验的医师,<br class="hidden-pt"> 国内只有 <span class="content-section__point type-special">11个医院</span>可以进行注射</span>
		                		爱贝芙玻尿酸的安全性事实前提上来说,必须要根据技术能熟的医师注射来决定。爱贝芙玻尿酸的制造商意大利的SCIENTEK从开发过程开始到检查过程都以严格而著称。同时关于注射者的经验与技术也需全面地验证后才可以供给。为了注射正品爱贝芙玻尿酸,需要<span class="content-highlight type-special">10年以上</span>的玻尿酸注射经验<strong class="content-highlight type-special">在国内只有11家医院是正品爱贝芙玻尿酸指定医院。</strong>
		              		</p>
		            	</div>
		          	</div>
		          	<div class="content-section__wrap">
		            	<div class="content-section__box w-5">
		              		<div class="content-section__img type-special4">
		                		<img src="../../images/special/special_artecoll_img05.jpg" alt="">
		              		</div>
		            	</div>
		            	<div class="content-section__box w-6 type-another3">
		              		<div class="quotation2 type-special">
		                		<p class="quotation2__txt tit-v3">国内最早达到  <strong class="color-special14">20,000</strong> 注射记录</p>
		              		</div>
		              		<p class="content-section__txt1">
		                		在佰诺佰琪引进爱贝芙玻尿酸已经有8年的时间了。注射的愈多,愈听到更多人说爱贝芙是非常不错的玻尿酸的事实,尝试过一次注射的患者再次来注射的情形越来越多。所以如此看来
								<strong class="content-highlight type-special">佰诺佰琪在国内已经成为爱贝芙玻尿酸注射记录最多的医院之一</strong>
		              		</p>
		            	</div>
		          	</div>
		          	<div class="content-section__wrap hidden-m type-short">
		            	<div class="content-section__box w-12">
		              		<div class="content-section__img type-special5">
		                		<img src="../../images/special/special_artecoll_img06.jpg" alt="" class="hidden-tm">
		                		<img src="../../images/special/special_artecoll_img06_t.jpg" alt="" class="hidden-pm">
		              		</div>
		            	</div>
		          	</div>
		          	<div class="content-section__wrap">
		            	<div class="content-section__box w-5 type-another3">
		              		<div class="quotation2">
		                  		<p class="quotation2__txt tit-v3"><strong class="color-special14">维持10年</strong>的美丽</p>
		                	</div>
		           	 	</div>
		            	<div class="content-section__box w-6 type-another2">
		              		<p class="content-section__txt1 type-0">
		                		<strong>爱贝芙玻尿酸</strong>相对来说因为是比较<strong>简单的注射</strong>只要使用药膏麻醉的程度也是可能的。<br class="hidden-pm">
		                 	 	注射的时间虽然只有短短<strong class="content-highlight type-special">10分钟左右,维持的时间却有10年。</strong>
		              		</p>
		            	</div>
		            	<div class="age">
		             		<ul class="age__list">
		                  		<li class="age__item nth-1">
		                    		<p class="age__txt">3个月</p>
		                  		</li>
		                  		<li class="age__item nth-2">
		                    		<p class="age__txt">1年</p>
		                  		</li>
		                  		<li class="age__item nth-3">
		                    		<p class="age__txt">10年</p>
		                  		</li>
		                	</ul>
		            	</div>
		          	</div>
		        </div>
		        <!-- //content-section -->
		    </div>

			<div class="artecoll-box3">
		        <div class="content-section">
		          	<div class="content-section__wrap type-special1">
		            	<div class="content-section__box w-7">
		              		<div class="content-section__img type-special6 hidden-tm">
		                		<img src="../../images/special/special_artecoll_img07.jpg" alt="">
		              		</div>
		            	</div>
		            	<div class="content-section__box w-4 type-bottom">
		              		<h4 class="content-section__tit type-top">
		                		<span class="content-section__number type-0"><span class="content-section__number-wrap">03</span></span>
								通过感性的手术<br>
		                		进行<strong class="content-highlight2 type-special">自然地</strong>修正
		              		</h4>
		            	</div>
		            	<div class="content-section__img type-special6 hidden-p">
		              		<img src="../../images/special/special_artecoll_img07.jpg" alt="">
		            	</div>
		          	</div><!-- //content-section__wrap-->
		          	<div class="artecoll">
		            	<h5 class="artecoll__tit tit-v3">有效的进行爱贝芙玻尿酸注射的 <span class="color-special15">两种方法</span></h5>
		            	<ul class="artecoll__list">
		              		<li class="artecoll__item">
		                		<h6 class="artecoll__subject nth-1">使全脸变年轻的方法</h6>
		                		<p class="artecoll__txt txt-v3">
									爱贝芙玻尿酸使用生长在澳洲纯净地区的医疗用的小牛犊身上的胶原蛋白为主要成分.基于这个胶原蛋白体内出色的安全性和持久性, 爱贝芙注射后, 可以长久地取得胶原蛋白重塑的效果。以产生皱纹和老化的部位部位为中心,考虑到全脸的协调的同时进行注射,改善整体的印象的同时和打造面部全体年轻化的感觉。
		               			 </p>
		              		</li>
		              		<li class="artecoll__item">
		                		<h6 class="artecoll__subject nth-2">代替填充物矫正轮廓的方法</h6>
		                		<p class="artecoll__txt txt-v3">
									爱贝芙玻尿酸矫正额头或者鼻梁,下巴尖的时候是可以代替填充物使用的优秀的替代品。对填充物植入手术有负担,或需要相比较一般的玻尿酸和脂肪移植更长久的维持效果的时候,我们会推荐爱贝芙玻尿酸。
		                		</p>
		              		</li>
		            	</ul>
		          	</div>
		        </div><!-- //content-section -->
		    </div>
		    <div class="artecoll-box4">
		        <div class="content-section">
		          	<div class="content-section__wrap type-special1">
		            	<div class="content-section__box w-12 type-another2">
		              		<h4 class="content-section__tit type-left">
		                  		<span class="content-section__number"><span class="content-section__number-wrap">04</span></span>
						  		用10分钟的注射<br class="hidden-pt"><strong class="content-highlight2 type-special">10年</strong>的美丽
		                	</h4>
		                	<p class="content-section__txt1 type-another">
		                  		<span class="content-section__point">注射后办法<span class="color-special14">正品认证书</span><br>
						  		在爱贝芙玻尿酸指定医院—佰诺佰琪整形外科注射前,会给患者进行正品确认,注射后会提供正品确认书。
		                	</p>
		            	</div>
		          	</div>
		        </div><!-- //content-section -->
		    </div>
			<!-- 手术详情 -->
			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-special type-four">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">手术详情</h4>
							<!-- <p class="operation-v2__subtit">佰诺佰琪塌鼻整形恢复迅速</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">手术时间</h5>
										<p class="operation-v2__txt txt-new1">约10分</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">麻醉方法</h5>
										<p class="operation-v2__txt txt-new1">局部麻醉</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">来院治疗</h5>
										<p class="operation-v2__txt txt-new1">不需要</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">恢复</h5>
										<p class="operation-v2__txt txt-new1">快速恢复日常生活</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-special">
								<h5 class="pain-v2__tit txt-new2">术后体感疼痛</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 1){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">square</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">square</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									因为使用注射器,会有些刺痛的感觉。<br>
									依据注入的爱贝芙玻尿酸量的不同,也许会伴随一定的膨胀感和疼痛感。<br>
									注入的爱贝芙玻尿酸在固定形状的过程中也许会有麻麻的刺痛感,随着时间会渐渐缓解。
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* 通过对术后患者进行问卷调查得出的平均值</p>
									<p class="pain-v2__noti txt-new4">* 从数据不存在绝对性,会存在个人差异,仅供大家作为参考。</p>
								</div>
								<!-- <a href="https://www.banobagi.com/upload/knowledge/contour.pdf" target="_blank" class="operation-v2__link"><span>术后注意事项</span></a> -->
							</div><!-- //pain -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div><!-- //content-->
	<% include ../_include/_bfaf %>
</div> <!-- //container -->
<% include ../_include/_footer %>
