//content ver1,ver2, detail-common
.after-style{margin-top:46px;
	$this:&;
	&.type-chest{
		#{$this}__item{
			&.nth-1{background-color:#7b7b7b;
				&:before{background:url('../images/chest/droop/droop_img_9.jpg') no-repeat center center / cover;}
			}
			&.nth-2{background-color:$chest2;
				&:before{background:url('../images/chest/droop/droop_img_10.jpg') no-repeat center center / cover;}
			}
			&.nth-3{background-color:$chest1;
				&:before{background:url('../images/chest/droop/droop_img_11.jpg') no-repeat center center / cover;}
			}
		}
	}

	&__list{margin:0; padding:0; font-size: 0;}
	&__item{display: inline-block;width:33.33%; vertical-align: top; text-align: center;list-style:none;
		&:before{display:block; width:100%; height:0; padding-bottom:36.72%; content:'';}
	}
	&__txt{height:50px; line-height:50px; color:#fff;}
	&__noti{margin-top:26px; color:#aaa;}
	@media only screen and (max-width: $mobile-size){margin-top:20px;
		&__txt{height:25px; line-height:25px; color:#fff;}
		&__noti{margin-top:14px; font-size:1.2rem;}
	}
}

.detail-doctor{@include background('../images/detail/detail_doctor_bg.jpg','no-repeat center center / cover');
	$this:&;
	&__wrap{padding:50px 10% 0; text-align:center; color:#fff; box-sizing:border-box;}
	&__txt{margin:0 0 8px; font-size:18px; text-transform: uppercase;}
	&__tit{position:relative; display:inline-block; margin:0 auto; font-size:56px; font-weight: $lightDown;  line-height:1.2; letter-spacing:-1px;}
	&__list{margin:74px 0 0 0; padding:0; font-size:0;
		&.type-two{padding:0 20%;
			#{$this}__item{width:50%;}
		}
		&.type-three{padding:0 20%;
			#{$this}__item{width:33.3333%;}
		}
		&.type-four{padding:0 10%;
			#{$this}__item{width:25%;}
		}
	}
	&__item{ display:inline-block; width:20%; margin-top:-1px; list-style:none; vertical-align:top;
		&.is-active{
			#{$this}__outer{z-index:35;}
			#{$this}__img{transform:scale(1.1); -ms-transform:scale(1.1); z-index:30;}
			#{$this}__img:after{opacity: 0;}
			#{$this}__img:before{opacity: 1;}
			#{$this}__department,#{$this}__name{color:#9e009f;}
		}
	}
	&__area{position:relative; width:100%; height:0; padding-bottom:134.0782%;}
	&__link{display:block; color:inherit;}
	&__img{position:absolute; top:0; left:0; width:100%; height:100%; z-index:10; transform:scale(1.0); -ms-transform:scale(1.0); transition: all 0.2s;
		&:after{position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.45);  opacity:1;  transition: opacity 0s;z-index:5; content:'';}
		&:before{position:absolute; top:0; left:0; width:100%; height:100%; border:8px solid #9e009f; opacity: 0; box-sizing:border-box; transition: opacity 0s; content:''; }
	}
	&__outer{position:absolute; top:0; left:0; width:100%; height:100%; z-index:15;}
	&__inner{display:inline-table; width:100%; height:100%;}
	&__vertical{display:table-cell; padding:0 5%; height:100%; vertical-align:middle; box-sizing:border-box;}
	&__department{margin:0; font-size:18px;}
	&__name{margin:0;font-size:32px; font-weight:$medium; }
	&__small{font-size:18px; font-weight:$lightDown;}
	&__noti{display:inline-block; margin:26px 0 0 0; padding:4px 8px; font-size:20px; color:#fff; background-color:#9e009f;}
	&__highlight{color:#9e009f;}
	@media only screen and (max-width:$tablet-size){
		.detail__inner{width:100%;}
		.inner-wrap.type-detail{width:100%; padding:0;}
		&__wrap{padding:0 7.68%;}
		&__tit{
			&:after{display:none;}
		}
		&__small{display:block;}
	}
	@media only screen and (max-width:$tablet-size) and (orientation: landscape){
		&__tit{font-size:40px;}
		&__list{margin-top:30px;}
		&__wrap{padding:0 18%;}
		&__department{font-size:14px;}
		&__name{font-size:24px;}
		&__noti{margin-top:18px; font-size:16px;}
	}
	@media only screen and (max-width:$mobile-size){height:auto !important; @include background('../images/detail/detail_doctor_bg_m.jpg','repeat'); background-repeat:repeat !important;
		&__wrap{margin-top:0; padding:50px 30px 80px;}
		&__txt{margin:0 0 4px; font-size:1.1rem; }
		&__tit{font-size:3.3rem;}
		&__list{margin-top:24px; padding:0 !important; text-align:left;}
		&__item{width:50% !important;; margin-top:-1px; text-align:center;}
		&__img{position:absolute; top:0; left:0; width:100%; height:100%; z-index:10; transform:scale(1.0); transition: transform 0.5s;}
		&__department{font-size:1.2rem;}
		&__name{font-size:2.1rem; }
		&__small{font-size:1.1rem; }
		&__noti{margin-top:16px; padding:2px; font-size:1.1rem;}
	}
}



.onepage-video{position:relative; padding:56.25% 0 0 0;
	$this:&;
	&__wrap{position:absolute; top:0; left:0; right:0; bottom:0; width:100%; height:100%;}
	&__iframe{position:absolute; height: 100%; width: 100vw; height: 56.25vw; min-height: 100vh; min-width: 177.77vh; top: 50%; left: 50%; z-index:-1;
	-ms-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);}
	&__tit,&__txt,&__subtit,&__btn,&__scroll{display:none;}
	@media only screen and (max-width:$tablet-size){position:relative; padding:0; width:100%; height:100%; color:#f0d6bb;
		&.type-contour{color:#c5a985;
			#{$this}__btn{background-color:$contour1; color:#fff;
				&:after{@include background('../images/contour/detail/contour_btn.png','no-repeat center center / contain');}
			}
			#{$this}__inner{border-color:transparent;}
		}
		&__tit,&__txt,&__subtit{text-shadow: 3px 4px 5px rgba(0, 0, 0, 0.75); }
		&__txt{position:relative;
			&.type-star{
				&:before{display:block; width:110px; height:20px; margin:0 auto 20px;  @include background('../images/content/detail_star.png','no-repeat center center / contain'); content:'';}
			}
		}
		&__txt{display:block; margin:0; font-size:32px; font-weight:$regular; }
		&__tit{display:block; margin:8px 0 0 0; font-size:58px; font-weight:$medium;}
		&__subtit{display:block; margin:12px 0 0 0; font-size:26px; font-weight:$light;}
		&__wrap{position:static; display:inline-table; text-align:center;}
		&__vertical{display:table-cell; height:100%; width:100%; vertical-align:middle;}
		&__outer{margin-top:30px; padding:0 60px; box-sizing:border-box;}
		&__inner{position:relative; width:100%; height:0; padding-bottom:56.25%; border:4px solid #a67c52;}
		&__iframe{width:100%; height:100%; min-height:auto; min-width:auto; top:0; left:0; z-index:10; -ms-transform: translate(0, 0); -webkit-transform: translate(0, 0); transform: translate(0, 0);}
		&__btn{position: relative; display: inline-block;  margin-top: 36px; color: #f0d6bb; min-width: 250px; height: 65px; border-radius: 35px; font-size: 22px; font-weight: $bold;
			background-color: #a67c52; text-decoration:none; line-height:1;
			&:after{content: '';position: absolute; display: inline-block;width: 10px; height: 14px; top:24px; right:24px;@include background('../images/hair/detail/hair_btn.png','no-repeat center center / contain');}
			&:before{content: '';display: inline-block; height: 100%; vertical-align: middle;}
		}
		&__arrow{position:absolute; left:0; right:0; bottom:60px; margin:0 auto;}
	}
	@media only screen and (max-width:$tablet-size) and (orientation: landscape){
		&__txt{font-size:22px;}
		&__tit{margin-top:2px; font-size:40px;}
		&__subtit{margin-top:3px; font-size:18px;}
		&__outer{margin-top:20px; padding:0 20%;}
		&__btn{height:46px;margin-top:20px; font-size:16px;
			&:after{top:14px;}
		}
		&__arrow{display:none;}
	}
	@media only screen and (max-width:$mobile-size){/*padding-top:92px; padding-bottom:30px;*/ height:100vh;
		&__scroll{overflow:hidden; display:block; width:6px; margin:18px auto 0; text-indent:-999px;}
		&__txt{font-size:1.9rem;
			&.type-star{
				&:before{width:55px; height:10px; margin-bottom:10px;}
			}
		}
		&__tit{margin-top:0px; font-size:3.5rem; }
		&__subtit{margin-top:6px; font-size:1.5rem;}
		&__outer{margin-top:16px; padding:0 20px;}
		&__inner{border-width:2px;}
		&__btn{margin-top: 24px; color: #f0d6bb; min-width: 146px; height: 40px; border-radius: 20px; font-size: 1.5rem;
			&:after{width: 6px; height: 10px; top:14px; right:16px; @include background('../images/hair/detail/hair_btn_m.png','no-repeat center center / contain');}
		}
		&__arrow{ bottom:30px; width:6px; height:20px;}
	}
}
