.tit-new1{margin:0; font-size:48px; color:$black1; line-height:1.16; font-weight:$regular;
	@media only screen and (max-width: $mobile-size) {font-size:3rem;}
}
.tit-new2{margin:0; font-size:38px; color:$black1; line-height:1.2; font-weight:$light;
	@media only screen and (max-width: $mobile-size) {font-size:2.5rem;}
}
.tit-new3{margin:0; font-size:38px; color:$black1; line-height:1.16; font-weight:$regular;
	@media only screen and (max-width: $mobile-size) {font-size: 2.5rem;}
}
.tit-new4{margin:0; font-size:30px; color:#fff; line-height:1.33; font-weight:$light;
	@media only screen and (max-width: $mobile-size) {font-size: 2.1rem;}
}
.txt-new1{margin:0; font-size:15px; line-height:1.7; color:$black5; font-weight:$light;
	@media only screen and (max-width: $mobile-size) {font-size:1.2rem;}
}
.txt-new2{margin:0; font-size:20px; line-height:1.6; color:$black1; font-weight:$light;
	@media only screen and (max-width: $mobile-size) {font-size:1.4rem;}
}
.txt-new3{margin:0; font-size:28px; color:#fff; line-height:1.35; font-weight:$light;
	@media only screen and (max-width: $tablet-size) {font-size:20px;}
	@media only screen and (max-width: $mobile-size) {font-size: 1.5rem;}
}
.txt-new4{margin:0; font-size:12px; line-height:1.5; color:#666; font-weight:$light;
	@media only screen and (max-width: $mobile-size) {font-size:1.4rem;}
}

/*weight*/
.weight-thin{font-weight:$thin !important;}
.weight-regular{font-weight:$regular !important;}
.weight-medium{font-weight:$medium !important;}
.weight-bold{font-weight:$bold !important;}

/*color*/
.n-color-special1{color:$special1;}
.n-color-special2{color:$special2;}
.n-color-special3{color:$special3;}

.n-color-nose1{color:$nose1;}
.n-color-nose2{color:$nose2;}
.n-color-nose3{color:$nose3;}

.n-color-reoperation1{color:$reoperation1;}
.n-color-reoperation2{color:$reoperation2;}
.n-color-reoperation3{color:$reoperation3;}

.n-color-eye1{color: $eye1;}
.n-color-eye2{color: $eye2;}
.n-color-eye3{color: $eye3;}

.n-color-body1{color: $body1;}
.n-color-body2{color: $body2;}
.n-color-body3{color: $body3;}

.n-color-contour1{color: $contour1;}
.n-color-contour2{color: $contour2;}
.n-color-contour3{color: $contour3;}

.n-color-chest1{color: $chest1;}
.n-color-chest2{color: $chest2;}
.n-color-chest3{color: $chest3;}

.n-color-wrinkle1{color: $wrinkle1;}
.n-color-wrinkle2{color: $wrinkle2;}
.n-color-wrinkle3{color: $wrinkle3;}

.n-color-hair1{color: $hair1;}
.n-color-hair2{color: $hair2;}
.n-color-hair3{color: $hair3;}
.n-color-hair4{color: $hair4;}
.n-color-hair5{color: $hair5;}
.n-color-hair6{color: $hair6;}
