<%
	type = "main"
	page = "main"
%>
<% include ../_include/_header %>

<div class="intro nth-10">
	<!--메인팝업-->
	<!-- 첫번째 팝업 -->
	<div class="popup-m type-first is-active">
		<div class="popup-m__wrap">
			<img src="../../images/common/popup/popup_chest_checkup.png" alt="" class="popup-m__img">
			<div class="popup-m__bottom">
				<a href="" class="popup-m__close type-left  js-popup-m-today">今日不再显示。</a>
				<a href="" class="popup-m__close type-right js-popup-m-close">关闭</a>
			</div>
		</div>
	</div>
	<!--//메인팝업-->
	<div class="intro-video">
		<div id="youkuplayer" class="intro-video__iframe">
		</div>
	</div>
	<div class="intro__bg"></div>
	 <!-- sns -->
	<ul class="intro-sns">
		<li class="intro-sns__item">
			<a href="https://www.weibo.com/p/1006061764483491/home?from=page_100606&mod=TAB&is_all=1" target="_blank" class="intro-sns__link">
				<i class="fa fa-weibo"></i>
			</a>
		</li>
		<li class="intro-sns__item">
			<a href="http://i.youku.com/i/UNDA2MTUzOTM2?spm=a2ha1.12325017.uerCenter.5!6~5!2~A" target="_blank" class="intro-sns__link type-blog">
				youku
			</a>
		</li>
		<li class="intro-sns__item">
			<a href="http://reurl.kr/D01F824EH" target="_blank" class="intro-sns__link">
				<i class="fa fa-facebook"></i>
			</a>
		</li>
	</ul>
	<!-- //sns -->
	<!-- <div class="intro-inner">
		<div class="intro-inner__box">
			<p class="intro-inner__txt nth-1 js-main-txt1">
				超越美丽
			</p>
			<p class="intro-inner__txt nth-2 js-main-txt2">
				还彰显自然<br>
				让您视线无法转移
			</p>
			<div class="intro-inner__wrap">
				<div class="intro-inner__typed" id="typed-strings">
					<h3 class="intro-inner__tit">我是 <span class="point-color">细节打造者</span></h3>
				</div>
				<h3 class="intro-inner__tit" id="typed"></h3>
			</div>
			<p class="intro-inner__subtit js-main-txt3">这就是称我们是细节打造者的理由</p>
		</div>
	</div> -->

	<!-- <div class="intro-inner">
		<div class="intro-inner__box">
			<p class="intro-inner__tit animated fadeInUp">我是 <span class="intro-inner__point">“细节打造者”</span></p>
			<p class="intro-inner__txt animated fadeInUp delay-1s">此后十年间选择了佰诺佰琪</p>
			<div class="intro-inner__bar animated fadeInUp delay-2s">
				这就是为什么我们自称为“细节打造者”
			</div>
		</div>
	</div> -->

	<!-- 무사고 문구-->
	<div class="intro-inner">
		<div class="intro-inner__box">
			<p class="intro-inner__txt">
				<span class="intro-inner__motion animated fadeInUp">首先考虑到患者的尊严</span>
				<span class="intro-inner__motion animated fadeInUp delay-1s">忠诚于医学的基础</span>
				<span class="intro-inner__motion animated fadeInUp delay-2s">我是<span class="intro-inner__point">细节打造者</span> </span>
			</p>
			<p class="intro-inner__bar animated fadeInUp delay-3s">
				这就是为什么我们自称为“细节打造者”
			</p>
		</div>
	</div>

	<div class="intro-slide">
		<ul class="intro-slide__list js-intro-slide">
			<li class="intro-slide__item nth-1">
				<div class="intro-slide__inner">
					<div class="intro-slide__wrap">
						<h3 class="intro-slide__tit">I am <span class="intro-slide__point">Detailist</span></h3>
						<p class="intro-slide__txt">
							超越美丽直到看见自然为止，<br>
							丝毫都没有掉以轻心的我是细节打造者。
						</p>
					</div>
				</div>
			</li>
			<li class="intro-slide__item nth-2">
				<div class="intro-slide__inner">
					<div class="intro-slide__wrap">
						<h3 class="intro-slide__tit">From <span class="intro-slide__point">Safety</span></h3>
						<p class="intro-slide__txt">
							随时可以应对变数，<br>
							为了美丽也绝不承受危险。
						</p>
					</div>
				</div>
			</li>
			<li class="intro-slide__item nth-3">
				<div class="intro-slide__inner">
					<div class="intro-slide__wrap">
						<h3 class="intro-slide__tit">From <span class="intro-slide__point">Trust</span></h3>
						<p class="intro-slide__txt">
							母亲为女儿、或是女儿为了母亲、朋友之间<br>
							任何人都可以放心推荐的医院
						</p>
					</div>
				</div>
			</li>
			<li class="intro-slide__item nth-4">
				<div class="intro-slide__inner">
					<div class="intro-slide__wrap">
						<h3 class="intro-slide__tit">After <span class="intro-slide__point">Care</span></h3>
						<p class="intro-slide__txt">
							术后通过合理有效的浮肿、淤青管理<br>
							根据不同手术用量身定制的方式提高满意度
						</p>
					</div>
				</div>
			</li>
		</ul>

		<div class="intro-slide__area">
			<div class="intro-slide__progress">
				<span class="intro-slide__bar"></span>
			</div>

			<div class="intro-slide__counter"></div>
		</div>
	</div>

	<!-- //txt-box-->
	<div class="scroll">
		<p class="scroll__txt">SCROLL</p>
		<div class="scroll__inner">
			<i class="scroll__ball"></i>
		</div>
	</div>
</div>
<!-- focus -->
<div class="focus">
	<div class="main__wrap">
		<div class="focus__area">
			<h3 class="focus__tit main__tit type-bar">focus PICK</h3>
			<p class="focus__txt">佰诺佰琪策划网站与现在进行中的计划方案一眼即可看到</p>
			<div class="focus__wrap">
				<div class="focus__best">
					<span class="focus__category type-promotion">Promotion</span>
					<img src="../../images/temp/focus_best.jpg" alt="혜택도 풍년이다! - 바노바기 해피추석위크" class="img-responsive hidden-tm">
					<img src="../../images/temp/focus_best_t.jpg" alt="혜택도 풍년이다! - 바노바기 해피추석위크" class="img-responsive hidden-p">
					<a href="" class="focus__link">자세히보기</a>
				</div>
				<ul class="focus__list">
					<li class="focus__item">
						<div class="focus__img">
							<img src="../../images/temp/focus_banner.jpg" alt=""  class="img-responsive">
						</div>
						<a href="http://renewal.thailandbanobagi.com/review/index.php#retSection" class="focus__link">자세히보기</a>
					</li>
					<li class="focus__item">
						<div class="focus__img">
							<img src="../../images/temp/focus_banner.jpg" alt=""  class="img-responsive">
						</div>
						<a href="" class="focus__link">자세히보기</a>
					</li>
					<li class="focus__item">
						<div class="focus__img">
							<img src="../../images/temp/focus_banner.jpg" alt=""  class="img-responsive">
						</div>
						<a href="" class="focus__link">자세히보기</a>
					</li>
					<li class="focus__item">
						<div class="focus__img">
							<img src="../../images/temp/focus_banner.jpg" alt=""  class="img-responsive">
						</div>
						<a href="" class="focus__link">자세히보기</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- //focus -->

<!--main-video-->
<div class="main-video">
	<div class="main-video__wrap">
		<ul class="main-video__list">
			<li class="main-video__item">
				<div class="main-video__outer">
					<h3 class="main-video__tit">佰诺佰琪</h3>
					<p class="main-video__txt">整形外科专家关于整形的疑问解答</p>
					<a href="https://www.youtube.com/channel/UC2lzYQ5kXBK0gkVDe5StZzQ" class="main-video__btn" target="_blank">
						<span>佰诺佰琪TV频道</span>
					</a>
				</div>
			</li>
			<li class="main-video__item type-video">
				<div class="main-video__inner">
					<div class="main-video__box">
						<div class="main-video__area nth-1">
							<a href="https://www.youtube.com/watch?v=x8NRoYcIaK4" class="main-video__link" target="_blank">바로가기</a>
							<div class="main-video__move js-main-video"></div>
						</div>
						<!--<div class="main-video__area nth-2">
							<a href="https://www.youtube.com/watch?v=GjwwS7_Aqwk" class="main-video__link" target="_blank">바로가기</a>
							<div class="main-video__move js-main-video"></div>
						</div>-->
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>
<!--//main-video-->


<!-- real -->
<div class="real">
	<div class="real__wrap main__wrap">
		<div class="real__header">
			<span class="real__txt">美丽的变化&amp;全新的出发</span>
			<h3 class="real__tit">
				BANOBAGI<br class="hidden-p"> REAL STORY
			</h3>
		</div>
		<div class="real__area">
			<div class="real__box">
				<ul class="real__list">
					<li class="real__item type-big">
						<div class="real__category">
							<img src="../../images/temp/real_icon.png" alt="">
						</div>
						<span class="real__border type-top">top</span>
						<span class="real__border type-left">right</span>
						<span class="real__border type-bottom">bottom</span>
						<span class="real__border type-right">right</span>
						<img src="../../images/temp/let_big.jpg" alt="" class="real__img img-responsive">
						<a href="" class="real__link">상세보기</a>
					</li>
					<li class="real__item type-small">
						<div class="real__category">
							<img src="../../images/temp/real_icon.png" alt="">
						</div>
						<span class="real__border type-top">top</span>
						<span class="real__border type-left">right</span>
						<span class="real__border type-bottom">bottom</span>
						<span class="real__border type-right">right</span>
						<img src="../../images/temp/let_big.jpg" alt="" class="real__img img-responsive">
						<a href="" class="real__link">상세보기</a>
					</li>
					<li class="real__item type-small">
						<div class="real__category">
							<img src="../../images/temp/real_icon.png" alt="">
						</div>
						<span class="real__border type-top">top</span>
						<span class="real__border type-left">right</span>
						<span class="real__border type-bottom">bottom</span>
						<span class="real__border type-right">right</span>
						<img src="../../images/temp/let_big.jpg" alt="" class="real__img img-responsive">
						<a href="" class="real__link">상세보기</a>
					</li>
					<li class="real__item type-small">
						<div class="real__category">
							<img src="../../images/temp/real_icon.png" alt="">
						</div>
						<span class="real__border type-top">top</span>
						<span class="real__border type-left">right</span>
						<span class="real__border type-bottom">bottom</span>
						<span class="real__border type-right">right</span>
						<img src="../../images/temp/let_big.jpg" alt="" class="real__img img-responsive">
						<a href="" class="real__link">상세보기</a>
					</li>
					<li class="real__item type-small">
						<div class="real__category">
							<img src="../../images/temp/real_icon.png" alt="">
						</div>
						<span class="real__border type-top">top</span>
						<span class="real__border type-left">right</span>
						<span class="real__border type-bottom">bottom</span>
						<span class="real__border type-right">right</span>
						<img src="../../images/temp/let_big.jpg" alt="" class="real__img img-responsive">
						<a href="" class="real__link">상세보기</a>
					</li>
				</ul>
			</div>
			<div class="real__box type-another">
				<ul class="real__list">
					<li class="real__item type-small">
						<div class="real__category">
							<img src="../../images/temp/real_icon.png" alt="">
						</div>
						<span class="real__border type-top">top</span>
						<span class="real__border type-left">right</span>
						<span class="real__border type-bottom">bottom</span>
						<span class="real__border type-right">right</span>
						<img src="../../images/temp/let_big.jpg" alt="" class="real__img img-responsive">
						<a href="" class="real__link">상세보기</a>
					</li>
					<li class="real__item type-small">
						<div class="real__category">
							<img src="../../images/temp/real_icon.png" alt="">
						</div>
						<span class="real__border type-top">top</span>
						<span class="real__border type-left">right</span>
						<span class="real__border type-bottom">bottom</span>
						<span class="real__border type-right">right</span>
						<img src="../../images/temp/let_big.jpg" alt="" class="real__img img-responsive">
						<a href="" class="real__link">상세보기</a>
					</li>
					<li class="real__item type-big">
						<div class="real__category">
							<img src="../../images/temp/real_icon.png" alt="">
						</div>
						<span class="real__border type-top">top</span>
						<span class="real__border type-left">right</span>
						<span class="real__border type-bottom">bottom</span>
						<span class="real__border type-right">right</span>
						<img src="../../images/temp/let_big.jpg" alt="" class="real__img img-responsive">
						<a href="" class="real__link">상세보기</a>
					</li>
					<li class="real__item type-small">
						<div class="real__category">
							<img src="../../images/temp/real_icon.png" alt="">
						</div>
						<span class="real__border type-top">top</span>
						<span class="real__border type-left">right</span>
						<span class="real__border type-bottom">bottom</span>
						<span class="real__border type-right">right</span>
						<img src="../../images/temp/let_big.jpg" alt="" class="real__img img-responsive">
						<a href="" class="real__link">상세보기</a>
					</li>
					<li class="real__item type-small">
						<div class="real__category">
							<img src="../../images/temp/real_icon.png" alt="">
						</div>
						<span class="real__border type-top">top</span>
						<span class="real__border type-left">right</span>
						<span class="real__border type-bottom">bottom</span>
						<span class="real__border type-right">right</span>
						<img src="../../images/temp/let_big.jpg" alt="" class="real__img img-responsive">
						<a href="" class="real__link">상세보기</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- //real -->

<div class="main-sns">
	<div class="main__wrap">
		<h3 class="main-sns__tit main__tit type-bar">SNS</h3>
		<div class="main-sns__list">
			<div class="main-sns__item nth-2">
				<h4 class="main-sns__subject">微博</h4>
				<a href="https://www.weibo.com/p/1006061764483491/home?from=page_100606&mod=TAB&is_all=1" class="main-sns__link" target="_blank">바로가기</a>
			</div>
			<div class="main-sns__item nth-3">
				<h4 class="main-sns__subject">YOUKU(优酷)</h4>
				<a href="http://i.youku.com/i/UNDA2MTUzOTM2?spm=a2ha1.12325017.uerCenter.5!6~5!2~A" class="main-sns__link" target="_blank">바로가기</a>
			</div>
			<div class="main-sns__item nth-1">
				<h4 class="main-sns__subject">facebook</h4>
				<a href="http://reurl.kr/D01F824EH" class="main-sns__link" target="_blank">바로가기</a>
			</div>
			<!--<div class="main-sns__item nth-4">
				<h4 class="main-sns__subject">LINE</h4>
				<a href="http://line.me/ti/p/@banobagiid" class="main-sns__link" target="_blank">바로가기</a>
			</div>-->
		</div>
	</div>
</div>

<div class="detail-list">
	<div class="main__wrap">
		<div class="detail-list__wrap">
			<ul class="detail-list__list js-list-slide">
				<li class="detail-list__item">
					<div class="detail-list__area">
						<div class="detail-list__outer type-pattern">
							<img src="../../images/main/detail_list_1_1.jpg" alt="반재상 원장" class="img-responsive">
						</div>
					</div>
					<div class="detail-list__area type-txt">
						<div class="detail-list__outer">
							<div class="detail-list__inner">
								<div class="detail-list__criterion">
									<h4 class="detail-list__tit">
										顾客10年后的样子也能预测的
										<strong class="detail-list__point">细节打造者</strong>
									</h4>
									<p class="detail-list__txt">
										我一直都爱听顾客的意见,只有这样才能保持美丽。与顾客的充分沟通是成功手术的条件。
									</p>
									<div class="detail-list__box">
										<p class="detail-list__point2">Detailist</p>
										<p class="detail-list__name">潘在常</p>
										<p class="detail-list__career">
											21年整形外科专家经验, 体型整形代表院长
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
				<!-- //detail-list__item 반재상-->
				<li class="detail-list__item">
					<div class="detail-list__area">
						<div class="detail-list__outer type-pattern">
							<img src="../../images/main/detail_list_2_1.jpg" alt="반재상 원장" class="img-responsive">
						</div>
					</div>
					<div class="detail-list__area type-txt">
						<div class="detail-list__outer">
							<div class="detail-list__inner">
								<div class="detail-list__criterion">
									<h4 class="detail-list__tit">
										顾客10年后的样子也能预测的
										<strong class="detail-list__point">细节打造者</strong>
									</h4>
									<p class="detail-list__txt">
										我一直都爱听顾客的意见,只有这样才能保持美丽。与顾客的充分沟通是成功手术的条件。
									</p>
									<div class="detail-list__box">
										<p class="detail-list__point2">Detailist</p>
										<p class="detail-list__name">潘在常</p>
										<p class="detail-list__career">
											21年整形外科专家经验, 体型整形代表院长
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
				<!-- //detail-list__item 반재상-->
				<li class="detail-list__item">
					<div class="detail-list__area">
						<div class="detail-list__outer type-pattern">
							<img src="../../images/main/detail_list_3_1.jpg" alt="반재상 원장" class="img-responsive">
						</div>
					</div>
					<div class="detail-list__area type-txt">
						<div class="detail-list__outer">
							<div class="detail-list__inner">
								<div class="detail-list__criterion">
									<h4 class="detail-list__tit">
										顾客10年后的样子也能预测的
										<strong class="detail-list__point">细节打造者</strong>
									</h4>
									<p class="detail-list__txt">
										我一直都爱听顾客的意见,只有这样才能保持美丽。与顾客的充分沟通是成功手术的条件。
									</p>
									<div class="detail-list__box">
										<p class="detail-list__point2">Detailist</p>
										<p class="detail-list__name">潘在常</p>
										<p class="detail-list__career">
											21年整形外科专家经验, 体型整形代表院长
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
				<!-- //detail-list__item 반재상-->
				<li class="detail-list__item">
					<div class="detail-list__area">
						<div class="detail-list__outer type-pattern">
							<img src="../../images/main/detail_list_4_1.jpg" alt="반재상 원장" class="img-responsive">
						</div>
					</div>
					<div class="detail-list__area type-txt">
						<div class="detail-list__outer">
							<div class="detail-list__inner">
								<div class="detail-list__criterion">
									<h4 class="detail-list__tit">
										顾客10年后的样子也能预测的
										<strong class="detail-list__point">细节打造者</strong>
									</h4>
									<p class="detail-list__txt">
										我一直都爱听顾客的意见,只有这样才能保持美丽。与顾客的充分沟通是成功手术的条件。
									</p>
									<div class="detail-list__box">
										<p class="detail-list__point2">Detailist</p>
										<p class="detail-list__name">潘在常</p>
										<p class="detail-list__career">
											21年整形外科专家经验, 体型整形代表院长
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
				<!-- //detail-list__item 반재상-->
				<li class="detail-list__item">
					<div class="detail-list__area">
						<div class="detail-list__outer type-pattern">
							<img src="../../images/main/detail_list_5_1.jpg" alt="반재상 원장" class="img-responsive">
						</div>
					</div>
					<div class="detail-list__area type-txt">
						<div class="detail-list__outer">
							<div class="detail-list__inner">
								<div class="detail-list__criterion">
									<h4 class="detail-list__tit">
										顾客10年后的样子也能预测的
										<strong class="detail-list__point">细节打造者</strong>
									</h4>
									<p class="detail-list__txt">
										我一直都爱听顾客的意见,只有这样才能保持美丽。与顾客的充分沟通是成功手术的条件。
									</p>
									<div class="detail-list__box">
										<p class="detail-list__point2">Detailist</p>
										<p class="detail-list__name">潘在常</p>
										<p class="detail-list__career">
											21年整形外科专家经验, 体型整形代表院长
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
				<!-- //detail-list__item 반재상-->
			</ul>
			<a href="" class="detail-list__btn type-prev js-slider-prev">이전</a>
			<a href="" class="detail-list__btn type-next js-slider-next">다음</a>
		</div>
		<div class="detail-thumbnail">
			<ul class="detail-thumbnail__list">
				<li class="detail-thumbnail__item type-logo">
					<div class="detail-thumbnail__outer">
						<div class="detail-thumbnail__inner">
							<div class="detail-thumbnail__box">
								<div class="detail-thumbnail__vertical">
									<p class="detail-thumbnail__tit">Detailist</p>
									<p class="detail-thumbnail__company">佰诺佰琪</p>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li class="detail-thumbnail__item">
					<div class="detail-thumbnail__outer">
						<img src="../../images/main/detail_list_1_1.jpg" alt="반재상 원장" class="img-responsive">
						<div class="detail-thumbnail__inner">
							<div class="detail-thumbnail__box">
								<div class="detail-thumbnail__vertical">
									<p class="detail-thumbnail__tit">Detailist</p>
									<p class="detail-thumbnail__txt">潘在常</p>
								</div>
							</div>
						</div>
						<a href="" class="detail-thumbnail__link js-thumbnail-move">상세보기</a>
					</div>
				</li>
				<li class="detail-thumbnail__item">
					<div class="detail-thumbnail__outer">
						<img src="../../images/main/detail_list_2_1.jpg" alt="강추월" class="img-responsive">
						<div class="detail-thumbnail__inner">
							<div class="detail-thumbnail__box">
								<div class="detail-thumbnail__vertical">
									<p class="detail-thumbnail__tit">Detailist</p>
									<p class="detail-thumbnail__txt">姜秋月</p>
								</div>
							</div>
						</div>
						<a href="" class="detail-thumbnail__link js-thumbnail-move">상세보기</a>
					</div>
				</li>
				<li class="detail-thumbnail__item">
					<div class="detail-thumbnail__outer">
						<img src="../../images/main/detail_list_3_1.jpg" alt="양선미 원장" class="img-responsive">
						<div class="detail-thumbnail__inner">
							<div class="detail-thumbnail__box">
								<div class="detail-thumbnail__vertical">
									<p class="detail-thumbnail__tit">Detailist</p>
									<p class="detail-thumbnail__txt">杨善美</p>
								</div>
							</div>
						</div>
						<a href="" class="detail-thumbnail__link js-thumbnail-move">상세보기</a>
					</div>
				</li>
				<li class="detail-thumbnail__item">
					<div class="detail-thumbnail__outer">
						<img src="../../images/main/detail_list_4_1.jpg" alt="김용주 원장" class="img-responsive">
						<div class="detail-thumbnail__inner">
							<div class="detail-thumbnail__box">
								<div class="detail-thumbnail__vertical">
									<p class="detail-thumbnail__tit">Detailist</p>
									<p class="detail-thumbnail__txt">金荣主</p>
								</div>
							</div>
						</div>
						<a href="" class="detail-thumbnail__link js-thumbnail-move">상세보기</a>
					</div>
				</li>
				<li class="detail-thumbnail__item">
					<div class="detail-thumbnail__outer">
						<img src="../../images/main/detail_list_5_1.jpg" alt="고성건 연구원" class="img-responsive">
						<div class="detail-thumbnail__inner">
							<div class="detail-thumbnail__box">
								<div class="detail-thumbnail__vertical">
									<p class="detail-thumbnail__tit">Detailist</p>
									<p class="detail-thumbnail__txt">高成健</p>
								</div>
							</div>
						</div>
						<a href="" class="detail-thumbnail__link js-thumbnail-move">상세보기</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="detail-slide">
	<div class="detail-slide__wrap">
		<ul class="detail-slide__list js-detail-slide">
			<li class="detail-slide__item">
				<div class="detail-slide__box type-txt">
					<span class="detail-slide__num">01</span>
					<p class="detail-slide__eng">Detail</p>
					<h4 class="detail-slide__tit">
						体系化的检查系统
					</h4>
					<p class="detail-slide__txt">
						仅术前检查就有20多项,以体系化的检查系统,提供安全满意度高的手术结果。
					</p>
				</div>
				<div class="detail-slide__box type-img">
					<div class="detail-slide__img">
						<img src="../../images/main/detail_img0.png" alt="" class="img-responsive is-rotate hidden-tm">
						<img src="../../images/main/detail_img0_t.png" alt="" class="img-responsive is-rotate hidden-p">
						<img src="../../images/main/detail_img1.png" alt="피부과전문의 인증 - 피부건강지킴 - 대한피부과의사회" class="img-responsive hidden-tm">
						<img src="../../images/main/detail_img1_t.png" alt="피부과전문의 인증 - 피부건강지킴 - 대한피부과의사회" class="img-responsive hidden-p">
					</div>
				</div>
			</li><!-- //detail-slide__item-->
			<li class="detail-slide__item">
				<div class="detail-slide__box type-txt">
					<span class="detail-slide__num">02</span>
					<p class="detail-slide__eng">Detail</p>
					<h4 class="detail-slide__tit">
						严谨的安全体系
					</h4>
					<p class="detail-slide__txt">
						无菌空气淋浴体系,灭菌消毒管理,麻醉科专家常驻 <br>为应对紧急情况而设有紧急发电系统
					</p>
				</div>
				<div class="detail-slide__box type-img">
					<div class="detail-slide__img">
						<img src="../../images/main/detail_img2.jpg" alt="바노바기 복합 치료 시스템 - 올인원목주름, 올인원토닝, 올인원테라피, 올인원올모공, 올인원리프팅" class="img-responsive hidden-tm">
						<img src="../../images/main/detail_img2_t.jpg" alt="바노바기 복합 치료 시스템 - 올인원목주름, 올인원토닝, 올인원테라피, 올인원올모공, 올인원리프팅" class="img-responsive hidden-p">
					</div>
				</div>
			</li><!-- //detail-slide__item-->
			<li class="detail-slide__item">
				<div class="detail-slide__box type-txt">
					<span class="detail-slide__num">03</span>
					<p class="detail-slide__eng">Detail</p>
					<h4 class="detail-slide__tit">
						首尔大出身的专家团队
					</h4>
					<p class="detail-slide__txt">
						首尔大出身的整形外科专家团队 <br> 18年期间积累的技术,每个领域都有专业团队运营,细致的手术技巧
					</p>
				</div>
				<div class="detail-slide__box type-img">
					<div class="detail-slide__img">
						<img src="../../images/main/detail_img3.jpg" alt="의료 장비 사진" class="img-responsive hidden-tm">
						<img src="../../images/main/detail_img3_t.jpg" alt="의료 장비 사진" class="img-responsive hidden-p">
					</div>
				</div>
			</li><!-- //detail-slide__item-->
			<li class="detail-slide__item">
				<div class="detail-slide__box type-txt">
					<span class="detail-slide__num">04</span>
					<p class="detail-slide__eng">Detail</p>
					<h4 class="detail-slide__tit">
						患者情况分析资料
					</h4>
					<p class="detail-slide__txt">
						18年期间积累的分析资料,根据年龄,地点,性别进行情况分析 <br>提供科学性体系化的定制式手术
					</p>
				</div>
				<div class="detail-slide__box type-img">
					<div class="detail-slide__img">
						<img src="../../images/main/detail_img4.jpg" alt="김은진원장, 반재용원장, 전희대원장, *원장" class="img-responsive hidden-tm">
						<img src="../../images/main/detail_img4_t.jpg" alt="김은진원장, 반재용원장, 전희대원장, *원장" class="img-responsive hidden-p">
					</div>
				</div>
			</li><!-- //detail-slide__item-->
			<li class="detail-slide__item">
				<div class="detail-slide__box type-txt">
					<span class="detail-slide__num">05</span>
					<p class="detail-slide__eng">Detail</p>
					<h4 class="detail-slide__tit">
						术后管理体系
					</h4>
					<p class="detail-slide__txt">
						通过术后定制式管理有效地减少浮肿,淤青 <br>术后定制式管理体系提高满足度
					</p>
				</div>
				<div class="detail-slide__box type-img">
					<div class="detail-slide__img">
						<img src="../../images/main/detail_img5.jpg" alt="의료서비스 제공" class="img-responsive hidden-tm">
						<img src="../../images/main/detail_img5_t.jpg" alt="의료서비스 제공" class="img-responsive hidden-p">
					</div>
				</div>
			</li><!-- //detail-slide__item-->
		</ul>
	</div>
</div>

<div class="main-search">
	<div class="main-search__wrap">
		<h3 class="main-search__tit main__tit">搜索</h3>
		<div class="search-keyword">
			<div class="search-keyword__box">
				<label for="p_keyword" class="search-keyword__label">검색어</label>
				<button type="submit" class="search-keyword__btn">검색</button>
				<input type="text" class="search-keyword__input" id="main_keyword" name="main_keyword" placeholder="请输入搜索词！">
			</div>
		</div>
		<div class="main-search__box">
			<div class="main-search__bg">
				<div class="main-keyword">
					<div class="main-keyword__box">
						<h4 class="main-keyword__tit">人气搜索词</h4>
						<ul class="main-keyword__area">
							<li class="main-keyword__area-box">
								<ul class="main-keyword__list">
									<li class="main-keyword__item type-first">
										<a class="main-keyword__link" href="">
											<span class="main-keyword__num">1</span>모티바
										</a>
									</li>
									<li class="main-keyword__item">
										<a class="main-keyword__link" href="">
											<span class="main-keyword__num">2</span>엘라스티꿈
										</a>
									</li>
									<li class="main-keyword__item">
										<a class="main-keyword__link" href="">
											<span class="main-keyword__num">3</span>모티바
										</a>
									</li>
								</ul>
							</li><!--//main-keyword__area-box-->
							<li class="main-keyword__area-box">
								<ul class="main-keyword__list">
									<li class="main-keyword__item">
										<a class="main-keyword__link" href="">
											<span class="main-keyword__num">4</span>모티바
										</a>
									</li>
									<li class="main-keyword__item">
										<a class="main-keyword__link" href="">
											<span class="main-keyword__num">5</span>엘라스티꿈
										</a>
									</li>
									<li class="main-keyword__item">
										<a class="main-keyword__link" href="">
											<span class="main-keyword__num">6</span>모티바
										</a>
									</li>
								</ul>
							</li><!--//main-keyword__area-box-->
						</ul><!--//main-keyword__area-->
					</div>
					<div class="main-keyword__box">
						<h4 class="main-keyword__tit">推荐搜索词</h4>
						<ul class="main-keyword__area">
							<li class="main-keyword__area-box">
								<ul class="main-keyword__list">
									<li class="main-keyword__item type-first">
										<a class="main-keyword__link" href="">
											<span class="main-keyword__icon">#</span>모티바
										</a>
									</li>
									<li class="main-keyword__item">
										<a class="main-keyword__link" href="">
											<span class="main-keyword__icon">#</span>엘라스티꿈
										</a>
									</li>
									<li class="main-keyword__item">
										<a class="main-keyword__link" href="">
											<span class="main-keyword__icon">#</span>모티바
										</a>
									</li>
								</ul>
							</li>
							<!--//main-keyword__area-box-->
							<li class="main-keyword__area-box">
								<ul class="main-keyword__list">
									<li class="main-keyword__item">
										<a class="main-keyword__link" href="">
											<span class="main-keyword__icon">#</span>모티바
										</a>
									</li>
									<li class="main-keyword__item">
										<a class="main-keyword__link" href="">
											<span class="main-keyword__icon">#</span>모티바
										</a>
									</li>
									<li class="main-keyword__item">
										<a class="main-keyword__link" href="">
											<span class="main-keyword__icon">#</span>안티에이징
										</a>
									</li>
								</ul>
							</li>
							<!--//main-keyword__area-box-->
						</ul><!--//main-keyword__area-->
					</div><!-- //main-keyword__box-->
				</div><!-- //main-keyword-->
			</div><!--//main-search__bg-->
		</div><!--//main-search__box-->
	</div>
</div>


<div class="main-location">
	<div class="main-location__area">
		<div id="map" class="main-location__map"></div><!-- 다음카카오지도-->
	</div>
	<div class="main-location__box">
		<div class="main-location__wrap">
			<div class="main-location__inner">
				<h3 class="main__tit">CONTACT US</h3>
				<dl class="main-location__dl">
					<dt class="main-location__dt type-map">location</dt>
					<dd class="main-location__dd">
						<ul class="main-location__list">
							<li class="main-location__item">首尔特别市江南区论岘路517佰诺佰琪大楼</li>
							<li class="main-location__item">驿三站6号出口 , 彦州站7号出口</li>
						</ul>
					</dd>
				</dl>
				<dl class="main-location__dl">
					<dt class="main-location__dt type-time">time</dt>
					<dd class="main-location__dd type-time">
						<ul class="main-location__list">
							<li class="main-location__item">
								周一 ~ 周五์ - 周六 09:30~18:30
							</li>
							<!-- <li class="main-location__item">
								금요일 9:30 ~ 20:00<span class="main-location__night">야간진료</span>
							</li> -->
							<li class="main-location__item">
								เสาร์ 09:30~16:00
							</li>
						</ul>
					</dd>
				</dl>
				<dl class="main-location__dl">
					<dt class="main-location__dt type-phone">tel</dt>
					<dd class="main-location__dd type-phone">
						<ul class="main-location__list">
							<li class="main-location__item"><a href="tel:400-631-6508" class="main-location__link">400.631.6508</a></li>
							<li class="main-location__item"><a href="tel:+82-2-564-6508" class="main-location__link">+82.2.564.6508</a></li>
						</ul>
					</dd>
				</dl>
				<!-- <div class="main-location__group">
					<a href="" class="main-location__btn main-btn type-another js-sms-btn">
						<span class="main-btn__icon type-sms">sms</span>
						<span class="main-btn__wrap">모바일 전송</span>
						<span class="main-btn__wrap"><i class="fa fa-angle-right"></i></span>
					</a>
					<a href="#" onClick="open_win()" class="main-location__btn main-btn type-another hidden-tm">
						<span class="main-btn__icon type-print">sms</span>
						<span class="main-btn__wrap">약도 프린트</span>
						<span class="main-btn__wrap"><i class="fa fa-angle-right"></i></span>
					</a>
					<div class="main-form">
						<form id="mobileForm" class="main-form__form" method="post">
							<div class="main-form__wrap">
								<label for="mobileSend" class="main-form__label">sms</label>
								<input type="text" class="main-form__input" name="mobileSend" id="mobileSend" placeholder="연락처를 입력해주세요." required="">
								<button type="button" class="main-form__btn" id="">전송</button>
								<a href="" class="main-form__close js-sms-close">닫기</a>
							</div>
						</form>
					</div>
				</div> -->
			</div>
		</div>
	</div>
</div>


<% include ../_include/_footer %>
