.new-visual{
	$this:&;
	&.type-woman{
		&:before{
			@include background('../images/hair/woman/woman_visual_1.jpg','no-repeat center center/cover');
		}
		#{$this}__item{background: $hair2;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-woman{
			&:before{
				@include background('../images/hair/woman/woman_visual_1_t.jpg','no-repeat center center/cover');
			}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-woman{
			&:before{
				@include background('../images/hair/woman/woman_visual_1_m.jpg','no-repeat center center/cover');
			}
		}
	}
}

.new-style1{
	$this:&;
	&.type-woman{@include background('../images/hair/woman/woman_bg_1.jpg','no-repeat center bottom/cover');}
	&.type-woman2{background: #375745;}
    &.type-woman3{padding-left:60px; padding-right:60px;}
	&.type-woman4{background: #dbf6e3;}
	&.type-woman5{@include background('../images/hair/woman/woman_bg_2.jpg','#00563a no-repeat center bottom');
		#{$this}__tit,#{$this}__txt2{margin-left:-20px; margin-right:-20px;}
		#{$this}__tit,#{$this}__txt,#{$this}__txt2{color:#fff;}
	}
	&.type-woman6{background:#00563a;}
	@media only screen and (max-width: $tablet-size){
		&.type-woman5{background-size:contain;
			#{$this}__tit,#{$this}__txt2{margin-left:0px; margin-right:0px;}
		}
	}
}

// .outer-box{
// 	&.type-woman{padding-top:0; padding-bottom:0; background-color:#fff;}
// }
.inner-box{
	&.type-woman{background-color:$hair1;}
	&.type-woman2{background-color:#dbf6e3;}
}

.hair-style1{margin:50px -180px 0 -180px;
	&__area{position:relative; max-width:920px; width:100%; height:762px; margin:0 auto; @include background('../images/hair/woman/woman_circle.png','no-repeat center center / contain'); text-align:center;}
	&__tit{position:absolute; left:0; right:0; top:50%; transform: translateY(-50%); margin:0 auto; color:#fff; line-height:1.3;}
	&__list{margin:0; padding:0; font-size:0;}
	&__item{position:absolute; display:inline-block; width:274px; left:0; right:0; list-style:none; vertical-align:top;
		&.nth-2,&.nth-5{margin:0 auto;}
		&.nth-2{top:0;}
		&.nth-5{bottom:0;}
		&.nth-1,&.nth-6{right:auto;}
		&.nth-3,&.nth-4{left:auto;}
		&.nth-1,&.nth-3{top:150px;}
		&.nth-4,&.nth-6{bottom:150px;}
	}
	&__img{border-radius:30px 30px 0 0;}
	&__box{height:90px; background-color:$hair1; border-radius:0 0 30px 30px;}
	&__wrap{display:table-cell; width:1%; height:inherit; padding:20px 10px; box-sizing:border-box; vertical-align:middle;}
	@media only screen and (max-width: $tablet-size){margin-left:0; margin-right:0;
		&__area{max-width:100%; height:auto; padding:0 50px; box-sizing:border-box; background-position: center bottom 20px;}
		&__tit{position:static; margin-bottom:56px; transform: translateY(0);}
		&__list{margin-left:-40px;}
		&__item{position:static; width:50%; padding-left:40px; box-sizing:border-box;
			&:nth-child(2) ~ &{margin-top:40px;}
		}
		&__box{height:auto;}
	}
	@media only screen and (max-width: $mobile-size){padding:0;
		&__area{padding:0; background-image:none;}
		&__tit{margin-bottom:26px;}
		&__list{margin-left:-5px;}
		&__item{padding-left:5px;
			&:nth-child(2) ~ &{margin-top:15px;}
		}
		&__wrap{padding:10px;}
		&__img{border-radius:15px 15px 0 0;}
		&__box{border-radius:0 0 15px 15px;}
	}
}

.hair-style2{width:100%; max-width:520px; margin:0 auto;
	$this:&;
	&__list{margin:0; padding:0; padding-left:220px; box-sizing:border-box;}
	&__item{list-style:none;
		& + &{margin-top:20px;}
		&:last-child{
			#{$this}__body{display:block;}
		}
		&.is-active{
			#{$this}__arrow{
				&:before{transform: rotate(180deg);}
			}
		}
	}
	&__txt{padding:30px 10px; background-color:#ebebeb;}
	&__header{position:relative; height:90px; padding-right:46px; box-sizing:border-box; color:#fff; background-color:#d8d8d8;
		&.nth-1{background-color:#6fd2ab;}
		&.nth-2{background-color:#00c58e;}
		&.nth-3{background-color:#009168;}
		&.nth-4{background-color:#006544;}
	}
	&__body{display:none;}
	&__wrap{display:table-cell; width:1%; height:inherit; vertical-align:middle; text-align:center;}
	&__right{position:absolute; top:0; right:0; bottom:0; width:46px; }
	&__arrow{overflow:hidden; position:relative; width:100%; height:100%; text-indent:-999px;
		&:before{position:absolute; top:0; left:0; right:0; bottom:0; display:block; width:18px; height:18px; margin:auto; @include background('../images/content/accordian_arrow.png','no-repeat center center / contain'); content:'';}
		&:after{position:absolute; top:0; left:0; bottom:0; display:block; width:0; height:calc(100% - 20px;); border-left:1px solid #f4f4f4; margin:auto 0; content:'';}
	}
	&__area{position:relative; }
	&__btn{overflow:hidden; position:absolute; top:0; left:0;  display:block; width:100%; height:100%; text-indent:-9999px; z-index:10;}
	&__noti{margin-top:46px;}
	@media only screen and (max-width: $tablet-size){
		&__list{padding-left:184px;}
	}
	@media only screen and (max-width: $mobile-size){
		&__list{padding-left:90px;}
		&__header{height:50px; padding-right:22px; line-height:1.2;}
		&__right{width:22px; }
		&__arrow{
			&:before{width:10px; height:10px;}
			&:after{height:calc(100% - 8px;); }
		}
		&__txt{padding:10px;}
		&__noti{margin-top:16px;}
	}
}
.hair-growth{position:absolute; bottom:0; left:0; height:100%;
	&__wrap{overflow:hidden; position:relative; width:144px; height:100%; @include background('../images/hair/woman/woman_growth_base.jpg','no-repeat center bottom');
		&:before{position:absolute; bottom:0; left:0; display:block; width:100%; height:76px; @include background('../images/hair/woman/woman_growth_over.png','no-repeat center bottom'); z-index:10; content:'';}
	}
	&__line{position:absolute; bottom:-60%; left:0;  width:100%; height:100%; @include background('../images/hair/woman/woman_growth.png','no-repeat center top'); z-index:5; transition:bottom 0.5s;}
	@media only screen and (max-width: $mobile-size){
		&__wrap{width:72px; background-size:72px 70px;
			&:before{height:32px; background-size:72px 32px;}
		}
		&__line{background-size:72px 741px; height:100%;  @include background('../images/hair/woman/woman_growth_m.png','no-repeat center top');}
	}
}
