.new-visual{
	$this:&;
	&.type-hairman{
		&:before{
			@include background('../images/hair/hairman/hairman_visual_1.jpg','no-repeat center center/cover');
		}
		#{$this}__item{background: $hair2;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-hairman{
			&:before{
				@include background('../images/hair/hairman/hairman_visual_1_t.jpg','no-repeat center center/cover');
			}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-hairman{
			&:before{
				@include background('../images/hair/hairman/hairman_visual_1_m.jpg','no-repeat center center/cover');
			}
		}
	}
}

.new-style1{
	$this:&;
	&.type-hairman{background-color:#dbf6e3;}
	&.type-hairman2{@include background('../images/hair/hairman/hairman_bg_1.jpg','#006544 no-repeat center bottom');
		#{$this}__tit,#{$this}__txt,#{$this}__txt2{color:#fff;}
	}
    &.type-hairman3{background-color:$hair2;}
	&.type-hairman4{@include background('../images/hair/hairman/hairman_bg_2.jpg','#009168 no-repeat center bottom/cover');
		#{$this}__tit,#{$this}__txt,#{$this}__txt2{color:#fff;}
	}
	&.type-hairman5{background-color:#00996c}
	@media only screen and (max-width: $tablet-size){
		&.type-hairman5{background-size:contain;
			#{$this}__tit,#{$this}__txt2{margin-left:0px; margin-right:0px;}
		}
	}
}


.care-style1{position:relative; margin-top:120px;
	$this:&;
	&__list{margin:0; padding:0 100px;  text-align: justify; box-sizing:border-box;
		&:after{display:inline-block; width:100%; content:'';}
	}
	&__item{position:relative; display:inline-block; width:22px; height:22px; border-radius:50%; list-style:none; vertical-align:top; background-color:#e1e1e1;
		&.is-active{background-color:$hair1;
			#{$this}__box{width:auto; bottom:50px; opacity:1; z-index:1;}
		}
	}
	&__txt,&__box{position:absolute; left:0; right:0; margin:0 -200px;  text-align:center;}
	&__txt{padding-top:40px;}
	&__box{bottom:0px; opacity:0; transition:all 0.5s; z-index:-1;}
	&__caption{display:inline-block; margin:0; padding:6px 20px 4px; background-color:$hair1; color:#fff; box-sizing:border-box; border-radius:21px;}
	&__line{position:absolute; top:8px;width:100%; height:6px; background-color:#e1e1e1;}
	&__slider{width:100%; height:20px; background-color:#e1e1e1;}
	&__bar{display:inline-block; width:22px; height:22px; border-radius:50%; list-style:none; vertical-align:top; background-color:$hair1;}
	&__link{overflow:hidden; position:absolute; top:0; left:0; display:block; width:100%; height:100%; text-indent:-9999px; z-index:10;}
	@media only screen and (max-width: $tablet-size){
		&__txt,&__box{position:absolute; left:0; right:0; text-align:center;}
		&__list{padding:0 60px;}
		&__item{
			&:first-child{
				#{$this}__box{left:-60px; right:auto; margin-left:0;}
			}
			&:last-child{
				#{$this}__box{left:auto; right:-60px; margin-right:0;}
			}
		}
	}
	@media only screen and (max-width: $mobile-size){margin-top:60px;
		&__txt,&__box{position:absolute; left:0; right:0; text-align:center;}
		&__txt{padding-top:20px;}
		&__list{padding:0 24px;}
		&__line{top:4px; height:2px;}
		&__caption{padding-left:12px; padding-right:12px;}
		&__box{margin:0 -150px;}
		&__txt{margin:0 -50px;}
		&__item{width:10px; height:10px;
			&:first-child{
				#{$this}__box{left:-24px;}
			}
			&:last-child{
				#{$this}__box{right:-24px;}
			}
			&.is-active{
				#{$this}__box{bottom:18px;}
			}
		}
	}
}

.hair-man1{position:relative; margin-top:100px;
	&__outer{display:none;}
	&__list{margin:0; padding:0;}
	&__item{list-style:none; text-align:left;}
	&__wrap{position:relative; min-height:414px; padding-right:214px; box-sizing:border-box;}
	&__tit{position:relative; margin:0; padding-left:18px; box-sizing:border-box;
		&:before{position:absolute; top:0; bottom:0; left:0; display:block; width:3px; height:18px; margin:auto 0; background:$hair5; content:'';}
	}
	&__txt{margin-top:4px;}
	&__box{margin-top:26px; padding:0 60px; box-sizing:border-box;}
	@media only screen and (max-width: $tablet-size){padding:0 40px; box-sizing:border-box;
		&__wrap{min-height:auto; padding-right:0;}
		&__outer{position:absolute; display:block; top:0; left:0;  width:100%; z-index:10;  pointer-events:none;}
		&__inner{position:relative; width:100%; height:0; padding-bottom:45.6%;}
		&__btn{overflow:hidden; position:absolute; top:0; bottom:0; display:block; width:35px; height:35px; margin:auto 0; text-indent:-999px; z-index:50; pointer-events:auto;
			&.type-prev{left:0; @include background('../images/content/slide_arrow_prev2.png','no-repeat center center/contain');}
			&.type-next{right:0; @include background('../images/content/slide_arrow_next2.png','no-repeat center center/contain');}
		}
	}
	@media only screen and (max-width: $mobile-size){margin-top:50px; padding:0;
		&__tit{padding-left:8px;
			&:before{width:2px; height:10px;}
		}
		&__txt{margin-top:2px;}
		&__btn{width:17px; height:17px;}
		&__box{margin-top:15px; padding:0 15px;}
	}
}
.hair-thumbnail1{position:absolute; top:0; right:0; width:200px;
	&__list{margin:0; padding:0;}
	&__item{position:relative; list-style:none; cursor:pointer;
		&.is-active{
			&:before{position: absolute; top:0; left:0; display:block; width:100%; height:100%; background:rgba(17,17,17,0.3); z-index:5; content:'';}
		}
		& + &{margin-top:11px;}
	}
	&__box{position:absolute; top:0; left:0; width:100%; height:100%; z-index:10;}
	&__outer{display:inline-table; width:100%; height:100%;}
	&__inner{display:table-cell; height:100%; vertical-align:middle; text-align:center; color:#fff;}
	@media only screen and (max-width: $tablet-size){display:none;}
}

.slide-style1{margin-top:56px; padding:100px 180px 164px; background-color:#dbf6e3;
	&__wrap{position:relative;}
	&__list{margin:0; padding:0;}
	&__txt{margin-top:2px;}
	&__item{position:relative; width:300px; margin:0 80px; padding:38px 32px; box-sizing:border-box; list-style:none; background-color: #fff;
		&:before{position:absolute; top:-1px; left:-1px; display:block; width:calc(100% + 2px); height:calc(100% + 2px); opacity: 0; transition: opacity 0.3s; content:'';}
		&.is-next,&.is-prev{
			&:before{opacity: 1;}
		}
		&.is-prev{
			&:before{ @include background('../images/hair/man/slide_mark_prev.png','no-repeat center center/cover');}
		}
		&.is-next{
			&:before{ @include background('../images/hair/man/slide_mark_next.png','no-repeat center center/cover');}
		}
	}
	&__img{margin-top:20px;}
	&__btn{overflow:hidden; position:absolute; top:0; bottom:0; display:block; width:30px; height:20px; margin:auto 0; text-indent:-999px;
		&.type-prev{left:50%; margin-left:-245px; @include background('../images/content/slide_arrow_prev.png','no-repeat center center/contain');}
		&.type-next{right:50%; margin-right:-245px;@include background('../images/content/slide_arrow_next.png','no-repeat center center/contain');}
	}
	@media only screen and (max-width: $minpc-size3){padding-left:40px; padding-right:40px;
		&__wrap{padding:0 25%}
		&__item{margin:0;
			&:before{display:none;}
		}
	}
	@media only screen and (max-width: $mobile-size){padding:50px 20px;
		&__wrap{padding:0 20%;}
		&__item{padding:14px;}
		&__btn{width:15px; height:10px;
			&.type-prev{margin-left:-135px; }
			&.type-next{margin-right:-135px;}
		}
	}
}


.slide-num1{ height:40px; margin-top:56px; padding:0 50px; box-sizing:border-box;
	&__wrap{position:relative; height:inherit;}
	$this:&;
	&__list{margin:0; padding:0; text-align: justify; transform: translateZ(0);
		&:after{display:inline-block; width:100%; content:'';}
	}
	&__item{position:relative;width:40px; display:inline-block; list-style:none; text-align:center;
		&.nth-1{
			#{$this}__num{background:#6dd0a9;
				&:before{display:none;}
			}
		}
		&.nth-2{
			#{$this}__num{background:#5cbf99;}
		}
		&.nth-3{
			#{$this}__num{background:#44a883;}
		}
		&.nth-4{
			#{$this}__num{background:#2c906c;}
		}
		&.nth-5{
			#{$this}__num{background:#127654;}
		}
		&.nth-6{
			#{$this}__num{background:#016645;
				&:after{display:none;}
			}
		}
	}
	&__num{position:relative; display:inline-block; width:100%; height:40px; border-radius:50%; line-height:40px; color:#fff;
		&:before,&:after{position:absolute; top:18px; display:block; width:150px; height:0; border-top:4px solid #44a883; content:''; z-index:-1;}
		&:after{left:0;}
		&:before{right:0;}
	}
	&__txt{position:absolute; left:0; right:0; margin:16px -50px 0; }

	@media only screen and (max-width: $tablet-size){
		&__num{
			&:before,&:after{width:100px;}
		}
	}
	@media only screen and (max-width: $mobile-size){height:auto; text-align:center; margin-top:28px;
		&__wrap{
			&:before{display:none;}
		}
		&__list{text-align:center; font-size:0;}
		&__item{width:33.33%; vertical-align:top;
			&:nth-child(3) ~ &{margin-top:20px;}
			&.nth-4{
				#{$this}__num{
					&:before{display:none;}
				}
			}
			&.nth-3{
				#{$this}__num{
					&:after{display:none;}
				}
			}
		}
		&__num{position:relative; width:24px; height:24px; line-height:24px;
			&:before,&:after{top:11px; width:100px; border-width:2px;}
		}
		&__txt{position:static; margin:8px 0 0 0;}
	}
	@media only screen and (max-width: $mobile-size2){
		&__num{
			&:before,&:after{width:80px;}
		}
	}
}
.inner-box{
	&.type-hairman{padding-bottom:140px;}
	@media only screen and (max-width: $mobile-size){
		&.type-hairman{padding-bottom:84px; padding-left:20px !important; padding-right:20px !important;}
	}
}
