.detail-section{
	&.hair-section0{
		&:before{position:absolute; top:0; left:0; display:block; width:100%; height:100%; background:url('../images/hair/detail/hair_detail_bg_1.jpg') no-repeat center center / cover; content:'';}
	}
	&.hair-section1{
		&:before{position:absolute; top:0; left:0; display:block; width:100%; height:100%; background:url('../images/hair/detail/hair_detail_bg_2.jpg') no-repeat center center / cover;  z-index:-2; content:'';}
		&:after{position:absolute; top:0; left:0; display:block; width:100%; height:100%; background:url('../images/hair/detail/pattern.png'); z-index:-1;  content:'';}
	}
	&.hair-section2{background:#ffd4c7;
		&:before{position:absolute; top:0; left:0; display:block; width:50%; height:100%; background:url('../images/hair/detail/hair_detail_bg_3.jpg') no-repeat center center / cover;  content:'';}
	}
	&.hair-section3{
		&:before{position:absolute; top:0; left:0; display:block; width:100%; height:100%; background:url('../images/hair/detail/hair_detail_bg_4.jpg') no-repeat left center / cover;  content:'';}
	}
	&.hair-section4{
		&:before{position:absolute; top:0; right:0; display:block; width:100%; height:100%; background:url('../images/hair/detail/hair_detail_bg_5.jpg') no-repeat center center / cover;  content:'';}
	}
	&.hair-section5{
		&:before{position:absolute; top:0; left:0; display:block; width:100%; height:100%; background:url('../images/hair/detail/hair_detail_bg_6.jpg') no-repeat center center / cover;  z-index:-2; content:'';}
		&:after{position:absolute; top:0; left:0; display:block; width:100%; height:100%; background:url('../images/hair/detail/pattern.png'); z-index:-1;  content:'';}
	}
	&.hair-section6{background:#80bcab;
		&:before{position:absolute; top:0; right:0; display:block; width:50%; height:100%; background:url('../images/hair/detail/hair_detail_bg_7.jpg') no-repeat center center / cover;  content:'';}
	}
	@media only screen and (max-width:$tablet-size){
		&.hair-section0{
			&:before{background:url('../images/hair/detail/hair_detail_bg_1_t.jpg') no-repeat center center / cover;}
		}
		&.hair-section1{
			&:before{background:url('../images/hair/detail/hair_detail_bg_2_t.jpg') no-repeat center center / cover;}
		}
		&.hair-section2{
			&:before{width:42.32%;}
		}
		&.hair-section3{
			&:before{background:url('../images/hair/detail/hair_detail_bg_4_t.jpg') no-repeat left center / cover;  z-index:-2; content:'';}
			&:after{position:absolute; top:0; left:0; display:block; width:100%; height:100%; background:url('../images/hair/detail/pattern.png'); z-index:-1;  content:'';}
		}
		&.hair-section4{
			&:before{background:url('../images/hair/detail/hair_detail_bg_5_t.jpg') no-repeat center center / cover;}
		}
		&.hair-section5{background:url('../images/hair/detail/hair_detail_bg_6_t_2.png') no-repeat center center / cover;
			&:before{background:url('../images/hair/detail/hair_detail_bg_6_t.jpg') no-repeat center center / cover;}
			&:after{ background:url('../images/hair/detail/pattern.png'); z-index:-1;}
		}
		&.hair-section6{background:#80bcab;
			&:before{width:42.32%; background:url('../images/hair/detail/hair_detail_bg_7_t.jpg') no-repeat left center / cover;}
		}
	}
	@media only screen and (max-width:$mobile-size){
		&.hair-section0{
			&:before{background:url('../images/hair/detail/hair_detail_bg_1_m.jpg') no-repeat center center / cover;}
		}
		&.hair-section1{background-color:#303031;
			&:before{position:absolute; top:0; left:0; display:block; width:100%; height:100%; background:url('../images/hair/detail/pattern.png'); z-index:1;  content:'';}
			&:after{position:relative; height:0; padding-bottom:113.75%; background:url('../images/hair/detail/hair_detail_bg_2_m.png') no-repeat center center / cover; z-index:2;}
		}
		&.hair-section2{
			&:before{display:none;}
			&:after{position:static; display:block; width:100%; height:0; padding-bottom:87.81%; background:url('../images/hair/detail/hair_detail_bg_3_m.jpg') no-repeat center center / cover; content:'';}
		}
		&.hair-section3{background-color:#808084;
			&:after{position:relative; display:block; width:100%; height:0; padding-bottom:124.21%; background:url('../images/hair/detail/hair_detail_bg_4_m.jpg') no-repeat center center / cover; content:''; z-index:2;}
		}
		&.hair-section4{background-color:#e9e8da;
			&:before{display:none;}
			&:after{display:block; width:100%; height:0; padding-bottom:126.875%; background:url('../images/hair/detail/hair_detail_bg_5_m.jpg') no-repeat center center / cover; content:'';}
		}
		&.hair-section5{background:#333333;
			&:before{position:absolute; top:0; left:0; display:block; width:100%; height:100%; background:url('../images/hair/detail/pattern.png'); z-index:1; }
			&:after{position:relative; display:block; width:100%; height:0; padding-bottom:90.93%; background:url('../images/hair/detail/hair_detail_bg_6_m.png') no-repeat center center / cover; content:''; z-index:2;}
		}
		&.hair-section6{background:#80bcab;
			&:before{display:none;}
			&:after{position:static; display:block; width:100%; height:0; padding-bottom:121.56%; background:url('../images/hair/detail/hair_detail_bg_7_m.jpg') no-repeat center center / cover; content:'';}
		}
	}
}

.detail-visual{
	$this:&;
	&.type-hair{
		#{$this}__tit{color:#fff;
			&:before{background:url('../images/hair/detail/quotation_left.png') no-repeat center center / contain;}
			&:after{background:url('../images/hair/detail/quotation_right.png') no-repeat center center / contain;}
		}
		#{$this}__point{
			&:after{color:$hair4;}
		}
	}
}


.hair-detail2{
	&__tit{color:#fff;}
	&__subtit{color:#fff;}
	&__txt{color:#cfaaaa;}
	&__color{color:#ffea76;}
	@media only screen and (max-width:$tablet-size){
		&__img{margin-top:0; padding-bottom:64.58%; background:url('../images/hair/detail/hair_detail_bg2_1_t.png') no-repeat center bottom / contain;}
	}
	@media only screen and (max-width:$mobile-size){
		&__img{margin-top:20px;}
	}
}
.hair-detail3{
	&__tit{margin-right:-50px;}
	@media only screen and (max-width:$tablet-size){
	}
	@media only screen and (max-width:$mobile-size){
		&__tit{margin-right:0;}
	}
}
.hair-detail4{
	&__color{color:#ed5154;}
	@media only screen and (max-width:$tablet-size){
		&__img{padding-bottom:57.81%; background:url('../images/hair/detail/hair_detail_bg4_t.jpg') no-repeat center bottom / cover;}
	}
}

.onepage{
	$this:&;
	&__quotation{
		&.type-hair{
			&:before{background:url('../images/hair/detail/quotation_left2.png') no-repeat center center / contain;}
			&:after{background:url('../images/hair/detail/quotation_right2.png') no-repeat center center / contain;}
		}
		&.type-hair2{
			&:before{background:url('../images/hair/detail/quotation_left3.png') no-repeat center center / contain;}
			&:after{background:url('../images/hair/detail/quotation_right3.png') no-repeat center center / contain;}
		}
		&.type-hair3{
			&:before{background:url('../images/hair/detail/quotation_left4.png') no-repeat center center / contain;}
			&:after{background:url('../images/hair/detail/quotation_right4.png') no-repeat center center / contain;}
		}
	}
}
