@charset "utf-8";
@import "mixins";
.banner{width:100%; max-width:1296px; margin:100px auto 0; padding:0 8px; box-sizing:border-box;
	$this:&;
	&__bg{position:relative; height:0; padding-bottom:35.15%;}
	&__point{font-weight:$medium;}
	&.type-rapid{
		#{$this}__bg{ background:url('../images/common/banner/banner_rapid.jpg') no-repeat center center / cover;}
	}
	&.type-petit{
		#{$this}__bg{background:url('../images/common/banner/banner_petit.jpg') no-repeat center center / cover;
			&:before{position:absolute; top:0; left:0; right:0; bottom:0; display:block; margin:auto; width:calc(100% - 20px); height:calc(100% - 20px); border:1px solid rgba(255,255,255,0.4); z-index:1; content:'';}
		}
	}
	&.type-white{
		#{$this}__tit,#{$this}__txt,#{$this}__btn{color:#fff;}
		#{$this}__btn{border-color:#fff;}
	}
	&:after{display:block; clear:both; content:'';}
	&__box{position:absolute; top:0; right:0; bottom:0; width:50%;  box-sizing:border-box; z-index:10;}
	&__outer{display:inline-table; width:100%; height:100%;}
	&__inner{display:table-cell;  vertical-align:middle;  padding:0 20px 0 100px;}
	&__tit{margin:0; font-size:38px; font-weight:$thin; color:$black1; line-height:1.1;}
	&__txt{margin:14px 0 0 0; font-weight:$light; font-size:15px; color:$black3; line-height:1.7;}
	&__btn{display:block; width:220px; height:40px; margin-top:34px; font-size:15px; font-weight:$light; color:$black1; border:1px solid $black1; text-align:center; text-decoration:none;
		&:after{display:inline-block; height:100%; vertical-align:middle; content:'';}
	    span{display:inline-block; vertical-align:middle;}
	}
	@media only screen and (max-width: $tablet-size) {padding:0;
		&.type-rapid{
			#{$this}__bg{ background:url('../images/common/banner/banner_rapid_t.jpg') no-repeat center center / cover;}
		}
		&.type-petit{
			#{$this}__bg{background:url('../images/common/banner/banner_petit_t.jpg') no-repeat center center / cover;}
		}
		&__bg{padding-bottom:48.17%;}
		&__inner{padding:0 30px;}
		&__txt{display:none;}
		&__btn{margin-top:26px;}
	}
	@media only screen and (max-width: $mobile-size) {margin-top:50px;
		&.type-petit{
			#{$this}__bg:before{width:calc(100% - 10px); height:calc(100% - 10px);}
		}
		&__inner{padding:0 15px;}
		&__tit{font-size:2rem;}
		&__btn{width:120px; height:26px; margin-top:12px; font-size:1.1rem;}
	}
}
