<%
	type = "program"
	page = "event_model"
%>
<% include ../_include/_header %>
<% include ../_include/_popup_event %>

<style>
</style>

<div class="event_bg">
	<div class="wrapper">
		<form id="event_form" method="post" action="/_app_code/event_model.asp" onSubmit="return frm_submit(); " enctype="multipart/form-data">
		<input type="hidden" name="hd_part" value="">
		<input type="hidden" name="ad_range" value="">
		<input type="hidden" name="before_op" value="">
			<!-- boxWrap -->
			<div class="boxWrap">
				<h1 class="top_title">
					<img src="../../images/program/event_model/beauty_side.png" alt="佰诺佰琪 整形模特 立即申请">
				</h1>
				<!-- box -->
				<div class="box">
					<h1 class="top_title">
						<img src="../../images/program/event_model/beauty_side_mobile.png" alt="佰诺佰琪 整形模特 立即申请">
					</h1>
					<!-- section -->
					<div class="section border">
						<table summary="입력" class="sheetWrite">
						<colgroup>
							<col class="col1">
							<col class="col3">
							<col class="col2">
							<col class="col3">
						</colgroup>
							<tr>
								<th scope="row">姓名</th>
								<td colspan="3"><input type="text" id="name" name="name" class="input" style="width:100%"></td>
							</tr>
							<tr>
								<th scope="row">性别</th>
								<td colspan="3">
									<label class="radio" for="female"><input type="radio" name="gender" id="female" value="F" checked="checked"> 女</label>
		        					<label class="radio" for="male"><input type="radio" name="gender" id="male" value="M"> 男</label>
								</td>
							</tr>
							<tr>
								<th scope="row">身高</th>
								<td>
									<div class="in_text_input">
										<input type="text" id="tall" name="tall" maxlength="3" class="input num_input">
										<span>cm</span>
									</div>
								</td>
								<th scope="row">体重</th>
								<td>
									<div class="in_text_input">
										<input type="text" id="weight" name="weight" maxlength="3" class="input num_input">
										<span>kg</span>
									</div>
								</td>
							</tr>
							<tr>
								<th scope="row">职业</th>
								<td>
									<div class="in_text_input">
										<input type="text" id="job" name="job" class="input">
									</div>
								</td>
								<th scope="row">年龄</th>
								<td>
									<div class="in_text_input">
										<input type="text" id="age" name="age" maxlength="2" class="input num_input">
										<span>岁</span>
									</div>
								</td>
							</tr>
							<tr>
								<th scope="row">联系方式1</th>
								<td colspan="3">
									<div class="adress_input">
										<input type="text" id="hp1" name="hp1" maxlength="3" class="num_input">
										<span></span>
										<input type="text" id="hp2" name="hp2" maxlength="4" class="num_input">
										<span></span>
										<input type="text" id="hp3" name="hp3" maxlength="4" class="num_input">
									</div>

								</td>
							</tr>
							<tr>
								<th scope="row">联系方式2</th>
								<td colspan="3">
									<div class="adress_input ver2">
										<input type="text" id="tel1" name="tel1" maxlength="3" class="num_input">
										<span></span>
										<input type="text" id="tel2" name="tel2" maxlength="4" class="num_input">
										<span></span>
										<input type="text" id="tel3" name="tel3" maxlength="4" class="num_input">

										<input type="text" id="relation" name="relation" placeholder="与本人关系" style="margin-left:1%">
									</div>

									<p class="guideTxt">与本人关系 （联系不上时可以联系的电话号码,必须输入与本人的关系）</p>
								</td>
							</tr>
							<tr>
								<th scope="row">邮箱地址</th>
								<td colspan="3">
									<div class="email_input">
										<input type="text" id="email" name="email" style="width:33%">
										<span style="width:8%">@</span>
										<input type="text" id="email2" name="email2" style="width:59%">
									</div>
								</td>
							</tr>
							<tr>
								<th scope="row">地址</th>
								<td colspan="3"><input type="text" id="nation" name="nation" class="input" style="width:100%"></td>
							</tr>
						</table>
					</div>
					<!-- //section -->

					<!-- section -->
					<div class="section">
						<h2 class="section_title">申请项目 <em>（可重复）</em></h2>
						<div class="checkWrap">
							<label class="checkbox"><input type="checkbox" name="part" id="realm01" value="1"> 面部轮廓</label>
							<label class="checkbox"><input type="checkbox" name="part" id="realm02" value="2"> 双鄂手术</label>
							<label class="checkbox"><input type="checkbox" name="part" id="realm03" value="5"> 眼部整形</label>
							<label class="checkbox"><input type="checkbox" name="part" id="realm04" value="6"> 鼻部整形</label>
							<label class="checkbox"><input type="checkbox" name="part" id="realm05" value="7"> 皱纹</label>
							<label class="checkbox"><input type="checkbox" name="part" id="realm06" value="8"> 玻尿酸</label>
							<label class="checkbox"><input type="checkbox" name="part" id="realm07" value="4"> 胸部整形</label>
							<label class="checkbox" style="margin-right: 0;"><input type="checkbox" name="part" id="realm08" value="3"> 脂肪体型</label>
						</div>
					</div>
					<!-- //section -->

					<!-- section -->
					<div class="section">
						<h2 class="section_title">过去手术经历 <em>（选好手术部位后输入内容（不能输入“/”或“、”）例如：3年前做过埋线-1年前做过下颌角&颧骨）</em></h2>
						<ul class="checkList">
							<li>
								<label class="checkbox" for="history01"><input type="checkbox" name="history" id="history01" value="1"> 眼睛</label>
								<input type="text" id="historyInput01" name="historyInput01">
							</li>

							<li>
								<label class="checkbox" for="history02"><input type="checkbox" name="history" id="history02" value="2"> 轮廓</label>
								<input type="text" id="historyInput02" name="historyInput02">
							</li>
							<li>
								<label class="checkbox letterspacing" for="history03"><input type="checkbox" name="history" id="history03" value="3"> 玻尿酸、肉毒素</label>
								<input type="text" id="historyInput03" name="historyInput03">
							</li>
							<li>
								<label class="checkbox" for="history04"><input type="checkbox" name="history" id="history04" value="4"> 鼻部</label>
								<input type="text" id="historyInput04" name="historyInput04">
							</li>
							<li>
								<label class="checkbox" for="history05"><input type="checkbox" name="history" id="history05" value="5"> 双鄂</label>
								<input type="text" id="historyInput05" name="historyInput05">
							</li>
							<li>
								<label class="checkbox" for="history06" style="margin-right: 29px;"><input type="checkbox" name="history" id="history06" value="6"> 矫正牙齿</label>
								<input type="text" id="historyInput06" name="historyInput06">
							</li>
							<li class="mt_10"><label class="checkbox" for="history07"><input type="checkbox" name="history" id="history07" value="7"> 无</label></li>
						</ul>
					</div>
					<!-- //section -->

					<!-- section -->
					<div class="section">
						<h2 class="section_title">志愿动机 <em>（每个问题都要回答）</em></h2>
						<!-- inSection -->
						<div class="inSection">
							<h3 class="section_sub_title">本人的自卑感</h3>
							<textarea rows="2" name="content2" id="content2" class="textarea"></textarea>
						</div>
						<!-- //inSection -->

						<!-- inSection -->
						<div class="inSection">
							<h3 class="section_sub_title">最想改善的部位</h3>
							<textarea rows="2" name="content3" id="content3" class="textarea"></textarea>
						</div>
						<!-- //inSection -->

						<!-- inSection -->
						<div class="inSection">
							<h3 class="section_sub_title">手术后希望得到的印象</h3>
							<textarea rows="2" name="content4" id="content4" class="textarea"></textarea>
						</div>
						<!-- //inSection -->

						<!-- inSection -->
						<div class="inSection">
							<h3 class="section_sub_title">还想说的话</h3>
							<textarea rows="2" name="content" id="content" class="textarea"></textarea>
						</div>
						<!-- //inSection -->

						<!-- inSection -->
						<div class="inSection">
							<h3 class="section_sub_title">本人微博、美拍等链接</h3>
							<textarea rows="2" name="selfUrl" id="selfUrl" class="textarea"></textarea>
						</div>
						<!-- //inSection -->
					</div>
					<!-- //section -->

					<!-- section -->
					<div class="section picWrap">
						<h2 class="section_title">上传照片</h2>
						<ol class="desc">
							<li><span>附加3张以上 ,素脸！</span> 没有修正的 <span>‘正面、侧面、半侧面’</span>诚实的照片</li>
							<li><span>附加3张以上,</span> 化妆后,完整美丽的自拍</li>
							<li>只能上传照片大小 <span>2MB一下的jpg、jpeg、png、gif</span> 文件</li>
						</ol>

						<div class="m_photo">
							<input type="file" name="file1">
							<input type="file" name="file2">
							<input type="file" name="file3">
			                <input type="file" name="file4">
			                <input type="file" name="file5">
			                <input type="file" name="file6">
			                <input type="file" name="file7">
			                <input type="file" name="file8">
			                <input type="file" name="file9">
			                <input type="file" name="file10">
						</div>

						<div style="margin-top: 10px; font-size: 0.7em; font-weight: bold; color: #3c9b86">申请整形模特时,必须发送照片！（没有照片的申请者自动淘汰）</div>
					</div>
					<!-- //section -->
				</div>
				<!-- //box -->

				<div class="btnWrap">
					<button type="submit" class="submit"><img src="../../images/program/event_model/beauty_btn.png" alt="立即申请佰诺佰琪整形模特" class="img-w100"></button>
					<div class="desc">
						<img src="../../images/program/event_model/memo.png"  alt="初次资料审核合格者两周之内会给联系">
					</div>
				</div>
			</div>
			<!-- //boxWrap -->
		</form>
	</div>
</div>

<% include ../_include/_quick %>
<% include ../_include/_footer %>

<script type="text/javascript">
//checkbox background
	function customCheckbox(checkboxName){
		var checkBox = $('input[name="'+ checkboxName +'"]');
	    $(checkBox).each(function(){
	        $(this).wrap( "<span class='custom-checkbox'></span>" );
	        if($(this).is(':checked')){
	            $(this).parent().addClass("selected");
	        }
	    });
	    $(checkBox).click(function(){
	        $(this).parent().toggleClass("selected");
	    });
	}

	//radio background
	function customRadio(radioName){
	    var radioButton = $('input[name="'+ radioName +'"]');
	    $(radioButton).each(function(){
	        $(this).wrap( "<span class='custom-radio'></span>" );
	        if($(this).is(':checked')){
	            $(this).parent().addClass("selected");
	        }
	    });
	    $(radioButton).click(function(){
	        if($(this).is(':checked')){
	            $(this).parent().addClass("selected");
	        }
	        $(radioButton).not(this).each(function(){
	            $(this).parent().removeClass("selected");
	        });
	    });
	}
	$(document).ready(function (){
	    customCheckbox("part");
	    customCheckbox("ad");
	    customCheckbox("history");

	    customRadio("gender");


	});
	if($(window).width() < 640) {
		//alert($(window).width());
		$('.wrap').css('margin-top','200px !important');
		/*$('.wrap').css('width','950px');
		$('.wrap').css('padding','30px 15% 50px 2%');
		$('textarea').css('width','90%');*/
	}
//alert($( document ).width());
//alert($(window).width());
		$(".num_input").keyup(function (){
			val = $(this).val();
			if (isNaN(val)) {
				alert('只能输入数字');
				$(this).val("")
				$(this).focus();
			}
		});

		function frm_submit(){
			if ($('#name').val() == "") {
				alert("请输入姓名");
				$('#name').focus();
				return false;
			}
			if ($('#tall').val() == "") {
				alert("请输入身高");
				$('#tall').focus();
				return false;
			}
			if ($('#weight').val() == "") {
				alert("请输入体重");
				$('#weight').focus();
				return false;
			}
			if ($('#job').val() == "") {
				alert("请输入职业");
				$('#job').focus();
				return false;
			}
			if ($('#age').val() == "") {
				alert("请输入年龄");
				$('#age').focus();
				return false;
			}
			if ($('#hp1').val() == "" || $('#hp2').val() == "" || $('#hp3').val() == "") {
				alert("请输入联系方式1");
				$('#hp1').focus();
				return false;
			}
			if ($('#tel1').val() == "" || $('#tel2').val() == "" || $('#tel3').val() == "") {
				alert("请输入联系方式2");
				$('#tel1').focus();
				return false;
			}
			if ($('#relation').val() == "") {
				alert("请输入与本人的关系");
				$('#relation').focus();
				return false;
			}
			if ($('#email').val() == "" || $('#email2').val() == "") {
				alert("请输入邮箱号");
				$('#email').focus();
				return false;
			}
			if ($('#nation').val() == "") {
				alert("请输入住址");
				$('#nation').focus();
				return false;
			}
			if ($('input[name=part]:checked').length < 1) {
				alert("请选择1个以上的申请项目");
				$('input[name=part]').focus();
				return false;
			} else {
				var chk_val = '';
				$('input:checkbox[name=part]').each(function () {
					if (this.checked) {
						chk_val = chk_val + this.value + '/';
					}
				});
				$('input[name=hd_part]').attr('value', chk_val);
			}


			if ($('input[name=history]:checked').length < 1) {
				alert("请选择1个以上的过去手术经历");
				return false;
			}else{
				if($('input[name=history]:checked').length > 1){
					if($("#history07").is(':checked')){
						alert("不能同时选择‘无’及手术经历");
						return false;
					}
				}

				var chk_val = ''
				var h_len = $('input[name=history]').length
				for(i=1;i<=h_len;i++){
					if($("#history0"+i).is(':checked')){
						if(i!=7){
							if($("#historyInput0" + i).val() == ""){
								alert("请输入过去手术经历的内容");
								$("#historyInput0" + i).focus();
								return false;
							}else{
								if($("#historyInput0" + i).val().indexOf("/") > -1 || $("#historyInput0" + i).val().indexOf(",") > -1){
									alert("不能输入字符'/'或','");
									$("#historyInput0" + i).focus();
									return false;
								}else{
									chk_val = chk_val + i + ',' + $("#historyInput0" + i).val() + '/'
								}
							}
						}else{
							chk_val = chk_val + i + ',' + '/'
						}
					}
				}
				$('input[name=before_op]').attr('value', chk_val);
			}

			if ($('input[name=history]:checked').length > 0) {
				if (this.checked) {
					if (chk_val == '') {
						chk_val = '/' + this.value;
					} else {
						chk_val = chk_val + '/' + this.value;
					}
				}
			}

			if ($('#content2').val() == "") {
				alert("请输入本人的困扰事项");
				$('#content2').focus();
				return false;
			}
			if ($('#content3').val() == "") {
				alert("请输入最想要改善的部位");
				$('#content3').focus();
				return false;
			}

			//첨부사진
			var inf = $('input[type=file]').length;
			var qty = 1;
			var file_cnt = 0;
			for (var i = 0; i < inf; ++i) {
				if($("input:file[name='file"+qty+"']").val()) {
					file_cnt ++;
				}
				qty ++;
			}

			if(file_cnt<3) {
				alert('申请整形模特时一定要附加照片！\n（一定要3 张-正面,侧面,半侧面）没有照片申请时自动落选。');
				$("input:file[name='file1']").focus();
				return false;
			}

			/*
			if ($('#content4').val() == "") {
				alert("수술 후 원하는 이미지를 입력해주세요.");
				$('#content4').focus();
				return false;
			}
			if ($('#content').val() == "") {
				alert("그 외 하고 싶은 말을 입력해주세요.");
				$('#content').focus();
				return false;
			}
			*/
		};

</script>
