<%
	type = "program"
	page = "program"
%>
<% include ../_include/_header %>
<% include ../_include/_popup_event %>

<!-- program-view -->
<div class="program-view">
    <!-- pc -->
	<div class="program-view__pc hidden-tm">
		<img src="../../images/program/landing_face/landing_face_top.jpg" alt="" />
		<img src="../../images/program/landing_face/landing_face_01.jpg" alt="" />
		<img src="../../images/program/landing_face/landing_face_02.jpg" alt="" />
		<img src="../../images/program/landing_face/landing_face_03.jpg" alt="" />
		<img src="../../images/program/landing_face/landing_face_04.jpg" alt="" />

		<div class="program-view__box type-another" style="padding: 100px 0;background-image: url(../../images/program/landing_face/landing_face_05_bg.jpg);">
			<a href="#face_con01">
				<img src="../../images/program/landing_face/landing_face_05_img01.jpg" alt="" onMouseOver="this.src='../../images/program/landing_face/landing_face_05_img01_over.jpg'" onMouseOut="this.src='../../images/program/landing_face/landing_face_05_img01.jpg'" class="changeImg" />
			</a>
			<a href="#face_con02">
				<img src="../../images/program/landing_face/landing_face_05_img02.jpg" alt="" onMouseOver="this.src='../../images/program/landing_face/landing_face_05_img02_over.jpg'" onMouseOut="this.src='../../images/program/landing_face/landing_face_05_img02.jpg'" class="changeImg" />
			</a>
			<a href="#face_con03">
				<img src="../../images/program/landing_face/landing_face_05_img03.jpg" alt="" onMouseOver="this.src='../../images/program/landing_face/landing_face_05_img03_over.jpg'" onMouseOut="this.src='../../images/program/landing_face/landing_face_05_img03.jpg'" class="changeImg" />
			</a>
		</div>

		<div id="face_con01">
			<img src="../../images/program/landing_face/landing_face_06.jpg" alt="" />
			<img src="../../images/program/landing_face/landing_face_07.jpg" alt="" />
			<img src="../../images/program/landing_face/landing_face_07_2.jpg" alt="" id="eventPart_1" class="op_txt" />
			<img src="../../images/program/landing_face/landing_face_08.jpg" alt="" />
		</div>

		<div id="face_con02">
			<img src="../../images/program/landing_face/landing_face_09.jpg" alt="" />
			<img src="../../images/program/landing_face/landing_face_10.jpg" alt="" />
			<img src="../../images/program/landing_face/landing_face_10_2.jpg" alt="" id="eventPart_2" class="op_txt" />
			<img src="../../images/program/landing_face/landing_face_11.jpg" alt="" />
		</div>

		<div id="face_con03">
			<img src="../../images/program/landing_face/landing_face_12.jpg" alt="" />
			<img src="../../images/program/landing_face/landing_face_13.jpg" alt="" />
			<img src="../../images/program/landing_face/landing_face_14.jpg" alt="" />
			<img src="../../images/program/landing_face/landing_face_14_2.jpg" alt="" id="eventPart_3" class="op_txt" />
			<img src="../../images/program/landing_face/landing_face_15.jpg" alt="" />
		</div>

        <div>
			<img src="../../images/program/landing_face/landing_face_16.jpg" alt="" />
			<img src="../../images/program/landing_face/landing_face_17.jpg" alt="" />
		</div>

		<img src="../../images/program/landing_face/landing_face_18.jpg" alt="" />
		<img src="../../images/program/landing_face/landing_face_19.jpg" alt="" />
		<img src="../../images/program/landing_face/landing_face_20.jpg" alt="" />

        <img src="../../images/program/landing_face/landing_face_21.jpg" alt="" />
	</div>

    <!-- mobile -->
	<div class="program-view__m hidden-p">
		<img src="../../images/program/landing_face/landing_face_01_m.jpg" alt="朴钟林博士的1 YEAR 面部轮廓咨询" />
		<img src="../../images/program/landing_face/landing_face_02_m.jpg" alt="朴钟林博士的1 YEAR 面部轮廓咨询" />
		<img src="../../images/program/landing_face/landing_face_03_m.jpg" alt="朴钟林博士的1 YEAR 面部轮廓咨询" />
		<img src="../../images/program/landing_face/landing_face_04_m.jpg" alt="朴钟林博士的1 YEAR 面部轮廓咨询" />
		<img src="../../images/program/landing_face/landing_face_05_m.jpg" alt="朴钟林博士的1 YEAR 面部轮廓咨询" />
		<img src="../../images/program/landing_face/landing_face_06_m.jpg" alt="朴钟林博士的1 YEAR 面部轮廓咨询" />
		<img src="../../images/program/landing_face/landing_face_07_m.jpg" alt="朴钟林博士的1 YEAR 面部轮廓咨询" />

		<div class="program-view__box type-another" style="padding-top: 30px;padding-bottom: 30px; background: url(../../images/program/landing_face/landing_face_05_bg.jpg);">
			<ul class="program-view__list">
				<li class="program-view__item">
					<a href="#face_con01_m">
						<img src="../../images/program/landing_face/landing_face_08_1_m.jpg" alt="朴钟林博士的1 YEAR 面部轮廓咨询" class="changeImg">
					</a>
				</li>
				<li class="program-view__item">
					<a href="#face_con02_m">
						<img src="../../images/program/landing_face/landing_face_08_2_m.jpg" alt="朴钟林博士的1 YEAR 面部轮廓咨询" class="changeImg">
					</a>
				</li>
				<li class="program-view__item">
					<a href="#face_con03_m">
						<img src="../../images/program/landing_face/landing_face_08_3_m.jpg" alt="朴钟林博士的1 YEAR 面部轮廓咨询" class="changeImg">
					</a>
				</li>
			</ul>
		</div>

		<div id="face_con01_m">
			<img src="../../images/program/landing_face/landing_face_09_m.jpg" alt="朴钟林博士的1 YEAR 面部轮廓咨询" />
			<img src="../../images/program/landing_face/landing_face_10_m.jpg" alt="朴钟林博士的1 YEAR 面部轮廓咨询" />
			<img src="../../images/program/landing_face/landing_face_11_m.jpg" alt="朴钟林博士的1 YEAR 面部轮廓咨询" />
			<img src="../../images/program/landing_face/landing_face_12_m.jpg" alt="朴钟林博士的1 YEAR 面部轮廓咨询" />
			<img src="../../images/program/landing_face/landing_face_13_m.jpg" alt="朴钟林博士的1 YEAR 面部轮廓咨询" />
			<img src="../../images/program/landing_face/landing_face_14_m.jpg" alt="朴钟林博士的1 YEAR 面部轮廓咨询" />
		</div>
		<div id="face_con02_m">
			<img src="../../images/program/landing_face/landing_face_15_m.jpg" alt="朴钟林博士的1 YEAR 面部轮廓咨询" />
			<img src="../../images/program/landing_face/landing_face_16_m.jpg" alt="朴钟林博士的1 YEAR 面部轮廓咨询" />
			<img src="../../images/program/landing_face/landing_face_17_m.jpg" alt="朴钟林博士的1 YEAR 面部轮廓咨询" />
			<img src="../../images/program/landing_face/landing_face_18_m.jpg" alt="朴钟林博士的1 YEAR 面部轮廓咨询" />
			<img src="../../images/program/landing_face/landing_face_19_m.jpg" alt="朴钟林博士的1 YEAR 面部轮廓咨询" />
		</div>
		<div id="face_con03_m">
			<img src="../../images/program/landing_face/landing_face_20_m.jpg" alt="朴钟林博士的1 YEAR 面部轮廓咨询" />
			<img src="../../images/program/landing_face/landing_face_21_m.jpg" alt="朴钟林博士的1 YEAR 面部轮廓咨询" />
			<img src="../../images/program/landing_face/landing_face_22_m.jpg" alt="朴钟林博士的1 YEAR 面部轮廓咨询" />
			<img src="../../images/program/landing_face/landing_face_23_m.jpg" alt="朴钟林博士的1 YEAR 面部轮廓咨询" />
			<img src="../../images/program/landing_face/landing_face_24_m.jpg" alt="朴钟林博士的1 YEAR 面部轮廓咨询" />
			<img src="../../images/program/landing_face/landing_face_25_m.jpg" alt="朴钟林博士的1 YEAR 面部轮廓咨询" />
		</div>

        <div>
			<img src="../../images/program/landing_face/landing_face_26_m.jpg" alt="朴钟林博士的1 YEAR 面部轮廓咨询" />
			<img src="../../images/program/landing_face/landing_face_27_m.jpg" alt="朴钟林博士的1 YEAR 面部轮廓咨询" />
			<img src="../../images/program/landing_face/landing_face_28_m.jpg" alt="朴钟林博士的1 YEAR 面部轮廓咨询" />
			<img src="../../images/program/landing_face/landing_face_29_m.jpg" alt="朴钟林博士的1 YEAR 面部轮廓咨询" />
		</div>

		<img src="../../images/program/landing_face/landing_face_30_m.jpg" alt="朴钟林博士的1 YEAR 面部轮廓咨询" />
		<img src="../../images/program/landing_face/landing_face_31_m.jpg" alt="朴钟林博士的1 YEAR 面部轮廓咨询" />
		<img src="../../images/program/landing_face/landing_face_32_m.jpg" alt="朴钟林博士的1 YEAR 面部轮廓咨询" />
		<img src="../../images/program/landing_face/landing_face_33_m.jpg" alt="朴钟林博士的1 YEAR 面部轮廓咨询" />
        <img src="../../images/program/landing_face/landing_face_34_m.jpg" alt="朴钟林博士的1 YEAR 面部轮廓咨询" />
        <img src="../../images/program/landing_face/landing_face_35_m.jpg" alt="朴钟林博士的1 YEAR 面部轮廓咨询" />
        <img src="../../images/program/landing_face/landing_face_36_m.jpg" alt="朴钟林博士的1 YEAR 面部轮廓咨询" />
        <img src="../../images/program/landing_face/landing_face_37_m.jpg" alt="朴钟林博士的1 YEAR 面部轮廓咨询" />
        <img src="../../images/program/landing_face/landing_face_38_m.jpg" alt="朴钟林博士的1 YEAR 面部轮廓咨询" />
        <img src="../../images/program/landing_face/landing_face_39_m.jpg" alt="朴钟林博士的1 YEAR 面部轮廓咨询" />
		<img src="../../images/program/landing_face/landing_face_40_m.jpg" alt="朴钟林博士的1 YEAR 面部轮廓咨询" />
	</div>
</div>
<!-- //program-view -->

<% include ../_include/_quick %>
<% include ../_include/_footer %>
