<%
	type = "program"
	page = "landingPlan"
%>
<% include ../_include/_header %>
	<div class="content">
		<img src="../../images/program/contour_1909/contour1909_1.jpg" class="img-w100 hidden-tm" alt="提前查看一下 轮廓手术日程表"/>
		<img src="../../images/program/contour_1909/contour1909_2.jpg" class="img-w100 hidden-tm" alt="从手术当天到管理结束为止！！ 轮廓整形计划抢先看"/>

		<img src="../../images/program/contour_1909/contour1909_1_m.jpg" class="img-w100 hidden-p" alt="提前查看一下 轮廓手术日程表"/>
		<img src="../../images/program/contour_1909/contour1909_2_m.jpg" class="img-w100 hidden-p" alt="从手术当天到管理结束为止！！ 轮廓整形计划抢先看"/>

		<div class="content__calendar">
			<div class="plan-calendar2">
				<div class="plan-calendar2__area">
					<img src="../../images/program/contour_1909/calendar_top.jpg" class="img-w100 hidden-m" alt="选择手术日期后自动生成整套管理计划"/>
					<img src="../../images/program/contour_1909/calendar_top_m.jpg" class="img-w100 hidden-pt" alt="选择手术日期后自动生成整套管理计划"/>
					<div class="plan-calendar2__relative">
						<a href="" class="plan-calendar2__prev js-calendar-prev">之前</a>
						<a href="" class="plan-calendar2__next js-calendar-next">之后</a>
						<div class="plan-calendar2__box type-left" data-month="9">
							<div class="plan-calendar2__wrap">
								<div class="plan-calendar2__month">2019年 <span class="plan-calendar2__point">9</span>月</div>
								<div class="plan-calendar2__outer">
									<ul class="plan-calendar2__week">
										<li class="plan-calendar2__item2"><p class="plan-calendar2__day2">周日</p></li>
										<li class="plan-calendar2__item2"><p class="plan-calendar2__day2">周一</p></li>
										<li class="plan-calendar2__item2"><p class="plan-calendar2__day2">周二</p></li>
										<li class="plan-calendar2__item2"><p class="plan-calendar2__day2">周三</p></li>
										<li class="plan-calendar2__item2"><p class="plan-calendar2__day2">周四</p></li>
										<li class="plan-calendar2__item2"><p class="plan-calendar2__day2">周五</p></li>
										<li class="plan-calendar2__item2"><p class="plan-calendar2__day2">周六</p></li>
									</ul>
								</div>
								<ul class="plan-calendar2__inner">
									<li class="plan-calendar2__item"><p class="plan-calendar2__day">1</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day type-start">2</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day type-week1 type-first">3</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day type-week1">4</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day type-week1">5</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day type-week1">6</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day type-week1">7</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day type-week1">8</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day type-week1 type-end">9</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day type-week2 type-first">10</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day type-week2">11</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day type-week2">12</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day type-week2">13</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day type-week2">14</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day type-week2">15</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day type-week2 type-end">16</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day type-week3 type-first">17</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day type-week3">18</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day type-week3">19</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day type-week3">20</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day type-week3">21</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day type-week3">22</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day type-week3 type-end">23</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day type-departure">24</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day">25</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day">26</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day">27</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day">28</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day">29</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day">30</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
								</ul>
							</div>
						</div>
						<div class="plan-calendar2__box type-right" data-month="10">
							<div class="plan-calendar2__wrap">
								<div class="plan-calendar2__month">2019年 <span class="plan-calendar2__point">10</span>月</div>
								<div class="plan-calendar2__outer">
									<ul class="plan-calendar2__week">
										<li class="plan-calendar2__item2"><p class="plan-calendar2__day2">周日</p></li>
										<li class="plan-calendar2__item2"><p class="plan-calendar2__day2">周一</p></li>
										<li class="plan-calendar2__item2"><p class="plan-calendar2__day2">周二</p></li>
										<li class="plan-calendar2__item2"><p class="plan-calendar2__day2">周三</p></li>
										<li class="plan-calendar2__item2"><p class="plan-calendar2__day2">周四</p></li>
										<li class="plan-calendar2__item2"><p class="plan-calendar2__day2">周五</p></li>
										<li class="plan-calendar2__item2"><p class="plan-calendar2__day2">周六</p></li>
									</ul>
								</div>
								<ul class="plan-calendar2__inner">
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
								</ul>
							</div>
						</div>
					</div>
					<img src="../../images/program/contour_1909/calendar_bottom.jpg" class="img-w100 hidden-m" alt="当日:无痛注射, 第1周 :精致消肿管理, 第2周 精致线条管理, 第3周 : 精致最终管理"/>
					<img src="../../images/program/contour_1909/calendar_bottom_m.jpg" class="img-w100 hidden-pt" alt="当日:无痛注射, 第1周 :精致消肿管理, 第2周 精致线条管理, 第3周 : 精致最终管理"/>
				</div>
			</div>
		</div>

		<img src="../../images/program/contour_1909/contour1909_5.jpg" class="img-w100 hidden-tm" alt="任何脸型都OK! - 自然的，柔和的轮廓线条 佰诺佰琪精致面部轮廓"/>
		<img src="../../images/program/contour_1909/contour1909_6.jpg" class="img-w100 hidden-tm" alt="棱角分明的脸型，格外凸出的颧骨，让人郁闷看不到的下巴 - 并不是全部都要无条件的切除!"/>
		<img src="../../images/program/contour_1909/contour1909_7.jpg" class="img-w100 hidden-tm" alt="正面当然包括斜侧面，侧面全部都考虑在内 颧骨缩小再配置"/>
		<img src="../../images/program/contour_1909/contour1909_8.jpg" class="img-w100 hidden-tm" alt="为更具有魅力的V line 下颌角缩小"/>
		<img src="../../images/program/contour_1909/contour1909_9.jpg" class="img-w100 hidden-tm" alt="令长下巴，无下巴，圆润的下巴惊喜的变化 - 下巴整形"/>
		<img src="../../images/program/contour_1909/contour1909_10.jpg" class="img-w100 hidden-tm" alt="具有男性魅力的线条! 男性面部轮廓"/>
		<img src="../../images/program/contour_1909/contour1909_11.jpg" class="img-w100 hidden-tm" alt="佰诺佰琪轮廓整形 3周集中管理项目"/>
		<img src="../../images/program/contour_1909/contour1909_12.jpg" class="img-w100 hidden-tm" alt="REAL SELFIE!"/>

		<img src="../../images/program/contour_1909/contour1909_5_m.jpg" class="img-w100 hidden-p" alt="任何脸型都OK! - 自然的，柔和的轮廓线条 佰诺佰琪精致面部轮廓"/>
		<img src="../../images/program/contour_1909/contour1909_6_m.jpg" class="img-w100 hidden-p" alt="棱角分明的脸型，格外凸出的颧骨，让人郁闷看不到的下巴 - 并不是全部都要无条件的切除!"/>
		<img src="../../images/program/contour_1909/contour1909_7_m.jpg" class="img-w100 hidden-p" alt="正面当然包括斜侧面，侧面全部都考虑在内 颧骨缩小再配置"/>
		<img src="../../images/program/contour_1909/contour1909_8_m.jpg" class="img-w100 hidden-p" alt="为更具有魅力的V line 下颌角缩小"/>
		<img src="../../images/program/contour_1909/contour1909_9_m.jpg" class="img-w100 hidden-p" alt="令长下巴，无下巴，圆润的下巴惊喜的变化 - 下巴整形"/>
		<img src="../../images/program/contour_1909/contour1909_10_m.jpg" class="img-w100 hidden-p" alt="具有男性魅力的线条! 男性面部轮廓"/>
		<img src="../../images/program/contour_1909/contour1909_11_m.jpg" class="img-w100 hidden-p" alt="佰诺佰琪轮廓整形 3周集中管理项目"/>
		<img src="../../images/program/contour_1909/contour1909_12_m.jpg" class="img-w100 hidden-p" alt="REAL SELFIE!"/>

		<div class="plan-video">
			<div class="plan-video__wrap">
				<div class="plan-video__video">
					<iframe id="contour1909_video" src="http://player.youku.com/embed/XNDM2NDQ3MzE3Mg==?autoplay=false"></iframe>
				</div>
			</div>
		</div>

		<img src="../../images/program/contour_1909/contour1909_13.jpg" class="img-w100 hidden-tm" alt="满意的效果取决于细节的差异 - 佰诺佰琪 轮廓整形 专家团队"/>
		<img src="../../images/program/contour_1909/contour1909_14.jpg" class="img-w100 hidden-tm" alt="面部轮廓，为什么选佰诺佰琪?"/>
		<img src="../../images/program/contour_1909/contour1909_15.jpg" class="img-w100 hidden-tm" alt="由首尔大学出身的 整形外科专家 组成的 佰诺佰琪整形外科 精英专家 医疗团队"/>

		<img src="../../images/program/contour_1909/contour1909_13_m.jpg" class="img-w100 hidden-p" alt="满意的效果取决于细节的差异 - 佰诺佰琪 轮廓整形 专家团队"/>
		<img src="../../images/program/contour_1909/contour1909_14_m.jpg" class="img-w100 hidden-p" alt="面部轮廓，为什么选佰诺佰琪?"/>
		<img src="../../images/program/contour_1909/contour1909_15_m.jpg" class="img-w100 hidden-p" alt="由首尔大学出身的 整形外科专家 组成的 佰诺佰琪整形外科 精英专家 医疗团队"/>
	</div>

	<!-- program-bottom -->
	<div class="program-bottom">
	    <img src="../../images/program/chest_190610/program_logo_bano.png" alt="Plastic surgery in Korea: get the best in the Korea plastic surgery world with Banobagi Plastic Surgery" class="program-bottom__img">

	    <div class="program-bottom__box">
	        <div class="program-bottom__wrap">
	            <div class="program-bottom__inner">
	                <img src="../../images/program/chest_190610/program_call.png" alt="马上拨打电话 400-631-6508, 82-2-564-6508" class="program-bottom__img hidden-tm">

	                <a href="tel:400-631-6508" class="program-bottom__link hidden-p">
	                    <img src="../../images/program/chest_190610/program_call.png" alt="马上拨打电话 400-631-6508, 82-2-564-6508" class="program-bottom__img">
	                </a>
	            </div>
	        </div>
	    </div>
	</div>
	<!-- //program-bottom -->
<% include ../_include/_quick %>
<% include ../_include/_footer %>
