<%
	type = "program"
	page = "landingPlan"
%>
<% include ../_include/_header %>
	<div class="content">
		<img src="../../images/program/chest_190610/program_chest_1.jpg" class="img-w100 hidden-tm" alt="提前查看一下胸部整形日程表"/>
		<img src="../../images/program/chest_190610/program_chest_2.jpg" class="img-w100 hidden-tm" alt="为了克服自卑感最受喜欢的手术是？ - 胸部整形"/>

		<img src="../../images/program/chest_190610/program_chest_1_m.jpg" class="img-w100 hidden-p" alt="提前查看一下胸部整形日程表"/>
		<img src="../../images/program/chest_190610/program_chest_2_m.jpg" class="img-w100 hidden-p" alt="为了克服自卑感最受喜欢的手术是？ - 가胸部整形"/>

		<div class="content__sea">
			<div class="plan-calendar">
				<img src="../../images/program/chest_190610/program_chest_tit.jpg" class="img-w100 hidden-tm" alt="旅行前胸部整形？没问题!! - 胸部整形日程表, 从手术日期到管理结束的日期，提前查看胸部整形计划"/>
				<img src="../../images/program/chest_190610/program_chest_tit_m.jpg" class="img-w100 hidden-p" alt="旅行前胸部整形？没问题!! - 胸部整形日程表, 从手术日期到管理结束的日期，提前查看胸部整形计划"/>

				<div class="plan-calendar__area">
					<a href="" class="plan-calendar__prev js-calendar-prev">之前</a>
					<a href="" class="plan-calendar__next js-calendar-next">之后</a>
					<div class="plan-calendar__box type-left" data-month="6">
						<div class="plan-calendar__wrap">
							<div class="plan-calendar__month">2019年9月</div>
							<div class="plan-calendar__outer js-alert">
								<ul class="plan-calendar__week">
									<li class="plan-calendar__item">周日</li>
									<li class="plan-calendar__item">周一</li>
									<li class="plan-calendar__item">周二</li>
									<li class="plan-calendar__item">周三</li>
									<li class="plan-calendar__item">周四</li>
									<li class="plan-calendar__item">周五</li>
									<li class="plan-calendar__item">周六</li>
								</ul>

								<div class="plan-calendar__inner">
									<ul class="plan-calendar__list">
										<!-- 9월 -->
										<li class="plan-calendar__day">1</li>
										<li class="plan-calendar__day type-start">2</li>
										<li class="plan-calendar__day type-week1">3</li>
										<li class="plan-calendar__day type-week1">4</li>
										<li class="plan-calendar__day type-week1">5</li>
										<li class="plan-calendar__day type-week1">6</li>
										<li class="plan-calendar__day type-week1">7</li>
										<li class="plan-calendar__day type-week1">8</li>
										<li class="plan-calendar__day type-week1">9</li>
										<li class="plan-calendar__day type-week2">10</li>
										<li class="plan-calendar__day type-week2">11</li>
										<li class="plan-calendar__day type-week2">12</li>
										<li class="plan-calendar__day type-week2">13</li>
										<li class="plan-calendar__day type-week2">14</li>
										<li class="plan-calendar__day type-week2">15</li>
										<li class="plan-calendar__day type-week2">16</li>
										<li class="plan-calendar__day type-week3">17</li>
										<li class="plan-calendar__day type-week3">18</li>
										<li class="plan-calendar__day type-week3">19</li>
										<li class="plan-calendar__day type-week3">20</li>
										<li class="plan-calendar__day type-week3">21</li>
										<li class="plan-calendar__day type-week3">22</li>
										<li class="plan-calendar__day type-week3">23</li>
										<li class="plan-calendar__day type-week4">24</li>
										<li class="plan-calendar__day type-week4">25</li>
										<li class="plan-calendar__day type-week4">26</li>
										<li class="plan-calendar__day type-week4">27</li>
										<li class="plan-calendar__day type-week4">28</li>
										<li class="plan-calendar__day type-week4">29</li>
										<li class="plan-calendar__day type-week4">30</li>
										<li class="plan-calendar__day type-departure">31</li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="plan-calendar__box type-right">
						<div class="plan-calendar__wrap">
							<div class="plan-calendar__month">2019年10月</div>
							<div class="plan-calendar__outer">
								<ul class="plan-calendar__week">
									<li class="plan-calendar__item">周日</li>
									<li class="plan-calendar__item">周一</li>
									<li class="plan-calendar__item">周二</li>
									<li class="plan-calendar__item">周三</li>
									<li class="plan-calendar__item">周四</li>
									<li class="plan-calendar__item">周五</li>
									<li class="plan-calendar__item">周六</li>
								</ul>

								<div class="plan-calendar__inner">
									<ul class="plan-calendar__list">
										<!-- 9월 -->
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
									</ul>
								</div>
							</div>
						</div>
					</div>

				</div>

				<img src="../../images/program/chest_190610/program_chest_info.jpg" class="plan-calendar__info img-w100 hidden-tm" alt="当天 : 无痛/消肿针 , 第1周 : 出国前院长复查（拆线X，） , 第2-4周 : 恢复期/必要时最终复查" />
				<img src="../../images/program/chest_190610/program_chest_info_m.jpg" class="plan-calendar__info img-w100 hidden-p" alt="当天 : 无痛/消肿针 , 第1周 : 出国前院长复查（拆线X，） , 第2-4周 : 恢复期/必要时最终复查" />

				<div class="plan-calendar__bag">
					<img src="../../images/program/chest_190610/bag.png" alt="img" class="img-w100"/>
				</div>

				<div class="plan-calendar__girl">
					<img src="../../images/program/chest_190610/girl.png" alt="img" class="img-w100"/>
				</div>
			</div>
		</div>

		<img src="../../images/program/chest_190610/program_chest_3.jpg" class="img-w100 hidden-tm" alt="休假准备完成的她们 真实故事！"/>
		<img src="../../images/program/chest_190610/program_chest_4.jpg" class="img-w100 hidden-tm" alt="细节的差异创造满意的结果 - 佰诺佰琪One-stop胸部整形体系"/>
		<img src="../../images/program/chest_190610/program_chest_5.jpg" class="img-w100 hidden-tm" alt="首尔大出身的整形外科专家构成的 佰诺佰琪整形外科细节打造医疗团队"/>

		<img src="../../images/program/chest_190610/program_chest_3_m.jpg" class="img-w100 hidden-p" alt="休假准备完成的她们 REAL SELFIE 真实故事！"/>
		<img src="../../images/program/chest_190610/program_chest_4_m.jpg" class="img-w100 hidden-p" alt="首尔大出身的整形外科专家构成的 佰诺佰琪整形外科细节打造医疗团队"/>

		<div class="program-banner">
			<a href="http://www.btsbanobagi.com" target="_blank">
				<img src="../../images/program/chest_190610/program_bts.jpg" class="img-normal" alt=""/>
			</a>
		</div>
	</div>

	<!-- program-bottom -->
	<div class="program-bottom">
	    <img src="../../images/program/chest_190610/program_logo_bano.png" alt="Plastic surgery in Korea: get the best in the Korea plastic surgery world with Banobagi Plastic Surgery" class="program-bottom__img">

	    <div class="program-bottom__box">
	        <div class="program-bottom__wrap">
	            <div class="program-bottom__inner">
	                <img src="../../images/program/chest_190610/program_call.png" alt="马上拨打电话 400-631-6508, 82-2-564-6508" class="program-bottom__img hidden-tm">

	                <a href="tel:400-631-6508" class="program-bottom__link hidden-p">
	                    <img src="../../images/program/chest_190610/program_call.png" alt="马上拨打电话 400-631-6508, 82-2-564-6508" class="program-bottom__img">
	                </a>
	            </div>
	        </div>
	    </div>
	</div>
	<!-- //program-bottom -->

<% include ../_include/_quick %>
<% include ../_include/_footer %>
