<%
	type = "program"
	page = "program"
%>
<% include ../_include/_header %>
<% include ../_include/_popup_event %>

<style>
    .cont{padding-top:50px; box-sizing:border-box;font-size: 0;}
    .cont img{width:100%; vertical-align:middle;}
	.cont__box{background: #f3f3f3 url(../../images/program/landing_contour/landing_contour_bg_1.jpg) top center no-repeat;}
	.cont__area{max-width: 1200px;margin: 0 auto;box-sizing: border-box;}

    @media only screen and (max-width: 993px) {
		.cont{padding-top:60px;}
		.cont__box{background-image: url(../../images/program/landing_contour/landing_contour_bg_1_m.jpg);background-size: cover;}
    }
    @media only screen and (max-width: 681px) {
		.cont{padding-top:50px;}
    }
</style>

<!-- program-view -->
<div class="cont">
    <img src="../../images/program/landing_contour/landing_contour_img_1.jpg" class="hidden-tm" alt="轮廓的品格 吴昌铉 院长">
    <img src="../../images/program/landing_contour/landing_contour_img_1_m.jpg" class="hidden-p" alt="轮廓的品格 吴昌铉 院长">

    <div class="cont__box">
        <div class="cont__area">
            <img src="../../images/program/landing_contour/landing_contour_tit_1.png" class="hidden-tm" alt="轮廓的品格 吴昌铉 院长">
            <img src="../../images/program/landing_contour/landing_contour_doctor_1.png" class="hidden-tm" alt="轮廓的品格 吴昌铉 院长">

            <img src="../../images/program/landing_contour/landing_contour_tit_1_m.png" class="hidden-p" alt="轮廓的品格 吴昌铉 院长">
            <img src="../../images/program/landing_contour/landing_contour_doctor_1_m.png" class="hidden-p" alt="轮廓的品格 吴昌铉 院长">
        </div>
    </div>

    <img src="../../images/program/landing_contour/landing_contour_img_2.jpg" class="hidden-tm" alt="轮廓的品格 吴昌铉 院长" />
    <img src="../../images/program/landing_contour/landing_contour_img_3.jpg" class="hidden-tm" alt="轮廓的品格 吴昌铉 院长" />
    <img src="../../images/program/landing_contour/landing_contour_img_4.jpg" class="hidden-tm" alt="轮廓的品格 吴昌铉 院长" />
    <img src="../../images/program/landing_contour/landing_contour_img_5.jpg" class="hidden-tm" alt="轮廓的品格 吴昌铉 院长" />
    <img src="../../images/program/landing_contour/landing_contour_img_6.jpg" class="hidden-tm" alt="轮廓的品格 吴昌铉 院长" />

    <img src="../../images/program/landing_contour/landing_contour_img_2_m.jpg" class="hidden-p" alt="轮廓的品格 吴昌铉 院长" />
    <img src="../../images/program/landing_contour/landing_contour_img_3_m.jpg" class="hidden-p" alt="轮廓的品格 吴昌铉 院长" />
    <img src="../../images/program/landing_contour/landing_contour_img_4_m.jpg" class="hidden-p" alt="轮廓的品格 吴昌铉 院长" />
    <img src="../../images/program/landing_contour/landing_contour_img_5_m.jpg" class="hidden-p" alt="轮廓的品格 吴昌铉 院长" />
    <img src="../../images/program/landing_contour/landing_contour_img_6_m.jpg" class="hidden-p" alt="轮廓的品格 吴昌铉 院长" />
</div>
<!-- //program-view -->

<!-- program-bottom -->
<div class="program-bottom">
    <img src="../../images/program/landing_contour/landing_contour_logo.jpg" alt="佰诺佰琪整形外科" class="program-bottom__img type-logo">

    <div class="program-bottom__box">
        <div class="program-bottom__wrap">
            <div class="program-bottom__inner">
                <img src="../../images/program/landing_contour/landing_contour_call.jpg" alt="" class="program-bottom__img hidden-tm">

                <a href="tel:4006316508" class="program-bottom__link hidden-p">
                    <img src="../../images/program/landing_contour/landing_contour_call.jpg" alt="" class="program-bottom__img">
                </a>
            </div>
        </div>
    </div>
</div>
<!-- //program-bottom -->

<% include ../_include/_quick %>
<% include ../_include/_footer %>
