@charset "utf-8";

// html,body{margin:0;padding:0;}
// body{font:26px/1.2 '黑体', Verdana, Arial, '宋体', Gulim, sans-serif;color:#909499;-webkit-text-size-adjust:none;word-break:keep-all;background:#e8f4ff;}
// dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,select,textarea,p,blockquote,tbody,tfoot,thead,th,td{margin:0;padding:0;}
// input,textarea,select,button{font:26px/1.2 '黑体', Verdana, Arial, '宋体', Gulim, sans-serif;color:#909499;vertical-align:middle;letter-spacing:0;}
// h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:100%;}
// table{table-layout:fixed;width:100%;border-spacing:0;border-collapse:collapse;}
// ol,ul,li{list-style:none;}
// hr, legend, caption, .skip{position:absolute;overflow:hidden;line-height:0.01%;font-size:0.01%;width:0;height:0;}
// img,fieldset{max-width:100%;border:0 none;vertical-align:middle;}
// label,button{display:inline-block;cursor:pointer;}
// em,address{font-style:normal;}
// a{color:inherit;text-decoration:none;}

/* body */
body {
    font-size: 26px;
	// background: url(../../images/program/event_model/beauty_yellow_bg.png);
	// background-repeat: repeat;
	// background-position: left top;
	min-height: 100%;
	letter-spacing: 0;
}
input[type='text']{
	border: 1px solid #E3E3E3;
	height: 43px;
	line-height: 43px;
	padding: 0 5px;
	font-size: 0.8em;
	color: #858585;
	box-sizing:border-box;
}

.event_bg{
    background: url(../../images/program/event_model/beauty_yellow_bg.png);
	background-repeat: repeat;
	background-position: left top;
	min-height: 100%;
}

/* checkbox, rado */
.checkbox, .radio {
	display: inline;
	width: auto;
	margin-right: 15px;
	cursor: pointer;
}
.custom-checkbox{
	width: 18px;
	height: 18px;
	display: inline-block;
	position: relative;
	z-index: 1;
	top: 3px;
	background: url("../../images/program/event_model/checkbox.png") no-repeat;
}

.custom-checkbox.selected{
	background: url("../../images/program/event_model/checkbox-selected.png") no-repeat;
}
.custom-checkbox input[type="checkbox"], .custom-checkbox input[type="radio"]{
	margin: 0;
	position: absolute;
	z-index: 2;
	cursor: pointer;
	outline: none;
	opacity: 0;
	/* CSS hacks for older browsers */
	_noFocusLine: expression(this.hideFocus=true);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-khtml-opacity: 0;
	-moz-opacity: 0;
}

.custom-radio{
	width: 18px;
	height: 18px;
	display: inline-block;
	position: relative;
	z-index: 1;
	top: 3px;
	background: url("../../images/program/event_model/radio.png") no-repeat;
}

.custom-radio.selected{
	background: url("../../images/program/event_model/radio-selected.png") no-repeat;
}
.custom-radio input[type="radio"]{
	margin: 1px;
	position: absolute;
	z-index: 2;
	cursor: pointer;
	outline: none;
	opacity: 0;
	/* CSS hacks for older browsers */
	_noFocusLine: expression(this.hideFocus=true);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-khtml-opacity: 0;
	-moz-opacity: 0;
}

.wrapper{
	width: 100%;
	background: url(../../images/program/event_model/beauty_bg.png);
	background-repeat: no-repeat;
	background-position: top;
	background-size: contain;
	min-height: 100%;
	overflow: hidden;
    margin-top: 50px;
	padding-bottom: 200px;
}

::-webkit-input-placeholder { /* Chrome */
  font-size:1em;
}
:-ms-input-placeholder { /* IE 10+ */
  font-size:1em;
}
::-moz-placeholder { /* Firefox 19+ */
  font-size:1em;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  font-size:1em;
}

.boxWrap{width:1200px; margin:885px auto 0; position:relative;}
.boxWrap > .box{padding:100px 150px 50px; border:1px solid #d2cdc0; border-top:10px solid #ff9000; background:#fff;}
.boxWrap > .top_title{position:absolute; left:-65px; top:-193px;}
.boxWrap .box > .top_title{display:none;margin: 0;}

.boxWrap .section{padding:23px 0;}
.boxWrap .section+.section{padding:33px 0;}
.boxWrap .section.border{border-bottom:dashed 1px #b2b2b2;}
.boxWrap .section .section_title{margin-bottom:12px; font-size:1em; color:#656565;}
.boxWrap .section .section_title em{display:inline-block; font-size:0.7em; color:#3c9b86;font-style: normal;}
.boxWrap .section .section_sub_title{margin-bottom:7px; font-size:0.9em; color:#909090;}
.boxWrap .section .inSection{margin-bottom:15px;}
.sheetWrite{table-layout:fixed;}
.sheetWrite th,.sheetWrite td{text-align:left; font-weight:normal}
.sheetWrite th{padding:15px 0 0; font-size:1em; color:#656565; vertical-align:top;}
.sheetWrite td{padding:10px 20px 10px 0;}
.sheetWrite .col1{width:120px;}
.sheetWrite .col2{width:70px;}
.sheetWrite .col3{width:auto;}

.in_text_input{padding-right:25px; position:relative;}
.in_text_input span{width:20px; position:absolute; right:0; top:10px; text-align:right; font-size:0.9em; color:#3c9b86;word-break:keep-all;font-family: 黑体, Verdana, Arial, 宋体, Gulim, sans-serif;}
.in_text_input input[type="text"]{width:100%; box-sizing:border-box;}

.adress_input{}
.adress_input:after{content:''; display:block; clear:both;}
.adress_input input[type="text"]{width:31%; float:left; box-sizing:border-box;}
.adress_input span{width:3.5%; float:left; text-align:center; color:#3c9b86; font-size:0.9em; margin-top:5px;}
.adress_input span:before{content:''; width:6px; height:2px; display:inline-block; background:#3c9b86; vertical-align:middle}
.adress_input.ver2 input[type="text"]{width:23%; box-sizing:border-box;}
.adress_input.ver2 span{width:3.5%;}
.adress_input.ver2 span.space{width:2%;}
.email_input{}
.email_input:after{content:''; display:block; clear:both;}
.email_input input, .email_input span{float:left; box-sizing:border-box;}
.email_input span{margin-top:8px; text-align:center; color:#3c9b86; font-size:0.9em;}

.checkWrap{width:105%; overflow:hidden;}
.checkWrap label{margin:3px 20px 3px 0; float:left; font-size:0.85em; color:#909090;}

.checkList{margin: 0;padding: 0;list-style: none;}
.checkList:after{content:''; display:block; clear:both;}
.checkList li{width:33.3%; margin:0 0 12px; float:left;}
.checkList li label{width:100%; display:inline-block; margin-bottom:5px; font-size:0.85em; color:#909090;}
.checkList li input[type="text"]{width:90%; box-sizing:border-box;}

.textarea{width:100%; padding:2%; border:1px solid #d3d3d3; box-sizing:border-box; font-size:0.8em;}
.guideTxt{margin-top:7px; text-align:right; font-size:0.7em; color:#3c9b86;}

.picWrap{}
.picWrap .desc{margin: 0 0 15px;padding: 0;list-style: none;}
.picWrap .desc li{font-size:0.7em; color:#3c9b86;}
.picWrap .desc li+li{margin-top:5px;}
.picWrap .desc span{font-weight:bold; text-decoration:underline;}
.m_photo input {border:0; width:100%; margin:5px 0; height:30px; font-size:14px;}
.btnWrap{margin-top:40px; text-align:center;}
.btnWrap button{font-size:0; border:0; padding:0;}
.btnWrap .desc{margin-top:10px;}

@media only screen and (max-width : 1200px){
	.boxWrap{width:100%; padding:0 20px; box-sizing:border-box;}
	.boxWrap > .box{padding:100px 100px 50px; border:1px solid #d2cdc0; border-top:10px solid #ff9000; background:#fff;}
}

@media only screen and (max-width : 1024px){
	body,input,textarea,select,button{font-size:20px;}
	.wrapper{padding-bottom: 100px;}
	.boxWrap{margin:485px auto 0;}
	.boxWrap > .box{padding:50px 50px 50px; border-top:8px solid #ff9000;}
	.sheetWrite th{padding-top:13px; font-size:1em; color:#656565; vertical-align:top;}
	.sheetWrite td{padding:5px 10px 5px 0;}
	.sheetWrite .col1{width:90px;}
	.sheetWrite .col2{width:50px;}

	.boxWrap .section{padding:15px 0;}
	.boxWrap .section+.section{padding:22px 0;}
	.boxWrap .section .inSection{margin-bottom:12px;}

	.boxWrap > .top_title{position:absolute; left:0; top:-100px;}
	.boxWrap > .top_title img{width:50%;}
}

@media only screen and (max-width : 768px){
	body,input,textarea,select,button{font-size:16px;}
	input[type='text']{
		height: 32px;
		line-height: 32px;
	}
	.wrapper{padding-bottom: 50px;}
	.boxWrap{margin:305px auto 0;}
	.boxWrap > .box{padding:10.5% 40px 40px; border-top:5px solid #ff9000; background:#fff; position:relative;}
	.boxWrap > .top_title{display:none}
	.boxWrap .box > .top_title{display:block; position:absolute; left:0; right:0; top:0;}
	.boxWrap .box > .top_title img{width:100%;}
	.boxWrap .section{padding:10px 0;}
	.boxWrap .section+.section{padding:10px 0;}
	.boxWrap .section .inSection{margin-bottom:8px;}

	.sheetWrite .col1{width:78px;}
	.sheetWrite .col2{width:40px;}
	.in_text_input{padding-right:25px; position:relative;}
	.in_text_input span{width:20px;}
	.btnWrap{margin-top:20px;}

	.adress_input.ver2 input[type="text"]{width:31%; box-sizing:border-box;}
	.adress_input.ver2 span{width:3.5%;}
	.adress_input.ver2 span.space{width:0; font-size:0;}
	#relation{width:100%; margin:5px 0 0 0 !important;}
	.checkList li label.letterspacing{letter-spacing:-3px}
}

@media only screen and (max-width : 640px){
	.wrapper{
		background-size:130% auto;
		background-position:center top;
	}
	.boxWrap{margin:315px auto 0;}
	.boxWrap > .box{padding:10.5% 20px 20px;}
	.adress_input span{margin-top:5px;}
	.adress_input span:before{width:3px;}
	.in_text_input{padding-right:21px; position:relative;}
	.in_text_input span{width:16px;}
	.btnWrap .desc img{width:225px;}
	.checkList{letter-spacing:-2px;}
	.guideTxt{text-align:left; word-break:break-all}
	.boxWrap .section .section_title em{text-align:left; word-break:break-all}
	.sheetWrite th{padding-top:12px;}
}

@media only screen and (max-width : 480px){
	.boxWrap{margin:205px auto 0; padding:0 10px;}
	.boxWrap > .box{padding:10.5% 10px 20px;}
}
