
.slick-dotted.slick-slider{margin-bottom:0;}
.epilogue-best{overflow:hidden; position:relative; max-height:272px; margin-top:60px;
	$this:&;
    &__wrap{width:100%; box-shadow: inset 0px 0px 0px 1px rgba(238,238,238,1);}
    &__link{overflow: hidden;position: absolute;top: 0;left: 0;display: block;width: 100%;height: 100%;z-index: 20;text-indent: -9999px;content: '';}
	&__link2{display:block; text-decoration:none;}
    &__outer{margin-left:-16px;
        &:after{content: '';display: block;clear: both;}
    }
    &__item{position:relative; width:100%; padding-bottom:42.96%;}
    &__box{float: left; position: relative; width:50%; padding-left:16px; box-sizing:border-box;}
    &__mark{position: absolute;top: 0;right: 0;display: inline-block;padding: 6px 15px 3px;background-color: #FF4340;font-size: 14px;color: #fff;}
    &__area{position:absolute; top:0; left:0; bottom:0; width:100%; height:100%; padding:0 80px; box-sizing:border-box;}
	&__inner{display:inline-table; width:100%; height:100%;}
	&__vertical{display:table-cell; vertical-align:middle;}
    &__tit{margin:0; font-size: 24px;font-weight: 500;color: #2d2d2d;line-height: 140%;}
    &__txt{display: -webkit-box;overflow: hidden;text-overflow: ellipsis;-webkit-line-clamp: 3;-webkit-box-orient: vertical;word-wrap: break-word;max-height: 6.5rem;margin:20px 0 0 0;color: #2d2d2d;font-size: 14px;line-height: 165%;}
	&__page{position:absolute; right:0; margin:0; padding:0; bottom: 20px; width: 50%;right: 0; font-size:0; text-align:center;
		li{overflow:hidden; display:inline-block; width:6px; height:6px; margin:0; padding:0;list-style:none; border-radius:50%; text-indent:-9999px; background-color:#ddd; cursor:pointer; border:none; outline:0; box-sizing:border-box; line-height:1; text-decoration:none;
			& + li{margin-left:5px;}
			&.slick-active{background:$color-point;}
		}
	}
	&__prev,&__next{overflow:hidden; position:absolute; top:0; bottom:0; display:block; width:12px; height:22px; margin:auto 0; text-indent:-9999px;}
	&__next{right:16px; background:url('../images/review/epilogue/best_next.png') no-repeat center center / contain;}
	&__prev{left:calc(50% + 32px); background:url('../images/review/epilogue/best_prev.png') no-repeat center center / contain;}
    @media only screen and (max-width: $tablet-size) {max-height:100%; margin-top:50px;
		&__outer{margin-left:0;}
		&__box{width:40%; padding-left:0;
			&.type-img{width:60%;}
			&.type-txt{
				#{$this}__item{padding-bottom:64.44%;}
			}
		}
		&__area{padding:0 20px;}
        &__mark{padding: 2px 11px 0px;font-weight: 300;}
        &__tit{font-size: 20px;line-height: 130%;letter-spacing: -2px;}
        &__txt{-webkit-line-clamp: 2;max-height: 4.3rem;margin-top: 6px;}
		&__page{width:40%;}
		&__next,&__prev{display:none !important;}
    }
    @media only screen and (max-width: $mobile-size) {margin-top:34px;
        &__box{float: none; width:100%;
			&.type-img{width:100%;}
			&.type-txt{
				#{$this}__item{padding-bottom:0;}
			}
		}
        &__mark{font-size: 1.0rem;padding: 2px 11px;}
        &__area{position:static; padding:20px 15px 40px;}
        &__tit{font-size: 1.6rem;letter-spacing: -1px;}
        &__txt{-webkit-line-clamp: 3; height: 6.3rem;font-size: 1.2rem;line-height: 130%;}
		&__page{width:100%; bottom:14px;
			li{width:10px; height:10px;}
		}
    }
}

.epilogue{
	$this:&;
	&.type-default{margin-top:30px;}
	&.type-search{margin-top:24px;
		#{$this}__list{margin-left:-32px;}
		#{$this}__item{width:33.33%; padding-left:32px;}
		#{$this}__txt{margin-top:4px; padding:0 20px; font-size:14px; box-sizing:border-box;}
		#{$this}__box{padding:0;}
	}
	&__list{margin:-30px 0 0 -16px; padding:0;
		&:after{display:block; clear:both; content:'';}
	}
	&__img{position:relative; width:100%; height:0; padding-bottom:63.63%;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{position:relative; float:left; width:25%; margin-top:30px; padding-left:16px; list-style:none; box-sizing:border-box;
		&.is-active{
			#{$this}__border{overflow:hidden; position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.6); z-index:5; text-indent: -9999px;
				&:before{position:absolute; top:0; left:0; right:0; bottom:0; width:calc(100% - 12px); height:calc(100% - 12px); margin:auto; border:1px solid rgba(255,255,255,0.2); content:''; }
			}
			#{$this}__img{
				&:before,&:after{position:absolute; top:0; left:0; right:0; bottom:0; display:block; margin:auto; content:''; z-index:10;}
				&:before{width:35px; height:0; border-top:1px solid #fff;}
				&:after{height:35px; width:0; border-left:1px solid #fff;}
			}
			#{$this}__box{background:#eee;}
			#{$this}__txt{color:$color-point;}
		}
	}
	&__txt{margin:0; font-size:15px;}
	&__tit{overflow:hidden; margin:0; padding:0 20px; font-size:16px; font-weight:$regular; color:$color-point; text-overflow:ellipsis;box-sizing:border-box;}
	&__box{display:table-cell; width:1%; height:90px; padding:5px 30px; border-left:1px solid #eee; border-right:1px solid #eee; border-bottom:4px solid $color-point;
		vertical-align:middle; box-sizing:border-box; line-height:1.5;
	}
	&__link{overflow:hidden; position:absolute; top:0; left:0; display:block; width:100%; height:100%; z-index:20; text-indent:-9999px; content:'';}
	@media only screen and (max-width: $tablet-size) {
		&.type-search{
			#{$this}__item{width:50%;}
		}
		&__list{margin-left:-12px;}
		&__item{width:33.33%; padding-left:12px;}
		&__box{padding:5px 10px;}
		&__txt{word-break:break-all;}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-default{margin-top:20px;}
		&.type-search{
			#{$this}__list{margin:0; }
			#{$this}__item{width:100%; margin-top:0; padding-left:0;
				& + #{$this}__item{margin-top:15px;}
			}
			#{$this}__box{height:auto; padding:20px 0;}
		}
		&__list{margin-top:-20px;}
		&__item{width:50%; margin-top:20px;}
		&__tit{font-size:1.6rem;}
		&__txt{overflow:hidden; text-overflow:ellipsis; display:block; display:-webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; line-height: 15px; height: 30px; font-size:1.3rem; }
		&__box{overflow:hidden; height:50px; padding:2px 12px;}
	}
}

.gallery{
	$this:&;
	&__tit{margin:0; font-size:30px; color:#333; font-weight:$medium; text-align:center;}
	&__wrap{margin-top:36px; padding:50px 112px 0; border-top:1px solid #eeeeee; box-sizing:border-box;}
	&__list{margin:-30px 0 0 0; padding:0; font-size:0; text-align:center;}
	&__item{position:relative; display:inline-block; width:92px; margin-top:30px; list-style:none;
		& + &{margin-left:16px;}
		&.is-active{
			#{$this}__box{background-color:#f8f8f8; color:$color-point; border-bottom-color:$color-point;}
			#{$this}__icon{top:12px; color:$color-point; transform: rotate(180deg);}
		}
	}
	&__img{position:relative; display:block; width:100%; height:0; padding-bottom:68.47%;}
	&__txt{overflow:hidden; width:100%; margin:0; padding:8px 0; text-overflow: ellipsis; white-space:nowrap; box-sizing:border-box;}
	&__box{position:relative; padding-left:2px; padding-right:10px; border-bottom:1px solid #eee; font-size:13px; box-sizing:border-box;}
	&__icon{overflow:hidden; position:absolute; top:10px; right:2px; margin:auto 0; font-size:10px; transition:transform 0.1s;
		&:before{content:'\f078';}
	}
	&__link{position:absolute; display:block; top:0; left:0; width:100%; height:100%; z-index:1;}
	&__content{position:relative; margin-top:30px; padding:100px 150px; border:1px solid #eee; box-sizing:border-box;
		&.type-old{padding:5px;}
	}
	&__close{overflow:hidden; position:absolute; top:30px; right:30px; display:block; width:34px; height:34px; background:url('../images/review/epilogue/close.png'); text-indent:-999px; content:'';}
	&__inner{text-align:center; font-size:16px; line-height:1.7; box-sizing:border-box;
		p{margin:0;}
		img{max-width:100%;}
	}
	@media only screen and (max-width: $tablet-size) {
		&__wrap{padding:50px 0 0;}
		&__content{padding:86px 60px;}
	}
	@media only screen and (max-width: $mobile-size) {
		&__tit{font-size:1.9rem;}
		&__scroll{overflow-x:scroll; overflow-y:hidden; padding-bottom:10px;-webkit-overflow-scrolling: touch; }
		&__list{margin:0; white-space:nowrap; text-align:left; overflow:visible}
		&__item{margin-top:0;
			& + &{margin-left:10px;}
		}
		&__box{font-size:1.1rem;}
		&__wrap{margin-top:25px; padding:25px 0 0;}
		&__content{margin-top:10px; padding:44px 22px;}
		&__inner{font-size:1.4rem;}
		&__icon{font-size:1rem;}
		&__close{top:15px; right:15px; width:17px; height:17px; background-size:contain;}
	}
}

.scroll-btn{position:fixed; top:50%; right:50%; margin-right:-590px; z-index:10;
	$this:&;
	&__list{margin:0; padding:0; font-size:0;}
	&__item{display:block; width:52px; height:52px; border:1px solid #eee; box-sizing:border-box; list-style:none; text-align:center; background-color:#fff;
		& + &{margin-top:10px;}
	}
	&__link{display:table-cell; width:1%; height:inherit; text-decoration:none; vertical-align:middle; font-size:13px; color:#666;
		i{display: block;}
	}
	@media only screen and (max-width: $tablet-size) {right:18px; margin-right:0;}
	@media only screen and (max-width: $mobile-size) {display:none;}
}
