<%
	type = "content"
	page = "body"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
    <div class="content" data-page="body-lifting">
		<% include ../_include/_tooltip %>
		<div class="new-visual type-lifting">
			<div class="new-visual__box">
				<div class="new-visual__outer">
					<div class="new-visual__inner">
						<p class="new-visual__subtit">能感受到健康感的结实的身材</p>
						<h3 class="new-visual__tit"><span class="n-color-body2">身体</span>提升</h3>
						<p class="new-visual__txt">充满弹性的苗条身体形态</p>
						<ul class="new-visual__list">
							<li class="new-visual__item"><span>#结实的身体曲线</span></li>
							<li class="new-visual__item"><span>#较快的恢复</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- //new-visual-->
        <div class="new-content-wrap">
			<div class="new-section">
				<div class="section-normal type-lifting">
					<div class="section-normal__wrap">
						<p class="section-normal__eng txt-new1">BANOBAGI bodyS SURGERY</p>
					 	<h4 class="section-normal__tit tit-new1">
							被抽掉体脂肪的位置<br>
							要用<span class="n-color-body2">弹力</span>来填满
						</h4>
					 	<p class="section-normal__txt2 txt-new1">
                            一般说到身体整形的话，首先想到的就是吸脂等相关脂肪管理方法。
                            但是单纯的减少体脂并不能完全成为有魅力的身材。和减少体脂肪一样重要的就是身体的弹性。
							<span class="color-black1">富有弹性的身体在视觉上让身材比例更好，比起强调苗条的感觉，健康有魅力的身材更加使人着迷。</span>
					 	</p>
						<p class="section-normal__txt1 txt-new2">
                            因此，肥胖或怀孕导致皮肤失去复原力，与皮下脂肪一起下垂，或因老化而使皮肤弹力下降时，<span class="n-color-body2">可通过身体提拉来有效改善下垂的皮肤，追求富有弹力的身材。</span>
					 	</p>
					</div>
					<div class="section-normal__img">
						<img src="../../images/body/lifting/lifting_img_1.png" class="img-normal" alt="model">
					</div>
				</div>
			</div><!-- //new-section-->
			<div class="new-tab__line">line</div>
			<div class="new-tab type-body">
				<div class="new-tab__tit">
					<div class="new-tab__wrap">
						<a href="" class="new-tab__btn">腹部整形术</a>
					</div>
				</div>
				<ul class="new-tab__list">
					<li class="new-tab__item is-active">
						<div class="new-tab__wrap">
							<a href="page-abdomen" class="new-tab__link">腹部整形术</a>
						</div>
					</li>
					<li class="new-tab__item">
						<div class="new-tab__wrap">
							<a href="page-thigh" class="new-tab__link">大腿提升</a>
						</div>
					</li>
					<li class="new-tab__item">
						<div class="new-tab__wrap">
							<a href="page-arm" class="new-tab__link">手臂提升</a>
						</div>
					</li>
					<li class="new-tab__item">
						<div class="new-tab__wrap">
							<a href="page-back" class="new-tab__link">背部提升</a>
						</div>
					</li>
				</ul>
			</div>

			<div class="new-tab-content page-abdomen is-active">
				<div class="new-section">
					<div class="new-style1 type-overlab">
						<h4 class="new-style1__tit tit-new3">
							原因多样的腹部下垂<br>
							要<strong class="weight-bold">正确把握每个人的身体特征进行改善</strong>
						</h4>
						<p class="new-style1__txt txt-new1">
                            下垂的腹部是最具代表性的身体自卑情结，也是现代人最大的烦恼。
                            特别是由于肥胖，怀孕，衰老等引起的腹部下垂，其范围比较明显，
                            并且很难通过个人的力量进行改善，因此用腹部整形术等方法改善更有效果。
						</p>
						<p class="new-style1__txt2 txt-new2">
                            为了获得更加令人满意的结果，佰诺佰琪对患者们的皮肤弹力，腹肌的收缩程度，
                            脂肪的密度状态，是否生育等个人特点进行缜密的把握，
                            选择适当的方法进行<span class="n-color-body2">量身定制式的腹部整形术</span>。
						</p>
						<div class="new-style1__img">
							<img src="../../images/body/lifting/lifting_img_2.jpg" alt="" class="img-normal"/>
						</div>
						<div class="new-style1__area">
							<h5 class="heading-bar type-body">佰诺佰琪腹部整形术</h5>
						</div>
						<div class="inner-box type-list">
							<div class="new-description type-lifting type-pd0">
								<ul class="new-description__list">
									<li class="new-description__item">
										<p class="new-description__txt txt-new1">
											<span class="new-description__plus">+</span>
											以多年间吸脂经验为基础，对身体形态高度的理解力
										</p>
									</li>
									<li class="new-description__item">
										<p class="new-description__txt txt-new1">
											<span class="new-description__plus">+</span>
											使用适合腹部的激光设备
										</p>
									</li>
									<li class="new-description__item">
										<p class="new-description__txt txt-new1">
											<span class="new-description__plus">+</span>
											更加精准，更加安全的皮肤脂肪切除术
										</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
                    <div class="new-section__wrap type-gray2">
                        <div class="new-section__box">
                            <div class="new-style2">
                                <h4 class="new-style2__tit tit-new3">
                                    如果程度不严重，通过吸脂和激光<br class="hidden-tm">
									可以较<strong class="weight-bold">简单的进行改善</strong>
                                </h4>
                                <p class="new-style2__txt txt-new1">
                                    腹部下垂程度不严重的话，可以通过
									<span class="pop-info type-body">
										<a href="" class="info-btn js-info">
											<span class="info-btn__icon">info</span>
											BELODY激光
											<span class="info-desc">
												<span class="info-desc__item">
													<span class="info-desc__box">
														<span class="info-desc__tit"><span class="info-desc__icon">icon</span>BELODY激光？</span>
														<span class="info-desc__content">
															<img src="../../images/body/lifting/lifting_info_1.jpg" alt="BELODY激光" class="info-desc__thumb">
															<span class="info-desc__txt1">
                                                                Belody激光是在皮肤中调查激光的方式，
                                                                强烈刺激真皮层，再生胶原蛋白和弹性蛋白的原理的激光设备。
                                                                采用相对简单的方法，能够期待增强皮肤弹性的效果，
                                                                且无需切开，故而具有几乎没有疤痕负担的优点。
															</span>
														</span>
													</span>
													<button class="info-desc__btn js-close">
														<span class="info-desc__stick type-left">태블릿 닫기</span>
														<span class="info-desc__stick type-another">태블릿 닫기</span>
														关闭
													</button>
												</span>
											</span>
										</a>
									</span>
									 +
									 <span class="pop-info type-body">
 										<a href="" class="info-btn js-info">
 											<span class="info-btn__icon">info</span>
 											BODY TITE激光
 											<span class="info-desc">
 												<span class="info-desc__item">
 													<span class="info-desc__box">
 														<span class="info-desc__tit"><span class="info-desc__icon">icon</span>BODY TITE激光？</span>
 														<span class="info-desc__content">
 															<img src="../../images/body/lifting/lifting_info_2.jpg" alt="BODY TITE激光" class="info-desc__thumb">
 															<span class="info-desc__txt1">
                                                                身体紧致更加有效的吸脂术，是可期待血管凝固，脂肪融化，
                                                                皮肤紧致效果的激光设备。通过内部和外部电极传递高频，
                                                                可更有效地调节皮肤下垂，对于出血，淤青，
                                                                浮肿等手术负担较小的优点。
 															 </span>
 														</span>
 													</span>
 													<button class="info-desc__btn js-close">
 														<span class="info-desc__stick type-left">태블릿 닫기</span>
 														<span class="info-desc__stick type-another">태블릿 닫기</span>
 														关闭
 													</button>
 												</span>
 											</span>
 										</a>
 									</span>
                                    激光一起可实现吸脂和增加皮肤弹力的效果，能有效改善腹部下垂。<br class="hidden-tm">
                                    精确吸出想要的脂肪量的同时利用皮肤的弹力防止下垂。
                                </p>
                                <p class="new-style2__txt2 txt-new2">
                                    这种方法治疗过程相对简单，<span class="n-color-body2">具有对手术或疤痕负担较小，恢复快的优点。</span>
                                </p>
                            </div>

							<div class="img-style3 type-mt">
                                <h5 class="heading-bar type-body">吸脂术+激光提升</h5>
                                <ul class="img-style3__list">
                                    <li class="img-style3__item">
                                        <div class="img-style3__img">
                                            <img src="../../images/body/lifting/lifting_img_3.jpg" alt="STEP 01" class="img-w100">
                                        </div>
                                    </li>
                                    <li class="img-style3__item">
                                        <div class="img-style3__img">
                                            <img src="../../images/body/lifting/lifting_img_4.jpg" alt="STEP 02" class="img-w100">
                                        </div>
                                    </li>
                                </ul>
                            </div>
							<div class="inner-circle type-body">
								<ul class="inner-circle__list">
									<li class="inner-circle__item txt-new1">
										<div class="vertical-box">
											更加精密<br>
											的吸脂术
										</div>
									</li>
									<li class="inner-circle__item txt-new1">
										<div class="vertical-box">
											恢复<br>
											皮肤弹力
										</div>
									</li>
									<li class="inner-circle__item txt-new1">
										<div class="vertical-box">
                                            相对舒适<br>
                                            快速的恢复
										</div>
									</li>
									<li class="inner-circle__item txt-new1">
										<div class="vertical-box">
                                            减少<br>
                                            疤痕负担
										</div>
									</li>
								</ul>
							</div>

                        </div><!--//new-section__box-->
						<div class="new-section__box">
                            <div class="new-style2">
                                <h4 class="new-style2__tit tit-new3">
                                    如果有一定程度的下垂，<br class="hidden-m">
									可<strong class="weight-bold">根据脂肪分布的不同进行恰当的提升。</strong>
                                </h4>
                                <p class="new-style2__txt txt-new1">
									如果有一定程度下垂的情况，根据脂肪分布的不同进行恰当的提升
								</p>
								<p class="new-style2__txt2 txt-new2">
                                    不过，即使同样是腹部，由于脂肪分布或身体特征的不同，其模样也会有所不同，<br>
									<span class="n-color-body2">提升术也是需要选择恰当的方法进行，这样才能期待更加令人满意的结果</span>。
                                </p>
								<div class="img-style3 type-body type-mt">
	                                <h5 class="heading-bar type-body">整体腹部提升</h5>
	                                <ul class="img-style3__list">
	                                    <li class="img-style3__item">
	                                        <div class="img-style3__img">
	                                            <img src="../../images/body/lifting/lifting_abdomen_1.jpg" alt="手术部位" class="img-w100">
	                                        </div>
	                                        <div class="img-style3__caption txt-new2">
	                                            <div class="img-style3__vertical">
	                                                手术部位
	                                            </div>
	                                        </div>
	                                    </li>
	                                    <li class="img-style3__item">
	                                        <div class="img-style3__img">
	                                            <img src="../../images/body/lifting/lifting_abdomen_2.jpg" alt="缝合线" class="img-w100">
	                                        </div>
	                                        <div class="img-style3__caption txt-new2">
	                                            <div class="img-style3__vertical">
	                                                缝合线
	                                            </div>
	                                        </div>
	                                    </li>
	                                </ul>
									<p class="img-style3__txt txt-new1">
                                        切除肚脐上方至下腹部的皮肤，是改善腹部下垂的一般治疗方法。
                                        这种方法适合比正常体重略重20%的患者，必要时还可以改变肚脐的位置和模样。
                                        切口虽然比刨腹产切口更长一些，但切口的位置能被内衣或泳衣遮住，
                                        通过与佰诺佰琪皮肤科的协作，进行疤痕管理几乎看不到疤痕。
									</p>
	                            </div>
								<div class="img-style3 type-body type-mt">
	                                <h5 class="heading-bar type-body">部分腹部提升</h5>
	                                <ul class="img-style3__list">
	                                    <li class="img-style3__item">
	                                        <div class="img-style3__img">
	                                            <img src="../../images/body/lifting/lifting_abdomen_3.jpg" alt="手术部位" class="img-w100">
	                                        </div>
	                                        <div class="img-style3__caption txt-new2">
	                                            <div class="img-style3__vertical">
	                                                手术部位
	                                            </div>
	                                        </div>
	                                    </li>
	                                    <li class="img-style3__item">
	                                        <div class="img-style3__img">
	                                            <img src="../../images/body/lifting/lifting_abdomen_4.jpg" alt="缝合线" class="img-w100">
	                                        </div>
	                                        <div class="img-style3__caption txt-new2">
	                                            <div class="img-style3__vertical">
	                                                缝合线
	                                            </div>
	                                        </div>
	                                    </li>
	                                </ul>
									<p class="img-style3__txt txt-new1">
                                        特别适合于小腹下垂时的手术方法，切除肚脐下方的皮肤即可。不会影响肚脐的模样，根据情况可进行局部麻醉或睡眠麻醉，优点就是当天即可出院。
                                        切口与刨腹产手术相似，切口的位置能被内衣或泳衣遮住，通过与佰诺佰琪皮肤科的协作，进行疤痕管理几乎看不到疤痕
									</p>
	                            </div>
								<div class="img-style3 type-body type-mt">
	                                <h5 class="heading-bar type-body">反腹部提升</h5>
	                                <ul class="img-style3__list">
	                                    <li class="img-style3__item">
	                                        <div class="img-style3__img">
	                                            <img src="../../images/body/lifting/lifting_abdomen_5.jpg" alt="手术部位" class="img-w100">
	                                        </div>
	                                        <div class="img-style3__caption txt-new2">
	                                            <div class="img-style3__vertical">
	                                                手术部位
	                                            </div>
	                                        </div>
	                                    </li>
	                                    <li class="img-style3__item">
	                                        <div class="img-style3__img">
	                                            <img src="../../images/body/lifting/lifting_abdomen_6.jpg" alt="缝合线" class="img-w100">
	                                        </div>
	                                        <div class="img-style3__caption txt-new2">
	                                            <div class="img-style3__vertical">
	                                                缝合线
	                                            </div>
	                                        </div>
	                                    </li>
	                                </ul>
									<p class="img-style3__txt txt-new1">
                                        适合上腹部下垂的手术方法，是切除胸部下方皮肤，向上提拉腹部皮肤的方法。
                                        虽然是相对较少的类型，但根据情况可同时进行胸部整形，
                                        疤痕可自然遮掩于胸底褶皱处，通过与佰诺佰琪皮肤科的协诊进行疤痕管理，几乎看到疤痕。
									</p>
	                            </div>
								<div class="img-style3 type-body type-mt">
	                                <h5 class="heading-bar type-body">扩大腹部提升</h5>
	                                <ul class="img-style3__list">
	                                    <li class="img-style3__item">
	                                        <div class="img-style3__img">
	                                            <img src="../../images/body/lifting/lifting_abdomen_7.jpg" alt="手术部位" class="img-w100">
	                                        </div>
	                                        <div class="img-style3__caption txt-new2">
	                                            <div class="img-style3__vertical">
	                                                手术部位
	                                            </div>
	                                        </div>
	                                    </li>
	                                    <li class="img-style3__item">
	                                        <div class="img-style3__img">
	                                            <img src="../../images/body/lifting/lifting_abdomen_8.jpg" alt="缝合线" class="img-w100">
	                                        </div>
	                                        <div class="img-style3__caption txt-new2">
	                                            <div class="img-style3__vertical">
	                                                缝合线
	                                            </div>
	                                        </div>
	                                    </li>
	                                </ul>
									<p class="img-style3__txt txt-new1">
                                        包括腹部在内的肋部同时下垂时，可在一般的整个腹部提拉方法扩大切除范围，同时改善腹部和肋部下垂。
                                        与整个腹部提升术一样，手术时可改善肚脐的位置和形状，在更宽的部位进行吸脂术，提高手术完成度。
                                        比整个腹部提拉疤痕稍长，但通过与佰诺佰琪皮肤科的协诊进行疤痕管理，几乎看到疤痕。
									</p>
	                            </div>
								<div class="img-style3 type-body type-mt">
	                                <h5 class="heading-bar type-body">立体腹部提升</h5>
	                                <ul class="img-style3__list">
	                                    <li class="img-style3__item">
	                                        <div class="img-style3__img">
	                                            <img src="../../images/body/lifting/lifting_abdomen_9.jpg" alt="手术部位" class="img-w100">
	                                        </div>
	                                        <div class="img-style3__caption txt-new2">
	                                            <div class="img-style3__vertical">
	                                                手术部位
	                                            </div>
	                                        </div>
	                                    </li>
	                                    <li class="img-style3__item">
	                                        <div class="img-style3__img">
	                                            <img src="../../images/body/lifting/lifting_abdomen_10.jpg" alt="缝合线" class="img-w100">
	                                        </div>
	                                        <div class="img-style3__caption txt-new2">
	                                            <div class="img-style3__vertical">
	                                                缝合线
	                                            </div>
	                                        </div>
	                                    </li>
	                                </ul>
									<p class="img-style3__txt txt-new1">
                                        大量减重导致皮肤严重松弛时，未改善整体腹部线条，可沿腰部切除后缝合，改善皮肤下垂问题。
                                        因为能改善腹部整体包含肋下，臀部等整体下垂，所以效果是比较显著的。沿着腰围的疤痕通过与佰诺佰琪皮肤科的协诊进行疤痕管理，术后几乎看不到疤痕。
									</p>
	                            </div>
							</div>
						</div><!--//new-section__box-->
                    </div>
				</div>
				<div class="new-section">
					<div class="bg-style1 type-body">
						<div class="bg-style1__wrap">
							<div class="bg-style1__area">
								<div class="bg-style1__outer">
									<div class="bg-style1__box">
										<p class="bg-style1__txt txt-new2">
											需要切开皮肤身体提升的情况，患者们最大的苦恼<br class="hidden-tm">就是术后的疤痕问题
										</p>
										<h4 class="bg-style1__tit tit-new4">
											通过与佰诺佰琪皮肤科的协作进行<span class="n-color-body3">疤痕治疗项目，<br class="hidden-tm">对术后疤痕进行更加细致的管理</span>
										</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="new-section">
					<div class="new-section__wrap type-w">
						<div class="operation-v2 type-body">
							<div class="operation-v2__wrap">
								<h4 class="operation-v2__tit">手术详情</h4>
								<ul class="operation-v2__list">
									<li class="operation-v2__item nth-1 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">手术时间</h5>
											<p class="operation-v2__txt txt-new1">约2小时~3小时</p>
										</div>
									</li>
									<li class="operation-v2__item nth-2 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">麻醉方法</h5>
											<p class="operation-v2__txt txt-new1">全身麻醉/睡眠麻醉</p>
										</div>
									</li>
									<li class="operation-v2__item nth-3 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">拆线</h5>
											<p class="operation-v2__txt txt-new1">约10~14天后拆线</p>
										</div>
									</li>
									<li class="operation-v2__item nth-4 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">住院时间</h5>
											<p class="operation-v2__txt txt-new1">约1天</p>
										</div>
									</li>
									<li class="operation-v2__item nth-5 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">来院治疗</h5>
											<p class="operation-v2__txt txt-new1">
												约5次
											</p>
										</div>
									</li>
									<li class="operation-v2__item nth-6 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">恢复</h5>
											<p class="operation-v2__txt txt-new1">约7~14天后恢复日常生活</p>
										</div>
									</li>

								</ul>
								<div class="pain-v2 type-body">
									<h5 class="pain-v2__tit txt-new2">术后体感疼痛</h5>
									<ol class="pain-v2__list">
										<% for(var i = 1; i<= 10; i++){%>
											<%if(i <= 3){%>
												<li class="<%="pain-v2__item is-active nth-"+i%>">
													<div class="pain-v2__square">square</div>
												</li>
											<%}else{%>
												<li class="<%="pain-v2__item nth-"+i%>">
													<div class="pain-v2__wrap">
														<div class="pain-v2__square">square</div>
													</div>
												</li>
											<%}%>
										<%}%>
									</ol>
									<p class="pain-v2__txt txt-new1">
										术后可能会有刺痛的感觉，随着时间的推移会逐渐缓解<br>
										手术部位可能会相比平常有拉伸的感觉<br>
										进行吸脂的部位可能会感到轻微疼痛和发热的感觉。
									</p>
									<div class="pain-v2__box">
										<p class="pain-v2__noti txt-new4">* 通过对术后患者进行问卷调查得出的平均值</p>
										<p class="pain-v2__noti txt-new4">* 从数据不存在绝对性，会存在个人差异，仅供大家作为参考。</p>
									</div>
								</div><!-- //pain -->
							</div>
						</div>
					</div>
	            </div>

			</div><!-- //new-tab-content-->

			<div class="new-tab-content page-thigh">
				<div class="new-section">
					<div class="new-style1 type-overlab">
						<h4 class="new-style1__tit tit-new3">
							考虑大腿上堆积脂肪的<strong class="weight-bold">模样</strong><br>
							和整体<strong class="weight-bold">腿部的比例</strong>
						</h4>
						<p class="new-style1__txt txt-new1">
                            大腿是脂肪集中堆积的身体部位，在急速的体重减少后皮肤弹性也会随之下降，呈现出凹凸不平的形态
						</p>
						<p class="new-style1__txt2 txt-new2">
							佰诺佰琪通过仔细计算减少的脂肪量和腿部比例的大腿提升术<span class="n-color-body2">增加皮肤的弹性，努力改善出细滑笔直的腿部线条</span>
						</p>
						<div class="new-style1__img">
							<img src="../../images/body/lifting/lifting_img_5.jpg" alt="" class="img-normal"/>
						</div>
						<div class="new-style1__area">
							<h5 class="heading-bar type-body">佰诺佰琪大腿提升</h5>
						</div>
						<div class="inner-box type-list">
							<div class="new-description type-lifting type-pd0">
								<ul class="new-description__list">
									<li class="new-description__item">
										<p class="new-description__txt txt-new1">
											<span class="new-description__plus">+</span>
											以多年间吸脂经验为基础，对身体形态高度的理解力
										</p>
									</li>
									<li class="new-description__item">
										<p class="new-description__txt txt-new1">
											<span class="new-description__plus">+</span>
											使用适合大腿的激光设备
										</p>
									</li>
									<li class="new-description__item">
										<p class="new-description__txt txt-new1">
											<span class="new-description__plus">+</span>
											更加精确，更加安全的皮肤脂肪切除术
										</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
                    <div class="new-section__wrap type-gray2">
                        <div class="new-section__box">
                            <div class="new-style2">
                                <h4 class="new-style2__tit tit-new3">
                                    下垂程度不是非常严重的话通过吸脂和激光提升<br class="hidden-tm">
									能够<strong class="weight-bold">相对简单的进行改善</strong>
                                </h4>
                                <p class="new-style2__txt txt-new1">
                                    大腿下垂严重时，通过吸脂术减少大腿上多余的脂肪，采用
									<span class="pop-info type-body">
										<a href="" class="info-btn js-info">
											<span class="info-btn__icon">info</span>
											AccuSculpt激光
											<span class="info-desc">
												<span class="info-desc__item">
													<span class="info-desc__box">
														<span class="info-desc__tit"><span class="info-desc__icon">icon</span>AccuSculpt激光？</span>
														<span class="info-desc__content">
															<img src="../../images/body/lifting/lifting_info_3.jpg" alt="AccuSculpt激光" class="info-desc__thumb">
															<span class="info-desc__txt1">
                                                                AccuSculpt激光是在去除脂肪的同时，还能增加皮肤弹性的激光设备。
                                                                特别是双下巴，颊脂垫等可用于改善面部皱纹的精密调节设备，
                                                                故而可更有效进行与大腿等打造微细线条的手术
															 </span>
														</span>
													</span>
													<button class="info-desc__btn js-close">
														<span class="info-desc__stick type-left">태블릿 닫기</span>
														<span class="info-desc__stick type-another">태블릿 닫기</span>
														关闭
													</button>
												</span>
											</span>
										</a>
									</span>
									和
									<span class="pop-info type-body">
 										<a href="" class="info-btn js-info">
 											<span class="info-btn__icon">info</span>
 											BODY TITE激光
 											<span class="info-desc">
 												<span class="info-desc__item">
 													<span class="info-desc__box">
 														<span class="info-desc__tit"><span class="info-desc__icon">icon</span>BODY TITE激光？</span>
 														<span class="info-desc__content">
 															<img src="../../images/body/lifting/lifting_info_2.jpg" alt="BODY TITE激光" class="info-desc__thumb">
 															<span class="info-desc__txt1">
                                                                身体紧致更加有效的吸脂术，是可期待血管凝固，脂肪融化，
                                                                皮肤紧致效果的激光设备。通过内部和外部电极传递高频，
                                                                可更有效地调节皮肤下垂，对于出血，淤青，
                                                                浮肿等手术负担较小的优点。
 															</span>
 														</span>
 													</span>
 													<button class="info-desc__btn js-close">
 														<span class="info-desc__stick type-left">태블릿 닫기</span>
 														<span class="info-desc__stick type-another">태블릿 닫기</span>
 														关闭
 													</button>
 												</span>
 											</span>
 										</a>
 									</span>
                                    等吸脂及增加皮肤弹性效果的装备，可改善大腿下垂的问题。特别是AccuSculpt激光是可用于面部皱纹管理的精密手术设备，大腿比例和线条适合自然的进行改善。
                                </p>
                                <p class="new-style2__txt2 txt-new2">
                                    另外，这种方法治疗过程本身比较简单，<span class="n-color-body2">对手术或疤痕的负担较小，恢复相对也比较快。</span>
                                </p>
                            </div>

							<div class="img-style3 type-mt">
                                <h5 class="heading-bar type-body">吸脂术+激光提升</h5>
                                <ul class="img-style3__list">
                                    <li class="img-style3__item">
                                        <div class="img-style3__img">
                                            <img src="../../images/body/lifting/lifting_img_3.jpg" alt="吸脂术+激光提升" class="img-w100">
                                        </div>
                                    </li>
                                    <li class="img-style3__item">
                                        <div class="img-style3__img">
                                            <img src="../../images/body/lifting/lifting_img_6.jpg" alt="吸脂术+激光提升" class="img-w100">
                                        </div>
                                    </li>
                                </ul>
                            </div>
							<div class="inner-circle type-body">
								<ul class="inner-circle__list">
									<li class="inner-circle__item txt-new1">
										<div class="vertical-box">
											更加缜密的<br>
											吸脂
										</div>
									</li>
									<li class="inner-circle__item txt-new1">
										<div class="vertical-box">
											恢复皮肤<br>
											弹力
										</div>
									</li>
									<li class="inner-circle__item txt-new1">
										<div class="vertical-box">
											相对简单<br>
											快速的恢复
										</div>
									</li>
									<li class="inner-circle__item txt-new1">
										<div class="vertical-box">
											疤痕负担<br>
											相对减少
										</div>
									</li>
								</ul>
							</div>

                        </div><!--//new-section__box-->
						<div class="new-section__box">
                            <div class="new-style2">
                                <h4 class="new-style2__tit tit-new3">
                                    手术性的提升术<br>
									<strong class="weight-bold">针对大腿内侧下垂的改善十分重要</strong>
                                </h4>
                                <p class="new-style2__txt txt-new1">
                                    大腿整体上前部肌肉较密集，从大腿内侧到后侧形成脂肪。另外，如果体重急剧下降，失去弹力的皮肤会随着重力的不同向大腿内侧或后侧开始下垂
								</p>
								<p class="new-style2__txt2 txt-new2">
                                    因此，为了更有效的提升大腿，<br>
									<span class="n-color-body2">必须要考虑到大腿前部的比例，重点改善大腿内侧</span>
                                </p>
								<div class="img-style4 type-body">
	                                <h5 class="heading-bar type-body">部分大腿提升</h5>
									<div class="img-style4__wrap">
										<div class="img-style4__img">
											<img src="../../images/body/lifting/lifting_img_7.jpg" alt="部分大腿提升" class="img-w100">
										</div>
										<div class="img-style4__box">
											<div class="img-style4__outer">
												<div class="img-style4__inner">
													<p class="img-style4__txt txt-new1">
                                                        利用针对大腿内侧下垂有效的方法，防止大腿变得凹凸不平，通过细致的设计将内侧下垂的皮肤和皮下脂肪以半月形的方式进行切除。<br><br>

                                                        切开位置为股沟褶皱处，可以被内衣或泳衣遮挡住的位置，通过与佰诺佰琪皮肤科的协诊进行疤痕管理，几乎看不见疤痕。
													</p>
												</div>
											</div>
										</div>
									</div>
	                            </div>
								<div class="img-style4 type-body">
	                                <h5 class="heading-bar type-body">整体大腿提升</h5>
									<div class="img-style4__wrap">
										<div class="img-style4__img">
											<img src="../../images/body/lifting/lifting_img_8.jpg" alt="整体大腿提升" class="img-w100">
										</div>
										<div class="img-style4__box">
											<div class="img-style4__outer">
												<div class="img-style4__inner">
													<p class="img-style4__txt txt-new1">
                                                        大量的减重时，从大腿到膝盖可能会发生整体性的下垂问题。像这样下垂相对比较严重的情况，通过大腿后侧整体性的切除，可拉伸大腿整体赘肉，使腿部线条更加纤细。<br><br>

                                                        虽然确实是需要通过较长的切口，但通过大腿内侧切开并不显眼，通过与佰诺佰琪皮肤科的协诊进行疤痕管理，几乎看不到疤痕。
													</p>
												</div>
											</div>
										</div>
									</div>
	                            </div>
							</div>
						</div><!--//new-section__box-->
                    </div>
				</div>
				<div class="new-section">
					<div class="bg-style1 type-body">
						<div class="bg-style1__wrap">
							<div class="bg-style1__area">
								<div class="bg-style1__outer">
									<div class="bg-style1__box">
										<p class="bg-style1__txt txt-new2">
											需要切开皮肤身体提升的情况，患者们最大的苦恼<br class="hidden-tm">就是术后的疤痕问题
										</p>
										<h4 class="bg-style1__tit tit-new4">
											通过与佰诺佰琪皮肤科的协作进行<span class="n-color-body3">疤痕治疗项目，<br class="hidden-tm">对术后疤痕进行更加细致的管理</span>
										</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="new-section">
					<div class="new-section__wrap type-w">
						<div class="operation-v2 type-body">
							<div class="operation-v2__wrap">
								<h4 class="operation-v2__tit">手术详情</h4>
								<ul class="operation-v2__list">
									<li class="operation-v2__item nth-1 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">手术时间</h5>
											<p class="operation-v2__txt txt-new1">约3小时</p>
										</div>
									</li>
									<li class="operation-v2__item nth-2 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">麻醉方法</h5>
											<p class="operation-v2__txt txt-new1">睡眠麻醉</p>
										</div>
									</li>
									<li class="operation-v2__item nth-3 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">拆线</h5>
											<p class="operation-v2__txt txt-new1">约10~14天后拆线</p>
										</div>
									</li>
									<li class="operation-v2__item nth-4 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">住院时间</h5>
											<p class="operation-v2__txt txt-new1">当天回家</p>
										</div>
									</li>
									<li class="operation-v2__item nth-5 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">来院治疗</h5>
											<p class="operation-v2__txt txt-new1">
												约7次
											</p>
										</div>
									</li>
									<li class="operation-v2__item nth-6 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">恢复</h5>
											<p class="operation-v2__txt txt-new1">约7~14天后恢复日常生活</p>
										</div>
									</li>

								</ul>
								<div class="pain-v2 type-body">
									<h5 class="pain-v2__tit txt-new2">术后体感疼痛</h5>
									<ol class="pain-v2__list">
										<% for(var i = 1; i<= 10; i++){%>
											<%if(i <= 3){%>
												<li class="<%="pain-v2__item is-active nth-"+i%>">
													<div class="pain-v2__square">square</div>
												</li>
											<%}else{%>
												<li class="<%="pain-v2__item nth-"+i%>">
													<div class="pain-v2__wrap">
														<div class="pain-v2__square">square</div>
													</div>
												</li>
											<%}%>
										<%}%>
									</ol>
									<p class="pain-v2__txt txt-new1">
										术后可能会有刺痛的感觉，随着时间的推移会逐渐缓解<br>
										手术部位可能会相比平常有拉伸的感觉<br>
										进行吸脂的部位可能会感到轻微疼痛和发热的感觉。
									</p>
									<div class="pain-v2__box">
										<p class="pain-v2__noti txt-new4">* 通过对术后患者进行问卷调查得出的平均值</p>
										<p class="pain-v2__noti txt-new4">* 从数据不存在绝对性，会存在个人差异，仅供大家作为参考。</p>
									</div>
								</div><!-- //pain -->
							</div>
						</div>
					</div>
	            </div>

			</div><!-- //new-tab-content-->

			<div class="new-tab-content page-arm">
				<div class="new-section">
					<div class="new-style1 type-overlab">
						<h4 class="new-style1__tit tit-new3">
							考虑到手臂的复杂构造<br class="hidden-tm">
							追求<strong class="weight-bold">自然的提升</strong>
						</h4>
						<p class="new-style1__txt txt-new1">
                            手臂比较容易裸露出来，是具有多种运动的部位。因此改善手臂下垂最重要的就是自然。
						</p>
						<p class="new-style1__txt2 txt-new2">
                            佰诺佰琪根据每个人的手臂下垂状态选择适当的手臂提升方法考虑到从肩线开始下垂的整体手臂的立体线条，因此<span class="n-color-body2">结果更加自然，满意</span>
						</p>
						<div class="new-style1__img">
							<img src="../../images/body/lifting/lifting_img_9.jpg" alt="" class="img-normal"/>
						</div>
						<div class="new-style1__area">
							<h5 class="heading-bar type-body">佰诺佰琪手臂提升</h5>
						</div>
						<div class="inner-box type-list">
							<div class="new-description type-lifting type-pd0">
								<ul class="new-description__list">
									<li class="new-description__item">
										<p class="new-description__txt txt-new1">
											<span class="new-description__plus">+</span>
											以多年间吸脂经验为基础，对身体形态高度的理解力
										</p>
									</li>
									<li class="new-description__item">
										<p class="new-description__txt txt-new1">
											<span class="new-description__plus">+</span>
											使用适合手臂的立体感的激光设备
										</p>
									</li>
									<li class="new-description__item">
										<p class="new-description__txt txt-new1">
											<span class="new-description__plus">+</span>
											更加精准，更加安全的皮肤脂肪切除术
										</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
                    <div class="new-section__wrap type-gray2">
                        <div class="new-section__box">
                            <div class="new-style2">
                                <h4 class="new-style2__tit tit-new3">
                                    下垂程度不是非常严重的话，通过吸脂和激光提升<br class="hidden-tm">
									能够<strong class="weight-bold">相对简单的进行改善</strong>
                                </h4>
                                <p class="new-style2__txt txt-new1">
                                    如果手臂下垂不是很严重的话，通过吸脂术可减少手臂不需要的脂肪，利用
									<span class="pop-info type-body">
										<a href="" class="info-btn js-info">
											<span class="info-btn__icon">info</span>
											AccuSculpt激光
											<span class="info-desc">
												<span class="info-desc__item">
													<span class="info-desc__box">
														<span class="info-desc__tit"><span class="info-desc__icon">icon</span>AccuSculpt激光？</span>
														<span class="info-desc__content">
															<img src="../../images/body/lifting/lifting_info_3.jpg" alt="AccuSculpt激光" class="info-desc__thumb">
															<span class="info-desc__txt1">
                                                                AccuSculpt激光是在去除脂肪的同时，还能增加皮肤弹性的激光设备。
                                                                特别是双下巴，颊脂垫等可用于改善面部皱纹的精密调节设备，
                                                                故而可更有效进行与大腿等打造微细线条的手术
															 </span>
														</span>
													</span>
													<button class="info-desc__btn js-close">
														<span class="info-desc__stick type-left">태블릿 닫기</span>
														<span class="info-desc__stick type-another">태블릿 닫기</span>
														关闭
													</button>
												</span>
											</span>
										</a>
									</span>
									 +
									 <span class="pop-info type-body">
 										<a href="" class="info-btn js-info">
 											<span class="info-btn__icon">info</span>
 											Body Titi激光
 											<span class="info-desc">
 												<span class="info-desc__item">
 													<span class="info-desc__box">
 														<span class="info-desc__tit"><span class="info-desc__icon">icon</span>BODY TITE激光</span>
 														<span class="info-desc__content">
 															<img src="../../images/body/lifting/lifting_info_2.jpg" alt="BODY TITE激光" class="info-desc__thumb">
 															<span class="info-desc__txt1">
                                                                身体紧致更加有效的吸脂术，是可期待血管凝固，脂肪融化，
                                                                皮肤紧致效果的激光设备。通过内部和外部电极传递高频，
                                                                可更有效地调节皮肤下垂，对于出血，淤青，
                                                                浮肿等手术负担较小的优点。
 															 </span>
 														</span>
 													</span>
 													<button class="info-desc__btn js-close">
 														<span class="info-desc__stick type-left">태블릿 닫기</span>
 														<span class="info-desc__stick type-another">태블릿 닫기</span>
 														关闭
 													</button>
 												</span>
 											</span>
 										</a>
 									</span>
                                    等吸脂及增加皮肤弹性效果的设备，改善手臂下垂的问题。特别是AccuSculpt激光是可用于面部皱纹管理的精密手术设备，适合自然地改善手臂比例及线条
                                </p>
                                <p class="new-style2__txt2 txt-new2">
                                    另外，这种手术方法治疗过程本身比较简单，<span class="n-color-body2">对手术或疤痕的负担较小，恢复相对也比较快</span>
                                </p>
                            </div>

							<div class="img-style3 type-mt">
                                <h5 class="heading-bar type-body">吸脂术+激光提升</h5>
                                <ul class="img-style3__list">
                                    <li class="img-style3__item">
                                        <div class="img-style3__img">
                                            <img src="../../images/body/lifting/lifting_img_3.jpg" alt="吸脂术+激光提升" class="img-w100">
                                        </div>
                                    </li>
                                    <li class="img-style3__item">
                                        <div class="img-style3__img">
                                            <img src="../../images/body/lifting/lifting_img_10.jpg" alt="吸脂术+激光提升" class="img-w100">
                                        </div>
                                    </li>
                                </ul>
                            </div>
							<div class="inner-circle type-body">
								<ul class="inner-circle__list">
									<li class="inner-circle__item txt-new1">
										<div class="vertical-box">
											更加缜密的<br>
											吸脂
										</div>
									</li>
									<li class="inner-circle__item txt-new1">
										<div class="vertical-box">
											恢复皮肤<br>
											弹力
										</div>
									</li>
									<li class="inner-circle__item txt-new1">
										<div class="vertical-box">
											相对简单<br>
											快速的恢复
										</div>
									</li>
									<li class="inner-circle__item txt-new1">
										<div class="vertical-box">
											疤痕负担<br>
											相对减少
										</div>
									</li>
								</ul>
							</div>

                        </div><!--//new-section__box-->
						<div class="new-section__box">
                            <div class="new-style2">
                                <h4 class="new-style2__tit tit-new3">
                                    下垂的手臂通过手术性的提升<br class="hidden-tm">
									从<strong class="weight-bold">内侧开始改善</strong>
                                </h4>
                                <p class="new-style2__txt txt-new1">
                                    大腿整体上前部肌肉较密集，从大腿内侧到后侧形成脂肪。另外，如果体重急剧下降，失去弹力的皮肤会随着重力的不同向大腿内侧或后侧开始下垂
								</p>
								<p class="new-style2__txt2 txt-new2">
                                    因此为了更有效的提升大腿，<br>
									<span class="n-color-body2">手臂整体的立体感，打造脂肪在减少的同时，重点改善手臂内侧的下垂</span>
                                </p>
								<div class="img-style4 type-body">
	                                <h5 class="heading-bar type-body">部分手臂提升</h5>
									<div class="img-style4__wrap">
										<div class="img-style4__img">
											<img src="../../images/body/lifting/lifting_img_11.jpg" alt="部分手臂提升" class="img-w100">
										</div>
										<div class="img-style4__box">
											<div class="img-style4__outer">
												<div class="img-style4__inner">
													<p class="img-style4__txt txt-new1">
                                                        限于皮肤下垂腋下的部位，可切除和缝合腋下内侧增加的皮肤和皮下脂肪来改善下垂。<br><br>

														切开位置能被腋下皱纹遮挡，通过与佰诺佰琪皮肤科的协诊进行疤痕管理，几乎看不到疤痕
													</p>
												</div>
											</div>
										</div>
									</div>
	                            </div>
								<div class="img-style4 type-body">
	                                <h5 class="heading-bar type-body">整体手臂提升</h5>
									<div class="img-style4__wrap">
										<div class="img-style4__img">
											<img src="../../images/body/lifting/lifting_img_12.jpg" alt="整体手臂提升" class="img-w100">
										</div>
										<div class="img-style4__box">
											<div class="img-style4__outer">
												<div class="img-style4__inner">
													<p class="img-style4__txt txt-new1">
                                                        可自由活动手臂，维持自然的同时，考虑疤痕最大限度的不被看到位置，切除并提升腋下至肘部下垂的皮肤。<br><br>

                                                        虽然确实是需要通过较长的切口，但通过手臂内侧切开并不显眼，通过与佰诺佰琪皮肤科的协诊进行疤痕管理，几乎看不到疤痕
													</p>
												</div>
											</div>
										</div>
									</div>
	                            </div>
							</div>
						</div><!--//new-section__box-->
                    </div>
				</div>
				<div class="new-section">
					<div class="bg-style1 type-body">
						<div class="bg-style1__wrap">
							<div class="bg-style1__area">
								<div class="bg-style1__outer">
									<div class="bg-style1__box">
										<p class="bg-style1__txt txt-new2">
											需要切开皮肤身体提升的情况，患者们最大的苦恼<br class="hidden-tm">就是术后的疤痕问题
										</p>
										<h4 class="bg-style1__tit tit-new4">
											通过与佰诺佰琪皮肤科的协作进行<span class="n-color-body3">疤痕治疗项目，<br class="hidden-tm">对术后疤痕进行更加细致的管理</span>
										</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="new-section">
					<div class="new-section__wrap type-w">
						<div class="operation-v2 type-body">
							<div class="operation-v2__wrap">
								<h4 class="operation-v2__tit">手术详情</h4>
								<ul class="operation-v2__list">
									<li class="operation-v2__item nth-1 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">手术时间</h5>
											<p class="operation-v2__txt txt-new1">约3小时</p>
										</div>
									</li>
									<li class="operation-v2__item nth-2 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">麻醉方法</h5>
											<p class="operation-v2__txt txt-new1">全身麻醉</p>
										</div>
									</li>
									<li class="operation-v2__item nth-3 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">拆线</h5>
											<p class="operation-v2__txt txt-new1">约10~14天后拆线</p>
										</div>
									</li>
									<li class="operation-v2__item nth-4 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">住院时间</h5>
											<p class="operation-v2__txt txt-new1">当天回家</p>
										</div>
									</li>
									<li class="operation-v2__item nth-5 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">来院治疗</h5>
											<p class="operation-v2__txt txt-new1">
												不需要
											</p>
										</div>
									</li>
									<li class="operation-v2__item nth-6 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">恢复</h5>
											<p class="operation-v2__txt txt-new1">约7~14天后恢复日常生活</p>
										</div>
									</li>

								</ul>
								<div class="pain-v2 type-body">
									<h5 class="pain-v2__tit txt-new2">术后体感疼痛</h5>
									<ol class="pain-v2__list">
										<% for(var i = 1; i<= 10; i++){%>
											<%if(i <= 3){%>
												<li class="<%="pain-v2__item is-active nth-"+i%>">
													<div class="pain-v2__square">square</div>
												</li>
											<%}else{%>
												<li class="<%="pain-v2__item nth-"+i%>">
													<div class="pain-v2__wrap">
														<div class="pain-v2__square">square</div>
													</div>
												</li>
											<%}%>
										<%}%>
									</ol>
									<p class="pain-v2__txt txt-new1">
										术后可能会有刺痛的感觉，随着时间的推移会逐渐缓解<br>
										手术部位可能会相比平常有拉伸的感觉<br>
										进行吸脂的部位可能会感到轻微疼痛和发热的感觉。
									</p>
									<div class="pain-v2__box">
										<p class="pain-v2__noti txt-new4">* 通过对术后患者进行问卷调查得出的平均值</p>
										<p class="pain-v2__noti txt-new4">* 从数据不存在绝对性，会存在个人差异，仅供大家作为参考。</p>
									</div>
								</div><!-- //pain -->
							</div>
						</div>
					</div>
	            </div>
			</div><!-- //new-tab-content-->

			<div class="new-tab-content page-back">
				<div class="new-section">
					<div class="new-style1 type-overlab">
						<h4 class="new-style1__tit tit-new3">
							考虑到<strong class="weight-bold">身体整体的平衡</strong><br class="hidden-tm">
							更加有效
						</h4>
						<p class="new-style1__txt txt-new1">
							因为背部是身体中最宽的部位，所以容易出现下垂的现象，特别是女性，因为穿着内衣而更容易凸现下垂的问题。为了有效改善背部下垂，以考虑身体整体的平衡进行执刀的理念，需要更加广阔的视野和感觉
						</p>
						<p class="new-style1__txt2 txt-new2">
							佰诺佰琪通过长期的身体整形经验和技巧，通过<span class="n-color-body2">使身体整体的均衡和线条更充足的背部提升术</span>，更加有效，满意。
						</p>
						<div class="new-style1__img">
							<img src="../../images/body/lifting/lifting_img_13.jpg" alt="" class="img-normal"/>
						</div>
						<div class="new-style1__area">
							<h5 class="heading-bar type-body">佰诺佰琪背部提升</h5>
						</div>
						<div class="inner-box type-list">
							<div class="new-description type-lifting type-pd0">
								<ul class="new-description__list">
									<li class="new-description__item">
										<p class="new-description__txt txt-new1">
											<span class="new-description__plus">+</span>
											以多年间吸脂经验为基础，对身体形态高度的理解力
										</p>
									</li>
									<li class="new-description__item">
										<p class="new-description__txt txt-new1">
											<span class="new-description__plus">+</span>
											集身体整形于一身的经验和感觉
										</p>
									</li>
									<li class="new-description__item">
										<p class="new-description__txt txt-new1">
											<span class="new-description__plus">+</span>
											更加精准，更加安全的皮肤脂肪切除术
										</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
                    <div class="new-section__wrap type-gray2">
                        <div class="new-section__box">
							<div class="img-style3 type-body type-narrow type-cling">
                                <ul class="img-style3__list">
                                    <li class="img-style3__item">
                                        <div class="img-style3__img">
                                            <img src="../../images/body/lifting/lifting_before_1.jpg" alt="术前" class="img-w100">
                                        </div>
                                        <div class="img-style3__caption txt-new2 type-gray">
                                            <div class="img-style3__vertical">
                                                术前
                                            </div>
                                        </div>
                                    </li>
                                    <li class="img-style3__item">
                                        <div class="img-style3__img">
                                            <img src="../../images/body/lifting/lifting_after_1.jpg" alt="术后6个月" class="img-w100">
                                        </div>
                                        <div class="img-style3__caption txt-new2">
                                            <div class="img-style3__vertical">
                                                术后6个月
                                            </div>
                                        </div>
                                    </li>
                                </ul>
								<p class="img-style3__txt txt-new1">
                                    通过掌握背部下垂程度和皮肤弹性状态等，切除增加的皮肤，可改善从内衣线条到腋下，肋下，臀部上方的整体下垂。切开位置可能会被文胸遮挡，通过与佰诺佰琪皮肤科的协诊进行疤痕管理，几乎看不到疤痕。
								</p>
                            </div>
                        </div><!--//new-section__box-->
                    </div>
				</div>
				<div class="new-section">
					<div class="bg-style1 type-body">
						<div class="bg-style1__wrap">
							<div class="bg-style1__area">
								<div class="bg-style1__outer">
									<div class="bg-style1__box">
										<p class="bg-style1__txt txt-new2">
											需要切开皮肤身体提升的情况，患者们最大的苦恼<br class="hidden-tm">就是术后的疤痕问题
										</p>
										<h4 class="bg-style1__tit tit-new4">
											通过与佰诺佰琪皮肤科的协作进行<span class="n-color-body3">疤痕治疗项目，<br class="hidden-tm">对术后疤痕进行更加细致的管理</span>
										</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="new-section">
					<div class="new-section__wrap type-w">
						<div class="operation-v2 type-body">
							<div class="operation-v2__wrap">
								<h4 class="operation-v2__tit">手术详情</h4>
								<ul class="operation-v2__list">
									<li class="operation-v2__item nth-1 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">手术时间</h5>
											<p class="operation-v2__txt txt-new1">约2小时~3小时</p>
										</div>
									</li>
									<li class="operation-v2__item nth-2 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">麻醉方法</h5>
											<p class="operation-v2__txt txt-new1">全身麻醉</p>
										</div>
									</li>
									<li class="operation-v2__item nth-3 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">拆线</h5>
											<p class="operation-v2__txt txt-new1">约10~14天后拆线</p>
										</div>
									</li>
									<li class="operation-v2__item nth-4 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">住院时间</h5>
											<p class="operation-v2__txt txt-new1">当天回家</p>
										</div>
									</li>
									<li class="operation-v2__item nth-5 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">来院治疗</h5>
											<p class="operation-v2__txt txt-new1">
												不需要
											</p>
										</div>
									</li>
									<li class="operation-v2__item nth-6 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">恢复</h5>
											<p class="operation-v2__txt txt-new1">约7~14天后恢复日常生活</p>
										</div>
									</li>

								</ul>
								<div class="pain-v2 type-body">
									<h5 class="pain-v2__tit txt-new2">术后体感疼痛</h5>
									<ol class="pain-v2__list">
										<% for(var i = 1; i<= 10; i++){%>
											<%if(i <= 3){%>
												<li class="<%="pain-v2__item is-active nth-"+i%>">
													<div class="pain-v2__square">square</div>
												</li>
											<%}else{%>
												<li class="<%="pain-v2__item nth-"+i%>">
													<div class="pain-v2__wrap">
														<div class="pain-v2__square">square</div>
													</div>
												</li>
											<%}%>
										<%}%>
									</ol>
									<p class="pain-v2__txt txt-new1">
										术后可能会有刺痛的感觉，随着时间的推移会逐渐缓解<br>
										手术部位可能会相比平常有拉伸的感觉<br>
										进行吸脂的部位可能会感到轻微疼痛和发热的感觉。
									</p>
									<div class="pain-v2__box">
										<p class="pain-v2__noti txt-new4">* 通过对术后患者进行问卷调查得出的平均值</p>
										<p class="pain-v2__noti txt-new4">* 从数据不存在绝对性，会存在个人差异，仅供大家作为参考。</p>
									</div>
								</div><!-- //pain -->
							</div>
						</div>
					</div>
	            </div>
			</div><!-- //new-tab-content-->
        </div><!-- //new-content-wrap-->
    </div><!-- //content-->


</div> <!-- //container -->

<% include ../_include/_footer %>
