<%
	type = "content"
	page = "body"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
	<!-- visual -->
	<div class="content-visual type-dual">
		<div class="content-visual__box">
			<div class="content-visual__border">
				<p class="content-visual__txt1">一举两得的体型改善</p>
	    		<h3 class="content-visual__tit"><span class="dual-color1">#</span> 双重纤体</h3>
				<p class="content-visual__txt2">匀称苗条的上身线条</p>
			</div>
		</div>
	</div>
	<!-- //visual -->

	<!-- Content -->
	<div class="content">
		<div class="content-wrap">
	        <div class="content-section type-first">
	          	<div class="dual-box1">
	            	<div class="dual-box1__box">
	              		<h4 class="content-section__tit type-left">
							<span class="content-section__number ">
								<span class="content-section__number-wrap">
									01
								</span>
							</span>
	                		<strong class="content-highlight2 type-dual">上身肥胖</strong><br>
	                		伴随<strong>乳房肥大症</strong><br>
	                		的情况 <strong>比较多</strong>
	              		</h4>
	              		<p class="content-section__txt1">
	                		一说到上身肥胖，就会想到腹部和腰部肥胖。<br>
							但是腹部和两腰形成脂肪的话，胸部也会自然而然
							地出现肥大症。肥胖越是发展严重，乳房肥大症也
							随之加重，可能还会伴有乳房下方的皮肤湿疹或
							脊椎异常等多种健康问题。
	              		</p>
	              		<p class="content-section__txt2">
	                		因此，上身肥胖 <span class="dual-color1">应兼顾乳房肥大症的改善</span>，
	                		<span class="content-highlight type-dual">追求整体性的协调，最大程度的打造出苗条身材这样才是最好的。</span>
	              		</p>
	              		<div class="dual-box1__img">

	              		</div>
	            	</div>
	          	</div>
	        </div>
	        <div class="content-section">
	          	<div class="dual-box2 box-style">
	            	<h4 class="content-section__tit dual-box2__tit">
	              		<strong class="dual-color2">双重纤体</strong>，在佰诺佰琪<br class="hidden-pm">有效打造
	            	</h4>
					<p class="content-section__txt1 dual-box2__txt">
						拥有身体整形和胸部整形，以及对这两个领域具有的专业性正是佰诺佰琪的手术优势.
						从最初商谈过程开始，不但是针对乳房，而是<strong class="inline-block">能根据整体体型比例进行设计，</strong><br class="hidden-p">
	              		从而打造出更加舒适，美丽的乳房及纤瘦曲线的均衡身材.
	            	</p>
	            	<h5 class="dual-box2__subject">
	              		上身吸脂+胸部缩小术， 双重纤体
	            	</h5>
	            	<ul class="dual-box2__list">
	              		<li class="dual-box2__item">
	                		<div class="dual-box2__img">
	                  			<img src="../../images/body/dual/body_dual_img04.jpg" alt="单纯吸脂">
	                  			<p class="dual-box2__caption">单纯吸脂</p>
	                		</div>
	              		</li>
	              		<li class="dual-box2__item">
	                		<div class="dual-box2__img">
	                  			<img src="../../images/body/dual/body_dual_img05.jpg" alt="双重纤体">
	                  			<p class="dual-box2__caption">双重纤体</p>
	                		</div>
	              		</li>
	            	</ul>
	          	</div>
	          	<div class="dual-box3 box-style">
	            	<h4 class="content-section__tit dual-box3__tit">
	              		<span class="dual-box3__subtit">佰诺佰琪不同于其他的细节</span><br>
	              		更加专注于<strong class="dual-color2">身体整形</strong>的专业医生
	            	</h4>
	            	<div class="dual-box3__doctor-img">
	              		<img src="../../images/body/dual/body_dual_doctor_m.png" alt="整形外科专家韩奎南院长，整形外科专家潘在常院长，整形外科专家盧溶骏院长">
	            	</div>
	            	<div class="dual-box3__doctor">
	              		<div class="dual-box3__name nth-1">
	                		整形外科专家
	                		<strong>韩奎南院长</strong>
	              		</div>
	              		<div class="dual-box3__name nth-2">
	                		整形外科专家
	                		<strong>潘在常院长</strong>
	              		</div>
	              		<div class="dual-box3__name nth-3">
	                		整形外科专家
	                		<strong>盧溶骏院长</strong>
	              		</div>
	            	</div>
	            	<div class="dual-box3__area">
	              		<ul class="dual-box3__list">
	                		<li class="dual-box3__item nth-1">
	                  			<div class="dual-box3__wrap">
	                  				<div class="dual-box3__img">
	                  	  				<div class="dual-box3__caption">
	                  	    				<div class="dual-box3__vertical">
	                  	      					身体整形+胸部整形，<br>
	                  	      					两个领域的专业性
	                  	    				</div>
	                  	  				</div>
	                  				</div>
	                  			</div>
	                		</li>
	                		<li class="dual-box3__item nth-2">
	                  			<div class="dual-box3__wrap">
	                  				<div class="dual-box3__img">
	                  	  				<div class="dual-box3__caption">
	                  	    				<div class="dual-box3__vertical">
	                  	      					不止针对腹部，还考虑到胸部在内的<br>
	                  	      					上身整体性的比例均衡
	                  	    				</div>
	                  	  				</div>
	                  				</div>
	                  			</div>
	                		</li>
	                		<li class="dual-box3__item nth-3">
	                  			<div class="dual-box3__wrap">
	                  				<div class="dual-box3__img">
	                  	  				<div class="dual-box3__caption">
	                  	    				<div class="dual-box3__vertical">
	                  	      					身体整形+胸部整形，<br>
	                  	      					对两个领域的专业性
	                  	    				</div>
	                  	  				</div>
	                  				</div>
	                  			</div>
	                		</li>
	              		</ul>
	            	</div>
	          	</div>
	        </div>
	        <div class="content-section">
	          	<div class="dual-box4 box-style">
	            	<h4 class="content-section__tit type-center">
						<span class="content-section__number ">
							<span class="content-section__number-wrap">
								02
							</span>
						</span>
	              		可以选择<strong>追求结果</strong><br>
	              		更加满意的<strong class="content-highlight2 type-dual">胸部缩小术</strong>
	            	</h4>
	            	<p class="content-section__txt1">胸部缩小术大致分为4种手术方法。当然每个手术方法都有优缺点.</p>
	            	<p class="content-section__txt2">因此，手术前通过充分的咨询，找到 <span class="dual-color1">适合自己的</span>手术方法后再做决定是很重要的。</p>
	            	<div class="item-box3 type-dual">
	              		<ul class="item-box3__list">
	                		<li class="item-box3__item nth-1">
	                  			<div class="item-box3__box">
	                    			<div class="item-box3__wrap">
	                      				<h5 class="item-box3__tit tit-v2">乳晕周围切开胸部缩小术</h5>
	                      				<p class="item-box3__txt txt-v1">
					                        切开乳晕周围后，采用减少胸部内组织的方法，如不是胸部过大的情况，可采用此方法进行. 因为仅切开乳头周围，所以疤痕体积小，几乎不会露出痕迹，拥有几乎不会妨胸部房功能的优点.
	                      				</p>
	                   	 			</div>
	                  			</div>
	                		</li>
	                		<li class="item-box3__item nth-2">
	                  			<div class="item-box3__box">
	                    			<div class="item-box3__wrap">
	                      				<h5 class="item-box3__tit tit-v2">垂直切开胸部缩小术</h5>
	                      				<p class="item-box3__txt txt-v1">
											在乳晕下方切开4-5cm左右，减少乳房内组织的方法。结合“오”字形切开和乳晕
											周围切开的优缺点，较大的胸部也能进行手术，与单纯的“오”字形切开法相比，
											是相对减少疤痕担忧的方法。优点是手术时间较短，恢复较快，易于确定胸部的形态，但此方法也存在可能会产生轻微疤痕的缺点。
	                      				</p>
	                    			</div>
	                  			</div>
	                		</li>
	                		<li class="item-box3__item nth-3">
	                  			<div class="item-box3__box">
	                    			<div class="item-box3__wrap">
	                      				<h5 class="item-box3__tit tit-v2">“오”字形切开的胸部缩小术</h5>
	                      				<p class="item-box3__txt txt-v1">
											胸部缩小术最具代表性的方法，如果是拥有较大胸部或是胸部下垂严重等几乎
											所有的情况都可以使用的手术方法。手术结果易于预测，拥有维持乳头感觉
											和可以位置移动的功能性的优点，相反胸部底部和乳头下方可能会出现手术痕迹，
											因此对疤痕感排斥非常严重的时候，需要考虑采用其他的方法。
	                      				</p>
	                    			</div>
	                  			</div>
	                		</li>
	                		<li class="item-box3__item nth-4">
	                  			<div class="item-box3__box">
	                    			<div class="item-box3__wrap">
	                      				<h5 class="item-box3__tit tit-v2">吸脂胸部缩小术</h5>
	                      				<p class="item-box3__txt txt-v1">
											通过吸脂来缩小胸部大小的方法. 因全身肥胖引起乳房肥大症的情况，
											因为胸部脂肪组织的比例较高，使用此方法能够达到卓越的效果。
											另外，手术时间较短，几乎没有疤痕负担，因此适合担心留下疤痕的患者
											采用的方法。但是胸部大的比较严重，皮肤增加的时候，
											此方法手术后胸部可能会出现下垂的情况。
	                      				</p>
	                    			</div>
	                  			</div>
	                		</li>
	              		</ul>
	            	</div><!-- //item-box3-->
	          	</div>
	        </div>
	        <div class="content-section">
	          	<div class="dual-box5 box-style">
	            	<h4 class="content-section__tit type-center">
						<span class="content-section__number ">
							<span class="content-section__number-wrap">
								03
							</span>
						</span>
	              		即使<strong>同样是腹部肥胖，</strong>也会因为 <strong class="content-highlight2 type-dual">个人体型特征</strong>的不同<br class="hidden-m">
	              		拥有不同的状态
	            	</h4><br>
	            	<h5 class="dual-box5__subject">
	              		<span class="dual-color1">双重纤体</span> 重点部位
	            	</h5>
	            	<div class="item-box3 type-dual">
	              		<ul class="item-box3__list">
	                		<li class="item-box3__item nth-5">
	                  			<div class="item-box3__box">
	                    			<div class="item-box3__wrap">
	                      				<h6 class="item-box3__tit tit-v2">小肚子</h6>
	                      				<p class="item-box3__txt txt-v1">
											典型的腹部肥胖形态。以吸掉大量脂肪为目标，需进行
											仔细计算肉下垂的手术。
	                      				</p>
	                    			</div>
	                  			</div>
	                		</li>
	                		<li class="item-box3__item nth-6">
	                  			<div class="item-box3__box">
	                    			<div class="item-box3__wrap">
	                      				<h6 class="item-box3__tit tit-v2">侧腰</h6>
	                      				<p class="item-box3__txt txt-v1">
											从正面看是破坏苗条感的部位，像女生的情况，强调女性柔美曲线的设计是非常重要的。
	                      				</p>
	                    			</div>
	                  			</div>
	                		</li>
	                		<li class="item-box3__item nth-7">
	                  			<div class="item-box3__box">
	                    			<div class="item-box3__wrap">
	                      				<h6 class="item-box3__tit tit-v2">腰部</h6>
	                      				<p class="item-box3__txt txt-v1">
											长时间积累脂肪的部位，一旦形成脂肪就不容易减掉，故而需要和侧腰部一起整形吸脂
	                      				</p>
	                    			</div>
	                  			</div>
	                		</li>
	              		</ul>
	            	</div><!-- //item-box3-->
	          	</div>
	        </div>
	        <div class="content-section">
	          	<div class="dual-box6 pop-info box-style">
	            	<div class="dual-box6__wrap">
	              		<div class="dual-box6__box">
	                		<h4 class="content-section__tit type-left">
								<span class="content-section__number ">
									<span class="content-section__number-wrap">
										04
									</span>
								</span>
								通过<strong>积极的管理</strong><br class="hidden-tm">
	                  			提高<strong class="content-highlight2 type-black">满意度</strong>
	                		</h4>
	                		<p class="content-section__txt1">
								双重纤体和一般身体整形一样，需要恢复后进行管理.
	                  			<a href="" class="info-btn js-info">
	                    			<span class="info-btn__icon">info</span>
	                    			通过bio-Photon
	                    			<span class="info-desc">
										<span class="info-desc__item">
											<span class="info-desc__box">
												<span class="info-desc__tit"><span class="info-desc__icon"></span><strong>Bio-Photon</strong>是什么?<br class="hidden-tm"></span>
												<span class="info-desc__content">
													<img src="../../images/body/dual/body_dual_info-img.jpg" alt="Bio-Photon" class="info-desc__thumb">
													<span class="info-desc__txt1">
														用结合白金和砖石纳米粒子制成的用于恢复
														管理的光能机器。PDP能散出波长为4~14微米的光线，
														提高身体的温度增强身体免疫力有助于体内毒素
														和老化物排除。同时，还有助于改善血液循环，
														温和的分解体脂肪。
											 		</span>
												</span>
											</span>
											<button class="info-desc__btn js-close">
												<span class="info-desc__stick type-left"></span>
												<span class="info-desc__stick type-another"></span>
												关闭
											</button>
										</span>
									</span>
	                  			</a>
								和按摩项目等
								积极，系统化的管理，
								帮助快速恢复
								塑造美丽的
								胸部形态.
	                		</p>
	                		<div class="quotation2">
	                  			<p class="quotation2__txt txt-v5">
									另外，通过 <span class="dual-color3">与佰诺佰琪皮肤科的协作诊疗</span><br class="hidden-tm">
									为您提供更加细致的术后疤痕管理
								</p>
	                		</div>
	              		</div>
	            	</div>
	           	 	<div class="dual-box6__img">
						<div class="after-style type-chest type-dual">
							<ul class="after-style__list">
								<li class="after-style__item nth-1">
									<div class="after-style__txt txt-new2">术后1个月</div>
								</li>
								<li class="after-style__item nth-2">
									<div class="after-style__txt txt-new2">术后6个月</div>
								</li>
								<li class="after-style__item nth-3">
									<div class="after-style__txt txt-new2">术后12个月</div>
								</li>
							</ul>
						</div>
	            	</div>
	          	</div>
	        </div>
			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-body">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">手术详情</h4>
							<!-- <p class="operation-v2__subtit">佰诺佰琪双重纤体快速恢复</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">手术时间</h5>
										<p class="operation-v2__txt txt-new1">约3小时</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">麻醉方法</h5>
										<p class="operation-v2__txt txt-new1">全身麻醉</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">拆线</h5>
										<p class="operation-v2__txt txt-new1">约8~15天依次拆线</p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">住院时间</h5>
										<p class="operation-v2__txt txt-new1">约1天</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">来院治疗</h5>
										<p class="operation-v2__txt txt-new1">约4~5次</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">恢复</h5>
										<p class="operation-v2__txt txt-new1">约5~7天后恢复日常生活</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-body">
								<h5 class="pain-v2__tit txt-new2">术后体感疼痛</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 4){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">square</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">square</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									手术后可能会有刺痛的感觉，随着时间的推移会逐渐得到缓解。<br>
									手臂剧烈运动时可能会产生痛感。<br>
									手术部位如有接触，则可能会伴随疼痛产生疤痕，请一定要小心。<br>
									进行吸脂的部位可能会感受到轻微疼痛。
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* 通过对术后患者进行问卷调查得出的平均值</p>
									<p class="pain-v2__noti txt-new4">* 从数据不存在绝对性，会存在个人差异，仅供大家作为参考。</p>
								</div>
							</div><!-- //pain -->
						</div>
					</div>
				</div>
            </div>
	    </div><!--//content-wrap-->
	</div>
	<!-- //Content -->
	<% include ../_include/_bfaf %>
</div> <!-- //container -->

<% include ../_include/_footer %>
