<%
	type = "content"
	page = "body"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>

	<!-- visual -->
	<div class="content-visual type-site">
		<div class="content-visual__box">
			<div class="content-visual__border">
				<p class="content-visual__txt1">有选择性的针对需要的部位进行攻克</p>
				<h3 class="content-visual__tit">#各部位的吸脂</h3>
				<p class="content-visual__txt2">自己身体的每一处都有自信地</p>
			</div>
		</div>
	</div>
	<!-- //visual -->

	<!-- Content -->
	<div class="content type-body-fat">
		<div class="content-wrap">
	      	<div class="content-section type-first">
	        	<div class="site-box1">
	          		<h4 class="site-box1__txt1">
						佰诺佰琪凭借对于身体各部位专业性的理解与长时间的吸脂经验，<strong class="color-body2">克服身体上的自卑感</strong>和<strong class="color-body2">保持身体平衡</strong>，进行各部位别的吸脂。
	          		</h4>
	          		<p class="site-box1__txt2">
						针对全身肥胖解决的好办法是进行全身吸脂。
						但是相比较对于因全身脂肪而产生的烦恼，因为身体特征部位的脂肪感到压力的时候，通过各部位别的吸脂，对于追求塑造均衡的身材比例是很有用的。
	          		</p>
	        	</div>
	        	<div class="site-circle">
	          		<div class="site-wrap">
	            		<div class="site-circle__img">
	              			<div class="site-circle__box type-left">
	                			<div class="site-circle__wrap">
	                  				<h5 class="site-circle__tit">
	                    				BODY
	                    				<span class="site-circle__point">RATE</span>
	                  				</h5>
	                			</div>
	              			</div>
	              			<div class="site-circle__box type-right">
	                			<div class="site-circle__wrap">
	                  				<h5 class="site-circle__tit">
	                    				BODY
	                    				<span class="site-circle__point">BALANCE</span>
	                  				</h5>
	                			</div>
	              			</div>
	            		</div>
	          		</div>
	        	</div>
	      	</div><!-- //content-section -->

	      	<!-- tab  -->
	      	<div class="content-tab type-margin">
	        	<div class="content-tab__inner">
	          		<ul class="content-tab__list">
			            <li class="content-tab__item is-active"><a href="" class="content-tab__link" data-tab="page-abdomen">腹部/腰侧</a></li>
			            <li class="content-tab__item"><a href="" class="content-tab__link" data-tab="page-thigh">大腿</a></li>
			            <li class="content-tab__item"><a href="" class="content-tab__link" data-tab="page-arms">手臂</a></li>
	          		</ul>
	        	</div>
	      	</div>

	      	<!-- tab contents -->
	      	<div class="content-tab__page page-abdomen is-active">
	        	<div class="content-tab__box">
	          		<div class="site-box2">
	            		<h4 class="content-section__tit type-top">
	              			<span class="content-section__number"><span class="content-section__number-wrap">01</span></span>
	              			腹部脂肪的诊疗，<br class="hidden-t">
	              			成为<strong class="color-body2">减肥瘦身</strong>的<strong class="color-body2">原动力</strong>
	            		</h4>
			            <div class="site-box2__img">腹部脂肪的诊疗</div>
			            <p class="content-section__txt1">
							对于做梦都想着减肥的人来说，腹部肥胖应该是最大压力了。
							不平凸起的腹部给人以迟钝的感觉，同时伴有运动能力低下。
							相对其他最大的烦恼是肥胖会导致成人病，心血管疾病等许多健康上的问题。
			            </p>
			            <p class="content-section__txt2">
							因为腹部的脂肪无论是以美学上的目的还是为了健康<br class="hidden-tm">都是建议一定要解决掉的问题。
			            </p>
	            		<div class="quotation2 type-list">
	              			<ul class="quotation2__list">
	                			<li class="quotation2__item type-tit">
	                  				超声波吸脂术+振动型动力吸脂
	                			</li>
				                <li class="quotation2__item">
									约3~5kg左右的减肥效果，5~10cm左右的边围减少（会因人而异。）

				                </li>
	                			<li class="quotation2__item">
	                  				约3个月左右需穿戴修身用的特殊紧身衣
	                			</li>
	              			</ul>
	            		</div>
	          		</div>

	          		<div class="list-box type-body-part">
	            		<div class="list-box__box">
	              			<div class="list-box__wrap">
				                <div class="list-box__vertical">
				                  	<h5 class="list-box__tit tit-v3">
				                    	腹部整形<br>
				                    	<strong>POINT</strong>
				                  	</h5>
				                </div>
	              			</div>
	            		</div>
			            <ul class="list-box__list">
			              	<li class="list-box__item txt-v3">通过肚脐内侧或阴毛处手术，疤痕最小化</li>
			              	<li class="list-box__item txt-v3">计算腹部的筋膜，缜密的设计线条</li>
			              	<li class="list-box__item txt-v3">去除脂肪细胞本身，防止复发</li>
			            </ul>
	          		</div>
	         	 	<div class="site-box4">
			            <h4 class="content-section__tit type-center">
			              	<span class="content-section__number"><span class="content-section__number-wrap">02</span></span>
			              	即使同为腹部肥胖<span class="content-highlight2 type-body">个人体态特征</span>不同，状况也不尽相同
			            </h4>
	            		<p class="content-section__txt1">
	              			因此即使抽取等量的脂肪，手术重心放在不同部位，都会让满意度与效果不同。<br class="hidden-tm">
							佰诺佰琪从商谈过程开始，通过精密诊断判断脂肪的位置，进行充分沟通，设计出患者想要的感觉的线条。
	            		</p>
	            		<div class="site-box4__img">腹部整形咨询</div>
	          		</div><!-- //site-box4 -->
	          		<div class="part-box1">
	            		<h5 class="part-box1__tit">吸脂的<strong>重点部位</strong></h5>
	            		<div class="item-box3 type-body-part">
	              			<ul class="item-box3__list">
				                <li class="item-box3__item nth-1">
				                  	<div class="item-box3__box">
				                    	<div class="item-box3__wrap">
				                      		<h6 class="item-box3__tit tit-v2"><span class="color-body2">小腹</span></h6>
				                      		<p class="item-box3__txt txt-v1">
												具有代表性的腹部肥胖形态。以抽取大量的脂肪为目标，需要精密计算下垂松弛的肥肉的手术。
				                      		</p>
				                    	</div>
				                  	</div>
				                </li>
				                <li class="item-box3__item nth-2">
				                  	<div class="item-box3__box">
				                    	<div class="item-box3__wrap">
				                      		<h6 class="item-box3__tit tit-v2"><span class="color-body2">肋腹</span></h6>
				                      		<p class="item-box3__txt txt-v1">
												从正面看时作为有着纤细苗条的形态部位，女性的情况下突出强调女人味的线条感设计是很重要的。
				                      		</p>
				                    	</div>
				                  	</div>
				                </li>
				                <li class="item-box3__item nth-3">
				                  	<div class="item-box3__box">
				                    	<div class="item-box3__wrap">
				                      		<h6 class="item-box3__tit tit-v2"><span class="color-body2">腰部</span></h6>
				                      		<p class="item-box3__txt txt-v1">
												作为脂肪累积已久的部位，具有形成一次脂肪就不会轻易减掉的特征所以有必要和肋腹一起进行全面的吸脂手术。
				                      		</p>
				                    	</div>
				                  	</div>
				                </li>
	              			</ul>
	            		</div><!-- //item-box3-->
	          		</div>

					<div class="new-section">
						<div class="new-section__wrap type-w">
							<div class="operation-v2 type-body">
								<div class="operation-v2__wrap">
									<h4 class="operation-v2__tit">手术详情</h4>
									<!-- <p class="operation-v2__subtit">腹部吸脂手术信息的介绍。</p> -->
									<ul class="operation-v2__list">
										<li class="operation-v2__item nth-1 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">手术时间</h5>
												<p class="operation-v2__txt txt-new1">约1小时~1小时30分</p>
											</div>
										</li>
										<li class="operation-v2__item nth-2 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">麻醉方法</h5>
												<p class="operation-v2__txt txt-new1">全身麻醉/睡眠麻醉</p>
											</div>
										</li>
										<li class="operation-v2__item nth-3 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">拆线</h5>
												<p class="operation-v2__txt txt-new1">约7天后拆线</p>
											</div>
										</li>
										<li class="operation-v2__item nth-4 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">住院时间</h5>
												<p class="operation-v2__txt txt-new1">当天回家</p>
											</div>
										</li>
										<li class="operation-v2__item nth-5 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">来院治疗</h5>
												<p class="operation-v2__txt txt-new1">按摩，消肿，淤青管理2次左右</p>
											</div>
										</li>
										<li class="operation-v2__item nth-6 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">恢复</h5>
												<p class="operation-v2__txt txt-new1">约3~5天后恢复日常生活</p>
											</div>
										</li>

									</ul>
									<div class="pain-v2 type-body">
										<h5 class="pain-v2__tit txt-new2">术后体感疼痛</h5>
										<ol class="pain-v2__list">
											<% for(var i = 1; i<= 10; i++){%>
												<%if(i <= 3){%>
													<li class="<%="pain-v2__item is-active nth-"+i%>">
														<div class="pain-v2__square">square</div>
													</li>
												<%}else{%>
													<li class="<%="pain-v2__item nth-"+i%>">
														<div class="pain-v2__wrap">
															<div class="pain-v2__square">square</div>
														</div>
													</li>
												<%}%>
											<%}%>
										</ol>
										<p class="pain-v2__txt txt-new1">
											全身麻醉或单部位时进行睡眠麻醉后手术， 几乎无疼痛感。<br>
											术后肿胀感与火辣辣的痛感也许会一起出现，冰敷可以缓解肿胀和痛感。<br>
											通过术后提供的管理项目可以缓解整体的淤青与痛感。
										</p>
										<div class="pain-v2__box">
											<p class="pain-v2__noti txt-new4">* 通过对术后患者进行问卷调查得出的平均值</p>
											<p class="pain-v2__noti txt-new4">* 从数据不存在绝对性，会存在个人差异，仅供大家作为参考。</p>
										</div>
										<!-- <a href="<?php echo SITE_UPLOAD_URL?>/knowledge/liposuction.pdf" target="_blank" class="operation-v2__link"><span>术后注意事项</span></a> -->
									</div><!-- //pain -->
								</div>
							</div>
						</div>
		            </div>
	        	</div>
	    	</div>

	    	<div class="content-tab__page page-thigh">
	        	<div class="content-tab__box">
	          		<div class="site-box2 type-thigh">
	            		<h4 class="content-section__tit type-top">
	              			<span class="content-section__number"><span class="content-section__number-wrap">01</span></span>
	              			储藏型脂肪细胞占据的<br class="hidden-tm"><strong class="color-body2">脂肪的仓库</strong>
	            		</h4>
	            		<div class="site-box2__img">大腿</div>
	            		<p class="content-section__txt1">
	              			含有许多硬纤维质的储藏型脂肪细胞起着贮存与人类生存相关联的热量的作用。所以大腿脂肪的特点是单纯的饮食疗法或运动等多种方式减肥后还是顽固存在。
	            		</p>
			            <p class="content-section__txt2">
							但是抽取那么多脂肪的时候，因为可以抽取的脂肪的量较多，所以可以看出更好的效果。
			            </p>
			            <div class="quotation2 type-list">
			              	<ul class="quotation2__list">
			                	<li class="quotation2__item type-tit">
			                  		超声波吸脂术
			                	</li>
				                <li class="quotation2__item">
				                  	约1，000~2，500cc左右吸脂（一侧标准）
				                </li>
				                <li class="quotation2__item">
				                  	约3个月左右需穿戴修身用的特殊紧身衣
				                </li>
			              	</ul>
			            </div>
	          		</div>

	          		<div class="list-box type-body-part">
	            		<div class="list-box__box">
	              			<div class="list-box__wrap">
	                			<div class="list-box__vertical">
	                  				<h5 class="list-box__tit tit-v3">
	                    				大腿整形<br>
	                    				<strong>POINT</strong>
	                  				</h5>
	                			</div>
	              			</div>
	            		</div>
			            <ul class="list-box__list">
			              	<li class="list-box__item txt-v3">为了光滑的表面而精细的手术</li>
			              	<li class="list-box__item txt-v3">为了防止腿部线条不自然，进行立体化结构的专业吸脂</li>
			              	<li class="list-box__item txt-v3">去除脂肪细胞本身，防止复发</li>
			            </ul>
	          		</div>

	          		<div class="site-box4">
	            		<h4 class="content-section__tit type-center">
	              			<span class="content-section__number"><span class="content-section__number-wrap">02</span></span>
	              			即使同为腹部肥胖<span class="content-highlight2 type-body">个人体态特征</span>不同，状况也不尽相同
	            		</h4>
			            <p class="content-section__txt1">
			              	因此即使抽取等量的脂肪，手术重心放在不同部位，都会让满意度与效果不同。<br class="hidden-tm">
							佰诺佰琪从商谈过程开始，通过精密诊断判断脂肪的位置，进行充分沟通，设计出患者想要的感觉的线条。
			            </p>
	            		<div class="site-box4__img">腹部整形咨询</div>
	          		</div><!-- //site-box4 -->
	          		<div class="part-box1">
	            		<h5 class="part-box1__tit">吸脂的<strong>重点部位</strong></h5>
	            		<div class="item-box3 type-body-part">
	              			<ul class="item-box3__list">
				                <li class="item-box3__item nth-4">
				                  	<div class="item-box3__box">
				                    	<div class="item-box3__wrap">
				                      		<h6 class="item-box3__tit tit-v2"><span class="color-body2">臀部下方</span></h6>
				                      		<p class="item-box3__txt txt-v1">
				                        		作为脂肪团最容易形成和出现的部位，需要没有无曲折维持平滑线条的吸脂手术。改善后可以获得臀部提升的效果。
				                      		</p>
				                    	</div>
				                  	</div>
				                </li>
				                <li class="item-box3__item nth-5">
				                  	<div class="item-box3__box">
				                    	<div class="item-box3__wrap">
				                      		<h6 class="item-box3__tit tit-v2"><span class="color-body2">大腿间</span></h6>
				                      		<p class="item-box3__txt txt-v1">
												作为死角，大腿肥胖的感受最深的部位如果集中管理的话，可以改善为纤细的腿部线条。
				                      		</p>
				                    	</div>
				                  	</div>
				                </li>
				                <li class="item-box3__item nth-6">
				                  	<div class="item-box3__box">
				                    	<div class="item-box3__wrap">
				                      		<h6 class="item-box3__tit tit-v2"><span class="color-body2">大腿外侧</span></h6>
				                      		<p class="item-box3__txt txt-v1">
												穿裤子或裙子的时候，因为是对大腿线条有决定性作用的部位考虑整体比例的感性设计是很重要的。
				                      		</p>
				                    	</div>
				                  	</div>
				                </li>
	              			</ul>
	            		</div><!-- //item-box3-->
	          		</div>
					<div class="new-section">
						<div class="new-section__wrap type-w">
							<div class="operation-v2 type-body">
								<div class="operation-v2__wrap">
									<h4 class="operation-v2__tit">手术详情</h4>
									<!-- <p class="operation-v2__subtit">大腿吸脂手术信息的介绍。</p> -->
									<ul class="operation-v2__list">
										<li class="operation-v2__item nth-1 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">手术时间</h5>
												<p class="operation-v2__txt txt-new1">约1小时30分</p>
											</div>
										</li>
										<li class="operation-v2__item nth-2 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">麻醉方法</h5>
												<p class="operation-v2__txt txt-new1">全身麻醉/睡眠麻醉</p>
											</div>
										</li>
										<li class="operation-v2__item nth-3 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">拆线</h5>
												<p class="operation-v2__txt txt-new1">约7天后拆线</p>
											</div>
										</li>
										<li class="operation-v2__item nth-4 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">住院时间</h5>
												<p class="operation-v2__txt txt-new1">当天回家</p>
											</div>
										</li>
										<li class="operation-v2__item nth-5 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">来院治疗</h5>
												<p class="operation-v2__txt txt-new1">按摩，消肿，淤青管理2次左右</p>
											</div>
										</li>
										<li class="operation-v2__item nth-6 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">恢复</h5>
												<p class="operation-v2__txt txt-new1">约3~5天后恢复日常生活</p>
											</div>
										</li>

									</ul>
									<div class="pain-v2 type-body">
										<h5 class="pain-v2__tit txt-new2">术后体感疼痛</h5>
										<ol class="pain-v2__list">
											<% for(var i = 1; i<= 10; i++){%>
												<%if(i <= 3){%>
													<li class="<%="pain-v2__item is-active nth-"+i%>">
														<div class="pain-v2__square">square</div>
													</li>
												<%}else{%>
													<li class="<%="pain-v2__item nth-"+i%>">
														<div class="pain-v2__wrap">
															<div class="pain-v2__square">square</div>
														</div>
													</li>
												<%}%>
											<%}%>
										</ol>
										<p class="pain-v2__txt txt-new1">
											全身麻醉或单部位时进行睡眠麻醉后手术， 几乎无疼痛感。<br>
											术后肿胀感与火辣辣的痛感也许会一起出现，冰敷可以缓解肿胀和痛感。<br>
											通过术后提供的管理项目可以缓解整体的淤青与痛感。
										</p>
										<div class="pain-v2__box">
											<p class="pain-v2__noti txt-new4">* 通过对术后患者进行问卷调查得出的平均值</p>
											<p class="pain-v2__noti txt-new4">* 从数据不存在绝对性，会存在个人差异，仅供大家作为参考。</p>
										</div>
										<!-- <a href="<?php echo SITE_UPLOAD_URL?>/knowledge/liposuction.pdf" target="_blank" class="operation-v2__link"><span>术后注意事项</span></a> -->
									</div><!-- //pain -->
								</div>
							</div>
						</div>
		            </div>
	        	</div>
	      	</div>

	      	<div class="content-tab__page page-arms">
	        	<div class="content-tab__box">

	          		<div class="site-box2 type-forearm">
	            		<h4 class="content-section__tit type-top">
	              			<span class="content-section__number"><span class="content-section__number-wrap">01</span></span>
							<strong class="color-body2">曝光率</strong>最<strong class="color-body2">高的部位</strong>就是手臂。
	            		</h4>
	            		<div class="site-box2__img">手臂</div>
	            		<p class="content-section__txt1">
							一般情况下进行吸脂手术的身体部位中，曝光率最高的部位就是手臂。
							如果维持纤细的话，可以展现健康美与清凉的着装。
							因为平日里长胖了的话首先就会看到。
	            		</p>
	            		<p class="content-section__txt2">
							但是与大腿相同，胳膊后侧因为有着贮存性
							脂肪细胞，通过一般的减肥方法来改善的话
							事实上是很困难的。
	            		</p>
			            <div class="quotation2 type-list">
			              	<ul class="quotation2__list">
			                	<li class="quotation2__item type-tit">
			                  		超声波吸脂术
			                	</li>
			                	<li class="quotation2__item">
			                  		约500~1，000cc左右吸脂（一侧标准）
			                	</li>
			                	<li class="quotation2__item">
			                  		约2~3个月左右需穿戴修身用的特殊紧身衣
			                	</li>
			              	</ul>
			            </div>
	          		</div>
	          		<div class="list-box type-body-part">
	            		<div class="list-box__box">
	              			<div class="list-box__wrap">
	                			<div class="list-box__vertical">
				                  	<h5 class="list-box__tit tit-v3">
				                    	手臂整形<br>
				                    	<strong>POINT</strong>
				                  	</h5>
	                			</div>
	              			</div>
	            		</div>
	            		<ul class="list-box__list">
	              			<li class="list-box__item txt-v3">为了疤痕最小化，靠近臂肘或腋下进行切开</li>
	              			<li class="list-box__item txt-v3">为了效果自然，依照圆筒形结构精密的抽取</li>
	              			<li class="list-box__item txt-v3">去除脂肪细胞本身，防止复发</li>
	            		</ul>
	          		</div>
	          		<div class="site-box4">
	            		<h4 class="content-section__tit type-center">
	              			<span class="content-section__number"><span class="content-section__number-wrap">02</span></span>
	              			即使同为手臂脂肪<span class="content-highlight2 type-body">个人体态特征</span>不同，状况也不尽相同。
	            		</h4>
	            		<p class="content-section__txt1">
	              			因此即使抽取等量的脂肪，手术重心放在不同部位，都会让满意度与效果不同。
							佰诺佰琪从商谈过程开始，通过精密诊断判断脂肪的位置，进行充分沟通，设计出患者想要的感觉的线条。
	            		</p>
	            		<div class="site-box4__img">腹部整形咨询</div>
	          		</div><!-- //site-box4 -->
	          		<div class="part-box1">
	            		<h4 class="part-box1__tit">吸脂<strong>重点部位</strong></h4>
	            		<div class="item-box3 type-body-part">
	              			<ul class="item-box3__list">
				                <li class="item-box3__item nth-7">
				                  	<div class="item-box3__box">
				                    	<div class="item-box3__wrap">
				                      		<h5 class="item-box3__tit tit-v2"><span class="color-body2">手臂内侧</span></h5>
				                      		<p class="item-box3__txt txt-v1">
				                        		作为手臂脂肪大部分堆积的部位，手臂撑开的时候下垂加重的原因， 必须维持圆筒形均衡的吸脂。
				                      		</p>
				                    	</div>
				                  	</div>
				                </li>
				                <li class="item-box3__item nth-8">
				                  	<div class="item-box3__box">
				                    	<div class="item-box3__wrap">
				                      		<h5 class="item-box3__tit tit-v2"><span class="color-body2">手臂外侧</span></h5>
				                      		<p class="item-box3__txt txt-v1">
												如果脂肪分布在手臂外侧的话，会让手臂看起来粗壮通过重塑线条的设计来打造美丽的手臂。
				                      		</p>
				                    	</div>
				                  	</div>
				                </li>
	              			</ul>
	            		</div><!-- //item-box3-->
	          		</div>
					<div class="new-section">
						<div class="new-section__wrap type-w">
							<div class="operation-v2 type-body">
								<div class="operation-v2__wrap">
									<h4 class="operation-v2__tit">手术详情</h4>
									<!-- <p class="operation-v2__subtit">手臂吸脂手术信息的介绍。</p> -->
									<ul class="operation-v2__list">
										<li class="operation-v2__item nth-1 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">手术时间</h5>
												<p class="operation-v2__txt txt-new1">约1小时</p>
											</div>
										</li>
										<li class="operation-v2__item nth-2 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">麻醉方法</h5>
												<p class="operation-v2__txt txt-new1">全身麻醉/睡眠麻醉</p>
											</div>
										</li>
										<li class="operation-v2__item nth-3 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">拆线</h5>
												<p class="operation-v2__txt txt-new1">约7天后拆线</p>
											</div>
										</li>
										<li class="operation-v2__item nth-4 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">住院时间</h5>
												<p class="operation-v2__txt txt-new1">当天回家</p>
											</div>
										</li>
										<li class="operation-v2__item nth-5 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">来院治疗</h5>
												<p class="operation-v2__txt txt-new1">按摩，消肿，淤青管理2次左右</p>
											</div>
										</li>
										<li class="operation-v2__item nth-6 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">恢复</h5>
												<p class="operation-v2__txt txt-new1">约3~5天后恢复日常生活</p>
											</div>
										</li>

									</ul>
									<div class="pain-v2 type-body">
										<h5 class="pain-v2__tit txt-new2">术后体感疼痛</h5>
										<ol class="pain-v2__list">
											<% for(var i = 1; i<= 10; i++){%>
												<%if(i <= 3){%>
													<li class="<%="pain-v2__item is-active nth-"+i%>">
														<div class="pain-v2__square">square</div>
													</li>
												<%}else{%>
													<li class="<%="pain-v2__item nth-"+i%>">
														<div class="pain-v2__wrap">
															<div class="pain-v2__square">square</div>
														</div>
													</li>
												<%}%>
											<%}%>
										</ol>
										<p class="pain-v2__txt txt-new1">
											全身麻醉或单部位时进行睡眠麻醉后手术， 几乎无疼痛感。<br>
											术后肿胀感与火辣辣的痛感也许会一起出现，冰敷可以缓解肿胀和痛感。<br>
											通过术后提供的管理项目可以缓解整体的淤青与痛感。
										</p>
										<div class="pain-v2__box">
											<p class="pain-v2__noti txt-new4">* 通过对术后患者进行问卷调查得出的平均值</p>
											<p class="pain-v2__noti txt-new4">* 从数据不存在绝对性，会存在个人差异，仅供大家作为参考。</p>
										</div>
										<!-- <a href="<?php echo SITE_UPLOAD_URL?>/knowledge/liposuction.pdf" target="_blank" class="operation-v2__link"><span>术后注意事项</span></a> -->
									</div><!-- //pain -->
								</div>
							</div>
						</div>
		            </div>
	        	</div>
	      	</div>
	    </div>
	</div>
	<!-- Content End -->
	<% include ../_include/_bfaf %>
</div><!-- // container -->


<% include ../_include/_footer %>
