<%
	type = "content"
	page = "body"
%>
<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
	<!-- visual -->
	<div class="content-visual">
		<div class="content-visual__box">
			<div class="content-visual__border">
				<p class="content-visual__txt1">成为人生转折点的重大决心</p>
				<h3 class="content-visual__tit"><span class="color-body1">#</span>全身吸脂</h3>
				<p class="content-visual__txt2">只一次，改变身体线条</p>
			</div>
		</div>
    </div>
	<!-- //visual -->

	<!-- Content -->
	<div class="content type-body-fat">
		<div class="content-wrap">
		   	<div class="content-section type-first">
			 	<h4 class="content-section__tit type-center type-unique">
			   		<span class="content-section__number"><span class="content-section__number-wrap">01</span></span>
			   		因为了解<strong class="color-body1">苦恼</strong>和<strong class="color-body1">迫切感</strong>所以更加努力
			 	</h4>
			 	<ul class="box-style1__list type-special">
			   		<li class="box-style1__item w-4">
				 		<div class="box-style1__img">
				   			<img src="../../images/body/body_fat_img02.jpg" alt="" class="respon-img">
				 		</div>
			   		</li>
			   		<li class="box-style1__item w-8">
				 		<div class="box-style1__wrap">
				   			<p class="content-section__txt1 type-margin">
					 			肥胖需要治疗。<br>
					 			光靠个人的力量是难以克服肥胖的，肥胖被归为一种疾病，因此迫切需要专业医疗团队的帮助。<?php echo $sinceYear; ?>年期间反复进行吸脂手术，为肥胖患者进行治疗。深刻的了解，患者们在来医院进行商谈之前，经过了多少的努力和苦恼。因此，进行更加深度的商谈，认真分析患者的体型，透彻分析生活方式。
				   			</p>
				   			<p class="content-section__txt1">
					 			佰诺佰琪大容量吸脂并不是单纯让你变瘦的手术，而是让患者改变生活的方式，积极追求变化。
					 			<span class="box-style1__point1 pop-info">
					 			而且，手术后也为了观察患者的恢复变化，进行着
							   	<span class="box-style1__info">
							   	<a href="" class="info-btn js-info ">
								   	<span class="info-btn__icon type-body-fat">info</span>
									召回系统
								   	<span class="info-desc type-body-fat">
									   	<span class="info-desc__item">
										   	<span class="info-desc__box">
											   	<span class="info-desc__tit"><span class="info-desc__icon"></span><strong>召回系统</strong><br class="hidden-tm"></span>
											   	<span class="info-desc__content">
												   	<span class="info-desc__txt1">
														术后6个月如果没有特别的变化，会采用多样的方法进行修复，是佰诺佰琪的初衷。
													</span>
											   	</span>
										   	</span>
										   	<button class="info-desc__btn js-close">
											   	<span class="info-desc__stick type-left"></span>
											   	<span class="info-desc__stick type-another"></span>
											   	关闭
										   	</button>
									   	</span>
								   </span>
							   	</a>
								</span>。
				 				</span>
				   			</p>
				 		</div>
			   		</li>
			 	</ul>
		   	</div>
		   	<div class="content-section type-img">
			 	<ul class="box-style1__list type-another">
			   		<!-- //mobile img -->
			   		<li class="box-style1__item w-6">
				 		<h4 class="content-section__tit type-top">
				   			<span class="content-section__number type-right"><span class="content-section__number-wrap">02</span></span>
				   			<strong>全身吸脂，</strong>只需要<span class="box-style1__point2">一次</span>
				 		</h4>
				 		<!--mobile Img -->
				 		<div class="box-style1__item hidden-p">
				   			<div class="box-style1__img-m">img</div>
				 		</div>

				 		<p class="content-section__txt1">
							之所以进行全身吸脂的原因在于保持身体的均衡。如果将手术分成多次进行的话，因为手术而留下的浮肿，可能会降低第二次，第三次手术的精确度和手术满足度。
				 		</p>
				 		<div class="box-style1__txt2">

				   			<div class="brace type-body-fat">
					 			<p class="brace__txt txt-v4">
					   				全身吸脂在<span class="color-body1">一天内</span><br class="hidden-m">
					   				只进行<span class="color-body1">一次</span>手术的医院基本没有。
					 			</p>
				   			</div>

				 		</div>
				 		<p class="content-section__txt1">
				   			<strong class="box-style1__point3">原因是</strong>因为， 一次性抽掉8000cc-10000cc程度的大量脂肪，是非常影响身体状况的手术。电解质或者血液等各种因素的急剧变化可能会对身体造成不良影响。但是医生的能力不同，结果会有所不一样。
				 		</p>
				 		<p class="content-section__txt1">
				   			<strong class="box-style1__point1">佰诺佰琪身体整形专家团队不一样。全身吸脂只需要一次。</strong>
				   			具有长期积累的经验和出色的技术，将出血量降到最低的吸脂技术。并且佰诺佰琪的麻醉团队能够调节患者的状况，当然也能熟练的应对各种状况。佰诺佰琪一次性大容量吸脂长期以来安全的进行着。
				 		</p>
				 		<div class="box-style1__box">
				   			<div class="quotation2 type-body-fat">
					 			<p class="quotation2__txt type-big tit-v4"><strong class="color-body1">吸脂后</strong>厚度减少幅度是？</p>
					 			<p class="quotation2__txt txt-v5 type-margin">腹部 8~15cm &nbsp;&nbsp; <span>/</span> &nbsp;&nbsp;大腿 5~10cm &nbsp;&nbsp; <span>/</span> &nbsp;&nbsp;手臂 4~8cm</p>
				   			</div>
				 		</div>
				 		<p class="box-style1__txt3">※ 手术结果可能存在个人差异</p>
			   		</li>
			   		<!--pc Img -->
					<li class="box-style1__item hidden-tm">
				 		<div class="box-style1__img--bg type-special">
				   			<img src="../../images/body/body_fat_img03.jpg" alt="">
				 		</div>
			   		</li>
			   		<!--pc Img -->
			 	</ul>
		   	</div>
		   	<div class="content-section type-body1">
			 	<ul class="box-style1__list type-another">
			   		<li class="box-style1__item w-4">
				 		<div class="content-wrap">
				   			<div class="box-style1__img--bg hidden-tm">
					 			<img src="../../images/body/body_fat_img04_.jpg" alt="">
				   			</div>
				 		</div>
			   		</li>
			   		<li class="box-style1__item w-8 type-unique">
				 		<div class="type-upper">
				   			<h4 class="content-section__tit type-top">
					 			<span class="content-section__number type-another"><span class="content-section__number-wrap">03</span></span>
					 			科学，医学，<br class="hidden-m"><strong class="color-body1">美学</strong>需要完美的融合
				   			</h4>
				   			<div class="box-style1__img-m hidden-p type-another"></div>
				   			<p class="content-section__txt1">
								吸脂手术中，将脂肪溶解或者抽出的技术属于科学的领域。<br>
					 			适当地利用功能卓越的装备能减少误差，更有效的完成手术。
				   			</p>
				   			<p class="content-section__txt1 type-another">
								接下来，让组织损伤最小化属于医学的领域。<br>
					 			<strong class="box-style1__point1">拥有丰富医学知识和众多经验的医疗团队进行手术的话，能有效的减少出血量，让组织损伤率最小化。</strong>
				   			</p>
				   			<p class="content-section__txt1">
					 			吸脂最后的一个阶段就是打造出诱人的曲线，这属于美学领域。对身体的整体平衡和患者个人情况作为基础，佰诺佰琪的感觉完成了。
				   			</p>
				 		</div>
			   		</li>
			 	</ul>
			 	<div class="way">
			   		<div class="way__wrap">
				 		<ul class="way__list">
				   			<li class="way__item nth-1">
					 			<p class="way__txt">
									Accusculpt<br>
					   				激光溶脂
					 			</p>
				   			</li>
				   			<li class="way__item nth-2">
					 			<p class="way__txt">
					   				Plasma<br>
					   				激光吸脂
					 			</p>
				   			</li>
				   			<li class="way__item nth-3">
					 			<p class="way__txt">
					   				Body Tite<br>
					   				吸脂
					 			</p>
				   			</li>
				   			<li class="way__item nth-4">
					 			<p class="way__txt">
					   				Erchonia<br>
					   				激光吸脂
					 			</p>
				   			</li>
				   			<li class="way__item nth-5">
					 			<p class="way__txt">
					   				L-Pal<br>
					   				吸脂
					 			</p>
				   			</li>
				   			<li class="way__item nth-6">
					 			<p class="way__txt">
					   				PAL<br>
					   				<span class="way__point">(Power Assisted Lipoplasty)</span>
					 			</p>
				   			</li>
				   			<li class="way__item nth-7">
					 			<p class="way__txt">
					   				Tumescent<br>
					   				吸脂
					 			</p>
				   			</li>
				 		</ul>
			   		</div>
			 	</div>
		   	</div>
		   	<div class="content-section">
			 	<ul class="box-style1__list">
			   		<li class="box-style1__item w-12 type-unique">
				 		<div class="box-style1__people">
				   			<h4 class="content-section__tit type-left">
					 			<span class="content-section__number"><span class="content-section__number-wrap">04</span></span>
					 			<strong class="box-style1__point2">安全</strong>的<br>
					 			果断的完成手术
				   			</h4>
				 		</div>
				 		<p class="content-section__txt1 type-center">
							局部吸脂的话可以采用睡眠麻醉的方式。但是全身吸脂要采用全身麻醉的方式进行。这是因为多个部位一起进行吸脂并且脂肪的量比较多。并且还能减少患者的负担感。<strong class="box-style1__point1 type-big">佰诺佰琪有麻醉专家团队常驻医院，保障了手术的安全，为手术保驾护航。</strong> 所以让效果更好，也能够助于医生更加果断的进行手术
				 		</p>
			   		</li>
			 	</ul>
		   	</div>
			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-body">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">手术详情</h4>
							<!-- <p class="operation-v2__subtit">全身吸脂术后更快的恢复</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">手术时间</h5>
										<p class="operation-v2__txt txt-new1">约4小时~5小时</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">麻醉方法</h5>
										<p class="operation-v2__txt txt-new1">全身麻醉</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">拆线</h5>
										<p class="operation-v2__txt txt-new1">约1天后拆线</p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">住院时间</h5>
										<p class="operation-v2__txt txt-new1">约1天</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">来院治疗</h5>
										<p class="operation-v2__txt txt-new1">按摩，消肿，淤青管理2次左右</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">恢复</h5>
										<p class="operation-v2__txt txt-new1">
											约3~5天后恢复日常生活，
											<span class="inline-block">剧烈活动建议约1个月后进行</span>
										</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-body">
								<h5 class="pain-v2__tit txt-new2">术后体感疼痛</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 4){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">square</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">square</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									通过全身麻醉进行手术，几乎感觉不到痛感。<br>
									术后会有肿胀的感觉和发热的感觉，通过冷敷能够缓解浮肿和痛感。<br>
									因为身体大部位进行了手术，大概2~3天的时候日常生活可能会有不适感。<br>
									整体的淤青和痛感，通过术后的治疗管理项目慢慢缓解。
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* 通过对术后患者进行问卷调查得出的平均值</p>
									<p class="pain-v2__noti txt-new4">* 从数据不存在绝对性，会存在个人差异，仅供大家作为参考。</p>
								</div>
								<!-- <a href="<?php echo SITE_UPLOAD_URL?>upload/knowledge/liposuction.pdf" target="_blank" class="operation-v2__link"><span>术后注意事项</span></a> -->
							</div><!-- //pain -->
						</div>
					</div>
				</div>
            </div>
		   	<!--operation-->
		</div>
	</div><!-- //content -->

	<% include ../_include/_bfaf %>
</div><!-- // container -->

 <% include ../_include/_footer %>
