<%
	type = "detail"
	page = "body"
%>
<% include ../_include/_header %>
<!-- Content -->
<div class="body detail-common">
	<section class="fs_section bodyFirst js-first" data-section-name="home">
		<div class="detail__inner">
			<div class="detail__vertical">
				<p class="detail__first-tit type-body">
					健康的<span class="color-body0">身材<span class="style-comma">，</span></span>匀称的身材<span class="style-comma">，</span>
					<span class="detail__first-piece type-body"><span class="color-body0">才能为</span>美丽的身材</span>
				</p>
				<h3 class="detail__first-txt type-body">
					<span class="detail__first-bwrap">我身体的美丽曲线<b class="detail__first-bar type-body"></b></span><br>
					<strong class="detail__first-point">佰诺佰琪 <span class="color-body1">身体整形</span> 细节<span class="color-body1">。</span></strong>
				</h3>
			</div>
		</div>
		<div class="scroll">
			<div class="inner">
				<i></i>
			</div>
			<em>SCROLL</em>
		</div>
	</section>

	<section class="fs_section bodySection01" data-section-name="bodySection01">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="detail__section-box type-normal type-down type-body type-quotation2">
		            <h4 class="detail__section-tit">
						身体整形
						佰诺佰琪是
					    <span class="color-body1">这样</span>做的
		            </h4>
					<p class="detail__section-subtit">
						先进的仪器<br> 熟练操作的专家团队
					</p>
					<p class="detail__section-txt color-body3">
						无论再好的仪器，没有优秀的专家去操作的话，就没有意义。身体整形最重要的就是
						<span class="color-body1">‘施术感觉’和‘对身体匀称度的理解’。</span>
						佰诺佰琪身体整形专家团队从2000年开院以来，积累了丰富的经验。遇见先进的仪器及优秀的专家，打造更匀称美丽的身材，来一个大变身吧。
					</p>
		        </div>
			</div>
		</div>
	</section>

	<section class="fs_section bodySection02" data-section-name="bodySection02">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="detail__section-box type-wide type-down type-body type-another">
					<h4 class="detail__section-tit">
						身体整形，<br>
						佰诺佰琪有<br>
						<span class="color-body1">解决</span>方法
					</h4>
					<p class="detail__section-subtit">为了更美丽，<br> 更匀称的身材而努力</p>
					<p class="detail__section-txt">
						体型的改善根据每个身体部位的特征及美学标准，其方法有所不同。因此
						<span class="color-body1">佰诺佰琪不仅有吸脂，还具有植入假体，各部位脂肪管理，身体提升等技术。</span>
						通过咨询及体型分析仪，科学地分析身体，并制定合适的疗法，这就是佰诺佰琪效果好的理由。
					</p>
				</div>
				<!-- detail-layer -->
				<div class="detail-layer">
					<div class="detail-box body-1">
						<div class="detail-box__vertical">
							<div class="detail-box__img">手术前后 Check体系</div>
							<div class="detail-box__wrap">
								<h5 class="detail-box__tit">手术前后<span class="inline-block">Check体系</span></h5>
								<p class="detail-box__txt">
									体成分分析，骨骼筋脂肪，肥胖诊疗，身体匀称，
									浮肿指数，内脏脂肪及
									生成曲线，基础代谢量，
									生活习惯评价
								</p>
							</div>
						</div>
					</div>
					<div class="detail-box body-2">
						<div class="detail-box__vertical">
							<div class="detail-box__img">다양한 체형 개선 프로그램</div>
							<div class="detail-box__wrap">
								<h5 class="detail-box__tit">多样化的 <span class="inline-block">体型改善项目</span></h5>
								<p class="detail-box__txt">
									假体植入，不影响日常生活的肥胖管理施术，<br class="hidden-t">身体提升
								</p>
							</div>
						</div>
					</div>
				</div>
				<!-- //detail-layer-->
			</div>
		</div>
	</section>

	<section class="fs_section bodySection03" data-section-name="bodySection03">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="detail__section-box type-wide type-right type-body type-quotation2">
					<h4 class="detail__section-tit">
						<span class="color-body1">身体整形</span>
						佰诺佰琪<br>充满<span class=color-body1>期待</span>
					</h4>
					<p class="detail__section-subtit">一次就有效果的大容量脂肪吸脂</p>
					<p class="detail__section-txt color-body3">
						一般来说大容量吸脂只做一次的情况不多。因为身体的各要素突然改变会影响身体素质下降。原先的大容量吸脂是分几次进行的。但是这种方法不论从时间还是手术结果上都不是很有效。佰诺佰琪身体领域的专家团队以其独有的技术，
						<span class="color-body1">进行一次性大容量吸脂。</span>
						佰诺佰琪带来既安全又卓越的效果。
					</p>
				</div>
			</div>
		</div>
	</section>

	<section class="fs_section bodySection05" data-section-name="bodySection05">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="detail__section-box type-wide type-body">
					<h4 class="detail__section-tit">
						身体整形，<br>佰诺佰琪<br><span class="color-body1">长效持久</span>
					</h4>
					<p class="detail__section-subtit">佰诺佰琪让您保持美丽的身材</p>
					<p class="detail__section-txt">
						做了吸脂等身体整形的人可能会担心会不会重新长胖，弹力会不会下降。身体整形最重要的是打造漂亮的体型后要好好地进行管理。 因此佰诺佰琪为了吸脂效果更持久，<span class="color-body1">与肥胖治疗科的专家协诊后，体系化地设计术后管理项目，饮食管理项目，非手术肥胖治疗项目等。</span>减肥是爱美人士的永远作业，佰诺佰琪成为您的朋友。
					</p>
				</div>
			</div>
		</div>
	</section>

	<section class="fs_section bodySection04" data-section-name="bodySection04">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="detail__section-box type-wide type-body">
					<h4 class="detail__section-tit">
						身体整形，
						佰诺佰琪
						注重<span class="color-body1">细节</span>
					</h4>
					<p class="detail__section-subtit">为减少疤痕而制定的管理体系，<br>疤痕管理项目</p>
					<p class="detail__section-txt">
						身材虽然变美了，但因为疤痕而失去自信的话，是非常可惜的事情。<span class="color-body1">因手术而产生的疤痕不是不可避免的。</span>
						因为疤痕治疗是身体整形的一部分。以这一价值观为理念的佰诺佰琪开始进行疤痕管理项目。通过与佰诺佰琪皮肤科的协诊，了解红色疤痕，凹进去的疤痕，突出的疤痕等所有类型的疤痕，修复成平整光滑的皮肤。
					</p>
				</div>
			</div>
		</div>
	</section>
</div>
<!-- //Content -->
<% include ../_include/_footer %>
