<%
	type = "content"
	page = "nose"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
	<!-- visual -->
	<div class="content-visual type-case">
		<div class="content-visual__box">
			<div class="content-visual__border">
				<p class="content-visual__txt1">多种个性适用于多种方法</p>
				<h3 class="content-visual__tit">#<span class="color-nose8">各种类型</span>的隆鼻</h3>
				<p class="content-visual__txt2">为改善所有案例而努力</p>
			</div>
		</div>
	</div>
	<!-- //visual -->

	<!-- content-->
	<div class="content">
	  	<div class="content-wrap">
	   	 	<div class="content-section type-case">
	      		<div class="nose-case__wrap">
	        		<div class="content-tab">
		          		<div class="content-tab__inner">
		            		<ul class="content-tab__list">
		              			<li class="content-tab__item is-active"><a href=""  class="content-tab__link" data-tab="page-hooked">驼峰鼻 磨骨术/修整</a></li>
		              			<li class="content-tab__item"><a href=""  class="content-tab__link" data-tab="page-arrow">鹰钩鼻/长鼻整形</a></li>
		              			<!--<li class="content-tab2__item"><a href=""  class="content-tab__link" data-tab="page-upturn">들창코 / 짧은 코 성형</a></li>
		              			<li class="content-tab2__item"><a href=""  class="content-tab__link" data-tab="page-bend">휜 코 교정술</a></li>-->
		            		</ul>
		          		</div>
	        		</div>

	        		<div class="content-tab__page page-hooked is-active">
	          			<div class="content-box__box">
	            			<div class="casetype-box1">
	              				<div class="casetype-box1__wrap">
	                				<div class="casetype-box1__box type-hawk">
	                  					<h4 class="casetype-box1__tit">驼峰鼻 磨骨术/修整</h4>
	                  					<p class="casetype-box1__txt">磨骨是很多种方法中的一种。</p>
	                  					<div class="casetype-box1__bracket">
	                    					复合手术的驼峰鼻整形，<br>
	                    					<span>很多方法中找到正确方法</span>是核心。
	                  					</div>
	                				</div>
	              				</div>
		              			<div class="casetype-box1__bg">
									<div class="comparison">
										<ul class="comparison__list">
											<li class="comparison__item nth-1"><span class="comparison__subject">before</span></li>
											<li class="comparison__item nth-2"><span class="comparison__subject">after</span></li>
										</ul>
									</div>

		              			</div>
	            			</div><!--//casetype-box1-->
	            			<div class="casetype-box2">
		              			<div class="quotation2">
	                				<p class="quotation2__txt txt-v5">用精密的诊断和合适的手术方法<span class="color-nose6">防止驼峰鼻再生</span>，改善效果非常好。</p>
	              				</div>
	            			</div>
	            			<div class="casetype-box3">
	              				<ul class="casetype-box3__list">
	                				<li class="casetype-box3__item nth-1">
	                  					<div class="casetype-box3__img nth-1"></div>
	                				</li>
	                				<li class="casetype-box3__item nth-2">
	                  					<p class="casetype-box3__txt txt-v1">
											鹰钩鼻不是单纯矫正突出部分的手术。鹰钩鼻的程度和原因，要考虑到鼻骨的宽度，鼻尖高度和模样等，根据这个手术方法也会不同。如果无视这些原因进行统一手术的话手术后会出现矮鼻，鼻梁扁平，鼻子角度奇怪等问题的发生。<br class="hidden-m">
	                    					<strong class="content-highlight type-case">佰诺佰琪通过丰富的经验和正确的诊断，会考虑到鹰钩鼻复发情况来进行手术。</strong> 根据情况使用自体组织或者假体垫高鼻梁，鹰钩鼻截骨后缩小鼻梁等合适的手术方法进行复合手术。所以可以根据患者个人情况追求柔和的鼻梁线条。
	                  					</p>
	                				</li>
	              				</ul>
	            			</div>
	            			<div class="list-box">
	              				<div class="list-box__box">
	                				<div class="list-box__wrap">
	                  					<div class="list-box__vertical">
	                    					<h5 class="list-box__tit tit-v3">
	                      						鼻部整形<br>
	                      						<strong>POINT</strong>
	                    					</h5>
	                  					</div>
	                				</div>
	              				</div>
	              				<ul class="list-box__list">
					                <li class="list-box__item txt-v3">给人凶狠粗鲁印象的驼峰鼻，整形后会给人端庄的印象，追求鼻梁线条</li>
					                <li class="list-box__item txt-v3">下垂印象的鼻尖又挺又高</li>
					                <li class="list-box__item txt-v3">用复合手术形态改善</li>
	              				</ul>
	            			</div>
	          			</div>
						<div class="new-section">
							<div class="new-section__wrap type-w">
								<div class="operation-v2 type-nose">
									<div class="operation-v2__wrap">
										<h4 class="operation-v2__tit">手术详情</h4>
										<!-- <p class="operation-v2__subtit">驼峰鼻整形恢复很快</p> -->
										<ul class="operation-v2__list">
											<li class="operation-v2__item nth-1 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">手术时间</h5>
													<p class="operation-v2__txt txt-new1">约1小时30分~2小时</p>
												</div>
											</li>
											<li class="operation-v2__item nth-2 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">麻醉方法</h5>
													<p class="operation-v2__txt txt-new1">睡眠麻醉/局部麻醉</p>
												</div>
											</li>
											<li class="operation-v2__item nth-3 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">拆线</h5>
													<p class="operation-v2__txt txt-new1">约5天后拆线</p>
												</div>
											</li>
											<li class="operation-v2__item nth-7 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">手术材料</h5>
													<p class="operation-v2__txt txt-new1">自体真皮，硅胶等</p>
												</div>
											</li>
											<li class="operation-v2__item nth-5 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">来院治疗</h5>
													<p class="operation-v2__txt txt-new1">约2次</p>
												</div>
											</li>
											<li class="operation-v2__item nth-6 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">恢复</h5>
													<p class="operation-v2__txt txt-new1">约5~7天后恢复日常生活</p>
												</div>
											</li>

										</ul>
										<div class="pain-v2 type-nose">
											<h5 class="pain-v2__tit txt-new2">术后体感疼痛</h5>
											<ol class="pain-v2__list">
												<% for(var i = 1; i<= 10; i++){%>
													<%if(i <= 2){%>
														<li class="<%="pain-v2__item is-active nth-"+i%>">
															<div class="pain-v2__square">square</div>
														</li>
													<%}else{%>
														<li class="<%="pain-v2__item nth-"+i%>">
															<div class="pain-v2__wrap">
																<div class="pain-v2__square">square</div>
															</div>
														</li>
													<%}%>
												<%}%>
											</ol>
											<p class="pain-v2__txt txt-new1">
												减轻因睡眠麻醉引起的痛症。<br>
												麻醉缓解后会有刺痛，会有些不舒服程度的痛症。<br>
												如果很不舒服建议服用止痛药，之后服用在药店买的止痛药就可以控制。<br>
												如果感到热感建议冷敷会有帮助。<br>
												通过快速恢复项目进行快速恢复。<br>
												假体稳定前最好不要有冲击。
											</p>
											<div class="pain-v2__box">
												<p class="pain-v2__noti txt-new4">* 通过对术后患者进行问卷调查得出的平均值</p>
												<p class="pain-v2__noti txt-new4">* 从数据不存在绝对性，会存在个人差异，仅供大家作为参考。</p>
											</div>
											<!-- <a href="<?php echo SITE_UPLOAD_URL?>/knowledge/rhinoplasty.pdf" target="_blank" class="operation-v2__link"><span>术后注意事项</span></a> -->
										</div><!-- //pain -->
									</div>
								</div>
							</div>

			            </div>
	          			<!--手术详情-->
	        		</div><!-- //content-tab__page-->
	        		<!-- //驼峰鼻 磨骨术/修整 -->

		        	<div class="content-tab__page page-arrow">
		          		<div class="content-box__box">
		            		<div class="casetype-box1 type-arrow">
		              			<div class="casetype-box1__wrap">
		                			<div class="casetype-box1__box">
		                  				<h4 class="casetype-box1__tit">鹰钩鼻/长鼻整形</h4>
		                  				<div class="casetype-box1__bracket">
		                    				一样的手术也会有更满意的结果<br>
		                    				与<span>医生的感觉</span>是有关系的。
		                  				</div>
		                  				<p class="casetype-box1__txt">完成理想的鼻尖和角度。</p>
		                			</div>
		              			</div>
		              			<div class="casetype-box1__bg">
									<div class="comparison">
										<ul class="comparison__list">
											<li class="comparison__item nth-3"><span class="comparison__subject">before</span></li>
											<li class="comparison__item nth-4"><span class="comparison__subject">after</span></li>
										</ul>
									</div>
		              			</div>
		            		</div><!--//casetype-box1-->
		            		<div class="casetype-box2">
		              			<div class="quotation2">
		                			<p class="quotation2__txt txt-v5">
		                  				要理解决定长度的<span class="color-nose6">最终是比例和角度。</span>
		                			</p>
		              			</div>
		            		</div>
		            		<div class="casetype-box3">
		              			<ul class="casetype-box3__list">
		                			<li class="casetype-box3__item nth-1">
		                  				<div class="casetype-box3__img nth-2"></div>
		               	 			</li>
		                			<li class="casetype-box3__item nth-2">
		                  				<p class="casetype-box3__txt txt-v1">
											鹰钩鼻说的是比起面部整体均衡，鼻子长，下巴向下垂的情况。这个把鼻中隔软骨切断，调整鼻子长度，鼻尖向上提矫正的方式可以比较容易改善。<br><br>

		                    				所以看起来漂亮可能是另外一种意思。同样长度的鼻子线条，从人中开始到鼻子下面为止根据角度不同感觉也不同。<strong class="content-highlight type-case">结果缩小鼻子长度，提鼻尖，给患者最合适的角度完成形态的手术是对医生最重要的。</strong>需要优秀的美学感觉和丰富经验的佰诺佰琪是有自信的理由。
		                  				</p>
		                			</li>
		              			</ul>
		            		</div>
		            		<div class="list-box">
		              			<div class="list-box__box">
		                			<div class="list-box__wrap">
		                  				<div class="list-box__vertical">
		                    				<h5 class="list-box__tit tit-v3">
		                      					鼻部整形<br>
		                      					<strong>POINT</strong>
		                    				</h5>
		                  				</div>
		                			</div>
		              			</div>
		              			<ul class="list-box__list">
		                			<li class="list-box__item txt-v3">人中和鼻子下面的角度可以理想的矫正</li>
		                			<li class="list-box__item txt-v3">根据比例把长鼻整理一下，强调童颜</li>
		                			<li class="list-box__item txt-v3">把下垂的鼻尖向上提拉，显得更挺</li>
		              			</ul>
		            		</div>
		          		</div>
						<div class="new-section">
							<div class="new-section__wrap type-w">
								<div class="operation-v2 type-nose">
									<div class="operation-v2__wrap">
										<h4 class="operation-v2__tit">手术详情</h4>
										<!-- <p class="operation-v2__subtit">鹰钩鼻/长鼻整形恢复快</p> -->
										<ul class="operation-v2__list">
											<li class="operation-v2__item nth-1 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">手术时间</h5>
													<p class="operation-v2__txt txt-new1">约1小时30分~2小时</p>
												</div>
											</li>
											<li class="operation-v2__item nth-2 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">麻醉方法</h5>
													<p class="operation-v2__txt txt-new1">睡眠麻醉</p>
												</div>
											</li>
											<li class="operation-v2__item nth-3 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">拆线</h5>
													<p class="operation-v2__txt txt-new1">约5天后拆线</p>
												</div>
											</li>
											<li class="operation-v2__item nth-7 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">手术材料</h5>
													<p class="operation-v2__txt txt-new1">不需要</p>
												</div>
											</li>
											<li class="operation-v2__item nth-5 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">来院治疗</h5>
													<p class="operation-v2__txt txt-new1">约2次</p>
												</div>
											</li>
											<li class="operation-v2__item nth-6 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">恢复</h5>
													<p class="operation-v2__txt txt-new1">约5~7天后恢复日常生活</p>
												</div>
											</li>

										</ul>
										<div class="pain-v2 type-nose">
											<h5 class="pain-v2__tit txt-new2">术后体感疼痛</h5>
											<ol class="pain-v2__list">
												<% for(var i = 1; i<= 10; i++){%>
													<%if(i <= 2){%>
														<li class="<%="pain-v2__item is-active nth-"+i%>">
															<div class="pain-v2__square">square</div>
														</li>
													<%}else{%>
														<li class="<%="pain-v2__item nth-"+i%>">
															<div class="pain-v2__wrap">
																<div class="pain-v2__square">square</div>
															</div>
														</li>
													<%}%>
												<%}%>
											</ol>
											<p class="pain-v2__txt txt-new1">
												减轻因睡眠麻醉引起的痛症。<br>
												麻醉缓解后会有刺痛，会有些不舒服程度的痛症。<br>
												如果很不舒服建议服用止痛药，之后服用在药店买的止痛药就可以控制。<br>
												如果感到热感建议冷敷会有帮助。<br>
												通过快速恢复项目进行快速恢复。<br>
												假体稳定前最好不要有冲击。
											</p>
											<div class="pain-v2__box">
												<p class="pain-v2__noti txt-new4">* 通过对术后患者进行问卷调查得出的平均值</p>
												<p class="pain-v2__noti txt-new4">* 从数据不存在绝对性，会存在个人差异，仅供大家作为参考。</p>
											</div>
											<!-- <a href="<?php echo SITE_UPLOAD_URL?>/knowledge/rhinoplasty.pdf" target="_blank" class="operation-v2__link"><span>术后注意事项</span></a> -->
										</div><!-- //pain -->
									</div>
								</div>
							</div>

			            </div>
	          			<!--手术详情-->
		        	</div><!-- //content-tab__page-->
		        	<!-- //鹰钩鼻/长鼻整形 -->

		        	<div class="content-tab__page page-upturn low">
		          		<div class="content-box__box">
		            		<div class="casetype-box1 type-low">
		              			<div class="casetype-box1__wrap">
		                			<div class="casetype-box1__box">
		                  				<h4 class="casetype-box1__tit">들창코 / 짧은 코 성형</h4>
		                  				<p class="casetype-box1__txt2">
		                    				철저한 계산으로 무리 없이 곧게 늘려줍니다<br>
		                    				그래서 <strong>더 안전하고 자연스럽습니다</strong>
		                  				</p>
		                			</div>
		              			</div>
		              			<div class="casetype-box1__bg">
		                			<div class="comparison type-low">
		                  				<ul class="comparison__list">
		                    				<li class="comparison__item nth-5">
		                      					<span class="comparison__subject">before</span>
		                    				</li>
		                    				<li class="comparison__item nth-6">
						                      	<span class="comparison__subject">after</span>
		                    				</li>
		                  				</ul>
		                			</div>
		              			</div>
		            		</div><!--//casetype-box1-->
		            		<div class="casetype-box2">
		              			<div class="quotation2">
		                			<p class="quotation2__txt txt-v5">
		                  				인위적이기 때문에 부작용이 생기는 것입니다.<br class="hidden-pt">
		                  				<span class="inline-block"><span class="color-nose6">뼈와 피부의 자연스러움을 계산</span>할 수 있는<br class="hidden-pt"> 안목과 기술이 필요합니다.</span>
		                			</p>
		              			</div>
		            		</div>
		            		<div class="casetype-box3">
		              			<ul class="casetype-box3__list">
		                			<li class="casetype-box3__item nth-1">
		                  				<div class="casetype-box3__img nth-3"></div>
		                			</li>
		                			<li class="casetype-box3__item nth-2">
		                  				<p class="casetype-box3__txt txt-v1">
						                    코가 짧은 들창코는 교정하기 까다로운 케이스로 인식됩니다. 있는 것을 교정하는 것이 아닌， 없는 것을 새로 만들어야
						                    하는 수술이기 때문이죠. 이런 수술은 자칫 잘못 접근하게 되면 자연스럽지 못한 결과를 얻게 되거나 재발 위험 등의
						                    부작용이 있습니다. <br><br>


						                    그렇기 때문에  <strong class="content-highlight type-case">들창코 / 짧은 코 성형은 다년간 쌓아온 수술 경험을 토대로 한 철저한 계산과 세밀한 수술이
						                    필요합니다.</strong>  코 길이 연장에 필요한 자가연골이나 비중격 연골을 적합한 크기로 잘라 뼈의 부담을 줄이고， 피부의
						                    당김 정도까지 계산해 길이를 맞춰야 합니다. 그렇게 해야 코 끝이 틀어지거나 이전의 형태로 돌아가는 것을 막을 수
						                    있습니다. 이런 체계적인 계산으로 진행됐기에 더욱 자연스럽고 안전합니다.
		                  				</p>
		                			</li>
		              			</ul>
		            		</div>
		            		<div class="list-box">
		            			<div class="list-box__box">
		              				<div class="list-box__wrap">
		                				<div class="list-box__vertical">
		                  					<h3 class="list-box__tit tit-v3">
		                    					코성형<br class="hidden-m">
		                    					<strong>POINT</strong>
		                  					</h3>
		                				</div>
		              				</div>
		            			</div>
		            			<ul class="list-box__list">
		              				<li class="list-box__item txt-v3">짧은 길이의 코를 시원한 느낌으로 연장</li>
		              				<li class="list-box__item txt-v3">콧구멍의 노출을 줄여 단정한 이미지 강조</li>
		              				<li class="list-box__item txt-v3">섬세한 연장으로 자연스러움 추구</li>
		            			</ul>
		          			</div>
		          		</div>
		          		<div class="operation type-six type-case2">
		            		<div class="operation__wrapper type-case3">
		              			<div class="operation__area">
		                			<div class="operation__box">
		                  				<h4 class="operation__tit">수술정보</h4>
		                  				<p class="operation__sub-tit">들창코 / 짧은 코 성형은 회복이 빠릅니다</p>
		                  				<ul class="operation__list">
		                    				<li class="operation__item nth-1">
		                      					<div class="operation__wrap">
		                        					<h5 class="operation__item-tit">수술시간</h5>
		                        					<p class="operation__item-txt"><span class="inline-block">약 1시간 30분</span><span class="inline-block">~ 2시간</span></p>
		                      					</div>
		                    				</li>
		                    				<li class="operation__item nth-2">
		                      					<div class="operation__wrap">
		                        					<h5 class="operation__item-tit">마취방법</h5>
		                        					<p class="operation__item-txt"><span class="inline-block">수면마취</span></p>
		                      					</div>
		                    				</li>
		                    				<li class="operation__item nth-3">
		                      					<div class="operation__wrap">
		                        					<h5 class="operation__item-tit">실밥제거</h5>
		                        					<p class="operation__item-txt">약 5일</p>
		                      					</div>
		                    				</li>
		                    				<li class="operation__item nth-4">
		                      					<div class="operation__wrap">
		                        					<h5 class="operation__item-tit">회복</h5>
		                        					<p class="operation__item-txt">약 1일 후 <span class="inline-block">일상생활</span></p>
		                      					</div>
		                    				</li>
		                    				<li class="operation__item nth-5">
		                      					<div class="operation__wrap">
		                        					<h5 class="operation__item-tit">내원치료</h5>
		                        					<p class="operation__item-txt">
		                          						약 2회 내외
		                        					</p>
		                      					</div>
		                    				</li>
		                    				<li class="operation__item nth-7">
		                      					<div class="operation__wrap">
		                        					<h5 class="operation__item-tit">수술재료</h5>
		                        					<p class="operation__item-txt">
		                          						<span class="inline-block">필요없음</span>
		                        					</p>
		                      					</div>
		                    				</li>
		                  				</ul><!-- //operation__list-->
		                  				<div class="operation__pain">
		                    				<h5 class="operation__pain-tit">수술 후 체감 통증</h5>
		                    				<div class="status-bar type-nose2">
		                      					<div class="status-bar__wrap">수술 후 체감 통증 이미지</div>
		                    				</div>
						                    <p class="operation__pain-txt"><span class="color-nose7">수면마취</span>로 인한 통증 걱정은 줄였습니다.</p>
						                    <p class="operation__pain-txt">마취가 풀리면서 욱신거리고 약간의 불쾌감을 동반하는 정도의 통증을 느끼게 됩니다. </p>
						                    <p class="operation__pain-txt">많이 불편하신 분들께는 진통제 복용을 권유해드립니다. 이후 약국에서 파는 진통제 정도로 제어할 수 있습니다.</p>
						                    <p class="operation__pain-txt">열감이 느껴지신다면 냉찜질을 하시는 것도 도움이 됩니다. </p>
						                    <p class="operation__pain-txt">래피드 힐링 프로젝트를 통해 비교적 빠른 회복이 가능합니다. </p>
						                    <p class="operation__pain-txt">보형물이 자리 잡을 때까지 충격을 주지 않는 것이 중요합니다. </p>
			                    			<ul class="operation__noti">
			                      				<li class="operation__noti-txt">* 실제 수술하신 환자분들의 수술 후 설문 자료를 통해 평균을 냈습니다. </li>
			                      				<li class="operation__noti-txt">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</li>
			                    			</ul>
			                  			</div>
		                			</div>
		               	 			<!-- //operation__box -->
		              			</div>
		              			<!-- //operation__wrap -->
		            		</div><!--operation-->
		            		<!--operation-->
		          		</div>
		          		<!--수술정보-->
		        	</div><!-- //content-tab__body-->
		        	<!-- //들창코 / 짧은 코 성형 -->

			        <div class="content-tab__page page-bend bend">
			          	<div class="content-box__box">
			            	<div class="casetype-box1 type-bend">
			              		<div class="casetype-box1__wrap">
			                		<div class="casetype-box1__box">
			                  			<h4 class="casetype-box1__tit">휜 코 교정술</h4>
			                  			<p class="casetype-box1__txt2">
			                    			<strong class="color-nose6">코의 기능적 문제</strong>를 본질적으로 바로잡는다면<br>
			                    			모양은 저절로 아름다워집니다.
			                  			</p>
			                		</div>
			              		</div>
			              		<div class="casetype-box1__bg">
			                		<div class="comparison type-bend">
			                  			<ul class="comparison__list">
			                    			<li class="comparison__item nth-7">
			                      				<span class="comparison__subject">before</span>
			                    			</li>
			                    			<li class="comparison__item nth-8">
			                      				<span class="comparison__subject">after</span>
			                    			</li>
			                  			</ul>
			                		</div>
			              		</div>
			            	</div><!--//casetype-box1-->
			            	<div class="casetype-box2">
			              		<div class="quotation2">
			                		<p class="quotation2__txt txt-v5">
			                  			복잡한 코의 내부까지 교정하는 것은<br class="hidden-pt"> 까다롭습니다.<br class="hidden-m"> 하지만 <span class="color-nose6">근본적인<br class="hidden-pt"> 문제 해결</span>을 위해 반드시 해야 합니다.
			                		</p>
			              		</div>
			            	</div>
			            	<div class="casetype-box3">
			              		<ul class="casetype-box3__list">
			                		<li class="casetype-box3__item nth-1">
			                  			<div class="casetype-box3__img nth-4"></div>
			                		</li>
			                		<li class="casetype-box3__item nth-2">
			                  			<p class="casetype-box3__txt txt-v1">
			                    			휜 코를 겉만 바르게 돌리려는 것은 의미가 없습니다. 대부분의 경우， 휜 코는 내부를
			                    			구성하는 조직들이 전체적으로 함께 휘어져 있기 때문입니다. 그래서 휜 코는 외형적인 콤플렉스뿐만 아니라
			                    			기능적인 문제를 동반하기도 합니다.<br><br>


			                    			특히 비중격이 심하게 휘어있을 경우에는 코막힘， 비염， 코골이， 편두통 등을 유발하는데요， 이를 바로잡기 위해서는
			                    			<strong class="content-highlight type-case">초기 진단 과정에서 코의 내부를 정확히 파악하고 비중격 성형술이나내-외측 절골술， 외측연골 교정 등
			                      			복합적인 수술을 상태에 맞게 진행하는 것이 중요합니다. </strong>
			                    			건물을 바로 세우듯이 코의 기본 뼈대와 구성 조직을 반듯하게 하는 것이죠. 물론 이런 내부 조직의 복합적인 수술을
			                    			정밀하게 진행하기 위해서는 고도의 전문성과 경험을 갖춘 의사가 집도해야 합니다. 
			                  			</p>
			                		</li>
			              		</ul>
			            	</div>
			            	<div class="list-box">
			            		<div class="list-box__box">
			              			<div class="list-box__wrap">
			                			<div class="list-box__vertical">
			                  				<h5 class="list-box__tit tit-v3">
			                    				코성형<br class="hidden-m">
			                    				<strong>POINT</strong>
			                  				</h5>
			                			</div>
			              			</div>
			            		</div>
			            		<ul class="list-box__list">
			              			<li class="list-box__item txt-v3">코의 구조적 바탕을 교정하여 코의 기능을 원활하게</li>
			              			<li class="list-box__item txt-v3">얼굴의 전체적인 휘어짐과 근육의 발달을 파악해 자연스럽고 곧은 이미지 추구</li>
			            		</ul>
			          		</div>
			          	</div>
			          	<div class="operation type-six type-case2">
			            	<div class="operation__wrapper type-case4">
			              		<div class="operation__area">
			                		<div class="operation__box">
			                  			<h4 class="operation__tit">수술정보</h4>
			                  			<p class="operation__sub-tit">휜 코 교정술은 회복이 빠릅니다</p>
			                  			<ul class="operation__list">
			                    			<li class="operation__item nth-1">
			                      				<div class="operation__wrap">
			                        				<h5 class="operation__item-tit">수술시간</h5>
			                        				<p class="operation__item-txt"><span class="inline-block">약 1시간 30분</span><span class="inline-block">~ 2시간</span></p>
			                      				</div>
			                    			</li>
			                    			<li class="operation__item nth-2">
			                      				<div class="operation__wrap">
			                        				<h5 class="operation__item-tit">마취방법</h5>
			                        				<p class="operation__item-txt"><span class="inline-block">전신마취</span></p>
			                      				</div>
			                    			</li>
			                    			<li class="operation__item nth-3">
			                      				<div class="operation__wrap">
			                        				<h5 class="operation__item-tit">실밥제거</h5>
			                        				<p class="operation__item-txt">약 5일</p>
			                      				</div>
			                    			</li>
			                    			<li class="operation__item nth-4">
			                      				<div class="operation__wrap">
			                        				<h5 class="operation__item-tit">회복</h5>
			                        				<p class="operation__item-txt">약 1일 후<span class="inline-block">일상생활</span></p>
			                      				</div>
			                    			</li>
			                    			<li class="operation__item nth-5">
			                      				<div class="operation__wrap">
			                        				<h5 class="operation__item-tit">내원치료</h5>
			                        				<p class="operation__item-txt">
			                          					약 2회 내외
			                        				</p>
			                      				</div>
			                    			</li>
			                    			<li class="operation__item nth-7">
			                      				<div class="operation__wrap">
			                        				<h5 class="operation__item-tit">수술재료</h5>
			                        				<p class="operation__item-txt">
			                          					<span class="inline-block">실리콘 등</span>
			                        				</p>
			                      				</div>
			                    			</li>
			                  			</ul><!-- //operation__list-->
			                  			<div class="operation__pain">
			                    			<h5 class="operation__pain-tit">수술 후 체감 통증</h5>
			                    			<div class="status-bar type-nose2">
			                      				<div class="status-bar__wrap">수술 후 체감 통증 이미지</div>
			                    			</div>
						                    <p class="operation__pain-txt"><span class="color-nose7">수면마취</span>로 인한 통증 걱정은 줄였습니다. </p>
						                    <p class="operation__pain-txt">마취가 풀리면서 욱신거리고 약간의 불쾌감을 동반하는 정도의 통증을 느끼게 됩니다. </p>
						                    <p class="operation__pain-txt">많이 불편하신 분들께는 진통제 복용을 권유해드립니다. 이후 약국에서 파는 진통제 정도로 제어할 수 있습니다.</p>
						                    <p class="operation__pain-txt">열감이 느껴지신다면 냉찜질을 하시는 것도 도움이 됩니다. </p>
						                    <p class="operation__pain-txt">래피드 힐링 프로젝트를 통해 비교적 빠른 회복이 가능합니다. </p>
						                    <p class="operation__pain-txt">보형물이 자리 잡을 때까지 충격을 주지 않는 것이 중요합니다.</p>
			                    			<ul class="operation__noti">
			                      				<li class="operation__noti-txt">* 실제 수술하신 환자분들의 수술 후 설문 자료를 통해 평균을 냈습니다. </li>
			                      				<li class="operation__noti-txt">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</li>
			                    			</ul>
			                  			</div>
			                		</div>
			                		<!-- //operation__box -->
			              		</div>
			              		<!-- //operation__wrap -->
			            	</div><!--operation-->
			            	<!--operation-->
			          	</div>
			          	<!--수술정보-->
			          	<!-- //들창코 / 짧은 코 성형 -->
			        </div><!-- //content-tab__page-->
	    		</div>
			</div>
		</div>
	</div><!-- //content-->

	<% include ../_include/_bfaf %>
</div><!-- //container-->
<% include ../_include/_footer %>
