<%
	type = "detail"
	page = "nose"
%>
<% include ../_include/_header %>

<!-- Content -->
<div class="nose detail-common">
    <section class="fs_section noseFirst js-first" data-section-name="home">
		<div class="detail__inner">
			<div class="detail__vertical">
				<p class="detail__first-tit type-nose">
					脸型<span class="color-nose0">的搭配</span><span class="style-comma">，</span> 填充物<span class="color-nose0">的协调</span>
					<span class="detail__first-piece type-nose">手术方法<span class="color-nose0">的搭配</span></span>
				</p>
				<h3 class="detail__first-txt type-nose">
					<span class="detail__first-bwrap">真正适合的整形<b class="detail__first-bar type-nose"></b></span><br>
					<strong class="detail__first-point">佰诺佰琪 <span class="color-nose1">鼻部整形</span>细节</strong>
				</h3>
			</div>
		</div>
		<div class="scroll">
			<div class="inner">
				<i></i>
			</div>
			<em>SCROLL</em>
		</div>
    </section>

    <section class="fs_section noseSection01" data-section-name="noseSection01">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="detail__section-box type-normal type-nose">
	              	<h4 class="detail__section-tit">
	                	<strong>鼻部整形</strong><span class="color-comma">，</span><br>
						<span class="detail__section-bwrap">佰诺佰琪</span><br class="hidden-m">
						<strong class="color-nose1">是这样</strong>做的
	              	</h4>
	              	<p class="detail__section-subtit">从多角度出发，考虑到顾客的印象，<br class="hidden-pt">1:1商谈确定方案。</p>
	              	<p class="detail__section-txt">
					  	不管多漂亮的鼻子也会因为不同的人
					  	而显得不好看。因为鼻子处于脸的
					 	正中央，根据眼睛，嘴，脸型
					  	等行成相对性。
					  	所以，佰诺佰琪的鼻整形考虑到患者本人
						<span class="color-nose2">脸型的协调和比率的重要性，符合患者本人的形象，提出最理想的手术方案。</span>
	              	</p>
	            </div>
			</div>
		</div>
    </section>

	<section class="fs_section noseSection02" data-section-name="noseSection02">
	  	<div class="detail__inner">
			<div class="detail__vertical">
			  	<div class="detail__section-box type-nose type-wide type-quotation2">
				  	<h4 class="detail__section-tit">
					  	<strong>鼻部整形</strong><span class="color-comma">，</span><br>
					  	<span class="detail__section-bwrap">佰诺佰琪</span><br>
					  	充满<strong class="color-nose1">自信</strong>
				  	</h4>
				  	<p class="detail__section-subtit">鼻整形方法的多样性，<br>以及可能实现的技术能力。</p>
				  	<p class="detail__section-txt">
						为了漂亮的鼻子，鼻子的高度，长度，鼻尖的模样，骨头的宽度，皮肤的厚度，鼻孔，假体的种类等需要考虑的地方都是商谈的重点。所以鼻整形是需要通过复杂的设计完成的手术。
						<span class="color-nose3">佰诺佰琪通过多年间累积的技术经验基本所有的鼻整形手术都能进行</span>，
						就算是同样的手术也一律不相同。
				  	</p>
			  	</div>
			</div>
		</div>
	</section>

	<section class="fs_section noseSection03" data-section-name="noseSection03">
		<div class="detail__inner">
	  		<div class="detail__vertical">
	  			<div class="detail__section-box type-wide type-nose">
	  				<h4 class="detail__section-tit">
	  					<strong>鼻部整形</strong><span class="color-comma">，</span><br>
	  					<span class="detail__section-bwrap">佰诺佰琪</span><br class="hidden-m">
	  					技艺<strong class="color-nose1">娴熟</strong>
	  				</h4>
	  				<p class="detail__section-subtit">鼻整形材料的系统化选择和布局</p>
	  				<p class="detail__section-txt">
						假体和自体组织，哪样更加理想，更加安全是很难解释说明的。根据鼻子的模样和皮肤的特性不同，标准也会变得不一样。比起问鼻整形使用什么材料比较好，了解该如果恰当使用更加重要。正是因为
						<span class="color-nose2">佰诺佰琪鼻整形团队利用多年间积累的数据和经验来选择材料</span>
						，让手术更加安心，鼻子变的更加漂亮。
	  				</p>
	  			</div>
				<!-- layer-doc4 -->
				<div class="layer-doc4 type-nose">
				  	<ul class="layer-doc4__list">
				  		<li class="layer-doc4__item nth-1">
				  			<div class="layer-doc4__wrap">
				  				<h5 class="layer-doc4__tit">鼻整形材料</h5>
				  			</div>
				  		</li>
				  		<li class="layer-doc4__item nth-2">
							<div class="layer-doc4__wrap">
				  				<h5 class="layer-doc4__tit">自体组织</h5>
								<p class="layer-doc4__txt">
									耳软骨，鼻中隔软骨，自体真皮，脂肪组织等…
								</p>
				  			</div>
				  		</li>
				  		<li class="layer-doc4__item nth-3">
							<div class="layer-doc4__wrap">
				  				<h5 class="layer-doc4__tit">人工假体</h5>
								<p class="layer-doc4__txt">
									硅胶，Gore tex ，Siligore等..
								</p>
				  			</div>
				  		</li>
				  	</ul>
				</div>
				<!-- //layer-doc4 -->
	  		</div>
		</div>
    </section>

	<section class="fs_section noseSection04" data-section-name="noseSection04">
		<div class="detail__inner type-full">
			<div class="detail__popup type-nose">
				<div class="detail__popup-wrap">
					<h5 class="detail__popup-tit">RAPID HEALING 项目<span class="color-nose1">.</span></h5>
					<p class="detail__popup-subtit">帮助浮肿，淤青，痛症减轻30%-50%的护理项目</p>
					<div class="detail__popup-scroll">
						<ul class="detail__popup-list">
							<li class="detail__popup-item nth-1">
								<div class="detail__popup-box">
									<h6 class="detail__popup-subject">精巧的手术方法</h6>
									<p class="detail__popup-txt">利用丰富的临床经验和高难度的手术技巧，调节手术时发生的损伤和出血量至最低。</p>
								</div>
							</li>
							<li class="detail__popup-item nth-2">
								<div class="detail__popup-box">
									<h6 class="detail__popup-subject">手术前后药物治疗</h6>
									<p class="detail__popup-txt">以缜密的检查结果作为基础 ，结合适合病人的药物一同进行治疗 ，这样助于更加快速的恢复。</p>
								</div>
							</li>
							<li class="detail__popup-item nth-3">
								<div class="detail__popup-box">
									<h6 class="detail__popup-subject">Rapid Healing服用药</h6>
									<p class="detail__popup-txt">手术前后促进微细血液 循环活性化，服用RapidHealing药物 ，有助于缓 解浮肿，淤血和减少疼痛感。</p>
								</div>
							</li>
							<li class="detail__popup-item nth-4">
								<div class="detail__popup-box">
									<h6 class="detail__popup-subject">Cica Bio Arnica Extractim Cream</h6>
									<p class="detail__popup-txt">快速涂抹的面霜治疗剂，为了缓解疼痛和减少浮肿以及淤青。</p>
								</div>
							</li>
							<li class="detail__popup-item nth-5">
								<div class="detail__popup-box">
									<h6 class="detail__popup-subject">Calm Laser</h6>
									<p class="detail__popup-txt">利用激光治疗仪器，有效缓解疼痛，起到消炎作用，对于浮肿的吸收具有显著地效果。</p>
								</div>
							</li>
						</ul>
					</div>
					<a href="" class="detail__popup-close js-popup-close">关闭</a>
				</div>
			</div>
  			<div class="detail__section-wrap type-nose">
  				<div class="detail__vertical">
  					<div class="detail__section-box type-wide type-right type-nose type-quotation2">
						<h4 class="detail__section-tit">
							<strong>鼻部整形</strong><span class="color-comma">，</span><br>
							<span class="detail__section-bwrap">佰诺佰琪</span><br>
							强调<strong class="color-nose4">细节</strong>
						</h4>
						<p class="detail__section-subtit">通过和患者的交流行成的恢复体系，Rapid Healing项目</p>
						<p class="detail__section-txt">
							从现在鼻整形不难看出很多患者
							对于手术结果或者是恢复时间，
							浮肿，淤青，痛症等情况非常担心。佰诺佰琪正是了解到患者们的心理，
							<span class="color-nose4">术后恢复期间积极的指导快捷的治疗程序，进行Rapid Healing项目。</span>
						</p>
					</div>
  				</div>
  			</div>
  		</div>
		<div class="detail__section-bottom type-nose">
			<div class="detail__section-set">
				佰诺佰琪的快速恢复项目
				<span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open type-nose">팝업버튼</a></span>
			</div>
		</div>
    </section>

	<section class="fs_section noseSection05" data-section-name="noseSection05">
		<div class="detail__inner type-full">
    		<div class="detail__section-wrap type-nose type-another">
    			<div class="detail__vertical">
    				<div class="detail__section-box type-normal type-right type-nose type-quotation2">
	  					<h4 class="detail__section-tit">
	  						<strong>鼻部整形</strong><span class="color-comma">，</span><br>
	  						聆听<strong class="detail__section-bwrap color-nose4">患者的声音</strong>
	  					</h4>
	  					<p class="detail__section-subtit">鼻部整形专家小组，<br class="hidden-t">不间断的进行定期会议的理由</p>
	  					<p class="detail__section-txt">
							<span class="color-nose4">佰诺佰琪鼻部整形专家小组 ，为了手术的完成度，每个月定期进行2次会议。</span>
							主刀院长，商谈组，护理组，治疗管理组等鼻部整形相关部门的职员聚集在一起，针对个别患者的案例进行分析，患者们术后的不便事项进行检查，对于特殊的个别案例进行激烈的讨论，进行专业知识的教育，一样都不懈怠。要做到月复一月的进行虽然是比较困难的事情，但是这 <?=$sinceYear?>年间丝毫没有忽略过。现在的佰诺佰琪能考虑到细节。为了更加突出的诊疗，更加满意的手术，更加舒适的医疗服务，佰诺佰琪正在努力。
	  					</p>
	  				</div>
					<div class="layer-img"></div>
    			</div>

    		</div>
    	</div>
    </section>
</div>
<!-- //Content -->

<% include ../_include/_footer %>
