<%
	type = "content"
	page = "nose"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
	<!-- visual -->
	<div class="content-visual type-nose-reduction">
		<div class="content-visual__box">
			<div class="content-visual__border type-nose-reduction">
				<p class="content-visual__txt1 type-nose-reduction">自然贴合整个面部的协调</p>
				<h3 class="content-visual__tit type-nose-reduction">#<span class="type-nose-reduction">大鼻子缩小术</span></h3>
				<p class="content-visual__txt2 type-nose-reduction">符合比例更加突出</p>
			</div>
		</div>
	</div>
	<!-- //visual -->

	<!-- content -->
	<div class="content">
		<div class="content-wrap">
	      	<div class="reduction-box1">
	        	<div class="content-section type-first">
	          		<h4 class="content-section__tit type-top">
	            		<span class="content-section__number"><span class="content-section__number-wrap">01</span></span>
	            		<strong>鼻子大的话，</strong><br class="hidden-pt">脸部其它部位的美丽<br class="hidden-t"><strong>很难</strong>彰显出来
	          		</h4>
	          		<div class="content-section__wrapper clearfix">
	            		<div class="content-section__thumb type-unique">
	              			<img class="hidden-m" src="../../images/nose/need-01-pt.png" alt="img">
	              			<img class="hidden-pt" src="../../images/nose/need-01-m.png" alt="img">
	            		</div>
	            		<div class="content-section__txt-box type-unique">
		              		<p class="content-section__txt1">
								鼻子位于脸部正中位置，作为最立体的器官当然是脸部最为凸显的部位。<br>
		                		<strong class="type-bigger">如果鼻子相对别的部位显得大的话会怎样呢?</strong>
		              		</p>
		              		<p class="content-section__txt1">
		                		<span class="content-highlight type-nose-reduction1">这个时候需要<strong>大鼻子缩小术</strong></span><br>
								大鼻子缩小术是整体性的符合脸部的比例改善鼻子大小的手术，给人以鼻子自身干练的感觉的同时，让脸部别的部位也能彰显出来。此外，由于面部整体达到均衡，从而使面部保持协调，看起来更加鲜明的效果
		              		</p>
	              			<div class="reduction-effects quotation2">
		                		<h5 class="reduction-effects__tit tit-v2">
		                  			大鼻子缩小术的效果
		                		</h5>
		                		<ol class="reduction-effects__list">
		                  			<li class="reduction-effects__item">
		                    			<span class="reduction-effects__numbering">01</span>
		                    			<p class="reduction-effects__txt1">变的更加清晰的印象</p>
		                  			</li>
		                  			<li class="reduction-effects__item">
		                    			<span class="reduction-effects__numbering">02</span>
		                    			<p class="reduction-effects__txt1">温柔干练的鼻子模样</p>
		                  			</li>
		                  			<li class="reduction-effects__item">
		                    			<span class="reduction-effects__numbering">03</span>
		                    			<p class="reduction-effects__txt1">更加彰显脸部立体感</p>
		                  			</li>
		                		</ol>
	              			</div>
	            		</div>
	          		</div>
	        	</div>
	    	</div>
		    <div class="reduction-box2">
		        <div class="ideal-reduction">
		          	<h5 class="ideal-reduction__tit">
		            	理想的<strong class="content-highlight type-nose-reduction3">大鼻子缩小术</strong>
		          	</h5>
		          	<div class="ideal-reduction__wrapper">
		            	<div class="ideal-reduction__wrapper type-bg-t">
		              		理想的大鼻子缩小术
		            	</div>
		            	<div class="ideal-reduction__wrapper type-bg">
		              		理想的大鼻子缩小术
		              		<div class="reduction-effects quotation2">
			                	<ol class="reduction-effects__list">
		                 	 		<li class="reduction-effects__item">
		                    			<span class="reduction-effects__numbering">01</span>
		                    			<p class="reduction-effects__txt1">符合比例的大小</p>
		                  			</li>
		                  			<li class="reduction-effects__item">
		                    			<span class="reduction-effects__numbering">02</span>
		                    			<p class="reduction-effects__txt1">三维大小的调整</p>
		                  			</li>
		                  			<li class="reduction-effects__item">
		                    			<span class="reduction-effects__numbering">03</span>
			                    		<p class="reduction-effects__txt1">和自身形象相符的模样</p>
			                  		</li>
		                		</ol>
		              		</div>
		            	</div>
		          	</div>
		        </div>
		        <!-- content-section -->
		    </div>
		    <div class="reduction-box3">
		        <div class="content-section">
		          	<div class="content-section__wrapper type-bg">
		            	<h4 class="content-section__tit type-center">
		              		<span class="content-section__number"><span class="content-section__number-wrap">02</span></span>
		              		<span class="content-highlight type-nose-reduction2">因为是复合型的手术</span><br>专家院长的实力是非常<strong>重要的</strong>
		            	</h4>
		            	<p class="content-section__txt1">
							大鼻子缩小手术是从构成最基本形态的鼻骨开始，软骨，软部组织到几乎所有组织都需要矫正的手术。
		            	</p>
		            	<p class="content-section__txt1">
							厚实而紧密的鼻部上部，通过外侧削骨术向内侧汇集鼻骨，并通过内侧削骨术缩小其宽度。
							鼻子的底部要保持一定的高度或者是提高高度的同时，
							围着鼻中隔的部位，对外侧软骨和鼻翼的软骨进行缩小并重新分配。
							抓住基本的整体大小之后，调整鼻尖，缩小鼻翼宽度，抓住模样
		            	</p>
		            	<p class="content-section__txt3 txt-v5">
		              		因为这是需要复合性改善的手术<br>
		              		大鼻子缩小术，对鼻部整形拥有 <span class="color-reduction2">全面化的理解</span>和拥有<br class="hidden-pt"> <span class="color-reduction2">丰富经验</span>的专业医生执刀尤为重要
		            	</p>
		            	<div class="content-section__wrapper face">
		              		外侧削骨术 + 内侧削骨术 + 鼻中隔矫正 + 鼻尖整形 + 鼻翼缩小
		            	</div>
		          	</div>
		          	<div class="content-section__wrapper type-bg2">
		            	<div class="nose-team">
		              		<h5 class="nose-team__tit">
		                		佰诺佰琪<strong>鼻整形专家团队</strong>
		              		</h5>
		              		<p class="nose-team__txt1">
		                		<strong>鼻部整形专家团队</strong>通过丰富的鼻整形经验<br class="hidden-m">完成本人想要的类型的鼻部形状，在任何角度突显鼻部形状，彰显魅力。
		              		</p>
		              		<div class="nose-team__thumb">
		                		<img class="hidden-tm" src="../../images/nose/docs-p.png" alt="整形外科专家 金載坤 院长， 整形外科专家 金学永 院长， 整形外科专家 韩圭南 院长， 整形外科专家 李贤择 院长， 整形外科专家 盧溶駿 院长">
		                		<img class="hidden-pm" src="../../images/nose/docs-t.png" alt="整形外科专家 金載坤 院长， 整形外科专家 金学永 院长， 整形外科专家 韩圭南 院长， 整形外科专家 李贤择 院长， 整形外科专家 盧溶駿 院长">
		                		<img class="hidden-pt" src="../../images/nose/docs-m.png" alt="整形外科专家 金載坤 院长， 整形外科专家 金学永 院长， 整形外科专家 韩圭南 院长， 整形外科专家 李贤择 院长， 整形外科专家 盧溶駿 院长">
		              		</div>
		            	</div>
		          	</div>
		        </div>
		        <!-- content-section -->
		    </div>
			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-nose">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">手术详情</h4>
							<!-- <p class="operation-v2__subtit">佰诺佰琪大鼻子缩小整形快速恢复</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">手术时间</h5>
										<p class="operation-v2__txt txt-new1">约1小时30分~2小时</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">麻醉方法</h5>
										<p class="operation-v2__txt txt-new1">睡眠麻醉/全身麻醉</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">拆线</h5>
										<p class="operation-v2__txt txt-new1">约5天后拆线</p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">手术材料</h5>
										<p class="operation-v2__txt txt-new1">自体真皮，硅胶等</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">来院治疗</h5>
										<p class="operation-v2__txt txt-new1">约2次</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">恢复</h5>
										<p class="operation-v2__txt txt-new1">约5~7天后恢复日常生活</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-nose">
								<h5 class="pain-v2__tit txt-new2">术后体感疼痛</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 2){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">square</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">square</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									通过<span class="color-nose5">Lappid healing项目</span>助于术后更加快速的恢复。<br>
									解麻药的过程中可能会有阵阵刺痛的感觉，等时间过去痛感会慢慢消失。<br>
									拆线或是消毒的时候会觉得有些疼的感觉。<br>
									针对浮肿和产生热感的现象可以通过服用处方止痛药进行缓解，同时冷敷也有助于缓解这一现象。
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* 通过对术后患者进行问卷调查得出的平均值</p>
									<p class="pain-v2__noti txt-new4">* 从数据不存在绝对性，会存在个人差异，仅供大家作为参考。</p>
								</div>
								<!-- <a href="<?php echo SITE_UPLOAD_URL?>/knowledge/rhinoplasty.pdf" target="_blank" class="operation-v2__link"><span>术后注意事项</span></a> -->
							</div><!-- //pain -->
						</div>
					</div>
				</div>

            </div>
		</div>
	</div><!-- //content -->

	<% include ../_include/_bfaf %>
</div><!-- //container-->
<% include ../_include/_footer %>
