<%
	type = "content"
	page = "nose"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
    <div class="content" data-page="nose-apex">
		<% include ../_include/_tooltip %>
		<div class="new-visual type-apex">
			<div class="new-visual__box">
				<div class="new-visual__outer">
					<div class="new-visual__inner">
						<p class="new-visual__subtit">时尚翘鼻魅力的关键</p>
						<h3 class="new-visual__tit"><span class="n-color-nose2">鼻尖</span>整形</h3>
						<p class="new-visual__txt">从面部中心绽放的精致美丽</p>
						<ul class="new-visual__list">
							<li class="new-visual__item"><span>#时尚的感觉</span></li>
							<li class="new-visual__item"><span>#童颜的印象</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- //new-visual-->
        <div class="new-content-wrap">
			<div class="new-section">
				<div class="section-normal type-apex">
					<div class="section-normal__wrap">
						<p class="section-normal__eng txt-new1">BANOBAGI NOSE SURGERY</p>
					 	<h4 class="section-normal__tit tit-new1">
							面部中最<span class="n-color-nose2">立体的部位鼻尖</span>，<br class="hidden-tm">
							小变化也会给人不一样的印象。
						</h4>
					 	<p class="section-normal__txt2 txt-new1">
					 		<span class="color-black1">鼻尖由鼻梁和鼻翼组成，鼻柱部位是鼻子的中心，可以说是鼻子最明显的部位。</span><br>
							所以非常细微鼻尖的形状，整体印象会不同。最理想的鼻尖位置在鼻子中心线位置，跟鼻梁的高度一致，自然的高挺，在几乎看不到的高度。
					 	</p>
						<p class="section-normal__txt1 txt-new2">
					 		但是大部分亚洲人有鼻尖皮肤厚，软骨小的特征。<br class="hidden-tm">
							所以相对鼻尖粗短，下垂，印象会笨拙的情况比较多。<br class="hidden-tm">
					 		<span class="n-color-nose2">这样的情况可以通过鼻尖整形塑形鼻尖的位置和模样，有着更加时尚立体感的印象。</span>
					 	</p>
						<ul class="section-normal__list type-mbig">
					 		<li class="section-normal__item"><div class="vertical-box">童颜<br> 印象</div></li>
					 		<li class="section-normal__item"><div class="vertical-box">强调<br> 时尚感觉</div></li>
					 		<li class="section-normal__item"><div class="vertical-box">活跃的<br> 面部<br> 立体感</div></li>
					 	</ul>
					</div>
					<div class="section-normal__img">
						<img src="../../images/nose/apex/apex_img_1.png" class="img-normal" alt="model">
					</div>
				</div>
			</div><!-- //new-section-->
			<div class="new-section">
				<div class="new-explan type-apex type-white">
					<h5 class="new-content-tit tit-new2">理想的鼻尖位置和比例</h5>
					<ul class="new-explan__list">
						<li class="new-explan__item">
							<div class="new-explan__img">
								<img src="../../images/nose/apex/apex_explan_1.jpg" alt="" class="img-w100">
							</div>
						</li>
						<li class="new-explan__item">
							<div class="new-explan__img">
								<img src="../../images/nose/apex/apex_explan_2.jpg" alt="" class="img-w100">
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="new-tab__line">line</div>
			<div class="new-tab type-nose">
				<div class="new-tab__tit">
					<div class="new-tab__wrap">
						<a href="" class="new-tab__btn">鼻尖整形</a>
					</div>
				</div>
				<ul class="new-tab__list">
					<li class="new-tab__item is-active">
						<div class="new-tab__wrap">
							<a href="page-apex" class="new-tab__link">鼻尖整形</a>
						</div>
					</li>
					<li class="new-tab__item">
						<div class="new-tab__wrap">
							<a href="page-columellar" class="new-tab__link">鼻柱整形</a>
						</div>
					</li>
					<li class="new-tab__item">
						<div class="new-tab__wrap">
							<a href="page-alar" class="new-tab__link">鼻翼矫正术</a>
						</div>
					</li>
				</ul>
			</div>
			<div class="new-tab-content page-apex is-active">
				<div class="new-section type-cling">
					<div class="new-style1 type-apex type-bottom">
						<h4 class="new-style1__tit tit-new1 weight-regular"><span class="n-color-nose2">根据个人鼻尖状态定制</span>更加有效果的手术。</h4>
						<p class="new-style1__txt txt-new1">
							鼻子每个人模样不同，构造也是非常复合的组织。<br class="hidden-tm">
							为了成功的鼻整形需要通过充分的咨询和诊疗找到适合的方法。<br class="hidden-tm">
							同样鼻尖整形根据患者的状态手术内容会不同。
						</p>
						<p class="new-style1__txt2 txt-new2">
							佰诺佰琪鼻尖整形代表案例分为<span class="n-color-nose2">鼻尖模样某种程度上有一定形态</span>和<br class="hidden-tm"><span class="n-color-nose2">鼻尖比较宽的情况，</span>根据鼻尖周围的形态手术内容会有所不同<span class="n-color-nose2">为了满意的鼻尖整形会继续努力。</span>
						</p>
						<div class="new-style1__img">
							<img src="../../images/nose/apex/apex_img_2.jpg" alt="" class="img-normal hidden-m"/>
							<img src="../../images/nose/apex/apex_img_2.jpg" alt="" class="img-normal hidden-pt"/>
						</div>
						<div class="inner-box">
							<div class="img-style1">
								<h5 class="new-content-tit tit-new2">鼻尖的模样某种程度上拥有的情况</h5>
								<ul class="img-style1__list">
									<li class="img-style1__item">
										<img src="../../images/nose/apex/apex_img_3.jpg" class="img-w100" alt="鼻尖的模样某种程度上拥有的情况"/>
									</li>
								</ul>
								<p class="img-style1__txt txt-new1 type-mt">
									这是不需要做大手术的情况。<span class="n-color-nose2">*鼻中隔软骨</span>或者<span class="n-color-nose2">*耳软骨</span>等把自体软骨雕刻成盾牌或者钻石模样，在合适的位置固定。鼻尖变高的话鼻梁高度会变得不自然，如果同时做鼻梁手术，会得到更加满意的鼻尖整形。
								</p>
							</div>
							<div class="inner-stripe">
								<ul class="inner-stripe__list">
									<li class="inner-stripe__item">
										<div class="inner-stripe__wrap">
											<div class="inner-stripe__box">
												<div class="inner-stripe__img">
													<img src="../../images/nose/apex/apex_icon_1.png" alt="鼻中隔软骨" class="img-responsive">
												</div>
											</div>
											<p class="inner-stripe__subject txt-new1 n-color-nose2">*鼻中隔软骨</p>
											<p class="inner-stripe__txt txt-new1">
												鼻中隔软骨是指鼻孔里面，鼻骨下面隧道形态存在的软骨。使用时会提取完整的里面骨骼，所以从生理，功能方面几乎没有损伤，反而会有呼吸方便的情况。为了塑形鼻尖模样，用平整坚硬的特点，使用于支撑鼻尖的鼻柱。
											</p>
										</div>
									</li>
									<li class="inner-stripe__item">
										<div class="inner-stripe__wrap">
											<div class="inner-stripe__box">
												<div class="inner-stripe__img">
													<img src="../../images/nose/apex/apex_icon_2.png" alt="耳软骨" class="img-responsive">
												</div>
											</div>
											<p class="inner-stripe__subject txt-new1 n-color-nose2">*耳软骨</p>
											<p class="inner-stripe__txt txt-new1">
												使用和鼻尖模样相配的软骨，主要使用耳孔旁边凹进去的部分。不留痕迹可以提取很多的量，所以鼻尖可以使用很多层，与耳软骨周围的真皮和脂肪组织一起提取的话还有预防鼻尖透光问题的优点。
											</p>
										</div>
									</li>
								</ul>
							</div>
							<div class="img-style1 type-line">
								<h5 class="new-content-tit tit-new2">鼻尖宽大的情况</h5>
								<ul class="img-style1__list">
									<li class="img-style1__item">
										<img src="../../images/nose/apex/apex_img_4.jpg" class="img-w100" alt="鼻尖宽大的情况"/>
									</li>
								</ul>
								<p class="img-style1__txt txt-new1 type-mt">
                                    鼻尖宽大的情况鼻子低，没有力量，鼻尖移植自体软骨效果可能不太好。所以基本上会把鼻尖的左右软骨聚合，用缩小鼻翼等方法塑形鼻尖模样。变高的鼻尖，鼻孔中间鼻柱可以支撑，通过自体软骨加力，鼻尖的高度和模样维持的更加稳定。
								</p>
							</div>
						</div>
					</div>
				</div>
				<!--//new-section-->
				<div class="new-section type-cling">
					<div class="new-style1 type-apex2 type-bottom">
						<h4 class="new-style1__tit tit-new1 weight-regular">
							根据自然的状态<span class="n-color-nose2">更加安全满意</span>
						</h4>
						<p class="new-style1__txt txt-new1">
							看西方人的鼻子大体上鼻子高鼻尖发达，可以隐约看到砖石模样的软骨。<br class="hidden-tm">
							所以翘翘的鼻尖最自然是鼻尖软骨是砖石模样。
						</p>
						<p class="new-style1__txt2 txt-new2">
							佰诺佰琪会使用自然设计的模样，使用在鼻尖整形的材料会塑造<br class="hidden-tm">成砖石模样或者盾牌模样来使用，所以更加自然安定。
						</p>
						<p class="new-style1__txt txt-new1">
							还会选择使用与鼻软骨材料相似的<span class="n-color-nose2">*耳软骨</span>或者<span class="n-color-nose2">*鼻中隔软骨</span>等自体软骨材料<br class="hidden-tm">没有心理反感，几乎没有副作用，可以期待满意的鼻尖整形。
						</p>
						<div class="new-style1__img">
							<img src="../../images/nose/apex/apex_img_5.jpg" alt="" class="img-normal hidden-m"/>
							<img src="../../images/nose/apex/apex_img_5.jpg" alt="" class="img-normal hidden-pt"/>
						</div>
						<div class="inner-box">
							<div class="img-style1">
								<h5 class="new-content-tit tit-new2">自然的材料，<span class="inline-block">自然的形状</span></h5>
								<ul class="img-style1__list type-half">
									<li class="img-style1__item">
										<img src="../../images/nose/apex/apex_img_6.jpg" class="img-w100" alt="使用自体软骨"/>
										<h6 class="img-style1__subject txt-new2">使用自体软骨</h6>
										<p class="img-style1__caption txt-new1">（<span class="n-color-nose2">*鼻中隔软骨</span>or<span class="n-color-nose2">*耳软骨</span>）</p>
									</li>
									<li class="img-style1__item">
										<img src="../../images/nose/apex/apex_img_7.jpg" class="img-w100" alt="移植自然的鼻尖模样"/>
										<h6 class="img-style1__subject txt-new2">移植自然的鼻尖模样</h6>
										<p class="img-style1__caption txt-new1">（砖石or盾牌）</p>
									</li>
								</ul>
							</div>
							<div class="inner-stripe">
								<ul class="inner-stripe__list">
									<li class="inner-stripe__item">
										<div class="inner-stripe__wrap">
											<div class="inner-stripe__box">
												<div class="inner-stripe__img">
													<img src="../../images/nose/apex/apex_icon_1.png" alt="" class="img-responsive">
												</div>
											</div>
											<p class="inner-stripe__subject txt-new1 n-color-nose2">*鼻中隔软骨</p>
											<p class="inner-stripe__txt txt-new1">
												鼻中隔软骨是指鼻孔里面，鼻骨下面隧道形态存在的软骨。使用时会提取完整的里面骨骼，所以从生理，功能方面几乎没有损伤，反而会有呼吸方便的情况。为了塑形鼻尖模样，用平整坚硬的特点，使用于支撑鼻尖的鼻柱。
											</p>
										</div>
									</li>
									<li class="inner-stripe__item">
										<div class="inner-stripe__wrap">
											<div class="inner-stripe__box">
												<div class="inner-stripe__img">
													<img src="../../images/nose/apex/apex_icon_2.png" alt="" class="img-responsive">
												</div>
											</div>
											<p class="inner-stripe__subject txt-new1 n-color-nose2">*耳软骨</p>
											<p class="inner-stripe__txt txt-new1">
												使用和鼻尖模样相配的软骨，主要使用耳孔旁边凹进去的部分。不留痕迹可以提取很多的量，所以鼻尖可以使用很多层，与耳软骨周围的真皮和脂肪组织一起提取的话还有预防鼻尖透光问题的优点。
											</p>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!--//new-section-->
				<div class="new-section">
					<div class="new-section__wrap type-w">
						<div class="operation-v2 type-nose">
							<div class="operation-v2__wrap">
								<h4 class="operation-v2__tit">手术详情</h4>
								<ul class="operation-v2__list">
									<li class="operation-v2__item nth-1 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">手术时间</h5>
											<p class="operation-v2__txt txt-new1">约1小时30分~2小时</p>
										</div>
									</li>
									<li class="operation-v2__item nth-2 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">麻醉方法</h5>
											<p class="operation-v2__txt txt-new1">睡眠麻醉/局部麻醉</p>
										</div>
									</li>
									<li class="operation-v2__item nth-3 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">拆线</h5>
											<p class="operation-v2__txt txt-new1">约5天后拆线</p>
										</div>
									</li>
									<li class="operation-v2__item nth-7 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">手术材料</h5>
											<p class="operation-v2__txt txt-new1">自体软骨，硅胶 等</p>
										</div>
									</li>
									<li class="operation-v2__item nth-5 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">来院治疗</h5>
											<p class="operation-v2__txt txt-new1">约2次</p>
										</div>
									</li>
									<li class="operation-v2__item nth-6 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">恢复</h5>
											<p class="operation-v2__txt txt-new1">约5~7天后恢复日常生活</p>
										</div>
									</li>

								</ul>
								<div class="pain-v2 type-nose">
									<h5 class="pain-v2__tit txt-new2">术后体感疼痛</h5>
									<ol class="pain-v2__list">
										<% for(var i = 1; i<= 10; i++){%>
											<%if(i <= 2){%>
												<li class="<%="pain-v2__item is-active nth-"+i%>">
													<div class="pain-v2__square">square</div>
												</li>
											<%}else{%>
												<li class="<%="pain-v2__item nth-"+i%>">
													<div class="pain-v2__wrap">
														<div class="pain-v2__square">square</div>
													</div>
												</li>
											<%}%>
										<%}%>
									</ol>
									<p class="pain-v2__txt txt-new1">
										通过快速康复项目可以更快更积极的帮助恢复。<br>
										麻醉恢复的过程中会有刺痛感，随着时间会缓解。<br>
										拆线和消毒时稍微会有疼痛感。<br>
										因为浮肿的热感和痛症可以通过吃止痛药缓解，冷敷会帮助更快恢复。
									</p>
									<div class="pain-v2__box">
										<p class="pain-v2__noti txt-new4">* 通过对术后患者进行问卷调查得出的平均值</p>
										<p class="pain-v2__noti txt-new4">* 从数据不存在绝对性，会存在个人差异，仅供大家作为参考。</p>
									</div>
									<!-- <a href="<?php echo SITE_UPLOAD_URL?>/knowledge/rhinoplasty.pdf" target="_blank" class="operation-v2__link"><span>查看手术后注意事项</span></a> -->
								</div><!-- //pain -->
							</div>
						</div>
					</div>

	            </div>
			</div><!-- //new-tab-content-->

			<div class="new-tab-content page-columellar">
				<div class="new-section type-cling">
					<div class="new-style1 type-apex type-bottom">
						<h4 class="new-style1__tit tit-new1 weight-regular">
							鼻柱的<span class="n-color-nose2">细微差异</span>决定侧颜
						</h4>
						<p class="new-style1__txt txt-new1">
							鼻柱是从鼻子下面看的时候两侧鼻孔中间像柱子一样支撑的部位。<br class="hidden-tm">
                            因为是日常生活中不容易看到的小部位，很多人想不到做鼻柱整形的情况比较多，但是意想不到的是对面部侧颜或者对鼻子的不满意是因为鼻柱。举个例子从侧面看的话鼻柱向里卷进去凹陷的感觉，相反鼻柱过于向下鼻柱内壁和鼻孔外露的情况比较多。
						</p>
						<div class="new-style1__img">
							<img src="../../images/nose/apex/apex_img_8.jpg" alt="" class="img-normal hidden-m"/>
							<img src="../../images/nose/apex/apex_img_2.jpg" alt="" class="img-normal hidden-pt"/>
						</div>
						<div class="inner-box">
							<div class="img-style1">
								<h5 class="new-content-tit tit-new2">多种类型的鼻柱</h5>
								<ul class="img-style1__list type-three">
									<li class="img-style1__item">
										<img src="../../images/nose/apex/apex_case_1.jpg" class="img-w100" alt=""/>
										<h6 class="img-style1__subject txt-new2">case 1</h6>
									</li>
									<li class="img-style1__item">
										<img src="../../images/nose/apex/apex_case_2.jpg" class="img-w100" alt=""/>
										<h6 class="img-style1__subject txt-new2">case 2</h6>
									</li>
									<li class="img-style1__item">
										<img src="../../images/nose/apex/apex_case_3.jpg" class="img-w100" alt=""/>
										<h6 class="img-style1__subject txt-new2">case 3</h6>
									</li>
									<li class="img-style1__item">
										<img src="../../images/nose/apex/apex_case_4.jpg" class="img-w100" alt=""/>
										<h6 class="img-style1__subject txt-new2">case 4</h6>
									</li>
									<li class="img-style1__item">
										<img src="../../images/nose/apex/apex_case_5.jpg" class="img-w100" alt=""/>
										<h6 class="img-style1__subject txt-new2">case 5</h6>
									</li>
									<li class="img-style1__item">
										<img src="../../images/nose/apex/apex_case_6.jpg" class="img-w100" alt=""/>
										<h6 class="img-style1__subject txt-new2">case 6</h6>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!--//new-section-->
				<div class="new-section type-cling">
					<div class="new-style1 type-apex2 type-bottom">
						<h4 class="new-style1__tit tit-new1 weight-regular">
							鼻翼矫正术是<span class="n-color-nose2">比较简单有效果的方法</span>
						</h4>
						<p class="new-style1__txt txt-new1">
							一般理想的鼻翼宽度与内眼角之间的距离（眉间距的宽度）一致。<br>
							鼻翼超过这个宽度的话鼻孔里面和鼻翼内侧稍微切开重新缝合就可以，用比较简单的鼻翼矫正术缩小宽度。
						</p>
						<p class="new-style1__txt2 txt-new2">
							因为鼻翼矫正术的切开位置在里面，手术后疤痕几乎用肉眼看不到<br class="hidden-tm">鼻孔像小的鸡蛋型一样聚合，像做了鼻尖整形一样<span class="n-color-nose2">鼻子更加时尚高挺的优点</span>。
						</p>
						<div class="new-style1__img">
							<img src="../../images/nose/apex/apex_img_9.jpg" alt="" class="img-normal hidden-m"/>
							<img src="../../images/nose/apex/apex_img_9.jpg" alt="" class="img-normal hidden-pt"/>
						</div>
						<div class="inner-box">
							<div class="img-style1">
								<h5 class="new-content-tit tit-new2">效果好的佰诺佰琪鼻柱整形</h5>
								<ul class="img-style1__list">
									<li class="img-style1__item">
										<img src="../../images/nose/apex/apex_img_10.jpg" class="img-w100" alt="鼻部整形专门运营团队"/>
										<h6 class="img-style1__subject txt-new2">鼻部整形专门运营团队</h6>
										<p class="img-style1__caption txt-new1">考虑与其他部位协调的设计，经验丰富的精湛技术。</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!--//new-section-->
				<div class="new-section">
					<div class="new-section__wrap type-w">
						<div class="operation-v2 type-nose">
							<div class="operation-v2__wrap">
								<h4 class="operation-v2__tit">手术详情</h4>
								<ul class="operation-v2__list">
									<li class="operation-v2__item nth-1 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">手术时间</h5>
											<p class="operation-v2__txt txt-new1">约1小时30分~2小时</p>
										</div>
									</li>
									<li class="operation-v2__item nth-2 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">麻醉方法</h5>
											<p class="operation-v2__txt txt-new1">睡眠麻醉/局部麻醉</p>
										</div>
									</li>
									<li class="operation-v2__item nth-3 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">拆线</h5>
											<p class="operation-v2__txt txt-new1">约5天后拆线</p>
										</div>
									</li>
									<li class="operation-v2__item nth-7 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">手术材料</h5>
											<p class="operation-v2__txt txt-new1">鼻中隔软骨</p>
										</div>
									</li>
									<li class="operation-v2__item nth-5 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">来院治疗</h5>
											<p class="operation-v2__txt txt-new1">约2次</p>
										</div>
									</li>
									<li class="operation-v2__item nth-6 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">恢复</h5>
											<p class="operation-v2__txt txt-new1">约5~7天后恢复日常生活</p>
										</div>
									</li>

								</ul>
								<div class="pain-v2 type-nose">
									<h5 class="pain-v2__tit txt-new2">术后体感疼痛</h5>
									<ol class="pain-v2__list">
										<% for(var i = 1; i<= 10; i++){%>
											<%if(i <= 2){%>
												<li class="<%="pain-v2__item is-active nth-"+i%>">
													<div class="pain-v2__square">square</div>
												</li>
											<%}else{%>
												<li class="<%="pain-v2__item nth-"+i%>">
													<div class="pain-v2__wrap">
														<div class="pain-v2__square">square</div>
													</div>
												</li>
											<%}%>
										<%}%>
									</ol>
									<p class="pain-v2__txt txt-new1">
										通过快速康复项目可以更快更积极的帮助恢复。<br>
										麻醉恢复的过程中会有刺痛感，随着时间会缓解。<br>
										拆线和消毒时稍微会有疼痛感。<br>
										因为浮肿的热感和痛症可以通过吃止痛药缓解，冷敷会帮助更快恢复。
									</p>
									<div class="pain-v2__box">
										<p class="pain-v2__noti txt-new4">* 通过对术后患者进行问卷调查得出的平均值</p>
										<p class="pain-v2__noti txt-new4">* 从数据不存在绝对性，会存在个人差异，仅供大家作为参考。</p>
									</div>
									<!-- <a href="<?php echo SITE_UPLOAD_URL?>/knowledge/rhinoplasty.pdf" target="_blank" class="operation-v2__link"><span>查看手术后注意事项</span></a> -->
								</div><!-- //pain -->
							</div>
						</div>
					</div>

	            </div>
			</div><!-- //new-tab-content-->

			<div class="new-tab-content page-alar">
				<div class="new-section type-cling">
					<div class="new-style1 type-apex">
						<h4 class="new-style1__tit tit-new1 weight-regular">
							<span class="n-color-nose2">缩小鼻翼宽度</span>让鼻尖更加明显
						</h4>
						<p class="new-style1__txt txt-new1">
							因为人体的比例是相对的，所以鼻翼宽的话鼻尖高挺的感觉相对会减少。<br class="hidden-tm">
							所以鼻尖够大但是鼻尖不突出的话可以考虑通过做鼻翼矫正来改善。<br class="hidden-tm">
							鼻翼缩小同时塑形鼻尖给人更加时尚，高挺的感觉。
						</p>
						<p class="new-style1__txt2 txt-new1">
							同样高度，同样位置的鼻尖，根据<span class="n-color-nose2">鼻翼的宽度</span>相对鼻尖显得矮，粗短。
						</p>
						<div class="new-style1__img">
							<img src="../../images/nose/apex/apex_img_11.jpg" alt="" class="img-normal hidden-m"/>
							<img src="../../images/nose/apex/apex_img_11.jpg" alt="" class="img-normal hidden-pt"/>
						</div>
					</div>
				</div>
				<!--//new-section-->
				<div class="new-section type-cling">
					<div class="new-style1 type-apex2 type-bottom">
						<h4 class="new-style1__tit tit-new1 weight-regular">
							鼻翼矫正术是<span class="n-color-nose2">比较简单有效果的方法</span>
						</h4>
						<p class="new-style1__txt txt-new1">
							一般理想的鼻翼宽度与内眼角之间的距离（眉间距的宽度）一致。<br class="hidden-tm">
							鼻翼超过这个宽度的话鼻孔里面和鼻翼内侧稍微切开重新缝合，用比较简单的鼻翼矫正术缩小宽度。
						</p>
						<p class="new-style1__txt2 txt-new2">
							因为鼻翼矫正术的切开位置在里面，手术后疤痕几乎用肉眼看不到<br class="hidden-tm">鼻孔像小的鸡蛋型一样聚合，像做了鼻尖整形一样<span class="n-color-nose2">鼻子更加时尚高挺的优点</span>。
						</p>
						<div class="new-style1__img">
							<img src="../../images/nose/apex/apex_img_12.jpg" alt="" class="img-normal hidden-m"/>
							<img src="../../images/nose/apex/apex_img_12.jpg" alt="" class="img-normal hidden-pt"/>
						</div>
						<div class="inner-box">
							<div class="img-style1">
								<h5 class="new-content-tit tit-new2">鼻翼矫正术</h5>
								<div class="inner-circle type-nose">
									<ul class="inner-circle__list">
						 				<li class="inner-circle__item txt-new1">
											<div class="vertical-box">
												切开鼻子<br>
												里面<br>
												几乎看部到<br>
												疤痕
											</div>
										</li>
								 		<li class="inner-circle__item txt-new1">
											<div class="vertical-box">
												像做了鼻<br>
												尖整形一<br>
												样高挺的<br>
                                                形象
											</div>
										</li>
								 		<li class="inner-circle__item txt-new1">
											<div class="vertical-box">
                                                矫正鼻孔<br>
                                                模样的效<br>
                                                果
                                            </div>
										</li>
								 	</ul>
								</div>
								<ul class="img-style1__list type-half type-mt">
									<li class="img-style1__item">
										<img src="../../images/nose/apex/apex_img_13.jpg" class="img-w100" alt="把鼻孔里面切开约1/2程度鼻翼阴影内侧约1/2程度切开成月牙模样"/>
										<p class="img-style1__subject txt-new1">
											把鼻孔里面切开约1/2程度<br>
											鼻翼阴影内侧约1/2程度<br>
											切开成月牙模样
										</p>
									</li>
									<li class="img-style1__item">
										<img src="../../images/nose/apex/apex_img_14.jpg" class="img-w100" alt="把切开的皮肤重新缝合"/>
										<p class="img-style1__subject txt-new1">把切开的皮肤重新缝合</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!--//new-section-->
				<div class="new-section">
					<div class="new-section__wrap type-w">
						<div class="operation-v2 type-nose">
							<div class="operation-v2__wrap">
								<h4 class="operation-v2__tit">手术详情</h4>
								<ul class="operation-v2__list">
									<li class="operation-v2__item nth-1 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">手术时间</h5>
											<p class="operation-v2__txt txt-new1">约1小时30分~2小时</p>
										</div>
									</li>
									<li class="operation-v2__item nth-2 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">麻醉方法</h5>
											<p class="operation-v2__txt txt-new1">睡眠麻醉/局部麻醉</p>
										</div>
									</li>
									<li class="operation-v2__item nth-3 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">拆线</h5>
											<p class="operation-v2__txt txt-new1">约5天后拆线</p>
										</div>
									</li>
									<li class="operation-v2__item nth-7 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">手术材料</h5>
											<p class="operation-v2__txt txt-new1">不需要</p>
										</div>
									</li>
									<li class="operation-v2__item nth-5 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">来院治疗</h5>
											<p class="operation-v2__txt txt-new1">约2次</p>
										</div>
									</li>
									<li class="operation-v2__item nth-6 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">恢复</h5>
											<p class="operation-v2__txt txt-new1">约5~7天后恢复日常生活</p>
										</div>
									</li>

								</ul>
								<div class="pain-v2 type-nose">
									<h5 class="pain-v2__tit txt-new2">术后体感疼痛</h5>
									<ol class="pain-v2__list">
										<% for(var i = 1; i<= 10; i++){%>
											<%if(i <= 2){%>
												<li class="<%="pain-v2__item is-active nth-"+i%>">
													<div class="pain-v2__square">square</div>
												</li>
											<%}else{%>
												<li class="<%="pain-v2__item nth-"+i%>">
													<div class="pain-v2__wrap">
														<div class="pain-v2__square">square</div>
													</div>
												</li>
											<%}%>
										<%}%>
									</ol>
									<p class="pain-v2__txt txt-new1">
										通过快速康复项目可以更快更积极的帮助恢复。<br>
										麻醉恢复的过程中会有刺痛感，随着时间会缓解。<br>
										拆线和消毒时稍微会有疼痛感。<br>
										因为浮肿的热感和痛症可以通过吃止痛药缓解，冷敷会帮助更快恢复。
									</p>
									<div class="pain-v2__box">
										<p class="pain-v2__noti txt-new4">* 通过对术后患者进行问卷调查得出的平均值</p>
										<p class="pain-v2__noti txt-new4">* 从数据不存在绝对性，会存在个人差异，仅供大家作为参考。</p>
									</div>
									<!-- <a href="<?php echo SITE_UPLOAD_URL?>/knowledge/rhinoplasty.pdf" target="_blank" class="operation-v2__link"><span>查看手术后注意事项</span></a> -->
								</div><!-- //pain -->
							</div>
						</div>
					</div>

	            </div>
			</div><!-- //new-tab-content-->
        </div><!-- //new-content-wrap-->
    </div><!-- //content-->


</div> <!-- //container -->

<% include ../_include/_footer %>
