<%
	type = "content"
	page = "nose"
%>
<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
	<!-- visual -->
	<div class="content-visual type-nose">
	   <div class="content-visual__box">
		   <p class="content-visual__txt1">鼻部整形的基本，更重要的</p>
		   <h3 class="content-visual__tit">#<span class="color-nose5">塌鼻</span>整形</h3>
		   <p class="content-visual__txt2">决定形象的清晰鼻梁</p>
	   </div>
	</div>
	<!-- //visual -->

	<!-- content -->
	<div class="content">
		<div class="content-wrap">
			<div class="low-box1">
			  	<div class="content-section type-first">
					<div class="content-section__wrap type-left type-unique">
				  		<div class="content-section__box w-5 type-nose">
							<div class="nose-side__img">
					  			<h4 class="content-section__tit type-left">
									<span class="content-section__number type-0"><span class="content-section__number-wrap">01</span></span>
									必须了解原因<strong class="color-nose5">准确的手术</strong>才可以进行
					  			</h4>
					  			<p class="content-section__txt1 type-special">
									<strong>大家为什么都喜欢高挺的鼻子呢?</strong><br>
									因为鼻子在面部中央位置，是最突出的部分。
					  			</p>
					  			<div class="quotation2 type-another tit-v4">
						  			所以鼻子高度的不同<span class="color-nose5">面部阴影</span>也不同<span class="color-nose5">印象</span>也会不同
					  			</div>
							</div>
							<p class="content-section__txt1">
					  			鼻子如果高的话，面部会看起来有立体感，脸会有看起来更小的效果，还可以给人轮廓分明的印象.所以相对来说塌鼻的人想通过调高鼻梁，来调整整体的感觉。<br>
					  			佰诺佰琪塌鼻整形，虽然手术的目的是调高鼻子，但是不是只集中于调整鼻子的高度。
							</p>
							<!-- pc -->
							<p class="content-section__txt2">
					  			<span class="content-highlight type-nose">为什么必须要调高，或者说要调高多少，选择使用什么样的材料，需要充分判断原因，选择最适合的手术方法，这是佰诺佰琪<span class="color-nose5">鼻部整形的基本</span>。</span>
							</p>
				 	 	</div>
				  		<div class="content-section__box w-7 hidden-tm type-nose">
							<div class="content-section__img type-nose1">
					  			<img src="../../images/nose/nose_low_img02.jpg" alt="" class="">
							</div>
				  		</div>
					</div>
			  	</div>
			</div>
			<div class="low-box2">
			  	<div class="content-section type-number">
					<h4 class="content-section__tit type-center">
				  		<span class="content-section__number"><span class="content-section__number-wrap">02</span></span>
				  		佰诺佰琪塌鼻整形没有指定的<span class="content-highlight2 type-nose">范本</span>。
					</h4>
					<div class="content-section__wrap">
				  		<div class="content-section__box w-6">
							<div class="content-section__img type-nose1">
					  			<img src="../../images/nose/nose_low_img03.jpg" alt="nose low" class="">
							</div>
				  		</div>
				  		<div class="content-section__box w-6 type-another">
							<div class="brace type-nose">
					  			<h5 class="brace__tit">佰诺佰琪鼻部整形的<span class="color-nose5">多样性</span></h5>
					  			<p class="brace__txt txt-v5">为了更美丽和谐调的鼻部整形即使单一型，也会以复合型进行</p>
							</div>
							<p class="content-section__txt1">
					  			<strong>佰诺佰琪的塌鼻整形使用一个方式定义是很困难的。</strong><br>
					  			因为适合每个患者的手术方法不同，使用的填充物不同，手术的范围也不同。佰诺佰琪塌鼻整形是没有定义好的范本的。以基本的手术方法为背景，与患者的面部条件，商谈内容相协调，进行不同的综合性的手术。
							</p>
							<p class="content-section__txt2">
					  			<span class="content-highlight type-nose">为了保持患者的特性，设计出与固有的特征相协调的鼻子的模样后展现给大家，这是<span class="color-nose5">佰诺佰琪塌鼻整形的核心。</span></span>
							</p>
				  		</div>
					</div>
					<ul class="nose-detail__list">
				  		<li class="nose-detail__item nth-1">
							<div class="nose-detail__wrap">
					  			<h6 class="nose-detail__tit tit-v2">塌鼻整形</h6>
					  			<p class="nose-detail__txt txt-v5">
									包含眉间，鼻尖立即调高的抬高鼻梁的手术。
					  			</p>
							</div>
				  		</li>
				  		<li class="nose-detail__item nth-2">
							<div class="nose-detail__wrap">
					  			<h6 class="nose-detail__tit tit-v2">鼻尖整形</h6>
					  			<p class="nose-detail__txt txt-v5">
									雕刻出小巧灵动的鼻尖，增加面部立体感的手术。
					  			</p>
							</div>
				  		</li>
				  		<li class="nose-detail__item nth-3">
							<div class="nose-detail__wrap">
					  			<h6 class="nose-detail__tit tit-v2">鼻翼矫正</h6>
					  			<p class="nose-detail__txt txt-v5">
									缩小鼻子的宽度，重新定位全脸的平衡，将鼻孔矫正为合适的小的鼻孔模样，与精巧的鼻子相协调。
					  			</p>
							</div>
				  		</li>
				  		<li class="nose-detail__item nth-4">
							<div class="nose-detail__wrap">
					  			<h6 class="nose-detail__tit tit-v2">驼峰矫正</h6>
					  			<p class="nose-detail__txt txt-v5">
									将鼻部线条打磨光滑，塑造柔和端正的鼻梁，当然也改善了顺畅的呼吸等鼻子的机能性部分。
					  			</p>
							</div>
				  		</li>
				  		<li class="nose-detail__item nth-5">
							<div class="nose-detail__wrap">
					  			<h6 class="nose-detail__tit tit-v2">歪鼻矫正</h6>
					  			<p class="nose-detail__txt txt-v5">
									使用复合型的方法改善鼻子的机能性问题，矫正为与面部相协调的端正平直的鼻子。
					  			</p>
							</div>
				  		</li>
				  		<li class="nose-detail__item nth-6">
							<div class="nose-detail__wrap">
					  			<h6 class="nose-detail__tit tit-v2">鼻小柱整形</h6>
					  			<p class="nose-detail__txt txt-v5">
									鼻小柱指的是位于两侧鼻孔之间的支柱部位，考虑到从侧面看去人中和鼻翼的位置，改善到面部协调的状态。
					  			</p>
							</div>
				  		</li>
				  		<li class="nose-detail__item nth-7">
							<div class="nose-detail__wrap">
					  			<h6 class="nose-detail__tit tit-v2">鼻梁骨缩小术</h6>
					  			<p class="nose-detail__txt txt-v5">
									缩小鼻梁两侧宽又发达的骨骼，打造更醒目和简洁干练的感觉。
					  			</p>
							</div>
				  		</li>
					</ul>
					<!-- //nose-detail__list -->
			  	</div>
			</div>
			<div class="low-box3">
			  	<div class="content-section type-full type-number">
					<div class="content-section__wrap type-nose1">
				  		<div class="content-section__box w-5 type-another type-nose">
							<h4 class="content-section__tit type-top">
					  			<span class="content-section__number"><span class="content-section__number-wrap">03</span></span>
					  			相比较高挺的鼻子，美丽的鼻子<strong class="color-nose5">适合自己的鼻子</strong>
							</h4>
							<p class="content-section__sub-tit">
								从正面看，侧面看，无论从哪里看来都好看的鼻子
							</p>
							<p class="content-section__txt1">
								塌鼻子整形的首要目的是调高鼻梁.并且如果要变漂亮，最终还是要适合自己才可以。所以<span class="color-nose5">佰诺佰琪的塌鼻整形不是只看鼻子的部位。</span>为了从多种角度看来鼻子模样都要自然好看额头到下巴尖的形状也要一起分析。
							</p>
				  		</div>
				  		<div class="content-section__box hidden-pt">
							<div class="content-section__img type-nose2"></div>
				  		</div>
					</div><!--content-section__wrap -->
					<div class="point-box">
				  		<div class="point-box__border">
							<ul class="point-box__list">
					  			<li class="point-box__item">
									<div class="point-box__img nth-1"></div>
					  			</li>
					  			<li class="point-box__item">
									<div class="point-box__wrap">
						  				<span class="point-box__number">Point 01</span>
						  				<h5 class="point-box__tit">延续到鼻尖的精巧性</h5>
						  				<p class="point-box__txt txt-v5">
											一个美丽的鼻子的塑造，鼻尖的形态是非常重要的。保持圆滑的曲线的同时，高耸挺翘的鼻尖自然地得到加强，打造自然又干净利落的感觉。
						  				</p>
									</div>
					  			</li>
					  			<li class="point-box__item">
									<div class="point-box__wrap">
						  				<span class="point-box__number">Point 02</span>
						  				<h5 class="point-box__tit">
											关于材料的理解<br>
											挽回自然美的技术
						  				</h5>
						  				<p class="point-box__txt txt-v5">
											我们具备从和自体软骨， 颞筋膜，脂肪移植一样的自体组织到硅胶，膨体， 卡麦拉等一样的填充物，到多种多样的填充假体和技术资源.因为这样，所以可以选择适合患者的皮肤和鼻子模样的，同时又可以安全自然地进行手术。
						  				</p>
									</div>
					  			</li>
					  			<li class="point-box__item">
									<div class="point-box__img nth-2"></div>
					  			</li>
					  			<li class="point-box__item">
									<div class="point-box__img nth-3"></div>
					  			</li>
					  			<li class="point-box__item">
									<div class="point-box__wrap">
						  				<span class="point-box__number">Point 03</span>
						  				<h5 class="point-box__tit">考虑到角度和比例的美丽</h5>
						  				<p class="point-box__txt txt-v5">
											佰诺佰琪通过精密的测量，观察额头和唇部之间的比例，考虑到不同的角度再进行的手术。所以和谐协调。
						  				</p>
									</div>
					  			</li>
							</ul>
				  		</div>
					</div>
			  	</div><!-- content-section -->
			</div>
			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-nose">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">手术详情</h4>
							<!-- <p class="operation-v2__subtit">佰诺佰琪塌鼻整形恢复迅速</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">手术时间</h5>
										<p class="operation-v2__txt txt-new1">约1小时~1小时30分</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">麻醉方法</h5>
										<p class="operation-v2__txt txt-new1">睡眠麻醉</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">拆线</h5>
										<p class="operation-v2__txt txt-new1">约5天后拆线</p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">住院时间</h5>
										<p class="operation-v2__txt txt-new1">当天回家</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">来院治疗</h5>
										<p class="operation-v2__txt txt-new1">约2次</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">恢复</h5>
										<p class="operation-v2__txt txt-new1">约5~7天后恢复日常生活</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-nose">
								<h5 class="pain-v2__tit txt-new2">术后体感疼痛</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 2){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">square</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">square</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									通过快速康复项目，可以促进更快更积极地恢复。<br>
									麻醉药效过后，或许会有些异物感。<br>
									初期也许会有些许疼痛感，服用我们开的处方止痛药后即会有镇定效果，随着时间恢复会渐渐变好。<br>
									拆线或消毒时会有少许刺痛感。 <br>
									如果有发热感觉，冰敷会有所帮助。
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* 通过对术后患者进行问卷调查得出的平均值</p>
									<p class="pain-v2__noti txt-new4">* 从数据不存在绝对性，会存在个人差异，仅供大家作为参考。</p>
								</div>
								<!-- <a href="<?php echo SITE_UPLOAD_URL?>/knowledge/rhinoplasty.pdf" target="_blank" class="operation-v2__link"><span>术后注意事项</span></a> -->
							</div><!-- //pain -->
						</div>
					</div>
				</div>

            </div>
		</div>
	</div><!-- //content -->

	<% include ../_include/_bfaf %>
</div><!-- //container-->
<% include ../_include/_footer %>
