@charset "UTF-8";
@import "mixins";
@import "vendor";
.fs_section{height:100vh;}
.detail-common{text-align:center;}
.detail{
	$this:&;
	&__inner{position:relative;  display:inline-table; height:100%; width:80%; max-width:1280px; text-align: left;
		&.type-full{display:block; width:100%; max-width:100%;}
		@media only screen and (max-width:$iphone-size){width:90%;}
	}
	&__vertical{display:table-cell; width:100%; vertical-align:middle;}
	&__first-tit{position:relative; display:inline-block; margin:0; background: #fff; background: rgba(255,255,255,0.1); border: 1px solid #E9EAEB; border: 1px solid rgba(0,0,0,0.1);
		text-align: center; font-size: 27px; font-weight: 400; letter-spacing: 22px; box-sizing: border-box;
		padding: 22px 28px 22px 50px;
		&:after{position:absolute; display:inline-block; bottom:-9px; right:-6px; width:17px; height:16px; background:url('../images/chest/quotation_right.png') no-repeat; content:'';}
		&:before{position:absolute; display:inline-block; top:-9px; left:-6px; width:17px; height:16px; content:'';
			@media only screen and (max-width:$mobile-size){top:-7px; width:11px; height:9px;}
		}
		&.type-chest{top:50px;
			&:before{ background:url('../images/chest/quotation_left.png') no-repeat;}
			@media only screen and (max-width:$tablet-size){top:auto; bottom:-140px;}
			@media only screen and (max-width:$mobile-size){bottom:-87px;
				&:before{background:url('../images/chest/quotation_left_m.png') no-repeat; background-size:11px 9px;}
			}
		}
		&.type-contour{top:-50px; color:#666; font-weight:300;
			&:before{background:url('../images/contour/quotation_left.png') no-repeat;}
			@media only screen and (max-width:$tablet-size){top:auto; bottom:-35px;}
			@media only screen and (max-width:$mobile-size){
				&:before{background:url('../images/contour/quotation_left_m.png') no-repeat; background-size:11px 9px;}
			}
		}
		&.type-body{top:-10px; letter-spacing:30px;
			&:before{background:url('../images/body/quotation_left.png') no-repeat;}
			@media only screen and (max-width:$tablet-size){letter-spacing:22px; top:auto; bottom:-35px;}
			@media only screen and (max-width:$mobile-size){letter-spacing:8px;
				&:before{background:url('../images/body/quotation_left_m.png') no-repeat; background-size:11px 9px;}
			}
		}
		&.type-wrinkle{top:-46px;
			&:before{background:url('../images/wrinkle/quotation_left.png') no-repeat;}
			@media only screen and (max-width:$tablet-size){letter-spacing:20px; top:auto; bottom:39px;}
			@media only screen and (max-width:$mobile-size){letter-spacing:4px; bottom:-38px;
				&:before{background:url('../images/wrinkle/quotation_left_m.png') no-repeat; background-size:11px 9px;}
			}
		}
		&.type-eye{top:-20px; letter-spacing: 10px; line-height:1.8;
			& i{font-style:normal;}
			&:before{background:url('../images/eye/quotation_left.png') no-repeat;}
			@media only screen and (max-width:$tablet-size){letter-spacing:22px; top:auto; bottom:65px;
				& .color-eye0{letter-spacing: 10px;}
			}
			@media only screen and (max-width:$mobile-size){bottom:-25px; letter-spacing:15px;
				& > .color-eye0:first-child{letter-spacing:20px;}
				& i.type-special{letter-spacing:26px; font-style: normal;}
				&:before{background:url('../images/eye/quotation_left_m.png') no-repeat; background-size:11px 9px;}
			}
		}
		&.type-nose{bottom:-50px;
			&:before{background:url('../images/nose/quotation_left.png') no-repeat;}
			@media only screen and (max-width:$tablet-size){letter-spacing:7px; top:auto; bottom:-90px;}
			@media only screen and (max-width:$mobile-size){letter-spacing:4px; bottom:-85px;
				&:before{background:url('../images/nose/quotation_left_m.png') no-repeat; background-size:11px 9px;}
			}
			@media only screen and (max-width:$mobile-size) and (orientation: landscape){bottom:auto;}
		}
		&.type-svf{color:#fff; font-weight:300; letter-spacing:30px;
			&:before{background:url('../images/svf/quotation_left.png') no-repeat;}
			&:after{background:url('../images/svf/quotation_right.png') no-repeat;}
			@media only screen and (max-width:$minpc-size3){letter-spacing:16px;}
			@media only screen and (max-width:$tablet-size){letter-spacing:12px; top:auto; bottom:0px;}
			@media only screen and (max-width:$mobile-size){bottom:-105px; letter-spacing:15px;
				&:before{background:url('../images/svf/quotation_left_m.png') no-repeat; background-size:11px 9px;}
				&:after{background:url('../images/svf/quotation_right_m.png') no-repeat; background-size:11px 9px;}
			}
			@media only screen and (max-width:$mobile-size) and (orientation: landscape){bottom:auto;}
		}
		&.type-special{color:#555454; font-weight:300; letter-spacing:30px;
			&:before{background:url('../images/special/quotation_left.png') no-repeat;}
			&:after{background:url('../images/chest/quotation_right.png') no-repeat;}
			@media only screen and (max-width:$tablet-size){letter-spacing:24px; top:auto; top:-60px;}
			@media only screen and (max-width:$mobile-size){top:auto; bottom:-29px; letter-spacing:12px;
				&:before{background:url('../images/special/quotation_left_m.png') no-repeat; background-size:11px 9px;}
				&:after{background:url('../images/chest/quotation_right_m.png') no-repeat; background-size:11px 9px;}
			}
			@media only screen and (max-width:$mobile-size) and (orientation: landscape){bottom:auto;}
		}
		&.type-reoperation{letter-spacing:30px; bottom:-40px;
			&:before{background:url('../images/reoperation/quotation_left.png') no-repeat;}
			@media only screen and (max-width:$tablet-size){letter-spacing:18px; top:auto; bottom:-20px;}
			@media only screen and (max-width:$mobile-size){top:auto; bottom:-30px; letter-spacing:17px;
				&:before{background:url('../images/reoperation/quotation_left_m.png') no-repeat; background-size:11px 9px;}
			}
			@media only screen and (max-width:$mobile-size) and (orientation: landscape){bottom:auto;}
		}
		@media only screen and (max-width:$minpc-size3){letter-spacing:9px;}
		@media only screen and (max-width:$tablet-size){bottom:-150px; width:100%; font-size:22px; letter-spacing:14px; line-height:2; padding:10px}
		@media only screen and (max-width:$mobile-size){bottom:-125px; font-size:2.0rem; letter-spacing:3px; line-height:1.6; padding:20px 0;
			&:after{bottom:-7px;width:11px; height:9px; background:url('../images/chest/quotation_right_m.png') no-repeat; background-size:11px 9px;}
		}
		@media only screen and (max-width:$iphone-size){font-size:1.6rem;}
		@media only screen and (max-width:$mobile-size) and (orientation: landscape){bottom:auto;}
	}
	&__first-piece{
		@media only screen and (max-width:$tablet-size){display:block; letter-spacing:16px;}
		@media only screen and (max-width:$mobile-size){margin-left:1px; letter-spacing:7px;}
		&.type-contour{
			@media only screen and (max-width:$tablet-size){letter-spacing:13px;}
			@media only screen and (max-width:$mobile-size){margin-left:1px; letter-spacing:5px;}
		}
		&.type-body{
			@media only screen and (max-width:$tablet-size){display:inline-block; margin-left:17px; letter-spacing:34px;}
			@media only screen and (max-width:$mobile-size){margin-left:12px; letter-spacing:16px;}
		}
		&.type-wrinkle{
			@media only screen and (max-width:$mobile-size){margin-left:0px; letter-spacing:6px;}
		}
		&.type-eye{
			@media only screen and (max-width:$minpc-size3){display:block;}
			@media only screen and (max-width:$mobile-size){display:block; letter-spacing:26px;}
		}
		&.type-svf{
			@media only screen and (max-width:$tablet-size){display:inline; letter-spacing:inherit;}
			@media only screen and (max-width:$mobile-size){display:block; margin-left:-6px; letter-spacing:9px;}
		}
		&.type-special{
			@media only screen and (max-width:$tablet-size){display:block; letter-spacing:inherit;
				& .color-special2{color:#333;}
			}
			@media only screen and (max-width:$mobile-size){letter-spacing:5px;}
		}
		&.type-reoperation{
			@media only screen and (max-width:$tablet-size){display:inline;}
			@media only screen and (max-width:$mobile-size){display:block; margin-left:-5px; letter-spacing:12px;}
		}
	}
	&__middle-piece{
		@media only screen and (max-width:$mobile-size){display:block; letter-spacing:26px;}
	}
	&__first-txt{position:absolute; font-size: 20px; right: 50%; margin: 0 -456px 0 0; bottom: 8%; text-align: left;
		&.type-contour{bottom:26%; margin-right:-486px;}
		&.type-body{bottom:20%; margin-right:-514px;}
		&.type-wrinkle{bottom:12%; margin-right:-550px;}
		&.type-eye{bottom:24%; margin-right:-544px;}
		&.type-svf{bottom:25%; margin-right:-608px; color:#fff;}
		&.type-special{bottom:18%; margin-right:-608px;}
		&.type-reoperation{bottom:10%; margin-right:-510px;}
		@media only screen and (max-width:$minpc-size3) and (orientation: landscape){
			&.type-wrinkle{margin-right:-456px;}
		}
		@media only screen and (max-width:$minpc-size3){right:0%; margin-right:0; font-size:16px;
			&.type-contour{margin-right:0; bottom:17%;}
			&.type-body{margin-right:0; right:0; bottom:24%;}
			&.type-wrinkle{margin-right:0; bottom:16%;}
			&.type-eye{margin-right:0; bottom:15%;}
			&.type-svf{bottom:12%; margin-right:0;}
			&.type-special{bottom:11%; margin-right:0px;}
			&.type-reoperation{bottom:8%; right:0%; margin-right:0;}
		}
		@media only screen and (max-width:$mobile-size){font-size:1.3rem;
			&.type-contour{bottom:7%;}
			&.type-body{right:0; bottom:15%;}
			&.type-wrinkle{right:0; bottom:5%;}
			&.type-eye{right:50%; margin-right:-99px; bottom:7%;}
			&.type-svf{bottom:7%;}
			&.type-special{bottom:7%;}
		}
	}
	&__first-bwrap{position:relative; margin-left:9px;
		@media only screen and (max-width:$mobile-size){margin-left:5px;}
	}
	&__first-bar{display: inline-block; position: absolute; width: 110px; height: 1px; margin-left:5px; background: #333; bottom: 9px;
		@media only screen and (max-width:$tablet-size){width:87px;}
		@media only screen and (max-width:$mobile-size){bottom:5px; margin-left:5px; width:96px;}
		&.type-body{width:120px;
			@media only screen and (max-width:$tablet-size){width:72px;}
			@media only screen and (max-width:$mobile-size){width:101px;}
		}
		&.type-contour{width:95px;
			@media only screen and (max-width:$tablet-size){width:72px;}
			@media only screen and (max-width:$mobile-size){width:85px;}
		}
		&.type-wrinkle{width:110px;
			@media only screen and (max-width:$tablet-size){width:84px;}
			@media only screen and (max-width:$mobile-size){width:96px;}
		}
		&.type-eye{width:85px;
			@media only screen and (max-width:$tablet-size){width:62px;}
			@media only screen and (max-width:$mobile-size){width:75px;}
		}
		&.type-nose{width:101px;
			@media only screen and (max-width:$tablet-size){width:62px;}
			@media only screen and (max-width:$mobile-size){width:75px;}
		}
		&.type-svf{width:10px; background-color:#fff;
			@media only screen and (max-width:$mobile-size){width:32px;right: -34px;}
		}
		&.type-special{width:47px;
			@media only screen and (max-width:$tablet-size){width:37px;}
			@media only screen and (max-width:$mobile-size){width:51px;}
		}
		&.type-reoperation{width:30px;
			@media only screen and (max-width:$tablet-size){width:23px;}
			@media only screen and (max-width:$mobile-size){width:40px;}
		}
	}
	&__first-point{font-size:23px; font-weight:500; color:inherit; letter-spacing:3px;
		@media only screen and (max-width:$tablet-size){font-size:18px;}
		@media only screen and (max-width:$mobile-size){font-size:1.6rem;}
	}
	&__section-box{position:relative; display:inline-block; text-align:left; color:#fff; box-sizing:border-box;
		&:before{position:absolute; top:-60px; left:0; width:17px; height:15px; background:url('../images/chest/quotation_left2.png'); content:'';}
		&:after{position:absolute; bottom:-40px; right:0; width:17px; height:15px; background:url('../images/chest/quotation_left2.png'); content:''; transform: rotate(180deg); -ms-transform: rotate(180deg); content:'';}
		&.type-normal{width:285px;}
		&.type-wide{width:330px;}
		&.type-center{width:310px;}
		&.type-down{bottom:-120px;}
		&.type-quotation2{
			&:before,&:after{background:url('../images/chest/quotation_left3.png');
				@media only screen and (max-width:$mobile-size){width:12px; height:11px; background:url('../images/chest/quotation_left3_m.png'); background-size:12px 11px;}
			}
		}
		//따옴표
		&.type-contour{
			&:before, &:after{background:url('../images/contour/quotation_left2.png');}
			&.type-quotation2{
				&:before, &:after{background:url('../images/contour/quotation_left3.png');}
			}
			@media only screen and (max-width:$tablet-size){
				&.type-right{width:230px;}
			}
			@media only screen and (max-width:$mobile-size){
				&.type-right{width:100%;
					& .detail__section-tit, & .detail__section-subtit, & .detail__section-txt{color:#333;}
					& .color-contour6{color:#255ed0;}
				}
				&:before,&:after{ background:url('../images/contour/quotation_left2_m.png'); background-size:12px 11px;}
				&.type-quotation2{
					&:before, &:after{background:url('../images/contour/quotation_left3_m.png'); background-size:12px 11px;}
				}
			}
		}
		&.type-body{
			&:before, &:after{background:url('../images/body/quotation_left2.png');}
			&.type-quotation2{
				&:before, &:after{background:url('../images/body/quotation_left3.png');}
			}
			@media only screen and (max-width:$tablet-size){
			}
			@media only screen and (max-width:$mobile-size){
				&:before,&:after{ background:url('../images/body/quotation_left2_m.png'); background-size:12px 11px;}
				&.type-quotation2{
					&:before, &:after{background:url('../images/body/quotation_left3_m.png'); background-size:12px 11px;}
				}
			}
		}
		&.type-wrinkle{
			&:before, &:after{background:url('../images/wrinkle/quotation_left2.png');}
			&.type-quotation2{
				&:before, &:after{background:url('../images/wrinkle/quotation_left3.png');}
			}
			@media only screen and (max-width:$tablet-size){
			}
			@media only screen and (max-width:$mobile-size){
				&:before,&:after{ background:url('../images/wrinkle/quotation_left2_m.png'); background-size:12px 11px;}
				&.type-quotation2{
					&:before, &:after{background:url('../images/wrinkle/quotation_left3_m.png'); background-size:12px 11px;}
				}
			}
		}
		&.type-eye{
			&:before, &:after{background:url('../images/eye/quotation_left2.png');}
			&.type-quotation2{
				&:before, &:after{background:url('../images/eye/quotation_left3.png');}
			}
			@media only screen and (max-width:$tablet-size){
			}
			@media only screen and (max-width:$mobile-size){
				&:before,&:after{ background:url('../images/eye/quotation_left2_m.png'); background-size:12px 11px;}
				&.type-quotation2{
					&:before, &:after{background:url('../images/eye/quotation_left3_m.png'); background-size:12px 11px;}
				}
			}
		}
		&.type-nose{
			&:before, &:after{background:url('../images/nose/quotation_left2.png');}
			&.type-quotation2{
				&:before, &:after{background:url('../images/nose/quotation_left3.png');}
			}
			@media only screen and (max-width:$tablet-size){
			}
			@media only screen and (max-width:$mobile-size){
				&:before,&:after{ background:url('../images/nose/quotation_left2_m.png'); background-size:12px 11px;}
				&.type-quotation2{
					&:before, &:after{background:url('../images/nose/quotation_left3_m.png'); background-size:12px 11px;}
				}
			}
		}
		&.type-svf{
			&:before, &:after{background:url('../images/svf/quotation_left2.png');}
			&.type-quotation2{
				&:before, &:after{background:url('../images/svf/quotation_left3.png');}
			}
			@media only screen and (max-width:$tablet-size){
			}
			@media only screen and (max-width:$mobile-size){
				&:before,&:after{ background:url('../images/svf/quotation_left2_m.png'); background-size:12px 11px;}
				&.type-quotation2{
					&:before, &:after{background:url('../images/svf/quotation_left3_m.png'); background-size:12px 11px;}
				}
			}
		}
		&.type-special{
			&:before, &:after{background:url('../images/special/quotation_left2.png');}
			&.type-quotation2{
				&:before, &:after{background:url('../images/special/quotation_left3.png');}
			}
			@media only screen and (max-width:$tablet-size){
			}
			@media only screen and (max-width:$mobile-size){
				&:before,&:after{ background:url('../images/special/quotation_left2_m.png'); background-size:12px 11px;}
				&.type-quotation2{
					&:before, &:after{background:url('../images/special/quotation_left3_m.png'); background-size:12px 11px;}
				}
			}
		}
		&.type-reoperation{
			&:before, &:after{background:url('../images/reoperation/quotation_left2.png');}
			&.type-quotation2{
				&:before, &:after{background:url('../images/reoperation/quotation_left3.png');}
			}
			@media only screen and (max-width:$tablet-size){
			}
			@media only screen and (max-width:$mobile-size){
				&:before,&:after{ background:url('../images/reoperation/quotation_left2_m.png'); background-size:12px 11px;}
				&.type-quotation2{
					&:before, &:after{background:url('../images/reoperation/quotation_left3_m.png'); background-size:12px 11px;}
				}
			}
		}
		@media only screen and (max-width:$minpc-size3) and (orientation: landscape){
			&.type-down{bottom:0px;}
		}
		@media only screen and (max-width:$tablet-size){top:0px; left:-15px;
			&.type-right{left:0; right:-15px;}
			&.type-wide{width:270px;
				&.type-full{width:100%; left:0; right:0; margin-top:20px;
					& #{$this}__section-txt{margin-top:14px;}
				}
			}
			&.type-center{width:270px;}
			&:before{top:-50px;}
			&:after{bottom:-30px;}
			&.type-down{top:auto; bottom:-110px;
				&.type-another{bottom:auto;}
			}
		}
		@media only screen and (max-width:$mobile-size){top:auto; left:0;
			&.type-right{right:0;}
			&:before,&:after{width:12px; height:11px; background:url('../images/chest/quotation_left2_m.png'); background-size:12px 11px;}
			&:before{top:-26px;}
			&:after{bottom:-16px;}
			&.type-normal{width:164px;}
			&.type-wide{width:164px;}
			&.type-center{top:-150px; left:0; width:250px;}
			&.type-down{margin-top:0; bottom:auto;}
		}
	}
	&__section-tit{margin:0; font-size:50px;  font-weight:300; letter-spacing:-3px; line-height:1.24;
		& strong{font-weight:400;}
		@media only screen and (max-width:$tablet-size){font-size:42px;}
		@media only screen and (max-width:$minpc-size3) and (orientation: landscape){font-size:42px;}
		@media only screen and (max-width:$mobile-size){font-size:2.4rem; letter-spacing:-1px;}
		@media only screen and (max-width:$mobile-size){font-size:2.0rem}
	}
	&__section-bwrap{position:relative;}
	//타이틀 막대기
	&__section-bar{display:inline-block; position:absolute;  height:2px;  margin-left:10px; background-color:#fff; bottom:11px;
		&.type-chest1{width:45px;}
		&.type-chest2{width:30px;}
		&.type-chest3{width:75px;}
		&.type-chest4{width:75px;}
		&.type-contour1{width:45px;}
		&.type-contour2{width:24px;}
		&.type-contour3{width:40px;}
		&.type-wrinkle1{width:45px;}
		&.type-wrinkle2{width:124px; background-color:#333;}
		&.type-wrinkle3{width:130px;}
		&.type-wrinkle4{width:30px; background-color:#333;}
		&.type-eye1{width:40px;}
		&.type-eye2{width:40px;}
		&.type-eye3{width:130px;}
		&.type-eye4{width:30px;}
		&.type-nose1{width:36px; background-color:#333;}
		&.type-nose2{width:40px;}
		&.type-nose3{width:82px; background-color:#333;}
		&.type-nose4{width:30px;}
		&.type-svf1{width:36px;}
		&.type-svf2{width:40px;}
		&.type-svf3{width:130px; background-color:#333;}
		&.type-svf4{width:30px;}
		&.type-special1{width:36px;}
		&.type-special2{width:82px;}
		&.type-special3{width:30px;}
		&.type-reoperation1{width:36px; background-color:#333;}
		&.type-reoperation2{width:90px;}
		&.type-reoperation3{width:30px;}
		@media only screen and (max-width:$tablet-size){
			&.type-chest1{width:35px;}
			&.type-chest2{width:25px;}
			&.type-chest3{width:66px;}
			&.type-chest4{width:30px;}
			&.type-contour1{width:32px;}
			&.type-contour2{width:19px;}
			&.type-contour3{width:25px;}
			&.type-wrinkle1{width:45px;}
			&.type-wrinkle2{width:104px;}
			&.type-wrinkle3{width:110px;}
			&.type-eye1{width:34px;}
			&.type-eye2{width:34px;}
			&.type-eye4{width:30px;}
			&.type-nose1{width:34px;}
			&.type-nose2{width:36px;}
			&.type-nose3{width:70px;}
			&.type-nose4{width:26px;}
			&.type-svf1{width:36px;}
			&.type-svf2{width:35px;}
			&.type-svf3{width:108px;}
			&.type-svf4{width:25px;}
			&.type-special1{width:36px;}
			&.type-special2{width:65px;}
			&.type-special3{width:24px;}
			&.type-reoperation1{width:30px;}
			&.type-reoperation2{width:74px;}
			&.type-reoperation3{width:26px;}
		}
		@media only screen and (max-width:$mobile-size){height:1px; margin-left:5px; bottom:9px;
			&.type-chest1{width:15px;}
			&.type-chest2{width:11px;}
			&.type-chest3{width:30px;}
			&.type-contour1{width:16px;}
			&.type-contour2{width:10px; background-color:#333;}
			&.type-contour3{width:12px;}
			&.type-wrinkle3{width:56px;}
			&.type-eye2{width:17px;}
			&.type-eye4{width:14px;}
			&.type-nose2{width:17px;}
			&.type-nose4{width:12px;}
			&.type-svf1{width:16px;}
			&.type-svf2{width:17px;}
			&.type-svf3{width:54px;}
			&.type-svf4{width:12px;}
			&.type-special1{width:16px;}
			&.type-special2{width:32px;}
			&.type-special3{width:12px;}
			&.type-reoperation1{width:17px;}
		}
	}
	&__section-subtit{margin:15px 0 0 0; font-size:19px; color:#fff; font-weight:300; letter-spacing:-1px; line-height:1.5;
		@media only screen and (max-width:$tablet-size){font-size:16px; }
		@media only screen and (max-width:$minpc-size3) and (orientation: landscape){font-size:16px;}
		@media only screen and (max-width:$mobile-size){margin-top:7px; font-size:1.5rem; line-height:1.4; letter-spacing: 0;}
	}
	&__section-txt{margin:35px 0 0 0; font-size:14px; line-height:1.7;
		@media only screen and (max-width:$mobile-size){margin-top:15px; font-size:1.3rem; line-height:1.5;}
		@media only screen and (max-width:$iphone-size){font-size:1.2rem;}
	}
	&__section-wrap{float:right; display:inline-table; height:100%; width:50%; background-color:#6b1ac0; background-color:rgba(107,26,192,0.95); text-align:center; box-sizing:border-box;
		&.type-img{float:right; background-color:transparent; text-align:right;
			@media only screen and (max-width:$tablet-size){
				&.type-img{display:none;}
			}
		}
		&.type-contour{background-color:#2d6ebe;
			@media only screen and (max-width:$tablet-size){width:42%;}
			@media only screen and (max-width:$mobile-size){width:50%; background-color:transparent; padding:0 12px;}
		}
		&.type-wrinkle{background-color:#917a6b;
			@media only screen and (max-width:$tablet-size){width:58%;}
			@media only screen and (max-width:$mobile-size){width:100%; background-color:transparent; padding:0 10%;}
		}
		&.type-nose{background-color:rgba(255,82,143,0.9);
			@media only screen and (max-width:$tablet-size){width:58%;}
			@media only screen and (max-width:$mobile-size){float:none; width:49%; padding:0 7%;}
			&.type-another{float:left; background-color:#dc81af;
				@media only screen and (max-width:$tablet-size){width:74.73%;}
				@media only screen and (max-width:$mobile-size){width:100%; background-color:transparent; padding:0 10%;}
			}
		}
		&.type-svf{background-color:#333;
			@media only screen and (max-width:$mobile-size){width:58%; padding:0 10%;}
			&.type-another{float:left; background-color:#ffc332;
				@media only screen and (max-width:$mobile-size){width:70%; background-color:rgba(255,195,50,0.9); padding:0 10%;}
			}
			&.type-another2{float:left; background-color:#333333;
				@media only screen and (max-width:$mobile-size){width:50%; padding:0 5%;}
			}
		}
		&.type-special{background-color:#132c52;
			@media only screen and (max-width:$tablet-size){width:58%;}
			@media only screen and (max-width:$mobile-size){float:right; width:58%;  padding:0 6%;}
			&.type-another{float:left; background-color:#35588d;
				@media only screen and (max-width:$tablet-size){width:50%;}
				@media only screen and (max-width:$mobile-size){width:60%; float:right; padding:0 7%;}
				@media only screen and (max-width:$iphone-size){width:65%; float:right; padding:0 5%;}
			}
			&.type-another2{background-color:#0b182c;
				@media only screen and (max-width:$tablet-size){width:58%;}
				@media only screen and (max-width:$mobile-size){float:right; width:64%; padding:0 7%;}
			}
		}
		&.type-reoperation{float:none; background-color:#fa7777;
			@media only screen and (max-width:$tablet-size){width:67.4%;}
			@media only screen and (max-width:$mobile-size){width:100%; background-color:transparent; padding:0 10%;}
		}
		@media only screen and (max-width:$mobile-size){width:60%;}
	}
	&__section-bottom{position:absolute; bottom:30px; right:80px; font-size:16px; color:#fff; font-weight:400;
		@media only screen and (max-width:$tablet-size){right:35px;}
		@media only screen and (max-width:$mobile-size){right:12px; bottom:4%; font-size:1.2rem; ; text-align:right; vertical-align:middle;}
		&.type-contour, &.type-nose{
			@media only screen and (max-width:$mobile-size){color:#333333;}
		}
		&.type-svf{
			&.type-another2{color:#15161a;}
			@media only screen and (max-width:$tablet-size){
				&.type-another{color:#333;}
			}
			@media only screen and (max-width:$mobile-size){
				&.type-another{right:auto; left:50%; margin-left:-136px;}
			}
		}
		&.type-reoperation{
			@media only screen and (max-width:$mobile-size){color:#333;}
		}
	}
	&__section-bottomWrap{position:absolute; top:0; right:0; bottom:0; margin:auto 0;
		@media only screen and (max-width:$tablet-size){}
		@media only screen and (max-width:$mobile-size){height:24px;}
	}
	&__section-set{position:relative; padding-right:30px;
		@media only screen and (max-width:$mobile-size){padding-right:34px; line-height:1.2;}
		&.type-about{display:inline-block; margin-top:70px; font-size:16px; color:#fff;
			@media only screen and (max-width:$mobile-size){margin-top:50px; font-size:1.5rem;}
		}
	}
	&__dim{display:none; overflow:hidden; position:absolute; top:0; left:0; right:0; bottom:0; width:100%; height:100%; margin:auto; background:rgba(0,0,0,0.65); text-indent:-999px;content:'';}
	&__popup-btn{overflow:hidden; position:relative; top:-2px; display:inline-block; width:22px; height:22px; margin-left:6px; border:1px solid #fff; vertical-align:middle; text-indent: -999px;
		font-size:0;
		&:before{position:absolute; top:0; left:0; right:0; bottom:0; display:block; width:10px; height:0; margin:auto; border-bottom:2px solid #fff; content:''; transition: all 0.5s;}
		&:after{position:absolute; top:0; left:0; right:0; bottom:0; display:block; width:0; height:10px; margin:auto; border-left:2px solid #fff; content:''; transition: all 0.5s;}
		&:hover{background-color:#fff;
			&:before,&:after{border-color:#7b35d1;}
		}
		&.type-about{
			&:hover{
				&:before,&:after{border-color:#192029;}
			}
			&.is-active{
				&:before,&:after{border-color:#192029;}
			}
			@media only screen and (max-width:$tablet-size){background-color:#fff;
				&:before,&:after{border-color:#192029;}
			}
			@media only screen and (max-width:$mobile-size){background-color:#fff;
				&:before,&:after{border-color:#192029;}
			}
		}
		&.type-contour{
			&:hover{
				&:before,&:after{border-color:#2d6ebe;}
			}
			&.is-active{
				&:before,&:after{border-color:#2d6ebe;}
			}
			@media only screen and (max-width:$tablet-size){background-color:#fff;
				&:before,&:after{border-color:#2d6ebe;}
			}
			@media only screen and (max-width:$mobile-size){background-color:#333;
				&:before,&:after{border-color:#fff;}
			}
		}
		&.type-wrinkle{
			&:hover{
				&:before,&:after{border-color:#917a6b;}
			}
			&.is-active{
				&:before,&:after{border-color:#917a6b;}
			}
			@media only screen and (max-width:$tablet-size){background-color:#fff;
				&:before,&:after{border-color:#917a6b;}
			}
			@media only screen and (max-width:$mobile-size){background-color:#fff;
				&:before,&:after{border-color:#020001;}
			}
		}
		&.type-eye{
			&:hover{
				&:before,&:after{border-color:#599b85;}
			}
			&.is-active{
				&:before,&:after{border-color:#599b85;}
			}
			@media only screen and (max-width:$tablet-size){background-color:#fff;
				&:before,&:after{border-color:#599b85;}
			}
			@media only screen and (max-width:$mobile-size){background-color:#fff;
				&:before,&:after{border-color:#599b85;}
			}
		}
		&.type-nose{
			&:hover{
				&:before,&:after{border-color:#fd6198;}
			}
			&.is-active{
				&:before,&:after{border-color:#fd6198;}
			}
			@media only screen and (max-width:$tablet-size){background-color:#fff;
				&:before,&:after{border-color:#fd6198;}
			}
			@media only screen and (max-width:$mobile-size){background-color:#333; border-color:#333;
				&:before,&:after{border-color:#f1dcd5;}
			}
		}
		&.type-special{
			&:hover{
				&:before,&:after{border-color:#1f375b;}
			}
			&.is-active{
				&:before,&:after{border-color:#1f375b;}
			}
			@media only screen and (max-width:$tablet-size){
				&:before,&:after{border-color:#1f375b;}
			}
			@media only screen and (max-width:$mobile-size){
				&:before,&:after{border-color:#1f375b;}
			}
		}
		&.type-reoperation{
			&.is-active{background-color:#333; border-color:#333;
				&:before,&:after{border-color:#efcdbc;}
			}
			@media only screen and (max-width:$mobile-size){background-color:#333; border-color:#333;
				&:before,&:after{border-color:#efcdbc;}
			}
		}
		&.type-svf{
			&:hover{
				&:before,&:after{border-color:#333333;}
			}
			&.is-active{
				&:before,&:after{border-color:#333333;}
			}
			&.type-another{
				&:hover{background-color:#333; border-color:#333;
					&:before,&:after{border-color:#fff;}
				}
				&.is-active{background-color:#333; border-color:#333;
					&:before,&:after{border-color:#fff;}
				}
			}
			&.type-another2{border-color:#15161a;
				&:before,&:after{border-color:#15161a;}
				&:hover{background-color:#15161a; border-color:#15161a;
					&:before,&:after{border-color:#fff;}
				}
				&.is-active{background-color:#15161a; border-color:#15161a;
					&:before,&:after{border-color:#fff;}
				}
			}
			@media only screen and (max-width:$tablet-size){background-color:#fff;
				&:before,&:after{border-color:#333333;}
				&.type-another{background-color:#333; border-color:#333;
					&:before,&:after{border-color:#fff;}
					&:hover{background-color:#333; border-color:#333;
						&:before,&:after{border-color:#fff;}
					}
					&.is-active{background-color:#333; border-color:#333;
						&:before,&:after{border-color:#fff;}
					}
				}
				&.type-another2{background-color:#333; border-color:#333;
					&:before,&:after{border-color:#fff;}
					&:hover{background-color:#333; border-color:#333;
						&:before,&:after{border-color:#fff;}
					}
					&.is-active{background-color:#333; border-color:#333;
						&:before,&:after{border-color:#fff;}
					}
				}
			}
			@media only screen and (max-width:$mobile-size){background-color:#fff; border-color:#fff;
				&:before,&:after{border-color:#333;}
				&.type-another{background-color:#fff; border-color:#fff;
					&:before,&:after{border-color:#333;}
					&:hover{background-color:#fff; border-color:#fff;
						&:before,&:after{border-color:#333;}
					}
					&.is-active{background-color:#fff; border-color:#fff;
						&:before,&:after{border-color:#333;}
					}
				}
				&.type-another0{background-color:#fff; border-color:#fff;
					&:before,&:after{border-color:#ffc332;}
					&:hover{background-color:#fff; border-color:#fff;
						&:before,&:after{border-color:#ffc332;}
					}
					&.is-active{background-color:#fff; border-color:#fff;
						&:before,&:after{border-color:#ffc332;}
					}
				}
				&.type-another2{background-color:#fff; border-color:#fff;
					&:before,&:after{border-color:#333;}
					&:hover{background-color:#fff; border-color:#fff;
						&:before,&:after{border-color:#333;}
					}
					&.is-active{background-color:#fff; border-color:#fff;
						&:before,&:after{border-color:#333;}
					}
				}
			}
		}
		&.is-active{background-color:#fff;
			&:before,&:after{border-color:#7b35d1; transform: rotate(45deg);}
		}
		@media only screen and (max-width:$tablet-size){background-color:#fff;
			&:before,&:after{border-color:#7b35d1;}
		}
		@media only screen and (max-width:$mobile-size){top:auto; width:26px; height:26px; text-align:left;}
	}
	&__popup{display:none; position:absolute; right:0; height:100%; width:50%; background-color:#000; background-color:rgba(0,0,0,0.65); text-align:center; z-index:90; box-sizing:border-box;
		&:before{display:inline-block; height:100%; vertical-align:middle; content:'';}
		@media only screen and (max-width:$minpc-size3){width:100%;}
		@media only screen and (max-width:$tablet-size){
			&:after{position:absolute; display:block; top:-47px; right:0; height:47px;  width:100%; background-color:#000; background-color:rgba(0,0,0,0.65); z-index:105; content:'';}
		}
		@media only screen and (max-width:$mobile-size){position:fixed; top:0; bottom:0; margin:auto; padding:0 12px; z-index:115;
			&:after{display:none;}
			&:before{display:none;}
		}
		&.type-about{width:100%; background:none;
			& #{$this}__popup-wrap{width:458px;}
			& #{$this}__popup-subtit{line-height:1.5;
				& strong{font-weight:400; color:#333;}
			}
			&.type-another{
				& #{$this}__popup-wrap{width:auto; background:url('../images/about/about_popup-bg2.png') top center no-repeat #fff; border:6px solid #000;}
				& #{$this}__popup-tit{margin-top:50px; font-weight:500;}
			}
			&.type-another2{
				& #{$this}__popup-wrap{width:auto;}
				& #{$this}__popup-tit{font-weight:400;}
			}
			@media only screen and (max-width:$tablet-size){
				&.type-another{
					&:after{display:none;}
					& #{$this}__popup-wrap{width:640px;}
					& #{$this}__popup-tit{margin-top:28px; font-size:32px;}
				}
				&.type-another2{
					&:after{display:none;}
					& #{$this}__popup-wrap{width:640px;}
					& #{$this}__popup-tit{font-size:32px;}
				}
			}
			@media only screen and (max-width:$mobile-size){
				& #{$this}__popup-wrap{top:50%; width:100%;}
				& #{$this}__popup-subtit{margin-top:0px;}
				&.type-another{
					&:after{display:none;}
					& #{$this}__popup-wrap{width:100%; background-size:108px 43px; border-width:3px;}
					& #{$this}__popup-tit{margin-top:12px; font-size:2.2rem; line-height:1.26;}
					& #{$this}__popup-list{width:100%;}
				}
				&.type-another2{
					&:after{display:none;}
					& #{$this}__popup-wrap{width:100%;}
					& #{$this}__popup-tit{ font-size:2.2rem;}
				}
			}
		}
		&.type-contour{
			@media only screen and (max-width:$mobile-size){
				& #{$this}__popup-list{padding:0px 30px;}
				& #{$this}__popup-subtit{padding:0px 30px;}
			}
		}
		&.type-nose{
			#{$this}__popup-list{width:528px;}
			#{$this}__popup-subject{color:#ff3399; line-height:1.3;
				&:before{background:url('../images/nose/nose_popup1.png');}
			}
			#{$this}__popup-item{ vertical-align:top;
				&:nth-child(4n){margin-top:30px; margin-left:0;}
				&:nth-child(5){margin-top:30px;}
			}
			@media only screen and (max-width:$mobile-size){
				#{$this}__popup-list{width:auto; padding:0px 30px;}
				#{$this}__popup-subject{color:#ff3399;
					&:before{background:url('../images/nose/nose_popup1_m.png'); background-size:90px 450px;}
				}
			}
		}
		&.type-svf{
			& #{$this}__popup-box{display:table-cell; height:90px; padding-left:100px; vertical-align:middle;}
			& #{$this}__popup-list{width:450px; margin:30px auto 0;}
			& #{$this}__popup-subject{position:static; color:#333; font-size:19px;
				&:before{position:absolute; top:0; left:0; bottom:0; width:82px; height:82px; margin:auto 0; background:url('../images/svf/svf_detail_popup1.png') no-repeat; background-size:82px 328px;}
			}
			& #{$this}__popup-item{position:relative; width:100%; text-align: left;
				& + #{$this}__popup-item{margin-left:0; margin-top:30px;}
				&.nth-2{
					& #{$this}__popup-subject{
						&:before{background-position: 0px -82px;}
					}
				}
				&.nth-3{
					& #{$this}__popup-subject{
						&:before{background-position: 0px -164px;}
					}
				}
				&.nth-4{
					& #{$this}__popup-subject{
						&:before{background-position: 0px -246px;}
					}
				}
			}
			& #{$this}__popup-txt{margin-top:5px; font-size:15px;}
			@media only screen and (max-width:$mobile-size){
				& #{$this}__popup-box{height:60px; padding-left:68px;}
				& #{$this}__popup-list{width:auto; margin:20px auto 0; padding:0 15px;}
				& #{$this}__popup-subject{font-size:1.4rem;
					&:before{width:58px; height:58px; background:url('../images/svf/svf_detail_popup1.png') no-repeat; background-size:58px 232px;}
				}
				& #{$this}__popup-item{height:60px;
					& + #{$this}__popup-item{margin-left:0; margin-top:20px;}
					&.nth-2{
						& #{$this}__popup-subject{
							&:before{background-position: 0px -58px;}
						}
					}
					&.nth-3{
						& #{$this}__popup-subject{
							&:before{background-position: 0px -116px;}
						}
					}
					&.nth-4{
						& #{$this}__popup-subject{
							&:before{background-position: 0px -174px;}
						}
					}
				}
				& #{$this}__popup-txt{margin-top:3px; font-size:1.2rem;}
			}
		}
	}
	&__popup-wrap{position:relative; top:0px; display:inline-block; padding:60px 40px 70px; margin:auto; background-color:#fff; vertical-align:middle;
		@media only screen and (max-width:$mobile-size){top:50%; transform: translateY(-50%); width:100%; padding:30px 0 0}
	}
	&__popup-tit{margin:0; font-size:42px; font-weight:400;
		& .color-contour1{color:#255ed0 !important;}
		@media only screen and (max-width:$mobile-size){font-size:2.5rem;}
	}
	&__popup-subtit{margin:20px 0 0 0; font-size:14px; color:#666; font-weight:300; box-sizing:border-box;
		@media only screen and (max-width:$mobile-size){margin-top:10px; font-size:1.3rem; line-height:1.5;}
	}
	&__popup-list{margin:45px 0 0 0; padding:0; font-size:0; text-align:center; box-sizing:border-box;
		&:after{display:block; clear:both; content:'';}
		@media only screen and (max-width:$mobile-size){margin-top:18px;}
	}
	&__popup-item{display:inline-block; width:156px; list-style:none; vertical-align:top;
		& + &{margin-left:30px;}
		&.nth-2{
			& #{$this}__popup-subject{
				&:before{background-position:0px -150px;}
			}
		}
		&.nth-3{
			& #{$this}__popup-subject{
				&:before{background-position:0px -300px;}
			}
		}
		&.nth-4{
			& #{$this}__popup-subject{
				&:before{background-position:0px -450px;}
			}
		}
		&.nth-5{
			& #{$this}__popup-subject{
				&:before{background-position:0px -600px;}
			}
		}
		@media only screen and (max-width:$mobile-size){position:relative; float:none; width:100%; height:90px;  text-align: left;
			& + &{margin-left:0px; margin-top:7px;}
			&.nth-2{
				& #{$this}__popup-subject{
					&:before{background-position:0px -90px;}
				}
			}
			&.nth-3{
				& #{$this}__popup-subject{
					&:before{background-position:0px -180px;}
				}
			}
			&.nth-4{
				& #{$this}__popup-subject{
					&:before{background-position:0px -270px;}
				}
			}
			&.nth-5{
				& #{$this}__popup-subject{
					&:before{background-position:0px -360px;}
				}
			}
		}
	}
	&__popup-box{
		@media only screen and (max-width:$mobile-size){display:table-cell; padding-left:100px; height:90px; vertical-align:middle;}
	}
	&__popup-subject{position:relative; margin:0; font-size:16px; font-weight:500; color:#255ed0; line-height:1.5;
		&:before{display:block; width:150px; height:150px; margin:0px auto 10px; background:url('../images/contour/popup_icon1.png'); background-size:150px 450px; content:'';}
		@media only screen and (max-width:$mobile-size){position:static; font-size:1.4rem;
			&:before{position:absolute; left:0; top:0; bottom:0; width:90px; height:90px; margin:auto 0; background-size:90px 270px;}
		}
	}
	&__popup-txt{margin-top:10px; font-size:12px; color:#666666; line-height:1.5;
		@media only screen and (max-width:$mobile-size){font-size:1.0rem;}
	}
	&__logo-list{width:400px; margin:0; padding:0;
		&:after{display:block; clear:both; content:'';}
		@media only screen and (max-width:$mobile-size){width:auto; padding:0 25px;}
	}
	&__logo-item{position:relative; float:left; width:50%; margin-top:50px; padding-top:51px; list-style:none;
		@media only screen and (max-width:$mobile-size){margin-top:30px;}
	}
	&__logo-txt{font-family:$font-pt;
		&:before{position:absolute; top:0; left:0; right:0; display:inline-block; width:116px; height:51px; margin:0 auto; background:url('../images/chest/chest_logo.jpg'); content:''; background-size:116px 357px;}
		&.nth-2{
			&:before{background-position-y:-51px;}
		}
		&.nth-3{
			&:before{background-position-y:-102px;}
		}
		&.nth-4{
			&:before{background-position-y:-153px;}
		}
		&.nth-5{
			&:before{background-position-y:-204px;}
		}
		&.nth-6{
			&:before{background-position-y:-255px;}
		}
		&.nth-7{
			&:before{background-position-y:-306px;}
		}
		@media only screen and (max-width:$mobile-size){font-size:1.3rem;}
	}
	&__popup-close{position:absolute; top:25px; right:25px; overflow:hidden; display:block; width:25px; height:25px; background:url('../images/chest/popup_close.png'); text-indent:-999px; 		text-decoration:none;
		&:hover{color:#fff;}
		@media only screen and (max-width:$mobile-size){position:relative; top:0; right:0; width:100%; height:64px; margin-top:30px; line-height:64px; background:none; background-color:#333333; color:#fff;  text-indent: 0; font-size:1.5rem;
			&:before{position:absolute; top:0; left:0; right:0; bottom:0; width:154px; height:40px; margin:auto; border-radius:20px 20px 20px 20px; border:1px solid #fff; content:'';}
		}
	}
	&__popup-m{display:none; position:absolute; bottom:55px; right:12px; padding:25px; background-color:#fff; text-align:left;
		&__tit{margin:0; font-size:2.5rem; font-weight:500;}
		&__list{margin:20px 0 0 0; padding:0;}
		&__item{font-size:1.3rem; color:#666; list-style:none;
			& + &{margin-top:7px;}
		}
		&.type-another{bottom:66px; right:35px;
			@media only screen and (max-width:$tablet-size){padding:34px;}
			@media only screen and (max-width:$mobile-size){padding:25px; bottom:50px; right:12px;}
		}
	}
	&__popup-scroll{
		@media only screen and (max-width:$mobile-size){overflow:auto; margin-top:20px; max-height:290px; padding:0 15px; box-sizing:border-box;}
	}
	&__num{display:block; margin:8px 0;}
	&__popup2-list{width:412px; margin:30px 0 -30px 0; padding:0;
		&:after{display:block; clear:both; content:'';}
	}
	&__popup2-item{float:left; width:180px; text-align:center; list-style:none;
		& + &{margin-left:50px;}
		&:nth-child(3){margin-left:0;}
		&.nth-2{
			& #{$this}__popup2-img{background-position:0 -180px;}
		}
		&.nth-3{
			& #{$this}__popup2-img{background-position:0 -360px;}
		}
		&.nth-4{
			& #{$this}__popup2-img{background-position:0 -540px;}
		}
	}
	&__popup2-subject{position:relative; top:-30px; display:inline-block; font-size:16px; width:147px; height:32px; margin:0px auto; line-height:32px; background-color:#ffcb16; font-weight:400;}
	&__popup2-img{overflow:hidden; display:inline-block; width:180px; height:180px; background:url('../images/svf/svf_detail_popup3.png'); background-size:180px 720px; text-indent:-9999px;}
	&__popup2-subtit{margin-bottom:5px; font-size:19px; font-weight:400;}
	&__bottom-txt{position:absolute; bottom:30px; right:80px; margin:0; font-size:16px;
		& strong{font-weight:500;}
		@media only screen and (max-width:$tablet-size){color:#fff; right:35px;}
		@media only screen and (max-width:$mobile-size){color:#333; left:35px; bottom:15px; right:auto; text-align: right; font-size:1.1rem; font-weight:400;
			& strong{display:block; font-size:1.2rem; }
		}
	}
	@media only screen and (max-width:$mobile-size){
		&__popup2-list{width:auto; padding:0px 13%; margin-bottom:-15px;}
		&__popup2-item{width:107px;
			& + &{margin-left:0px;}
			& + & + &{margin-top:32px;}
			&:nth-child(3){margin-left:0;}
			&:nth-child(even){float:right;}
			&.nth-2{
				& #{$this}__popup2-img{background-position:0 -107px;}
			}
			&.nth-3{
				& #{$this}__popup2-img{background-position:0 -214px;}
			}
			&.nth-4{
				& #{$this}__popup2-img{background-position:0 -321px;}
			}
		}
		&__popup2-subject{position:relative; top:-15px; display:inline-block; font-size:1.3rem; width:94px; height:26px; line-height:26px; font-weight:400;}
		&__popup2-img{width:107px; height:107px; background:url('../images/svf/svf_detail_popup3.png'); background-size:107px 428px;}
		&__popup2-subtit{font-size:1.3rem;}
	}
}

.layer-doc{float:right; margin-top:9%; /*margin-right:10%;*/
	$this:&;
	&__tit{margin:0; color:#d2a8ff; font-size:18px; font-weight:400;}
	&__list{margin:10px 0 0 0; padding:0;}
	&__item{position:relative; padding-left:16px; color:#f2f2f2; font-size:15px; list-style:none;
		&:before{position:absolute; left:0; top:0; bottom:0; display:inline-block; width:6px; height:6px; border-radius:50%; margin:auto; background-color:#b876fe; content:''; z-index:10;}
		&:after{position:absolute; left:2px; top:-12px; display:block; height:24px; border-left:1px solid #b876fe; content:''; z-index:5;}
		&:first-child:after{display:none;}
		& + #{$this}__item{margin-top:5px;}
	}
	@media only screen and (max-width:$tablet-size){
		&.type-eye{margin:0;
			& #{$this}__list{margin-top:0;}
			& #{$this}__item{padding-left:23px; color:#333;
				&:before{width:9px; height:9px; background-color:#7abaa5; z-index:10; }
				&:after{left:4px; top:-16px; height:30px; border-left:1px solid #cce4dc; z-index:5;}
				& + #{$this}__item{margin-top:10px;}
			}
		}
	}
	@media only screen and (max-width:$mobile-size){float:none; margin-top:0; text-align: left;
		&__tit{display:none;}
		&__list{margin-top:0;}
		&__item{color:#333; font-size:1.3rem;}
		&.type-eye{
			& #{$this}__list{margin-top:0;}
			& #{$this}__item{padding-left:16px; font-size:1.3rem;
				&:before{width:6px; height:6px; background-color:#7abaa5; z-index:10; }
				&:after{left:2px; top:-12px; height:24px; border-left:1px solid #cce4dc; z-index:5;}
				& + #{$this}__item{margin-top:5px;}
			}
		}
		&.type-another{
			& #{$this}__item{padding-left:23px; color:#333;
				&:before{width:9px; height:9px; background-color:#0db57e; z-index:10; }
				&:after{display:none;}
			}
		}
	}
	&.type-reoperation{position:absolute; right:0; bottom:21%; float:none; margin:0;
		& #{$this}__tit{color:#ff6263; font-size:18px; font-weight:400;}
		& #{$this}__item{color:#333;
			&:before{background-color:#ff6263; content:'';}
			&:after{border-left:1px solid #ea8881; content:'';}
			&:first-child:after{display:none;}
			& + #{$this}__item{margin-top:5px;}
		}
		@media only screen and (max-width:$tablet-size){bottom:12%;}
		@media only screen and (max-width:$mobile-size){position:static;
			& #{$this}__tit{display:block; color:#333333;}
			& #{$this}__list{margin-top:16px;}
			& #{$this}__item{padding-left:0;
				&:before,&:after{display:none;}
			}
		}
	}
}



@media only screen and (max-width:$mobile-size){
	body.is-active{
	    position: fixed;
	    overflow: hidden;
	    width: 100%;
	    height: 100%
	}
	body.is-active .detail-common {
	    position: relative;
	    top: 0;
	}
	.footer.is-active{opacity:0;}
}


.layer-doc4{float:right;color:#fff;
	$this:&;
	&__tit{margin:0; font-size:24px; font-weight:400; line-height:1.4;}
	&__txt{margin:10px 0 0 0; font-size:15px; word-break: break-all;}
	&__list{position:relative; width:508px; height:510px; margin:0; padding:0;}
	&__item{position:absolute; width:248px; list-style:none;
		&.nth-1{left:0; right:0; top:0; margin:0 auto;}
		&.nth-2{left:0; bottom:0;}
		&.nth-3{right:0; bottom:0;}
	}
	&__wrap{display:table-cell; width:1%; height:286px; padding:0 40px; vertical-align:middle; background:url('../images/wrinkle/popup_bg.png'); text-align:center;}
	&.type-nose{position:relative; bottom:-100px; left:-100px; float:left;
		&  #{$this}__list{position:relative; width:480px; height:484px;}
		&  #{$this}__item{position:absolute; width:230px;
			&.nth-1{
				#{$this}__wrap{background:url('../images/nose/diagram1.png') center center; background-size:contain;}
			}
			&.nth-2{
				#{$this}__wrap{background:url('../images/nose/diagram2.png') center center; background-size:contain;}
			}
			&.nth-3{
				#{$this}__wrap{background:url('../images/nose/diagram3.png') center center; background-size:contain;}
			}
		}
		&  #{$this}__wrap{height:265px; }
	}
	&.type-cell-transplant{ float:none;
		&  #{$this}__list{position:relative; width:583px; height:583px; margin: 0 auto;}
		&  #{$this}__item{position:absolute; width:285px;
			&.nth-1{left:0; top:0; right:unset;}
			&.nth-2{right:0; top:0; left:unset;}
			&.nth-3{left:0; right:0; bottom:0; margin:0 auto;}
			&.nth-1{
				#{$this}__wrap{background:url('../images/svf/icon_polygon1.png') center center; background-size:contain; background-repeat:no-repeat; height: 326px;}
			}
			&.nth-2{
				#{$this}__wrap{background:url('../images/svf/icon_polygon2.png') center center; background-size:contain; background-repeat:no-repeat; height: 326px;}
			}
			&.nth-3{
				#{$this}__wrap{background:url('../images/svf/icon_polygon3.png') center center; background-size:contain; background-repeat:no-repeat; height: 326px;}
			}
		}
		&  #{$this}__wrap{height:330px; padding:0 25px }
		&  #{$this}__txt{ padding:0 26px }
	}
	@media only screen and (max-width:$minpc-size3){position:absolute; bottom:50%; right:-15px; margin-bottom:-282px;
		&__tit{font-size:20px;}
		&__txt{font-size:14px;}
		&__list{width:381px; height:389px;}
		&__item{width:187px;}
		&__wrap{height:215px; padding:0 12px;  background-size:187px 215px;}
		&.type-nose{position:absolute; float:none;  left:0; bottom:10%; right:0; margin:0px -30px;
			& #{$this}__list{width:420px; height:424px;}
			& #{$this}__item{width:200px;
				&.nth-1{
					#{$this}__wrap{background:url('../images/nose/diagram1_t.png') center center; background-size:contain;}
				}
				&.nth-2{
					#{$this}__wrap{background:url('../images/nose/diagram2_t.png') center center; background-size:contain;}
				}
				&.nth-3{
					#{$this}__wrap{background:url('../images/nose/diagram3_t.png') center center; background-size:contain;}
				}
			}
			& #{$this}__wrap{height:230px;}
		}
		&.type-cell-transplant{ left:0; bottom: 0; right: 0; top:0; margin:0 auto;
			#{$this}__item{
				&.nth-1{left:0; right:0; top:0; margin:0 auto;}
				&.nth-2{left:0; bottom:0; right:unset; top:unset;}
				&.nth-3{left:unset; right:0; bottom:0; top:unset;}
			}
		}
	}
	@media only screen and (max-width:$tablet-size)  and (orientation: portrait){
		&.type-nose{position:absolute; float:none;  left:0; bottom:10%; right:0; margin:0px -30px;
				& #{$this}__list{width:95%; height:230px;  margin:0px auto;}
				& #{$this}__item{
					&.nth-1{left:0; right:auto;}
					&.nth-2{left:0; right:0; bottom:auto; margin:0px auto;}
					&.nth-3{bottom:auto;}
				}
			}
	}
	@media only screen and (max-width:$tablet-size){

		&.type-cell-transplant{ position: static; left:0; top:0 ; right:0; margin:0px -30px;
			&  #{$this}__list{ margin: 0 auto 0;}
			&  #{$this}__item{
					&.nth-1{left:0; top:0; right:0;}
					&.nth-2{left:0; bottom:0; top:unset; right:unset;}
					&.nth-3{right:0; bottom:0; left:unset}
					&.nth-1{
						#{$this}__wrap{background:url('../images/svf/icon_polygon1.png') center center; background-size:contain; background-repeat:no-repeat; height: 326px;}
					}
					&.nth-2{
						#{$this}__wrap{background:url('../images/svf/icon_polygon2.png') center center; background-size:contain; background-repeat:no-repeat; height: 326px;}
					}
					&.nth-3{
						#{$this}__wrap{background:url('../images/svf/icon_polygon3.png') center center; background-size:contain; background-repeat:no-repeat; height: 326px;}
					}
				}
			}
		}
	@media only screen and (max-width:$mobile-size){position:static; bottom:auto; right:auto; float:none; margin-top:64px; margin-bottom:0;
		&__tit{font-size:1.6rem;}
		&__txt{margin-top:5px; font-size:1.1rem;}
		&__list{width:279px; height:282px;}
		&__item{width:136px;}
		&__wrap{height:157px; padding:0 9px; background:url('../images/wrinkle/popup_bg_m.png'); background-size:136px 157px;}
		&.type-nose{bottom:5%; margin:0;
			& #{$this}__list{width:210px; height:211px;}
			& #{$this}__item{width:100px;
				&.nth-1{right:0; top:0; margin:0px auto;}
				&.nth-2{left:0; bottom:0; right:auto;}
				&.nth-3{right:0; bottom:0;}
			}
			& #{$this}__wrap{height:115px;}
		}
		&.type-cell-transplant{
			margin: 0 -15px;
			&  #{$this}__item{

				&.nth-1{left:0; top:0; right:0;}
				&.nth-2{left:0; right:unset; bottom:0; top:unset;}
				&.nth-3{right:0; bottom:0; left:unset}
				&.nth-1{
					#{$this}__wrap{background:url('../images/svf/icon_polygon1_680.png') center center; background-size:contain; background-repeat:no-repeat; height: 190px;}
				}
				&.nth-2{
					#{$this}__wrap{background:url('../images/svf/icon_polygon2_680.png') center center; background-size:contain; background-repeat:no-repeat; height: 190px;}
				}
				&.nth-3{
					#{$this}__wrap{background:url('../images/svf/icon_polygon3_680.png') center center; background-size:contain; background-repeat:no-repeat; height: 190px;}
				}
			}
			& #{$this}__wrap{height: 163px; padding: 0 10px}
			& #{$this}__list{ height: 344px; width: 348px}
			& #{$this}__item{width:170px;}
			&  #{$this}__txt{ padding:0px 37px; margin-top:10px;}
			&  #{$this}__tit{ padding:0px 5px;}
		}
	}
}



 .scroll {
	@media only screen and (max-width:$mobile-size){display:none;}
	width: 50px;
	display: inline-block;
	position: absolute;
	bottom: 20px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 13px;
	font-family: 'Roboto', sans-serif;
	color: #e8e8e8
}

.scroll .inner i {
	display: block;
 width: 6px;
 height: 6px;
 background: #fff;
 border-radius: 50%;
	position: relative;
	margin-bottom: -7px;
	font-size: 13px;
 opacity: 0.5;
 top: 12px;
 left: 8px;
 z-index: 2;
 -webkit-animation-delay: 1.5s;
 -moz-animation-delay: 1.5s;
 animation-delay: 1.5s;
 -webkit-transition: all .5s ease;
 -moz-transition: all .5s ease;
 -ms-transition: all .5s ease;
 -o-transition: all .5s ease;
 transition: all .5s ease;
 -webkit-animation-duration: 1.5s;
 -moz-animation-duration: 1.5s;
 animation-duration: 1.5s;
 -webkit-animation-name: scroll_indicator;
 -moz-animation-name: scroll_indicator;
 animation-name: scroll_indicator;
 -webkit-animation-iteration-count: infinite;
 -moz-animation-iteration-count: infinite;
 animation-iteration-count: infinite;
 -webkit-animation-timing-function: linear;
 -moz-animation-timing-function: linear;
 animation-timing-function: linear;
 }

.scroll .inner {
	width: 20px;
	height: 34px;
	border: 2px solid #d7d7d7;
	border-radius: 30px;
	margin: 7px auto 0;
	padding-top: 3px;
}
.scroll em{display:inline-block; margin-top:5px;}

@media only screen and (max-width:$tablet-size){
   .scroll em{display:none;}
   .scroll .inner{border-width:1px; border-color:#fff;}
   .scroll .inner i{left:9px;}
}


@keyframes scroll_indicator {
  0%,
  10% {
	opacity: 0;
	-webkit-transform: translateX(-50%) translateY(-150%);
	-moz-transform: translateX(-50%) translateY(-150%);
	-ms-transform: translateX(-50%) translateY(-150%);
	-o-transform: translateX(-50%) translateY(-150%);
	transform: translateX(-50%) translateY(-150%);
  }
  50% {
	opacity: 1;
	-webkit-transform: translateX(-50%) translateY(-25%);
	-moz-transform: translateX(-50%) translateY(-25%);
	-ms-transform: translateX(-50%) translateY(-25%);
	-o-transform: translateX(-50%) translateY(-25%);
	transform: translateX(-50%) translateY(-25%)
  }
  100%,
  90% {
	opacity: 0;
	-webkit-transform: translateX(-50%) translateY(50%);
	-moz-transform: translateX(-50%) translateY(50%);
	-ms-transform: translateX(-50%) translateY(50%);
	-o-transform: translateX(-50%) translateY(50%);
	transform: translateX(-50%) translateY(50%);
  }
}
@-webkit-keyframes scroll_indicator {
  0%,
  10% {
	opacity: 0;
	-webkit-transform: translateX(-50%) translateY(-150%);
	-moz-transform: translateX(-50%) translateY(-150%);
	-ms-transform: translateX(-50%) translateY(-150%);
	-o-transform: translateX(-50%) translateY(-150%);
	transform: translateX(-50%) translateY(-150%);
  }
  50% {
	opacity: 1;
	-webkit-transform: translateX(-50%) translateY(-25%);
	-moz-transform: translateX(-50%) translateY(-25%);
	-ms-transform: translateX(-50%) translateY(-25%);
	-o-transform: translateX(-50%) translateY(-25%);
	transform: translateX(-50%) translateY(-25%)
  }
  100%,
  90% {
	opacity: 0;
	-webkit-transform: translateX(-50%) translateY(50%);
	-moz-transform: translateX(-50%) translateY(50%);
	-ms-transform: translateX(-50%) translateY(50%);
	-o-transform: translateX(-50%) translateY(50%);
	transform: translateX(-50%) translateY(50%);
  }
}
@-moz-keyframes scroll_indicator {
  0%,
  10% {
	opacity: 0;
	-webkit-transform: translateX(-50%) translateY(-150%);
	-moz-transform: translateX(-50%) translateY(-150%);
	-ms-transform: translateX(-50%) translateY(-150%);
	-o-transform: translateX(-50%) translateY(-150%);
	transform: translateX(-50%) translateY(-150%);
  }
  50% {
	opacity: 1;
	-webkit-transform: translateX(-50%) translateY(-25%);
	-moz-transform: translateX(-50%) translateY(-25%);
	-ms-transform: translateX(-50%) translateY(-25%);
	-o-transform: translateX(-50%) translateY(-25%);
	transform: translateX(-50%) translateY(-25%)
  }
  100%,
  90% {
	opacity: 0;
	-webkit-transform: translateX(-50%) translateY(50%);
	-moz-transform: translateX(-50%) translateY(50%);
	-ms-transform: translateX(-50%) translateY(50%);
	-o-transform: translateX(-50%) translateY(50%);
	transform: translateX(-50%) translateY(50%);
  }
}

.fs_nav {display: block; position:fixed; right:60px;top: 50%; margin:0; padding:0;
	-ms-transform: translateY(-50%); -webkit-transform: translateY(-50%); transform: translateY(-50%); font-size:1.4em; z-index: 10;
	li{list-style:none;}
	a {display:block; width:20px; height:20px; margin-bottom:13px; color:white; position:relative; padding:4px; -webkit-transition: all 0.5s ease; transition: all 0.5s ease; box-sizing:border-box;font-size: 0;
		&:after{-webkit-transition:box-shadow 0.5s ease; transition:box-shadow 0.5s ease; width: 16px; height: 3px; display: block; border: 0; border-radius: 0; background: #bcbcbc; content: '';
		position: absolute; margin: auto; top: 0; right: 4px; bottom: 0;}
		&.active:after {-webkit-transform: rotate(-50deg); -moz-transform: rotate(-50deg); -ms-transform: rotate(-50deg); -o-transform: rotate(-50deg); transform: rotate(-50deg);}
	}
	.hover-text{display:none;}
	@media only screen and (max-width:$tablet-size){right:20px;}
	@media only screen and (max-width:$mobile-size){display:none;}
}
