@import "mixins";
@import "vendor";


/* 상담팝업*/
.popup-c{display:none; position:fixed; top:0; left:0; right:0; bottom:0; z-index:120; text-align:center;
	$this:&;
	&.is-active{display:block;}
	&:before{position:absolute; z-index:-1; display:block; width:100%; height:100%; background-color:rgba(0,0,0,0.7); content:'';}
	&:after{display:inline-block; height:100%; vertical-align:middle; content:'';}
	&__wrap{position:relative; display:inline-block; width:490px; padding:70px 0px 50px; vertical-align:middle; background-color:#fff;}
	&__tit{margin:0; color:#333; font-size:32px; font-weight:400;}
	&__close{position:absolute; top:20px; right:20px; overflow:hidden; display:block; width:28px; height:28px; background:url('../images/common/popup/consultaion_close.png') no-repeat center center/contain; text-indent:-9999px;}
	&__list{display:inline-block; margin:25px 0 0 0; padding:0;
		-webkit-box-shadow: inset 0px 0px 0px 2px rgba(183,183,183,1); -moz-box-shadow: inset 0px 0px 0px 2px rgba(183,183,183,1); box-shadow: inset 0px 0px 0px 2px rgba(183,183,183,1); border-radius:20px; font-size:0;}
	&__list:after{display:block; clear:both; content:'';}
	&__item{display:inline-block; list-style:none;
		& + &{margin-left:-20px;}
		&.is-active{border-radius:20px;
			#{$this}__link{color:#fff;}
			#{$this}__icon{position:relative; padding-left:20px;}
			#{$this}__icon:before{position:absolute; left:0; top:0; bottom:0; display:block; width:16px; height:14px; margin:auto 0; content:'';}
		}
		&.nth-1.is-active{background-color:#69b85c;
			#{$this}__icon:before{background:url('../images/common/popup/popup_icon1.png') no-repeat center bottom / contain;}
		}
		&.nth-2.is-active{background-color:#00acd4;
			#{$this}__icon:before{background:url('../images/common/popup/popup_icon2.png') no-repeat center bottom / contain;}
		}
		&.nth-3.is-active{background-color:#7c529c;
			#{$this}__icon:before{background:url('../images/common/popup/popup_icon3.png') no-repeat center bottom / contain;}
		}
	}
	&__link{display:block; padding:11px 28px; font-size:14px; font-weight:400; color:#555; text-decoration:none; box-sizing:border-box;}
	&__content{display:none; margin-top:25px;
		&.is-active{display:block;}
		&.call{
			.consultation{padding:0;}
		}
	}
	@media only screen and (max-width:$mobile-size){
		&__wrap{width:90vw; padding:35px 0px 25px}
		&__box{padding:0 20px;}
		&__list{margin-top:12px;}
		&__tit{font-size:26px;}
		&__link{padding: 11px 20px; font-size:12px;}
		&__content{margin-top:12px;}
		&__item{
			& + &{margin-left:-12px;}
			&.is-active{
				 #{$this}__icon{position:relative; padding-left:20px;
					 &:before{width:12px; height:11px; }
				 }
			}
		}
		&__close{position:absolute; top:15px; right:15px; overflow:hidden; display:block; width:18px; height:18px;}
	}
}

.consultation{display:table-cell; width:1%; height:300px; padding:0 10%;  vertical-align:middle; background-color:#ebeaea; box-sizing:border-box; font-size:0;
	$this:&;
	&__tit{position:relative; margin:0; padding-top:108px; font-size:22px; color:#333; font-weight:700;}
	&__tit:before{position:absolute; top:0; left:0; right:0; margin:0 auto; width:88px; height:88px; content:'';}
	&__tit.nth-1:before{background:url('../images/common/popup/popup_icon1_big.jpg');}
	&__tit.nth-2:before{background:url('../images/common/popup/popup_icon2_big.jpg');}
	&__tit.nth-3:before{background:url('../images/common/popup/popup_icon5_big.jpg');}
	&__tit.nth-4:before{background:url('../images/common/popup/popup_icon4_big.jpg');}
	&__tit.nth-0{padding-top:0;}
	&__subtit{margin:0 0 30px; padding-bottom:26px; border-bottom:1px solid #bcbcbc; font-size:24px; font-weight:700; box-sizing:border-box;}
	&__txt{margin:10px 0 0 0; font-size:13px; color:#5c5b5b; line-height:1.1;}
	&__num{display:inline-block; margin:10px 0 0 0; padding:5px 20px 7px; font-size:16px; color:#fff; background-color:#333333; border-radius:20px; line-height:1.3; box-sizing:border-box;}
	&__num.nth-3{font-size:17px;}
	&__tel{color:inherit; text-decoration:none;}
	&__area{margin:0 -24px;}
	&__box{position:relative; display:inline-block; width:50%; padding:0 24px; vertical-align: top; box-sizing:border-box;
		&:first-child:before{position:absolute; top:-20px; right:0; bottom:-20px; display:block; height:calc(100% + 40px);  width:0; border-left:1px solid #a4a4a4; margin:auto 0 ; content:'';}
		#{$this}__num{width:100%;}
	}
	@media only screen and (max-width:$mobile-size){height:250px;
		&__subtit{margin-bottom:15px; padding-bottom:13px; font-size:18px;}
		&__tit{padding-top:76px; font-size:18px;}
		&__tit:before{width:66px; height:66px;}
		&__tit.nth-1:before{background:url('../images/common/popup/popup_icon1_big_m.jpg') no-repeat center center / contain;}
		&__tit.nth-2:before{background:url('../images/common/popup/popup_icon2_big_m.jpg') no-repeat center center / contain;}
		&__tit.nth-3:before{background:url('../images/common/popup/popup_icon5_big_m.jpg') no-repeat center center / contain;}
		&__tit.nth-4:before{background:url('../images/common/popup/popup_icon4_big_m.jpg') no-repeat center center / contain;}
		&__num{margin-top:5px; padding:5px 10px 7px; font-size:12px;}
		&__num.nth-3{font-size:14px;}
		&__txt{font-size:12px;}
		&__box{padding:0 12px;
			&:first-child:before{top:-10px; bottom:-10px; height:calc(100% + 20px);}
		}
	}
}

.consultation-info{margin-top:26px; padding:0 50px; box-sizing:border-box; text-align:left; letter-spacing: -1px;
    &__list{margin:0; padding:0;}
    &__item{position:relative; display:inline-block; padding-left:40px; list-style:none;  box-sizing:border-box;
        &:before{position:absolute; top:0; left:0; bottom:0; display:block; margin:auto 0; content:'';}
        &.type-time{
            &:before{width:30px; height:31px; background:url('../images/common/popup/popup_time.png') no-repeat center center / contain;}
        }
        &.type-location{
            &:before{width:30px; height:36px; background:url('../images/common/popup/popup_location.png') no-repeat center center / contain;}
        }
        & + &{margin-top:16px;}
    }
    &__date{margin:0; font-size:14px; color:#5c5b5b;
        & + &{margin-top:4px;}
    }
    &__time{margin:0; vertical-align:middle;}
    &__day{margin-right:10px; color:#333; vertical-align:middle;}
    &__night{display:inline-block; margin-left:4px; padding:3px 4px; font-size:10px; color:#ffa96a; border:1px solid #ffa96a; vertical-align:middle; box-sizing:border-box;}
    &__tit{margin:0; font-size:14px; color:#333; font-weight:500;}
    &__txt{margin:6px 0 0; font-size:12px; color:#5c5b5b;}
    @media only screen and (max-width: $mobile-size) {margin-top:14px; padding:0 25px;
        &__date{font-size:1.2rem;}
        &__tit{font-size:1.2rem;}
        &__txt{margin-top:3px; font-size:1.1rem;}
        &__day{margin-right:5px;}
        &__item{padding-left:36px;
            & + &{margin-top:8px;}
            &.type-time{
                &:before{width:25px; height:26px;}
            }
            &.type-location{
                &:before{width:25px; height:30px;}
            }
        }
        &__night{margin-left:3px; padding:1px 2px; font-size:1rem;}
    }
}


.popup-m{position:absolute; top:9.4%; left:150px; z-index:105; font-size:0; transition: all 0.5s; opacity:0; display:none;
	$this:&;
	&.type-second{left:700px;}
	&.type-third{top:calc(9.4% + 340px); left:700px;}
	&.is-active{display:block; opacity:1;
		#{$this}__img{max-width:600px;}
		#{$this}__bottom{max-width:600px;}
	}
	&__img{max-width:0; width:100%; transition: all 0.5s;}
	&__wrap{text-align:center;}
	&__close{position:relative; line-height:38px; font-size:12px; color:#fff; text-decoration:none;
		&.type-left{float:left;}
		&.type-right{float:right; padding-right:14px;
			&:before,&:after{display:block; position:absolute; top:0; right:0; bottom:0; margin:auto; transform: rotate(45deg);content:'';}
			&:before{right:5px; width:0;height:11px; border-left:1px solid #fff;}
			&:after{ width:11px; height:0; border-top:1px solid #fff;}
		}
	}
	&__bottom{overflow:hidden; display:block; max-width:0; height:38px; margin:0 auto; padding:0 20px; background:#000000;  text-align:center; box-sizing:border-box; transition:all 0.5s;}
	@media only screen and (max-width: $tablet-size) {top:0; left:0; width:100%; height:100%; z-index:110;
		&.type-second{left:0; z-index:120;}
		&.type-third{top:0; left:0; z-index:115;}
		&__wrap{position:absolute; top:50%; width:100%; transform: translateY(-50%);  padding:0 10.9%; box-sizing:border-box; }
	}
	@media only screen and (max-width: $mobile-size) {background-color:rgba(0,0,0,0.6);
		&__bottom{height:26px; padding:0 10px;}
		&__close{line-height:26px;  font-size:1.1rem;
			&.type-right{
				&:before{right:4px; height:9px;}
				&:after{ width:9px;}
			}
		}
	}
}
